backup-2Lbffzel83Zn1GoA.json
{"createdAt":"2025-06-10T11:23:40.957Z","updatedAt":"2025-06-10T12:42:10.557Z","id":"2Lbffzel83Zn1GoA","name":"Backup","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"48c75c65-0010-4ea4-95c1-47418cb9bfd6","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2100,280]},{"parameters":{"options":{}},"id":"36c9d377-315d-417a-b1f5-4da64f482b08","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1900,280]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"a2da7544-ff24-401a-aa24-a71ee5e4486c","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1700,280]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"e3eddec1-ece3-4d3f-8e1e-8a7a4c526482","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1500,280]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/vlad13371337/backup","mode":"url"},"repository":{"__rl":true,"value":"backup","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://github.com/vlad13371337/backup"},"filePath":"="},"id":"b1000e6d-4e8d-4fe8-8b81-7b54f70b8ef0","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1300,280],"alwaysOutputData":true,"webhookId":"ad9b8310-1eb4-449f-8fa6-ac63171f1489","credentials":{"githubOAuth2Api":{"id":"vwsLEXEdRLdsjKpV","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"342cefb4-4eda-4c11-a5f4-6fa0b29d441c","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1100,280]},{"parameters":{"filters":{},"requestOptions":{}},"id":"2210446d-0e94-4256-9184-161976aea1ba","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-900,280],"credentials":{"n8nApi":{"id":"5jxowdJ4QJtbYDKP","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"3cdc94f6-073c-4c39-8ca6-3514c86306e1","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-700,280]},{"parameters":{"batchSize":1,"options":{}},"id":"f0f32b12-7577-4cdb-84de-ce04f464ccb9","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-460,280]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"7d8dfc10-74b2-4427-90ec-5a04314a7a65","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-220,200]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/vlad13371337/backup","mode":"url"},"repository":{"__rl":true,"value":"backup","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://github.com/vlad13371337/backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"291774dd-af61-4a68-a8a9-3f331c22aa24","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"88fe9ff9-49dc-4043-93c2-1eac0cb4779f","credentials":{"githubOAuth2Api":{"id":"vwsLEXEdRLdsjKpV","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/vlad13371337/backup","mode":"url"},"repository":{"__rl":true,"value":"backup","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://github.com/vlad13371337/backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"4c1f449d-4ebd-4def-a200-6b62a9fdf939","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"58b5c7d7-a1e8-412c-b1bf-0fc92abd4528","credentials":{"githubOAuth2Api":{"id":"vwsLEXEdRLdsjKpV","name":"GitHub account"}}},{"parameters":{"content":"## @igorzuevich \n**Автор** на [YouTube](https://www.youtube.com/@igorzuevich)","height":240,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-7200,1560],"typeVersion":1,"id":"ccb750c4-fcc4-4984-a5e7-931c5e85aded","name":"Sticky Note2"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ed5a6bb0-9750-423e-9ab2-c26be6517497","triggerCount":0,"shared":[{"createdAt":"2025-06-10T11:23:40.957Z","updatedAt":"2025-06-10T11:23:40.957Z","role":"workflow:owner","workflowId":"2Lbffzel83Zn1GoA","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}