button-test-zfhzD2xbeWYxdyb9.json
{"createdAt":"2025-07-29T10:30:47.586Z","updatedAt":"2025-07-31T13:53:46.016Z","id":"zfhzD2xbeWYxdyb9","name":"Button test","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Пришли тему, о чём хочешь написать","replyMarkup":"replyKeyboardRemove","replyKeyboardRemove":{"remove_keyboard":true},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-720,720],"id":"390bbc13-cfd2-4bce-915f-284d92ad50d5","name":"Telegram5","webhookId":"8c1b0f89-add7-4053-af90-bc96bca31c71","credentials":{"telegramApi":{"id":"NSUAlTxZldHHBP12","name":"Buttontest"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Привет! Добро пожаловать в бота копирайтера! Вот что он умеет","replyMarkup":"replyKeyboard","replyKeyboard":{"rows":[{"row":{"buttons":[{"text":"Написать пост","additionalFields":{}}]}}]},"replyKeyboardOptions":{"resize_keyboard":true,"one_time_keyboard":true},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-720,544],"id":"d1ab2df1-156c-46b1-b1d2-2b9bdcd05fef","name":"Telegram4","webhookId":"8c1b0f89-add7-4053-af90-bc96bca31c71","credentials":{"telegramApi":{"id":"NSUAlTxZldHHBP12","name":"Buttontest"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"},"id":"2fb65382-477c-494a-895a-0f6c76d4362c"}],"combinator":"and"},"renameOutput":true,"outputKey":"/start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc96ce5a-9268-4d06-a8a5-175bdd194c52","leftValue":"={{ $json.message.text }}","rightValue":"Написать пост","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Написать пост"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1120,800],"id":"57a9ec1f-27a5-43d1-a505-91ac789c5294","name":"Switch1"},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.callback_query.message.chat.id }}","messageId":"={{ $json.callback_query.message.message_id }}","text":"Задачу понял! Делаю!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-784,144],"id":"3e8c9ff5-5507-4056-b483-169cf3490189","name":"Telegram3","webhookId":"2ac9a2f3-a729-44d4-8aab-1e2eaa9f56fd","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"p1dnnE2EY5U2FYP9","name":"User Search"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","messageId":"={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"={{ $json.output }}","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Короче","additionalFields":{"callback_data":"short"}},{"text":"Длиннее","additionalFields":{"callback_data":"long"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1456,160],"id":"5870c150-b356-471d-b435-20997f01f3b6","name":"Telegram2","webhookId":"711907d6-93b0-4cc4-a65d-b8a84e8815c0","credentials":{"telegramApi":{"id":"p1dnnE2EY5U2FYP9","name":"User Search"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1456,160],"id":"1f5eebbd-b4af-40db-a99c-c66b061f1a9f","name":"Telegram1","webhookId":"0577d7e4-8467-4618-af3b-6255f014bce6","credentials":{"telegramApi":{"id":"NSUAlTxZldHHBP12","name":"Buttontest"}}},{"parameters":{"assignments":{"assignments":[{"id":"dc8ffdf4-ff6e-49c9-ab0b-0c4062d5c13d","name":"message","value":"Сделай текст ниже короче","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,304],"id":"75848b2f-479b-4ea2-b110-6910a1696b38","name":"сделай короче"},{"parameters":{"assignments":{"assignments":[{"id":"dc8ffdf4-ff6e-49c9-ab0b-0c4062d5c13d","name":"message","value":"Сделай текст ниже длиннее","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"0b2883ee-4571-4920-85ab-08d5e31a563d","name":"сделай длиннее"},{"parameters":{"promptType":"define","text":"={{ $json.message }}\n\n{{ $('Telegram Trigger').item.json.callback_query.message.text }}","options":{"systemMessage":"Ты копирайтер в теме ИИ, пиши коротко и круто"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[704,160],"id":"d0edfe68-dd17-4d39-8c46-ad5ad5c102d5","name":"AI Agent1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.callback_query.data }}","rightValue":"long","operator":{"type":"string","operation":"equals"},"id":"ee385787-8af0-4fa4-a9f8-c99bdab5b9b9"}],"combinator":"and"},"renameOutput":true,"outputKey":"ДЛИННЕЕ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3bd5a027-1173-47ad-9873-fbba4b964877","leftValue":"={{ $json.callback_query.data }}","rightValue":"short","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"КОРОЧЕ"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-416,224],"id":"6203643d-0871-4780-885f-77c3f14397af","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fead13c2-66f0-476a-81c4-dd937404717f","leftValue":"={{ $json.callback_query }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,384],"id":"2361af9d-2412-4d2f-b968-2b88ffc27d05","name":"callback?"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Короче","additionalFields":{"callback_data":"short"}},{"text":"Длиннее","additionalFields":{"callback_data":"long"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1056,784],"id":"890118d9-7ab1-424c-9039-419fc658f85e","name":"Telegram","webhookId":"8c1b0f89-add7-4053-af90-bc96bca31c71","credentials":{"telegramApi":{"id":"NSUAlTxZldHHBP12","name":"Buttontest"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[32,1072],"id":"053ff449-b023-45d9-a0b0-6836cc7f622e","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"Ты копирайтер в теме ИИ, пиши коротко и круто"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-16,880],"id":"db7e1cb0-f2b2-46f0-b985-d2dd340ac7d0","name":"AI Agent"},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1616,384],"id":"6eebce6c-7c47-48d4-94d2-c4483399f81a","name":"Telegram Trigger","webhookId":"390dd6e8-5803-465b-8c7e-eb155368e1c1","credentials":{"telegramApi":{"id":"NSUAlTxZldHHBP12","name":"Buttontest"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,1088],"id":"fbb80fe5-5282-453c-9ea0-c2ed8be5e6fa","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[576,368],"id":"285915ad-ce1f-4d08-a9e9-868aed9fdee3","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1936,576],"id":"6b705d09-6dba-4078-ac9f-0f1f7a73408b","name":"Merge"}],"connections":{"Switch1":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"Telegram5","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"сделай короче":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"сделай длиннее":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"сделай длиннее","type":"main","index":0}],[{"node":"сделай короче","type":"main","index":0}]]},"callback?":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Telegram3","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"callback?","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"be87bf73-d114-4fd7-8c50-a266a1b273f4","triggerCount":0,"shared":[{"createdAt":"2025-07-29T10:30:47.586Z","updatedAt":"2025-07-29T10:30:47.586Z","role":"workflow:owner","workflowId":"zfhzD2xbeWYxdyb9","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-21T13:20:03.115Z","updatedAt":"2025-07-21T13:20:03.115Z","id":"9EtybKpLdsANP7Gn","name":"Detector"}]}