button-Kjjpwk106SvZBLys.json
{"createdAt":"2025-07-25T07:31:32.228Z","updatedAt":"2025-07-25T07:35:49.855Z","id":"Kjjpwk106SvZBLys","name":"Button","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-288,464],"id":"121f3dab-96e7-4bd2-b8c3-be25ce6e9552","name":"Telegram Trigger","webhookId":"390dd6e8-5803-465b-8c7e-eb155368e1c1"},{"parameters":{"content":"## Гайд по Telegram-кнопкам в n8n","height":80,"width":780,"color":7},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"360cc3aa-9e95-4e12-8172-8b330e2802b0","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"Ты копирайтер в теме ИИ, пиши коротко и круто"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1312,960],"id":"40c65cf0-31a6-4b6d-b40e-02b59620ad61","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1200,1200],"id":"fccb41a3-34b6-4ca2-8947-8efd3c5a4c6a","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1424,1200],"id":"ee97616c-c230-456b-a349-1c4340b3899e","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Короче","additionalFields":{"callback_data":"short"}},{"text":"Длиннее","additionalFields":{"callback_data":"long"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2384,864],"id":"5da48e73-e88d-4044-a277-ade4df4d3f05","name":"Telegram","webhookId":"8c1b0f89-add7-4053-af90-bc96bca31c71"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fead13c2-66f0-476a-81c4-dd937404717f","leftValue":"={{ $json.callback_query }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-16,464],"id":"c3dfb966-2a38-4cb3-a8f5-59219622bcfd","name":"callback?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.callback_query.data }}","rightValue":"long","operator":{"type":"string","operation":"equals"},"id":"ee385787-8af0-4fa4-a9f8-c99bdab5b9b9"}],"combinator":"and"},"renameOutput":true,"outputKey":"ДЛИННЕЕ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3bd5a027-1173-47ad-9873-fbba4b964877","leftValue":"={{ $json.callback_query.data }}","rightValue":"short","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"КОРОЧЕ"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[912,304],"id":"e0836578-5548-4c2b-9a6d-b7a92c0a9c8f","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $json.message }}\n\n{{ $('Telegram Trigger').item.json.callback_query.message.text }}","options":{"systemMessage":"Ты копирайтер в теме ИИ, пиши коротко и круто"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2032,240],"id":"8ac71df3-baf7-4ee8-bc9e-b4ec439b0905","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1952,544],"id":"7b5a154e-9990-42a5-a276-fe33a50afae6","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"dc8ffdf4-ff6e-49c9-ab0b-0c4062d5c13d","name":"message","value":"Сделай текст ниже длиннее","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,80],"id":"475f312d-a53e-4e54-aeb0-13c63800a9ad","name":"сделай длиннее"},{"parameters":{"assignments":{"assignments":[{"id":"dc8ffdf4-ff6e-49c9-ab0b-0c4062d5c13d","name":"message","value":"Сделай текст ниже короче","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,384],"id":"5aed1a03-e21c-45c7-878c-13b28bfbc62f","name":"сделай короче"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2784,240],"id":"95fcefb7-32fb-47b4-8af3-90077be00f21","name":"Telegram1","webhookId":"0577d7e4-8467-4618-af3b-6255f014bce6"},{"parameters":{"operation":"editMessageText","chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","messageId":"={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"={{ $json.output }}","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Короче","additionalFields":{"callback_data":"short"}},{"text":"Длиннее","additionalFields":{"callback_data":"long"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2784,240],"id":"c84b93ab-f0cf-4107-9e2f-cb7d19b49325","name":"Telegram2","webhookId":"711907d6-93b0-4cc4-a65d-b8a84e8815c0"},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.callback_query.message.chat.id }}","messageId":"={{ $json.callback_query.message.message_id }}","text":"Задачу понял! Делаю!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[544,224],"id":"b5a34ced-4694-4a13-b414-1e004dddccf4","name":"Telegram3","webhookId":"2ac9a2f3-a729-44d4-8aab-1e2eaa9f56fd","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"},"id":"2fb65382-477c-494a-895a-0f6c76d4362c"}],"combinator":"and"},"renameOutput":true,"outputKey":"/start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc96ce5a-9268-4d06-a8a5-175bdd194c52","leftValue":"={{ $json.message.text }}","rightValue":"Написать пост","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Написать пост"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[208,880],"id":"ad889b34-9848-4ad0-b829-b5835959bc8f","name":"Switch1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Привет! Добро пожаловать в бота копирайтера! Вот что он умеет","replyMarkup":"replyKeyboard","replyKeyboard":{"rows":[{"row":{"buttons":[{"text":"Написать пост","additionalFields":{}}]}}]},"replyKeyboardOptions":{"resize_keyboard":true,"one_time_keyboard":true},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[608,624],"id":"543ea14e-567f-45fc-b5a2-912934f31c85","name":"Telegram4","webhookId":"8c1b0f89-add7-4053-af90-bc96bca31c71"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Пришли тему, о чём хочешь написать","replyMarkup":"replyKeyboardRemove","replyKeyboardRemove":{"remove_keyboard":true},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[608,800],"id":"754f52c0-8ff9-42aa-a94f-5d3fb1e0d947","name":"Telegram5","webhookId":"8c1b0f89-add7-4053-af90-bc96bca31c71"}],"connections":{"Telegram Trigger":{"main":[[{"node":"callback?","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"callback?":{"main":[[{"node":"Telegram3","type":"main","index":0},{"node":"Switch","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"сделай длиннее","type":"main","index":0}],[{"node":"сделай короче","type":"main","index":0}]]},"сделай длиннее":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"сделай короче":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"Telegram5","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8adc1b81-e02f-4e48-b4c9-b559be6e1587","triggerCount":0,"shared":[{"createdAt":"2025-07-25T07:31:32.228Z","updatedAt":"2025-07-25T07:31:32.228Z","role":"workflow:owner","workflowId":"Kjjpwk106SvZBLys","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}