codex-vladiks-test-copy-fomenko-tYfj6Or1HSGVjHrB.json
{"createdAt":"2025-10-27T12:17:13.142Z","updatedAt":"2025-10-31T14:11:49.440Z","id":"tYfj6Or1HSGVjHrB","name":"Codex Vladiks test copy fomenko","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"sendDocument","chatId":"={{ $('Send a text message5').first().json.result.chat.id }}","binaryData":true,"additionalFields":{"caption":"=🎉 Ваш сайт готовий!\n\n✅ Усі сторінки згенеровано\n📦 Архів створено\n"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2000,32],"id":"980557b6-4a78-4697-bf51-48c49af99d65","name":"Send a document","webhookId":"eefc57e3-ffad-4ab5-ad64-0d1fe52076fd","notesInFlow":true,"credentials":{"telegramApi":{"id":"SFhDE1XfLMV21xak","name":"Codex Oyu"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-5-codex\",\n  \"text\": { \"format\": { \"type\": \"json_object\" } },\n  \"input\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": \"Request: {{ $json.prompt }}\\n\\nExtract company info & create site structure with COMPLETE global CSS. Return ONLY valid JSON:\\n{\\n  \\\"company\\\": {\\\"name\\\":\\\"\\\", \\\"business_type\\\":\\\"\\\", \\\"industry\\\":\\\"\\\", \\\"description\\\":\\\"<25w\\\"},\\n  \\\"css\\\": \\\"COMPLETE CSS theme including: colors, typography, spacing, components, responsive design. Use Tailwind CSS classes and custom styles.\\\",\\n  \\\"pages\\\": [{\\\"path\\\":\\\"\\\", \\\"title\\\":\\\"\\\", \\\"brief\\\":\\\"<25w\\\"}]\\n}\\n\\nRules:\\n- 5-6 pages (must: index.html, about.html, services.html, contact.html + 1-2 business-specific)\\n- CSS: Complete design system\\n- Brief: 2-3 sentences\\n- Professional design\"\n        }\n      ]\n    }\n  ],\n  \"max_output_tokens\": 25000\n}","options":{"timeout":3500000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,32],"id":"81f49f43-a67f-48f9-8ff2-82c4664371db","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"akk2Sns1ZGHCFsnS","name":"CODEX-ASS"}}},{"parameters":{"operation":"compress","binaryPropertyName":"={{ Object.keys($binary).join(',') }}","fileName":"website.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[1808,32],"id":"f10db3f4-8382-41a7-b769-dbff8131da46","name":"Compression1"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":" application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    \"model\": \"gpt-5-codex\",\n    \"input\": [\n      {\n        \"role\": \"system\",\n        \"content\": [\n          {\n            \"type\": \"input_text\",\n            \"text\": \"You are a professional website designer and content creator. IMPORTANT: If any information about the company is missing or incomplete, you MUST CREATE realistic and appropriate content yourself. Invent company details, services, testimonials, team members, and any other necessary information to create a complete, professional website. Be creative and make it look authentic for the given industry.\"\n          }\n        ]\n      },\n      {\n        \"role\": \"user\",\n        \"content\": [\n          {\n            \"type\": \"input_text\",\n            \"text\": $('1Code in JavaScript1').item.json.prompt_for_page\n          }\n        ]\n      }\n    ]\n  }\n}}","options":{"timeout":2500000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,32],"id":"3f06cf92-ac1a-4c26-8ba2-65db2b12dac7","name":"HTTP Request3","executeOnce":false,"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"akk2Sns1ZGHCFsnS","name":"CODEX-ASS"}}},{"parameters":{"jsCode":"// ============================================\n// 🔧 ОТРИМУЄМО ДАНІ З HTTP REQUEST\n// ============================================\n\nconst httpResponse = $('HTTP Request1').first().json;\n\nlet rawText = null;\n\nif (httpResponse.output && Array.isArray(httpResponse.output)) {\n  const messageItem = httpResponse.output.find(item => item.type === 'message');\n  \n  if (messageItem?.content && Array.isArray(messageItem.content)) {\n    const textItem = messageItem.content.find(item => item.type === 'output_text');\n    if (textItem?.text) {\n      rawText = textItem.text;\n    }\n  }\n}\n\nif (!rawText) {\n  throw new Error(`API incomplete response! Increase max_output_tokens to 5000!`);\n}\n\n// ============================================\n// 🔥 ФІКС: JSON може бути неповний + мати зайві символи\n// ============================================\n\nlet cleanText = rawText.trim();\n\n// Убираем markdown блоки\ncleanText = cleanText.replace(/```json\\s*/g, '').replace(/```\\s*/g, '');\n\n// Убираем escaped строку если JSON обернут в кавычки\nif (cleanText.startsWith('\"') && cleanText.endsWith('\"')) {\n  cleanText = cleanText.slice(1, -1)\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\r/g, '\\r')\n    .replace(/\\\\t/g, '\\t')\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\\\\\/g, '\\\\');\n}\n\n// 🔥 КРИТИЧНИЙ ФІКС: находим первую { и последнюю }\nconst firstBrace = cleanText.indexOf('{');\nconst lastBrace = cleanText.lastIndexOf('}');\n\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  cleanText = cleanText.substring(firstBrace, lastBrace + 1);\n  console.log(\"✅ Extracted clean JSON\");\n}\n\n// Дополнительная очистка: убираем всё после последней }\nconst extraTextAfter = cleanText.substring(lastBrace + 1).trim();\nif (extraTextAfter) {\n  console.log(\"⚠️ Text after JSON:\", extraTextAfter.substring(0, 50));\n  cleanText = cleanText.substring(0, lastBrace + 1);\n}\n\n// Если JSON всё ещё обрезан - закрываем его\nlet openBraces = (cleanText.match(/{/g) || []).length;\nlet closeBraces = (cleanText.match(/}/g) || []).length;\nlet openBrackets = (cleanText.match(/\\[/g) || []).length;\nlet closeBrackets = (cleanText.match(/\\]/g) || []).length;\n\nif (openBraces > closeBraces || openBrackets > closeBrackets) {\n  console.log(\"⚠️ JSON truncated, adding closing brackets...\");\n  \n  // Закрываем незакрытые строки\n  if (cleanText.match(/\"[^\"]*$/)) {\n    cleanText += '\"}';\n    closeBraces++;\n  }\n  \n  // Закрываем массивы\n  for (let i = 0; i < (openBrackets - closeBrackets); i++) {\n    cleanText += ']';\n  }\n  \n  // Закрываем объекты\n  for (let i = 0; i < (openBraces - closeBraces); i++) {\n    cleanText += '}';\n  }\n  \n  console.log(\"✅ JSON auto-closed\");\n}\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(cleanText);\n  console.log(\"✅ JSON parsed!\");\n} catch (e) {\n  console.error(\"❌ Parse error:\", e.message);\n  console.log(\"=== First 500 chars ===\" );\n  console.log(cleanText.substring(0, 500));\n  console.log(\"=== Last 500 chars ===\");\n  console.log(cleanText.substring(Math.max(0, cleanText.length - 500)));\n  \n  const errorMatch = e.message.match(/position (\\d+)/);\n  if (errorMatch) {\n    const pos = parseInt(errorMatch[1]);\n    console.log(`=== Chars around pos ${pos} ===`);\n    console.log(cleanText.substring(Math.max(0, pos - 100), Math.min(cleanText.length, pos + 100)));\n  }\n  \n  throw new Error(`JSON parse error: ${e.message}`);\n}\n\nconst company = parsed.company || {\n  name: \"Professional Company\",\n  business_type: \"Business Services\",\n  industry: \"General\",\n  description: \"Professional business services\"\n};\n\nlet cssCode = parsed.css || '';\n\nif (cssCode) {\n  cssCode = cssCode.replace(/\\n/g, ' ').replace(/\\r/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst pages = parsed.pages || [];\n\nif (pages.length === 0) throw new Error(\"Pages empty!\");\n\nconst MAX_PAGES = 7;\nconst MIN_PAGES = 5;\nconst limitedPages = pages.slice(0, Math.max(MIN_PAGES - 2, Math.min(pages.length, MAX_PAGES - 2)));\n\nconst mandatoryPages = [\n  { path: \"legal.html\", title: \"Legal\", brief: \"Legal information and privacy policy\" },\n  { path: \"faq.html\", title: \"FAQ\", brief: \"Frequently asked questions and answers\" }\n];\n\nconst allPages = [...limitedPages, ...mandatoryPages];\n\nconsole.log(`✅ ${company.name}: ${allPages.length} pages | CSS: ${cssCode.length} chars`);\n\nconst currentYear = new Date().getFullYear();\n\n// 🔥 ФІКС ГЕО: визначаємо країну та мову з назви компанії\nconst isCanadian = company.name.toLowerCase().includes('scènes nordiques') || \n                   company.name.toLowerCase().includes('canadian') ||\n                   company.business_type.toLowerCase().includes('canad');\n\nconst language = isCanadian ? 'fr' : 'uk'; // французька для канадських, українська для інших\nconst geoCountry = isCanadian ? 'Canada' : 'Ukraine';\nconst phoneFormat = isCanadian ? '+1 (514) 555-' : '+380 44 555-';\nconst phoneNumber = phoneFormat + String(Math.floor(1000 + Math.random() * 9000));\n\n// Дисклеймер мовою сайту\nconst disclaimer = language === 'fr' \n  ? \"Toutes les informations sont présentées à titre informatif uniquement.\"\n  : \"All information is provided for informational purposes only.\";\n\nconst output = allPages.map((page, index) => {\n  \n  const pagesList = allPages.map(p => p.path).join(',');\n  \nconst promptText = [\n      `Page ${index + 1}/${allPages.length}: ${page.path}`,\n      `Company: ${company.name} (${company.business_type})`,\n      `USE this EXACT CSS in <style> tags: ${cssCode}`,\n      `DESIGN SYSTEM: Tailwind CSS + FontAwesome + Merriweather font`,\n      ``,\n      `STRUCTURE:`,\n      `<!DOCTYPE html><html lang=\"${language}\"><head>`,\n      `<meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">`,\n      `<title>${page.title} - ${company.name}</title>`,\n      `<script src=\"https://cdn.tailwindcss.com\"></script>`,\n      `<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\">`,\n      `<link href=\"https://fonts.googleapis.com/css2?family=Merriweather:wght@400;600;700&display=swap\" rel=\"stylesheet\">`,\n      `<style>${cssCode} body{font-family:Merriweather,serif}</style>`,\n      `<meta name=\"description\" content=\"${page.brief}\">`,\n      `<script type=\"application/ld+json\">{\"@context\":\"https://schema.org\",\"@type\":\"Organization\",\"name\":\"${company.name}\",\"url\":\"https://domain.com\"}</script>`,\n      `</head><body>`,\n      ``,\n      `NAV: all pages links (${pagesList})`,\n      ``,\n      `MAIN: ${page.brief} - max 4 sections, FontAwesome icons, Pexels images only`,\n      ``,\n      `FOOTER MANDATORY:`,\n      `- Contact: ${phoneNumber}`,\n      `- Social: https://instagram.com, https://facebook.com, https://twitter.com`,\n      `- Links: policy.html, terms.html`,\n      `- Disclaimer: \"${disclaimer} © ${currentYear} ${company.name}\"`,\n      ``,\n      `COOKIE: slide-up banner, localStorage, z-index:100`,\n      ``,\n      `</body></html>`,\n      ``,\n      `Return: {\"path\":\"${page.path}\",\"content\":\"<!DOCTYPE html>...full code...</html>\"}`\n    ].join('\\n');\n  \n  return {\n    json: {\n      path: page.path,\n      title: page.title,\n      css: cssCode,\n      prompt_for_page: promptText\n    }\n  };\n});\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,32],"id":"dc339364-4111-4900-ae00-788b35a72df8","name":"1Code in JavaScript1"},{"parameters":{"jsCode":"// Витягування HTML з Codex API response\nconst items = [];\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const response = $input.all()[i].json;\n  \n  console.log(`\\n=== Processing item ${i} ===`);\n  \n  let htmlData = null;\n  \n  // Шукаємо в output[] елемент з type === \"message\"\n  if (response.output && Array.isArray(response.output)) {\n    for (const outputItem of response.output) {\n      // Шукаємо message type\n      if (outputItem.type === 'message' && outputItem.content && Array.isArray(outputItem.content)) {\n        for (const contentItem of outputItem.content) {\n          // Перевіряємо ОБА варіанти: text і output_text\n          const rawText = contentItem.text || contentItem.output_text;\n          \n          if (rawText) {\n            console.log('✅ Знайдено text/output_text!');\n            \n            let cleanText = rawText.trim();\n            \n            // Видаляємо markdown блоки якщо є\n            if (cleanText.includes('```json')) {\n              cleanText = cleanText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n            }\n            if (cleanText.includes('```')) {\n              cleanText = cleanText.replace(/```\\n?/g, '').trim();\n            }\n            \n            try {\n              // Парсимо JSON\n              const parsed = JSON.parse(cleanText);\n              \n              if (parsed.path && parsed.content) {\n                htmlData = {\n                  path: parsed.path,\n                  content: parsed.content\n                };\n                console.log(`✅ Extracted: ${parsed.path} (${parsed.content.length} chars)`);\n                break;\n              } else {\n                console.log('⚠️ JSON не містить path/content');\n              }\n            } catch (e) {\n              console.log('❌ JSON.parse error:', e.message);\n              console.log('Text preview:', cleanText.substring(0, 200));\n            }\n          }\n        }\n        if (htmlData) break;\n      }\n    }\n  }\n  \n  // Додаємо результат\n  if (htmlData) {\n    items.push({\n      json: htmlData\n    });\n  } else {\n    console.log('❌ HTML не знайдено для item', i);\n  }\n}\n\nconsole.log(`\\n📊 Extracted: ${items.length}/${$input.all().length} items`);\n\nif (items.length === 0) {\n  throw new Error('❌ Не витягнуто жодного HTML!');\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,32],"id":"faffa2a5-b3ea-4fe7-9ca2-7760435cbfc8","name":"Extract HTML1"},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn [{\n\n  json: {\n\n    files: items.map(item => ({\n\n      path: item.json.path,\n\n      content: item.json.content\n\n    })),\n\n    timestamp: Date.now()\n\n  }\n\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,32],"id":"f3d9f232-a40f-42ad-885e-6449b4051a6c","name":"Aggregate Files1"},{"parameters":{"jsCode":"const aggregatedData = $input.first().json;\n\nconsole.log(`📤 Preparing ${aggregatedData.files.length} files in ONE item`);\n\nconst binaryData = {};\nconst binaryFieldNames = [];\n\nfor (let i = 0; i < aggregatedData.files.length; i++) {\n  const file = aggregatedData.files[i];\n  const contentBuffer = Buffer.from(file.content, 'utf-8');\n  const fieldName = `file${i}`;\n  \n  binaryData[fieldName] = {\n    data: contentBuffer.toString('base64'),\n    mimeType: 'text/html',\n    fileName: file.path\n  };\n  \n  binaryFieldNames.push(fieldName);\n}\n\nconsole.log(`✅ Binary fields: ${binaryFieldNames.join(', ')}`);\n\nreturn [{\n  json: {\n    totalFiles: aggregatedData.files.length,\n    binaryFields: binaryFieldNames.join(',')  // ← для копіювання\n  },\n  binary: binaryData\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,32],"id":"e7c8906a-aaec-4b48-81e7-d07b50291ab5","name":"Code in JavaScript2"},{"parameters":{"jsCode":"// Отримуємо текст з ПЕРШОЇ ноди Telegram (яка отримує повідомлення)\nconst telegramText = $('Telegram Trigger').item.json.message.text;\n\n// Отримуємо вхідні дані\nconst inputData = $input.all();\n\n// Обробляємо кожен елемент\nconst output = inputData.map(item => {\n  // Витягуємо текст з різних можливих джерел\n  // ПРІОРИТЕТ: спочатку Telegram Trigger (перша нода), потім з поточного item\n  let text = telegramText || \n             item.json.message?.text || \n             item.json.text || \n             item.json.query || \n             item.json.prompt || \n             '';\n  \n  // Нормалізуємо текст:\n  // 1. Видаляємо зайві пробіли та табуляції\n  // 2. Замінюємо переноси рядків на пробіли\n  // 3. Прибираємо множинні пробіли\n  const normalizedText = text\n    .replace(/\\r\\n/g, ' ')     // Windows переноси → пробіл\n    .replace(/\\n/g, ' ')       // Unix переноси → пробіл\n    .replace(/\\r/g, ' ')       // Mac переноси → пробіл\n    .replace(/\\t/g, ' ')       // Табуляції → пробіл\n    .replace(/\\s+/g, ' ')      // Множинні пробіли → один пробіл\n    .trim();                    // Видаляємо пробіли на початку/кінці\n  \n  console.log(\"=== TEXT NORMALIZER ===\");\n  console.log(\"Telegram Text (1st node):\", telegramText);\n  console.log(\"Original:\", text);\n  console.log(\"Normalized:\", normalizedText);\n  \n  // Повертаємо оброблені дані\n  return {\n    json: {\n      ...item.json,\n      message: {\n        ...item.json.message,\n        text: normalizedText\n      },\n      text: normalizedText,\n      query: normalizedText,\n      prompt: normalizedText,\n      normalized_text: normalizedText, // додаткове поле\n      telegram_source: telegramText    // зберігаємо оригінал з Telegram\n    }\n  };\n});\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,32],"id":"2b26c12d-9adc-4cfd-82cf-27d61e5cab9e","name":"Code in JavaScript3"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"✅ <b>Етап 1/3 завершено</b> 📝 <b>Створив промпт для сайту</b>   ⏳ <b>Починаю генерацію...</b>","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,32],"id":"591dde74-79da-4721-827b-19122b6c8f00","name":"Send a text message4","webhookId":"bded5756-6d44-47a9-90ad-ccbef3c39226","notesInFlow":true,"credentials":{"telegramApi":{"id":"SFhDE1XfLMV21xak","name":"Codex Oyu"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"✅ <b>Етап 2/3</b> 🎨 <b>Генерую HTML сторінки...</b> 💻 <b>Це займе 10-15 хвилин</b>","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[592,32],"id":"90f2e3f0-2a50-4554-a44c-529133170503","name":"Send a text message5","webhookId":"bded5756-6d44-47a9-90ad-ccbef3c39226","retryOnFail":false,"executeOnce":false,"notesInFlow":true,"credentials":{"telegramApi":{"id":"SFhDE1XfLMV21xak","name":"Codex Oyu"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-128,32],"id":"0f428906-8d8a-404a-b36b-e4a4740e6d56","name":"Telegram Trigger","webhookId":"9e206088-2204-435a-a24a-ee11652aeb1f","credentials":{"telegramApi":{"id":"SFhDE1XfLMV21xak","name":"Codex Oyu"}}},{"parameters":{"jsCode":"const aggregatedData = $input.first().json;\n\n// Получаем CSS из первой ноды (где парсили структуру)\nconst structureResponse = $('HTTP Request1').first().json;\nlet cssContent = '';\n\n// Извлекаем CSS из первоначального ответа\nif (structureResponse.output && Array.isArray(structureResponse.output)) {\n    for (const item of structureResponse.output) {\n        if (item.type === 'message' && item.content) {\n            for (const content of item.content) {\n                if (content.type === 'output_text' && content.text) {\n                    const text = content.text;\n                    try {\n                        const cleanText = text.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n                        const parsed = JSON.parse(cleanText);\n                        if (parsed.css) {\n                            cssContent = parsed.css;\n                            break;\n                        }\n                    } catch (e) {\n                        // Если не парсится, ищем CSS в тексте\n                        const cssMatch = text.match(/\\\"css\\\":\\\"([^\\\"]+)\\\"/);\n                        if (cssMatch) {\n                            cssContent = cssMatch[1];\n                        }\n                    }\n                }\n            }\n        }\n        if (cssContent) break;\n    }\n}\n\n// Fallback CSS если не нашли\nif (!cssContent) {\n    cssContent = `/* Professional Business CSS */\\nbody { font-family: 'Merriweather', serif; }\\n.container { max-width: 1200px; margin: 0 auto; }\\n.btn-primary { background: #1F4B99; color: white; padding: 12px 24px; border-radius: 6px; }`;\n}\n\n// Добавляем CSS файл к существующим файлам\nconst files = [\n    ...aggregatedData.files,\n    {\n        path: \"styles.css\",\n        content: cssContent\n    }\n];\n\nreturn [{\n    json: {\n        files: files,\n        timestamp: Date.now(),\n        cssAdded: true\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,32],"id":"a706501d-7867-40b0-bcf4-ad788fd4120b","name":"Create CSS File"}],"connections":{"HTTP Request1":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Compression1":{"main":[[{"node":"Send a document","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Extract HTML1","type":"main","index":0}]]},"1Code in JavaScript1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Extract HTML1":{"main":[[{"node":"Aggregate Files1","type":"main","index":0}]]},"Aggregate Files1":{"main":[[{"node":"Create CSS File","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Compression1","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Send a text message4":{"main":[[{"node":"Send a text message5","type":"main","index":0}]]},"Send a text message5":{"main":[[{"node":"1Code in JavaScript1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Create CSS File":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"64af142f-f395-4a65-aedc-95166bbdf3ce","triggerCount":0,"shared":[{"createdAt":"2025-10-27T12:17:13.142Z","updatedAt":"2025-10-27T12:17:13.142Z","role":"workflow:owner","workflowId":"tYfj6Or1HSGVjHrB","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}