contet-4Y0IOkgV3Rvx525Y.json
{"createdAt":"2025-07-07T10:02:59.669Z","updatedAt":"2025-07-08T11:29:52.492Z","id":"4Y0IOkgV3Rvx525Y","name":"contet","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"id":"5b957d9e-722d-4ed9-a570-4dbaa052dc13","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1000,60],"webhookId":"bf242a0e-eba4-43ea-9dc4-b8605e20e5ab","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-280,-100],"id":"0b66e0a0-f50f-4fa4-94b4-fdb4f61bc8ef","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-540,60],"id":"5a4961bb-4e53-4d31-88e2-b24bf4dea881","name":"Telegram","webhookId":"c65d95e9-4313-4f4e-ac6b-08313836596c","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-320,60],"id":"27455346-c171-4f16-8212-99918048bf6c","name":"OpenAI","credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"8d96068a-5149-4713-8a2e-1926c2169335"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b4686c7-082d-4390-b489-46205280b5ab","leftValue":"={{ $json.message.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a0163ae-7c0d-4257-8805-9b7a95f5ce8b","leftValue":"={{ $json.message.document.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-840,40],"id":"3f321bf5-157b-49fd-b12f-4929ca6a3dc8","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"={Role Model: AI Legal Support Assistant}\n\n{Your Task:}\nYou are a smart AI assistant whose primary responsibility is to help users resolve their problems and find solutions based on the law. Your job is to provide practical, understandable, and realistic recommendations using current legal standards, official sources, and best practices from legal professionals.\n\n{User and Context Information:}\nYou serve users who are dealing with personal, business, or administrative challenges and need legal guidance. You must identify the legal area relevant to the issue (e.g., labor law, civil law, business law, etc.) and provide accurate insights or suggest clear next steps.\n\n{Key Objectives:}\n\nIdentify the legal nature of the user’s issue.\n\nAsk clarifying questions if necessary (e.g., dates, contracts, parties involved, location).\n\nProvide a legally grounded explanation or way forward, referencing general principles of Ukrainian law.\n\nOffer alternatives or actions that are compliant with the law.\n\nIf legal action is required (e.g., writing a statement, filing a complaint), describe the steps and documents needed.\n\nBe honest if a lawyer’s help is necessary, and recommend when legal consultation is unavoidable.\n\n{Interaction Rules:}\n\nAlways describe your role at the beginning: that you're a legal AI assistant providing non-binding legal guidance based on Ukrainian law.\n\nIf the user provides unclear input, ask smart clarifying questions.\n\nIf everything is clear, proceed with your advice.\n\nKeep the tone professional, supportive, and neutral.\n\nNote that all responses are for informational purposes only and are not official legal advice.\n\n{Expected Results:}\n\nHelp the user understand their situation better and offer legally safe options.\n\nReduce their stress by showing clear paths forward.\n\nEmpower the user to make informed decisions or prepare for consultation with a human lawyer.\n\nAlways mention that legal outcomes may vary and that your assistance does not replace professional legal services.\n\nIf the user is interested in laws, contact the database for the necessary information, you have access to all the necessary laws in the form of documents.\n\n<Provide the response in: user language>"}},"id":"e6184fe1-d007-4419-ae4e-18f190402cb6","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[420,0],"retryOnFail":false},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[0].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-540,240],"id":"119b96b4-4f66-49a7-af87-a0470a56f4ba","name":"Telegram1","webhookId":"15582a13-84dc-4299-b3c3-2bf9d5085bdf","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-560,500],"id":"9ca157c4-885a-4ffc-9ba5-25ac82f10d97","name":"Telegram2","webhookId":"486bbb4f-5c30-401e-b205-1909809d4a67","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"afce2ea0-fda5-4851-be44-c9be2a382fa5","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[420,160],"credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      mime_type: (() => {\n        const path = $json.file_path || '';\n        if (path.endsWith('.png')) return 'image/png';\n        if (path.endsWith('.webp')) return 'image/webp';\n        return 'image/jpeg';\n      })()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-140,240],"id":"5848edf4-982d-421d-bb1c-ba0e9736619c","name":"Correct Mime Type"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Опиши, что изображено на изображении. Укажи объекты и действия.\n","imageUrls":"={{ $('Edit Fields2').item.json.file_url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[20,240],"id":"e4c9bef7-99ad-4fd2-ab67-bb957dda7bae","name":"OpenAI1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"text\": \"{{$json.choices[0].message.content}}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,240],"id":"8c6e98a9-2958-4386-8c5f-3278922c13c0","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"84e4f59b-ac26-49b7-9103-ab57a9699266","name":"file_url","value":"={{ `https://api.telegram.org/file/bot7861729034:AAHNOyuOjOai508YgYVV8WRQ5IJ6K07dkUs/${$('Telegram1').item.json.result.file_path}` }}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,240],"id":"85964f39-1da3-4e3f-bd5d-b0152ff46bf3","name":"Edit Fields2"},{"parameters":{"resource":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-380,500],"id":"198de4ef-933d-41d0-9813-1c0630cd783a","name":"OpenAI2","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"name":"File Analyzer Assistant","description":"Ассистент для анализа и ответа на вопросы по файлам (PDF, DOCX, TXT и т.д.)","instructions":"Ты — ассистент, который отвечает на вопросы, связанные только с содержанием переданных пользователем файлов. Игнорируй другие типы сообщений. Используй загруженный файл для анализа и дай точный, лаконичный ответ.\n","codeInterpreter":true,"knowledgeRetrieval":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-220,500],"id":"9b016af9-7c1f-4563-88b8-d84be013da2e","name":"OpenAI3","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"={{ $('OpenAI3').item.json.id }}\n","mode":"id"},"prompt":"define","text":"Проанализируй прикреплённый файл и сделай вывод.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-80,500],"id":"82805fef-f68c-491d-9019-d1b480f0d1c4","name":"OpenAI4","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"f239466c-4704-4633-ba48-a7d1c100e42a","name":"chatInput","value":"={{(() => {\n  const caption = $json.message?.caption;\n  return caption ?? \"Файл загружен. Вопрос в подписи отсутствует.\";\n})()}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,500],"id":"24b5f8be-bead-491f-97a6-4450b1e24632","name":"Edit Fields3"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"Telegram1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Correct Mime Type":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Correct Mime Type","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"OpenAI3","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"OpenAI4","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e3d237ba-27ac-4555-a10e-7e1247423064","triggerCount":0,"tags":[]}