depseek-22.10-0NZq6toITVsIi0NJ.json
{"createdAt":"2025-10-21T20:41:34.576Z","updatedAt":"2025-10-31T14:12:47.890Z","id":"0NZq6toITVsIi0NJ","name":"DEPSEEK 22.10","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-784,384],"id":"b38fd168-ca50-4168-b8ca-33927b443e69","name":"Telegram Trigger","webhookId":"7f69fb95-d4a3-4e62-a0cd-5fb471d25776","notesInFlow":true,"credentials":{"telegramApi":{"id":"3Y0EmfIA5QQHKmrZ","name":"gpt4autogenerate"}}},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"name":"Codex","description":"=Створюєш сайт за ТЗ {{ $json.message.text }}\n","instructions":"=You are Codex, an AI coding assistant.\nRespond only with clean, concise code unless the user asks for explanation.\nTask: {{ $json.message.text }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[928,-128],"id":"242b35c8-f4e0-41c7-af5f-a255252b8d28","name":"Create an assistant","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"caption":"=🎉 Ваш сайт готовий!\n\n✅ Усі сторінки згенеровано\n📦 Архів створено\n\n{{ $json.totalFiles }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1520,384],"id":"f8837991-6a89-4725-ac12-01f17016fce6","name":"Send a document","webhookId":"eefc57e3-ffad-4ab5-ad64-0d1fe52076fd","credentials":{"telegramApi":{"id":"3Y0EmfIA5QQHKmrZ","name":"gpt4autogenerate"}}},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert web developer. Create a complete, modern HTML5 page with embedded CSS. Use a professional, clean design with a cohesive color scheme. Include responsive design (mobile-friendly). Return ONLY the HTML code, no explanations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create {{ $json.indexPage.filename }} for a website about: {{ $json.originalPrompt }}\\n\\nPage details:\\nTitle: {{ $json.indexPage.title }}\\nDescription: {{ $json.indexPage.description }}\\n\\nRequirements:\\n- Modern, professional design\\n- Embedded CSS in <style> tags\\n- Responsive layout\\n- Navigation menu with links to: about.html, services.html, portfolio.html, team.html, contact.html\\n- Hero section, features section, CTA section\\n- Footer with social links\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"stream\": false\n}","options":{"timeout":3500000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,352],"id":"9182b7c5-560a-424a-b34b-17c59ec87159","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"UtDH17p9tLDS7nc3","name":"DEEPSEEC"}}},{"parameters":{"resource":"repository","operation":"get","owner":{"__rl":true,"value":"https://github.com/vlad13371337/CODEX","mode":"url"},"repository":{"__rl":true,"value":"CODEX","mode":"list","cachedResultName":"CODEX","cachedResultUrl":"https://github.com/vlad13371337/CODEX"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[976,784],"id":"344dff12-6f59-4ec0-936a-1257a4aba340","name":"Get a repository","webhookId":"a7aa257e-2463-4e2e-aee6-66cee38385ec","credentials":{"githubApi":{"id":"yPwti6pBURNZJcrM","name":"Codex"}}},{"parameters":{"operation":"compress","binaryPropertyName":"={{ Object.keys($binary).join(',') }}","fileName":"website.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[1248,144],"id":"d895b40e-d045-41eb-9440-ee8234de2b0c","name":"Compression"},{"parameters":{"batchSize":"=#!/bin/bash\n\n# Створюємо папку якщо немає\nFOLDER=\"/tmp/website_build\"\nmkdir -p \"$FOLDER\"\n\n# Записуємо файл\ncat > \"$FOLDER/{{$json.path}}\" << 'ENDOFFILE'\n{{$json.content}}\nENDOFFILE\n\necho \"Created: {{$json.path}}\"\n","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-384],"id":"0517f3fb-e2a8-4ce1-9da8-4c670060730f","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[480,-368],"id":"c0fd9e0e-a76f-4562-9014-4aa45dd0e258"},{"parameters":{"command":"=#!/bin/bash\n\n# Шлях до файлу в AI Drive\nFILE_PATH=\"{{$json.output}}\"\n\n# Виводимо шлях для доступу\necho \"File saved: $FILE_PATH\"\necho \"Access via AI Drive web interface\"\n\n# Виводимо для n8n\necho \"$FILE_PATH\"\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[704,-128],"id":"104c0630-a88a-422b-abfc-b04f6e4090a9","name":"Bash \"Get AI Drive URL\""},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-48,-336],"id":"c2ebc566-ed39-4238-810f-1fdbaeb20924","name":"Aggregate"},{"parameters":{"jsCode":"// Отримуємо текст з ПЕРШОЇ ноди Telegram (яка отримує повідомлення)\nconst telegramText = $('Telegram Trigger').item.json.message.text;\n\n// Отримуємо вхідні дані\nconst inputData = $input.all();\n\n// Обробляємо кожен елемент\nconst output = inputData.map(item => {\n  // Витягуємо текст з різних можливих джерел\n  // ПРІОРИТЕТ: спочатку Telegram Trigger (перша нода), потім з поточного item\n  let text = telegramText || \n             item.json.message?.text || \n             item.json.text || \n             item.json.query || \n             item.json.prompt || \n             '';\n  \n  // Нормалізуємо текст:\n  // 1. Видаляємо зайві пробіли та табуляції\n  // 2. Замінюємо переноси рядків на пробіли\n  // 3. Прибираємо множинні пробіли\n  const normalizedText = text\n    .replace(/\\r\\n/g, ' ')     // Windows переноси → пробіл\n    .replace(/\\n/g, ' ')       // Unix переноси → пробіл\n    .replace(/\\r/g, ' ')       // Mac переноси → пробіл\n    .replace(/\\t/g, ' ')       // Табуляції → пробіл\n    .replace(/\\s+/g, ' ')      // Множинні пробіли → один пробіл\n    .trim();                    // Видаляємо пробіли на початку/кінці\n  \n  console.log(\"=== TEXT NORMALIZER ===\");\n  console.log(\"Telegram Text (1st node):\", telegramText);\n  console.log(\"Original:\", text);\n  console.log(\"Normalized:\", normalizedText);\n  \n  // Повертаємо оброблені дані\n  return {\n    json: {\n      ...item.json,\n      message: {\n        ...item.json.message,\n        text: normalizedText\n      },\n      text: normalizedText,\n      query: normalizedText,\n      prompt: normalizedText,\n      normalized_text: normalizedText, // додаткове поле\n      telegram_source: telegramText    // зберігаємо оригінал з Telegram\n    }\n  };\n});\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,384],"id":"bb1f4469-28c0-4548-bf09-0eeb3f4bc062","name":"Code in JavaScript1"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=🚀 <b>Взяв в роботу!</b>  \n⏱️ <b>Очікуваний час: 10-15 хвилин</b>  \n<b>Зачекайте, будь ласка</b> ☕","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-640,176],"id":"189070ca-37ab-448b-aec5-c2e93ba7889f","name":"Send a text message","webhookId":"fe8c575b-d26e-49de-b59d-8433c218a88b","notesInFlow":true,"credentials":{"telegramApi":{"id":"3Y0EmfIA5QQHKmrZ","name":"gpt4autogenerate"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"✅ <b>Етап 1/3 завершено</b> 📝 <b>Створив промпт для сайту</b>   ⏳ <b>Починаю генерацію...</b>","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[48,784],"id":"4be6df14-abc6-4d11-9bff-afc7b42834d5","name":"Send a text message1","webhookId":"bded5756-6d44-47a9-90ad-ccbef3c39226","notesInFlow":true,"credentials":{"telegramApi":{"id":"xWrzOPc7BVVkxCQ1","name":"CODEX"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"✅ <b>Етап 2/3</b> 🎨 <b>Генерую HTML сторінки...</b> 💻 <b>Це займе 10-15 хвилин</b>","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[192,784],"id":"af7590fe-8575-49f8-9a9e-e502440c1b68","name":"Send a text message2","webhookId":"bded5756-6d44-47a9-90ad-ccbef3c39226","retryOnFail":false,"executeOnce":false,"notesInFlow":true,"credentials":{"telegramApi":{"id":"xWrzOPc7BVVkxCQ1","name":"CODEX"}}},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":" application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a web architect. Create a JSON structure for a multi-page website with 8 pages: index.html, about.html, services.html, portfolio.html, team.html, contact.html, legal.html, faq.html. Return ONLY valid JSON with this structure: {\\\"pages\\\": [{\\\"filename\\\": \\\"index.html\\\", \\\"title\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\"}]}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.text }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"stream\": false\n}","options":{"timeout":2500000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,176],"id":"e914bf15-2e55-4047-8df5-1629417cd7df","name":"НОДА 1","executeOnce":false,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"UtDH17p9tLDS7nc3","name":"DEEPSEEC"}}},{"parameters":{"jsCode":"// НОДА 2: Витягуємо JSON структуру сайту з відповіді DeepSeek\n\nconst response = items[0].json;\n\n// Перевірка\nif (!response || !response.choices || !response.choices[0]) {\n  throw new Error('НОДА 2: Невалідна відповідь від DeepSeek');\n}\n\n// Витягуємо контент\nconst content = response.choices[0].message.content;\n\n// Видаляємо markdown блоки ```json...```\nconst cleaned = content.replace(/```json\\n?|\\n?```/g, '').trim();\n\nconsole.log('✅ НОДА 2: Структура сайту отримана');\nconsole.log('📄 JSON довжина:', cleaned.length);\n\nreturn [{\n  json: {\n    structure: cleaned,\n    originalPrompt: 'Рекламне агентство YBK в Харкові'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,368],"id":"73b69f8f-5edf-48d0-86b3-c399473f8ee5","name":"НОДА 2"},{"parameters":{"jsCode":"// НОДА 3: Знаходимо index.html в структурі і зберігаємо всі сторінки\n\nconst structureText = items[0].json.structure;\n\nif (!structureText) {\n  throw new Error('НОДА 3: structure не знайдено. Перевір НОДУ 2!');\n}\n\n// Парсимо JSON\nconst structure = JSON.parse(structureText);\n\nconsole.log('📄 НОДА 3: Знайдено сторінок:', structure.pages.length);\n\n// Знаходимо index.html\nconst indexPage = structure.pages.find(p => p.filename === 'index.html');\n\nif (!indexPage) {\n  throw new Error('НОДА 3: index.html не знайдено в структурі!');\n}\n\nconsole.log('✅ НОДА 3: index.html знайдено -', indexPage.title);\n\nreturn [{\n  json: {\n    indexPage: indexPage,\n    allPages: structure.pages,\n    originalPrompt: items[0].json.originalPrompt\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,176],"id":"c454d674-9a4a-4c31-88ec-c04874cb728a","name":"НОДА 3"},{"parameters":{"jsCode":"// НОДА 4: Парсинг відповіді HTTP Request + передача allPages\n\nconst response = items[0].json;\n\n// Перевірка\nif (!response || !response.choices || !response.choices[0]) {\n  throw new Error('НОДА 4: Невалідна відповідь від DeepSeek');\n}\n\n// Витягуємо HTML\nconst htmlContent = response.choices[0].message.content;\nconst cleanedHTML = htmlContent.replace(/```html\\n?|\\n?```/g, '').trim();\n\nconsole.log('✅ НОДА 4: index.html згенеровано');\nconsole.log('📄 HTML довжина:', cleanedHTML.length);\n\n// ⚠️ КРИТИЧНО: Отримуємо allPages з НОДИ 3\nconst node3Data = $node[\"НОДА 3\"];\n\nif (!node3Data || !node3Data.json) {\n  throw new Error('НОДА 4: Не можу знайти НОДУ 3!');\n}\n\nconsole.log('✅ allPages отримано з НОДИ 3:', node3Data.json.allPages.length, 'сторінок');\n\n// ✅ ПЕРЕДАЄМО ВСЕ ДАЛІ\nreturn [{\n  json: {\n    indexHTML: cleanedHTML,\n    allPages: node3Data.json.allPages,              // ← ЦЕ МАЄ БУТИ!\n    originalPrompt: node3Data.json.originalPrompt   // ← І ЦЕ!\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,144],"id":"519869d1-9549-4ec7-8c09-10a6b541a900","name":"НОДА 4"},{"parameters":{"jsCode":"// НОДА 5: Витягти CSS з index.html\n\nconst html = items[0].json.indexHTML;\n\nif (!html) {\n  throw new Error('НОДА 5: indexHTML не знайдено');\n}\n\nconsole.log('📄 НОДА 5: indexHTML отримано, довжина:', html.length);\n\n// Витягуємо CSS\nconst cssMatch = html.match(/<style[^>]*>([\\s\\S]*?)<\\/style>/i);\nconst extractedCSS = cssMatch ? cssMatch[1].trim() : '';\n\nif (!extractedCSS) {\n  throw new Error('НОДА 5: CSS не знайдено в index.html');\n}\n\nconsole.log('✅ НОДА 5: CSS витягнуто -', extractedCSS.length, 'символів');\n\n// ⚠️ КРИТИЧНО: Отримуємо allPages з НОДИ 4\nlet allPages = items[0].json.allPages;\nlet originalPrompt = items[0].json.originalPrompt;\n\n// Якщо немає - беремо з НОДИ 3 напряму\nif (!allPages) {\n  console.log('⚠️ allPages не знайдено в items. Шукаю в НОДІ 3...');\n  \n  const node3Data = $node[\"НОДА 3\"];\n  if (node3Data && node3Data.json) {\n    allPages = node3Data.json.allPages;\n    originalPrompt = node3Data.json.originalPrompt;\n    console.log('✅ allPages знайдено в НОДІ 3:', allPages.length, 'сторінок');\n  }\n}\n\n// Останній варіант - хардкод\nif (!allPages || !Array.isArray(allPages)) {\n  console.log('⚠️ allPages не знайдено ніде. Використовую хардкод.');\n  \n  allPages = [\n    {filename: 'index.html', title: 'Головна', description: 'Головна сторінка'},\n    {filename: 'about.html', title: 'Про нас', description: 'Про компанію YBK'},\n    {filename: 'services.html', title: 'Послуги', description: 'Наші послуги'},\n    {filename: 'portfolio.html', title: 'Портфоліо', description: 'Наші роботи'},\n    {filename: 'team.html', title: 'Команда', description: 'Наша команда'},\n    {filename: 'contact.html', title: 'Контакти', description: 'Зв\\'язатися з нами'},\n    {filename: 'legal.html', title: 'Правова інформація', description: 'Legal'},\n    {filename: 'faq.html', title: 'FAQ', description: 'Часті питання'}\n  ];\n  originalPrompt = 'Рекламне агентство YBK в Харкові';\n}\n\n// Фільтруємо сторінки (без index.html)\nconst remainingPages = allPages.filter(p => p.filename !== 'index.html');\n\nconsole.log('📄 НОДА 5: Сторінок для генерації:', remainingPages.length);\nremainingPages.forEach(p => console.log('   -', p.filename));\n\n// ✅ ПЕРЕДАЄМО ВСЕ ДАЛІ\nreturn [{\n  json: {\n    unifiedCSS: extractedCSS,\n    indexHTML: html,\n    remainingPages: remainingPages,\n    allPages: allPages,  // ← На всяк випадок\n    originalPrompt: originalPrompt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,352],"id":"08a14ac4-a7e5-445a-bb75-89dd7cba5d86","name":"НОДА 5"},{"parameters":{"jsCode":"// НОДА 6: Витягуємо CSS з index.html для використання в інших сторінках\n\nconst html = items[0].json.indexHTML;\n\nif (!html) {\n  throw new Error('НОДА 6: indexHTML не знайдено. Перевір НОДУ 5!');\n}\n\n// Витягуємо CSS з <style>...</style>\nconst cssMatch = html.match(/<style[^>]*>([\\s\\S]*?)<\\/style>/i);\nconst extractedCSS = cssMatch ? cssMatch[1].trim() : '';\n\nif (!extractedCSS) {\n  throw new Error('НОДА 6: CSS не знайдено в index.html!');\n}\n\n// Отримуємо allPages\nconst allPages = items[0].json.allPages;\n\nif (!allPages || !Array.isArray(allPages)) {\n  throw new Error('НОДА 6: allPages не знайдено. Перевір НОДУ 5!');\n}\n\n// Фільтруємо сторінки (без index.html)\nconst remainingPages = allPages.filter(p => p.filename !== 'index.html');\n\nconsole.log('✅ НОДА 6: CSS витягнуто -', extractedCSS.length, 'символів');\nconsole.log('📄 НОДА 6: Сторінок для генерації:', remainingPages.length);\nremainingPages.forEach(p => console.log('   -', p.filename));\n\nreturn [{\n  json: {\n    unifiedCSS: extractedCSS,\n    indexHTML: html,\n    remainingPages: remainingPages,\n    originalPrompt: items[0].json.originalPrompt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,144],"id":"539b2401-eef0-4436-a813-b73800c2c8a6","name":"НОДА 6"},{"parameters":{"jsCode":"// НОДА 7: Створюємо окремий промпт для кожної сторінки з CSS\n\nconst css = items[0].json.unifiedCSS;\nconst pages = items[0].json.remainingPages;\nconst prompt = items[0].json.originalPrompt;\n\nconsole.log('📝 НОДА 7: Створюємо', pages.length, 'промптів');\n\n// Створюємо окремий item для кожної сторінки\nreturn pages.map(page => {\n  console.log('   ✅', page.filename);\n  \n  return {\n    json: {\n      filename: page.filename,\n      title: page.title,\n      description: page.description,\n      unifiedCSS: css,\n      originalPrompt: prompt\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,384],"id":"cfb146a4-887a-463e-8017-e0698e9305dc","name":"НОДА 7"},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":" application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    \"model\": \"deepseek-chat\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"You are an expert web developer. Create HTML pages that match an existing design. Use the provided CSS exactly as given. Return ONLY the HTML code.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": \"Create \" + $json.filename + \" for: \" + $json.originalPrompt + \"\\n\\nTitle: \" + $json.title + \"\\nDescription: \" + $json.description + \"\\n\\n**USE THIS EXACT CSS:**\\n<style>\\n\" + $json.unifiedCSS + \"\\n</style>\\n\\nRequirements:\\n- Use the CSS above without changes\\n- Match the design style\\n- Include navigation menu\\n- Create appropriate content\\n- Add footer\"\n      }\n    ],\n    \"temperature\": 0.7,\n    \"stream\": false\n  }\n}}","options":{"timeout":2500000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,144],"id":"0250ca9c-f61e-4eb3-88e7-403b766e0522","name":"НОДА 8","executeOnce":false,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"UtDH17p9tLDS7nc3","name":"DEEPSEEC"}}},{"parameters":{"jsCode":"// НОДА 9: Парсимо всі 7 згенерованих сторінок\n\nconsole.log('📦 НОДА 9: Обробка', items.length, 'сторінок');\n\n// Обробляємо кожну відповідь DeepSeek\nconst processedPages = items.map((item, index) => {\n  const htmlContent = item.json.choices[0].message.content;\n  const cleaned = htmlContent.replace(/```html\\n?|\\n?```/g, '').trim();\n  \n  // Filename з оригінального запиту (якщо є)\n  const filename = item.json.filename || `page${index}.html`;\n  \n  console.log('   ✅', filename, '-', cleaned.length, 'символів');\n  \n  return {\n    filename: filename,\n    content: cleaned\n  };\n});\n\nreturn [{\n  json: {\n    generatedPages: processedPages\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,384],"id":"a2081c3d-6f42-4674-9f02-39da8e4ac03a","name":"НОДА 9"},{"parameters":{"jsCode":"// НОДА 10: Об'єднуємо index.html + решта 7 сторінок\n\n// Отримуємо index.html з НОДИ 6\nconst node6Data = $node[\"НОДА 6\"];\n\nif (!node6Data || !node6Data.json) {\n  throw new Error('НОДА 10: Не можу знайти дані з НОДИ 6. Перевір назву ноди!');\n}\n\nconst indexHTML = node6Data.json.indexHTML;\n\n// Отримуємо решту сторінок з НОДИ 9\nconst otherPages = items[0].json.generatedPages;\n\nconsole.log('🏗️ НОДА 10: Збірка веб-сайту');\nconsole.log('   ✅ index.html');\n\n// Об'єднуємо всі 8 сторінок\nconst allPages = [\n  {\n    filename: 'index.html',\n    content: indexHTML\n  },\n  ...otherPages\n];\n\nconsole.log('✅ НОДА 10: Всього сторінок:', allPages.length);\nallPages.forEach(p => console.log('   -', p.filename));\n\nreturn [{\n  json: {\n    website: {\n      pages: allPages,\n      total: allPages.length\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,144],"id":"41496395-06de-44c8-b24b-7d6b7b7ca8d2","name":"НОДА 10"},{"parameters":{"jsCode":"// НОДА 11: Підготовка файлів для Compression (для DeepSeek workflow)\n\nconst websiteData = items[0].json.website;\n\nif (!websiteData || !websiteData.pages) {\n  throw new Error('НОДА 11: Не знайдено website.pages. Перевір НОДУ 10!');\n}\n\nconsole.log(`📤 НОДА 11: Підготовка ${websiteData.pages.length} файлів в ОДИН item`);\n\nconst binaryData = {};\nconst binaryFieldNames = [];\n\nfor (let i = 0; i < websiteData.pages.length; i++) {\n  const page = websiteData.pages[i];\n  const contentBuffer = Buffer.from(page.content, 'utf-8');\n  const fieldName = `file${i}`;\n  \n  binaryData[fieldName] = {\n    data: contentBuffer.toString('base64'),\n    mimeType: 'text/html',\n    fileName: page.filename  // ← index.html, about.html і т.д.\n  };\n  \n  binaryFieldNames.push(fieldName);\n  console.log(`   ✅ ${fieldName} → ${page.filename}`);\n}\n\nconsole.log(`✅ НОДА 11: Binary fields створено: ${binaryFieldNames.join(', ')}`);\nconsole.log(`📋 Для Compression напиши: ${binaryFieldNames.join(',')}`);\n\nreturn [{\n  json: {\n    totalFiles: websiteData.pages.length,\n    binaryFields: binaryFieldNames.join(',')  // ← СКОПІЮЙ ЦЕ ЗНАЧЕННЯ!\n  },\n  binary: binaryData\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,384],"id":"010eb30a-9be3-4c16-8130-c5323afaec85","name":"НОДА 11"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"НОДА 4","type":"main","index":0}]]},"Compression":{"main":[[{"node":"Send a document","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"НОДА 1","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Send a text message2":{"main":[[]]},"НОДА 1":{"main":[[{"node":"НОДА 2","type":"main","index":0}]]},"НОДА 2":{"main":[[{"node":"НОДА 3","type":"main","index":0}]]},"НОДА 3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"НОДА 4":{"main":[[{"node":"НОДА 5","type":"main","index":0}]]},"НОДА 5":{"main":[[{"node":"НОДА 6","type":"main","index":0}]]},"НОДА 6":{"main":[[{"node":"НОДА 7","type":"main","index":0}]]},"НОДА 7":{"main":[[{"node":"НОДА 8","type":"main","index":0}]]},"НОДА 8":{"main":[[{"node":"НОДА 9","type":"main","index":0}]]},"НОДА 9":{"main":[[{"node":"НОДА 10","type":"main","index":0}]]},"НОДА 10":{"main":[[{"node":"НОДА 11","type":"main","index":0}]]},"НОДА 11":{"main":[[{"node":"Compression","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c58a2f45-bfa5-4757-a21e-8af2bac4a728","triggerCount":0,"shared":[{"createdAt":"2025-10-21T20:41:34.576Z","updatedAt":"2025-10-21T20:41:34.576Z","role":"workflow:owner","workflowId":"0NZq6toITVsIi0NJ","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}