incube-Nn8f7g8uxfSl0oUG.json
{"createdAt":"2025-07-10T05:22:08.443Z","updatedAt":"2025-07-10T05:27:27.594Z","id":"Nn8f7g8uxfSl0oUG","name":"INCUBE","active":false,"isArchived":false,"nodes":[{"parameters":{"name":"createImage","description":"Call this tool to create an image. ","workflowId":{"__rl":true,"value":"dACeN6u2x5IaTlaP","mode":"list","cachedResultName":"Генерация картинки"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}","imagePrompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', `The image requested by the user`, 'string') }}","imageTitle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `The title of the image. Should be no more than 4 words.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imageTitle","displayName":"imageTitle","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[860,500],"id":"9f1ad530-c83a-4e81-b9b1-511ce558a76b","name":"Create Image"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1800,160],"id":"48e295f8-2011-4025-b9d5-5ee7f1872440","name":"Telegram","webhookId":"fbdb3bd7-490b-4d3e-961e-e2d398294649"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[320,500],"id":"2144aa97-d6d2-4604-8350-7bce6282ab7c","name":"Simple Memory"},{"parameters":{"name":"editImage","description":"Call this tool to edit an image.","workflowId":{"__rl":true,"value":"oZc3d9a5k9F8OQ7s","mode":"list","cachedResultName":"Редактировать изображение"},"workflowInputs":{"mappingMode":"defineBelow","value":{"image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The title of the image the user wants to edit`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}","request":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', `The edit the user wants to make to the image`, 'string') }}","pictureID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pictureID', `The ID of the image to edit`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"request","displayName":"request","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pictureID","displayName":"pictureID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1120,500],"id":"037e9c87-05a1-48f0-8993-7e1cb3e58841","name":"Edit Image"},{"parameters":{"name":"searchImages","description":"Call this tool to search the image database.","workflowId":{"__rl":true,"value":"b1CH481OkibSyN3p","mode":"list","cachedResultName":"Поиск контента"},"workflowInputs":{"mappingMode":"defineBelow","value":{"intent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intent', `The intent of the user. This can either be \"Get\" or \"Edit\"`, 'string') }}","image":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The image title`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"intent","displayName":"intent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1420,500],"id":"11f67a52-611b-4c14-b5c2-df6c3cb1a84b","name":"Search Images"},{"parameters":{"content":"# AI Маркейтинг команда","height":400,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1180,0],"id":"66c76e95-7634-486a-a6b9-9087b196797b","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"973c9e11-28b5-4924-8a71-88f2e37601f4","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,240]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"e3b37221-e649-4d1e-861d-38eff0a5a635","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[620,80],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"4b478c0e-1fab-4023-9000-2b6af7b9e25b","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[780,80]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"06c292e0-2e79-43e3-859d-8508a4792526"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"dfc5a87f-a4a5-4b33-8b0b-1507953b4f78","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[200,160]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"a30444f5-0757-4589-9bad-14678a3a02d6","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[60,160],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63"},{"parameters":{"content":"# Запуск сценария","height":400,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"9739e0e9-867a-4482-a47f-fcedf147b0ce","name":"Sticky Note1"},{"parameters":{"content":"# Видео","height":220,"width":280,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,420],"id":"396834cf-79c6-40f3-9bca-c208aaf8ce2e","name":"Sticky Note2"},{"parameters":{"content":"# Работа с изображениями","height":220,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[780,420],"id":"3a4b37c1-974b-4abc-a3c5-d33ec0acf1ad","name":"Sticky Note3"},{"parameters":{"content":"# База изображений","height":220,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,420],"id":"95b84da9-5ccc-4066-a7a0-2869d2ba4d1a","name":"Sticky Note4"},{"parameters":{"content":"# Ответ\n\n","height":400,"width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1700,0],"id":"d51f87a5-f83d-4735-a077-d537cf291b34","name":"Sticky Note5"},{"parameters":{"content":"# Мозг AI\n\n","height":220,"width":440,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,420],"id":"0db53fa5-4835-45e0-8864-d7b0d6d96518","name":"Sticky Note6"},{"parameters":{"content":"# Фильтруем голосовые от текста","height":400,"width":620,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,0],"id":"187d12db-3a3f-4415-b74c-64f9aa691620","name":"Sticky Note7"},{"parameters":{"name":"video","description":"Call this tool to create a video.","workflowId":{"__rl":true,"value":"psLSiLfq2DdtNsBO","mode":"list","cachedResultName":"Создание видео"},"workflowInputs":{"mappingMode":"defineBelow","value":{"videoTopic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('videoTopic', `The topic of the video`, 'string') }}","chatID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"videoTopic","displayName":"videoTopic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatID","displayName":"chatID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[540,500],"id":"617ddf3b-ad38-4e04-94e7-3ad8da9bc917","name":"Video"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Overview\nYou are a marketing team AI agent. Your job is to help the user create and edit images based on the request, or create content.\n\n## Tools\ncreateImage - Use this to create an image. Send the requested image prompt to this tool.\neditImage - Use this to edit an image. The user might also say \"make\" rather than \"edit\".\nImage Database - Use this to search the image database. \nvideo - Use this tool to create a video.\nThink - Use this if you need help making a decision.\n\n## Instructions\n- If the user asks to 'edit that image' or 'make that...', this indicates they want to edit the last image in the database, the most recent one.\n- If the user requests a blog post or LinkedIn post, use the \"blogPost\" or \"linkedinPost\" tool and output: \"Here's that post you requested. Hope you enjoy it.\"\n\n## Output\n- Make sure to return the image link as a clickable link\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1280,160],"id":"b630a001-6060-4956-b141-25e4dfd1a280","name":"Marketing Team Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[180,500],"id":"9f76e1b2-6e64-4519-b07f-c8d214d55ec7","name":"Think"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[40,500],"id":"a0c53735-acb6-4072-9c71-44b1df4d16b4","name":"OpenAI Chat Model"},{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.output.replace(/\"/g, '') }}\",\n        \"width\": 540, \n        \"height\": 960\n    } \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2140,1420],"id":"7ffb893c-eb22-4c7d-bff3-c8c34ddafd64","name":"Generate Image"},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,1420],"id":"607aeb21-41b5-4cdf-8912-9dbaf4cf4925","name":"Get Images"},{"parameters":{"promptType":"define","text":"=Scene: {{ $('Get Images').item.json.data.input.prompt }}","options":{"systemMessage":"=# Overview\nYou are a Master Sound Prompt Generator.\nYour task is to create vivid, immersive sound prompts based on a given scene. These prompts will be used to generate background audio that matches the mood and environment of the scene.\n\n## Instructions\n- Generate a one- to two-sentence prompt that captures the ambiance, tone, and key sound elements.\n- Use rich, evocative language to describe the background atmosphere, highlighting specific sounds (e.g., footsteps on cobblestone, distant chatter, wind rustling leaves, faint music, industrial hum).\n- Focus on the background audio — not dialogue, narration, or foreground sound effects.\n- Match the emotion and setting of the scene, whether it's calm, chaotic, eerie, festive, or serene.\n- Avoid vague descriptions; be specific and sensory-driven to maximize immersion.\n- Never include quotation marks (\"\") or newlines (\\n) in the output.\n\n## Output\nReturn only the crafted sound prompt text, ready to be used for an audio generation model.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2760,1420],"id":"09f4c54f-da5f-485b-8714-18992cf39373","name":"Sound Agent"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/sound-generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.output.replace(/\"/g, '') }}"},{"name":"duration_seconds","value":"5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3120,1420],"id":"8404c01c-fa3f-4558-9cbf-84b4dd0b426f","name":"Generate Audio"},{"parameters":{"name":"={{ $('Get Videos').item.json.id }}.mp3","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"14RZNpzaQuuXV4XHTkmCqKuboP4GbQYJB","mode":"list","cachedResultName":"Звуки для видео","cachedResultUrl":"https://drive.google.com/drive/folders/14RZNpzaQuuXV4XHTkmCqKuboP4GbQYJB"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3300,1420],"id":"97c596ce-fd33-49b5-9f2c-772a569ce26e","name":"Upload to Drive"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2780,1760],"id":"939f73b2-a10a-4163-bf8e-e47ceaef1305","name":"Merge"},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer f1181a89d9954d84a764c7a10dbc00ea6b5665995a585fb3a5445f7ed0e86a693ed1942ca41f370fa38b0a90d73013e0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"d966829d-2416-4129-a286-cc778b4690e1\",\n  \"modifications\": {\n    \"Video-1.source\": \"{{ $json.urls[0].url }}\",\n    \"Video-2.source\": \"{{ $json.urls[1].url }}\",\n    \"Video-3.source\": \"{{ $json.urls[2].url }}\",\n    \"Video-4.source\": \"{{ $json.urls[3].url }}\",\n    \"Audio-1.source\": \"{{ $json.urls[0].webContentLink }}\",\n    \"Audio-2.source\": \"{{ $json.urls[1].webContentLink }}\",\n    \"Audio-3.source\": \"{{ $json.urls[2].webContentLink }}\",\n    \"Audio-4.source\": \"{{ $json.urls[3].webContentLink }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3180,1760],"id":"127b4c93-e7e4-40e3-b39e-f54017e5776a","name":"Render Video"},{"parameters":{"amount":25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3380,1760],"id":"0e356f6c-76b6-4cf3-baa1-48eb68dc61a8","name":"25 Seconds","webhookId":"d5cd29e8-d3f7-491c-a6b6-2d705aa47931"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2780,1980],"id":"64710dea-60d0-4858-ae27-84a6a907c6c8","name":"Download Video"},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,1700],"id":"d3b658d7-5ed8-4fb1-a14c-c38c0abc8809","name":"Get Videos"},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.data.output.image_url }}"},{"name":"model","value":"gen3a_turbo"},{"name":"ratio","value":"768:1280"},{"name":"duration","value":"5"},{"name":"promptText","value":"={{ $json.data.input.prompt.replace(/\"/g, '') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,1700],"id":"001a4b8b-1f87-4461-bea0-466f0759b84e","name":"Generate Videos"},{"parameters":{"jsCode":"// N8n Code Node to extract URLs from output arrays and combine them into a single array\n// This code assumes your input JSON is in items[0].json or is multiple items\n// Determine data source format\nlet inputArray;\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  // If we have a single item containing our array\n  inputArray = items[0].json;\n} else if (items.length > 1) {\n  // If we already have multiple items, each containing part of our data\n  inputArray = items.map(item => item.json || item);\n} else {\n  throw new Error('Input structure not recognized. Please check your data format.');\n}\n// Create a single array to hold all URLs\nconst urlArray = [];\n// Process each item in the input array\nfor (const item of inputArray) {\n  // Get the data object\n  const data = item;\n  \n  // Check if the item has an output array\n  if (data.output && Array.isArray(data.output)) {\n    // For each URL in the output array, add to our URL array\n    for (const url of data.output) {\n      // Add URL along with metadata including the web content link\n      urlArray.push({\n        url: url,\n        sourceId: data.id,\n        createdAt: data.createdAt,\n        webContentLink: data.webContentLink || null // Add the web content link\n      });\n    }\n  }\n}\n// Return a single item containing the array of all URLs\nreturn [{\n  json: {\n    urls: urlArray\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2980,1760],"id":"92d69e20-6117-4c68-9391-80140b243037","name":"Split Out Parts"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3500,1420],"id":"86aeabe7-3525-4cc8-8abe-9283a06cf424","name":"Share File"},{"parameters":{"workflowInputs":{"values":[{"name":"videoTopic"},{"name":"chatID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1380,1480],"id":"dbb76364-36ce-4a45-ab88-7e233ecc2df7","name":"When Executed by Another Workflow"},{"parameters":{"jsonSchemaExample":"{\n  \"Part 1\": \"Prompt for part 1\",\n  \"Part 2\": \"Prompt for part 2\",\n  \"Part 3\": \"Prompt for part 3\",\n  \"Part 4\": \"Prompt for part 4\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1760,1660],"id":"be47b587-4609-4f24-8f1f-4654dc9bd4f2","name":"4 Parts"},{"parameters":{"promptType":"define","text":"=Video Topic: {{ $json.videoTopic }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are a Master Visual Story Structuring Agent.\nYour task is to take a given short video topic and split it into four parts that together form a cohesive, vivid story, optimized for text-to-image generation.\n\n## Instructions:\n- You must create exactly four parts: Part 1, Part 2, Part 3, and Part 4.\n- Describe the subject of the story in the EXACT same way in all four parts. Each part should be consistent.\n- Each part should build upon the previous, creating a complete visual story by the end.\n- Every part must be written as a high-quality, richly detailed image prompt, following professional standards for models like Flux or similar.\n- Describe characters, settings, outfits, actions, and background elements vividly and precisely.\n- Use rich, imaginative language to maximize visual fidelity.\n- Avoid generic terms — always opt for specific and colorful descriptions.\n- No quotation marks (\"\") or newlines (\\n) should be included in the output.\n- Keep the description natural and seamless so it can be fed directly into a text-to-image model.\n\n## Key Elements to Include in Each Part:\n- Clear description of main subjects (appearance, outfits, facial expressions, poses)\n- Accessories or objects that add to the scene\n- A vivid background that matches the theme and enhances the overall story\n- Consistency and natural progression from part to part\n\n## Output Format:\nReturn your response structured into four fields:\n- Part 1: [Vivid image prompt for Part 1]\n- Part 2: [Vivid image prompt for Part 2]\n- Part 3: [Vivid image prompt for Part 3]\n- Part 4: [Vivid image prompt for Part 4]\n\nOnly output the fields listed above.\nMake sure the story across all four parts feels cohesive, visually rich, and cinematic."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1560,1480],"id":"93fc6596-d09c-466b-8d4d-db71d62fa0a1","name":"Image Prompt Agent"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1880,1480],"id":"be1a2f6c-8b5b-4c23-8652-806102a86c05","name":"Split Out"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('When Executed by Another Workflow').first().json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2960,1980],"id":"d318595d-fc6a-4165-9ea7-85ef39aeb53b","name":"Send Video","webhookId":"cdeb2987-d275-480b-8532-f69bbed64999"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Video: {{ $('When Executed by Another Workflow').first().json.videoTopic }}"},{"content":"Create a 3-4 word title for the given video","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3160,1980],"id":"97889675-6b11-4883-a980-589679c3db09","name":"Title"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Bp9B2jXDsoLweVXQ08GqCq7e4-LuRS5abZGddtnA6-4","mode":"list","cachedResultName":"Логи Маркейтинг AI","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Bp9B2jXDsoLweVXQ08GqCq7e4-LuRS5abZGddtnA6-4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Bp9B2jXDsoLweVXQ08GqCq7e4-LuRS5abZGddtnA6-4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Заголовок":"={{ $json.message.content }}","Тип":"Видео","Запрос":"={{ $('When Executed by Another Workflow').first().json.videoTopic }}","Ссылка":"={{ $('Download Video').item.json.url }}"},"matchingColumns":[],"schema":[{"id":"Заголовок","displayName":"Заголовок","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Тип","displayName":"Тип","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Запрос","displayName":"Запрос","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ссылка","displayName":"Ссылка","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Пост","displayName":"Пост","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3520,1980],"id":"d14d0b42-a821-4014-b841-0d867bd37571","name":"Log Video"},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2320,1420],"id":"fc0e4423-5e29-45d9-92e2-cf966d3c1e0b","name":"90 Seconds","webhookId":"ffdc5132-c0fe-44f6-af2b-4b3bb8894153"},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2320,1700],"id":"0cad44f1-9113-4091-a262-df00831bc047","name":"90_Seconds","webhookId":"3ce99001-8f5a-4c0a-9b25-e3e261fcc778"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2760,1540],"id":"a13ed06c-cdad-4dc9-9964-df63a4dbe4f6","name":"OpenAI Chat Model1"},{"parameters":{"content":"# Создаем промты для изображения","height":540,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1320,1320],"typeVersion":1,"id":"7e955840-a595-41e2-b41b-fe5ae73f7cb4","name":"Sticky Note8","disabled":true},{"parameters":{"content":"# Создаем изображения","height":260,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2080,1320],"typeVersion":1,"id":"e5ddefd9-b219-46a3-aaff-c47fd63e2355","name":"Sticky Note9"},{"parameters":{"content":"# Генерируем аудио\n","height":320,"width":980,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2700,1320],"typeVersion":1,"id":"f74bab06-fb91-484b-b6a6-f5a39c1cb24d","name":"Sticky Note10"},{"parameters":{"content":"# Рендерим и отправляем в логи","height":500,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[2700,1660],"typeVersion":1,"id":"bf9a934e-56fb-4616-ac3d-4bc95aa821af","name":"Sticky Note11"},{"parameters":{"content":"# Создаем видео","height":260,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2080,1600],"typeVersion":1,"id":"161aad7c-a49c-4393-ba68-448b6beef799","name":"Sticky Note12"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1520,1660],"id":"92dab7f1-5e8c-4015-9e13-976ac6e6a41c","name":"OpenAI Chat Model2"},{"parameters":{"documentId":{"__rl":true,"value":"1Bp9B2jXDsoLweVXQ08GqCq7e4-LuRS5abZGddtnA6-4","mode":"list","cachedResultName":"Логи Маркейтинг AI","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Bp9B2jXDsoLweVXQ08GqCq7e4-LuRS5abZGddtnA6-4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Bp9B2jXDsoLweVXQ08GqCq7e4-LuRS5abZGddtnA6-4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[2220,3460],"id":"14ae1f65-8e35-4e55-8b36-e3e43e45a0ff","name":"Image Database"},{"parameters":{"promptType":"define","text":"=Image: {{ $json.image }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are an Image Retrieval Agent. When the user provides a query, your task is to search the \"Image Database\" using the keywords from the query. Locate the most relevant matching image.\n\n## Output\n- Return the name, ID, and the Link of the image\n- If no image is found, output \"Not Found\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2220,3200],"id":"415d8250-e59a-4c4b-95e3-6a884d52f728","name":"Image Search Agent"},{"parameters":{"assignments":{"assignments":[{"id":"44c36e1d-19e8-4411-bd3d-86c5144ecb14","name":"response","value":"Image wasn't found in the database","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,2920],"id":"6b6737b8-f96e-4fe9-bc3c-d0e0454bc5db","name":"Not Found"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5a9fd85-2403-423e-92a2-d3ba20db83d9","leftValue":"={{ $('When Executed by Another Workflow').first().json.intent }}","rightValue":"Get","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2880,3200],"id":"6f4210f7-fe85-4743-9d4b-302ba4f3d723","name":"Get?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85e307aa-0bb8-40f1-b62e-5b36c231b0af","leftValue":"={{ $json.output.status }}","rightValue":"Not Found","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2620,3200],"id":"7a52a463-efde-4f11-b6ea-cc8aced31fba","name":"Not Found?"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.output.image_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3140,3200],"id":"9d121dfe-f63e-442a-82e3-342a5520a13f","name":"Download File"},{"parameters":{"jsonSchemaExample":"{\n  \"image_name\":\"string | null\",\n  \"image_id\": \"string | null\",\n  \"image_link\": \"string | null\",\n  \"status\": \"found | not_found\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2440,3460],"id":"02a005be-d42e-4602-83c3-6a7c40a19f90","name":"Name, ID, & Link"},{"parameters":{"assignments":{"assignments":[{"id":"be32fa20-d1e6-4831-a266-5991e5c4eb1e","name":"imageName","value":"={{ $json.output.image_name }}","type":"string"},{"id":"10b5ddb9-a482-46a7-962f-8e18533d90d5","name":"imageID","value":"={{ $json.output.image_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3260,3500],"id":"5280e5c9-4cfa-49cb-970f-79262fa14bc7","name":"Edit"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chatID }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3400,3200],"id":"e751b73d-828d-4a1a-b503-3ba544a603e8","name":"Send Photo","webhookId":"85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e"},{"parameters":{"content":"# Тригер","height":260,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1860,3120],"id":"cc5009f5-bd8e-4d23-89fa-e4c013729c9c","name":"Sticky Note13","disabled":true},{"parameters":{"content":"## Мозги / таблица","height":200,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2060,3400],"id":"d565d6fd-a91b-4da1-9ae9-98da6372fe8d","name":"Sticky Note14"},{"parameters":{"content":"# Поиск Контента","height":260,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2140,3120],"id":"20af8360-ed9a-45c5-acd8-4e05a0b34611","name":"Sticky Note15"},{"parameters":{"content":"## Дробим ответ","height":200,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2360,3400],"id":"140b1092-8e63-4974-9ae4-e679f2d0ed7e","name":"Sticky Note16"},{"parameters":{"content":"# Не найден?","height":260,"width":260,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2540,3120],"id":"a3f8dd94-622a-4c16-943e-771235795b97","name":"Sticky Note17"},{"parameters":{"content":"# Отработка НЕ НАЙДЕН","height":280,"width":560,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2820,2820],"id":"941d8d28-8cc2-4042-89e4-d396c301e3a0","name":"Sticky Note18"},{"parameters":{"content":"# Получен?","height":260,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2820,3120],"id":"9fad2e5f-072d-46ba-a12d-f68566322625","name":"Sticky Note19"},{"parameters":{"content":"# Отработка НЕ ПОЛУЧЕН","height":240,"width":600,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3080,3420],"id":"ea2470c1-5e22-4c80-b764-5eca5eb893a1","name":"Sticky Note20"},{"parameters":{"content":"# Отправить контент","height":260,"width":380,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3320,3120],"id":"b2ef9cbd-b21f-4424-9902-6c6e9115fd23","name":"Sticky Note21"},{"parameters":{"content":"# Загрузить","height":260,"width":220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3080,3120],"id":"8da99a1e-02d4-406c-a0aa-15b86137ed19","name":"Sticky Note22"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2100,3460],"id":"6376bb74-4071-480d-853b-e42e4887271c","name":"OpenAI Chat Model3"}],"connections":{"Create Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Marketing Team Agent","type":"ai_memory","index":0}]]},"Edit Image":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Search Images":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Marketing Team Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Video":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"Marketing Team Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Marketing Team Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Marketing Team Agent","type":"ai_languageModel","index":0}]]},"Generate Image":{"main":[[{"node":"90 Seconds","type":"main","index":0}]]},"Get Images":{"main":[[{"node":"Generate Videos","type":"main","index":0}]]},"Sound Agent":{"main":[[{"node":"Generate Audio","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Share File","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Split Out Parts","type":"main","index":0}]]},"Render Video":{"main":[[{"node":"25 Seconds","type":"main","index":0}]]},"25 Seconds":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Send Video","type":"main","index":0}]]},"Get Videos":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Sound Agent","type":"main","index":0}]]},"Generate Videos":{"main":[[{"node":"90_Seconds","type":"main","index":0}]]},"Split Out Parts":{"main":[[{"node":"Render Video","type":"main","index":0}]]},"Share File":{"main":[[{"node":"Merge","type":"main","index":2}]]},"When Executed by Another Workflow":{"main":[[{"node":"Image Prompt Agent","type":"main","index":0}]]},"4 Parts":{"ai_outputParser":[[{"node":"Image Prompt Agent","type":"ai_outputParser","index":0}]]},"Image Prompt Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Send Video":{"main":[[{"node":"Title","type":"main","index":0}]]},"Title":{"main":[[{"node":"Log Video","type":"main","index":0}]]},"90 Seconds":{"main":[[{"node":"Get Images","type":"main","index":0}]]},"90_Seconds":{"main":[[{"node":"Get Videos","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Sound Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Image Prompt Agent","type":"ai_languageModel","index":0}]]},"Image Database":{"ai_tool":[[{"node":"Image Search Agent","type":"ai_tool","index":0}]]},"Image Search Agent":{"main":[[{"node":"Not Found?","type":"main","index":0}]]},"Not Found?":{"main":[[{"node":"Not Found","type":"main","index":0}],[{"node":"Get?","type":"main","index":0}]]},"Get?":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Edit","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Send Photo","type":"main","index":0}]]},"Name, ID, & Link":{"ai_outputParser":[[{"node":"Image Search Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Image Search Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"videoTopic":"A beaver building a house, showing the beaver gathering sticks, arranging them by a riverbank, creating a dam and then constructing a cozy lodge inside.","chatID":8056822155}}]},"versionId":"e9851e9e-6515-4243-88fe-8b1cbacaefb0","triggerCount":0,"shared":[{"createdAt":"2025-07-10T05:22:08.443Z","updatedAt":"2025-07-10T05:22:08.443Z","role":"workflow:owner","workflowId":"Nn8f7g8uxfSl0oUG","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}