just_for_test-8MSg6RmF1MqyP1rj.json
{"createdAt":"2025-11-12T02:50:25.357Z","updatedAt":"2025-11-12T03:59:06.377Z","id":"8MSg6RmF1MqyP1rj","name":"just_for_test","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-800,-48],"id":"cd442a30-8e93-4f72-ac5b-7a6c95cc3526","name":"Telegram Trigger1","webhookId":"6930493f-bd1a-4692-97f8-da3642d2d492","credentials":{"telegramApi":{"id":"8vAyhXb2m8DaonMu","name":"react2_test"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa2d6e38-4ba1-40e4-a2ac-2eafe5d34c1d","leftValue":"={{ $json.data }}","rightValue":"no","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-32,48],"id":"c171b809-2098-4274-8c7e-06e1c963e0d3","name":"If"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"=Какой бюджет?","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,-64],"id":"82f4630a-5028-436e-8485-d65f466b9058","name":"Send a text message","webhookId":"4f2182d2-7e7c-48f2-bfb3-ab31dcb25fde","credentials":{"telegramApi":{"id":"8vAyhXb2m8DaonMu","name":"react2_test"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"=Привет коллега","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,128],"id":"fc30940c-8177-40e4-9e22-e677bef2bf9c","name":"Send a text message2","webhookId":"4f2182d2-7e7c-48f2-bfb3-ab31dcb25fde","credentials":{"telegramApi":{"id":"8vAyhXb2m8DaonMu","name":"react2_test"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"=Сколько сайтов?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"1","additionalFields":{"callback_data":"yes"}}]}},{"row":{"buttons":[{"text":"5","additionalFields":{"callback_data":"no"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[128,-224],"id":"6121ac14-b064-49e3-959f-b0ab645d8a0c","name":"yes or no","webhookId":"4f2182d2-7e7c-48f2-bfb3-ab31dcb25fde","credentials":{"telegramApi":{"id":"8vAyhXb2m8DaonMu","name":"react2_test"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"ask_question","operator":{"type":"string","operation":"equals"},"id":"8adda247-facd-4637-8986-43cc6753a8ec"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"101bd4b9-f01b-4a2f-bbfb-bf5cdbe3d568","leftValue":"={{ $json.action }}","rightValue":"handle_quantity","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7cf44166-d82b-4934-8fdb-c04fe26c702a","leftValue":"={{ $json.action }}","rightValue":"handle_budget","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-400,-48],"id":"0dc2f18f-a61c-4aef-b08f-061e9e9e658e","name":"Switch"},{"parameters":{"jsCode":"const item = $input.first();\n\n// Начало диалога - текстовый промпт\nif (item.json.message && item.json.message.text) {\n  return [{\n    json: {\n      action: 'ask_question',\n      chatId: item.json.message.chat.id,\n      userPrompt: item.json.message.text,\n      step: 'quantity'\n    }\n  }];\n}\n\n// Обработка кнопок количества\nif (item.json.callback_query && ['1', '3', '5'].includes(item.json.callback_query.data)) {\n  return [{\n    json: {\n      action: 'handle_quantity',\n      chatId: item.json.callback_query.message.chat.id,\n      quantity: item.json.callback_query.data,\n      callbackId: item.json.callback_query.id,\n      step: 'budget'\n    }\n  }];\n}\n\n// Обработка кнопок бюджета  \nif (item.json.callback_query && ['10k', '20k', '50k'].includes(item.json.callback_query.data)) {\n  return [{\n    json: {\n      action: 'handle_budget',\n      chatId: item.json.callback_query.message.chat.id, \n      budget: item.json.callback_query.data,\n      callbackId: item.json.callback_query.id,\n      step: 'complete'\n    }\n  }];\n}\n\nreturn null;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,-48],"id":"b955bdb8-d911-4b61-a4c6-1131cd829643","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"64194e2d-2dd0-47d2-a655-8d818d254a97","name":"userPrompt","value":"={{ $json.userPrompt }}","type":"string"},{"id":"38d57c54-af19-403c-bd6b-5a1d55bd09de","name":"chatId","value":"={{ $json.chatId }}","type":"string"},{"id":"2590d754-78c2-42ac-a096-9f7224e15c88","name":"step","value":"={{ $json.step }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-224],"id":"ec34c028-859c-4cfd-949f-40b9e409f70a","name":"Edit Fields1"}],"connections":{"Telegram Trigger1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Send a text message2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[]]},"Send a text message2":{"main":[[]]},"Code in JavaScript":{"main":[[{"node":"Switch","type":"main","index":0}]]},"yes or no":{"main":[[]]},"Edit Fields1":{"main":[[{"node":"yes or no","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bbda30b1-b9c6-4b04-ae10-eb3fcae3fac9","triggerCount":1,"shared":[{"createdAt":"2025-11-12T02:50:25.357Z","updatedAt":"2025-11-12T02:50:25.357Z","role":"workflow:owner","workflowId":"8MSg6RmF1MqyP1rj","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}