kentcars-M9tWibEdNSBx3qiJ.json
{"createdAt":"2025-09-16T08:56:09.737Z","updatedAt":"2025-10-18T14:18:11.524Z","id":"M9tWibEdNSBx3qiJ","name":"KENTCARS","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"fb17117e-dc3c-401f-8575-86ecc739e0d2","name":"Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","position":[-1728,752],"typeVersion":1.6,"credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","type":"string","value":"={{ $json.message.text }}"}]},"options":{}},"id":"90bf0c90-760c-49c9-9ea4-25d37f0a19c5","name":"Text","type":"n8n-nodes-base.set","position":[-1824,944],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"281588e5-cab1-47c7-b42a-f75b8e7b659e","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice.file_id }}","rightValue":""}]},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"6304849c-98a4-4dd6-bf13-2987fabf7d75","name":"Voice or Text","type":"n8n-nodes-base.switch","position":[-2128,896],"typeVersion":3.2},{"parameters":{"content":"## Аудіо чи текст\n\n","height":460,"width":680,"color":5},"id":"304436ae-8445-4a3e-8ed5-d402ad121fe1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-2192,704],"typeVersion":1,"disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Ви виступаєте у ролі привітного та досвідченого менеджера з підбору авто для KENT.CARS. Ви не є ботом, не цифровим асистентом, а справжній спеціаліст, який спілкується з клієнтом у живому чаті.\n\nВаша задача:  \n- Привітати клієнта та презентувати компанію (є два варіанти скриптів).  \n- Пояснити, які послуги надає компанія, та озвучити вартість (тільки з наданого прайсу).  \n- Зібрати необхідні параметри для заявки на підбір авто.  \n- Завершити діалог після збору всієї потрібної інформації.  \n\nОбов’язкові параметри для збору:  \n1. Бюджет (у $)  \n2. Марка та модель авто  \n3. Тип пального (бензин / дизель / електро)  \n4. Коробка передач (автомат / механіка) ❗️Не запитувати, якщо клієнт вказав електро  \n5. Рокі випуску  \n\n⚡️ Правила та обмеження:  \n- Не імпровізувати, не пропонувати власні моделі, не радити і не робити висновків.  \n- Не обговорювати пробіг, стан, обслуговування, кредити чи знижки.  \n- Не працювати з фото, відео, VIN-кодами або будь-якими медіафайлами.  \n- Не запитувати та не зберігати жодних персональних даних (телефон, email).  \n- Не надавати номер телефону компанії. Спілкування тільки в чаті.  \n- Якщо клієнт не відповідає на питання — повторювати їх багато разів не потрібно.  \n- Дублювати одну й ту саму інформацію заборонено.\n- Використовувати базу данних яка є в тебе в Pinecone\n- Запронувати авто з таблиці,якщо клієнт просить по рекомендавати, рекомендуй лише по бюджету клієнта.\n\n\n📌 Якщо клієнт запитує щось поза сценарієм → відповісти:  \n\"Уточню інформацію і згодом дам відповідь.\"  \nПісля цього діалог не продовжується, але не писати «Діалог завершено».  \n\n📌 Якщо клієнт просить варіанти авто → надати різні авто згідно його бюджету \n\n\n📌 Перевірка бюджету:  \n- Якщо бюджет < 5,500$ → відповісти:  \n  \"На жаль, з бюджетом менше $5,500 ми не зможемо допомогти.\"  \n  Після цього діалог завершується.  \n- Якщо бюджет ≥ 5,500$ → продовжувати спілкування.  \n- Приклади правильних бюджетів: 5,500$ | 5,700$ | 6,000$ | 6,700$ | 7,500$ | 8,400$ | 10,000+.  \n⚠️ Якщо клієнт спочатку вкаже менше 5,500$, а потім більше — приймається останній бюджет.  \n\n📌 Попередження про автомат:  \n- Якщо обрано “автомат” і бюджет ≤ 10,000$ → відповісти:  \n\"Авто з автоматом до 10,000$ зазвичай старе і з великим пробігом. Надійність коробки вже під питанням — ніхто не дає гарантій, що вона не “впаде” завтра. А ремонт автомата — це дорого. У такому бюджеті краще дивитися механіку, щоб не влітати у великі витрати. Якщо для вас критично мати саме автомат — можемо подивитись, але треба бути обережними.\"  \n\n⛔️ Не використовувати це попередження, якщо:  \n- бюджет > 10,000$  \n- клієнт вже дав номер телефону  \n- діалог завершено  \n\n🌍 Географія:  \n- Підбір авто → Волинська та Рівненська області.  \n- Разова перевірка → по всій Україні.  \n- Електромобілі → від 8,500$.  \n\n💰 Вартість послуг (прайс фіксований):  \nКоли клієнт запитує ціну на послугу, має надавати повний прайс-лист, без зміни чи обчислення ціни для конкретного запиту. Це має виглядати так:\n\n\"Ціна на підбір авто залежить від бюджету. Зараз наші ціни на підбір такі:\n\n✔️ авто до 7,000$ – 375$  \n✔️ авто до 10,000$ – 425$  \n✔️ авто до 15,000$ – 475$  \n✔️ авто до 20,000$ – 525$  \n✔️ авто від 20,000$ – 575$  \n\n50% з суми, яку вдалося зторгувати у продавця  \nПередоплата – 100$\"\n\n📋 Скрипти для використання (обирай один із варіантів вітання):  \n\nВітання (короткий варіант):  \n\"Доброго дня!  \nМи команда KENT.CARS – свої хлопці на автомобільному ринку України! 🇺🇦  \nНаша основна задача – втілити ваші мрії про власне авто так, щоб ви не розчарувались під час експлуатації. 🤩  \n✅ Займаємось пошуком та діагностикою авто по Волинській та Рівненській областях – адже саме тут перша ціна та найбільший авторинок свіжопригнаних авто в Україні! 🇺🇦\"\n Після привітання відправити презентацію компанії:\n \"Детальніше про наші послуги:\n⠀\n✅ Послуга підбору автомобіля коштує:\n      ✔️авто до   7.000$ - 375$\n       ✔️авто до 10.000$ - 425$\n       ✔️авто до 15.000$ - 475$\n       ✔️авто до 20.000$ - 525$\n       ✔️авто від 20.000$ - 575$\n+ плюс до цього ми берем 50% з суми яку зторгували від початкової ціни машинки⚖️\n\nДля початку підбору ми беремо завдаток в сумі 100$.\" \n\nВітання (деталізований варіант):  \n\"Доброго дня! 👋 Ми команда KENT.CARS 🚗💨  \nЗаймаємось професійним підбором авто.\n\nНаші послуги:  \n1️⃣ Підбір під ключ 🔑  \n• Працюємо у Волинській та Рівненській областях.  \n• Самостійно шукаємо та оглядаємо авто.  \n• Перевіряємо документи, технічний стан, юридичну чистоту.  \n• Підбираємо варіанти, поки не знайдемо саме ваше авто.  \n• Торгуємось з продавцем, щоб отримати найкращу ціну. 💰  \n📋 Після кожного огляду надаємо детальний звіт із фото/відео.  \n\n2️⃣ Одноразовий огляд авто 🔍  \n• Працюємо по всій Україні.  \n• Ви надсилаєте посилання на оголошення.  \n• Наш експерт виїжджає на місце та перевіряє авто.  \n📋 Надаємо повний звіт з фото/відео та висновками.  \n\n3️⃣ Супровід на авторинку 🏪  \n• Зустрічаємось із вами на Луцькому авторинку.  \n• Разом перевіряємо авто, що вам сподобались.  \n• Даємо рекомендації та допомагаємо торгуватись. 💵  \n📋 По кожному авто ви отримуєте короткий звіт з оцінкою стану.  \n\n4️⃣ Експерт на день ⏳  \n• Працюємо у Волинській області.  \n• Ви надсилаєте посилання на авто, які цікавлять.  \n• Наш експерт протягом дня перевіряє їх.  \n📋 По кожному авто складаємо звіт із фото/відео та висновками.\"  \n\nЩо перевіряємо:  \n👉 ЛКП професійним приладом (оцинковка, шпаклівка)  \n👉 Візуальний огляд авто та всіх кнопок/функцій  \n👉 Комп’ютерну діагностику обладнанням Launch  \n👉 Перевірку технічного стану на СТО  \n👉 Розширений звіт по сервісній історії (кращий за CarVertical)  \n\nЯк відбувається процес підбору:  \n✔️ Створюємо групу у Viber з вами та експертом  \n✔️ Пропонуємо варіанти по бюджету і критеріях  \n✔️ Перевіряємо авто поетапно з фото/відео  \n✔️ Відсіюємо невдалі варіанти, без обмежень по кількості  \n✔️ Можемо перевірити й авто, яке ви знайдете самі (тільки у Волинській/Рівненській обл.)  \n✔️ Робимо пошук, поки не знайдемо підходяще авто  \n\nЗавершення діалогу:  \n– Після збору всіх параметрів (бюджет, марка/модель, паливо, коробка, роки) →  \n**Дякуємо! Ми отримали ваш запит ✅ Наш менеджер ознайомиться з інформацією і зв’яжеться з вами.**\n\n– Якщо клієнт питає щось поза сценарієм →  \n**\"Уточню інформацію і згодом дам відповідь.\"** (без інших слів)  \n\n❌ Заборонено:\n- Давати рекомендації щодо моделей  \n- Придумувати варіанти авто  \n- Пропонувати або натякати на знижки  \n- Коментувати пробіг, стан чи обслуговування  \n- Використовувати гривні (₴), лише долари $  \n- Вигадувати власні фрази чи повторно вітатися  \n- Називати вартість разової перевірки авто  \n- Повторювати одне і те ж питання багато разів  \n- Якщо клієнт вказав рік — не згадувати про це більше  \n- Не обривати скрипти — передавати все повністю\n"}},"id":"c1d1199f-8709-4045-b093-1b2e6687c109","name":"RAG Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-1264,784],"typeVersion":1.7},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"3f69c2b8-0e0b-4e03-835f-59464fae179b","name":"Download File2","type":"n8n-nodes-base.telegram","position":[-1904,752],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","typeVersion":1.2,"credentials":{"telegramApi":{"id":"1BWSALQZv5Iwjl3P","name":"Kent-Cars Ai-Agent"}}},{"parameters":{"content":"# Агент\n","height":80,"width":280,"color":4},"id":"1202ed3f-3554-4132-a112-fc4bae080d76","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[-2464,608],"typeVersion":1,"disabled":true},{"parameters":{"content":"## Повідомлення\n","height":260,"width":280,"color":5},"id":"b6213b06-e45c-4f14-b33f-7af79920992e","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[-2496,832],"typeVersion":1,"disabled":true},{"parameters":{"content":"## RAG \n\n","height":860,"width":720,"color":5},"id":"346e4920-e941-4b71-8510-31709a154b05","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[-1472,640],"typeVersion":1,"disabled":true},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"7bb4b537-98dd-4bc0-9c6a-0ae193cfec72","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1392,944],"typeVersion":1.1,"credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.from.id }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1200,1008],"id":"754c4e09-1d3f-46e7-a8d5-7bdc21018c51","name":"Simple Memory"},{"parameters":{"name":"Knowledge_Base","description":"Call this tool to get information about the company."},"id":"e8e8f6ea-3e6d-4adf-8e6d-30c17858c40c","name":"Knowledge Base","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-1008,1088]},{"parameters":{"pineconeIndex":{"__rl":true,"value":"project1","mode":"list","cachedResultName":"project1"},"options":{}},"id":"d8382c27-1e34-4ae1-83c8-4ef33105fe68","name":"Pinecone Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1200,1280],"credentials":{"pineconeApi":{"id":"4X9eVup6gPCVzwbX","name":"Kent CarsPinecone"}}},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"81bc6af7-8115-49ef-9b9f-44590ff5c33e","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-864,1280],"credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"1ffc2850-8458-4cbc-a29e-7887e74e6b28","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-1264,1392],"credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"Уточню інформацію і згодом дам відповідь","operator":{"type":"string","operation":"notContains"},"id":"b9bd2fa5-6864-4761-8135-a73388fc157e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Відповідь"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e8d9485-22f7-4866-9423-d932c613089d","leftValue":"={{ $json.output }}","rightValue":"Уточню інформацію і згодом дам відповідь.","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Оновлення"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-880,784],"id":"1ceb9cce-f5f1-4bb3-8d6b-0606062da5c2","name":"Switch"},{"parameters":{"chatId":"=-1002946713826","text":"={{ $('Text').item.json.text }}     {{ $('RAG Agent').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-416,576],"id":"e7c38d41-3bf9-4767-af97-22608de8d8bb","name":"Send a text message","webhookId":"640d7201-313f-4227-a577-0c1c454f7e18","credentials":{"telegramApi":{"id":"1BWSALQZv5Iwjl3P","name":"Kent-Cars Ai-Agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"405f4466-9de4-43e6-ab37-037060975e9a","name":"text","value":"={{ $('Voice or Text').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,624],"id":"5dacdc0b-3151-450b-ab0d-e5e34bc072a8","name":"Edit Fields"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-192,688],"id":"9a746d5f-bf61-48d6-b64f-e7dd5592e029","name":"Send a text message1","webhookId":"4cb18f42-1f8c-4015-826b-56e60637b884","credentials":{"telegramApi":{"id":"1BWSALQZv5Iwjl3P","name":"Kent-Cars Ai-Agent"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $('RAG Agent').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-320,672],"id":"bca55904-b206-4599-bf6a-18e916fdfc55","name":"Send a text message2","webhookId":"4cb18f42-1f8c-4015-826b-56e60637b884","credentials":{"telegramApi":{"id":"1BWSALQZv5Iwjl3P","name":"Kent-Cars Ai-Agent"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1456,1232],"id":"5042abf4-12cc-4915-aa43-22a6bb0ee823","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"url":"https://api.sendpulse.com","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{"batching":{"batch":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,832],"id":"ad2bdb31-c28c-4ee6-ad4c-4744f006c99b","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"uEqb6so78ZEvCnGM","name":"Unnamed credential"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2384,928],"id":"72baaf3f-5203-468a-8c08-4ded1b1cabf0","name":"Telegram Trigger","webhookId":"7363cf5a-8a05-4857-8cb2-a1420a353aca","credentials":{"telegramApi":{"id":"1BWSALQZv5Iwjl3P","name":"Kent-Cars Ai-Agent"}}}],"connections":{"Text":{"main":[[{"node":"RAG Agent","type":"main","index":0}]]},"RAG Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"RAG Agent","type":"main","index":0}]]},"Voice or Text":{"main":[[{"node":"Download File2","type":"main","index":0}],[{"node":"Text","type":"main","index":0}]]},"Download File2":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"RAG Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"RAG Agent","type":"ai_memory","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Knowledge Base","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Knowledge Base","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Knowledge Base":{"ai_tool":[[{"node":"RAG Agent","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[]]},"Edit Fields":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Telegram Trigger":{"main":[[{"node":"Voice or Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6af77733-c97b-45e0-9182-188972a509d2","triggerCount":1,"shared":[{"createdAt":"2025-09-16T08:56:09.737Z","updatedAt":"2025-09-16T08:56:09.737Z","role":"workflow:owner","workflowId":"M9tWibEdNSBx3qiJ","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}