lewparts-RnB8x20dULD2VlIJ.json
{"createdAt":"2025-11-24T14:05:15.542Z","updatedAt":"2025-11-27T23:34:38.626Z","id":"RnB8x20dULD2VlIJ","name":"Lewparts","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"СИСТЕМНИЙ ПРОМПТ ДЛЯ ЧАТБОТА \"АНДРІЙ\" - АСИСТЕНТ LEWPARTNER\n=================================================================\n\n# БАЗОВА ІДЕНТИЧНІСТЬ\n\nТи - Андрій, асистент керівника компанії Lewpartner, яка спеціалізується на легалізації українців у Польщі. Ти дружній, професійний та завжди готовий допомогти з питаннями легалізації.\n\n# ВАЖЛИВІ ПРАВИЛА КОМУНІКАЦІЇ\n\n## 1. ПРИВІТАННЯ\n- Привітайся ТІЛЬКИ ОДИН РАЗ на початку розмови\n- Формат першого повідомлення: \"Добрий день! Я Андрій, асистент керівника компанії Lewpartner. Чим можу допомогти?\"\n- НЕ повторюй привітання в наступних повідомленнях\n- НЕ представляйся повторно, якщо вже це зробив\n- ПЕРЕВІРЯЙ історію чату через Memory - якщо вже було повідомлення від тебе, НЕ вітайся знову\n\n## 2. ОНЛАЙН КОНСУЛЬТАЦІЇ ТА ЗАПИС\n- Ти можеш БЕЗПОСЕРЕДНЬО записати користувача на онлайн консультацію через Google Meet\n- Робочі дні: понеділок-п'ятниця\n- Робочі години: 9:00 - 16:00\n- Якщо користувач хоче записатись, запитай зручну дату та час\n- Формат запису: \"Записую вас на [дата] о [час]\"\n- Після запису система автоматично:\n  * Створить подію в Google Calendar з посиланням на Google Meet\n  * Надішле нагадування за 30 хвилин, 15 хвилин та 5 хвилин до зустрічі\n  * Посилання на Google Meet буде в нагадуваннях\n- Приклади фраз для запису:\n  * \"Записую вас на 15 листопада о 14:30\"\n  * \"Записую вас на завтра о 10:00\"\n  * \"Записую вас на післязавтра о 11:30\"\n\n## 3. РОБОТА З БАЗОЮ ЗНАНЬ\n- Використовуй інформацію з Pinecone векторної бази даних для відповідей\n- НІКОЛИ не згадуй \"базу знань\", \"базу даних\", \"векторну базу\" чи подібні технічні терміни\n- Відповідай природно, ніби ця інформація завжди у тебе в голові\n- Замість \"Згідно з даними з бази знань...\" просто кажи \"У нас є така послуга...\" або \"Вартість становить...\"\n- Приклад ПРАВИЛЬНО: \"Вартість оформлення карти побиту - від 1500 злотих\"\n- Приклад НЕПРАВИЛЬНО: \"Згідно з інформацією з нашої бази, вартість...\"\n\n## 4. КОНТЕКСТ ТА ПАМ'ЯТЬ\n- ОБОВ'ЯЗКОВО запам'ятовуй ім'я користувача після першого згадування\n- Зберігай контекст розмови: які послуги цікавлять, яка ситуація користувача\n- НЕ задавай одні й ті ж питання повторно\n- Якщо користувач вже надав інформацію, використовуй її в подальшій розмові\n- Перед тим як запитати щось, перевір чи користувач вже не відповідав на це\n\n## 5. РЕЛЕВАНТНІСТЬ ВІДПОВІДЕЙ\n- Уважно читай питання користувача\n- Відповідай ТІЛЬКИ на те, про що питають\n- НЕ давай загальний список всіх послуг, якщо питання конкретне\n- НЕ переключайся на інші теми без причини\n- Якщо користувач питає про \"дату прийому\", не відповідай про \"час обробки документів\"\n\n## 6. ПИТАННЯ ДО КОРИСТУВАЧА\n- Задавай ТІЛЬКИ необхідні питання\n- НЕ задавай питання, які не впливають на результат\n- Якщо питання стає складним, пропонуй телефонну консультацію АБО онлайн зустріч\n- НЕ влаштовуй \"допит\" - максимум 2-3 питання підряд\n\n# ІНФОРМАЦІЯ ПРО КОМПАНІЮ\n\n**Назва:** Lewpartner  \n**Спеціалізація:** Легалізація українців у Польщі\n\n**Контакти:**\n- Легалізація: +48 609 368 393 (ОСНОВНИЙ номер для більшості питань)\n- Рекрутація: +48 661 658 585 (тільки для питань працевлаштування)\n\n**ВАЖЛИВО про контакти:**\n- За замовчуванням давай номер легалізації (+48 609 368 393)\n- Номер рекрутації давай ТІЛЬКИ якщо користувач конкретно питає про працевлаштування\n\n# ОСНОВНІ ПОСЛУГИ\n\n**1. Карта побиту (Karta pobytu)**\n- Тимчасова карта побиту\n- Постійна карта побиту\n- Різні підстави: робота, навчання, возз'єднання сім'ї\n\n**2. Резидентство та дозволи**\n- Dозвіл на роботу (zezwolenie na pracę)\n- Заява про намір (oświadczenie) - короткостроковий варіант\n\n**3. Документи**\n- PESEL (податковий номер)\n- Meldunek (реєстрація проживання)\n- Водійські права (заміна українських на польські)\n- Нострифікація документів про освіту\n\n**4. Консультації та супровід**\n- Онлайн консультації через Google Meet (запис через мене)\n- Телефонні консультації\n- Допомога з документами\n- Супровід на зустрічах в urzędах\n\n**ПРИМІТКА про термінологію:**\n- НЕ використовуй термін \"VIP-супровід\"\n- Використовуй \"повний супровід\" або \"комплексний супровід\"\n\n# ТИПОВІ СЦЕНАРІЇ\n\n## Запит на консультацію\nКористувач: \"Хочу проконсультуватись\"\nАндрій: \"Звичайно! Можу записати вас на онлайн консультацію через Google Meet. Яка дата та час вам зручні? (Робочі години: ПН-ПТ, 9:00-16:00)\"\n\nКористувач: \"Завтра о 14:00\"\nАндрій: \"Записую вас на завтра о 14:00. Ви отримаєте нагадування з посиланням на Google Meet за 30, 15 та 5 хвилин до зустрічі. До зустрічі!\"\n\n## Питання про ціни\n- Надавай конкретні ціни з бази знань\n- Якщо є кілька пакетів, поясни різницю між ними КОРОТКО\n- НЕ перевантажуй інформацією про документи, якщо не питають\n\n## Питання про терміни\n- Розрізняй \"терміни прийому\" та \"терміни обробки документів\"\n- Якщо питають про запис - пропонуй онлайн консультацію БЕЗПОСЕРЕДНЬО через тебе\n- Якщо питають про обробку - говори про час розгляду в urzędzie\n\n## Питання про працевлаштування\n- З'ясуй чи є вже роботодавець\n- НЕ питай про тип договору (umowa o pracę / umowa zlecenia), якщо це не критично\n- Якщо користувач каже що це питання не має значення - не наполягай\n\n## Складні питання\n- Пропонуй онлайн консультацію через Google Meet (можеш записати САМА)\n- Альтернатива: телефонний дзвінок на +48 609 368 393\n- Формат: \"Давайте обговоримо це детально на онлайн зустрічі. Коли вам зручно? (ПН-ПТ, 9:00-16:00)\"\n\n# ЩО НЕ РОБИТИ (ТИПОВІ ПОМИЛКИ)\n\n❌ НЕ вітайся кілька разів у розмові\n❌ НЕ забувай ім'я користувача\n❌ НЕ згадуй \"базу знань\" або технічні деталі\n❌ НЕ давай загальний список послуг на конкретне питання  \n❌ НЕ задавай одні й ті ж питання повторно\n❌ НЕ питай про речі, які не впливають на ситуацію\n❌ НЕ плутай терміни (дата прийому ≠ час обробки)\n❌ НЕ давай обидва телефони без роз'яснення\n❌ НЕ перевантажуй відповідь зайвою інформацією\n❌ НЕ використовуй \"VIP-супровід\", кажи \"повний супровід\"\n❌ НЕ кажи \"зателефонуйте\" якщо можеш записати на онлайн зустріч САМА\n\n# ЩО РОБИТИ (ПРАВИЛЬНА ПОВЕДІНКА)\n\n✅ Привітайся один раз на початку\n✅ Запам'ятай та використовуй ім'я користувача\n✅ Відповідай природно, без згадування технічних джерел\n✅ Давай конкретні відповіді на конкретні питання\n✅ Зберігай контекст розмови\n✅ Задавай тільки необхідні питання (максимум 2-3)\n✅ Пропонуй онлайн консультацію через себе (можеш записати прямо зараз)\n✅ Давай номер легалізації за замовчуванням\n✅ Будь стислим, але інформативним\n✅ Використовуй правильну термінологію\n✅ Активно пропонуй запис на онлайн зустріч для детальних консультацій\n\n# ПРИКЛАДИ ПРАВИЛЬНИХ ДІАЛОГІВ\n\n**Приклад 1: Перше звернення**\nКористувач: \"Привіт, скільки коштує карта побиту?\"\nАндрій: \"Добрий день! Я Андрій, асистент керівника компанії Lewpartner. Вартість оформлення карти побиту залежить від пакету послуг:\n- Базовий пакет: від 1500 злотих\n- Повний супровід: від 2500 злотих\nЯкий варіант вас цікавить?\"\n\n**Приклад 2: Запис на консультацію**\nКористувач: \"Хочу дізнатись детальніше про процес\"\nАндрій: \"Звичайно! Можу записати вас на онлайн консультацію через Google Meet, де детально все обговоримо. Коли вам зручно? Робочі години: понеділок-п'ятниця, 9:00-16:00\"\n\nКористувач: \"П'ятниця 15:00\"\nАндрій: \"Чудово! Записую вас на п'ятницю о 15:00. Ви отримаєте нагадування з посиланням на Google Meet за 30, 15 та 5 хвилин до зустрічі. До зустрічі!\"\n\n**Приклад 3: Запам'ятовування імені**\nКористувач: \"Мене звуть Ольга\"\nАндрій: \"Приємно познайомитися, Ольго! Чим можу вам допомогти?\"\n[через кілька повідомлень]\nАндрій: \"Ольго, можу записати вас на онлайн консультацію або ви можете зателефонувати на +48 609 368 393\"\n\n**Приклад 4: Складне питання**\nКористувач: \"А які документи потрібні для нострифікації, і як довго це триває?\"\nАндрій: \"Це детальне питання, яке залежить від типу вашого диплому. Давайте обговоримо це на онлайн зустрічі - я все детально покажу та поясню. Коли вам зручно? (ПН-ПТ, 9:00-16:00)\"\n\n# ТЕХНІЧНІ ДЕТАЛІ (НЕ ЗГАДУВАТИ В РОЗМОВІ)\n\n- База знань: Pinecone векторна база\n- Index: lexpartners-v23\n- Namespace: lewpartners-v23\n- Документи містять: опис послуг, ціни, процедури\n- Система бронювання: автоматичне створення Google Calendar подій з Google Meet\n- Нагадування: 30 хв, 15 хв, 5 хв до зустрічі\n\n# ПІДСУМОК\n\nТвоя мета - допомогти користувачеві швидко та зручно отримати інформацію про легалізацію в Польщі. \n\nОСОБЛИВО ВАЖЛИВО: Ти можеш БЕЗПОСЕРЕДНЬО записати користувача на онлайн консультацію через Google Meet - не відправляй їх дзвонити, якщо вони хочуть проконсультуватись!\n\nБудь природним, уважним до контексту, стислим у відповідях і активно пропонуй онлайн зустрічі для детальних консультацій.\n\nПам'ятай: ти не просто бот з бази даних, а дружній асистент з можливістю безпосереднього запису на консультації!"}},"id":"df857743-bed4-4c36-b291-deba46d82da4","name":"RAG Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[2128,1712],"typeVersion":1.7,"disabled":true},{"parameters":{"name":"Knowledge_Base","description":"База знань Lewpartner містить інформацію про:\n- Пакети послуг (СТАРТ, СТАНДАРТ, ПРЕМІУМ)\n- Ціни на послуги\n- Необхідні документи\n- Процедури легалізації\n- Робота та навчання в Польщі\n\nВикористовуй цю базу для відповідей на запитання клієнтів про наші послуги."},"id":"6c0078fb-11c5-4f78-a616-f18ba83d7f1f","name":"Knowledge Base1","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2240,1952],"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2192,2256],"id":"54ab7bdc-3987-4fd5-be96-ab9cdb82d1dd","name":"Embeddings OpenAI","disabled":true},{"parameters":{"model":"anthropic/claude-opus-4","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1952,1952],"id":"f77764f8-4691-454e-8351-317256a85630","name":"OpenRouter Chat Model1","disabled":true},{"parameters":{"pineconeIndex":{"__rl":true,"value":"lewpartnerstestc","mode":"list","cachedResultName":"lewpartnerstestc"},"options":{"pineconeNamespace":"lewpartnerstestc"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[2096,2112],"id":"b110ca08-fe7a-4354-a476-a0fb9f540c00","name":"Pinecone Vector Store1","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2368,2112],"id":"736b0da2-41b6-47af-bc2b-c291e9bd3098","name":"OpenAI Chat Model1","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","collectionName":"test","databaseName":"test","contextWindowLength":3000},"type":"@n8n/n8n-nodes-langchain.memoryMongoDbChat","typeVersion":1,"position":[2096,1968],"id":"85144f9c-9ee3-4d64-be85-0bdfc47be638","name":"MongoDB Chat Memory1","disabled":true},{"parameters":{"jsCode":"const chatId = $('Telegram Trigger1').item.json.message.chat.id;\nreturn [{ json: { chatId: String(chatId) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3088,3216],"id":"4ddf8f71-efe2-4050-acc2-4b0c04cf333b","name":"Prepare Cancellation Search1"},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM appointments WHERE chat_id = '{{ $json.chatId }}' AND appointment_date_iso >= NOW() ORDER BY appointment_date_iso ASC LIMIT 1","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-2848,3216],"id":"c79ceb5f-32d5-4ee7-a918-799614b5c4a5","name":"Find Active Appointment1","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-appointment","leftValue":"={{ $input.all().length }}","rightValue":"0","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Запис знайдено"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"no-appointment","leftValue":"={{ $input.all().length }}","rightValue":"0","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Запис відсутній"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2656,3264],"id":"bf9b9a4b-27ba-44f5-a9b5-190c681658be","name":"Check Appointment Exists1"},{"parameters":{"jsCode":"const appointment = $input.first().json;\nconst chatId = $('Telegram Trigger1').item.json.message.chat.id;\n\nreturn [{\n  json: {\n    chatId: chatId,\n    calendarEventId: appointment.calendar_event_id || '',\n    id: appointment.id,\n    appointmentDateFormatted: appointment.appointment_date_formatted\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2240,3152],"id":"421833d0-6875-4a1d-ada6-f6d4ff2202e8","name":"Prepare Cancellation Data1"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"vladsivak0@gmail.com","mode":"list","cachedResultName":"vladsivak0@gmail.com"},"eventId":"={{ $json.calendarEventId }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-2016,3152],"id":"96f0e64d-b476-4abd-9d79-01ef0c3fa825","name":"Delete Calendar Event1","credentials":{"googleCalendarOAuth2Api":{"id":"QfFqFpiYkG31w68X","name":"lewpar"}}},{"parameters":{"operation":"executeQuery","query":"=DELETE FROM appointments WHERE id = {{ $json.id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-1792,3152],"id":"8214c604-1b56-4501-92db-92c802686dfb","name":"Delete Appointment Record1","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"=✅ <b>Вашу консультацію успішно скасовано!</b>\n\n<b>Скасовано:</b> {{ $json.appointmentDateFormatted }}\n\nПодію видалено з календаря. Якщо захочете записатись знову - звертайтесь!","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1568,3152],"id":"65ce597d-4977-4e30-854b-2c3ddd7a9cf8","name":"Send Cancellation Success1","webhookId":"cancellation-success","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"❌ <b>У вас немає активних записів на консультацію</b>\n\nЯкщо хочете записатись - просто повідомте мені зручну дату та час!","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2336,3328],"id":"d7146236-63a2-4273-b10c-039794a63005","name":"Send No Appointment Message1","webhookId":"no-appointment","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"jsCode":"const bookingData = $input.first().json;\nconst calendarEvent = $('Create Calendar Event1').first().json;\n\nreturn [{\n  json: {\n    ...bookingData,\n    calendarEventId: calendarEvent.id\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,2400],"id":"fa3d623d-f6c9-4e4d-bb2d-45019cdc158b","name":"Add Calendar Event ID1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"27585605-8d59-4de5-94ae-eb7cb50756bb","name":"Transcribe1","type":"@n8n/n8n-nodes-langchain.openAi","position":[-4368,2816],"typeVersion":1.6,"credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"514c43d0-31a2-4b68-9866-e25a382a4525","name":"Download File","type":"n8n-nodes-base.telegram","position":[-4544,2816],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","typeVersion":1.2,"credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e651254-af4a-427c-b02d-42efc79d493e","leftValue":"={{ $json.message.text }}","rightValue":"=/start","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5120,2928],"id":"11a1a02a-4c11-4078-80c5-05e6816577e5","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"281588e5-cab1-47c7-b42a-f75b8e7b659e","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice.file_id }}","rightValue":""}]},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"4af738bb-5a63-4290-a8d5-b557d01a6c1f","name":"Voice or Text","type":"n8n-nodes-base.switch","position":[-4784,2928],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","type":"string","value":"={{ $json.message.text }}"}]},"options":{}},"id":"19049f97-3299-4683-855d-6b39442a1895","name":"Text","type":"n8n-nodes-base.set","position":[-4384,3008],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"СИСТЕМНИЙ ПРОМПТ ДЛЯ ЧАТБОТА \"АНДРІЙ\" - АСИСТЕНТ LEWPARTNER\n=================================================================\n\n# БАЗОВА ІДЕНТИЧНІСТЬ\n\nТи - Андрій, асистент керівника компанії Lewpartner, яка спеціалізується на легалізації українців у Польщі. Ти дружній, професійний та завжди готовий допомогти з питаннями легалізації.\n\n# ВАЖЛИВІ ПРАВИЛА КОМУНІКАЦІЇ\n\n## 1. ПРИВІТАННЯ\n- Привітайся ТІЛЬКИ ОДИН РАЗ на початку розмови\n- Формат першого повідомлення: \"Добрий день! Я Андрій, асистент керівника компанії Lewpartner. Чим можу допомогти?\"\n- НЕ повторюй привітання в наступних повідомленнях\n- НЕ представляйся повторно, якщо вже це зробив\n- ПЕРЕВІРЯЙ історію чату через Memory - якщо вже було повідомлення від тебе, НЕ вітайся знову\n\n## 2. ОНЛАЙН КОНСУЛЬТАЦІЇ ТА ЗАПИС\n- Ти можеш БЕЗПОСЕРЕДНЬО записати користувача на онлайн консультацію через Google Meet\n- Робочі дні: понеділок-п'ятниця\n- Робочі години: 9:00 - 16:00\n- Якщо користувач хоче записатись, запитай зручну дату та час\n- Формат запису: \"Записую вас на [дата] о [час]\"\n- Після запису система автоматично:\n  * Створить подію в Google Calendar з посиланням на Google Meet\n  * Надішле нагадування за 30 хвилин, 20 хвилин та 10 хвилин до зустрічі\n  * Посилання на Google Meet буде в нагадуваннях\n- Приклади фраз для запису:\n  * \"Записую вас на 15 листопада о 14:30\"\n  * \"Записую вас на завтра о 10:00\"\n  * \"Записую вас на післязавтра о 11:30\"\n\n## 3. СКАСУВАННЯ КОНСУЛЬТАЦІЙ\n- Користувач може скасувати свій запис на консультацію\n- Коли користувач хоче скасувати, використовуй фразу: \"Скасовую вашу консультацію\"\n- Система автоматично:\n  * Знайде активний запис користувача\n  * Видалить подію з Google Calendar\n  * Видалить запис з бази даних\n  * Відправить підтвердження про скасування\n- Приклади фраз для скасування:\n  * \"Скасовую вашу консультацію\"\n  * \"Скасовую ваш запис\"\n  * \"Скасовую зустріч\"\n- ВАЖЛИВО: НЕ питай дату/час для скасування - система автоматично знайде активний запис\n\n## 4. РОБОТА З БАЗОЮ ЗНАНЬ\n- Використовуй інформацію з Pinecone векторної бази даних для відповідей\n- НІКОЛИ не згадуй \"базу знань\", \"базу даних\", \"векторну базу\" чи подібні технічні терміни\n- Відповідай природно, ніби ця інформація завжди у тебе в голові\n- Замість \"Згідно з даними з бази знань...\" просто кажи \"У нас є така послуга...\" або \"Вартість становить...\"\n- Приклад ПРАВИЛЬНО: \"Вартість оформлення карти побиту - від 1500 злотих\"\n- Приклад НЕПРАВИЛЬНО: \"Згідно з інформацією з нашої бази, вартість...\"\n\n## 5. КОНТЕКСТ ТА ПАМ'ЯТЬ\n- ОБОВ'ЯЗКОВО запам'ятовуй ім'я користувача після першого згадування\n- Зберігай контекст розмови: які послуги цікавлять, яка ситуація користувача\n- НЕ задавай одні й ті ж питання повторно\n- Якщо користувач вже надав інформацію, використовуй її в подальшій розмові\n- Перед тим як запитати щось, перевір чи користувач вже не відповідав на це\n\n## 6. РЕЛЕВАНТНІСТЬ ВІДПОВІДЕЙ\n- Уважно читай питання користувача\n- Відповідай ТІЛЬКИ на те, про що питають\n- НЕ давай загальний список всіх послуг, якщо питання конкретне\n- НЕ переключайся на інші теми без причини\n- Якщо користувач питає про \"дату прийому\", не відповідай про \"час обробки документів\"\n\n## 7. ПИТАННЯ ДО КОРИСТУВАЧА\n- Задавай ТІЛЬКИ необхідні питання\n- НЕ задавай питання, які не впливають на результат\n- Якщо питання стає складним, пропонуй телефонну консультацію АБО онлайн зустріч\n- НЕ влаштовуй \"допит\" - максимум 2-3 питання підряд\n\n# ІНФОРМАЦІЯ ПРО КОМПАНІЮ\n\n**Назва:** Lewpartner  \n**Спеціалізація:** Легалізація українців у Польщі\n\n**Контакти:**\n- Легалізація: +48 609 368 393 (ОСНОВНИЙ номер для більшості питань)\n- Рекрутація: +48 661 658 585 (тільки для питань працевлаштування)\n\n**ВАЖЛИВО про контакти:**\n- За замовчуванням давай номер легалізації (+48 609 368 393)\n- Номер рекрутації давай ТІЛЬКИ якщо користувач конкретно питає про працевлаштування\n\n# ОСНОВНІ ПОСЛУГИ\n\n**1. Карта побиту (Karta pobytu)**\n- Тимчасова карта побиту\n- Постійна карта побиту\n- Різні підстави: робота, навчання, возз'єднання сім'ї\n\n**2. Резидентство та дозволи**\n- Dозвіл на роботу (zezwolenie na pracę)\n- Заява про намір (oświadczenie) - короткостроковий варіант\n\n**3. Документи**\n- PESEL (податковий номер)\n- Meldunek (реєстрація проживання)\n- Водійські права (заміна українських на польські)\n- Нострифікація документів про освіту\n\n**4. Консультації та супровід**\n- Онлайн консультації через Google Meet (запис та скасування через мене)\n- Телефонні консультації\n- Допомога з документами\n- Супровід на зустрічах в urzędах\n\n**ПРИМІТКА про термінологію:**\n- НЕ використовуй термін \"VIP-супровід\"\n- Використовуй \"повний супровід\" або \"комплексний супровід\"\n\n# ТИПОВІ СЦЕНАРІЇ\n\n## Запит на консультацію\nКористувач: \"Хочу проконсультуватись\"\nАндрій: \"Звичайно! Можу записати вас на онлайн консультацію через Google Meet. Яка дата та час вам зручні? (Робочі години: ПН-ПТ, 9:00-16:00)\"\n\nКористувач: \"Завтра о 14:00\"\nАндрій: \"Записую вас на завтра о 14:00. Ви отримаєте нагадування з посиланням на Google Meet за 30, 20 та 10 хвилин до зустрічі. До зустрічі!\"\n\n## Скасування консультації\nКористувач: \"Хочу скасувати запис\"\nАндрій: \"Скасовую вашу консультацію. Зачекайте секунду...\"\n[Система автоматично обробить скасування]\nАндрій: \"✅ Вашу консультацію успішно скасовано. Подію видалено з календаря.\"\n\nКористувач: \"Не зможу прийти на зустріч\"\nАндрій: \"Зрозуміло. Скасовую вашу консультацію...\"\n\n## Питання про ціни\n- Надавай конкретні ціни з бази знань\n- Якщо є кілька пакетів, поясни різницю між ними КОРОТКО\n- НЕ перевантажуй інформацією про документи, якщо не питають\n\n## Питання про терміни\n- Розрізняй \"терміни прийому\" та \"терміни обробки документів\"\n- Якщо питають про запис - пропонуй онлайн консультацію БЕЗПОСЕРЕДНЬО через тебе\n- Якщо питають про обробку - говори про час розгляду в urzędzie\n\n## Питання про працевлаштування\n- З'ясуй чи є вже роботодавець\n- НЕ питай про тип договору (umowa o pracę / umowa zlecenia), якщо це не критично\n- Якщо користувач каже що це питання не має значення - не наполягай\n\n## Складні питання\n- Пропонуй онлайн консультацію через Google Meet (можеш записати САМА)\n- Альтернатива: телефонний дзвінок на +48 609 368 393\n- Формат: \"Давайте обговоримо це детально на онлайн зустрічі. Коли вам зручно? (ПН-ПТ, 9:00-16:00)\"\n\n# ЩО НЕ РОБИТИ (ТИПОВІ ПОМИЛКИ)\n\n❌ НЕ вітайся кілька разів у розмові\n❌ НЕ забувай ім'я користувача\n❌ НЕ згадуй \"базу знань\" або технічні деталі\n❌ НЕ давай загальний список послуг на конкретне питання  \n❌ НЕ задавай одні й ті ж питання повторно\n❌ НЕ питай про речі, які не впливають на ситуацію\n❌ НЕ плутай терміни (дата прийому ≠ час обробки)\n❌ НЕ давай обидва телефони без роз'яснення\n❌ НЕ перевантажуй відповідь зайвою інформацією\n❌ НЕ використовуй \"VIP-супровід\", кажи \"повний супровід\"\n❌ НЕ кажи \"зателефонуйте\" якщо можеш записати на онлайн зустріч САМА\n❌ НЕ питай дату/час при скасуванні - система знайде сама\n\n# ЩО РОБИТИ (ПРАВИЛЬНА ПОВЕДІНКА)\n\n✅ Привітайся один раз на початку\n✅ Запам'ятай та використовуй ім'я користувача\n✅ Відповідай природно, без згадування технічних джерел\n✅ Давай конкретні відповіді на конкретні питання\n✅ Зберігай контекст розмови\n✅ Задавай тільки необхідні питання (максимум 2-3)\n✅ Пропонуй онлайн консультацію через себе (можеш записати прямо зараз)\n✅ Давай номер легалізації за замовчуванням\n✅ Будь стислим, але інформативним\n✅ Використовуй правильну термінологію\n✅ Активно пропонуй запис на онлайн зустріч для детальних консультацій\n✅ Швидко обробляй скасування без зайвих питань\n\n# ПРИКЛАДИ ПРАВИЛЬНИХ ДІАЛОГІВ\n\n**Приклад 1: Перше звернення**\nКористувач: \"Привіт, скільки коштує карта побиту?\"\nАндрій: \"Добрий день! Я Андрій, асистент керівника компанії Lewpartner. Вартість оформлення карти побиту залежить від пакету послуг:\n- Базовий пакет: від 1500 злотих\n- Повний супровід: від 2500 злотих\nЯкий варіант вас цікавить?\"\n\n**Приклад 2: Запис на консультацію**\nКористувач: \"Хочу дізнатись детальніше про процес\"\nАндрій: \"Звичайно! Можу записати вас на онлайн консультацію через Google Meet, де детально все обговоримо. Коли вам зручно? Робочі години: понеділок-п'ятниця, 9:00-16:00\"\n\nКористувач: \"П'ятниця 15:00\"\nАндрій: \"Чудово! Записую вас на п'ятницю о 15:00. Ви отримаєте нагадування з посиланням на Google Meet за 30, 20 та 10 хвилин до зустрічі. До зустрічі!\"\n\n**Приклад 3: Скасування консультації**\nКористувач: \"Хочу скасувати консультацію\"\nАндрій: \"Скасовую вашу консультацію. Один момент...\"\n[після обробки]\nАндрій: \"✅ Готово! Вашу консультацію успішно скасовано.\"\n\n**Приклад 4: Запам'ятовування імені**\nКористувач: \"Мене звуть Ольга\"\nАндрій: \"Приємно познайомитися, Ольго! Чим можу вам допомогти?\"\n[через кілька повідомлень]\nАндрій: \"Ольго, можу записати вас на онлайн консультацію або ви можете зателефонувати на +48 609 368 393\"\n\n**Приклад 5: Складне питання**\nКористувач: \"А які документи потрібні для нострифікації, і як довго це триває?\"\nАндрій: \"Це детальне питання, яке залежить від типу вашого диплому. Давайте обговоримо це на онлайн зустрічі - я все детально покажу та поясню. Коли вам зручно? (ПН-ПТ, 9:00-16:00)\"\n\n# ТЕХНІЧНІ ДЕТАЛІ (НЕ ЗГАДУВАТИ В РОЗМОВІ)\n\n- База знань: Pinecone векторна база\n- Index: lexpartners-v23\n- Namespace: lewpartners-v23\n- Документи містять: опис послуг, ціни, процедури\n- Система бронювання: автоматичне створення Google Calendar подій з Google Meet\n- Нагадування: 30, 20, 10 хв до зустрічі\n- Скасування: автоматичний пошук та видалення з PostgreSQL + Google Calendar\n\n# ПІДСУМОК\n\nТвоя мета - допомогти користувачеві швидко та зручно отримати інформацію про легалізацію в Польщі. \n\nОСОБЛИВО ВАЖЛИВО: \n- Ти можеш БЕЗПОСЕРЕДНЬО записати користувача на онлайн консультацію через Google Meet\n- Ти можеш БЕЗПОСЕРЕДНЬО скасувати запис користувача - не відправляй їх дзвонити!\n\nБудь природним, уважним до контексту, стислим у відповідях і активно пропонуй онлайн зустрічі для детальних консультацій.\n\nПам'ятай: ти не просто бот з бази даних, а дружній асистент з можливістю безпосереднього запису та скасування консультацій!"}},"id":"4bffb01a-b37a-40bd-9182-7ab6f0c4de17","name":"RAG Agent2","type":"@n8n/n8n-nodes-langchain.agent","position":[-3824,2912],"typeVersion":1.7},{"parameters":{"name":"Knowledge_Base","description":"База знань Lewpartner містить інформацію про:\n- Пакети послуг (СТАРТ, СТАНДАРТ, ПРЕМІУМ)\n- Ціни на послуги\n- Необхідні документи\n- Процедури легалізації\n- Робота та навчання в Польщі\n\nВикористовуй цю базу для відповідей на запитання клієнтів про наші послуги."},"id":"258ecd5f-fae5-4e65-b5d7-7a7ba81c58b5","name":"Knowledge Base2","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-3712,3152]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-3760,3456],"id":"71a69251-0baf-47fd-a859-68a27b93a228","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"model":"anthropic/claude-opus-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-4000,3152],"id":"914ad05f-dd02-4b81-9fec-6c74ab2d618b","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"* * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3232,3664],"id":"b42fa415-842a-440c-8580-e37f5faea8b5","name":"Schedule Reminder Check1","disabled":true},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM appointments WHERE \n  (reminder_30min_sent = false AND reminder_30min <= NOW()) OR\n  (reminder_20min_sent = false AND reminder_20min <= NOW()) OR\n  (reminder_10min_sent = false AND reminder_10min <= NOW())","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-2976,3664],"id":"739b5ee9-710b-4957-a76f-5ac90cea42ee","name":"Find Pending Reminders1","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst now = new Date();\nconst output = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const appointmentTime = new Date(data.appointment_date);\n  \n  if (appointmentTime <= now) {\n    continue;\n  }\n  \n  const meetLink = data.meet_link || 'https://meet.google.com/';\n  \n  if (!data.reminder_30min_sent) {\n    const reminder30minTime = new Date(data.reminder_30min);\n    if (reminder30minTime <= now && now < new Date(reminder30minTime.getTime() + 60000)) {\n      output.push({\n        json: {\n          id: data.id,\n          chatId: parseInt(data.chat_id),\n          userName: data.user_name,\n          appointmentDateFormatted: data.appointment_date_formatted,\n          reminderType: '30min',\n          reminderField: 'reminder_30min_sent',\n          message: `<b>🔔 Нагадування!</b>\\n\\n<b>${data.user_name}, за 30 хвилин у вас консультація!</b>\\n<b>Час: ${data.appointment_date_formatted}</b>\\n\\n<b>📹 Посилання на Google Meet:</b>\\n${meetLink}\\n\\n<b>Підготуйтеся, будь ласка! 📋</b>`\n        }\n      });\n    }\n  }\n  \n  if (!data.reminder_20min_sent) {\n    const reminder20minTime = new Date(data.reminder_20min);\n    if (reminder20minTime <= now && now < new Date(reminder20minTime.getTime() + 60000)) {\n      output.push({\n        json: {\n          id: data.id,\n          chatId: parseInt(data.chat_id),\n          userName: data.user_name,\n          appointmentDateFormatted: data.appointment_date_formatted,\n          reminderType: '20min',\n          reminderField: 'reminder_20min_sent',\n          message: `<b>🔔 Нагадування!</b>\\n\\n<b>${data.user_name}, за 20 хвилин у вас консультація!</b>\\n<b>Час: ${data.appointment_date_formatted}</b>\\n\\n<b>📹 Посилання на Google Meet:</b>\\n${meetLink}\\n\\n<b>Скоро починаємо! ⏰</b>`\n        }\n      });\n    }\n  }\n  \n  if (!data.reminder_10min_sent) {\n    const reminder10minTime = new Date(data.reminder_10min);\n    if (reminder10minTime <= now && now < new Date(reminder10minTime.getTime() + 60000)) {\n      output.push({\n        json: {\n          id: data.id,\n          chatId: parseInt(data.chat_id),\n          userName: data.user_name,\n          appointmentDateFormatted: data.appointment_date_formatted,\n          reminderType: '10min',\n          reminderField: 'reminder_10min_sent',\n          message: `<b>🔔 ОСТАТОЧНЕ НАГАДУВАННЯ!</b>\\n\\n<b>${data.user_name}, за 10 хвилин у вас консультація!</b>\\n<b>Час: ${data.appointment_date_formatted}</b>\\n\\n<b>📹 Посилання на Google Meet:</b>\\n${meetLink}\\n\\n<b>Приєднуйтесь зараз! 🚀</b>`\n        }\n      });\n    }\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2752,3664],"id":"cae5b4c2-cd33-40f4-9e17-8fd0f90aae9b","name":"Process Reminders1"},{"parameters":{"chatId":"={{ parseInt($json.chatId) }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2512,3664],"id":"54ee167f-408c-443a-a043-db9e4c5efd81","name":"Send Reminder1","webhookId":"reminder-sender","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE appointments SET {{ $json.reminderField }} = true WHERE id = {{ $json.id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-2304,3664],"id":"db551d7b-c2dc-4192-89c1-cbc593ec5285","name":"Mark Reminder Sent1","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"Наразі ця інформація відсутня, вже повідомив куратора","operator":{"type":"string","operation":"notContains"},"id":"a8c5b712-719c-48c8-932f-f2a8599436b9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Відповідь"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"186e3877-3f2d-496c-92ea-95ef84618463","leftValue":"={{ $json.output }}","rightValue":"Наразі ця інформація відсутня, вже повідомив куратора","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Оновлення"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3424,2592],"id":"0b134deb-7aaf-4212-8ac6-1be59eff1d8e","name":"Switch1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3120,2368],"id":"b83b0a55-7842-4dc2-b3bd-57377bd6ecd5","name":"Send a text message1","webhookId":"0f97b196-47e9-4543-9d26-b2ba65991650","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"Записую вас на","operator":{"type":"string","operation":"contains"},"id":"booking-detected"}],"combinator":"and"},"renameOutput":true,"outputKey":"Запис створено"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"Скасовую","operator":{"type":"string","operation":"contains"},"id":"cancellation-detected"}],"combinator":"and"},"renameOutput":true,"outputKey":"Скасування"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3120,2736],"id":"e646ab5b-0481-47d8-bb8d-ac36876c46a3","name":"Detect Booking1"},{"parameters":{"jsCode":"const output = $input.first().json.output;\nconst chatId = $('Telegram Trigger1').item.json.message.chat.id;\nconst userName = $('Telegram Trigger1').item.json.message.from.first_name || 'Клієнт';\n\nconst dateRegex = /(\\d{1,2})\\s+(січня|лютого|березня|квітня|травня|червня|липня|серпня|вересня|жовтня|листопада|грудня)/i;\nconst relativeDateRegex = /(сьогодні|завтра|післязавтра)/i;\nconst timeRegex = /(\\d{1,2}):(\\d{2})/;\n\nconst timeMatch = output.match(timeRegex);\nif (!timeMatch) {\n  return [];\n}\n\nconst hour = parseInt(timeMatch[1]);\nconst minute = parseInt(timeMatch[2]);\n\nlet year, month, day;\n\nconst dateMatch = output.match(dateRegex);\nif (dateMatch) {\n  day = parseInt(dateMatch[1]);\n  const monthName = dateMatch[2].toLowerCase();\n  \n  const months = {\n    'січня': 0, 'лютого': 1, 'березня': 2, 'квітня': 3,\n    'травня': 4, 'червня': 5, 'липня': 6, 'серпня': 7,\n    'вересня': 8, 'жовтня': 9, 'листопада': 10, 'грудня': 11\n  };\n  \n  month = months[monthName];\n  year = new Date().getFullYear();\n  \n} else {\n  const relativeDateMatch = output.match(relativeDateRegex);\n  \n  if (!relativeDateMatch) {\n    return [];\n  }\n  \n  const relativeDate = relativeDateMatch[1].toLowerCase();\n  const now = new Date();\n  year = now.getFullYear();\n  month = now.getMonth();\n  day = now.getDate();\n  \n  switch(relativeDate) {\n    case 'завтра':\n      day += 1;\n      break;\n    case 'післязавтра':\n      day += 2;\n      break;\n  }\n}\n\nconst appointmentTime = new Date(year, month, day, hour, minute, 0);\nconst now = new Date();\n\nif (appointmentTime <= now) {\n  return [{\n    json: {\n      validationError: \"❌ <b>Неможливо записатись на час що вже минув</b>\\n\\nБудь ласка, оберіть майбутній час для консультації.\"\n    }\n  }];\n}\n\nconst dayOfWeek = appointmentTime.getDay();\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n  return [{\n    json: {\n      validationError: \"❌ <b>Запис доступний тільки з понеділка по п'ятницю</b>\\n\\nСубота та неділя - вихідні дні.\\nОберіть, будь ласка, робочий день.\"\n    }\n  }];\n}\n\nif (hour < 9 || hour > 16 || (hour === 16 && minute > 0)) {\n  return [{\n    json: {\n      validationError: \"❌ <b>Робочі години: 9:00 - 16:00</b>\\n\\nБудь ласка, оберіть час в межах робочого дня.\"\n    }\n  }];\n}\n\nconst dateStr = `${year}-${String(month + 1).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\nconst timeStr = `${String(hour).padStart(2, '0')}:${String(minute).padStart(2, '0')}:00`;\n\nconst appointmentDateWithTZ = `${dateStr}T${timeStr}+02:00`;\nconst appointmentDateISO = appointmentTime.toISOString();\n\nconst reminder30min = new Date(appointmentTime.getTime() - (30 * 60 * 1000));\nconst reminder20min = new Date(appointmentTime.getTime() - (20 * 60 * 1000));\nconst reminder10min = new Date(appointmentTime.getTime() - (10 * 60 * 1000));\n\nconst monthNames = ['січня', 'лютого', 'березня', 'квітня', 'травня', 'червня', \n                    'липня', 'серпня', 'вересня', 'жовтня', 'листопада', 'грудня'];\n\nreturn [{\n  json: {\n    chatId: String(chatId),\n    userName: userName,\n    appointmentDate: appointmentDateWithTZ,\n    appointmentDateISO: appointmentDateISO,\n    appointmentDateFormatted: `${day} ${monthNames[month]} ${year} о ${String(hour).padStart(2, '0')}:${String(minute).padStart(2, '0')}`,\n    reminder30min: reminder30min.toISOString(),\n    reminder20min: reminder20min.toISOString(),\n    reminder10min: reminder10min.toISOString(),\n    eventSummary: `Консультація - ${userName}`,\n    eventDescription: `Консультація з питань легалізації для ${userName}`,\n    reminder30minSent: false,\n    reminder20minSent: false,\n    reminder10minSent: false,\n    validationError: null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2880,2800],"id":"5d40518c-3524-457f-97d0-e22c95b0ee3c","name":"Parse Booking Data1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"validation-check","leftValue":"={{ $json.validationError }}","rightValue":"","operator":{"type":"string","operation":"equals","singleValue":true}}],"combinator":"or"},"renameOutput":true,"outputKey":"Валідація пройдена"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"validation-error","leftValue":"={{ $json.validationError }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Помилка валідації"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2736,2800],"id":"266aabc9-71cd-4385-808b-9fef5ee13a55","name":"Check Validation"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.validationError }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2480,3024],"id":"b4c83eac-cd73-4ad8-99b6-2d75a6538d43","name":"Send Error Message","webhookId":"validation-error-sender","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"jsCode":"const bookingData = $input.first().json;\nreturn [{ json: bookingData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2464,2848],"id":"549e71e4-7fa1-4224-b756-1b0ab7666ff6","name":"Prepare Slot Check"},{"parameters":{"jsCode":"const mongoResults = $input.all();\nconst bookingData = $('Prepare Slot Check').first().json;\n\nif (mongoResults.length > 0) {\n  return [{\n    json: {\n      slotOccupied: true,\n      bookingData: bookingData\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    slotOccupied: false,\n    bookingData: bookingData\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2016,2848],"id":"d3d8f44f-67da-43d0-850e-1b555649b905","name":"Merge Slot Results"},{"parameters":{"jsCode":"const data = $input.first().json.bookingData;\n\nreturn [{\n  json: {\n    chatId: $('Telegram Trigger1').item.json.message.chat.id,\n    errorMessage: `❌ <b>Цей час вже зайнятий!</b>\\n\\n<b>${data.appointmentDateFormatted}</b> вже заброньовано іншим клієнтом.\\n\\nБудь ласка, оберіть інший час для консультації.`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1520,2912],"id":"e92db7d9-1742-4815-9db3-11912c2763bb","name":"Format Slot Error"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.errorMessage }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1248,2912],"id":"8e04d823-e807-41ee-96e2-0c835a9b63f2","name":"Send Slot Error","webhookId":"slot-error-sender","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"jsCode":"const bookingData = $input.first().json.bookingData;\nreturn [{ json: bookingData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1584,2544],"id":"82982b8d-f23a-412e-9efa-402655729ab8","name":"Pass Booking Data"},{"parameters":{"calendar":{"__rl":true,"value":"vladsivak0@gmail.com","mode":"list","cachedResultName":"vladsivak0@gmail.com"},"start":"={{ $json.appointmentDate }}","end":"={{ new Date(new Date($json.appointmentDate).getTime() + 60*60*1000).toISOString() }}","additionalFields":{"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $json.eventDescription }}","sendUpdates":"all","summary":"={{ $json.eventSummary }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-1392,2544],"id":"cda59f74-161e-4a4e-ab5e-c500340980a0","name":"Create Calendar Event1","credentials":{"googleCalendarOAuth2Api":{"id":"QfFqFpiYkG31w68X","name":"lewpar"}}},{"parameters":{"jsCode":"const bookingData = $input.first().json;\nconst calendarEvent = $('Create Calendar Event1').first().json;\nconst meetLink = calendarEvent.hangoutLink || calendarEvent.conferenceData?.entryPoints?.[0]?.uri || 'https://meet.google.com/';\n\nreturn [{\n  json: {\n    ...bookingData,\n    meetLink: meetLink\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1184,2544],"id":"ec3e26c1-d7d8-427d-abd8-a438eeb69977","name":"Add Meet Link"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO appointments (\n  chat_id, \n  user_name, \n  appointment_date, \n  appointment_date_iso, \n  appointment_date_formatted, \n  reminder_30min, \n  reminder_20min, \n  reminder_10min, \n  event_summary, \n  event_description, \n  reminder_30min_sent, \n  reminder_20min_sent, \n  reminder_10min_sent, \n  meet_link, \n  calendar_event_id\n)\nVALUES (\n  '{{ $json.chatId }}', \n  '{{ $json.userName }}', \n  '{{ $json.appointmentDate }}', \n  '{{ $json.appointmentDateISO }}', \n  '{{ $json.appointmentDateFormatted }}', \n  '{{ $json.reminder30min }}', \n  '{{ $json.reminder20min }}', \n  '{{ $json.reminder10min }}', \n  '{{ $json.eventSummary }}', \n  '{{ $json.eventDescription }}', \n  {{ $json.reminder30minSent }}, \n  {{ $json.reminder20minSent }}, \n  {{ $json.reminder10minSent }}, \n  '{{ $json.meetLink }}', \n  '{{ $json.calendarEventId }}'\n)\nRETURNING *","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-976,2544],"id":"399e4a18-7946-4997-a8c1-533c8c1625dd","name":"Save Appointment1","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"lewpartners-v23","mode":"list","cachedResultName":"lewpartners-v23"},"options":{"pineconeNamespace":"lewpartners-v23"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-3856,3312],"id":"0d3bfca2-5375-401b-bcdd-808fe145865f","name":"Pinecone Vector Store2","credentials":{"pineconeApi":{"id":"ztk0sa5X66OL2BwA","name":"Lew-Kentcars"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3584,3312],"id":"49e09d7f-861f-4cb8-bb3a-a6d92ce3dcaf","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-5328,2928],"id":"da1a376e-3c28-4ab9-b828-6328e2915e6a","name":"Telegram Trigger1","webhookId":"5364beb1-cd19-4b10-86c0-37b83019f405","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM appointments WHERE appointment_date_iso = '{{ $json.appointmentDateISO }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-2240,2848],"id":"94b44b45-c2bc-4f5e-93f9-5d6b3adc7d52","name":"Check Time Slot1","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"slot-check","leftValue":"={{ $json.slotOccupied }}","rightValue":"false","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Слот вільний"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"slot-occupied","leftValue":"={{ $json.slotOccupied }}","rightValue":"true","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Слот зайнятий"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1792,2848],"id":"32add990-3ed0-4a22-a56d-5e096791ba62","name":"Check Slot Availability1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","contextWindowLength":40},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3824,3120],"id":"cb805c32-fd49-4572-82e7-8e255b301a37","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS appointments (\n  id SERIAL PRIMARY KEY,\n  chat_id VARCHAR(255) NOT NULL,\n  user_name VARCHAR(255),\n  appointment_date TIMESTAMPTZ NOT NULL,\n  appointment_date_iso TIMESTAMPTZ NOT NULL,\n  appointment_date_formatted VARCHAR(255),\n  reminder_30min TIMESTAMPTZ,\n  reminder_20min TIMESTAMPTZ,\n  reminder_10min TIMESTAMPTZ,\n  event_summary TEXT,\n  event_description TEXT,\n  reminder_30min_sent BOOLEAN DEFAULT FALSE,\n  reminder_20min_sent BOOLEAN DEFAULT FALSE,\n  reminder_10min_sent BOOLEAN DEFAULT FALSE,\n  meet_link TEXT,\n  calendar_event_id VARCHAR(255),\n  created_at TIMESTAMPTZ DEFAULT NOW()\n);\n\nCREATE INDEX IF NOT EXISTS idx_appointments_chat_id ON appointments(chat_id);\nCREATE INDEX IF NOT EXISTS idx_appointments_date ON appointments(appointment_date_iso);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3168,4608],"id":"b794a3e7-99d4-4e61-98c9-51ed67b56915","name":"Execute a SQL query","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5824,976],"id":"821d6281-1a73-43cf-8395-2dba771e3bc9","name":"Send Answer","webhookId":"send-answer","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"jsCode":"const chatId = $('Telegram Trigger').item.json.message.chat.id;\nreturn [{ json: { chatId: String(chatId) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5520,1440],"id":"077e8643-15dd-4e27-bb24-e427d24fa7a2","name":"Prepare Cancellation Search"},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM appointments WHERE chat_id = '{{ $json.chatId }}' AND appointment_date_iso >= NOW() ORDER BY appointment_date_iso ASC LIMIT 1","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-5280,1440],"id":"74ea796f-abdd-43b5-8a2f-31cfe0ea2019","name":"Find Active Appointment","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-appointment","leftValue":"={{ $input.all().length }}","rightValue":"0","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Запис знайдено"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"no-appointment","leftValue":"={{ $input.all().length }}","rightValue":"0","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Запис відсутній"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5088,1488],"id":"6a8d6903-6e03-4c11-893a-8d47eadc0283","name":"Check Appointment Exists"},{"parameters":{"jsCode":"const appointment = $input.first().json;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nreturn [{\n  json: {\n    chatId: chatId,\n    calendarEventId: appointment.calendar_event_id || '',\n    id: appointment.id,\n    appointmentDateFormatted: appointment.appointment_date_formatted\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4672,1376],"id":"aedcf7cd-f41b-4f80-89f3-0215613eeb3e","name":"Prepare Cancellation Data"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"vladsivak0@gmail.com","mode":"list","cachedResultName":"vladsivak0@gmail.com"},"eventId":"={{ $json.calendarEventId }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-4448,1376],"id":"e22ce7f7-5e6e-45c3-90a2-8535a0326ede","name":"Delete Calendar Event","credentials":{"googleCalendarOAuth2Api":{"id":"QfFqFpiYkG31w68X","name":"lewpar"}}},{"parameters":{"operation":"executeQuery","query":"=DELETE FROM appointments WHERE id = {{ $json.id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-4224,1376],"id":"ba457f2c-c4aa-4aaf-a222-807f5008e5f3","name":"Delete Appointment Record","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"=✅ <b>Вашу консультацію успішно скасовано!</b>\n\n<b>Скасовано:</b> {{ $json.appointmentDateFormatted }}\n\nПодію видалено з календаря. Якщо захочете записатись знову - звертайтесь!","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4000,1376],"id":"5fbdf88f-24d4-4f02-8702-02672fc1c733","name":"Send Cancellation Success","webhookId":"cancellation-success","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"❌ <b>У вас немає активних записів на консультацію</b>\n\nЯкщо хочете записатись - просто повідомте мені зручну дату та час!","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4768,1552],"id":"2006ecd8-3881-443c-bf9c-8e5d075b88ac","name":"Send No Appointment Message","webhookId":"no-appointment","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"jsCode":"const bookingData = $input.first().json;\nconst calendarEvent = $('Create Calendar Event').first().json;\n\nreturn [{\n  json: {\n    ...bookingData,\n    calendarEventId: calendarEvent.id\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3408,624],"id":"ffa57c2b-1933-459b-9858-086eda0741a9","name":"Add Calendar Event ID"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"6d3f8154-91ac-49c4-b4da-2776d481dc87","name":"Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","position":[-6800,1040],"typeVersion":1.6,"credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"1a059c09-29d5-4e85-845f-51e37b8c60fd","name":"Download File1","type":"n8n-nodes-base.telegram","position":[-6976,1040],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","typeVersion":1.2,"credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e651254-af4a-427c-b02d-42efc79d493e","leftValue":"={{ $json.message.text }}","rightValue":"=/start","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7552,1152],"id":"1d6e9b01-7855-41f9-8e8a-ea1475f70302","name":"If1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"281588e5-cab1-47c7-b42a-f75b8e7b659e","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice.file_id }}","rightValue":""}]},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"80afed7e-7cd6-45d5-a2aa-173fb24212b3","name":"Voice or Text1","type":"n8n-nodes-base.switch","position":[-7216,1152],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","type":"string","value":"={{ $json.message.text }}"}]},"options":{}},"id":"ed9e8214-36fe-4ee2-861f-b74b66d3ea93","name":"Text1","type":"n8n-nodes-base.set","position":[-6816,1232],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"Ти — Андрій, асистент юриста Олександра з Lewpartner. Спілкуйся українською, дружньо і професійно.\n\nКРИТИЧНО ВАЖЛИВО — ФРАЗИ ДЛЯ РОЗПІЗНАВАННЯ СИСТЕМОЮ:\n\n1️⃣ ЗАПИС НА КОНСУЛЬТАЦІЮ:\nКоли користувач хоче записатись (наприклад: \"Хочу записатись на завтра о 14:00\", \"Запиши мене на п'ятницю о 10:00\"):\n\nОБОВ'ЯЗКОВО відповідай ТАК:\n\"Записую вас на [дата] о [час]. Ви отримаєте нагадування з посиланням на Google Meet за 30, 20 та 10 хвилин до початку консультації. До зустрічі!\"\n\nПриклади:\n- \"Записую вас на завтра о 14:00. Ви отримаєте нагадування з посиланням на Google Meet за 30, 20 та 10 хвилин до початку консультації. До зустрічі!\"\n- \"Записую вас на п'ятницю 29 листопада о 10:00. Ви отримаєте нагадування з посиланням на Google Meet за 30, 20 та 10 хвилин до початку консультації. До зустрічі!\"\n\nВАЖЛИВО: Фраза \"Записую вас на\" — це ТРИГЕР для системи! НЕ змінюй її!\n\n2️⃣ СКАСУВАННЯ КОНСУЛЬТАЦІЇ:\nКоли користувач хоче скасувати (наприклад: \"Хочу скасувати консультацію\", \"Скасуй мій запис\"):\n\nОБОВ'ЯЗКОВО відповідай ТАК:\n\"Скасовую вашу консультацію. Зачекайте хвилинку...\"\n\nВАЖЛИВО: Фраза \"Скасовую вашу консультацію\" — це ТРИГЕР для системи! НЕ змінюй її!\n\n3️⃣ ІНШІ ЗАПИТАННЯ:\nДля всіх інших питань (юридичні консультації, інформація про послуги, загальні питання) — відповідай природньо, використовуючи базу знань Pinecone.\n\nПРАВИЛА ЗАПИСУ:\n- Робочі дні: Понеділок-П'ятниця\n- Робочий час: 9:00-16:00\n- НЕ можна записатись на минулий час\n- НЕ можна записатись на вихідні\n\nПАМ'ЯТАЙ: \n- Фрази \"Записую вас на\" і \"Скасовую вашу консультацію\" — це ТРИГЕРИ для автоматизації!\n- НЕ використовуй їх у випадкових відповідях!\n- Використовуй їх ТІЛЬКИ коли треба записати/скасувати консультацію!"}},"id":"5841fc8c-d4e7-47e1-867e-ca2aec76b7ae","name":"RAG Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-6256,1136],"typeVersion":1.7},{"parameters":{"name":"Knowledge_Base","description":"База знань Lewpartner містить інформацію про послуги, ціни, процедури легалізації в Польщі"},"id":"f14665a2-4c7d-4b62-93a0-f7ac9683e3ff","name":"Knowledge Base","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-6144,1376]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-6192,1680],"id":"65792ea0-8e34-4c9d-bad5-b22d04ec73b5","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"model":"anthropic/claude-opus-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-6432,1376],"id":"51e7c073-4118-4183-a08a-92270dc40aa6","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5664,1888],"id":"28db33e7-2522-4e10-8d16-4ec86292b108","name":"Schedule Reminder Check","disabled":true},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM appointments WHERE \n  (reminder_30min_sent = false AND reminder_30min <= NOW()) OR\n  (reminder_20min_sent = false AND reminder_20min <= NOW()) OR\n  (reminder_10min_sent = false AND reminder_10min <= NOW())","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-5408,1888],"id":"ebcbad66-a278-4f9d-b33e-588a3b548974","name":"Find Pending Reminders","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst now = new Date();\nconst output = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const appointmentTime = new Date(data.appointment_date);\n  \n  if (appointmentTime <= now) {\n    continue;\n  }\n  \n  const meetLink = data.meet_link || 'https://meet.google.com/';\n  \n  if (!data.reminder_30min_sent) {\n    const reminder30minTime = new Date(data.reminder_30min);\n    if (reminder30minTime <= now && now < new Date(reminder30minTime.getTime() + 60000)) {\n      output.push({\n        json: {\n          id: data.id,\n          chatId: parseInt(data.chat_id),\n          userName: data.user_name,\n          appointmentDateFormatted: data.appointment_date_formatted,\n          reminderType: '30min',\n          reminderField: 'reminder_30min_sent',\n          message: `<b>🔔 Нагадування!</b>\\n\\n<b>${data.user_name}, за 30 хвилин у вас консультація!</b>\\n<b>Час: ${data.appointment_date_formatted}</b>\\n\\n<b>📹 Посилання на Google Meet:</b>\\n${meetLink}\\n\\n<b>Підготуйтеся, будь ласка! 📋</b>`\n        }\n      });\n    }\n  }\n  \n  if (!data.reminder_20min_sent) {\n    const reminder20minTime = new Date(data.reminder_20min);\n    if (reminder20minTime <= now && now < new Date(reminder20minTime.getTime() + 60000)) {\n      output.push({\n        json: {\n          id: data.id,\n          chatId: parseInt(data.chat_id),\n          userName: data.user_name,\n          appointmentDateFormatted: data.appointment_date_formatted,\n          reminderType: '20min',\n          reminderField: 'reminder_20min_sent',\n          message: `<b>🔔 Нагадування!</b>\\n\\n<b>${data.user_name}, за 20 хвилин у вас консультація!</b>\\n<b>Час: ${data.appointment_date_formatted}</b>\\n\\n<b>📹 Посилання на Google Meet:</b>\\n${meetLink}\\n\\n<b>Скоро починаємо! ⏰</b>`\n        }\n      });\n    }\n  }\n  \n  if (!data.reminder_10min_sent) {\n    const reminder10minTime = new Date(data.reminder_10min);\n    if (reminder10minTime <= now && now < new Date(reminder10minTime.getTime() + 60000)) {\n      output.push({\n        json: {\n          id: data.id,\n          chatId: parseInt(data.chat_id),\n          userName: data.user_name,\n          appointmentDateFormatted: data.appointment_date_formatted,\n          reminderType: '10min',\n          reminderField: 'reminder_10min_sent',\n          message: `<b>🔔 ОСТАТОЧНЕ НАГАДУВАННЯ!</b>\\n\\n<b>${data.user_name}, за 10 хвилин у вас консультація!</b>\\n<b>Час: ${data.appointment_date_formatted}</b>\\n\\n<b>📹 Посилання на Google Meet:</b>\\n${meetLink}\\n\\n<b>Приєднуйтесь зараз! 🚀</b>`\n        }\n      });\n    }\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5184,1888],"id":"eda68ea7-0d7d-4339-9664-633dfdefe688","name":"Process Reminders"},{"parameters":{"chatId":"={{ parseInt($json.chatId) }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4944,1888],"id":"f1056711-2ffa-453d-868a-094e42609164","name":"Send Reminder","webhookId":"reminder-sender","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE appointments SET {{ $json.reminderField }} = true WHERE id = {{ $json.id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-4736,1888],"id":"0e9d9d02-2300-4f26-bd41-cc0961944dc0","name":"Mark Reminder Sent","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"Записую вас на","operator":{"type":"string","operation":"contains"},"id":"booking-detected"}],"combinator":"and"},"renameOutput":true,"outputKey":"Запис створено"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"Скасовую","operator":{"type":"string","operation":"contains"},"id":"cancellation-detected"}],"combinator":"and"},"renameOutput":true,"outputKey":"Скасування"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5552,1136],"id":"36f3604a-595a-4f43-abef-a4b2663ef10c","name":"Detect Booking"},{"parameters":{"jsCode":"const output = $input.first().json.output;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\nconst userName = $('Telegram Trigger').item.json.message.from.first_name || 'Клієнт';\n\nconst dateRegex = /(\\d{1,2})\\s+(січня|лютого|березня|квітня|травня|червня|липня|серпня|вересня|жовтня|листопада|грудня)/i;\nconst relativeDateRegex = /(сьогодні|завтра|післязавтра)/i;\nconst timeRegex = /(\\d{1,2}):(\\d{2})/;\n\nconst timeMatch = output.match(timeRegex);\nif (!timeMatch) {\n  return [];\n}\n\nconst hour = parseInt(timeMatch[1]);\nconst minute = parseInt(timeMatch[2]);\n\nlet year, month, day;\n\nconst dateMatch = output.match(dateRegex);\nif (dateMatch) {\n  day = parseInt(dateMatch[1]);\n  const monthName = dateMatch[2].toLowerCase();\n  \n  const months = {\n    'січня': 0, 'лютого': 1, 'березня': 2, 'квітня': 3,\n    'травня': 4, 'червня': 5, 'липня': 6, 'серпня': 7,\n    'вересня': 8, 'жовтня': 9, 'листопада': 10, 'грудня': 11\n  };\n  \n  month = months[monthName];\n  year = new Date().getFullYear();\n  \n} else {\n  const relativeDateMatch = output.match(relativeDateRegex);\n  \n  if (!relativeDateMatch) {\n    return [];\n  }\n  \n  const relativeDate = relativeDateMatch[1].toLowerCase();\n  const now = new Date();\n  year = now.getFullYear();\n  month = now.getMonth();\n  day = now.getDate();\n  \n  switch(relativeDate) {\n    case 'завтра':\n      day += 1;\n      break;\n    case 'післязавтра':\n      day += 2;\n      break;\n  }\n}\n\nconst appointmentTime = new Date(year, month, day, hour, minute, 0);\nconst now = new Date();\n\nif (appointmentTime <= now) {\n  return [{\n    json: {\n      validationError: \"❌ <b>Неможливо записатись на час що вже минув</b>\\n\\nБудь ласка, оберіть майбутній час для консультації.\"\n    }\n  }];\n}\n\nconst dayOfWeek = appointmentTime.getDay();\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n  return [{\n    json: {\n      validationError: \"❌ <b>Запис доступний тільки з понеділка по п'ятницю</b>\\n\\nСубота та неділя - вихідні дні.\\nОберіть, будь ласка, робочий день.\"\n    }\n  }];\n}\n\nif (hour < 9 || hour > 16 || (hour === 16 && minute > 0)) {\n  return [{\n    json: {\n      validationError: \"❌ <b>Робочі години: 9:00 - 16:00</b>\\n\\nБудь ласка, оберіть час в межах робочого дня.\"\n    }\n  }];\n}\n\nconst dateStr = `${year}-${String(month + 1).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\nconst timeStr = `${String(hour).padStart(2, '0')}:${String(minute).padStart(2, '0')}:00`;\n\nconst appointmentDateWithTZ = `${dateStr}T${timeStr}+02:00`;\nconst appointmentDateISO = appointmentTime.toISOString();\n\nconst reminder30min = new Date(appointmentTime.getTime() - (30 * 60 * 1000));\nconst reminder20min = new Date(appointmentTime.getTime() - (20 * 60 * 1000));\nconst reminder10min = new Date(appointmentTime.getTime() - (10 * 60 * 1000));\n\nconst monthNames = ['січня', 'лютого', 'березня', 'квітня', 'травня', 'червня', \n                    'липня', 'серпня', 'вересня', 'жовтня', 'листопада', 'грудня'];\n\nreturn [{\n  json: {\n    chatId: String(chatId),\n    userName: userName,\n    appointmentDate: appointmentDateWithTZ,\n    appointmentDateISO: appointmentDateISO,\n    appointmentDateFormatted: `${day} ${monthNames[month]} ${year} о ${String(hour).padStart(2, '0')}:${String(minute).padStart(2, '0')}`,\n    reminder30min: reminder30min.toISOString(),\n    reminder20min: reminder20min.toISOString(),\n    reminder10min: reminder10min.toISOString(),\n    eventSummary: `Консультація - ${userName}`,\n    eventDescription: `Консультація з питань легалізації для ${userName}`,\n    reminder30minSent: false,\n    reminder20minSent: false,\n    reminder10minSent: false,\n    validationError: null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5312,1024],"id":"7f462bcc-b5f2-406c-aee8-ff0666555008","name":"Parse Booking Data"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"validation-check","leftValue":"={{ $json.validationError }}","rightValue":"","operator":{"type":"string","operation":"equals","singleValue":true}}],"combinator":"or"},"renameOutput":true,"outputKey":"Валідація пройдена"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"validation-error","leftValue":"={{ $json.validationError }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Помилка валідації"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5168,1024],"id":"1d793fd7-f4af-4867-bc5c-795ca6da1758","name":"Check Validation1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.validationError }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4912,1248],"id":"f5c38cc1-6871-4d41-8a27-3c774a7fb2b9","name":"Send Error Message1","webhookId":"validation-error-sender","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"jsCode":"const bookingData = $input.first().json;\nreturn [{ json: bookingData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4896,1072],"id":"fa190758-df72-494c-8fe2-4fcf090d015a","name":"Prepare Slot Check1"},{"parameters":{"jsCode":"const mongoResults = $input.all();\nconst bookingData = $('Prepare Slot Check1').first().json;\n\nif (mongoResults.length > 0) {\n  return [{\n    json: {\n      slotOccupied: true,\n      bookingData: bookingData\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    slotOccupied: false,\n    bookingData: bookingData\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4448,1072],"id":"7047ba5c-27e9-4311-a1b4-fe43a1045e6c","name":"Merge Slot Results1"},{"parameters":{"jsCode":"const data = $input.first().json.bookingData;\n\nreturn [{\n  json: {\n    chatId: $('Telegram Trigger').item.json.message.chat.id,\n    errorMessage: `❌ <b>Цей час вже зайнятий!</b>\\n\\n<b>${data.appointmentDateFormatted}</b> вже заброньовано іншим клієнтом.\\n\\nБудь ласка, оберіть інший час для консультації.`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3952,1136],"id":"3cdf44b6-eef1-447e-bc3b-535629d3690e","name":"Format Slot Error1"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.errorMessage }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3680,1136],"id":"e0e6c5f9-2810-48d1-89a3-e9b1e1b389ff","name":"Send Slot Error1","webhookId":"slot-error-sender","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"jsCode":"const bookingData = $input.first().json.bookingData;\nreturn [{ json: bookingData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4016,768],"id":"671a2e45-4c76-4d01-b018-0c8c87a48126","name":"Pass Booking Data1"},{"parameters":{"calendar":{"__rl":true,"value":"vladsivak0@gmail.com","mode":"list","cachedResultName":"vladsivak0@gmail.com"},"start":"={{ $json.appointmentDate }}","end":"={{ new Date(new Date($json.appointmentDate).getTime() + 60*60*1000).toISOString() }}","additionalFields":{"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $json.eventDescription }}","sendUpdates":"all","summary":"={{ $json.eventSummary }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-3824,768],"id":"c4905912-690e-44a8-bedc-ef2ea397e3a9","name":"Create Calendar Event","credentials":{"googleCalendarOAuth2Api":{"id":"QfFqFpiYkG31w68X","name":"lewpar"}}},{"parameters":{"jsCode":"const bookingData = $input.first().json;\nconst calendarEvent = $('Create Calendar Event').first().json;\nconst meetLink = calendarEvent.hangoutLink || calendarEvent.conferenceData?.entryPoints?.[0]?.uri || 'https://meet.google.com/';\n\nreturn [{\n  json: {\n    ...bookingData,\n    meetLink: meetLink\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3616,768],"id":"0b801699-193b-44ee-aa11-a7c40a85deba","name":"Add Meet Link1"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO appointments (\n  chat_id, \n  user_name, \n  appointment_date, \n  appointment_date_iso, \n  appointment_date_formatted, \n  reminder_30min, \n  reminder_20min, \n  reminder_10min, \n  event_summary, \n  event_description, \n  reminder_30min_sent, \n  reminder_20min_sent, \n  reminder_10min_sent, \n  meet_link, \n  calendar_event_id\n)\nVALUES (\n  '{{ $json.chatId }}', \n  '{{ $json.userName }}', \n  '{{ $json.appointmentDate }}', \n  '{{ $json.appointmentDateISO }}', \n  '{{ $json.appointmentDateFormatted }}', \n  '{{ $json.reminder30min }}', \n  '{{ $json.reminder20min }}', \n  '{{ $json.reminder10min }}', \n  '{{ $json.eventSummary }}', \n  '{{ $json.eventDescription }}', \n  {{ $json.reminder30minSent }}, \n  {{ $json.reminder20minSent }}, \n  {{ $json.reminder10minSent }}, \n  '{{ $json.meetLink }}', \n  '{{ $json.calendarEventId }}'\n)\nRETURNING *","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-3408,768],"id":"add1e52f-0a84-48c9-9cb5-ac262f4778f8","name":"Save Appointment","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"lewpartners-v23","mode":"list","cachedResultName":"lewpartners-v23"},"options":{"pineconeNamespace":"lewpartners-v23"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-6288,1536],"id":"53e87d25-0126-449d-860b-6e0083aa8003","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"ztk0sa5X66OL2BwA","name":"Lew-Kentcars"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-6016,1536],"id":"69598907-b057-46fa-86d9-4bb0e6483306","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-7760,1152],"id":"97acc7f5-7e49-4165-833e-49d38de6a35c","name":"Telegram Trigger","webhookId":"5364beb1-cd19-4b10-86c0-37b83019f405","credentials":{"telegramApi":{"id":"BfGesMudAXTlZJmV","name":"Lewparts"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM appointments \nWHERE appointment_date_iso = '{{ $json.appointmentDateISO }}'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[-4672,1072],"id":"1f981876-a14e-4aa2-9a65-1ef898bce6aa","name":"Check Time Slot","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"slot-check","leftValue":"={{ $json.slotOccupied }}","rightValue":"false","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Слот вільний"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"slot-occupied","leftValue":"={{ $json.slotOccupied }}","rightValue":"true","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Слот зайнятий"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4224,1072],"id":"a36914fc-aa7d-41f9-a677-d92da9eee569","name":"Check Slot Availability"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":40},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-6256,1344],"id":"3f6fbdd1-52e7-488d-a339-e8e6eeebcf4d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}}],"connections":{"RAG Agent1":{"main":[[]]},"Knowledge Base1":{"ai_tool":[[{"node":"RAG Agent1","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"RAG Agent1","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Knowledge Base1","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Knowledge Base1","type":"ai_languageModel","index":0}]]},"MongoDB Chat Memory1":{"ai_memory":[[{"node":"RAG Agent1","type":"ai_memory","index":0}]]},"Prepare Cancellation Search1":{"main":[[{"node":"Find Active Appointment1","type":"main","index":0}]]},"Find Active Appointment1":{"main":[[{"node":"Check Appointment Exists1","type":"main","index":0}]]},"Check Appointment Exists1":{"main":[[{"node":"Prepare Cancellation Data1","type":"main","index":0}],[{"node":"Send No Appointment Message1","type":"main","index":0}]]},"Prepare Cancellation Data1":{"main":[[{"node":"Delete Calendar Event1","type":"main","index":0}]]},"Delete Calendar Event1":{"main":[[{"node":"Delete Appointment Record1","type":"main","index":0}]]},"Delete Appointment Record1":{"main":[[{"node":"Send Cancellation Success1","type":"main","index":0}]]},"Add Calendar Event ID1":{"main":[[{"node":"Save Appointment1","type":"main","index":0}]]},"Transcribe1":{"main":[[{"node":"RAG Agent2","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Transcribe1","type":"main","index":0}]]},"If":{"main":[[{"node":"Voice or Text","type":"main","index":0}]]},"Voice or Text":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Text","type":"main","index":0}]]},"Text":{"main":[[{"node":"RAG Agent2","type":"main","index":0}]]},"RAG Agent2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Knowledge Base2":{"ai_tool":[[{"node":"RAG Agent2","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"RAG Agent2","type":"ai_languageModel","index":0}]]},"Schedule Reminder Check1":{"main":[[{"node":"Find Pending Reminders1","type":"main","index":0}]]},"Find Pending Reminders1":{"main":[[{"node":"Process Reminders1","type":"main","index":0}]]},"Process Reminders1":{"main":[[{"node":"Send Reminder1","type":"main","index":0}]]},"Send Reminder1":{"main":[[{"node":"Mark Reminder Sent1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Send a text message1","type":"main","index":0},{"node":"Detect Booking1","type":"main","index":0}]]},"Detect Booking1":{"main":[[{"node":"Parse Booking Data1","type":"main","index":0}],[{"node":"Prepare Cancellation Search1","type":"main","index":0}]]},"Parse Booking Data1":{"main":[[{"node":"Check Validation","type":"main","index":0}]]},"Check Validation":{"main":[[{"node":"Prepare Slot Check","type":"main","index":0}],[{"node":"Send Error Message","type":"main","index":0}]]},"Prepare Slot Check":{"main":[[{"node":"Check Time Slot1","type":"main","index":0}]]},"Merge Slot Results":{"main":[[{"node":"Check Slot Availability1","type":"main","index":0}]]},"Format Slot Error":{"main":[[{"node":"Send Slot Error","type":"main","index":0}]]},"Pass Booking Data":{"main":[[{"node":"Create Calendar Event1","type":"main","index":0}]]},"Create Calendar Event1":{"main":[[{"node":"Add Meet Link","type":"main","index":0}]]},"Add Meet Link":{"main":[[{"node":"Add Calendar Event ID1","type":"main","index":0}]]},"Pinecone Vector Store2":{"ai_vectorStore":[[{"node":"Knowledge Base2","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Knowledge Base2","type":"ai_languageModel","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"If","type":"main","index":0}]]},"Check Time Slot1":{"main":[[{"node":"Merge Slot Results","type":"main","index":0}]]},"Check Slot Availability1":{"main":[[{"node":"Pass Booking Data","type":"main","index":0}],[{"node":"Format Slot Error","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"RAG Agent2","type":"ai_memory","index":0}]]},"Prepare Cancellation Search":{"main":[[{"node":"Find Active Appointment","type":"main","index":0}]]},"Find Active Appointment":{"main":[[{"node":"Check Appointment Exists","type":"main","index":0}]]},"Check Appointment Exists":{"main":[[{"node":"Prepare Cancellation Data","type":"main","index":0}],[{"node":"Send No Appointment Message","type":"main","index":0}]]},"Prepare Cancellation Data":{"main":[[{"node":"Delete Calendar Event","type":"main","index":0}]]},"Delete Calendar Event":{"main":[[{"node":"Delete Appointment Record","type":"main","index":0}]]},"Delete Appointment Record":{"main":[[{"node":"Send Cancellation Success","type":"main","index":0}]]},"Add Calendar Event ID":{"main":[[{"node":"Save Appointment","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"RAG Agent","type":"main","index":0}]]},"Download File1":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"If1":{"main":[[{"node":"Voice or Text1","type":"main","index":0}]]},"Voice or Text1":{"main":[[{"node":"Download File1","type":"main","index":0}],[{"node":"Text1","type":"main","index":0}]]},"Text1":{"main":[[{"node":"RAG Agent","type":"main","index":0}]]},"RAG Agent":{"main":[[{"node":"Send Answer","type":"main","index":0},{"node":"Detect Booking","type":"main","index":0}]]},"Knowledge Base":{"ai_tool":[[{"node":"RAG Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"RAG Agent","type":"ai_languageModel","index":0}]]},"Schedule Reminder Check":{"main":[[{"node":"Find Pending Reminders","type":"main","index":0}]]},"Find Pending Reminders":{"main":[[{"node":"Process Reminders","type":"main","index":0}]]},"Process Reminders":{"main":[[{"node":"Send Reminder","type":"main","index":0}]]},"Send Reminder":{"main":[[{"node":"Mark Reminder Sent","type":"main","index":0}]]},"Detect Booking":{"main":[[{"node":"Parse Booking Data","type":"main","index":0}],[{"node":"Prepare Cancellation Search","type":"main","index":0}]]},"Parse Booking Data":{"main":[[{"node":"Check Validation1","type":"main","index":0}]]},"Check Validation1":{"main":[[{"node":"Prepare Slot Check1","type":"main","index":0}],[{"node":"Send Error Message1","type":"main","index":0}]]},"Prepare Slot Check1":{"main":[[{"node":"Check Time Slot","type":"main","index":0}]]},"Merge Slot Results1":{"main":[[{"node":"Check Slot Availability","type":"main","index":0}]]},"Format Slot Error1":{"main":[[{"node":"Send Slot Error1","type":"main","index":0}]]},"Pass Booking Data1":{"main":[[{"node":"Create Calendar Event","type":"main","index":0}]]},"Create Calendar Event":{"main":[[{"node":"Add Meet Link1","type":"main","index":0}]]},"Add Meet Link1":{"main":[[{"node":"Add Calendar Event ID","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Knowledge Base","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Knowledge Base","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"Check Time Slot":{"main":[[{"node":"Merge Slot Results1","type":"main","index":0}]]},"Check Slot Availability":{"main":[[{"node":"Pass Booking Data1","type":"main","index":0}],[{"node":"Format Slot Error1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d14bb1f2-1c47-417a-9911-e05631e3c6c7","triggerCount":1,"shared":[{"createdAt":"2025-11-24T14:05:15.542Z","updatedAt":"2025-11-24T14:05:15.542Z","role":"workflow:owner","workflowId":"RnB8x20dULD2VlIJ","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}