my-workflow-2-fxdeUqKsC2ezGdcX.json
{"createdAt":"2025-07-07T07:59:32.812Z","updatedAt":"2025-07-07T07:59:32.812Z","id":"fxdeUqKsC2ezGdcX","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"accounting"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-320,-40],"id":"1eca5fa6-3f9f-4ebb-aa74-d8873142b82a","name":"MCP Server Trigger","webhookId":"e03c64c5-c402-4ed3-b0fb-9bef9eaaf1e4"},{"parameters":{"documentId":{"__rl":true,"value":"1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI","mode":"list","cachedResultName":"AI Agency Hub","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1549411947,"mode":"list","cachedResultName":"MCP_Accounting","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit#gid=1549411947"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-240,200],"id":"94b7b606-eea8-4b15-b353-ad96db016f66","name":"Read Google Sheets"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI","mode":"list","cachedResultName":"AI Agency Hub","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1549411947,"mode":"list","cachedResultName":"MCP_Accounting","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit#gid=1549411947"},"columns":{"mappingMode":"defineBelow","value":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}","amount":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-40,200],"id":"bfe95f82-7f26-4cb4-883c-32b998dcb6af","name":"Write Google Sheets"},{"parameters":{"authentication":"serviceAccount","operation":"get","documentURL":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[520,660],"id":"694d0270-b257-4051-97aa-dcf09474db27","name":"Get Google Docs"},{"parameters":{"folderId":"11FI5Y1LVCjPx8bR6YibdsaPRER2NEZ5g","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[760,720],"id":"3ebf86e7-0a75-4ecf-8d5d-5fda2edf1f0c","name":"Create Google Docs"},{"parameters":{"operation":"update","documentURL":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}"}]}},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[840,560],"id":"a2d4c71b-a529-452c-91f3-18e36280395e","name":"Update Google Docs"},{"parameters":{"path":"document"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[680,140],"id":"24a9c845-370d-42ff-a2e8-7ac4575bf60b","name":"MCP Server Trigger1","webhookId":"d858cc45-9fe9-4e95-bf8a-212849b87550"},{"parameters":{"operation":"getAll","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","filters":{"readStatus":"unread","sender":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', `Leave it empty if not specific.`, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-940,700],"id":"2aa5c357-4093-401b-be31-e760c0c516d0","name":"Get Unread Email","webhookId":"fd391ef4-2b2f-449f-adf0-50405a2738b5"},{"parameters":{"operation":"get","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-800,700],"id":"6c8bf6db-e1ca-44d1-adc5-62565e583baa","name":"Get Email Details","webhookId":"3407b4ec-894a-4f0c-953e-d924ea90b592"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-580,700],"id":"12d23a04-8c9a-4543-b453-f42859297589","name":"Send Email","webhookId":"63f7a6ff-3ab8-48eb-a333-91e42e897f1a"},{"parameters":{"operation":"reply","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-340,820],"id":"9f5c2cc5-93a8-46ec-a082-6c5a4c983dd9","name":"Reply Email","webhookId":"40363913-349a-461f-8f95-7119699e636f"},{"parameters":{"operation":"delete","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-560,1020],"id":"7443d462-06e6-4ad6-b9a8-57cf2577dc16","name":"Delete Email","webhookId":"ddbfd5d5-0a7e-4662-a8b4-9e676418b800"},{"parameters":{"resource":"draft","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-620,500],"id":"45bf4879-c439-48c5-8df5-92764dbf9d1e","name":"Draft Email","webhookId":"1c899734-58d9-4a6e-a6c7-c1059f49fc1a"},{"parameters":{"operation":"addLabels","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}","labelIds":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-860,920],"id":"b385bbb4-5b6f-4209-a189-b64fa4826d43","name":"Add Label","webhookId":"3ae6b997-848d-45e4-ae21-c869e5f4d6a0"},{"parameters":{"operation":"removeLabels","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}","labelIds":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-720,920],"id":"25e1f532-6a30-4dee-abd4-c30f3e900ca9","name":"Remove Label","webhookId":"e8f8ae25-263e-4c88-a8b3-48b5226f1ac7"},{"parameters":{"resource":"label","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-580,920],"id":"d34ca30a-4879-4914-9ee8-6c403b152481","name":"Get By Label","webhookId":"fe1bbde2-2efb-4aaa-abe8-08c55ce42a4d"},{"parameters":{"path":"gmail"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-1300,440],"id":"0593bdfc-0daf-495a-82b1-c43ecaa99198","name":"MCP Server Trigger2","webhookId":"c65471be-cc1a-4662-b1e2-6c66ca7c62dd"},{"parameters":{"calendar":{"__rl":true,"value":"florishgametv@gmail.com","mode":"list","cachedResultName":"Personal"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `This is the title of the calendar event`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1000,840],"id":"0d9a220f-e67c-45ed-9124-b763ec756fb0","name":"Create Event"},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1140,840],"id":"b4295360-2f0f-4095-bd0f-bcfbb6379804","name":"Get Single Event"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"stanleycheung@proxa.cc","mode":"list","cachedResultName":"Proxa Working"},"limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1280,840],"id":"c6c8eba5-86f8-4874-a4d5-e143c3a85e11","name":"Get Many Event"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1420,840],"id":"73fbb931-c41d-4f46-96af-343d0009f798","name":"Update Event"},{"parameters":{"path":"google-calendar"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[1060,560],"id":"6c09e68e-7b2c-4648-8cdf-77f0805c4356","name":"MCP Server Trigger3","webhookId":"10885623-fa89-4f9e-bd9e-7e93fe7d2a01"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Bo8ouMorQrDwkT93m-HGMGy8fEDSG8kO8UyzxtewGHw","mode":"list","cachedResultName":"POV v2 (ИИздец)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Bo8ouMorQrDwkT93m-HGMGy8fEDSG8kO8UyzxtewGHw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Bo8ouMorQrDwkT93m-HGMGy8fEDSG8kO8UyzxtewGHw/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"production","lookupValue":"for_production"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-320,1460],"id":"f84a442a-7d48-4f19-8933-3800d2053f81","name":"Google Sheets"},{"parameters":{"method":"POST","url":"https://api.aimlapi.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"num_images\": 1,\n  \"enable_safety_checker\": true,\n  \"image_size\": {\n    \"width\": 720,\n    \"height\": 1280\n  },\n  \"sync_mode\": false,\n  \"model\": \"flux/dev\",\n  \"guidance_scale\": 3.5\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1920],"id":"79ea0d9b-791b-4c72-a49f-141ac02a3adc","name":"Text to image"},{"parameters":{"fieldToSplitOut":"message.content.scenes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[480,1620],"id":"8d0033d5-0cef-4c33-bf3a-82fbc31a4f34","name":"Split Out"},{"parameters":{"content":"##    ГЕНЕРАЦИЯ СЦЕНАРИЕВ И ПРОМТОВ","height":260,"width":680,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,1560],"id":"5d74f88d-027c-467b-8a80-3ef60b25ed87","name":"Sticky Note"},{"parameters":{"content":"## ИЗОБРАЖЕНИЯ","height":240,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,1860],"id":"fe13d43c-374d-47f9-8cdc-bcf4efb34fb9","name":"Sticky Note2"},{"parameters":{"content":"##    ПОЛУЧЕНИЕ ИДЕЙ","height":260,"width":440,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-600,1400],"id":"265f6185-1508-48ad-8159-c5342e022bf1","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://api.aimlapi.com/v2/generate/video/kling/generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n    \"prompt\": \"{{ $('Split Out').item.json.prompt }}\",\n    \"duration\": \"5\",\n    \"ratio\": \"9:16\",\n    \"model\": \"kling-video/v1.6/standard/image-to-video\",\n    \"image_url\": \"{{ $('Text to image').item.json.images[0].url }}\"\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,2200],"id":"e3a7ae6f-96fd-439b-9091-f4d6193a9b51","name":"Image to video"},{"parameters":{"content":"## ВИДЕО ИЗ ИЗОБРАЖЕНИЙ","height":240,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2140],"id":"64d56472-4230-4365-aaf8-2950a609b2b5","name":"Sticky Note3"},{"parameters":{"name":"={{ $json.id.split(\":\")[0] }}.mp3","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"11FI5Y1LVCjPx8bR6YibdsaPRER2NEZ5g","mode":"list","cachedResultName":"YouTube","cachedResultUrl":"https://drive.google.com/drive/folders/11FI5Y1LVCjPx8bR6YibdsaPRER2NEZ5g"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,2480],"id":"5c63d450-e980-42c2-998c-22acc11c1134","name":"Upload Mp3"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[520,2480],"id":"1eb3e5e6-30d9-426c-8379-2ba976d9cddb","name":"Grant Access"},{"parameters":{"content":"## ГЕНЕРАЦИЯ ЗВУКОВ","height":240,"width":680,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2420],"id":"d02eb358-f4a1-4bdc-a530-2e387b5d88ee","name":"Sticky Note4"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/sound-generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"text\": \"Relaxing sound, {{ $('Split Out').item.json.sound }}\",\n  \"duration_seconds\": 5,\n  \"prompt_influence\": 0.5\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,2480],"id":"7879727e-b28d-4fe9-ae2f-8630f49c6066","name":"Text to sound"},{"parameters":{"url":"https://api.aimlapi.com/v2/generate/video/kling/generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"generation_id","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,2200],"id":"47375772-2cc8-478d-8fe0-fe43b5a847fb","name":"Get Video"},{"parameters":{"content":"## РЕНДЕРИМ ВИДЕО","height":260,"width":700,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,1260],"id":"6777193c-2f38-4036-b7d1-953a2501dd2a","name":"Sticky Note5"},{"parameters":{"fileSelector":"/tmp/n8n/final_output.mp4","options":{"dataPropertyName":"data"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1420,1300],"id":"08d0f7f7-c976-486f-b05b-01402b602e10","name":"Get Video from Disk"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[300,2200],"id":"6c0333eb-c412-4b65-a3ab-d1b3ce1766f6","name":"Wait 10 min","webhookId":"6b4e5e9b-0773-4396-ae8f-8f5cf942e878"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Google Sheets').all()[0].json.idea }}","regionCode":"US","categoryId":"24","options":{"description":"={{ $('Google Sheets').all()[0].json.idea }} #pov #povvideo #firstpersonview #gopropov #immersivevideo #cinematicpov #reallifeluxury #aesthetictiktok #visualstorytelling #поввидео #видотпервоголица #кинематографично #эстетика #визуальныйсторителлинг {{ $('Google Sheets').all()[0].json.hashtags }}","privacyStatus":"public"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1060,1900],"id":"69f178fe-fae0-4620-a6ea-e3b13e21cffd","name":"YouTube"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Bo8ouMorQrDwkT93m-HGMGy8fEDSG8kO8UyzxtewGHw","mode":"list","cachedResultName":"POV v2 (ИИздец)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Bo8ouMorQrDwkT93m-HGMGy8fEDSG8kO8UyzxtewGHw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Bo8ouMorQrDwkT93m-HGMGy8fEDSG8kO8UyzxtewGHw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"production":"youtube_publicated","id":"={{ $('Google Sheets').all()[0].json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"idea","displayName":"idea","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"caption","displayName":"caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"production","displayName":"production","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"enviroment_prompt","displayName":"enviroment_prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"publishing","displayName":"publishing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"final_output","displayName":"final_output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1240,1900],"id":"c78457f1-27db-4c0f-a7b4-8679688122fb","name":"Update google sheet"},{"parameters":{"content":"## YouTube","height":260,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[980,1840],"id":"027d026b-db60-46a7-a710-8ed36616221d","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"https://api.upload-post.com/api/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"title","value":"={{ $('Google Sheets').first().json['POV Video Title'] }}"},{"name":"platform[]","value":"tiktok"},{"parameterType":"formBinaryData","name":"video","inputDataFieldName":"data"},{"name":"user","value":"AIZDEC"}]},"options":{}},"id":"758b31cb-05c8-45ab-b2e4-fd0668dc8a34","name":"TikTok","type":"n8n-nodes-base.httpRequest","position":[1240,2160],"notesInFlow":true,"typeVersion":4.2,"disabled":true,"notes":"Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"},{"parameters":{"content":"## TikTok","height":240,"width":320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1080,2120],"id":"3c108b9a-bae6-4a4c-a89b-1528ffb1df18","name":"Sticky Note7"},{"parameters":{"content":"## Instagram","height":260,"width":360,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1260,1640],"id":"abc26377-b0e2-453f-984b-9a2685d62162","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"https://api.upload-post.com/api/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"title","value":"={{ $('Google Sheets').first().json['POV Video Title'] }}"},{"name":"platform[]","value":"instagram"},{"parameterType":"formBinaryData","name":"video","inputDataFieldName":"data"},{"name":"user","value":"AIZDEC"}]},"options":{}},"id":"f0402ffd-fa5c-46e5-8ee9-f4b1bb366e62","name":"Instagram","type":"n8n-nodes-base.httpRequest","position":[1460,1700],"notesInFlow":true,"typeVersion":4.2,"disabled":true,"notes":"Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"},{"parameters":{"jsCode":"/**\n * n8n node script that generates a shell script to:\n * 1. Download videos and audio files\n * 2. Merge each video with its corresponding audio and add a text overlay\n * 3. Concatenate all merged videos into a final output optimized for YouTube\n */\n\n// Extract input data from previous nodes\nconst titles = $('Split Out').all().map(item => item?.json?.title);\nconst videoUrls = $('Get Video').all().map(item => item?.json?.video?.url);\nconst audioUrls = $('Upload Mp3').all().map(item => item?.json?.webContentLink);\n\n// Configuration options - optimized for YouTube\nconst config = {\n  workDir: \"/tmp/n8n\",\n  finalOutputName: \"final_output.mp4\",\n  videoDuration: 5, // Each video is 5 seconds long\n  video: {\n    width: 720,\n    height: 1280,\n    frameRate: 30,\n    pixelFormat: \"yuv420p\",\n    bitrate: \"4M\" // 4 Mbps is good for 720p portrait video\n  },\n  ffmpeg: {\n    videoCodec: \"libx264\",\n    audioCodec: \"aac\",\n    audioChannels: 2,\n    audioBitrate: \"192k\", // YouTube recommends at least 128k, 192k is good\n    preset: \"medium\" // Balance between encoding speed and quality\n  },\n  transitions: {\n    fadeIn: {\n      enabled: true,\n      duration: 0.5 // Duration in seconds\n    },\n    fadeOut: {\n      enabled: true,\n      duration: 0.5 // Duration in seconds\n    }\n  },\n  textOverlay: {\n    fontColor: \"white\",\n    fontSize: 48,\n    boxColor: \"black@0.5\",\n    boxBorderWidth: 10,\n    topPosition: 20,\n    lineSpacing: 10,\n    font: \"/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf\",\n    maxTextLength: 25,\n    textWidth: 80\n  },\n  metadata: {\n    title: \"Video Compilation\",\n    artist: \"VASA Project\",\n    comment: \"Created with n8n workflow\",\n    copyright: \"© \" + new Date().getFullYear()\n  }\n};\n\n// Generate the FFmpeg text overlay filters for multiple lines\nfunction generateTextFilters(lines, config) {\n  if (!lines || lines.length === 0) return '';\n  \n  const baseY = config.textOverlay.topPosition / 100; // Base position from top as percentage\n  const lineHeight = config.textOverlay.fontSize * 1.5 / config.video.height; // Line height as percentage of video height\n  \n  // Create individual drawtext filters for each line\n  return lines.map((line, index) => {\n    const yPosition = baseY + (index * lineHeight);\n    \n    // Escape single quotes by doubling them for FFmpeg\n    const escapedText = line.replace(/'/g, \"''\");\n    \n    return `drawtext=text='${escapedText}':` +\n           `x=(w-tw)/2:` +\n           `y=h*${yPosition}:` +\n           `fontcolor=${config.textOverlay.fontColor}:` +\n           `fontsize=${config.textOverlay.fontSize}:` +\n           `fontfile=${config.textOverlay.font}:` +\n           `box=1:` +\n           `boxcolor=${config.textOverlay.boxColor}:` +\n           `boxborderw=${config.textOverlay.boxBorderWidth}:` +\n           `fix_bounds=true`;\n  }).join(',');\n}\n\n// Helper function to split title into lines\nfunction splitTitleIntoLines(title, maxLength) {\n  if (!title) return [''];\n  \n  // Normalize spaces and escape quotes for shell safety\n  let escaped = title.replace(/\"/g, '\\\\\"').replace(/\\s+/g, ' ').trim();\n  \n  // Split into words\n  const words = escaped.split(' ').filter(word => word.length > 0);\n  \n  // Create lines respecting the provided maxLength parameter\n  let lines = [];\n  let currentLine = '';\n  \n  words.forEach(word => {\n    if (currentLine.length + word.length + 1 > maxLength && currentLine.length > 0) {\n      lines.push(currentLine);\n      currentLine = word;\n    } else {\n      currentLine += (currentLine ? ' ' : '') + word;\n    }\n  });\n  \n  if (currentLine) {\n    lines.push(currentLine);\n  }\n  \n  // Only force splitting for very short text that's long enough to split\n  if (lines.length === 1 && words.length >= 5 && lines[0].length > maxLength * 0.8) {\n    const midPoint = Math.floor(words.length / 2);\n    const firstLine = words.slice(0, midPoint).join(' ');\n    const secondLine = words.slice(midPoint).join(' ');\n    lines = [firstLine, secondLine];\n  }\n  \n  return lines;\n}\n\n// Generate metadata arguments\nfunction generateMetadataArgs(config) {\n  const metadata = [];\n  \n  if (config.metadata.title) metadata.push(`-metadata title=\"${config.metadata.title}\"`);\n  if (config.metadata.artist) metadata.push(`-metadata artist=\"${config.metadata.artist}\"`);\n  if (config.metadata.comment) metadata.push(`-metadata comment=\"${config.metadata.comment}\"`);\n  if (config.metadata.copyright) metadata.push(`-metadata copyright=\"${config.metadata.copyright}\"`);\n  \n  return metadata.join(' ');\n}\n\n// Generate the shell script header\nlet script = `#!/bin/sh\nset -e\n\n# Create working directory\nWORK_DIR=\"${config.workDir}\"\nmkdir -p $WORK_DIR\ncd $WORK_DIR\n\n# Clean previous files if they exist\nrm -rf $WORK_DIR/video_* $WORK_DIR/audio_* $WORK_DIR/merged_* $WORK_DIR/file_list.txt $WORK_DIR/${config.finalOutputName}\n\n# Download videos and audio files\necho \"Downloading videos and audio files...\"\n`;\n\n// Generate processing steps for each video/audio pair\nfor (let i = 0; i < titles.length; i++) {\n  // Split the title into multiple lines\n  const titleLines = splitTitleIntoLines(titles[i] || `Video ${i}`, config.textOverlay.maxTextLength);\n  \n  // Generate FFmpeg text filters for all lines\n  const textFilters = generateTextFilters(titleLines, config);\n  \n  script += `\n# Processing item ${i}\nVIDEO_URL=\"${videoUrls[i]}\"\nAUDIO_URL=\"${audioUrls[i]}\"\n\necho \"Downloading video ${i}: $VIDEO_URL\"\ncurl -L \"$VIDEO_URL\" -o \"$WORK_DIR/video_${i}.mp4\"\n\necho \"Downloading audio ${i}: $AUDIO_URL\"\ncurl -L \"$AUDIO_URL\" -o \"$WORK_DIR/audio_${i}.mp3\"\n\n# Merge video with audio and add text overlay, ensuring YouTube-compatible format\necho \"Processing video ${i} with title: ${titleLines.join(' ')}\"\nffmpeg -y -i \"$WORK_DIR/video_${i}.mp4\" -i \"$WORK_DIR/audio_${i}.mp3\" \\\\\n  -map 0:v -map 1:a \\\\\n  -c:v ${config.ffmpeg.videoCodec} -c:a ${config.ffmpeg.audioCodec} \\\\\n  -r ${config.video.frameRate} -b:v ${config.video.bitrate} \\\\\n  -pix_fmt ${config.video.pixelFormat} \\\\\n  -ac ${config.ffmpeg.audioChannels} -b:a ${config.ffmpeg.audioBitrate} \\\\\n  -s ${config.video.width}x${config.video.height} \\\\\n  -preset ${config.ffmpeg.preset} \\\\\n  -vf \"scale=${config.video.width}:${config.video.height},setsar=1:1,fade=t=in:st=0:d=${config.transitions.fadeIn.duration},fade=t=out:st=${config.videoDuration - config.transitions.fadeOut.duration}:d=${config.transitions.fadeOut.duration},${textFilters}\" \\\\\n  ${generateMetadataArgs(config)} \\\\\n  \"$WORK_DIR/merged_${i}.mp4\"\n\n# Add to file list\necho \"file '$WORK_DIR/merged_${i}.mp4'\" >> \"$WORK_DIR/file_list.txt\"\n`;\n}\n\n// Generate final concatenation and output info\nscript += `\n# Concatenation with transition handling\necho \"Creating final concatenated video optimized for YouTube...\"\n\n# Two-pass encoding for better quality at the same bitrate\necho \"Performing two-pass encoding for best YouTube quality...\"\nffmpeg -y -f concat -safe 0 -i \"$WORK_DIR/file_list.txt\" \\\\\n  -c:v ${config.ffmpeg.videoCodec} -b:v ${config.video.bitrate} \\\\\n  -pix_fmt ${config.video.pixelFormat} -r ${config.video.frameRate} \\\\\n  -c:a ${config.ffmpeg.audioCodec} -b:a ${config.ffmpeg.audioBitrate} -ac ${config.ffmpeg.audioChannels} \\\\\n  -s ${config.video.width}x${config.video.height} \\\\\n  -preset ${config.ffmpeg.preset} -movflags +faststart \\\\\n  ${generateMetadataArgs(config)} \\\\\n  -pass 1 -f mp4 /dev/null\n\nffmpeg -y -f concat -safe 0 -i \"$WORK_DIR/file_list.txt\" \\\\\n  -c:v ${config.ffmpeg.videoCodec} -b:v ${config.video.bitrate} \\\\\n  -pix_fmt ${config.video.pixelFormat} -r ${config.video.frameRate} \\\\\n  -c:a ${config.ffmpeg.audioCodec} -b:a ${config.ffmpeg.audioBitrate} -ac ${config.ffmpeg.audioChannels} \\\\\n  -s ${config.video.width}x${config.video.height} \\\\\n  -preset ${config.ffmpeg.preset} -movflags +faststart \\\\\n  ${generateMetadataArgs(config)} \\\\\n  -pass 2 \"$WORK_DIR/${config.finalOutputName}\"\n\necho \"Final video created at: $WORK_DIR/${config.finalOutputName}\"\nls -la \"$WORK_DIR/${config.finalOutputName}\"\n\n# Get file size\necho \"File size:\"\ndu -h \"$WORK_DIR/${config.finalOutputName}\"\n\n# Get video information\necho \"Video information:\"\nffprobe -v quiet -print_format json -show_format -show_streams \"$WORK_DIR/${config.finalOutputName}\"\n\n# Print the location for further use\necho \"FINAL_VIDEO_PATH=$WORK_DIR/${config.finalOutputName}\"\n`;\n\n// Return the generated shell script\nreturn { command: script };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,1620],"id":"d6237902-c861-4024-9fc5-33f1e73d870c","name":"Render Script"},{"parameters":{"command":"={{ $json.command }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1240,1620],"id":"86132438-9fac-48de-aae9-12e356ec545d","name":"Render Execution"},{"parameters":{"modelId":{"__rl":true,"value":"o3-mini","mode":"list","cachedResultName":"O3-MINI"},"messages":{"values":[{"content":"=POV idea: {{ $json.idea }}\nEmotional Trigger: {{ $json.emotional_trigger }}\nPov Video Title: {{ $json.pov_video_title }}\nImmersive Scene Description: {{ $json.immersive_scene_description }}\nInviroment Prompt: {{ $json.enviroment_prompt }}\n\nFill the missing info from the info above.\nThe video consists of 7 scenes, the first view seconds are everything. This is where you pull the viewer in & actually make them feel like they have woken up in that time period. It needs to be ultra realistic, visually immersive & historically accurate.\nI am creating a viral POV video where the viewer wakes up as [INSERT CHARACTER] in [INSERT TIME PERIOD OR SETTING]. Generate a structured scene breakdown using first-person perspective, focusing on immersion and storytelling.\nStructure: Wake-Up Scene (Legs Scene - Always Included) First-person view, legs stretched out on a [describe setting]. Worn-out [describe clothing/footwear]. A [describe object] nearby, with [describe lighting/mood]. Morning Routine Scene \nFirst-person view, [hands interacting with something], [describe surroundings], [optional: key object in frame].\nTravel/Transition Scene First-person view, moving through [describe location], [describe what’s in the hands], [describe atmosphere]. \nCore Action Scene First-person view, [engaging in the main task], [describe surroundings], [describe tension or focus]. \nMidpoint Break Scene First-person view, [hands holding or interacting with an object], [describe mood], [optional: foreshadowing]. \nSecond Action Scene First-person view, [continuing task with new intensity], [describe change in environment or stakes]. \nFinal Transition Scene First-person view, [wrapping up or moving toward closure], [describe setting shift].\n\nThe prompt for the image generation is the most important, this are some guideances\n\n### Most Important Guidelines\n- Every image must be a first-person perspective shot—the viewer must feel like they are experiencing the moment, not just observing it.\n- A visible limb (hands or feet) must always be present and actively engaged (e.g., gripping, reaching, pushing, lifting, or interacting naturally).\n- The framing must be dynamic and interactive, mimicking real-world human vision, ensuring motion, depth, and immersion, similar to a GoPro or head-mounted camera shot.\n\n### Other Key Guidelines\n- Full-body awareness: The prompt should subtly remind the viewer they have a physical presence (e.g., weight shifting, breath fogging in cold air, or fingers trembling from adrenaline).\n- Sensory depth: Engage multiple senses (sight, touch, temperature, sound, even smell) to heighten realism.\n- World interaction: The hands/feet should not just be visible but should actively interact with the environment (e.g., clutching, adjusting, stepping forward, brushing against surfaces).\n- Keep prompts under 1000 characters in a single cinematic sentence without unnecessary formatting or explanation.\n\n\n### Here are some tips for the prompt: \n- Use keywords such as **POV, GoPro-style, first-person view, point of view** to reinforce immersion.\n- Use action-based verbs like gripping, running, reaching, holding, walking toward, stumbling, climbing, lifting, turning, stepping into.\n- **Never use double quotes** in any output.\n- All scenes must be hyper-realistic, high quality, and cinematic, evoking strong visual and emotional impact.\n- The title for the first scene should include the date like “in 1789” and one important historic event like “in the black plague”\n\nThe output must be in a JSON format containing a list called `scenes`. Each object in the `scenes` list represents one scene and MUST have the following keys:\n- `id`: (Integer like 1, 2, 3...) The scene number.\n- `title`: (String) **Generate a concise title for the scene IN RUSSIAN**, describing the main action in 3-7 words. This title will be displayed on the video. For example: `\\\"Вонзаю топор в полено\\\"` or `\\\"Поднимаю тяжелый мешок\\\"`.\n- `prompt`: (String) Generate a detailed prompt **IN ENGLISH** for image/video generation models, based on the scene's action and the overall story context, following the 'Most Important Guidelines' and 'Other Key Guidelines'. Must be optimized for visual generation.\n- `sound`: (String) Generate a descriptive prompt **IN ENGLISH** for sound effect generation, capturing the key sounds of the scene (e.g., `\\\"Axe chopping wood, heavy breathing, distant wind\\\"`)."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[100,1620],"id":"5289e1a0-c887-4fb6-b561-1d13145fb246","name":"генератор промтов"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,1480],"id":"585954f8-ff7d-43b3-b72a-077e9000fbbb","name":"When Executed by Another Workflow"},{"parameters":{"name":"generate_pov_videos","workflowId":{"__rl":true,"value":"GogTKiFQ9WCi5oNg","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-180,620],"id":"2073e7ca-95de-43ef-9a4f-56e007f3df5b","name":"generate_pov_videos"},{"parameters":{"path":"poviizdec_v2"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-400,340],"id":"43c9c75a-3f34-4717-bf83-c090e76ab8e4","name":"MCP Server Trigger4","webhookId":"55737a5e-6927-4995-b942-d32fa616f18d"},{"parameters":{"toolDescription":"This bot help you to scrap all contact information for lead gen from google map. Input query \"q\" for search input, \"ll\" for latlng, \"page\" is for the current page. For \"ll\", please follow coordinates in this format: @latitude,longitude,zoom, for example: @40.6973709,-74.1444871,11z.","url":"https://google.serper.dev/maps","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"q"},{"name":"ll"},{"name":"page"}]}},"id":"0edc1e83-ffa3-4ec1-b513-a82c6d353230","name":"Map Searcher","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4900,1420]},{"parameters":{"toolDescription":"This bot help you to search it from internet result perplexity, pass \"question\" as parameter for the searching question.","method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{question}\"\n    }\n  ]\n}"},"id":"d42786b9-9c3c-4973-a3c7-77cf53637541","name":"Perplexity Search","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[5040,1420]},{"parameters":{"toolDescription":"This is a web crawler, you can input URL for scrapping the website content.","url":"https://scrape.serper.dev","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"url"}]}},"id":"d29c6b15-4f79-4c4f-8c84-13b8c5f1137b","name":"Web Crawler","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4760,1420]},{"parameters":{"toolDescription":"This bot will search videos from Youtube with following parameter:\n\nq: Query\ngl: Country\nlocation: Location\nhl: Language\ntbs: Date range\nnum: Results","url":"https://google.serper.dev/videos","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"q"},{"name":"gl"},{"name":"hl"},{"name":"tbs"},{"name":"num"}]}},"id":"10d4946f-b8fa-47f4-aa9b-cb2b518166c0","name":"Youtube Searcher","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[5200,1420]},{"parameters":{"path":"research"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[4820,1160],"id":"e1e2a50e-ceea-49cd-a9f4-bd9ae11e1eb4","name":"MCP Server Trigger5","webhookId":"97efa5a0-3b4e-4856-865a-7e988ca349e1"},{"parameters":{"documentId":{"__rl":true,"value":"1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI","mode":"list","cachedResultName":"AI Agency Hub","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1640744795,"mode":"list","cachedResultName":"MCP_Sales","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit#gid=1640744795"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[5480,1980],"id":"0af17313-33e4-4260-8f4c-0d7e87391aa9","name":"Read Sales Google Sheets"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI","mode":"list","cachedResultName":"AI Agency Hub","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1640744795,"mode":"list","cachedResultName":"MCP_Sales","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit#gid=1640744795"},"columns":{"mappingMode":"defineBelow","value":{"first name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('first_name', ``, 'string') }}","last name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('last_name', ``, 'string') }}","email address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_address', ``, 'string') }}","create time":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('create_time', ``, 'string') }}","stage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('stage', ``, 'string') }}","source":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('source', ``, 'string') }}","next follow up date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('next_follow_up_date', ``, 'string') }}","website url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('website_url', ``, 'string') }}","phone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', ``, 'string') }}","comment":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('comment', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"first name","displayName":"first name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last name","displayName":"last name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email address","displayName":"email address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website url","displayName":"website url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"comment","displayName":"comment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"stage","displayName":"stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"next follow up date","displayName":"next follow up date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"create time","displayName":"create time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[5680,1980],"id":"57d7a834-3791-495c-8f43-d6aa9b2a73ff","name":"Write Sales Google Sheets"},{"parameters":{"path":"sales"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[5420,1760],"id":"d881b7a9-f474-46e8-8f67-0ba175561b94","name":"MCP Server Trigger6","webhookId":"8dc19e26-4ffe-4e1e-a7a1-a4f66b879511"},{"parameters":{"includeTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[6280,2180],"id":"776bade7-3422-4ab3-a127-86f3fe8330ba","name":"Get Current Date"},{"parameters":{"operation":"addToDate","magnitude":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_to_Add_To', ``, 'string') }}","duration":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Duration', ``, 'number') }}","options":{}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[6440,2180],"id":"21d45b6c-0076-4bbc-bcdd-8d481ff68c7b","name":"Add Days to a Date"},{"parameters":{"operation":"addToDate","magnitude":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_to_Add_To', ``, 'string') }}","timeUnit":"hours","duration":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Duration', ``, 'number') }}","options":{}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[6600,2180],"id":"a7b5b449-7ab7-45b7-8250-0eacecaf7ff1","name":"Add Hours to a Date"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[6760,2180],"id":"022768c2-65be-4d0b-b27d-3ac6ca56136d","name":"Calculator"},{"parameters":{"path":"utils"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[6300,1920],"id":"dbe0c36c-5a65-4f6e-93fb-031d46e5fbbc","name":"MCP Server Trigger7","webhookId":"ca3fd577-1fdf-4aa2-84bf-2674e55b3afa"},{"parameters":{"path":"accounting"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[6300,1340],"id":"73be5b15-0e04-4543-aa0a-eaad04350ca4","name":"MCP Server Trigger8","webhookId":"e03c64c5-c402-4ed3-b0fb-9bef9eaaf1e4"},{"parameters":{"documentId":{"__rl":true,"value":"1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI","mode":"list","cachedResultName":"AI Agency Hub","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1549411947,"mode":"list","cachedResultName":"MCP_Accounting","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit#gid=1549411947"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[6380,1580],"id":"4ba78ad9-fad0-40e8-987f-891bf5c166bd","name":"Read Google Sheets1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI","mode":"list","cachedResultName":"AI Agency Hub","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1549411947,"mode":"list","cachedResultName":"MCP_Accounting","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YNLXaRqSbQD9An4nnhZkmiH0yPbDp2fM1SQFg-kAsrI/edit#gid=1549411947"},"columns":{"mappingMode":"defineBelow","value":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}","amount":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[6580,1580],"id":"4a5f4444-6950-4c1b-8850-5f1f4cb380de","name":"Write Google Sheets1"}],"connections":{"Read Google Sheets":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Write Google Sheets":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Get Google Docs":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"Create Google Docs":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"Update Google Docs":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"Get Unread Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Get Email Details":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Send Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Reply Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Delete Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Draft Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Add Label":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Remove Label":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Get By Label":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"MCP Server Trigger3","type":"ai_tool","index":0}]]},"Get Single Event":{"ai_tool":[[{"node":"MCP Server Trigger3","type":"ai_tool","index":0}]]},"Get Many Event":{"ai_tool":[[{"node":"MCP Server Trigger3","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"MCP Server Trigger3","type":"ai_tool","index":0}]]},"Google Sheets":{"main":[[{"node":"генератор промтов","type":"main","index":0}]]},"Text to image":{"main":[[{"node":"Image to video","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Text to image","type":"main","index":0}]]},"Image to video":{"main":[[{"node":"Wait 10 min","type":"main","index":0}]]},"Upload Mp3":{"main":[[{"node":"Grant Access","type":"main","index":0}]]},"Grant Access":{"main":[[{"node":"Render Script","type":"main","index":0}]]},"Text to sound":{"main":[[{"node":"Upload Mp3","type":"main","index":0}]]},"Get Video":{"main":[[{"node":"Text to sound","type":"main","index":0}]]},"Wait 10 min":{"main":[[{"node":"Get Video","type":"main","index":0}]]},"YouTube":{"main":[[{"node":"Update google sheet","type":"main","index":0}]]},"Get Video from Disk":{"main":[[{"node":"YouTube","type":"main","index":0}]]},"Render Script":{"main":[[{"node":"Render Execution","type":"main","index":0}]]},"Render Execution":{"main":[[{"node":"Get Video from Disk","type":"main","index":0}]]},"генератор промтов":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"generate_pov_videos":{"ai_tool":[[{"node":"MCP Server Trigger4","type":"ai_tool","index":0}]]},"Web Crawler":{"ai_tool":[[{"node":"MCP Server Trigger5","type":"ai_tool","index":0}]]},"Map Searcher":{"ai_tool":[[{"node":"MCP Server Trigger5","type":"ai_tool","index":0}]]},"Perplexity Search":{"ai_tool":[[{"node":"MCP Server Trigger5","type":"ai_tool","index":0}]]},"Youtube Searcher":{"ai_tool":[[{"node":"MCP Server Trigger5","type":"ai_tool","index":0}]]},"Read Sales Google Sheets":{"ai_tool":[[{"node":"MCP Server Trigger6","type":"ai_tool","index":0}]]},"Write Sales Google Sheets":{"ai_tool":[[{"node":"MCP Server Trigger6","type":"ai_tool","index":0}]]},"Get Current Date":{"ai_tool":[[{"node":"MCP Server Trigger7","type":"ai_tool","index":0}]]},"Add Days to a Date":{"ai_tool":[[{"node":"MCP Server Trigger7","type":"ai_tool","index":0}]]},"Add Hours to a Date":{"ai_tool":[[{"node":"MCP Server Trigger7","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"MCP Server Trigger7","type":"ai_tool","index":0}]]},"Read Google Sheets1":{"ai_tool":[[{"node":"MCP Server Trigger8","type":"ai_tool","index":0}]]},"Write Google Sheets1":{"ai_tool":[[{"node":"MCP Server Trigger8","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9eb675c8-3250-4012-a5bd-6c8fc73a33cd","triggerCount":0,"tags":[{"createdAt":"2025-07-07T07:47:53.857Z","updatedAt":"2025-07-07T07:47:53.857Z","id":"f3Vig3GdRXoKyPYJ","name":"MCP"}]}