my-workflow-15-zZIfWoVB7oxejP0U.json
{"createdAt":"2025-07-28T10:11:19.617Z","updatedAt":"2025-07-28T11:02:34.658Z","id":"zZIfWoVB7oxejP0U","name":"My workflow 15","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"2cca31cc-9e14-416f-8953-30d4191f8536","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-768,-16],"webhookId":"e0aae5d1-150e-4dc1-bfa8-52fa6439e0e6","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const msg = item.json.message;\n  \n  if (!msg.photo || !msg.caption) {\n    item.json.error = 'Надішліть фото з підписом';\n    item.json.skip = true;\n    return item;\n  }\n  \n  item.json.original_caption = msg.caption;\n  item.json.photo_file_id = msg.photo[msg.photo.length - 1].file_id;\n  item.json.chat_id = msg.chat.id;\n  item.json.user_id = msg.from.id;\n  item.json.message_id = msg.message_id;\n  \n  return item;\n}"},"id":"efe51857-84aa-4fe3-abde-97e634ff4d48","name":"Extract Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,-16]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.skip}}","value2":true}]}},"id":"51b83643-9868-4cc8-a81b-552ebdac5458","name":"Check Error","type":"n8n-nodes-base.if","typeVersion":1,"position":[-336,-16]},{"parameters":{"chatId":"={{$json.chat_id}}","text":"❌ {{$json.error}}","additionalFields":{}},"id":"d44e111c-736a-446b-aa29-df366f155ec7","name":"Send Error","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-112,-112],"webhookId":"11977838-2bad-4c9b-a697-e226d9a19696","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"model":"gpt-3.5-turbo","options":{},"requestOptions":{}},"id":"ae0343f9-1472-47d2-8f28-d90dc38fed43","name":"GPT Rephrase","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[-112,96],"credentials":{"openAiApi":{"id":null,"name":"openai_api"}}},{"parameters":{"chatId":"={{$json.chat_id}}","additionalFields":{"parse_mode":"Markdown"}},"id":"d7a58d96-6f9e-4976-a90c-a4c94fe1a352","name":"Send Preview","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[112,96],"webhookId":"1b991fb0-09c3-432f-a86b-456493926166","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"updates":["callback_query"],"additionalFields":{}},"id":"c7ad799d-9831-4dde-aef0-c8d6bda815fc","name":"Callback Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-768,288],"webhookId":"5ebba772-9a67-49bd-b52d-d3d250b2dfc9","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const callback = item.json.callback_query;\n  const action = callback.data.split('_')[0];\n  \n  item.json.action = action;\n  item.json.chat_id = callback.message.chat.id;\n  item.json.message_id = callback.message.message_id;\n  item.json.callback_id = callback.id;\n  \n  const caption = callback.message.caption;\n  const originalMatch = caption.match(/📝 \\*\\*Оригінал:\\*\\*\\n(.+)$/s);\n  if (originalMatch) {\n    item.json.original_text = originalMatch[1];\n  }\n  \n  return item;\n}"},"id":"95185c4d-55c6-48eb-b2c2-707cbdaa5fd2","name":"Process Callback","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,288]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.action}}","value2":"approve"}]}},"id":"d2623a89-7466-414d-be96-8cde679860a6","name":"Check Action","type":"n8n-nodes-base.if","typeVersion":1,"position":[-336,288]},{"parameters":{"operation":"answerCallbackQuery"},"id":"f8b7c66f-0446-4595-bd92-e489025b2752","name":"Approve Response","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-112,192],"webhookId":"d2f06def-a7de-4748-9044-d8aea457ddc3","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"operation":"editMessageReplyMarkup"},"id":"7af340e2-3ee2-4b83-92f0-8b9c4db6f604","name":"Remove Buttons","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[112,192],"webhookId":"9a66727e-b6c2-4339-aaf0-90365ce1bc9b","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"operation":"answerCallbackQuery"},"id":"539cbf76-42e4-4e66-bc4d-10fa11f9c994","name":"Retry Response","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-112,384],"webhookId":"b9216953-c8cc-44fd-992c-97aa7434df5a","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Extract Data","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Check Error","type":"main","index":0}]]},"Check Error":{"main":[[{"node":"Send Error","type":"main","index":0}],[{"node":"GPT Rephrase","type":"main","index":0}]]},"GPT Rephrase":{"main":[[{"node":"Send Preview","type":"main","index":0}]]},"Callback Trigger":{"main":[[{"node":"Process Callback","type":"main","index":0}]]},"Process Callback":{"main":[[{"node":"Check Action","type":"main","index":0}]]},"Check Action":{"main":[[{"node":"Approve Response","type":"main","index":0}],[{"node":"Retry Response","type":"main","index":0}]]},"Approve Response":{"main":[[{"node":"Remove Buttons","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6811c006-1ad1-4581-9b62-cd4bac607f9e","triggerCount":0,"shared":[{"createdAt":"2025-07-28T10:11:19.617Z","updatedAt":"2025-07-28T10:11:19.617Z","role":"workflow:owner","workflowId":"zZIfWoVB7oxejP0U","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}