my-workflow-17-XmpdazCNosXDSMJM.json
{"createdAt":"2025-07-28T10:23:37.839Z","updatedAt":"2025-07-28T10:23:37.839Z","id":"XmpdazCNosXDSMJM","name":"My workflow 17","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"FINISHED"}]},"options":{}},"id":"9728effd-6afa-4520-8d28-b2a78e5bd156","name":"If media status is finished","type":"n8n-nodes-base.if","position":[5056,1328],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"PUBLISHED"}]},"options":{}},"id":"6286b13c-acbd-4728-9cab-eb44a1f4b5b9","name":"If media status is finished1","type":"n8n-nodes-base.if","position":[5632,1328],"typeVersion":2.2},{"parameters":{"chatId":"={{ $('Telegram Params').item.json.telegram_chat_id }}","text":"Video upload edilmeden önce bir problem oldu","additionalFields":{}},"id":"dbd14cb8-b480-454b-a918-51becd4a1a95","name":"Telegram","type":"n8n-nodes-base.telegram","position":[5216,1520],"typeVersion":1.2,"webhookId":"173987ff-a4f1-471c-84fd-440990682e70"},{"parameters":{"chatId":"={{ $('Telegram Params').item.json.telegram_chat_id }}","text":"Instagram Content is shared","additionalFields":{}},"id":"3e314354-8166-45ea-a26f-de79975336ff","name":"Telegram1","type":"n8n-nodes-base.telegram","position":[5792,1168],"typeVersion":1.2,"webhookId":"b9b1d53f-7c79-416a-9347-e09f66171a43"},{"parameters":{"chatId":"={{ $('Telegram Params').item.json.telegram_chat_id }}","text":"There was a problem when execution a upload content to instagram","additionalFields":{}},"id":"95f35305-2c29-46e7-bed4-4893e910a634","name":"Telegram2","type":"n8n-nodes-base.telegram","position":[5792,1520],"typeVersion":1.2,"webhookId":"b65b5417-a1a6-4619-a5a7-680d02acce46"},{"parameters":{"options":{}},"id":"3cbfccad-8ad8-465a-8f77-3d4e90d7a31f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[2640,1296],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"5 13,19 * * *"}]}},"id":"cb3f1e84-21c4-48c6-a598-02fc8cacb28d","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","position":[560,1376],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"d18cdca7-d301-4c70-a4d0-8d6e7ecfc2d1","name":"telegram_chat_id","type":"string","value":""}]},"options":{}},"id":"22123420-84cc-48b3-b29c-080b0990b755","name":"Telegram Params","type":"n8n-nodes-base.set","position":[1312,1376],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"1e380c14-e908-4eeb-90e0-957a422829d0","name":"instagram_business_account_id","type":"string","value":""}]},"options":{}},"id":"c7f0613b-b89f-464b-8118-2027253b1e8f","name":"Instagram params","type":"n8n-nodes-base.set","position":[1072,1376],"typeVersion":3.4},{"parameters":{"content":"## Все необходимые учётные данные\n** Идентификатор бизнес-аккаунта Instagram  \n** Идентификатор чата Telegram  \n** Ключ Rapid API  \n** Токен Replicate\n","height":600,"width":1000,"color":4},"id":"58b44cdc-6c7f-4565-8931-01e4cc6098c8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[768,1088],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"48a33ec7-2b4f-496a-ad77-e4d5f1907ee4","name":"x-rapid-api-key","type":"string","value":""}]},"options":{}},"id":"e4b5dc6f-42ba-4f8d-ab4f-5d901f8e6d45","name":"Rapid Api params","type":"n8n-nodes-base.set","position":[1552,1376],"notesInFlow":false,"typeVersion":3.4,"notes":"test"},{"parameters":{"jsCode":"const filteredData = $input.first().json.data.items.filter(item=> !item.is_video)\nreturn filteredData.map((item)=>{\n return {\n id: item.id,\n prompt: item.caption.text,\n content_code: item.code,\n thumbnail_url: item.thumbnail_url,\n tag: $input.first().json.data.additional_data.name\n }\n}) \n\n"},"id":"fbc6b432-ec09-4735-9ed1-52a03b4184b1","name":"filter the image content","type":"n8n-nodes-base.code","position":[2160,1456],"typeVersion":2},{"parameters":{"url":"https://instagram-scraper-api2.p.rapidapi.com/v1/hashtag","sendQuery":true,"queryParameters":{"parameters":[{"name":"hashtag","value":"blender3d"},{"name":"feed_type","value":"top"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-scraper-api2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $json['x-rapid-api-key'] }}"}]},"options":{}},"id":"f9006940-8a7c-46e1-8d88-6d84edc55267","name":"get top trends on instagram #blender3d","type":"n8n-nodes-base.httpRequest","position":[1920,1248],"typeVersion":4.2},{"parameters":{"url":"https://instagram-scraper-api2.p.rapidapi.com/v1/hashtag","sendQuery":true,"queryParameters":{"parameters":[{"name":"hashtag","value":"isometric"},{"name":"feed_type","value":"top"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-scraper-api2.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $json['x-rapid-api-key'] }}"}]},"options":{}},"id":"0a15c0ec-85d0-4913-9303-bad0eaa004b5","name":"get top trends on instagram #isometric","type":"n8n-nodes-base.httpRequest","position":[1920,1456],"typeVersion":4.2},{"parameters":{},"id":"14e4a390-b59a-4a8a-be8c-77b2dbba495b","name":"merge the array content","type":"n8n-nodes-base.merge","position":[2352,1360],"typeVersion":3},{"parameters":{"content":"## Запланируйте время для публикации\n","height":600,"width":280,"color":3},"id":"fcedb413-6259-49ba-8928-9fb2a2c7eec1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[448,1088],"typeVersion":1},{"parameters":{"content":"## Гайд  \n** [Инструкция](https://docs.matillion.com/metl/docs/6957316//) по получению идентификатора бизнес-аккаунта Instagram\n","height":300,"width":180,"color":5},"id":"ae0d2e1e-2180-43ce-a057-683e406460e2","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1040,1232],"typeVersion":1},{"parameters":{"content":"## Гайд  \n** [Инструкция](https://rapidapi.com/i-yqerddkq0t/api/telegram92/tutorials/how-to-get-the-id-of-a-telegram-channel,-chat,-user-or-bot%3F) по получению идентификатора чата Telegram\n","height":300,"width":180,"color":5},"id":"5ebef0af-c0b1-47e6-b755-a9e63785a6d2","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1280,1232],"typeVersion":1},{"parameters":{"content":"## Гайд  \n** [Инструкция](https://docs.rapidapi.com/docs/keys-and-key-rotation) по получению ключа Rapid API\n","height":300,"width":180,"color":5},"id":"de101d16-e2f9-492f-b863-686ae2900e52","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1520,1232],"typeVersion":1},{"parameters":{"content":"**Предупреждение**  \nНе забудьте создать бота и сначала отправить ему сообщение\n","height":100,"width":220,"color":7},"id":"4e4765b4-0657-4a8d-ad97-596487d9a341","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1248,1536],"typeVersion":1},{"parameters":{"content":"## Получение топовых трендовых постов в Instagram  \n** Измените тему, которую хотите получить, в HTTP-запросе\n","height":600,"width":660},"id":"179f3e34-542a-4d5b-83b8-fdd6747093a3","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1808,1088],"typeVersion":1},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public","cachedResultName":"public"},"table":{"__rl":true,"mode":"list","value":"top_trends","cachedResultName":"top_trends"},"where":{"values":[{"column":"code","value":"={{$json.content_code}}"}]},"options":{}},"id":"1d4b7117-6c2a-40eb-a7e8-e09c3273565d","name":"Check Data on Database Is Exist","type":"n8n-nodes-base.postgres","position":[2880,1296],"typeVersion":2.5,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"9dc20983-ae4d-40db-b969-7d43fa8b0c3e","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ !$json.isEmpty() }}","rightValue":"we"},{"id":"0e1b9264-be56-4d0c-a83e-d9ca0b05b265","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"","rightValue":""}]},"looseTypeValidation":true,"options":{}},"id":"99b3a492-4eb7-4553-bfc4-4e33edd72081","name":"If Data is Exist","type":"n8n-nodes-base.if","position":[3088,1312],"executeOnce":false,"typeVersion":2.2,"alwaysOutputData":false},{"parameters":{"content":"## Перебор данных и проверка на наличие в базе данных  \n**Мы проверяем данные до тех пор, пока не найдём те, которые ещё не были внесены, потому что не хотим создавать контент на одну и ту же тему повторно\n","height":600,"width":1060},"id":"6822a214-bdc4-4650-a78d-7799091845de","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[2512,1088],"typeVersion":1},{"parameters":{"chatId":"={{ $('Telegram Params').item.json.telegram_chat_id}}","text":"There was a problem execution a postgresql content","additionalFields":{}},"id":"dcb12cff-a067-4646-9a4b-c01db5d8e65b","name":"send error message to telegram","type":"n8n-nodes-base.telegram","position":[2640,1520],"typeVersion":1.2,"webhookId":"22d3ff11-48cd-4e98-ae8e-348483a74975"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"top_trends","cachedResultName":"top_trends"},"columns":{"value":{"tag":"={{$('Loop Over Items').item.json.tag}}","code":"={{$('Loop Over Items').item.json.content_code}}","prompt":"={{$('Loop Over Items').item.json.prompt}}","isposted":false,"thumbnail_url":"={{$('Loop Over Items').item.json.thumbnail_url}}"},"schema":[{"id":"id","type":"number","display":true,"removed":true,"required":false,"displayName":"id","defaultMatch":true,"canBeUsedToMatch":true},{"id":"prompt","type":"string","display":true,"required":true,"displayName":"prompt","defaultMatch":false,"canBeUsedToMatch":true},{"id":"isposted","type":"boolean","display":true,"required":false,"displayName":"isposted","defaultMatch":false,"canBeUsedToMatch":true},{"id":"createdat","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"createdat","defaultMatch":false,"canBeUsedToMatch":true},{"id":"updatedat","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"updatedat","defaultMatch":false,"canBeUsedToMatch":true},{"id":"deletedat","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"deletedat","defaultMatch":false,"canBeUsedToMatch":true},{"id":"code","type":"string","display":true,"required":false,"displayName":"code","defaultMatch":false,"canBeUsedToMatch":true},{"id":"tag","type":"string","display":true,"required":false,"displayName":"tag","defaultMatch":false,"canBeUsedToMatch":true},{"id":"thumbnail_url","type":"string","display":true,"required":false,"displayName":"thumbnail_url","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6a9e9e8a-3121-4487-9ef7-d42555324e4d","name":"insert data on db","type":"n8n-nodes-base.postgres","position":[3376,1312],"typeVersion":2.5},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"text":"Create a clear and concise description of the object in the image, focusing on its physical and general features. Avoid detailed environmental aspects like background, lighting, or colors. Describe the shape, texture, size, and any unique characteristics of the object. Mention any notable features that make the object stand out, such as its surface details, materials, and design. The description should be focused on the object itself, not its surroundings.\n\nFor example, describe the following image:\n","imageUrls":"={{ $('Loop Over Items').item.json.thumbnail_url }}","options":{}},"id":"da2830b2-4a15-4061-96b4-67f9a7eb15d5","name":"Analyze Image and give the content","type":"@n8n/n8n-nodes-langchain.openAi","position":[3712,1312],"typeVersion":1.8},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\nSummarize the following content description into a short, engaging Instagram caption under 150 words. The caption should focus on the content of the image, not the app. Keep it appealing to social media users, and highlight the visual details of the image. Include hashtags relevant to 3D modeling and design, such as #Blender3D, #3DArt, #DigitalArt, #3DModeling, and #ArtCommunity. Ensure the tone is friendly and inviting.\n\n\nContent description to summarize:\n{{ $json.content }}\n\nMake sure to craft the caption around the content's features, such as the color contrast, reflective surface, and artistic nature of the image.\n\n"}]},"options":{}},"id":"6b99e729-d59e-43ab-aead-3c66250626b4","name":"Analyze Content And Generate Instagram Caption","type":"@n8n/n8n-nodes-langchain.openAi","position":[3920,1312],"typeVersion":1.8},{"parameters":{"content":"## Анализ содержимого поста  \n** Мы анализируем изображение  \n** Генерируем подпись к посту в Instagram на основе содержимого  \n** Затем создаём изображение\n","height":600,"width":860,"color":4},"id":"4b20656c-87ce-44c8-b74f-bec6534f42be","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[3616,1088],"typeVersion":1},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $('Instagram params').item.json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json.output[0] }}"},{"name":"caption","value":"={{ $('Analyze Content And Generate Instagram Caption').item.json.message.content }}"}]}}},"id":"49493540-ba0f-45dc-a4b7-6791821cffea","name":"Prepare data on Instagram","type":"n8n-nodes-base.facebookGraphApi","position":[4608,1328],"typeVersion":1},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"30528fa7-8b2f-4a48-800d-771e680b35de","name":"Check Status Of Media Before Uploaded","type":"n8n-nodes-base.facebookGraphApi","position":[4832,1328],"typeVersion":1},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $('Instagram params').item.json.instagram_business_account_id }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"id":"9b70f50e-2209-4b08-9092-df3528415b3b","name":"Publish Media on Instagram","type":"n8n-nodes-base.facebookGraphApi","position":[5232,1168],"typeVersion":1},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $('Check Status Of Media Before Uploaded').item.json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"b5af02ba-fbbf-49fa-aef0-00f54e188576","name":"Check status of post ","type":"n8n-nodes-base.facebookGraphApi","position":[5440,1328],"typeVersion":1},{"parameters":{"content":"## Публикация в Instagram и отправка уведомления в Telegram после публикации\n","height":600,"width":1580,"color":5},"id":"4187e728-9d8f-4c92-8ad9-f44854d1e7f2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[4512,1088],"typeVersion":1},{"parameters":{"content":"## Подробнее об API  \n** [Руководство по Facebook Scraper API](https://rapidapi.com/social-api1-instagram/api/instagram-scraper-api2/playground/apiendpoint_a45552b2-9850-4da9-b5cb-bbdd3ac2199d)\n","height":500,"width":260,"color":5},"id":"1b1d0d88-042a-4970-a37d-8ae9ccb83380","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[1840,1168],"typeVersion":1},{"parameters":{"jsCode":"const filteredData = $input.first().json.data.items.filter(item=> !item.is_video)\nreturn filteredData.map((item)=>{\n return {\n id: item.id,\n prompt: item.caption.text,\n content_code: item.code,\n thumbnail_url: item.thumbnail_url,\n tag: $input.first().json.data.additional_data.name\n }\n}) \n\n"},"id":"05b39b12-50c8-42f8-8c57-3416cbc82a04","name":"filter the image content-2","type":"n8n-nodes-base.code","position":[2160,1248],"typeVersion":2},{"parameters":{"content":"## Гайд  \n** [Инструкция](https://replicate.com) по получению токена Replicate\n","height":300,"width":180,"color":5},"id":"eed0a92b-b328-4601-995f-a743656d93a5","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[816,1232],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"1e380c14-e908-4eeb-90e0-957a422829d0","name":"replicate_token","type":"string","value":""}]},"options":{}},"id":"5860e075-01e6-4f6c-b1d8-b48ead99192f","name":"Replicate params","type":"n8n-nodes-base.set","position":[848,1376],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Replicate params').item.json.replicate_token}}"},{"name":"Prefer","value":"wait"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n \"input\": {\n \"prompt\": \"A highly detailed 3D isometric model of {{$('Analyze Image and give the content').item.json.content .replace(/\\\\n/g, ' ') \n.replace(/\\\\t/g, ' ') \n.replace(/\\s+/g, ' ')\n.trim(); }} rendered in a stylized miniature toy aesthetic. Materials: Matte plastic/painted metal/weathered stone texture with no self-shadowing. Lighting: - Completely shadowless rendering - Ultra bright and perfectly even illumination from all angles - Pure ambient lighting without directional shadows - Flat, consistent lighting across all surfaces - No ambient occlusion. Style specifications: - Clean, defined edges and surfaces - Slightly exaggerated proportions - Miniature/toy-like scale - Subtle wear and texturing - Rich color palette with muted tones - Isometric 3/4 view angle - Crisp details and micro-elements. Technical details: - 4K resolution - PBR materials without shadows - No depth of field - High-quality anti-aliasing - Perfect uniform lighting. Environment: Pure white background with zero shadows or gradients. Post-processing: High key lighting, maximum brightness, shadow removal.\",\n \"output_format\": \"jpg\",\n \"output_quality\": 100,\n \"go_fast\":false\n }\n}\n","options":{}},"id":"b6e0bd58-a6e0-4517-9ed6-27acc981d964","name":"Generate image on flux","type":"n8n-nodes-base.httpRequest","position":[4320,1328],"typeVersion":4.2},{"parameters":{"content":"## Для top_trends таблицы\n```\nCREATE TABLE top_trends (\n id SERIAL PRIMARY KEY,\n isposted BOOLEAN DEFAULT false,\n createdat TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n updatedat TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n deletedat TIMESTAMP WITHOUT TIME ZONE,\n prompt TEXT NOT NULL,\n thumbnail_url TEXT,\n code TEXT,\n tag TEXT\n);\n```","height":320,"width":1060,"color":4},"id":"2e7ee516-907b-4ed9-8564-8093fc2e3619","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[2512,736],"typeVersion":1},{"parameters":{"content":"## Предупреждение  \n** Не забудьте создать таблицу top_trends\n","height":120,"width":360,"color":3},"id":"cdfb34b4-5dcb-49c8-a9b9-5401d6ea5a1d","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[2976,960],"typeVersion":1},{"parameters":{"content":"## Автоматизированное создание контента для Instagram из трендовых постов\n\nЭтот workflow автоматизирует процесс поиска и воссоздания трендового контента в Instagram:\n\n1. Поиск контента:\n - Сканирует топовые трендовые посты по заданным хештегам (#blender3d, #isometric)\n - Фильтрует только изображения (исключает видео)\n - Проверяет базу данных, чтобы избежать дублирования контента\n\n2. Генерация контента с помощью ИИ:\n - Анализирует трендовые изображения с использованием GPT-4 Vision\n - Генерирует подробные описания визуальных элементов\n - Создаёт привлекательные подписи для Instagram с релевантными хештегами\n - Использует Flux AI для создания похожих, но уникальных изображений\n\n3. Публикация и мониторинг:\n - Автоматически публикует контент в Instagram Business-аккаунт\n - Отслеживает статус публикации\n - Отправляет обновления через Telegram\n\nИдеально подходит для креаторов и бизнесов, желающих поддерживать активное присутствие в Instagram с помощью контента, сгенерированного ИИ по текущим трендам. Workflow запускается по расписанию и полностью автоматизирует процесс — от поиска контента до публикации.\n\nПримечание: необходимы доступы к Instagram Business Account, Telegram Bot, OpenAI и Replicate API.\n","height":840,"width":620},"id":"6c488a00-a66c-4a05-8f13-9efb7d50b8da","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[448,128],"typeVersion":1},{"parameters":{"content":"**Предупреждение**\nНе забудьте подписаться на [Instagram Scraper API](https://rapidapi.com/social-api1-instagram/api/instagram-scraper-api2/playground/apiendpoint_a45552b2-9850-4da9-b5cb-bbdd3ac2199d)\n","height":100,"width":220,"color":7},"id":"ca152f4f-660c-428e-b9a1-63fdf2aa2190","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[1488,1536],"typeVersion":1},{"parameters":{"content":"## Предупреждение  \n** Вы можете проверить [лимит запросов](https://rapidapi.com/social-api1-instagram/api/instagram-scraper-api2) для Instagram Scraper API на RapidAPI  \n** Бесплатная версия предоставляет 500 запросов в месяц\n","height":180,"width":260},"id":"3900144d-75b3-4132-88ef-b96e7d297624","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[1472,1696],"typeVersion":1}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Check Data on Database Is Exist","type":"main","index":0}]]},"Telegram Params":{"main":[[{"node":"Rapid Api params","type":"main","index":0}]]},"If Data is Exist":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"insert data on db","type":"main","index":0}]]},"Instagram params":{"main":[[{"node":"Telegram Params","type":"main","index":0}]]},"Rapid Api params":{"main":[[{"node":"get top trends on instagram #isometric","type":"main","index":0},{"node":"get top trends on instagram #blender3d","type":"main","index":0}]]},"Replicate params":{"main":[[{"node":"Instagram params","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Replicate params","type":"main","index":0}]]},"insert data on db":{"main":[[{"node":"Analyze Image and give the content","type":"main","index":0}]]},"Check status of post ":{"main":[[{"node":"If media status is finished1","type":"main","index":0}]]},"Generate image on flux":{"main":[[{"node":"Prepare data on Instagram","type":"main","index":0}]]},"merge the array content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"filter the image content":{"main":[[{"node":"merge the array content","type":"main","index":1}]]},"Prepare data on Instagram":{"main":[[{"node":"Check Status Of Media Before Uploaded","type":"main","index":0}]]},"Publish Media on Instagram":{"main":[[{"node":"Check status of post ","type":"main","index":0}]]},"filter the image content-2":{"main":[[{"node":"merge the array content","type":"main","index":0}]]},"If media status is finished":{"main":[[{"node":"Publish Media on Instagram","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"If media status is finished1":{"main":[[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}]]},"Check Data on Database Is Exist":{"main":[[{"node":"If Data is Exist","type":"main","index":0}],[{"node":"send error message to telegram","type":"main","index":0}]]},"Analyze Image and give the content":{"main":[[{"node":"Analyze Content And Generate Instagram Caption","type":"main","index":0}]]},"Check Status Of Media Before Uploaded":{"main":[[{"node":"If media status is finished","type":"main","index":0}]]},"get top trends on instagram #isometric":{"main":[[{"node":"filter the image content","type":"main","index":0}]]},"get top trends on instagram #blender3d":{"main":[[{"node":"filter the image content-2","type":"main","index":0}]]},"Analyze Content And Generate Instagram Caption":{"main":[[{"node":"Generate image on flux","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"98c2444c-15f7-46bf-8f26-9420eff211e5","triggerCount":0,"shared":[{"createdAt":"2025-07-28T10:23:37.839Z","updatedAt":"2025-07-28T10:23:37.839Z","role":"workflow:owner","workflowId":"XmpdazCNosXDSMJM","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}