my-workflow-3-AIqcSJ1J7ulE8IBh.json
{"createdAt":"2025-07-07T09:24:27.515Z","updatedAt":"2025-07-07T09:24:27.515Z","id":"AIqcSJ1J7ulE8IBh","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $('Get Video').item.json.item.mediaUrl }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,820],"id":"bb0f2b91-ab64-43bc-ba09-288c90264527","name":"Upload to Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.instagram_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,20],"id":"59a2211a-fbae-44ac-8eaf-d59493da76ec","name":"[Instagram] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Prepare for Publish').item.json.facebook_page_id }}\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.facebook_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,360],"id":"ed64ce1f-74c0-4e2d-a395-4715be2c589c","name":"[Facebook] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.linkedin_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,820],"id":"0e98ca8e-d1d2-4361-ac2a-90552ba02a82","name":"[Linkedin] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": false,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.tiktok_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,1220],"id":"99bc1447-8acc-43c8-9d24-351aedbe4f62","name":"[Tiktok] Publish via Blotato","disabled":true},{"parameters":{"resource":"image","prompt":"={{ $('Prepare for Publish').item.json.final_text_long }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2400,1640],"id":"46435bf0-70b6-4459-b0ac-b70064d25931","name":"OpenAI","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2620,1640],"id":"32d428bc-bfd6-4301-8f31-3341b520fe27","name":"Upload to Blotato - Image","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Prepare for Publish').item.json.pinterest_board_id }}\",\n      \"link\": \"https://www.tiktok.com/@sabrina_ramonov\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},,\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.pinterest_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2840,1640],"id":"df616f06-a711-4692-a175-70958e7b358e","name":"[Pinterest] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"TEST VIDEO\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.youtube_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2760,20],"id":"ac3d48b6-ab4f-44e1-a600-02ca27132244","name":"[Youtube] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"threads\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.threads_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2760,360],"id":"f8d7af01-3f7d-42c5-821d-0f12a4fd418e","name":"[Threads] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.twitter_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2760,820],"id":"9f2abc34-f2a4-4cd1-ad75-5e4ae2a2de02","name":"[Twitter] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": []\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.bluesky_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2760,1220],"id":"9310fa9c-a9c9-48b5-bc1d-d1bea9942ecf","name":"[Bluesky] Publish via Blotato","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,820],"id":"b8d89914-ecab-4a6c-b367-14b35eb4632f","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"# INSTRUCTIONS\n\n1. Brainstorm 50 different viral faceless video ideas related to theme \"Little known history facts about [famous person]\".\n\n2. Randomly select 1 of the ideas. Research relevant statistics, dates, and figures related to the specific idea.\n\n3. Write a 15-second video script for a viral faceless video. Use 6th grade language, use active voice, and start with a hook that leaves viewers wanting to know the answer. Do NOT start with a greeting like \"Hey there!\".\n\n4. Write a 2-sentence video caption, use 6th grade language, no emojis, and append 3 relevant hashtags to the end of the caption, including \"#ai\".\n\n# OUTPUT FORMAT\n\nIn JSON format:\n\n1. Output the script.\n2. Output the caption.","hasOutputParser":true,"options":{"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[440,820],"id":"1e7f30b8-18da-4f3e-bcdd-bec407fa2d51","name":"AI Agent"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1460,820],"id":"bf5507d8-fc1b-4c57-ae85-7b6711dc3fac","name":"Wait","webhookId":"83991019-318c-46e2-85d2-6e4bdcd6b69e","alwaysOutputData":false},{"parameters":{"content":"# Write Video Script","height":2100,"width":780,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,-140],"id":"cba50e59-097a-49c4-8669-1db033af1197","name":"Sticky Note"},{"parameters":{"content":"# Create Faceless Video\n\n- Sign up for Blotato: https://www.blotato.com\n- Here is the Blotato API documentation: https://help.blotato.com/api-reference/create-video","height":2100,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1000,-140],"id":"ecf9ae65-fa53-449b-a7c5-02b613a5c59d","name":"Sticky Note1"},{"parameters":{"content":"# Publish to Social Media\n\n- Sign up for Blotato: https://www.blotato.com\n- Blotato's API currently doesn't support uploading videos to Bluesky or Pinterest. \n- This feature will be released in the future, so I've deactivated the nodes for now.","height":2100,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,-140],"id":"89ac44e6-9415-4ac5-b273-8485cc736a11","name":"Sticky Note2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"blotato_api_key\": \"\",\n  \"instagram_id\": \"\",\n  \"youtube_id\": \"\",\n  \"tiktok_id\": \"\",\n  \"facebook_id\": \"\",\n  \"facebook_page_id\": \"\",\n  \"threads_id\": \"\",\n  \"twitter_id\": \"\",\n  \"linkedin_id\": \"\",\n  \"pinterest_id\": \"\",\n  \"pinterest_board_id\": \"\",\n  \"bluesky_id\": \"\",\n  \"final_text_long\": {{ $('Prepare Video').item.json.script.caption.toJsonString() }},\n  \"final_text_short\": {{ $('Prepare Video').item.json.script.caption.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,820],"id":"9ae5d847-1722-4c5e-b7fe-ee02581d40e5","name":"Prepare for Publish"},{"parameters":{"content":"## Make sure you fill out \"Prepare Video\"","height":180,"width":150,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,1000],"id":"b57ef804-14ae-4f3d-8b5a-9a296dab652f","name":"Sticky Note3"},{"parameters":{"content":"## Make sure you fill out \"Prepare for Publish\"","height":180,"width":160,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1960,1000],"id":"fad7ceb2-71d7-40cf-8f5a-ab84acfcf862","name":"Sticky Note4"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/videos/creations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template\": {\n    \"id\": \"{{ $json.template }}\",\n    \"voiceId\": \"{{ $json.voiceId }}\",\n    \"captionPosition\": \"{{ $json.captionPosition }}\"\n  },\n  \"script\": {{ $json.script.script.toJsonString() }},\n  \"style\": \"{{ $json.style }}\",\n  \"animateFirstImage\": {{ $json.animate_first_image }},\n  \"animateAll\": {{ $json.animate_all }},\n  \"textToImageModel\": \"{{ $json.text_to_image_model }}\",\n  \"imageToVideoModel\": \"{{ $json.image_to_video_model }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,820],"id":"836e914f-fd32-4418-92bc-34fb134857a7","name":"Create Video"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[440,1000],"id":"94d32acf-2fb1-4887-be45-e7d3377ff8f9","name":"Brainstorm Idea"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"blotato_api_key\": \"\",\n  \"template\": \"empty\",\n  \"voiceId\": \"elevenlabs/eleven_multilingual_v2/JBFqnCBsd6RMkjVDRZzb\",\n  \"captionPosition\": \"bottom\",\n  \"script\": {{ $('AI Agent').item.json.output.toJsonString() }},\n  \"style\": \"cinematic\",\n  \"animate_first_image\": true,\n  \"animate_all\": false,\n  \"text_to_image_model\": \"replicate/recraft-ai/recraft-v3\",\n  \"image_to_video_model\": \"fal-ai/framepack\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,820],"id":"3716056c-9bf6-4037-a858-60a316a63d90","name":"Prepare Video"},{"parameters":{"url":"=https://backend.blotato.com/v2/videos/creations/{{ $json.item.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare Video').item.json.blotato_api_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,820],"id":"a5581bdd-1fa9-4292-94e3-728b466c26e8","name":"Get Video"},{"parameters":{"jsonSchemaExample":"{\n\t\"script\": \"your video script\",\n\t\"caption\": \"short video caption\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[600,1000],"id":"e89e87e6-89e2-4818-843f-ee2e4eb72699","name":"Structured Output Parser"},{"parameters":{"articleId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Article_ID', ``, 'string') }}","additionalFields":{"includeComments":true}},"type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[4140,4720],"id":"eabca01a-6308-4cb4-9f10-e27b73c22ee4","name":"Fetch HN Article"},{"parameters":{"resource":"all","additionalFields":{"keyword":"AI","tags":["front_page"]}},"type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[3980,4720],"id":"655f4b90-ee2d-480e-b58d-7387c0d3293e","name":"Fetch HN Front Page"},{"parameters":{"model":{"__rl":true,"value":"o3-mini","mode":"list","cachedResultName":"o3-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3840,4720],"id":"ba1b7f46-fb7b-4e9a-ac34-69bd7507aaea","name":"Write Script"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"heygen_api_key\": \"\",\n  \"avatar_id\": \"\",\n  \"voice_id\": \"\",\n  \"background_video_url\": \"https://database.blotato.io/storage/v1/object/public/public_media/4ddd33eb-e811-4ab5-93e1-2cd0b7e8fb3f/videogen2-render-e6b398a2-5859-4a77-88ef-2345bcefdc98.mp4\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4780,4520],"id":"b4c9dad4-46a5-44a4-97b7-9163d63d2a2b","name":"Setup Heygen"},{"parameters":{"url":"https://api.heygen.com/v1/video_status.get","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $('Create Avatar Video').item.json.data.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $('Setup Heygen').item.json.heygen_api_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5340,4520],"id":"a2136391-232d-4276-b5da-cbde53112df4","name":"Get Avatar Video"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=# EXAMPLE\n\n<example>\nMany people have recently asked me about ask engine optimization, which is all about optimizing your website and existing content, so it can be pulled into ChatGPT and other generative AI tools. Consider that generative AI tools tend to be more conversational in nature and have a Q&A type format, so search engines will want to pull in snippets that concisely answer a user’s question.- what is ask engine optimization in the age of AI?- How does traditional SEO compare to ask engine optimization today?- top tips and tricks to get started with ask engine optimization?\n\n#ai #askengineoptimization #chatgpts #seo #aitools #digitalmarketing\n</example>\n\n# CONTEXT\n\nInfer the topic from the sources provided.\n\n# WRITING STYLE\n\nHere’s how you always write:\n\n<writing_style>\n\n- Your writing style is spartan and informative.\n- Use clear, simple language.\n- Employ short, impactful sentences.\n- Use active voice; avoid passive voice.\n- Focus on practical, actionable insights.\n- Incorporate data or statistics to support claims when possible.\n- Use \"\"\"\"\"\"\"\"you\"\"\"\"\"\"\"\" and \"\"\"\"\"\"\"\"your\"\"\"\"\"\"\"\" to directly address the reader.\n- Avoid metaphors and clichés.\n- Avoid generalizations.\n- Do not include common setup language in any sentence, including: in conclusion, in closing, etc.\n- Do not output warnings or notes—just the output requested.\n- Do not use hashtags.\n- Do not use semicolons.\n- Do not use emojis.\n- Do not use asterisks.\n- Do not use adjectives and adverbs.\n- Do NOT use these words:\n\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"can, may, just, that, very, really, literally, actually, certainly, probably, basically, could, maybe, delve, embark, enlightening, esteemed, shed light, craft, crafting, imagine, realm, game-changer, unlock, discover, skyrocket, abyss, you're not alone, in a world where, revolutionize, disruptive, utilize, utilizing, dive deep, tapestry, illuminate, unveil, pivotal, enrich, intricate, elucidate, hence, furthermore, realm, however, harness, exciting, groundbreaking, cutting-edge, remarkable, it. remains to be seen, glimpse into, navigating, landscape, stark, testament, in summary, in conclusion, moreover, boost, bustling, opened up, powerful, inquiries, ever-evolving\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\n</writing_style>\n\n# PLANNING\n\nYour goal is to write a 50-word video caption based on the provided source.\n\n1. Analyze the provided sources thoroughly.\n2. Study the <example> post carefully. You will be asked to replicate their:\n    - Overall structure.\n    - Tone and voice.\n    - Formatting (including line breaks and spacing).\n    - Length (aim for a similarly detailed post).\n    - Absence of emojis.\n    - Use of hashtags.\n    - Emotional resonance.\n\n# OUTPUT\nFollow the GUIDELINES below to write the post. Use your analysis from step 1 and step 2. Use the provided sources as the foundation for your post, expanding on it significantly while maintaining the style and structure of the examples provided from step 2. You MUST use information from the provided sources. Make sure you adhere to your <writing_style>.\n\n<guidelines>\nThe description should be structured as follows:\n1. Start with 1 paragraph summarizing the source\n2. Newline, followed by 3 bullet points of questions that a viewer might ask on a search engine about the source\n3. Newline, followed by these hashtags: #ai #artificialintelligence #ainews #sabrinaramonov #aiavatar\n</guidelines>\n\nTake a deep breath and take it step-by-step!\n\n# INPUT\nUse the following information sources:\n<sources>\n{{ $json.output }}\n</sources>"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4260,4400],"id":"9c2932b1-ce0b-4e21-8cfe-a7cae38289e8","name":"Write Long Caption","credentials":{"openAiApi":{"id":"91EDkGLbYI2HFOUi","name":"OpenAi account 3"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Write a spartan 2-sentence caption summarizing the video content, use 6th grade language, balanced neutral perspective, no emojis:\n\n<content>\n{{ $json.message.content }}\n</content>"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4260,4640],"id":"9f1d2d37-029c-4abf-a0d1-7398312daa10","name":"Write Short Caption"},{"parameters":{"method":"POST","url":"https://api.heygen.com/v2/video/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $json.heygen_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $json.avatar_id }}\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.0,\n        \"offset\": {\n          \"x\": 0.0,\n          \"y\": 0.0\n        },\n        \"matting\": true\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('AI Agent1').item.json.output }}\",\n        \"voice_id\": \"{{ $json.voice_id }}\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"video\",\n        \"url\": \"{{ $json.background_video_url }}\",\n        \"play_style\": \"loop\",\n        \"fit\": \"cover\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  },\n  \"aspect_ratio\": \"9:16\",\n  \"caption\": false,\n  \"title\": \"n8n TEST AVATAR\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4940,4520],"id":"ca993a2b-3c8a-4f5d-8f70-e712aa888481","name":"Create Avatar Video"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $('Get Avatar Video').item.json.data.video_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5860,4520],"id":"8a6634db-7cb5-4e56-8e6a-cf1f3f6c7471","name":"Upload to Blotato1"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish1').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish1').item.json.instagram_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6100,3720],"id":"44d30121-b1f0-4381-927f-15d1217335e1","name":"[Instagram] Publish via Blotato1"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Prepare for Publish1').item.json.facebook_page_id }}\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish1').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish1').item.json.facebook_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6100,4060],"id":"4d3fbf20-46ad-4e10-8567-ea92c7cd7540","name":"[Facebook] Publish via Blotato1","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish1').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish1').item.json.linkedin_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6100,4520],"id":"1032f1ca-5b5d-49d3-aef3-072276150a67","name":"[Linkedin] Publish via Blotato1","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": false,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish1').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish1').item.json.tiktok_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6100,4920],"id":"f76b2c4e-6ba4-44eb-a1cc-b43fec774cf8","name":"[Tiktok] Publish via Blotato1"},{"parameters":{"resource":"image","prompt":"={{ $('Prepare for Publish1').item.json.final_text_long }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6100,5320],"id":"4767430d-4f7d-4b33-b89e-46c92aae8dc0","name":"OpenAI1","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6320,5320],"id":"f03821c1-657c-43f3-97b4-3dde56fbd9eb","name":"Upload to Blotato - Image1","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Prepare for Publish1').item.json.pinterest_board_id }}\",\n      \"link\": \"https://www.tiktok.com/@sabrina_ramonov\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish1').item.json.final_text_short.toJsonString() }},,\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish1').item.json.pinterest_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6540,5320],"id":"3163b699-be59-4bed-b3ae-a4d84fce3c1d","name":"[Pinterest] Publish via Blotato1","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"TEST VIDEO\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish1').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish1').item.json.youtube_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6460,3720],"id":"3be3f5eb-1c32-4f0e-a624-610dbce8cea6","name":"[Youtube] Publish via Blotato1"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"threads\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish1').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish1').item.json.threads_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6460,4060],"id":"91b96cc8-4302-4c8d-98e3-68b2a739032c","name":"[Threads] Publish via Blotato1","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish1').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish1').item.json.twitter_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6460,4520],"id":"3b632dbd-49c7-44ba-af62-dc96de85fbd8","name":"[Twitter] Publish via Blotato1"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish1').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish1').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": []\n    },\n    \"accountId\": \"{{ $('Prepare for Publish1').item.json.bluesky_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6460,4920],"id":"decc9094-54b2-47b3-a516-37f7d285c5d9","name":"[Bluesky] Publish via Blotato1","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[3700,4520],"id":"97059475-95e6-41ef-8bf3-91c48e259502","name":"Schedule Trigger1"},{"parameters":{"promptType":"define","text":"# INSTRUCTIONS\n\nPerform the following tasks, in order:\n\n1. Fetch the top 10 stories from Hacker News from the past 24 hours related to AI or LLMs. \n\n2. Select the top story that is most likely to go viral on social media. \n\n3. Fetch the article and Hacker News comments.\n\n4. Create a 30-second monologue script for an AI avatar video, following these guidelines:\n   - The script should be approximately 30 seconds when spoken aloud.\n   - Include lots of details and statistics from the article.\n   - Use 6th grade reading level.\n   - Balanced viewpoint.\n\n5. Update the script's first 2 sentences to use sensational viral hooks that grab the viewer's attention and spark curiosity. The 3rd sentence should start diving into the article's details.\n\n6. Replace the last sentence with: \"Hit follow to stay ahead in AI!\"\n\n# OUTPUT FORMAT\n\nONLY output the exact video script. Do not output anything else. NEVER include intermediate thoughts, notes, or formatting.","options":{"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[3900,4520],"id":"08527083-014c-43d9-945c-1a7c079874ea","name":"AI Agent1"},{"parameters":{"amount":8,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5100,4520],"id":"e9ebde88-e357-42b9-83cd-6950ea318aa0","name":"Wait1","webhookId":"d9404622-0a06-4a65-959e-badd4fd87465","alwaysOutputData":false},{"parameters":{"content":"# Research Daily News and Write Script","height":2100,"width":940,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3660,3560],"id":"914f27fd-a4e7-42c5-ad43-c9fa4d9c2213","name":"Sticky Note5"},{"parameters":{"content":"# Create AI Avatar Video\n\n- Heygen API plan (paid) is required; the free plan is insufficient.\n- if you have a long script, you may need to increase the WAIT time.\n- you can use Elevenlabs voice by integrating Elevenlabs from within Heygen app.","height":2100,"width":800,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4720,3560],"id":"42359d13-24b2-4751-ab91-26782e13e253","name":"Sticky Note6"},{"parameters":{"content":"# Publish to Social Media\n\n- Sign up for Blotato: https://www.blotato.com\n- Blotato's API currently doesn't support uploading videos to Bluesky or Pinterest. \n- This feature will be released in the future, so I've deactivated the nodes for now.","height":2100,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5660,3640],"id":"3bd5511a-dbce-48c7-995c-c032528138db","name":"Sticky Note7"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"blotato_api_key\": \"\",\n  \"instagram_id\": \"\",\n  \"youtube_id\": \"\",\n  \"tiktok_id\": \"\",\n  \"facebook_id\": \"\",\n  \"facebook_page_id\": \"\",\n  \"threads_id\": \"\",\n  \"twitter_id\": \"\",\n  \"linkedin_id\": \"\",\n  \"pinterest_id\": \"\",\n  \"pinterest_board_id\": \"\",\n  \"bluesky_id\": \"\",\n  \"final_text_long\": {{ $('Write Long Caption').item.json.message.content.toJsonString() }},\n  \"final_text_short\": {{ $('Write Short Caption').item.json.message.content.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5700,4520],"id":"a04771b6-7801-4daf-8fa4-1c4f8ee04989","name":"Prepare for Publish1"},{"parameters":{"content":"## Make sure you fill out \"Setup Heygen\"","height":180,"width":150,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4760,4700],"id":"454a873d-61f2-461c-959d-45e0bc01ef77","name":"Sticky Note8"},{"parameters":{"content":"## Make sure you fill out \"Prepare for Publish\"","height":180,"width":160,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5680,4700],"id":"fe959f81-4784-45e6-a64a-196fe6523d94","name":"Sticky Note9"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6340,-540],"id":"05ca21ab-17c3-4742-a53e-61b6d94da633","name":"OpenAI Chat Model"},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"1ae165f9-9918-4dfe-962f-6c057ba4ca31","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6580,-600]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"2e4c95b3-e928-41e6-a6e8-98ad1b2bab56","leftValue":"={{ $json.variant }}","rightValue":"0","operator":{"type":"string","operation":"endsWith"}},{"id":"ff7c77a6-a968-4714-8c48-bb5e5f5316c7","leftValue":"={{ $json.variant2 }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7980,-840],"id":"4c3ab5b4-29d8-4332-bcf2-5533a692883b","name":"If1"},{"parameters":{"text":"={{ $('Главный Текст').item.json.text }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[8520,-1080],"id":"f033b9b0-8ff7-4346-93c6-dde9b8c4864b","name":"Telegram1 фотосообщение1","webhookId":"2726eea5-6876-43d4-823b-b04804147a96"},{"parameters":{"method":"POST","url":"https://graph.threads.net/v1.0/ВАШ ID/threads_publish","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.id }}"},{"name":"access_token","value":"ВАШ API"}]},"options":{}},"id":"71cf1b28-559d-4994-b37b-96955fa9fe5b","name":"Publish Threads Post1","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[8360,-1080]},{"parameters":{"operation":"sendPhoto","file":"={{ $('OpenAI Генерация фото1').item.json.url }}","additionalFields":{"caption":"={{ $('Главный Текст').item.json.text }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[8520,-600],"id":"4a0a1b45-e22b-4ca3-a5d0-7235191a45c9","name":"Telegram1 фотосообщение2","webhookId":"2726eea5-6876-43d4-823b-b04804147a96"},{"parameters":{"method":"POST","url":"https://graph.threads.net/v1.0/ВАШ ID/threads","sendQuery":true,"queryParameters":{"parameters":[{"name":"media_type","value":"IMAGE"},{"name":"text","value":"={{ $('Главный Текст').item.json.text }}"},{"name":"image_url","value":"={{ $('OpenAI Генерация фото1').item.json.url }}"},{"name":"access_token","value":"ВАШ API"}]},"options":{}},"id":"debd8b24-c989-47ba-9eb8-b8f7fef3675b","name":"Create Threads Post2","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[8200,-600]},{"parameters":{"method":"POST","url":"https://graph.threads.net/v1.0/ВАШ ID/threads_publish","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{ $node[\"Create Threads Post2\"].json[\"id\"] }}"},{"name":"access_token","value":"ВАШ API"}]},"options":{}},"id":"b68ad3d5-1f8c-44bc-8011-d295fdbb3cb7","name":"Publish Threads Post2","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[8360,-600]},{"parameters":{"resource":"image","prompt":"={{ $json.message.content }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[8520,-840],"id":"31060f24-9e13-4e87-a66d-c6466df89070","name":"OpenAI Генерация фото1"},{"parameters":{"method":"POST","url":"https://graph.threads.net/v1.0/ВАШ ID/threads","sendQuery":true,"queryParameters":{"parameters":[{"name":"media_type","value":"TEXT"},{"name":"text","value":"={{ $('Главный Текст').item.json.text }}"},{"name":"access_token","value":"ВАШ API"}]},"options":{}},"id":"277760a6-a2a3-47ea-92ba-3059761db518","name":"Create Threads Post3","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[8200,-1080]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Create a text that begins with a vivid, provocative phrase that elicits an immediate emotional response and prompts action (comment, like, repost, save). Use a sharp, bold tone, touch on a taboo topic, a common myth or a painful societal issue. Present the idea in such a way that the reader either strongly agrees or is outraged from the very first words. Add an unexpected twist or an intriguing question that compels them to read to the end. Content should be written simply, concisely, provocatively, evoke emotion and the desire to argue, discuss or share an opinion. At the end of the text, formulate a direct, bold question to the audience that they will want to answer.\n\nChoose one of the suggested topics:\n AI. money. Business. automation of business processes with AI. news about neural networks. replacing people with neural networks and something similar.\n\n\nBe more human, and don't be formal, break the third wall and you can even cross personal boundaries and refer to me as you\n\n\nIt should be no more than 498 characters.\n\nwrite everything in Russian and don't use emoticons, or in very rare cases when it might actually be on topic \nalso don't use anything other than the finished text itself, don't use “*” and don't write the text as if it were all in quotes.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[7220,-1080],"id":"054530d0-db94-4019-8899-7896e3088e9f","name":"Всё подряд"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Create a text that begins with a vivid, provocative phrase that elicits an immediate emotional response and prompts action (comment, like, repost, save). Use a sharp, bold tone, touch on a taboo topic, a common myth or a painful societal issue. Present the idea in such a way that the reader either strongly agrees or is outraged from the very first words. Add an unexpected twist or an intriguing question that compels them to read to the end. Content should be written simply, concisely, provocatively, evoke emotion and the desire to argue, discuss or share an opinion. At the end of the text, formulate a direct, bold question to the audience that they will want to answer.\n\nHere's a topic to generate:\n\n news about neural networks and what's happening in the world, what the future holds for us with ii.\n\n\nCarefully integrate into the text the idea that if anything about AI and how to make money on it I tell in my TG channel.    Do it in such a way that it does not seem like some kind of intrusive solicitation, but so that the person himself to think that he needs it.\n\n\nBe more human, and don't be formal, break the third wall and you can even cross personal boundaries and refer to me as you\n\nmust be no more than 498 characters.\n\nwrite everything in Russian and do not use emoticons, or in very rare cases, when it can really be in the topic \nalso don't use anything other than the finished text itself, don't use “*” and don't write the text as if it were all in quotes.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[7220,-760],"id":"6783a8e2-6f17-44fd-ae01-ec199e313c0f","name":"Новости, Будущее, ИИ + Тригер на ТГ"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"CCreate a text that begins with a vivid, provocative phrase that elicits an immediate emotional response and prompts action (comment, like, repost, save). Use a sharp, bold tone, touch on a taboo topic, a common myth or a painful societal issue. Present the idea in such a way that the reader either strongly agrees or is outraged from the very first words. Add an unexpected twist or an intriguing question that compels them to read to the end. Content should be written simply, concisely, provocatively, evoke emotion and the desire to argue, discuss or share an opinion. At the end of the text, formulate a direct, bold question to the audience that they will want to answer.\n\nHere's a topic to generate:\n Artificial intelligence. money. Business. automating business processes with artificial intelligence. replacing humans with neural networks. and something similar.\n\n\ncarefully integrate into the text the idea that if suddenly there is no way to earn money, then go to my TG channel on the profile header, there I tell you how to get to a decent quick income.\n\nBe more human, and don't be formal, break the third wall and you can even cross personal boundaries and refer to me as you\n\n\nshould be no more than 498 characters.\n\nwrite everything in Russian and don't use emoticons, or in very rare cases when it might actually be on topic \nalso don't use anything other than the finished text itself, don't use “*” and don't write the text as if it were all in quotes.\n\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[7220,-920],"id":"c8273122-1f16-42d9-8704-9f3d8eb5cb0b","name":"Мотивация + Тригер на ТГ"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Create a text that begins with a vivid, provocative phrase that elicits an immediate emotional response and prompts action (comment, like, repost, save). Use a sharp, bold tone, touch on a taboo topic, a common myth or a painful societal issue. Present the idea in such a way that the reader either strongly agrees or is outraged from the very first words. Add an unexpected twist or an intriguing question that compels them to read to the end. Content should be written simply, concisely, provocatively, evoke emotion and the desire to argue, discuss or share an opinion. At the end of the text, formulate a direct, bold question to the audience that they will want to answer.\n\nHere's a topic to generate:\n\nnews about neural networks and what's going on in the world, what the future holds for us with ii.\nAbout how to make money with AI.\n\n\nBe more human, and don't be formal, break the third wall and you can even cross personal boundaries and refer to me as you\n\n\nmust be no more than 498 characters.\n\nwrite everything in Russian and do not use emoticons, or in very rare cases, when it can really be in the topic \nalso don't use anything other than the finished text itself, don't use “*” and don't write the text as if it were all in quotes.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[7220,-600],"id":"72aaee72-23f3-4cfe-8cd2-50c73db44aa7","name":"Новости, Будущее, ИИ + Тригер на ТГ1"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"selectedAction\"]}}","value2":"action1"}]}},"name":"IF Action 1","type":"n8n-nodes-base.if","typeVersion":1,"position":[7000,-1080],"id":"df62715e-a490-4c09-b35a-44579738f3d4"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"selectedAction\"]}}","value2":"action2"}]}},"name":"IF Action 2","type":"n8n-nodes-base.if","typeVersion":1,"position":[7000,-920],"id":"fb30cdb2-c684-45c1-8fc9-4ae5ddce76ff"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"selectedAction\"]}}","value2":"action3"}]}},"name":"IF Action 3","type":"n8n-nodes-base.if","typeVersion":1,"position":[7000,-760],"id":"229838a5-4e52-4aaf-b18f-c1cc5fcd85fa"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"selectedAction\"]}}","value2":"action4"}]}},"name":"IF Action 4","type":"n8n-nodes-base.if","typeVersion":1,"position":[7000,-600],"id":"3ca21adf-af3b-4298-a79b-baa5b9fc61f6"},{"parameters":{"functionCode":"const actions = ['action1', 'action2', 'action3', 'action4'];\nconst randomIndex = Math.floor(Math.random() * actions.length);\n\nreturn [{ json: { selectedAction: actions[randomIndex] } }];"},"name":"Randomizer (1/4)","type":"n8n-nodes-base.function","typeVersion":1,"position":[6720,-840],"id":"024f1d0d-566a-449a-9586-1f4f85ee8d60"},{"parameters":{"assignments":{"assignments":[{"id":"2a9f0b07-8e7f-4d40-8594-432f4b4ae60f","name":"text","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7620,-840],"id":"29f5919f-ee5a-484f-8691-510f4becb873","name":"Главный Текст"},{"parameters":{},"name":"Manual Trigger (запусти вручную 1 раз)","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[6280,-1080],"id":"f33a6910-68ae-43b5-b113-8caceaf13290"},{"parameters":{"functionCode":"return [{ json: { interval: Math.floor(Math.random() * (70 - 29 + 1)) + 29 } }];"},"name":"Random Interval","type":"n8n-nodes-base.function","typeVersion":1,"position":[6500,-1080],"id":"9b757276-4745-48b5-8816-4a2606596889"},{"parameters":{"amount":"={{ $json.interval }}","unit":"minutes"},"name":"Wait (Random)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[6720,-1080],"id":"5dab65d4-400b-4b2b-a8da-802362ed5546","webhookId":"9f96efff-74dd-487e-a6a5-ffe3b823f313"},{"parameters":{"conditions":{"number":[{"value1":"={{($now.setZone('Europe/Moscow').hour * 60) + $now.setZone('Europe/Moscow').minute}}","operation":"largerEqual","value2":1419},{"value1":"={{($now.setZone('Europe/Moscow').hour * 60) + $now.setZone('Europe/Moscow').minute}}","operation":"smallerEqual","value2":299}]},"combineOperation":"any"},"name":"Night? (23:39-04:59)","type":"n8n-nodes-base.if","typeVersion":1,"position":[6280,-840],"id":"2379523a-36cc-48c8-85c5-bced4570fb0b"},{"parameters":{},"name":"Wait 1 min (ночь)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[6500,-840],"id":"b9a2330e-2db7-4144-bd30-e2dde3010a67","webhookId":"502e9cd2-6281-4c7c-ba01-c01e5c0181e9"},{"parameters":{"text":"СБОЙ, ПРОВЕРЬ ЧЕ ТАМ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[6720,-600],"id":"d7206cac-20ed-489d-a794-159da3443d43","name":"Telegram","webhookId":"06ffbdc9-d31e-4d9b-a5b1-5babce6aee2b"},{"parameters":{"functionCode":"const chance = Math.random();\n\nif(chance <= 0.45) {\n  return [{json: {variant: 'first'}}];\n} else {\n  return [{json: {variant2: 'second'}}];\n}"},"name":"Random Variant 45/55","type":"n8n-nodes-base.function","typeVersion":1,"position":[7800,-840],"id":"3f6cf53b-871c-4d6c-b99a-c42ea9c1de5a"},{"parameters":{"promptType":"define","text":"watch the whole process and if there is an error somewhere, repeat the request. \n\nwatch the whole process and if there is an error somewhere, repeat the request. \n\nthe process of generating content and autopublishing it to social networks, and if there is a failure Write me a message in Bot's Telegram “Failure, ‘reason for breakdown/failure’” and indicate in the message the reason for the breakdown or failure","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[6280,-600],"id":"1d870e4d-add8-4d5c-ba39-2afe8b5ccb32","name":"AI Agent2","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"messages":{"values":[{"content":"You're an AI agent specializing in creating promts for visual content for the Threads social network, where images that brightly attract attention, evoke emotion, and are easily shared are popular. Based on ready-made text.\n\nHighlight the text's main meaning, emotion, or key question.\n\nGenerate a bright, visually appealing image in a modern, minimalist style with an emphasis on:\n\nBright and saturated colors so that the image instantly grabs attention.\n\nMinimalism and simplicity of composition for easy perception.\n\nUse symbolic elements, metaphors or images that enhance the emotional response.\n\nAdd unobtrusive details that arouse curiosity and make the viewer linger on the image longer.\n\nSample request:\nPost text: “The office kills productivity. Do you agree?”\n\nResponse Prompt for image generation:\n“Create a minimalistic, bright image that symbolizes the loss of productivity in the office: a desk piled with papers, a wilted indoor plant and a turned-off computer against an empty chair. The colors are soft, contrasting, and the emphasis is on the slight sadness and emptiness of the space, reinforcing the emotion of tired office life”.\n\nsend only promt and nothing but promt."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[8200,-840],"id":"db02c80f-001b-47ad-babc-ae3c514c174e","name":"OpenAI2"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1gM1hHpqKMkwTrgTqFEDPHR-ee-oWyxQlFPl14h2demQ","mode":"list","cachedResultName":"Publish to 9 Social Platforms","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gM1hHpqKMkwTrgTqFEDPHR-ee-oWyxQlFPl14h2demQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gM1hHpqKMkwTrgTqFEDPHR-ee-oWyxQlFPl14h2demQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Ready to Post"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[6940,1980],"id":"1364b9f5-9793-4d82-afe3-cd33cc8c4b92","name":"Google Sheets","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"blotato_api_key\": \"\",\n  \"instagram_id\": \"\",\n  \"youtube_id\": \"\",\n  \"tiktok_id\": \"\",\n  \"facebook_id\": \"\",\n  \"facebook_page_id\": \"\",\n  \"threads_id\": \"\",\n  \"twitter_id\": \"\",\n  \"linkedin_id\": \"\",\n  \"pinterest_id\": \"\",\n  \"pinterest_board_id\": \"\",\n  \"bluesky_id\": \"\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7380,1980],"id":"5cbe6f99-14b8-47f4-83bb-b3de79bc3fdf","name":"Setup Social Accounts"},{"parameters":{"assignments":{"assignments":[{"id":"a1750d20-2f6e-4826-80b8-654d0985120d","name":"final_google_drive_url","value":"={{ $('Google Sheets').item.json['Video URL (google drive)'].match(/\\/d\\/([A-Za-z0-9]+-[A-Za-z0-9]+)/i)[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7160,1980],"id":"de7118c4-26f8-4e8c-b3a8-f562cda3e5fd","name":"Get Google Drive ID"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[6720,1980],"id":"013f66c2-2cfc-40b3-9bcb-8283f0c1fd7e","name":"Schedule Trigger2"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"=https://drive.google.com/uc?export=download&id={{ $('Get Google Drive ID').item.json.final_google_drive_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7600,1980],"id":"31418d36-bcf3-4f3f-8d89-03573f3b6d26","name":"Upload to Blotato2"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": {{ $('Google Sheets').item.json.Caption.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Setup Social Accounts').item.json.instagram_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7820,1180],"id":"e77b0cfe-9b5d-4c34-ae46-765429dd411d","name":"[Instagram] Publish via Blotato2","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Setup Social Accounts').item.json.facebook_page_id }}\"\n    },\n    \"content\": {\n      \"text\": {{ $('Google Sheets').item.json.Caption.toJsonString() }},\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Setup Social Accounts').item.json.facebook_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7820,1520],"id":"a5988be7-1b0f-4c03-a8d1-0c2fdfdb37b3","name":"[Facebook] Publish via Blotato2","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": {{ $('Google Sheets').item.json.Caption.toJsonString() }},\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Setup Social Accounts').item.json.linkedin_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7820,1980],"id":"9b6dff19-3f34-4b46-adae-6c14b968451a","name":"[Linkedin] Publish via Blotato2"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": false,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": {{ $('Google Sheets').item.json.Caption.toJsonString() }},\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Setup Social Accounts').item.json.tiktok_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7820,2380],"id":"d8dd5c43-fb93-4674-8905-b8f4010619a3","name":"[Tiktok] Publish via Blotato2"},{"parameters":{"resource":"image","prompt":"Image of a manatee staring in the mirror at its AI avatar.","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[7820,2780],"id":"67abc370-6366-4bdd-a4e4-c0946d5e1780","name":"OpenAI3"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8040,2780],"id":"5455a2f2-0083-47e7-97d6-bef899b97bf2","name":"Upload to Blotato - Image2"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Setup Social Accounts').item.json.pinterest_board_id }}\",\n      \"link\": \"https://www.tiktok.com/@sabrina_ramonov\"\n    },\n    \"content\": {\n      \"text\": {{ $('Google Sheets').item.json.Caption.toJsonString() }},\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Setup Social Accounts').item.json.pinterest_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8260,2780],"id":"8c31d18d-a8de-48bc-a219-6f43dda9b4dd","name":"[Pinterest] Publish via Blotato2"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"TEST VIDEO\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": {{ $('Google Sheets').item.json.Caption.toJsonString() }},\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Setup Social Accounts').item.json.youtube_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8180,1180],"id":"df486bd6-9b4b-4062-ac96-afe4d6eb1931","name":"[Youtube] Publish via Blotato2"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"threads\"\n    },\n    \"content\": {\n      \"text\": {{ $('Google Sheets').item.json.Caption.slice(0, 500).toJsonString() }},\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Setup Social Accounts').item.json.threads_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8180,1520],"id":"147d0ec5-7a96-48fb-aea4-1b52fa2a7829","name":"[Threads] Publish via Blotato2"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": {{ $('Google Sheets').item.json.Caption.slice(0, 280).toJsonString() }},\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Setup Social Accounts').item.json.twitter_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8180,1980],"id":"3ecf4bef-8ed2-4aea-ba4a-889a6e5f5446","name":"[Twitter] Publish via Blotato2"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Setup Social Accounts').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    },\n    \"content\": {\n      \"text\": {{ $('Google Sheets').item.json.Caption.slice(0, 280).toJsonString() }},\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": []\n    },\n    \"accountId\": \"{{ $('Setup Social Accounts').item.json.bluesky_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8180,2380],"id":"74782486-4a81-4124-a9bb-e4f2ca3aced6","name":"[Bluesky] Publish via Blotato2"}],"connections":{"Upload to Blotato":{"main":[[{"node":"[Instagram] Publish via Blotato","type":"main","index":0},{"node":"[Facebook] Publish via Blotato","type":"main","index":0},{"node":"[Linkedin] Publish via Blotato","type":"main","index":0},{"node":"[Tiktok] Publish via Blotato","type":"main","index":0},{"node":"OpenAI","type":"main","index":0},{"node":"[Youtube] Publish via Blotato","type":"main","index":0},{"node":"[Threads] Publish via Blotato","type":"main","index":0},{"node":"[Twitter] Publish via Blotato","type":"main","index":0},{"node":"[Bluesky] Publish via Blotato","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Upload to Blotato - Image","type":"main","index":0}]]},"Upload to Blotato - Image":{"main":[[{"node":"[Pinterest] Publish via Blotato","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Prepare Video","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Video","type":"main","index":0}]]},"Prepare for Publish":{"main":[[{"node":"Upload to Blotato","type":"main","index":0}]]},"Create Video":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Brainstorm Idea":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Prepare Video":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"Get Video":{"main":[[{"node":"Prepare for Publish","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Fetch HN Article":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Fetch HN Front Page":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Write Script":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Setup Heygen":{"main":[[{"node":"Create Avatar Video","type":"main","index":0}]]},"Get Avatar Video":{"main":[[{"node":"Prepare for Publish1","type":"main","index":0}]]},"Write Long Caption":{"main":[[{"node":"Write Short Caption","type":"main","index":0}]]},"Write Short Caption":{"main":[[{"node":"Setup Heygen","type":"main","index":0}]]},"Create Avatar Video":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Upload to Blotato1":{"main":[[{"node":"[Instagram] Publish via Blotato1","type":"main","index":0},{"node":"[Facebook] Publish via Blotato1","type":"main","index":0},{"node":"[Linkedin] Publish via Blotato1","type":"main","index":0},{"node":"[Tiktok] Publish via Blotato1","type":"main","index":0},{"node":"OpenAI1","type":"main","index":0},{"node":"[Youtube] Publish via Blotato1","type":"main","index":0},{"node":"[Threads] Publish via Blotato1","type":"main","index":0},{"node":"[Twitter] Publish via Blotato1","type":"main","index":0},{"node":"[Bluesky] Publish via Blotato1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Upload to Blotato - Image1","type":"main","index":0}]]},"Upload to Blotato - Image1":{"main":[[{"node":"[Pinterest] Publish via Blotato1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Write Long Caption","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get Avatar Video","type":"main","index":0}]]},"Prepare for Publish1":{"main":[[{"node":"Upload to Blotato1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"If1":{"main":[[{"node":"Create Threads Post3","type":"main","index":0}],[{"node":"OpenAI2","type":"main","index":0}]]},"Publish Threads Post1":{"main":[[{"node":"Telegram1 фотосообщение1","type":"main","index":0}]]},"Create Threads Post2":{"main":[[{"node":"Publish Threads Post2","type":"main","index":0}]]},"Publish Threads Post2":{"main":[[{"node":"Telegram1 фотосообщение2","type":"main","index":0}]]},"OpenAI Генерация фото1":{"main":[[{"node":"Create Threads Post2","type":"main","index":0}]]},"Create Threads Post3":{"main":[[{"node":"Publish Threads Post1","type":"main","index":0}]]},"Всё подряд":{"main":[[{"node":"Главный Текст","type":"main","index":0}]]},"Мотивация + Тригер на ТГ":{"main":[[{"node":"Главный Текст","type":"main","index":0}]]},"Новости, Будущее, ИИ + Тригер на ТГ":{"main":[[{"node":"Главный Текст","type":"main","index":0}]]},"Новости, Будущее, ИИ + Тригер на ТГ1":{"main":[[{"node":"Главный Текст","type":"main","index":0}]]},"IF Action 1":{"main":[[{"node":"Всё подряд","type":"main","index":0}]]},"IF Action 2":{"main":[[{"node":"Мотивация + Тригер на ТГ","type":"main","index":0}]]},"IF Action 3":{"main":[[{"node":"Новости, Будущее, ИИ + Тригер на ТГ","type":"main","index":0}]]},"IF Action 4":{"main":[[{"node":"Новости, Будущее, ИИ + Тригер на ТГ1","type":"main","index":0}]]},"Randomizer (1/4)":{"main":[[{"node":"IF Action 1","type":"main","index":0},{"node":"IF Action 2","type":"main","index":0},{"node":"IF Action 3","type":"main","index":0},{"node":"IF Action 4","type":"main","index":0}]]},"Главный Текст":{"main":[[{"node":"Random Variant 45/55","type":"main","index":0}]]},"Manual Trigger (запусти вручную 1 раз)":{"main":[[{"node":"Random Interval","type":"main","index":0}]]},"Random Interval":{"main":[[{"node":"Wait (Random)","type":"main","index":0}]]},"Wait (Random)":{"main":[[{"node":"Night? (23:39-04:59)","type":"main","index":0}]]},"Night? (23:39-04:59)":{"main":[[{"node":"Wait 1 min (ночь)","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}]]},"Wait 1 min (ночь)":{"main":[[{"node":"Night? (23:39-04:59)","type":"main","index":0}]]},"Telegram1 фотосообщение1":{"main":[[{"node":"Random Interval","type":"main","index":0}]]},"Telegram1 фотосообщение2":{"main":[[{"node":"Random Interval","type":"main","index":0}]]},"Random Variant 45/55":{"main":[[{"node":"If1","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Randomizer (1/4)","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"OpenAI Генерация фото1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Get Google Drive ID","type":"main","index":0}]]},"Setup Social Accounts":{"main":[[{"node":"Upload to Blotato2","type":"main","index":0}]]},"Get Google Drive ID":{"main":[[{"node":"Setup Social Accounts","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Upload to Blotato2":{"main":[[{"node":"[Instagram] Publish via Blotato2","type":"main","index":0},{"node":"[Facebook] Publish via Blotato2","type":"main","index":0},{"node":"[Linkedin] Publish via Blotato2","type":"main","index":0},{"node":"[Tiktok] Publish via Blotato2","type":"main","index":0},{"node":"OpenAI3","type":"main","index":0},{"node":"[Youtube] Publish via Blotato2","type":"main","index":0},{"node":"[Threads] Publish via Blotato2","type":"main","index":0},{"node":"[Twitter] Publish via Blotato2","type":"main","index":0},{"node":"[Bluesky] Publish via Blotato2","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Upload to Blotato - Image2","type":"main","index":0}]]},"Upload to Blotato - Image2":{"main":[[{"node":"[Pinterest] Publish via Blotato2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bdf14398-e8a5-4ab8-a85e-9116ab5d5875","triggerCount":0,"shared":[{"createdAt":"2025-07-07T09:24:27.515Z","updatedAt":"2025-07-07T09:24:27.515Z","role":"workflow:owner","workflowId":"AIqcSJ1J7ulE8IBh","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}