my-workflow-9-lmSEWSLRTU1E85AU.json
{"createdAt":"2025-07-14T09:13:36.891Z","updatedAt":"2025-07-14T09:13:36.891Z","id":"lmSEWSLRTU1E85AU","name":"My workflow 9","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"sessionId"}]}},"id":"77f03a0a-b9e1-458c-9f3d-132615104acf","typeVersion":1.1,"name":"Workflow Input Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow Input Trigger').item.json.sessionId }}-{{ $workflow.id }}","contextWindowLength":40},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[300,260],"id":"43b5905d-6f58-490d-9efd-8bfb512e92da","name":"Window Buffer Memory"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=# Role\n\nYou are a Notion Agent\n\n# Responsibility\n\nYour role is to manage Notion data by retrieving and updating meal plans, habits, and other database entries.\n\n# Your Available Agents Tools\n\n- Get My Weekly Meal Planner  \n- Get My Meals  \n- Get Habits  \n- Create Meal  \n\n# Standard Operating Procedures (Example Tasks)\n\nNo matter the call, you **MUST first call the Get Databases tool** to understand what is available in Notion.  \nThen, determine the appropriate action based on the retrieved information.\n\n# Specifics\n- Current Date and Time: {{ $now }}\n- Be Detailed in your output\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,0],"id":"b3d6a9b4-324e-4ed1-b148-38131c7459d4","name":"Notion Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[100,260],"id":"4e83bfca-e248-494b-a006-f74a1da36ade","name":"OpenAI Chat Model"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"19a922ba-8404-8156-989e-fb02f698567a","mode":"list","cachedResultName":"Weekly Plan","cachedResultUrl":"https://www.notion.so/19a922ba84048156989efb02f698567a"},"returnAll":true,"simple":false,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[480,260],"id":"4728f487-358d-49e6-a2b9-487ac049e8f5","name":"Get My Weekly Meal Planner"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"19a922ba-8404-8103-831a-f3f4a13f7d59","mode":"list","cachedResultName":"Meals","cachedResultUrl":"https://www.notion.so/19a922ba84048103831af3f4a13f7d59"},"returnAll":true,"simple":false,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[660,240],"id":"352e201b-0473-4310-b555-bbaa89a8d9f4","name":"Get My Meals","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"19a922ba-8404-8002-b10d-c50c8f5ceba0","mode":"list","cachedResultName":"Habit Tracker","cachedResultUrl":"https://www.notion.so/19a922ba84048002b10dc50c8f5ceba0"},"returnAll":true,"simple":false,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[820,240],"id":"60a1e043-b769-485c-b30f-eec13300dcdf","name":"Get Habits","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"19a922ba-8404-8103-831a-f3f4a13f7d59","mode":"list","cachedResultName":"Meals","cachedResultUrl":"https://www.notion.so/19a922ba84048103831af3f4a13f7d59"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","propertiesUi":{"propertyValues":[{"key":"Meal|multi_select","multiSelectValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Option_Names_or_IDs', ``, 'string') }}"},{"key":"Tags|multi_select","multiSelectValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Option_Names_or_IDs', ``, 'string') }}"},{"key":"Meal Name|title","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[960,240],"id":"8bdd235e-afe5-4a77-b3c0-de4870bbcc7c","name":"Create Meal"},{"parameters":{"content":"### ↑ To Do\nChoose Database","height":80,"width":270,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,440],"id":"91ae5fcd-cf66-4448-97d1-932187de735c","name":"Sticky Note"}],"connections":{"Workflow Input Trigger":{"main":[[{"node":"Notion Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Notion Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Notion Agent","type":"ai_languageModel","index":0}]]},"Get My Weekly Meal Planner":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Get My Meals":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Get Habits":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Create Meal":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"aab151cd-fbf1-48f7-a045-35bdb53e79af","triggerCount":0,"shared":[{"createdAt":"2025-07-14T09:13:36.891Z","updatedAt":"2025-07-14T09:13:36.891Z","role":"workflow:owner","workflowId":"lmSEWSLRTU1E85AU","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}