my-workflow-18-EMCbPGMy2dxuXPXj.json
{"createdAt":"2025-07-28T17:14:29.644Z","updatedAt":"2025-07-28T17:14:29.644Z","id":"EMCbPGMy2dxuXPXj","name":"My workflow 18","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[112,0],"id":"3ae728de-cd59-4c6f-8aa9-e0b97062e5d2","name":"Telegram Trigger","webhookId":"99ebe825-e936-402b-8458-9cff9c21a8e2"},{"parameters":{"assignments":{"assignments":[{"id":"69277adf-a9e4-4431-a6d9-e71e57bf0509","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,0],"id":"4c82c008-c57b-4f31-ad41-9eb4c4fbcdc7","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Привет, ты — мой календарный ассистент.\nТвоя задача — помогать мне планировать, организовывать и координировать все события, встречи, задачи и напоминания в моём Google Календаре.\n\n📌 Общие правила работы\nВсегда учитывай, что сегодняшняя дата — {{ $now }}, и все мои указания по времени и дате даны в часовом поясе UTC+3.\n\n🛠 Доступные инструменты (modules)\nGet Events (getAll: event)\n— используй, когда я прошу показать список событий в моём календаре.\n\nCreate Event (create: event)\n— используй, когда я прошу создать новое событие.\n\nUpdate Event (update: event)\n— используй, когда я прошу обновить существующее событие.\n\nDelete Event (delete: event)\n— используй, когда я прошу удалить событие.\n\n🧾 Формат ответа\nВсегда подтверждай действие перед его выполнением, если параметры события не до конца ясны.\n\nПосле выполнения действия прикрепляй ссылку на событие, которое было создано, обновлено или удалено.\n\nОтвечай кратко, вежливо и по делу, как профессиональный ассистент."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1072,0],"id":"c13cc90e-ae90-4ec7-8b0f-f19c298cf718","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[896,224],"id":"10516ef5-5ee2-4cc1-b842-9879e3a16789","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.from.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[992,224],"id":"2e6acbfc-dd0a-4c9b-8424-982d7484acdc","name":"Simple Memory"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ellfionik@gmail.com","mode":"list","cachedResultName":"ellfionik@gmail.com"},"returnAll":true,"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1104,224],"id":"7d69b79f-98eb-468f-938f-e7c3d36317fc","name":"get event"},{"parameters":{"calendar":{"__rl":true,"value":"ellfionik@gmail.com","mode":"list","cachedResultName":"ellfionik@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{$fromAI(\"Description\")}}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1200,224],"id":"30148b34-5738-4f0d-ba56-136ff4f6d8ed","name":"create event"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"ellfionik@gmail.com","mode":"list","cachedResultName":"ellfionik@gmail.com"},"eventId":"={{ $fromAI(\"eventID\", \"ID, которое получаем в инструменте get events, например vuepekqu4atsi2fm725jelikcs\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1296,224],"id":"45fc7d7f-385c-4449-b1bc-2f02df5ae56b","name":"update event"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"ellfionik@gmail.com","mode":"list","cachedResultName":"ellfionik@gmail.com"},"eventId":"={{ $fromAI(\"eventID\", \"ID, которое получаем в инструменте get events, например vuepekqu4atsi2fm725jelikcs\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1392,224],"id":"22ecb1c1-5b58-4e21-8c1f-5f9f817c6986","name":"delete"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,0],"id":"ea46c3a3-d501-4514-b9aa-4bdfeddc9f25","name":"Send a text message","webhookId":"12707aff-9249-4556-9e8e-b74d784edae4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"16065d99-3dd0-4cbb-adb6-8995e5c07c0d"}],"combinator":"and"},"renameOutput":true,"outputKey":"текст"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d94312d-5d3f-401a-9b8b-972aa561943f","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[320,32],"id":"8c3c82b3-9808-4690-be3c-e80f548f027f","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,160],"id":"9cb67bec-44a6-401f-a44d-1434adcd62ee","name":"Get a file","webhookId":"9b59f401-44ac-4150-b997-29a95dbf2bbf"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[736,160],"id":"56a3c44c-a76c-425f-9f74-300b5cf34103","name":"Transcribe a recording"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"get event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"create event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"update event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"delete":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"53405430-1476-41c1-beed-67e65abb9ca9","triggerCount":0,"shared":[{"createdAt":"2025-07-28T17:14:29.644Z","updatedAt":"2025-07-28T17:14:29.644Z","role":"workflow:owner","workflowId":"EMCbPGMy2dxuXPXj","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}