my-workflow-23-lTFMkCJnuYRvs3CU.json
{"createdAt":"2025-10-27T10:51:24.473Z","updatedAt":"2025-10-27T11:34:00.486Z","id":"lTFMkCJnuYRvs3CU","name":"My workflow 23","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-640,0],"id":"d1c28f6d-5627-4839-8626-6bf1247b14dc","name":"Telegram Trigger","webhookId":"7f69fb95-d4a3-4e62-a0cd-5fb471d25776","notesInFlow":false,"credentials":{"telegramApi":{"id":"xWrzOPc7BVVkxCQ1","name":"CODEX"}}},{"parameters":{"promptType":"define","text":"=Ти архітектор веб-сайтів. Проаналізуй технічне завдання і створи JSON структуру багатосторінкового сайту.\n\nВХІДНІ ДАНІ:\nТехнічне завдання:{{ $('Telegram Trigger').item.json.message.text }}\n\nЗАВДАННЯ:\n1. Визнач тип бізнесу, стиль, аудиторію\n2. Створи унікальну дизайн-систему (кольори, шрифти)\n3. Спроектуй 7 сторінок:\n   - index.html (головна) - ОБОВ'ЯЗКОВО\n   - 3 кастомні сторінки (services/about/portfolio/blog на вибір)\n   - faq.html - ОБОВ'ЯЗКОВО\n   - contact.html - ОБОВ'ЯЗКОВО\n   - legal.html - ОБОВ'ЯЗКОВО\n\nФОРМАТ ВИВОДУ - ТІЛЬКИ JSON:\n\n{\n  \"project_name\": \"Генеруй за тз\",\n  \"language\": \"Генеруй за тз\",\n  \"design_system\": {\n    \"style\": \"modern-dark\",\n    \"colors\": {\n      \"primary\": \"#HEX\",\n      \"secondary\": \"#HEX\",\n      \"accent\": \"#HEX\",\n      \"background\": \"#HEX\",\n      \"text\": \"#HEX\"\n    },\n    \"fonts\": {\n      \"heading\": \"Google Font Name\",\n      \"body\": \"Google Font Name\"\n    },\n    \"buttons\": {\n      \"style\": \"rounded / sharp / pill\",\n      \"effect\": \"shadow / glow / lift\"\n    }\n  },\n  \"contacts\": {\n    \"phone\": \"Генеруй за тз\",\n    \"email\": \"Генеруй за тз\",\n    \"address\": \"Генеруй за тз\"\n  },\n  \"team\": [\n    {\n      \"name\": \"Ім'я Прізвище\",\n      \"position\": \"Посада\",\n      \"bio\": \"Короткий опис\"\n    }\n  ],\n  \"pages\": [\n    {\n      \"filename\": \"index.html\",\n      \"title\": \"Головна сторінка\",\n      \"description\": \"Опис для hero секції\",\n      \"sections\": [\"hero\", \"features\", \"testimonials\", \"cta\"]\n    },\n    {\n      \"filename\": \"services.html\",\n      \"title\": \"Наші послуги\",\n      \"description\": \"Опис послуг\",\n      \"services\": [\n        {\n          \"name\": \"Назва послуги\",\n          \"description\": \"Опис\",\n          \"features\": [\"Фіча 1\", \"Фіча 2\"]\n        }\n      ]\n    },\n    {\n      \"filename\": \"faq.html\",\n      \"title\": \"Часті питання\",\n      \"questions\": [\n        {\n          \"q\": \"Питання?\",\n          \"a\": \"Відповідь\"\n        }\n      ]\n    },\n    {\n      \"filename\": \"contact.html\",\n      \"title\": \"Контакти\",\n      \"has_form\": true,\n      \"has_map\": true\n    },\n    {\n      \"filename\": \"legal.html\",\n      \"title\": \"Юридична інформація\",\n      \"has_privacy\": true,\n      \"has_terms\": true\n    }\n  ]\n}\n\nВАЖЛИВО:\n- Виводь ТІЛЬКИ JSON (без тексту до/після)\n- БЕЗ ```json``` блоків\n- Валідний JSON формат\n- Контент релевантний до ТЗ","hasOutputParser":true,"options":{}},"id":"8d46e49f-5f7e-4254-a426-83e5b2c7f76f","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-176,0],"retryOnFail":false},{"parameters":{"model":"openai/gpt-5-codex","options":{"timeout":2500000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-240,256],"id":"404a628b-4501-49e7-9a99-a06669229d30","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5YNhLJ9VfSSVlHwg","name":"CODEX ASS1"}}},{"parameters":{"jsCode":"// входить {message} з Telegram\nconst raw = $json?.message?.text || '';\nconst text = raw.trim();\nreturn [{ json: {\n  brand: 'Demo Site',\n  lang: 'uk-UA',\n  tz: 'Europe/Kyiv',\n  brief: text.slice(0, 8000) // обмежимо, щоб не рвало\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,0],"id":"5ee79b7e-91ed-4b3a-8ee8-34558a70478e","name":"Code in JavaScript"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9a100481-39b1-4461-909b-dbe9d36a6f93","triggerCount":0,"shared":[{"createdAt":"2025-10-27T10:51:24.473Z","updatedAt":"2025-10-27T10:51:24.473Z","role":"workflow:owner","workflowId":"lTFMkCJnuYRvs3CU","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}