my-workflow-11-uO3jcaVmK7jB6LcH.json
{"createdAt":"2025-07-21T15:25:07.210Z","updatedAt":"2025-07-30T15:37:23.464Z","id":"uO3jcaVmK7jB6LcH","name":"My workflow 11","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"sessionId"}]}},"id":"73506085-69c6-44dc-80b3-e57638b0c9f9","typeVersion":1.1,"name":"Workflow Input Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-272,-144]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $workflow.id }}","contextWindowLength":40},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[80,408],"id":"7a6374ba-9b01-4c51-9525-516bd180bcac","name":"Window Buffer Memory"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=(Your Task): Create a universal prompt for an agent working with tasks in Notion.\n\n(Task Objective): Enable the agent to create, check, update, and retrieve tasks from a Notion task database, following a clear and structured process.\n\n(Task Context):  \nYou are a Notion Task Agent — an assistant focused on managing tasks inside Notion.  \nYour specialization: creating new tasks, checking existing ones, updating statuses, and retrieving user-specific task data.\n\n(Agent Responsibilities):  \n1. The **first step in any operation MUST be calling the (Get Databases)** tool to identify the available databases in Notion.  \n2. Determine the correct action (create, check, update, retrieve) based on the database metadata.  \n3. Be detailed in your output: include task names, deadlines, status, priority, and other meta information.\n\n(Your Role):  \n# Role  \nYou are a Notion Task Agent\n\n# Responsibility  \nYour role is to manage task-related data in Notion by retrieving, creating, updating, and reviewing tasks in task databases.\n\n# Your Available Agent Tools  \n- Get Databases (must always be the first call)  \n- Get Tasks  \n- Create Task  \n- Update Task  \n- Get Task by Status  \n- Get Upcoming Tasks\n\n# Standard Operating Procedures (Example Tasks)  \nNo matter the user request, you **MUST first call the Get Databases tool** to understand which databases are available in Notion.  \nThen, analyze the database metadata and determine which tool to use among the available ones.  \nUse full detail in the response (task name, deadline, status, priority, tags, etc.).  \n\n# Specifics  \n- Current Date and Time: {{ $now }}  \n- Be extremely detailed in your output  \n- Always respect task prioritization and status\n\n(Expected Outcome):  \nProvide a flexible and detailed mechanism for interacting with tasks in Notion, adaptable to any use case: personal productivity, team collaboration, OKRs, project tracking, etc.\n\n(Mandatory Requirements):  \n- Use of paired structuring symbols.  \n- Personalizable blocks in [square brackets] for user input.  \n- Must be ready to localize this into other languages upon request.  \n- Must remain adaptable for various task and productivity scenarios.\n\n(Language for User Response):  \n[Specify the language in which the user expects to receive the response, e.g., English, Ukrainian, etc.]\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[176,184],"id":"5eb5963c-9c3c-4543-85fd-67a2e7cf9fc8","name":"Notion Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-48,408],"id":"01fd3e91-573a-44b6-8dd3-2470bc609e7a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"237238a4-91a0-8050-8cd9-d58cefb590c0","mode":"list","cachedResultName":"тест","cachedResultUrl":"https://www.notion.so/237238a491a080508cd9d58cefb590c0"},"title":"={{ $json.chatInput }}","simple":false,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[224,400],"id":"78f2dcbe-fa50-4b60-9a10-5746bd2f4b41","name":"Get My Weekly Meal Planner","credentials":{"notionApi":{"id":"HjULIF7SPHEwSr6X","name":"Notion account 2"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"237238a4-91a0-8050-8cd9-d58cefb590c0","mode":"list","cachedResultName":"тест","cachedResultUrl":"https://www.notion.so/237238a491a080508cd9d58cefb590c0"},"returnAll":true,"simple":false,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[368,400],"id":"48452142-033e-48e3-b8d9-2402a6b7bff2","name":"Get My Meals","credentials":{"notionApi":{"id":"HjULIF7SPHEwSr6X","name":"Notion account 2"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"237238a4-91a0-8050-8cd9-d58cefb590c0","mode":"list","cachedResultName":"тест","cachedResultUrl":"https://www.notion.so/237238a491a080508cd9d58cefb590c0"},"returnAll":true,"simple":false,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[528,400],"id":"13c8abec-def0-4229-83e3-7725413a8c71","name":"Get Habits","credentials":{"notionApi":{"id":"HjULIF7SPHEwSr6X","name":"Notion account 2"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"237238a4-91a0-8050-8cd9-d58cefb590c0","mode":"list","cachedResultName":"тест","cachedResultUrl":"https://www.notion.so/237238a491a080508cd9d58cefb590c0"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","propertiesUi":{"propertyValues":[{"key":"назва|title"},{"key":"Tags|multi_select","multiSelectValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Option_Names_or_IDs', ``, 'string') }}"},{"key":"Meal Name|title","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[688,400],"id":"81a0e9c5-99ad-460a-9e71-688f8869c436","name":"Create Meal","credentials":{"notionApi":{"id":"HjULIF7SPHEwSr6X","name":"Notion account 2"}}},{"parameters":{"content":"### ↑ To Do\nChoose Database","height":80,"width":270,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[912,544],"id":"bb6422c2-fe07-4132-9dbf-136f629aa5dc","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-272,144],"id":"a59354ce-2f10-4860-b423-6f4449ed45b6","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,192],"id":"402452b2-41f9-425f-bbdc-5b313b5505c7","name":"When chat message received","webhookId":"1364fdc2-3c13-4e76-b44e-61699da87053"}],"connections":{"Workflow Input Trigger":{"main":[[]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Notion Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Notion Agent","type":"ai_languageModel","index":0}]]},"Get My Weekly Meal Planner":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Get My Meals":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Get Habits":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Create Meal":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[]]},"When chat message received":{"main":[[{"node":"Notion Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"04e1ed27-2c30-4d85-88cc-50d148f7c592","triggerCount":0,"shared":[{"createdAt":"2025-07-21T15:25:07.210Z","updatedAt":"2025-07-21T15:25:07.210Z","role":"workflow:owner","workflowId":"uO3jcaVmK7jB6LcH","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-16T11:34:03.086Z","updatedAt":"2025-07-16T11:34:03.086Z","id":"AF9tCvCOwTiwi3fo","name":"Макс"},{"createdAt":"2025-07-21T10:35:33.663Z","updatedAt":"2025-07-21T10:35:33.663Z","id":"Yc1qqKtrvcWIwQlT","name":"Джарвіс"},{"createdAt":"2025-07-09T10:44:10.702Z","updatedAt":"2025-07-09T10:44:10.702Z","id":"lqKWTC4jWlGAhgnf","name":"Паска"}]}