my-workflow-22-3S4aKdehjHYDz8lA.json
{"createdAt":"2025-10-22T12:49:49.257Z","updatedAt":"2025-10-27T11:34:54.493Z","id":"3S4aKdehjHYDz8lA","name":"My workflow 22","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-672,640],"id":"ee99451c-daf6-4028-b6b3-2e3e6c20b061","name":"Telegram Trigger","webhookId":"7f69fb95-d4a3-4e62-a0cd-5fb471d25776","notesInFlow":true,"credentials":{"telegramApi":{"id":"JTxYpt4Hdl7KKsLn","name":"@popalamarama_bot"}}},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"name":"Codex","description":"=Створюєш сайт за ТЗ {{ $json.message.text }}\n","instructions":"=You are Codex, an AI coding assistant.\nRespond only with clean, concise code unless the user asks for explanation.\nTask: {{ $json.message.text }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1040,128],"id":"99a12fa6-64a2-427d-8cc2-83ff95a80e8b","name":"Create an assistant","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"caption":"=🎉 Ваш сайт готовий!\n\n✅ Усі сторінки згенеровано\n📦 Архів створено\n\n{{ $json.totalFiles }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1632,640],"id":"2ae207fe-a848-4401-b44c-f61225293ebf","name":"Send a document","webhookId":"eefc57e3-ffad-4ab5-ad64-0d1fe52076fd","credentials":{"telegramApi":{"id":"3Y0EmfIA5QQHKmrZ","name":"gpt4autogenerate"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-5-codex\",\n  \"input\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert web developer. Create a complete, modern HTML5 page with embedded CSS. Use a professional, clean design with a cohesive color scheme. Include responsive design (mobile-friendly). Return ONLY the HTML code, no explanations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create {{ $json.indexPage.filename }} for a website about: {{ $json.originalPrompt }}\\n\\nPage details:\\nTitle: {{ $json.indexPage.title }}\\nDescription: {{ $json.indexPage.description }}\\n\\nRequirements:\\n- Modern, professional design\\n- Embedded CSS in <style> tags\\n- Responsive layout\\n- Navigation menu with links to: about.html, services.html, portfolio.html, team.html, contact.html\\n- Hero section, features section, CTA section\\n- Footer with social links\"\n    }\n  ]\n}\n","options":{"timeout":3500000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,608],"id":"711efed9-9f0c-4d32-9a6f-5ae5de93ab6c","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"akk2Sns1ZGHCFsnS","name":"CODEX-ASS"}}},{"parameters":{"resource":"repository","operation":"get","owner":{"__rl":true,"value":"https://github.com/vlad13371337/CODEX","mode":"url"},"repository":{"__rl":true,"value":"CODEX","mode":"list","cachedResultName":"CODEX","cachedResultUrl":"https://github.com/vlad13371337/CODEX"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1088,1040],"id":"5116cd62-4340-4945-8a94-0ecd22d7a859","name":"Get a repository","webhookId":"a7aa257e-2463-4e2e-aee6-66cee38385ec","credentials":{"githubApi":{"id":"yPwti6pBURNZJcrM","name":"Codex"}}},{"parameters":{"operation":"compress","binaryPropertyName":"={{ Object.keys($binary).join(',') }}","fileName":"website.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[1360,400],"id":"6dd04bfd-97ef-448b-899f-70e8da6cb3c6","name":"Compression"},{"parameters":{"batchSize":"=#!/bin/bash\n\n# Створюємо папку якщо немає\nFOLDER=\"/tmp/website_build\"\nmkdir -p \"$FOLDER\"\n\n# Записуємо файл\ncat > \"$FOLDER/{{$json.path}}\" << 'ENDOFFILE'\n{{$json.content}}\nENDOFFILE\n\necho \"Created: {{$json.path}}\"\n","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,-128],"id":"2daeea86-d610-42b9-a782-555b54902cce","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[592,-112],"id":"8f3f57fa-4b82-49ef-bd43-ace945abecd5"},{"parameters":{"command":"=#!/bin/bash\n\n# Шлях до файлу в AI Drive\nFILE_PATH=\"{{$json.output}}\"\n\n# Виводимо шлях для доступу\necho \"File saved: $FILE_PATH\"\necho \"Access via AI Drive web interface\"\n\n# Виводимо для n8n\necho \"$FILE_PATH\"\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[816,128],"id":"b909915f-2406-43c7-b894-ce071340b1e8","name":"Bash \"Get AI Drive URL\""},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[64,-80],"id":"5cbcf037-6bd6-4572-b5ea-ae443823a1b2","name":"Aggregate"},{"parameters":{"jsCode":"// Отримуємо текст з ПЕРШОЇ ноди Telegram (яка отримує повідомлення)\nconst telegramText = $('Telegram Trigger').item.json.message.text;\n\n// Отримуємо вхідні дані\nconst inputData = $input.all();\n\n// Обробляємо кожен елемент\nconst output = inputData.map(item => {\n  // Витягуємо текст з різних можливих джерел\n  // ПРІОРИТЕТ: спочатку Telegram Trigger (перша нода), потім з поточного item\n  let text = telegramText || \n             item.json.message?.text || \n             item.json.text || \n             item.json.query || \n             item.json.prompt || \n             '';\n  \n  // Нормалізуємо текст:\n  // 1. Видаляємо зайві пробіли та табуляції\n  // 2. Замінюємо переноси рядків на пробіли\n  // 3. Прибираємо множинні пробіли\n  const normalizedText = text\n    .replace(/\\r\\n/g, ' ')     // Windows переноси → пробіл\n    .replace(/\\n/g, ' ')       // Unix переноси → пробіл\n    .replace(/\\r/g, ' ')       // Mac переноси → пробіл\n    .replace(/\\t/g, ' ')       // Табуляції → пробіл\n    .replace(/\\s+/g, ' ')      // Множинні пробіли → один пробіл\n    .trim();                    // Видаляємо пробіли на початку/кінці\n  \n  console.log(\"=== TEXT NORMALIZER ===\");\n  console.log(\"Telegram Text (1st node):\", telegramText);\n  console.log(\"Original:\", text);\n  console.log(\"Normalized:\", normalizedText);\n  \n  // Повертаємо оброблені дані\n  return {\n    json: {\n      ...item.json,\n      message: {\n        ...item.json.message,\n        text: normalizedText\n      },\n      text: normalizedText,\n      query: normalizedText,\n      prompt: normalizedText,\n      normalized_text: normalizedText, // додаткове поле\n      telegram_source: telegramText    // зберігаємо оригінал з Telegram\n    }\n  };\n});\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,640],"id":"6a495264-f026-432f-9f37-bf8cd00300df","name":"Code in JavaScript1"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=🚀 <b>Взяв в роботу!</b>  \n⏱️ <b>Очікуваний час: 10-15 хвилин</b>  \n<b>Зачекайте, будь ласка</b> ☕","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-528,432],"id":"07437ba8-e5f9-4246-a55d-62f0b5c199ae","name":"Send a text message","webhookId":"fe8c575b-d26e-49de-b59d-8433c218a88b","notesInFlow":true,"credentials":{"telegramApi":{"id":"JTxYpt4Hdl7KKsLn","name":"@popalamarama_bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"✅ <b>Етап 1/3 завершено</b> 📝 <b>Створив промпт для сайту</b>   ⏳ <b>Починаю генерацію...</b>","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[160,1040],"id":"9f77a09f-dfda-4968-8062-9448696dff22","name":"Send a text message1","webhookId":"bded5756-6d44-47a9-90ad-ccbef3c39226","notesInFlow":true,"credentials":{"telegramApi":{"id":"xWrzOPc7BVVkxCQ1","name":"CODEX"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"✅ <b>Етап 2/3</b> 🎨 <b>Генерую HTML сторінки...</b> 💻 <b>Це займе 10-15 хвилин</b>","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[304,1040],"id":"a0f4844d-ae0f-43e0-bf9d-9a5e7d92f85f","name":"Send a text message2","webhookId":"bded5756-6d44-47a9-90ad-ccbef3c39226","retryOnFail":false,"executeOnce":false,"notesInFlow":true,"credentials":{"telegramApi":{"id":"xWrzOPc7BVVkxCQ1","name":"CODEX"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":" application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-5-codex\",\n  \"input\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a web architect. Create a JSON structure for a multi-page website with 8 pages: index.html, about.html, services.html, portfolio.html, team.html, contact.html, legal.html, faq.html. Return ONLY valid JSON with this structure: {\\\"pages\\\": [{\\\"filename\\\": \\\"index.html\\\", \\\"title\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\"}]}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.text }}\"\n    }\n  ]\n}","options":{"timeout":2500000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,432],"id":"616fd5db-ab43-4a41-b758-ccba34814bc6","name":"НОДА 1","executeOnce":false,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"akk2Sns1ZGHCFsnS","name":"CODEX-ASS"}}},{"parameters":{"jsCode":"// НОДА 2: Витягуємо JSON структуру сайту з відповіді GPT-5 Codex\n\nconst response = items[0].json;\n\n// Перевірка\nif (!response || !response.output) {\n  throw new Error('НОДА 2: Невалідна відповідь від GPT-5 Codex');\n}\n\n// Витягуємо контент (Responses API використовує \"output\" замість \"choices\")\nlet content = response.output;\n\n// Якщо content - об'єкт, конвертуємо в JSON рядок\nif (typeof content === 'object') {\n  content = JSON.stringify(content);\n}\n\n// Перевірка, що content тепер рядок\nif (typeof content !== 'string') {\n  throw new Error('НОДА 2: content не є рядком. Тип: ' + typeof content);\n}\n\n// Видаляємо markdown блоки ```json...```\nconst cleaned = content.replace(/```json\\n?|\\n?```/g, '').trim();\n\n// 🔥 ДИНАМІЧНИЙ originalPrompt з попередньої ноди\nconst originalPrompt = $('Code in JavaScript1').first().json.prompt;\n\nconsole.log('✅ НОДА 2: Структура сайту отримана');\nconsole.log('📄 JSON довжина:', cleaned.length);\nconsole.log('📝 Original Prompt:', originalPrompt);\n\nreturn [{\n  json: {\n    structure: cleaned,\n    originalPrompt: originalPrompt  // 👈 Беремо з попередньої ноди\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,624],"id":"e005bc96-7482-47e3-b8c0-3ea0e7f3a6c0","name":"НОДА 2"},{"parameters":{"jsCode":"// НОДА 3: Знаходимо index.html в структурі і зберігаємо всі сторінки\n\nconst inputData = items[0].json.structure;\n\nif (!inputData) {\n  throw new Error('НОДА 3: structure не знайдено. Перевір НОДУ 2!');\n}\n\nconsole.log('📄 НОДА 3: inputData отримано, довжина:', inputData.length);\n\n// Парсимо JSON\nlet structure;\ntry {\n  structure = typeof inputData === 'string' \n    ? JSON.parse(inputData) \n    : inputData;\n} catch (error) {\n  console.error('❌ Помилка парсингу JSON:', error.message);\n  throw new Error('НОДА 3: Невалідний JSON від Codex API');\n}\n\nconsole.log('🔍 Тип structure:', typeof structure);\nconsole.log('🔍 Ключі structure:', Object.keys(structure));\n\n// 🔥 ВИПРАВЛЕННЯ: Витягуємо pages з різних варіантів структури\nlet pages = [];\n\n// Варіант 1: Пряма структура {pages: [...]}\nif (structure.pages && Array.isArray(structure.pages)) {\n  pages = structure.pages;\n  console.log('✅ Знайдено pages напряму в structure.pages');\n}\n// Варіант 2: Масив з API response об'єктами\nelse if (Array.isArray(structure)) {\n  console.log('🔍 structure є масивом, шукаю pages всередині...');\n  \n  // Шукаємо об'єкт з type: \"message\"\n  const messageObj = structure.find(item => \n    item.type === 'message' && \n    item.content && \n    Array.isArray(item.content)\n  );\n  \n  if (messageObj && messageObj.content[0] && messageObj.content[0].text) {\n    // Парсимо JSON з text поля\n    try {\n      const innerData = JSON.parse(messageObj.content[0].text);\n      if (innerData.pages && Array.isArray(innerData.pages)) {\n        pages = innerData.pages;\n        console.log('✅ Витягнуто pages з message.content[0].text');\n      }\n    } catch (e) {\n      console.error('❌ Не вдалося розпарсити text:', e.message);\n    }\n  }\n  \n  // Якщо не знайшли - фільтруємо тільки валідні об'єкти сторінок\n  if (pages.length === 0) {\n    pages = structure.filter(item => \n      item.filename && \n      typeof item.filename === 'string' &&\n      !item.id &&  // Виключаємо API response об'єкти\n      !item.type\n    );\n    console.log('✅ Відфільтровано валідні сторінки з масиву');\n  }\n}\n\n// Фінальна валідація\npages = pages.filter(page => \n  page.filename && \n  typeof page.filename === 'string' &&\n  page.title &&\n  typeof page.title === 'string'\n);\n\nconsole.log('📄 НОДА 3: Знайдено ВАЛІДНИХ сторінок:', pages.length);\n\nif (pages.length === 0) {\n  throw new Error('НОДА 3: Не вдалося знайти жодної валідної сторінки!');\n}\n\nconsole.log('📋 Список сторінок:');\npages.forEach(p => console.log('   -', p.filename, '|', p.title));\n\n// Знаходимо index.html\nlet indexPage = pages.find(p => p.filename === 'index.html');\n\n// Якщо index.html не знайдено - створюємо\nif (!indexPage) {\n  console.warn('⚠️ index.html не знайдено, створюю автоматично');\n  indexPage = {\n    filename: 'index.html',\n    title: pages[0]?.title || 'Головна сторінка',\n    description: pages[0]?.description || 'Головна сторінка сайту'\n  };\n  pages.unshift(indexPage);\n}\n\nconsole.log('✅ НОДА 3: index.html готовий -', indexPage.title);\nconsole.log('📊 Загальна кількість сторінок:', pages.length);\n\nreturn [{\n  json: {\n    indexPage: indexPage,\n    allPages: pages,\n    originalPrompt: items[0].json.originalPrompt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,432],"id":"bb347fd4-ba60-4e75-99e8-33cbeea5f5df","name":"НОДА 3"},{"parameters":{"jsCode":"// НОДА 4: Парсинг відповіді HTTP Request + передача allPages\n\nconst response = items[0].json;\n\n// Перевірка (Responses API використовує \"output\" замість \"choices\")\nif (!response || !response.output) {\n  throw new Error('НОДА 4: Невалідна відповідь від GPT-5 Codex');\n}\n\n// Витягуємо HTML з поля \"output\"\nlet htmlContent = response.output;\n\n// Якщо output - об'єкт, конвертуємо в рядок\nif (typeof htmlContent === 'object') {\n  htmlContent = JSON.stringify(htmlContent);\n}\n\n// Перевірка, що це рядок\nif (typeof htmlContent !== 'string') {\n  throw new Error('НОДА 4: HTML не є рядком. Тип: ' + typeof htmlContent);\n}\n\n// Видаляємо markdown блоки ```html...```\nconst cleanedHTML = htmlContent.replace(/```html\\n?|\\n?```/g, '').trim();\n\nconsole.log('✅ НОДА 4: index.html згенеровано');\nconsole.log('📄 HTML довжина:', cleanedHTML.length);\n\n// ⚠️ КРИТИЧНО: Отримуємо allPages з НОДИ 3\nconst node3Data = $node[\"НОДА 3\"];\n\nif (!node3Data || !node3Data.json) {\n  throw new Error('НОДА 4: Не можу знайти НОДУ 3!');\n}\n\nconsole.log('✅ allPages отримано з НОДИ 3:', node3Data.json.allPages.length, 'сторінок');\n\n// ✅ ПЕРЕДАЄМО ВСЕ ДАЛІ\nreturn [{\n  json: {\n    indexHTML: cleanedHTML,\n    allPages: node3Data.json.allPages,              // ← ЦЕ МАЄ БУТИ!\n    originalPrompt: node3Data.json.originalPrompt   // ← І ЦЕ!\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,400],"id":"87c42676-ab6f-4944-8804-07a31dbcf738","name":"НОДА 4"},{"parameters":{"jsCode":"// НОДА 5: Витягти CSS з index.html\n\nconst html = items[0].json.indexHTML;\n\nif (!html) {\n  throw new Error('НОДА 5: indexHTML не знайдено');\n}\n\nconsole.log('📄 НОДА 5: indexHTML отримано, довжина:', html.length);\n\n// Витягуємо CSS\nconst cssMatch = html.match(/<style[^>]*>([\\s\\S]*?)<\\/style>/i);\nconst extractedCSS = cssMatch ? cssMatch[1].trim() : '';\n\nif (!extractedCSS) {\n  console.warn('⚠️ НОДА 5: CSS не знайдено в <style> тегах');\n  console.log('🔍 Перевіряю наявність inline стилів або відсутність CSS...');\n  \n  // Якщо CSS немає - можна продовжити з порожнім CSS\n  // throw new Error('НОДА 5: CSS не знайдено в index.html');\n}\n\nconsole.log('✅ НОДА 5: CSS витягнуто -', extractedCSS.length, 'символів');\n\n// ⚠️ КРИТИЧНО: Отримуємо allPages з НОДИ 4\nlet allPages = items[0].json.allPages;\nlet originalPrompt = items[0].json.originalPrompt;\n\n// Якщо немає - беремо з НОДИ 3 напряму\nif (!allPages) {\n  console.log('⚠️ allPages не знайдено в items. Шукаю в НОДІ 3...');\n  \n  const node3Data = $node[\"НОДА 3\"];\n  if (node3Data && node3Data.json) {\n    allPages = node3Data.json.allPages;\n    originalPrompt = node3Data.json.originalPrompt;\n    console.log('✅ allPages знайдено в НОДІ 3:', allPages.length, 'сторінок');\n  }\n}\n\n// Останній варіант - хардкод\nif (!allPages || !Array.isArray(allPages)) {\n  console.log('⚠️ allPages не знайдено ніде. Використовую хардкод.');\n  \n  allPages = [\n    {filename: 'index.html', title: 'Головна', description: 'Головна сторінка'},\n    {filename: 'about.html', title: 'Про нас', description: 'Про компанію YBK'},\n    {filename: 'services.html', title: 'Послуги', description: 'Наші послуги'},\n    {filename: 'portfolio.html', title: 'Портфоліо', description: 'Наші роботи'},\n    {filename: 'team.html', title: 'Команда', description: 'Наша команда'},\n    {filename: 'contact.html', title: 'Контакти', description: 'Зв\\'язатися з нами'},\n    {filename: 'legal.html', title: 'Правова інформація', description: 'Legal'},\n    {filename: 'faq.html', title: 'FAQ', description: 'Часті питання'}\n  ];\n  originalPrompt = 'Рекламне агентство YBK в Харкові';\n}\n\n// Фільтруємо сторінки (без index.html)\nconst remainingPages = allPages.filter(p => p.filename !== 'index.html');\n\nconsole.log('📄 НОДА 5: Сторінок для генерації:', remainingPages.length);\nremainingPages.forEach(p => console.log('   -', p.filename));\n\n// ✅ ПЕРЕДАЄМО ВСЕ ДАЛІ\nreturn [{\n  json: {\n    unifiedCSS: extractedCSS,\n    indexHTML: html,\n    remainingPages: remainingPages,\n    allPages: allPages,  // ← На всяк випадок\n    originalPrompt: originalPrompt\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,608],"id":"f0270bf3-3744-4d6d-b8c0-22afb8f9acec","name":"НОДА 5"},{"parameters":{"jsCode":"// НОДА 6: Витягуємо CSS з index.html для використання в інших сторінках\n\nconst html = items[0].json.indexHTML;\n\nif (!html) {\n  throw new Error('НОДА 6: indexHTML не знайдено. Перевір НОДУ 5!');\n}\n\nconsole.log('📄 НОДА 6: indexHTML отримано, довжина:', html.length);\n\n// Витягуємо CSS з <style>...</style>\nconst cssMatch = html.match(/<style[^>]*>([\\s\\S]*?)<\\/style>/i);\nconst extractedCSS = cssMatch ? cssMatch[1].trim() : '';\n\n// М'яка обробка відсутності CSS (Codex може генерувати без <style> тегів)\nif (!extractedCSS) {\n  console.warn('⚠️ НОДА 6: CSS не знайдено в <style> тегах');\n  console.log('🔍 Можливо HTML використовує inline стилі або зовнішні CSS файли');\n  \n  // Опціонально: можна продовжити з порожнім CSS\n  // throw new Error('НОДА 6: CSS не знайдено в index.html!');\n}\n\nconsole.log('✅ НОДА 6: CSS витягнуто -', extractedCSS.length, 'символів');\n\n// Отримуємо allPages (з fallback логікою)\nlet allPages = items[0].json.allPages;\nlet originalPrompt = items[0].json.originalPrompt;\n\n// Fallback 1: Якщо немає в items[0] - шукаємо в НОДІ 5\nif (!allPages || !Array.isArray(allPages)) {\n  console.log('⚠️ allPages не знайдено в items[0]. Шукаю в НОДІ 5...');\n  \n  const node5Data = $node[\"НОДА 5\"];\n  if (node5Data && node5Data.json) {\n    allPages = node5Data.json.allPages;\n    originalPrompt = node5Data.json.originalPrompt;\n    console.log('✅ allPages знайдено в НОДІ 5:', allPages.length, 'сторінок');\n  }\n}\n\n// Fallback 2: Якщо все ще немає - шукаємо в НОДІ 3\nif (!allPages || !Array.isArray(allPages)) {\n  console.log('⚠️ allPages не знайдено в НОДІ 5. Шукаю в НОДІ 3...');\n  \n  const node3Data = $node[\"НОДА 3\"];\n  if (node3Data && node3Data.json) {\n    allPages = node3Data.json.allPages;\n    originalPrompt = node3Data.json.originalPrompt;\n    console.log('✅ allPages знайдено в НОДІ 3:', allPages.length, 'сторінок');\n  }\n}\n\n// Fallback 3: Останній варіант - хардкод\nif (!allPages || !Array.isArray(allPages)) {\n  console.log('⚠️ allPages не знайдено ніде. Використовую хардкод.');\n  \n  allPages = [\n    {filename: 'index.html', title: 'Головна', description: 'Головна сторінка'},\n    {filename: 'about.html', title: 'Про нас', description: 'Про компанію'},\n    {filename: 'services.html', title: 'Послуги', description: 'Наші послуги'},\n    {filename: 'portfolio.html', title: 'Портфоліо', description: 'Наші роботи'},\n    {filename: 'team.html', title: 'Команда', description: 'Наша команда'},\n    {filename: 'contact.html', title: 'Контакти', description: 'Зв\\'язатися з нами'},\n    {filename: 'legal.html', title: 'Правова інформація', description: 'Legal'},\n    {filename: 'faq.html', title: 'FAQ', description: 'Часті питання'}\n  ];\n  originalPrompt = originalPrompt || 'Багатосторінковий веб-сайт';\n}\n\n// Фільтруємо сторінки (без index.html)\nconst remainingPages = allPages.filter(p => \n  p.filename !== 'index.html' && \n  p.filename !== undefined\n);\n\nconsole.log('📄 НОДА 6: Сторінок для генерації:', remainingPages.length);\nremainingPages.forEach(p => console.log('   -', p.filename, '-', p.title));\n\n// Валідація перед поверненням\nif (remainingPages.length === 0) {\n  console.warn('⚠️ НОДА 6: Немає сторінок для генерації (крім index.html)!');\n}\n\nreturn [{\n  json: {\n    unifiedCSS: extractedCSS,\n    indexHTML: html,\n    remainingPages: remainingPages,\n    allPages: allPages,  // Зберігаємо повний список\n    originalPrompt: originalPrompt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,400],"id":"61ceab94-eadb-4e4e-acdb-b2e5dc71821f","name":"НОДА 6"},{"parameters":{"jsCode":"// НОДА 7: Створюємо окремий промпт для кожної сторінки з CSS\n\nconst css = items[0].json.unifiedCSS;\nconst pages = items[0].json.remainingPages;\nconst prompt = items[0].json.originalPrompt;\n\n// Валідація вхідних даних\nif (!pages || !Array.isArray(pages)) {\n  throw new Error('НОДА 7: remainingPages не знайдено або не є масивом');\n}\n\nif (pages.length === 0) {\n  console.warn('⚠️ НОДА 7: Немає сторінок для обробки!');\n  return [{\n    json: {\n      error: 'Немає сторінок для генерації',\n      unifiedCSS: css || '',\n      originalPrompt: prompt || ''\n    }\n  }];\n}\n\nconsole.log('📝 НОДА 7: Створюємо', pages.length, 'промптів для Codex API');\nconsole.log('📄 CSS довжина:', css ? css.length : 0, 'символів');\nconsole.log('📝 Original Prompt:', prompt);\n\n// Створюємо окремий item для кожної сторінки\nreturn pages.map((page, index) => {\n  console.log(`   ✅ [${index + 1}/${pages.length}]`, page.filename, '-', page.title);\n  \n  // Валідація даних сторінки\n  const filename = page.filename || `page-${index + 1}.html`;\n  const title = page.title || `Сторінка ${index + 1}`;\n  const description = page.description || `Опис сторінки ${filename}`;\n  \n  return {\n    json: {\n      filename: filename,\n      title: title,\n      description: description,\n      unifiedCSS: css || '',\n      originalPrompt: prompt || 'Багатосторінковий веб-сайт'\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,640],"id":"04f63cd7-1d19-472d-95d0-21e93ff0f092","name":"НОДА 7"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":" application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-5-codex\",\n  \"input\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert web developer. Create HTML pages that match an existing design. Use the provided CSS exactly as given. Return ONLY the HTML code, no explanations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create {{ $json.filename }} for: {{ $json.originalPrompt }}\\n\\nTitle: {{ $json.title }}\\nDescription: {{ $json.description }}\\n\\n**USE THIS EXACT CSS:**\\n<style>\\n{{ $json.unifiedCSS }}\\n</style>\\n\\nRequirements:\\n- Use the CSS above without changes\\n- Match the design style\\n- Include navigation menu\\n- Create appropriate content\\n- Add footer\"\n    }\n  ]\n}","options":{"timeout":2500000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,400],"id":"484af44f-e873-469e-9359-083f51e8e211","name":"НОДА 8","executeOnce":false,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"akk2Sns1ZGHCFsnS","name":"CODEX-ASS"}}},{"parameters":{"jsCode":"// НОДА 9: Парсимо всі згенеровані сторінки\n\nconsole.log('📦 НОДА 9: Обробка', items.length, 'сторінок');\n\n// Обробляємо кожну відповідь Codex\nconst processedPages = items.map((item, index) => {\n  \n  // 🔥 СПОЧАТКУ беремо filename з ОРИГІНАЛЬНОГО ЗАПИТУ (НОДА 4)\n  // item.json містить дані з НОДИ 4: {path: \"index.html\", title: \"Home\", css: \"...\", prompt_for_page: \"...\"}\n  const originalFilename = item.json?.path;\n  \n  console.log(`   📄 Обробка ${index}: очікуємо ${originalFilename}`);\n  \n  // Витягуємо HTML контент з відповіді Codex\n  let htmlContent = null;\n  \n  if (item.json.output && Array.isArray(item.json.output)) {\n    const messageItem = item.json.output.find(o => o.type === 'message');\n    \n    if (messageItem?.content && Array.isArray(messageItem.content)) {\n      const textItem = messageItem.content.find(c => c.type === 'output_text');\n      if (textItem?.text) {\n        htmlContent = textItem.text;\n      }\n    }\n  }\n  \n  if (!htmlContent) {\n    console.log(`   ❌ Сторінка ${index} (${originalFilename}) - текст не знайдено!`);\n    return null;\n  }\n  \n  // Очищаємо від markdown\n  let cleaned = htmlContent\n    .replace(/```html\\s*/g, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n  \n  // Якщо AI повернула JSON {\"path\":\"...\",\"content\":\"...\"}\n  if (cleaned.startsWith('{') && cleaned.includes('\"content\"')) {\n    try {\n      const parsed = JSON.parse(cleaned);\n      cleaned = parsed.content || cleaned;\n      console.log(`   ✅ ${index}: Витягнуто HTML з JSON`);\n    } catch (e) {\n      // Залишаємо як є\n    }\n  }\n  \n  // 🔥 ВИКОРИСТОВУЄМО FILENAME З ОРИГІНАЛЬНОГО ЗАПИТУ!\n  const filename = originalFilename || `page${index}.html`;\n  \n  console.log(`   ✅ ${filename} - ${cleaned.length} символів`);\n  \n  return {\n    filename: filename,\n    content: cleaned\n  };\n});\n\n// Фільтруємо null\nconst validPages = processedPages.filter(p => p !== null);\n\nconsole.log(`✅ Успішно оброблено ${validPages.length} з ${items.length} сторінок`);\nconsole.log('📋 Список файлів:');\nvalidPages.forEach(p => console.log(`   - ${p.filename}`));\n\nreturn [{\n  json: {\n    generatedPages: validPages\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,640],"id":"3d948410-652a-43a8-8b15-c35da2e7aa81","name":"НОДА 9"},{"parameters":{"jsCode":"// НОДА 10: Об'єднуємо всі сторінки з НОДИ 9 (БЕЗ окремого index.html)\n\nconsole.log('🏗️ НОДА 10: Збірка веб-сайту');\n\n// Отримуємо ВСІ сторінки з НОДИ 9 (включно з index.html)\nconst allPages = items[0].json.generatedPages;\n\nif (!allPages || allPages.length === 0) {\n  throw new Error('НОДА 10: Не знайдено сторінок з НОДИ 9!');\n}\n\nconsole.log('✅ НОДА 10: Всього сторінок:', allPages.length);\nallPages.forEach(p => console.log('   -', p.filename));\n\n// Перевіряємо чи є index.html\nconst hasIndex = allPages.some(p => p.filename === 'index.html');\nif (!hasIndex) {\n  console.log('⚠️ WARNING: index.html не знайдено!');\n}\n\nreturn [{\n  json: {\n    website: {\n      pages: allPages,\n      total: allPages.length\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,400],"id":"56b05d05-ed38-4cd8-a0ba-043ee1a619c0","name":"НОДА 10"},{"parameters":{"jsCode":"// НОДА 11: Підготовка файлів для Compression (універсальна для DeepSeek і Codex)\n\nconst websiteData = items[0].json.website;\n\nif (!websiteData || !websiteData.pages) {\n  throw new Error('НОДА 11: Не знайдено website.pages. Перевір НОДУ 10!');\n}\n\nconsole.log(`📤 НОДА 11: Підготовка ${websiteData.pages.length} файлів в ОДИН item`);\n\nconst binaryData = {};\nconst binaryFieldNames = [];\n\nfor (let i = 0; i < websiteData.pages.length; i++) {\n  const page = websiteData.pages[i];\n  const contentBuffer = Buffer.from(page.content, 'utf-8');\n  const fieldName = `file${i}`;\n  \n  binaryData[fieldName] = {\n    data: contentBuffer.toString('base64'),\n    mimeType: 'text/html',\n    fileName: page.filename  // ← index.html, about.html, services.html і т.д.\n  };\n  \n  binaryFieldNames.push(fieldName);\n  console.log(`   ✅ ${fieldName} → ${page.filename}`);\n}\n\nconsole.log(`✅ НОДА 11: Binary fields створено: ${binaryFieldNames.join(', ')}`);\nconsole.log(`📋 Для Compression напиши: ${binaryFieldNames.join(',')}`);\n\nreturn [{\n  json: {\n    totalFiles: websiteData.pages.length,\n    binaryFields: binaryFieldNames.join(',')  // ← СКОПІЮЙ ЦЕ ЗНАЧЕННЯ В COMPRESSION НОДУ!\n  },\n  binary: binaryData\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,640],"id":"32b0de5d-d005-45f0-8011-f05b1cfc327c","name":"НОДА 11"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"НОДА 4","type":"main","index":0}]]},"Compression":{"main":[[{"node":"Send a document","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"НОДА 1","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"НОДА 1":{"main":[[{"node":"НОДА 2","type":"main","index":0}]]},"НОДА 2":{"main":[[{"node":"НОДА 3","type":"main","index":0}]]},"НОДА 3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"НОДА 4":{"main":[[{"node":"НОДА 5","type":"main","index":0}]]},"НОДА 5":{"main":[[{"node":"НОДА 6","type":"main","index":0}]]},"НОДА 6":{"main":[[{"node":"НОДА 7","type":"main","index":0}]]},"НОДА 7":{"main":[[{"node":"НОДА 8","type":"main","index":0}]]},"НОДА 8":{"main":[[{"node":"НОДА 9","type":"main","index":0}]]},"НОДА 9":{"main":[[{"node":"НОДА 10","type":"main","index":0}]]},"НОДА 10":{"main":[[{"node":"НОДА 11","type":"main","index":0}]]},"НОДА 11":{"main":[[{"node":"Compression","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d119dd90-d3d6-435a-8a28-881976e3baf2","triggerCount":0,"shared":[{"createdAt":"2025-10-22T12:49:49.257Z","updatedAt":"2025-10-22T12:49:49.257Z","role":"workflow:owner","workflowId":"3S4aKdehjHYDz8lA","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}