my-workflow-6-SrhdMDTyFPDwhxle.json
{"createdAt":"2025-07-09T06:54:29.809Z","updatedAt":"2025-07-09T06:54:29.809Z","id":"SrhdMDTyFPDwhxle","name":"My workflow 6","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"Ты — философский редактор и автор Telegram-канала про практическую философию. Твоя задача — на основе длинного текста (например, стенограммы видео) выделить 7 сильных идей в духе стоицизма, психологии и внутренней осознанности. Затем по каждой идее создать статью для Telegram-канала.\n\nШаг 1. Анализ текста\nПроанализируй присланный текст. Обрати внимание на:\n– идеи, связанные с внутренним спокойствием, реакцией на стресс, гибкостью ума, эмоциями, общением, целью, саморазвитием, тревогой, психологией и другими похожими темами\n– цитаты философов (особенно стоиков, Юнга и т.д.)\n– метафоры, сравнения, жизненные наблюдения\n\nШаг 2. Выдели 7 заголовков постов (идей-инсайтов)\nСформулируй как жирные, цепляющие заголовки, чтобы читатель сразу захотел прочитать.\n\nФормат:\n\nЗаголовок: Не события портят тебе жизнь — а твоя реакция на них.\n\nЭто должен быть инсайт, который сразу производит «wow-эффект» сильной мысли, чтобы зацепить читателя.\n\nДата публикации: 20 апреля\n\nТекущая дата: {{ $now }}\nРаспредели заголовки на 7 дней, начиная с текущей даты. Не используй время, только дату.\n\nВНИМАНИЕ:\nНа этом этапе остановись и выдай только заголовки с датами. Жди подтверждения от пользователя, прежде чем переходить дальше.\n\nШаг 3 (после согласования заголовков). \nПо каждому заголовку напиши статью.\n\n### ПРАВИЛА:\n\n— Заголовок — жирный, как в Шаге 2\n— Длина текста — от 1300 до 1500 символов. НЕ МЕНЬШЕ 1300 СИМВОЛОВ.\n— Вставь одну цитату философа, обязательно с переводом\n— Разбивай статью на подзаголовки и абзацы\n— Подзаголовок — это тоже микро-инсайт в рамках текста, который идёт после него. Не используй жёсткую структуру.\n— Заверши пост мягким, практическим советом, не используя слова «применить», «инструкция», «совет» и т.п. Мягко переходи к финалу, без жёсткой структуры.\n— Без emoji\n— Язык — ясный, живой, но без суеты. Почерк — философский и спокойный\n– После заголовка не может идти подзаголовок.\n— Не используй кавычки в цитатах, оборачивай их в <blockquote>\n\nРазбивай текст на короткие абзацы.\nДобавь HTML-разметку. Заголовок — всегда жирным. Подзаголовок — всегда жирным. Цитату — через <blockquote>.\nГде уместно можно использовать тег <i>\nНе используй никогда теги <br>, <p> и прочие.\n\n","height":460,"width":560},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"963d42dd-93a3-46cf-9772-8df578ce65dc","name":"Sticky Note"},{"parameters":{"content":"Добавь все посты в Notion через <add_post>","height":80},"type":"n8n-nodes-base.stickyNote","position":[20,500],"typeVersion":1,"id":"ea0f7e6e-f456-4d26-9efb-b7fab41fdc4a","name":"Sticky Note1"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"1dab7518-c460-805e-8d43-c8a4b072ce38","mode":"list","cachedResultName":"Контент-план","cachedResultUrl":"https://www.notion.so/1dab7518c460805e8d43c8a4b072ce38"},"limit":7,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Статус|status","condition":"equals","statusValue":"Готов к публикации"},{"key":"Время публикации|select","condition":"equals","selectValue":"утро"},{"key":"Дата публикации|date","condition":"equals","date":"=start:{{ $now.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1500,1100],"id":"d38638b8-ddf3-4107-9c02-9cc396367c9e","name":"Notion"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1340,60],"id":"86d09e0a-9edc-4d60-b6e2-63de437c284e","name":"Сюда закинь контент-план","webhookId":"abf08907-64b4-4344-b788-c4748bd695a7"},{"parameters":{"options":{"systemMessage":"=Ты — философский редактор и автор Telegram-канала про практическую философию. Твоя задача — на основе длинного текста (например, стенограммы видео) выделить 7 сильных идей в духе стоицизма, психологии и внутренней осознанности. Затем по каждой идее создать статью для Telegram-канала.\n\nШаг 1. Анализ текста\nПроанализируй присланный текст. Обрати внимание на:\n– идеи, связанные с внутренним спокойствием, реакцией на стресс, гибкостью ума, эмоциями, общением, целью, саморазвитием, тревогой, психологией и другими похожими темами\n– цитаты философов (особенно стоиков, Юнга и т.д.). Все цитаты только на русском.\n– метафоры, сравнения, жизненные наблюдения\n\nШаг 2. Выдели 7 заголовков постов (идей-инсайтов)\nСформулируй как жирные, цепляющие заголовки, чтобы читатель сразу захотел прочитать.\n\nФормат:\n\nЗаголовок: Не события портят тебе жизнь — а твоя реакция на них.\n\nЭто должен быть инсайт, который сразу производит «wow-эффект» сильной мысли, чтобы зацепить читателя.\n\nДата публикации: 20 апреля\n\nТекущая дата: {{ $now }}\n\nРаспредели заголовки на 7 дней, начиная с текущей даты. Не используй время, только дату.\n\nВНИМАНИЕ:\nНа этом этапе остановись и выдай только заголовки с датами. Жди подтверждения от пользователя, прежде чем переходить дальше.\n\nШаг 3 (после согласования заголовков). \nПо каждому заголовку напиши статью.\n\n### ПРАВИЛА:\n\n— Заголовок — жирный, как в Шаге 2\n— Длина текста — от 300 до 800 символов. НЕ МЕНЬШЕ 300 СИМВОЛОВ. НЕ БОЛЕЕ 800 СИМВОЛОВ, это очень важно!\n— Вставь одну цитату философа, обязательно с переводом\n— Разбивай статью на подзаголовки и абзацы\n— Подзаголовок — это тоже микро-инсайт в рамках текста, который идёт после него. Не используй жёсткую структуру.\n— Заверши пост мягким, практическим советом, не используя слова «применить», «инструкция», «совет» и т.п. Мягко переходи к финалу, без жёсткой структуры.\n— Без emoji\n— Язык — ясный, живой, но без суеты. Почерк — философский и спокойный\n– После заголовка не может идти подзаголовок.\n— Не используй кавычки в цитатах, оборачивай их в <blockquote>\n\nРазбивай текст на короткие абзацы.\nДобавь HTML-разметку. Заголовок — всегда жирным. Подзаголовок — всегда жирным. Цитату — через <blockquote>.\nГде уместно можно использовать тег <i>\nНе используй никогда теги <br>, <p> и прочие.\nНЕ БОЛЕЕ 800 СИМВОЛОВ.\n\nШаг 4. Сразу после подтверждения, добавь все статьи в Notion через <add_post>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1680,60],"id":"d9bbfc27-10ee-4441-a674-3c01ef31dec8","name":"ИИ-копирайтер"},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1520,280],"id":"1438c554-32ad-46e0-b082-cd6f43727a43","name":"CHAT-GPT"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1660,280],"id":"c2e3f753-544f-412a-9805-ecb3cd531d9b","name":"MEMORY"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1360,1100],"id":"8dfc3bd3-787f-4ef8-a08b-cdf41bdd0373","name":"ПУБЛИКАЦИЯ"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Статус|status","statusValue":"Опубликовано"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1960,1100],"id":"bff5559f-ed0d-4633-93f4-a2a1a6890fd6","name":"Notion1"},{"parameters":{"operation":"sendPhoto","chatId":"@stoic_accept","binaryData":true,"additionalFields":{"caption":"={{ $json.properties['Текст статьи'].rich_text[0].text.content }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1800,1100],"id":"c17495b3-18da-42b2-adb4-2d6eb8d042dd","name":"Telegram","webhookId":"48b884d6-af18-4027-b72f-5721ac857405"},{"parameters":{"promptType":"define","text":"={{ $json.properties['Текст статьи'].rich_text[0].text.content }}","options":{"systemMessage":"=🎯 Цель:\nПолучив философский или психологический текст, агент создаёт визуальный промпт для генерации изображения, которое передаёт суть текста через античную каменную статую, метафору и один выразительный цветовой акцент.\n\n🧩 Алгоритм:\nПрочитай текст и пойми основную мысль. Что он говорит о человеке, силе, страхе, эго, истине, покое?\n\nВыдели главную идею — в одном-двух предложениях. Это эмоциональный или смысловой центр текста.\n\nПридумай метафору или символ, через который можно выразить эту идею визуально: пустота, лестница, тени, отражение, вода, покой, разрушение, граница.\n\nОбязательно используй каменную античную статую:\n\nВ грубом, неотшлифованном виде\n\nС трещинами, потертостями, сломанными фрагментами\n\nЭто может быть целиком фигура, торс, лицо, фрагмент руки и т.п.\n\nДобавь один визуально нестандартный элемент цвета — чтобы выделить изображение в ленте:\n\nНапример: розовая трещина на лбу, пурпурная ткань на плечах, неоновый свет на половине лица, красная тень, бирюзовая дымка.\n\nОформи результат по шаблону ниже\n\n🖼️ Стиль изображения:\nКаменная античность + современный акцент\n\nАтмосферный минимализм, философский кинореализм\n\nПустота, свет, тени, символизм\n\nЦветовая палитра: каменные, пыльные, пастельные + один выделяющийся акцентный цвет\n\n1920×1080, 16:9\n\nUltra-HD, Artistic realism\n\n📄 Шаблон вывода:\n\n**Main idea**: [1–2 предложения, передающие суть текста]\n\n**Visual metaphor**: [метафора + как в неё встроена каменная античная статуя и где цветовой акцент]\n\n**Image prompt**:  \nA cinematic 16:9 image of an ancient weathered stone statue representing {concept}, standing in a vast symbolic setting like {location}. The statue is made of rough cracked stone, evoking timelessness and presence. One element of the statue or scene contains a surreal accent — such as a soft pink crack across the face, a glowing blue light around the hand, or a crimson mist in the background. The atmosphere is contemplative and symbolic. Artistic realism, soft shadows, dusty tones + one vivid highlight. Ultra-HD, 1920x1080.\n\n✅ Пример на основе текста «Сила тишины»:\n\n**Main idea**: Silence isn’t absence — it is amplified presence. It unsettles others by confronting their need for control.\n\n**Visual metaphor**: A solitary stone statue of a philosopher stands in an empty hall. It is calm and cracked, with a subtle pink glow running through the center of its chest — like a quiet heartbeat in stone.\n\n**Image prompt**:  \nA cinematic 16:9 image of an ancient weathered stone statue of a philosopher standing alone in a vast marble hall. The statue is made of cracked, rough stone. A soft pink light glows subtly through a fracture across its chest, creating a surreal and poetic accent. The hall is filled with diffused light and long shadows. In the far background, vague silhouettes shift restlessly. The atmosphere is silent, contemplative, and mysterious. Artistic realism, dusty tones, cinematic lighting, one vivid pink element. Ultra-HD, 1920x1080."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1760,560],"id":"ab39cccd-68d2-42de-9201-e9a53a25541c","name":"Генератор картинок"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1680,760],"id":"bb415127-d926-48a8-a626-392125523629","name":"OpenRouter Chat Model"},{"parameters":{"resource":"image","prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2420,580],"id":"9ae91cd8-d600-4764-b110-59d4bd3407e3","name":"OpenAI"},{"parameters":{"name":"={{ $now }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1v_tsdViEePpv4xxBLHZvE6u9ZQsdkY44","mode":"list","cachedResultName":"КОНТЕНТ-ЗАВОД РЕАЛИТИ","cachedResultUrl":"https://drive.google.com/drive/folders/1v_tsdViEePpv4xxBLHZvE6u9ZQsdkY44"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2600,580],"id":"26e0d4f2-3297-44f8-a089-2f668192d100","name":"Google Drive"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion2').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Статус|status","statusValue":"=Готов к публикации"},{"key":"URL картинки|url","urlValue":"={{ $json.webContentLink }}"},{"key":"ID Google Drive|rich_text","textContent":"={{ $json.id }}"},{"key":"Промпт для картинки|rich_text","textContent":"={{ $('Генератор картинок').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2800,560],"id":"198b803c-c8bf-41f7-87fb-88cd27403624","name":"Добавление картинки"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.properties['ID Google Drive'].rich_text[0].text.content }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1640,1100],"id":"ee675b71-391d-4a44-938f-5fa02d7ae4ee","name":"Google Drive1"},{"parameters":{"descriptionType":"manual","toolDescription":"Добавляй статьи в Notion.","resource":"databasePage","databaseId":{"__rl":true,"value":"1dab7518-c460-805e-8d43-c8a4b072ce38","mode":"list","cachedResultName":"Контент-план","cachedResultUrl":"https://www.notion.so/1dab7518c460805e8d43c8a4b072ce38"},"title":"={{ $fromAI('post_title', 'Post Title') }}","propertiesUi":{"propertyValues":[{"key":"Дата публикации|date","includeTime":false,"date":"={{ $fromAI('publish_date', 'Add publish date') }}"},{"key":"Дата создания|date","date":"={{ $now }}"},{"key":"Заголовок|title","title":"={{ $fromAI('post_title', 'Post Title' ) }}"},{"key":"Текст статьи|rich_text","textContent":"={{ $fromAI('article_text', 'Article Text') }}"},{"key":"Время публикации|select","selectValue":"=утро"},{"key":"Статус|status","statusValue":"=Генерируем картинку"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[2020,280],"id":"aeba1643-06cd-4932-b5a9-8909e35d8976","name":"add_post"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1380,560],"id":"9eaff3bd-8c1a-4e80-bbea-043269fc54f2","name":"Schedule Trigger"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"1dab7518-c460-805e-8d43-c8a4b072ce38","mode":"list","cachedResultName":"Контент-план","cachedResultUrl":"https://www.notion.so/1dab7518c460805e8d43c8a4b072ce38"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"Статус|status","condition":"equals","statusValue":"Генерируем картинку"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1560,560],"id":"c6d80a27-f25b-4ab5-806e-555a72ecc4cf","name":"Notion2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2120,560],"id":"e91f7513-ff94-42a4-8c1d-8ca1d410648e","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[3580,1780],"id":"fea4cafe-77ae-48e4-8d1b-ab29777bad65","name":"Schedule Trigger1"},{"parameters":{"assignments":{"assignments":[{"id":"1e0d2eef-adbf-40a0-a7e2-726daf3cbcd2","name":"photo_url","value":"https://cdn-static.dupdub.com/frontend/dupdub-upload/dd9d2f67-985b-43a2-b803-f287cb1322c5/png/1749073195598.png","type":"string"},{"id":"dedb9721-ba90-47ff-97f6-bf63be2b1dd3","name":"api_key","value":"6df8922a03eb4a0dae550cd6a839c1bd","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3760,1780],"id":"9b587c19-fe35-4dac-a6df-dfe321b8a89b","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://moyin-gateway.dupdub.com/tts/v1/photoProject/detectAvatar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"dupdub_token","value":"={{ $json.api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"photoUrl\": \"{{ $json.photo_url }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3940,1780],"id":"4a36248f-df7c-4e2c-8b89-5de23c44e571","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://moyin-gateway.dupdub.com/tts/v1/photoProject/createMulti","sendHeaders":true,"headerParameters":{"parameters":[{"name":"dupdub_token","value":"={{ $('Edit Fields').item.json.api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"photoUrl\": \"{{ $('Edit Fields').item.json.photo_url }}\",\n  \"info\": [\n    {\n      \"box\": [{{ $json.data.boxes[0] }}],\n      \"text\": \"Привет, Иишные! Я сгенерирован через API, полностью автоматически. Завтра ждите третью часть контент-завода\",\n      \"speaker\": \"uranus||||a7fb5714847ae288230499c94eb562a1\",\n      \"speed\": \"1\",\n      \"pitch\": \"1.0\"\n    }\n  ],\n  \"watermark\": 0,\n  \"useSr\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4120,1780],"id":"c3c376dc-5afa-4927-b3be-2bd178bbe0ce","name":"HTTP Request1"},{"parameters":{"url":"https://moyin-gateway.dupdub.com/tts/v1/storeSpeakerV2/searchSpeakerList","sendHeaders":true,"headerParameters":{"parameters":[{"name":"dupdub_token","value":"={{ $('Edit Fields').item.json.api_key }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4120,1980],"id":"bfbc30e8-0301-4e4e-a1ce-3061b8942ea2","name":"HTTP Request2"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1360,1460],"id":"9c6aacd5-e97e-49d3-bde4-4db04b4e3105","name":"каждый час"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"1dab7518-c460-805e-8d43-c8a4b072ce38","mode":"list","cachedResultName":"Контент-план","cachedResultUrl":"https://www.notion.so/1dab7518c460805e8d43c8a4b072ce38"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"Статус|status","condition":"equals","statusValue":"Опубликовано"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1580,1460],"id":"56540ddb-1632-40b5-9e13-ea84c608e762","name":"Notion3"},{"parameters":{"promptType":"define","text":"=Текст статьи:\n\n{{ $json.properties['Текст статьи'].rich_text[0].text.content }}","options":{"systemMessage":"Ты — философский редактор и автор Yotube Shorts-канала про практическую философию. Твоя задача — на основе  текста поста создать сильынй сценарий в духе стоицизма, психологии и внутренней осознанности.\n\nШаг 1. Анализ текста\nПроанализируй присланный текст. Обрати внимание на:\n– идеи, связанные с внутренним спокойствием, реакцией на стресс, гибкостью ума, эмоциями, общением, целью, саморазвитием, тревогой, психологией и другими похожими темами\n– цитаты философов (особенно стоиков, Юнга и т.д.). Все цитаты только на русском.\n– метафоры, сравнения, жизненные наблюдения\n\nШаг 2. Напиши сценарий, который будет озвучен диктором, по всем вирусным законам Youtube Shorts.\n\nНачало — сильный инсайт, который сразу цепляет\nСередина — боль, отсылка к проблеме\nКонец — решение, что делать.\n\nВ конце выдай только текст, без форматирования, на русском языке"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1800,1460],"id":"1e18035c-245b-4b6c-a394-566b585dfc37","name":"AI Agent"},{"parameters":{"model":"anthropic/claude-3.7-sonnet","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1680,1700],"id":"a5215d11-7336-4f5c-baf8-f0411ad2a53e","name":"OpenRouter Chat Model1"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion3').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Статус|status","statusValue":"Готов сценарий"},{"key":"Текст сценария для видео|rich_text","textContent":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2160,1460],"id":"a154356a-6335-41aa-80f6-889f42f6f063","name":"Notion4"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1380,2040],"id":"d6774704-6866-4c08-bcae-82450fa7c797","name":"каждый час1"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"1dab7518-c460-805e-8d43-c8a4b072ce38","mode":"list","cachedResultName":"Контент-план","cachedResultUrl":"https://www.notion.so/1dab7518c460805e8d43c8a4b072ce38"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"Статус|status","condition":"equals","statusValue":"Готов сценарий"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1620,2040],"id":"fe9eb3ad-811f-4070-b3a2-82cf1c0a0eb4","name":"Notion5"},{"parameters":{"assignments":{"assignments":[{"id":"564cab3e-06ca-4890-9aa4-958b9820b0b6","name":"token","value":"6df8922a03eb4a0dae550cd6a839c1bd","type":"string"},{"id":"37ab0bcb-83b2-4dae-8af5-695635090927","name":"photo_url","value":"https://cdn-static.dupdub.com/frontend/dupdub-upload/ddcc0651-b1cd-4937-9e5a-bc9e7b7673cc/png/1749145327072.png","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,2040],"id":"4f7a91dd-ee53-4413-bab8-c3e85352b5a9","name":"prepare_data"},{"parameters":{"method":"POST","url":"https://moyin-gateway.dupdub.com/tts/v1/photoProject/detectAvatar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"dupdub_token","value":"={{ $json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"photoUrl","value":"={{ $json.photo_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2060,2040],"id":"cba3437e-cffb-4588-a493-629e3bde982a","name":"detect_face"},{"parameters":{"method":"POST","url":"https://moyin-gateway.dupdub.com/tts/v1/photoProject/createMulti","sendHeaders":true,"headerParameters":{"parameters":[{"name":"dupdub_token","value":"={{ $('prepare_data').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"photoUrl\": \"{{ $('prepare_data').item.json.photo_url }}\",\n  \"info\": [\n    {\n      \"text\": {{ $('Notion5').item.json.properties['Текст сценария для видео'].rich_text[0].text.content.toJsonString() }},\n      \"speaker\": \"uranus||||a7fb5714847ae288230499c94eb562a1\",\n      \"box\": [{{ $json.data.boxes[0] }}]\n    }\n  ],\n  \"watermark\": 0\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,2040],"id":"ff79bf46-30ed-4152-ba35-95edc09414ed","name":"generate_avatar"}],"connections":{"Notion":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Сюда закинь контент-план":{"main":[[{"node":"ИИ-копирайтер","type":"main","index":0}]]},"CHAT-GPT":{"ai_languageModel":[[{"node":"ИИ-копирайтер","type":"ai_languageModel","index":0}]]},"MEMORY":{"ai_memory":[[{"node":"ИИ-копирайтер","type":"ai_memory","index":0}]]},"ПУБЛИКАЦИЯ":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Генератор картинок","type":"ai_languageModel","index":0}]]},"Генератор картинок":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Добавление картинки","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"add_post":{"ai_tool":[[{"node":"ИИ-копирайтер","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"Notion2":{"main":[[{"node":"Генератор картинок","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"OpenAI","type":"main","index":0}]]},"Добавление картинки":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"каждый час":{"main":[[{"node":"Notion3","type":"main","index":0}]]},"Notion3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Notion4","type":"main","index":0}]]},"каждый час1":{"main":[[{"node":"Notion5","type":"main","index":0}]]},"Notion5":{"main":[[{"node":"prepare_data","type":"main","index":0}]]},"prepare_data":{"main":[[{"node":"detect_face","type":"main","index":0}]]},"detect_face":{"main":[[{"node":"generate_avatar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ac188e92-bb5b-4828-bdea-65b0a9f66612","triggerCount":0,"tags":[]}