my-workflow-19-f3oJNdDhIHoXfnFL.json
{"createdAt":"2025-07-28T17:52:41.247Z","updatedAt":"2025-07-28T17:53:02.142Z","id":"f3oJNdDhIHoXfnFL","name":"My workflow 19","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2736,96],"id":"dbe708ed-e0f2-408e-8381-25764732b778","name":"Schedule Trigger"},{"parameters":{"jsCode":"return[\n  { \"json\": { \"feed\": \"https://rss.app/feeds/pZT7uIc8zpmJcNuR.xml\" } }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2464,96],"id":"d70ad462-f178-4da7-bd22-6c2691bed3b4","name":"RSS Feeds"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2144,96],"id":"076c339e-d0e0-4b77-97cd-af2855fcd085","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.feed }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[-1872,112],"id":"4dc6511e-0f23-48c2-95c1-b2e9d6639a3c","name":"RSS Read"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aabfdeff-d854-4ea8-9446-a77fae3c589e","leftValue":"={{ $('RSS Read').first().json.pubDate }}","rightValue":"={{ DateTime.now().minus({ days: 3 }) }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1872,-112],"id":"5257f43f-b0b4-4bad-93fd-d96293905de6","name":"If"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1552,96],"id":"2b2cf142-5840-48fc-b231-cdb8f6f020f1","name":"Limit"},{"parameters":{"url":"={{ $('If').item.json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1248,96],"id":"5662a17a-1f1c-4c3c-9318-04210852e04a","name":"getContent"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-1024,96],"id":"d6943a71-5a22-436e-97f3-12d54c918fca","name":"Markdown"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"sourceSummary\": {{ JSON.stringify($json.text) }},\n  \"sourceURL\": {{ JSON.stringify($('Limit').item.json.link) }},\n  \"sourceHeadline\": {{ JSON.stringify($('Limit').item.json.title) }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,-16],"id":"28b495c4-d45c-4a45-8ee2-5ecd426410d7","name":"setFields1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1aQeWy1nlXm31ei34QCDUP4H17JeyvPTeGHBi2JYFoKQ/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aQeWy1nlXm31ei34QCDUP4H17JeyvPTeGHBi2JYFoKQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"sourceSummary":"={{ $json.sourceSummary }}","sourceHeadline":"={{ $json.sourceHeadline }}","sourceURL":"={{ $json.sourceURL }}"},"matchingColumns":[],"schema":[{"id":"sourceSummary","displayName":"sourceSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sourceURL","displayName":"sourceURL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sourceHeadline","displayName":"sourceHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-128,-16],"id":"fd87d36c-e7ec-47fd-a692-dbbac392d186","name":"Google Sheets"},{"parameters":{"chatId":"-1002628553223","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-448,256],"id":"f53ac2cc-e016-4d66-9d7a-d74b4949d807","name":"Telegram","webhookId":"105a414f-08a2-427f-9a83-14c1881bf9ba","credentials":{"telegramApi":{"id":"p1dnnE2EY5U2FYP9","name":"User Search"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-2024-05-13","mode":"list","cachedResultName":"gpt-4o-2024-05-13"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-832,352],"id":"6a625f7f-604e-4415-ac55-3d1f95efb358","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"=Вы полезный, умный помощник по резюмированию. Ваша задача — определить основной текст статьи и создать подробное резюме его содержания. Определите любые ключевые предметы или темы и главную тему статьи.\n\nРезюме не должно быть длиннее 1000 символов. не включайте никаких дополнительных слов или фраз, таких как «резюме статьи» или «в статье обсуждается». отвечать только на русском языке\nФормат от первого лица должен быть в виде сообщения в телеграмме — это цепляющий заголовок, а затем описание."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-832,96],"id":"cf34fa25-3e0a-4244-92a4-8df05fa39be9","name":"Генератор Поста"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2752,-144],"id":"efd5f27b-7b97-46fa-a9d1-be2a30353785","name":"When clicking ‘Execute workflow’"}],"connections":{"Schedule Trigger":{"main":[[{"node":"RSS Feeds","type":"main","index":0}]]},"RSS Feeds":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"getContent","type":"main","index":0}]]},"getContent":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Генератор Поста","type":"main","index":0}]]},"setFields1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Генератор Поста","type":"ai_languageModel","index":0}]]},"Генератор Поста":{"main":[[{"node":"setFields1","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"RSS Feeds","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ecd791c2-1e6a-4c8c-831a-dfe29148d99f","triggerCount":0,"shared":[{"createdAt":"2025-07-28T17:52:41.247Z","updatedAt":"2025-07-28T17:52:41.247Z","role":"workflow:owner","workflowId":"f3oJNdDhIHoXfnFL","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}