my-workflow-8-MWQIjLd7zHL6D9oE.json
{"createdAt":"2025-07-10T08:29:02.679Z","updatedAt":"2025-08-04T11:44:37.464Z","id":"MWQIjLd7zHL6D9oE","name":"My workflow 8","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2928,192],"id":"dd1798d0-d58d-40f3-9acf-13e748425288","name":"Schedule Trigger"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1qXMjwGEBDk616j1-9oS-NPoeAgHCIkimoqG7jH1MbPg","mode":"list","cachedResultName":"POV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qXMjwGEBDk616j1-9oS-NPoeAgHCIkimoqG7jH1MbPg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1610243108,"mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qXMjwGEBDk616j1-9oS-NPoeAgHCIkimoqG7jH1MbPg/edit#gid=1610243108"},"filtersUI":{"values":[{"lookupColumn":"этап создания","lookupValue":"в разработке"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2704,192],"id":"41ce05d7-295a-40dc-9d95-546ed0474f5a","name":"Google Sheets","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"promptType":"define","text":"={{ $json['идея'] }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Your outputs NEVER include double-quotes  You are an advanced prompt-generation AI specializing in crafting highly detailed and hyper-realistic POV (point of view) image prompt ideas. Your task is to generate concise, action-driven, immersive prompt ideas that follow a sequential narrative, depicting a \"day in the life\" experience based on a given video topic.   You can skip the part on waking up from bed. Don't output actions related to wearing clothing. Don't output actions related to using feet. You also prioritize more sensational and unique scenes for that given scenario, instead of common things people do generally  Guidelines: Every output represents a first-person perspective, making the viewer feel like they are experiencing the moment. Use action-based verbs like gripping, running, reaching, holding, walking toward, stumbling, climbing, lifting, turning, stepping into. Use keywords such as POV, GoPro-style, first-person view, point of view to reinforce immersion. Keep all outputs between 5 to 10 words long. Never use double quotes in any output. All scenes must be hyper-realistic, high quality, and cinematic, evoking strong visual and emotional impact. Each set of prompts must follow a logical sequence, covering a full day in the life from morning to night, ensuring narrative continuity.  Avoid introspection or vague descriptions—focus on physical actions and interactions that build a cohesive, immersive story.  Examples: Topic: A Peasant’s Day in Medieval Europe Pushing open a wooden cottage door Scooping water from a village well Kneeling to tie worn leather shoes Walking through a bustling market square Handing a silver coin to a merchant Carrying a sack of wheat up a hill Hammering nails into a wooden fence Stirring stew over a crackling fire Placing a candle by the bedside Topic: A Cyberpunk Mercenary’s Routine Waking up to flickering neon ceiling lights Pushing aside tangled wires on a desk Scanning a wrist implant for mission updates Loading a plasma pistol in a dim alley Stepping onto a hover bike in the rain Swiping a keycard through a vault scanner Ducking behind cover as drones patrol ahead Hacking a neon-lit terminal with gloved fingers Collapsing onto a metal cot in exhaustion Topic: A Soldier’s Day in World War I Wiping dirt from a battered helmet Climbing out of a damp trench at dawn Holding a rusted rifle with trembling hands Walking through thick fog past barbed wire Rushing toward an enemy bunker under fire Reloading behind sandbags as shells explode Bandaging a soldier’s wound with torn cloth Lighting a cigarette under a moonlit sky Resting against a wooden crate in the trenches  Each generated sequence tells a visual story, pulling the viewer into a cohesive first-person experience from start to finish. System Prompt for Generate Prompts You are an advanced prompt-generation AI specializing in expanding short POV (point-of-view) image prompt ideas into detailed, hyper-realistic prompts optimized for image-generation models like Flux and MidJourney. Your task is to take a brief input and transform it into a rich, cinematic, immersive prompt that strictly adheres to a first-person perspective, making the viewer feel as if they are physically present in the scene.  This is the overall idea for the video: {{ $json['идея'] }} This is the short prompt idea you need to expand upon: {{ $json.response.text }} Every prompt must use this to describe the environment of the image: {{ $json['промт для окружения'] }}  Every prompt has three sections: 1/ You always start the prompt with:  2/ In the foreground, show and describe the hands, limbs, or feet of the viewer. this section must start with \"First person view POV GoPro shot of [relevant limb]...\" 3/ In the background, describe the scenery. must start with \"In the background, [describe scenery]\"  Most Important Guidelines: Every image must be a first-person perspective shot—the viewer must feel like they are experiencing the moment themselves, not just observing it. A visible limb (hands or feet) must always be present and actively engaged in the environment—whether gripping, reaching, pushing, lifting, or interacting in a natural way. The framing must be dynamic and interactive, mimicking real-world human vision—ensuring motion, depth, and immersion similar to a GoPro or head-mounted camera shot. Other Key Guidelines: Full-body awareness: The prompt should subtly remind the viewer that they have a physical presence—mentioning sensations like weight shifting, breath fogging in the cold, or fingers trembling from adrenaline. Sensory depth: The prompt should engage multiple senses (sight, touch, temperature, sound, even smell) to heighten realism. World interaction: The hands or feet should not just be present but actively interacting with the scene (e.g., clutching, adjusting, stepping forward, brushing against surfaces). Keep prompts under 1000 characters in a single, cinematic sentence with no extra formatting, explanations, or unnecessary output. Examples: Input: Climbing a fire escape over neon streets Output: POV of gloved hands straining to pull up against the slick, rusted fire escape ladder, neon lights dancing in the puddles below, cold rain sliding down trembling fingers, distant sirens wailing as my breath fogs the damp air, a rooftop edge just within reach.  Input: Reaching for a coffee in a bustling café Output: POV of my outstretched hand wrapping around a steaming mug, heat radiating through the ceramic, the barista’s tattooed arm extending the cup towards me, the chatter of morning rush echoing off tiled walls, sunlight catching floating dust as the rich aroma of espresso fills my breath.  Input: Waking up in a medieval tavern Output: POV of my rough, calloused hands rubbing heavy eyes, the flickering candlelight warping shadows on wooden beams, my fingers tracing the sweat-soaked grooves of a tankard, the thick scent of ale and smoke clinging to the air, muffled laughter and the distant pluck of a lute stirring my senses awake."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-2480,192],"id":"4473fd00-5aa8-4be9-bd7e-46b06e1e7109","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2464,368],"id":"75928ea2-6711-4783-97e4-9d05f912e24d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"options":{"numberOfItems":2}},"type":"@n8n/n8n-nodes-langchain.outputParserItemList","typeVersion":1,"position":[-2320,368],"id":"55a32346-7a30-435e-8a8d-9461b9cbf342","name":"Item List Output Parser"},{"parameters":{"content":"## Генерим идеи","height":480,"width":920},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2976,64],"id":"27038acf-89fc-4d77-9857-1d9a95323434","name":"Sticky Note"},{"parameters":{"modelId":{"__rl":true,"value":"o1-mini","mode":"list","cachedResultName":"O1-MINI"},"messages":{"values":[{"content":"=You are an advanced prompt-generation AI specializing in expanding short POV (point-of-view) image prompt ideas into detailed, hyper-realistic prompts optimized for image-generation models like Flux and MidJourney. Your task is to take a brief input and transform it into a rich, cinematic, immersive prompt that strictly adheres to a first-person perspective, making the viewer feel as if they are physically present in the scene.\n\nThis is the overall idea for the video: {{ $('Google Sheets').item.json['идея'] }}\nThis is the short prompt idea you need to expand upon: {{ $json.response.text }}\nEvery prompt must use this to describe the environment of the image: {{ $('Google Sheets').item.json['промт для окружения'] }}\n\nEvery prompt has three sections:\n1/ You always start the prompt with: {{ $('Google Sheets').item.json['идея'] }}\n2/ In the foreground, show and describe the hands, limbs, or feet of the viewer. this section must start with \"First person view POV GoPro shot of [relevant limb]...\"\n3/ In the background, describe the scenery. must start with \"In the background, [describe scenery]\"\n\nMost Important Guidelines:\nEvery image must be a first-person perspective shot—the viewer must feel like they are experiencing the moment themselves, not just observing it.\nA visible limb (hands or feet) must always be present and actively engaged in the environment—whether gripping, reaching, pushing, lifting, or interacting in a natural way.\nThe framing must be dynamic and interactive, mimicking real-world human vision—ensuring motion, depth, and immersion similar to a GoPro or head-mounted camera shot.\nOther Key Guidelines:\nFull-body awareness: The prompt should subtly remind the viewer that they have a physical presence—mentioning sensations like weight shifting, breath fogging in the cold, or fingers trembling from adrenaline.\nSensory depth: The prompt should engage multiple senses (sight, touch, temperature, sound, even smell) to heighten realism.\nWorld interaction: The hands or feet should not just be present but actively interacting with the scene (e.g., clutching, adjusting, stepping forward, brushing against surfaces).\nKeep prompts under 1000 characters in a single, cinematic sentence with no extra formatting, explanations, or unnecessary output.\nExamples:\nInput: Climbing a fire escape over neon streets\nOutput: POV of gloved hands straining to pull up against the slick, rusted fire escape ladder, neon lights dancing in the puddles below, cold rain sliding down trembling fingers, distant sirens wailing as my breath fogs the damp air, a rooftop edge just within reach.\n\nInput: Reaching for a coffee in a bustling café\nOutput: POV of my outstretched hand wrapping around a steaming mug, heat radiating through the ceramic, the barista’s tattooed arm extending the cup towards me, the chatter of morning rush echoing off tiled walls, sunlight catching floating dust as the rich aroma of espresso fills my breath.\n\nInput: Waking up in a medieval tavern\nOutput: POV of my rough, calloused hands rubbing heavy eyes, the flickering candlelight warping shadows on wooden beams, my fingers tracing the sweat-soaked grooves of a tankard, the thick scent of ale and smoke clinging to the air, muffled laughter and the distant pluck of a lute stirring my senses awake.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1664,-128],"id":"5a5a4182-8711-4ea3-9801-e99aa8301bbe","name":"OpenAI","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"d3aef763a9cd69dbf9aa77a388361270042f7015d4432318d1514fa91930ead7"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={     \"model\": \"Qubico/flux1-dev\",     \"task_type\": \"txt2img\",     \"input\": {         \"prompt\": \"{{ $json.message.content }}\",         \"width\": 540,         \"height\": 960     } }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1840,144],"id":"ea07e049-b9db-4595-b64e-2ade5ecc86fd","name":"HTTP Request"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1616,144],"id":"3f282c5c-4d72-4406-b186-f7cd64e24b74","name":"Wait","webhookId":"dd720809-dab9-47ab-994e-2533da8f3aaa"},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"d3aef763a9cd69dbf9aa77a388361270042f7015d4432318d1514fa91930ead7"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1408,144],"id":"32423251-5de6-4dc3-9d82-9f47c01bd703","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"d3aef763a9cd69dbf9aa77a388361270042f7015d4432318d1514fa91930ead7"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n    \"model\": \"kling\",\n    \"mode\": \"pro\",\n    \"task_type\": \"video_generation\",\n    \"input\": {\n        \"prompt\": \"{{ $json.data.input.prompt }}\",\n        \"negative_prompt\": \"bad quality\",\n        \"cfg_scale\": 0.65,\n        \"duration\": 5,\n        \"image_url\": \"{{ $json.data.output.image_url }}\",\n        \"camera_control\": {\n            \"type\": \"simple\",\n            \"config\": {\n                \"horizontal\": 0,\n                \"vertical\": 0,\n                \"pan\": 0,\n                \"tilt\": 0,\n                \"roll\": 0,\n                \"zoom\": 0\n            }\n        }\n    },\n    \"config\": {}\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1856,384],"id":"6eb7ba1e-9b94-4b8d-9bb6-bbec50f73f1f","name":"HTTP Request2"},{"parameters":{"amount":7,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1616,384],"id":"2e41a766-b5ba-4e67-9390-23fe182ba0b0","name":"Wait1","webhookId":"dd720809-dab9-47ab-994e-2533da8f3aaa"},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"d3aef763a9cd69dbf9aa77a388361270042f7015d4432318d1514fa91930ead7"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1408,384],"id":"5340ba70-bb50-47eb-bd7b-ae58b9d4869c","name":"HTTP Request3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-896,224],"id":"c1fd7655-e3ad-468f-b225-e010a817eb00","name":"Merge"},{"parameters":{"jsCode":"return [\n  {\n    scene_titles: items.map(item => item.json.response.text),\n    video_urls: items.map(item => item.json.data.output.video_url)\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,224],"id":"58cdbf6b-2351-471c-b80d-d0d76dd67983","name":"Code"},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 152503b6883a4eeebda94775a60efb575806375cff170ef03f147d5ee5f2add5f9984c703c501aa85c1adfef7032cec7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={  \"template_id\": \"4b767f71-ca89-44da-a0d5-5a661e4cadc5\",\n  \"modifications\": {\n    \"Video-1.source\": \"\",\n    \"Video-2.source\": \"https://creatomate.com/files/assets/23b9827b-8424-4db7-8be0-dc17abdec21a\",\n    \"Text-1.text\": \"\",\n    \"Text-2.text\": \"\"\n  }\n}'","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,224],"id":"2ee1067f-63c6-4d1a-8170-76760c0b9068","name":"HTTP Request4"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1xwTXxqzokXGxD1orE8Fmrvmw2e877rQ7304lDI_KiQ4","mode":"list","cachedResultName":"POV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xwTXxqzokXGxD1orE8Fmrvmw2e877rQ7304lDI_KiQ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xwTXxqzokXGxD1orE8Fmrvmw2e877rQ7304lDI_KiQ4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Google Sheets').first().json.id }}","этап создания":"готово","этап публикации":"ожидает публикации","результат":"={{ $json.url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"идея","displayName":"идея","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"описание","displayName":"описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"этап создания","displayName":"этап создания","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"промт для окружения","displayName":"промт для окружения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"этап публикации","displayName":"этап публикации","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"результат","displayName":"результат","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-240,224],"id":"e29c6e09-6493-4f63-a596-2bdb696b09f4","name":"Google Sheets1","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"content":"## Создаем исходники","height":900,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2000,-240],"id":"001f4ab2-c9f0-42e2-9973-69bba1d93a1b","name":"Sticky Note1"},{"parameters":{"content":"## Получаем готовое видео","height":400,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,80],"id":"a455c61f-1446-4913-b27f-265247f6bc6f","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.instagram_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8208,-2528],"id":"a0079193-7700-4d65-95e0-628fbeeed6b1","name":"[Instagram] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Prepare for Publish').item.json.facebook_page_id }}\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.facebook_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8128,-2064],"id":"c8145a6c-da5c-406c-9978-429e6f9ff191","name":"[Facebook] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.linkedin_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8096,-1728],"id":"a0af141b-d9ea-408e-85b4-a1daed175c70","name":"[Linkedin] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": false,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.tiktok_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8208,-1328],"id":"f22c7367-4919-4abc-a798-36b6ea1f42be","name":"[Tiktok] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7984,-928],"id":"ee74df97-0aac-4ed2-8008-00a61009a2a5","name":"Upload to Blotato - Image","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Prepare for Publish').item.json.pinterest_board_id }}\",\n      \"link\": \"https://www.tiktok.com/@sabrina_ramonov\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},,\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.pinterest_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7760,-928],"id":"972f5971-29ec-41ff-9194-04d4d61666d7","name":"[Pinterest] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"TEST VIDEO\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.youtube_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7840,-2528],"id":"7aea1a3d-e81c-4837-bbd6-1babc90f7bfb","name":"[Youtube] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"threads\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.threads_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7840,-2176],"id":"fd5423b4-18fc-4984-a2a2-2caa34ab5210","name":"[Threads] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.twitter_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7808,-1728],"id":"1b9cdd8e-db2b-4de8-87c2-43dbb9de247c","name":"[Twitter] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": []\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.bluesky_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7840,-1328],"id":"40846213-373a-4bc4-a5ba-3b273433d52b","name":"[Bluesky] Publish via Blotato","disabled":true},{"parameters":{"promptType":"define","text":"=# INSTRUCTIONS\n\nPerform the following tasks in order:\n\n1. Fetch the top 10 stories from Hacker News in the past 24 hours related to AI or LLMs.\n\n2. Select the story that is most likely to go viral on social media.\n\n3. Fetch the article and comments from Hacker News.\n\n4. Create a 30-second script for an AI avatar monologue, following these guidelines:\n   - The script should last approximately 30 seconds when spoken aloud.\n   - Include plenty of details and statistics from the article.\n   - Use a 6th-grade reading level.\n   - A balanced viewpoint.\n   - All text must be written in Russian.\n\n5. Update the first 2 sentences of the script with sensational viral hooks that grab the viewer's attention and spark curiosity. The 3rd sentence should start diving into the details of the article.\n\n6. Add an emotional element to make the viewer feel excitement or amazement, especially when discussing how AI can impact their life or work.\n\n7. Replace the last sentence with: \"Hit follow to stay ahead in AI! And don't forget to comment on how this AI will help you!\"\n\n# OUTPUT FORMAT:\nONLY output the exact video script. Do not output anything else. NEVER include intermediate thoughts, notes, or formatting.\n","options":{"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-12320,-1760],"id":"7a624390-ccfa-47cd-b118-68da81a99549","name":"AI Agent"},{"parameters":{"articleId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Article_ID', ``, 'string') }}","additionalFields":{"includeComments":true}},"type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[-12144,-1440],"id":"c5d3a4bb-b993-40f3-823d-46934e78eed1","name":"Fetch HN Article"},{"parameters":{"resource":"all","additionalFields":{"keyword":"ai","tags":["front_page"]}},"type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[-12256,-1440],"id":"dd02eb04-8850-4ffb-9d6a-465e64284cbc","name":"Fetch HN Front Page"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-12368,-1536],"id":"c8bddd4f-87ad-4596-b2e0-15fb0a941702","name":"Write Script","credentials":{"openAiApi":{"id":"CxlrvDOn6vL8yXzn","name":"HAYGEN "}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"heygen_api_key\": \"ZWIwNTMxZWY4MTlmNDg3NDkyODQ5OWYwMGI1NWMzZmYtMTc0MzQyMzA5Ng==\",\n  \"avatar_id\": \"701c006710214b21ad1012e359fb06b1\",\n  \"voice_id\": \"898427a038ae48f6a6ba326394eb215e\",\n  \"background_video_url\": \"https://database.blotato.io/storage/v1/object/public/public_media/4ddd33eb-e811-4ab5-93e1-2cd0b7e8fb3f/videogen2-render-e6b398a2-5859-4a77-88ef-2345bcefdc98.mp4\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11360,-1744],"id":"4ecd21c5-b607-42cd-8870-059e6ebe3dc2","name":"Setup Heygen"},{"parameters":{"url":"https://api.heygen.com/v1/video_status.get","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $('Create Avatar Video').item.json.data.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $('Setup Heygen').item.json.heygen_api_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-10640,-1744],"id":"55d15a99-7713-407d-b911-47db8f6ca4a3","name":"Get Avatar Video"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"blotato_api_key\": \"blt_3Sw+2kE0+LRVVKUvYEfI057pabQaHHfNNc7HLvSGJpA=\",\n  \"instagram_id\": \"\",\n  \"youtube_id\": \"\",\n  \"tiktok_id\": \"9622\",\n  \"facebook_id\": \"\",\n  \"facebook_page_id\": \"\",\n  \"threads_id\": \"\",\n  \"twitter_id\": \"\",\n  \"linkedin_id\": \"\",\n  \"pinterest_id\": \"\",\n  \"pinterest_board_id\": \"\",\n  \"bluesky_id\": \"\",\n  \"final_text_long\": {{ $('Write Long Caption').item.json.message.content.toJsonString() }},\n  \"final_text_short\": {{ $('Write Short Caption').item.json.message.content.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-10208,-1744],"id":"73ef7fdf-7089-47bf-b132-20f840b9b5e8","name":"Prepare for Publish"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# EXAMPLE\n\n<example>\nПривет, на связи Игорь Зуевич. In this video, we will talk about how search engine optimization (SEO) works in the age of artificial intelligence.\n\nMany people have recently asked me how to improve their website visibility in search engines, especially with the emergence of new generative AI tools. This is an important topic because AI is changing the ways we process information and interact with users.\n\nNow, SEO should focus not only on keywords but also on how information is presented in AI systems like ChatGPT. These are the new realities of digital marketing.\n</example>\n\n# CONTEXT\n\nInfer the topic from the sources provided.\n\n# WRITING STYLE\n\nHere’s how you always write:\n\n<writing_style>\n\n- Your writing style is spartan and informative.\n- Use clear, simple language.\n- Employ short, impactful sentences.\n- Use active voice; avoid passive voice.\n- Focus on practical, actionable insights.\n- Incorporate data or statistics to support claims when possible.\n- Use \"you\" and \"your\" to directly address the reader.\n- Avoid metaphors and clichés.\n- Avoid generalizations.\n- Do not include common setup language in any sentence, including: in conclusion, in closing, etc.\n- Do not output warnings or notes—just the output requested.\n- Do not use hashtags in the text.\n- Do not use semicolons.\n- Do not use emojis.\n- Do not use asterisks.\n- Do not use adjectives and adverbs.\n- All texts must be written in Russian.\n- DO NOT use these words:\n\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"can, may, just, that, very, really, literally, actually, certainly, probably, basically, could, maybe, delve, embark, enlightening, esteemed, shed light, craft, crafting, imagine, realm, game-changer, unlock, discover, skyrocket, abyss, you're not alone, in a world where, revolutionize, disruptive, utilize, utilizing, dive deep, tapestry, illuminate, unveil, pivotal, enrich, intricate, elucidate, hence, furthermore, realm, however, harness, exciting, groundbreaking, cutting-edge, remarkable, it. remains to be seen, glimpse into, navigating, landscape, stark, testament, in summary, in conclusion, moreover, boost, bustling, opened up, powerful, inquiries, ever-evolving\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\n</writing_style>\n\n# PLANNING\n\nYour goal is to write a 50-word video caption based on the provided source.\n\n1. Thoroughly analyze the provided sources.\n2. Carefully study the <example> post. You need to replicate:\n    - Overall structure.\n    - Tone and voice.\n    - Formatting (including line breaks and spacing).\n    - Length (aim for a similarly detailed post).\n    - Absence of emojis.\n    - Use of hashtags.\n    - Emotional resonance.\n\n# OUTPUT\nFollow the GUIDELINES below to write the post. Use your analysis from step 1 and step 2. Use the provided sources as the foundation for your post, expanding on it significantly while maintaining the style and structure of the examples provided in step 2. YOU MUST use information from the provided sources. Make sure you adhere to your <writing_style>.\n\n<guidelines>\nThe description should be structured as follows:\n1. Start with the greeting: \"Hello, this is Igor Zuevich.\"\n2. In the first paragraph, briefly summarize the source.\n3. Each subsequent paragraph should be split every 2-3 sentences, depending on the content.\n4. At the end of each paragraph, add corresponding hashtags, automatically generated based on the content of the post. For example:\n   - If the paragraph discusses AI, automatically add hashtags #ai #artificialintelligence.\n   - If the paragraph discusses SEO, add hashtags #seo #digitalmarketing.\n5. Finally, add no more than 7 hashtags that match the content of the post. The hashtags should be generated automatically based on the content, such as #ai #seo #digitalmarketing #ainews, and others relevant to the topic. Do not add more than 7 hashtags.\n</guidelines>\n\nTake a deep breath and take it step-by-step!\n\n# INPUT\nUse the following information from the sources:\n<sources>\n{{ $json.output }}\n</sources>"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-11968,-1888],"id":"32aa6cd1-a865-457a-9394-5b7714dd5bdb","name":"Write Long Caption","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Write a brief 2-sentence caption summarizing the video content. Use 6th grade language, a balanced neutral perspective, and all text must be written in Russian, without emojis. The text should not include the name \"Igor Zuevich.\"\n\n<content>\n{{ $('Write Long Caption').item.json.message.content }}\n</content>\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-11936,-1440],"id":"4c862d3f-febc-4254-a366-25fa14d4a58a","name":"Write Short Caption","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"method":"POST","url":"https://api.heygen.com/v2/video/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $json.heygen_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  video_inputs: [\n    {\n      character: {\n        type: \"avatar\",\n        avatar_id: $json.avatar_id,\n        avatar_style: \"normal\",\n        scale: 1.0,\n        offset: {\n          x: 0.0,\n          y: 0.0\n        },\n        matting: false\n      },\n      voice: {\n        type: \"text\",\n        input_text: $('AI Agent').item.json.output,\n        voice_id: $json.voice_id,\n        speed: 1.1,\n        pitch: 50,\n        emotion: \"Excited\"\n      },\n      background: {\n        type: \"video\",\n        url: $json.background_video_url,\n        play_style: \"loop\",\n        fit: \"cover\"\n      }\n    }\n  ],\n  dimension: {\n    width: 720,\n    height: 1280\n  },\n  aspect_ratio: \"9:16\",\n  caption: false,\n  title: $('Write Title').item.json.message.content\n}) }}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-11120,-1744],"id":"2932fd1e-8c17-4d7c-b5b6-187e62b2019d","name":"Create Avatar Video"},{"parameters":{"content":"## Обязательно заполните «Настройка Heygen»\n\nhttps://www.heygen.com/\n\nhttps://elevenlabs.io/","height":180,"width":710,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-11264,-1488],"id":"ef312555-a041-432f-8efd-4975d368d0a8","name":"Sticky Note3"},{"parameters":{"content":"## Обязательно заполните «Подготовку к публикации»","height":120,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10176,-1424],"id":"8c2e9b3a-e0e8-48c1-8b50-c8b95576f103","name":"Sticky Note4"},{"parameters":{"content":"## ПРОМПТ AI АГЕНТ:\n\n### ИНСТРУКЦИЯ:\nВыполните следующие задачи в указанном порядке:\n\n1. Получите 10 самых популярных историй с Hacker News за последние 24 часа, связанных с ИИ или LLM.\n\n2. Выберите историю, которая с наибольшей вероятностью станет вирусной в социальных сетях.\n\n3. Извлеките статью и комментарии с Hacker News.\n\n4. Создайте 30-секундный сценарий для монолога ИИ-аватара, следуя этим указаниям:\n   - Сценарий должен длиться примерно 30 секунд при устном произнесении.\n   - Включите много деталей и статистики из статьи.\n   - Используйте уровень чтения 6-го класса.\n   - Сбалансированная точка зрения.\n   - Все тексты должны быть написаны на русском языке.\n\n5. Обновите первые 2 предложения сценария, используя сенсационные вирусные крючки, которые привлекут внимание зрителя и вызовут любопытство. Третье предложение должно начинать углубление в детали статьи.\n\n6. Добавьте эмоциональный элемент, чтобы вызвать у зрителя восторг или удивление, особенно при обсуждении того, как ИИ может повлиять на его жизнь или работу.\n\n7. Замените последнее предложение на: \"Нажмите «Подписаться», чтобы быть впереди в мире ИИ! И не забудьте написать в комментариях, как этот ИИ поможет вам!\"\n\n### ФОРМАТ ВЫХОДНЫХ ДАННЫХ:\nВыводите точный текст сценария для видео в `output`. Также выводите `title` – это заголовок из 2-3 слов для названия файла для видео. Не выводите ничего другого. Никогда не включайте промежуточные мысли, заметки.\n\n```json\n{\n   \"title\": \"<title>\",\n   \"output\": \"<output>\"\n}\n","height":840,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-13664,-2048],"typeVersion":1,"id":"a611a0c0-388a-435d-8798-1936de0f6d1e","name":"Sticky Note5"},{"parameters":{"content":"## ПРОМПТ Write Long Caption:\n\n\n### ПРИМЕР\n\n<example>\nПривет, на связи Игорь Зуевич. В этом видео мы поговорим о том, как оптимизация поисковых систем (SEO) работает в эпоху искусственного интеллекта.\n\nМногие люди недавно спрашивали меня о том, как улучшить видимость сайта в поисковых системах, особенно с учетом появления новых генеративных ИИ инструментов. Это важная тема, поскольку ИИ меняет способы обработки информации и взаимодействия с пользователями.\n\nСейчас SEO должно быть ориентировано не только на ключевые слова, но и на то, как информация представляется в ИИ-системах, таких как ChatGPT. Это новые реалии цифрового маркетинга.\n</example>\n\n### КОНТЕКСТ\n\nВыведите тему на основе предоставленных источников.\n\n### СТИЛЬ ПИСЬМА\n\nВот как вы всегда пишете:\n\n<writing_style>\n\n- Ваш стиль письма сдержанный и информативный.\n- Используйте простой и понятный язык.\n- Используйте короткие и выразительные предложения.\n- Используйте активный залог; избегайте пассивного.\n- Ориентируйтесь на практические, применимые идеи.\n- Включайте данные или статистику для подкрепления утверждений, когда это возможно.\n- Используйте \"вы\" и \"ваш\", чтобы непосредственно обратиться к читателю.\n- Избегайте метафор и штампов.\n- Избегайте обобщений.\n- Не включайте стандартные вводные фразы в любые предложения, включая: в заключение, подводя итоги и т.д.\n- Не выводите предупреждения или примечания — выводите только запрашиваемый контент.\n- Не используйте хэштеги в самом тексте.\n- Не используйте точки с запятой.\n- Не используйте эмодзи.\n- Не используйте звездочки.\n- Не используйте прилагательные и наречия.\n- Все тексты должны быть написаны на русском языке.\n- НЕ используйте следующие слова:\n\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"can, may, just, that, very, really, literally, actually, certainly, probably, basically, could, maybe, delve, embark, enlightening, esteemed, shed light, craft, crafting, imagine, realm, game-changer, unlock, discover, skyrocket, abyss, you're not alone, in a world where, revolutionize, disruptive, utilize, utilizing, dive deep, tapestry, illuminate, unveil, pivotal, enrich, intricate, elucidate, hence, furthermore, realm, however, harness, exciting, groundbreaking, cutting-edge, remarkable, it. remains to be seen, glimpse into, navigating, landscape, stark, testament, in summary, in conclusion, moreover, boost, bustling, opened up, powerful, inquiries, ever-evolving\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\n</writing_style>\n\n### ПЛАНИРОВАНИЕ\n\nВаша цель — написать описание для видео из 50 слов, основанное на предоставленном источнике.\n\n1. Тщательно проанализируйте предоставленные источники.\n2. Внимательно изучите пост <example>. Вам нужно будет воспроизвести:\n    - Общую структуру.\n    - Тон и голос.\n    - Форматирование (включая разрывы строк и пробелы).\n    - Длину (стремитесь к похожей деталям).\n    - Отсутствие эмодзи.\n    - Использование хэштегов.\n    - Эмоциональный отклик.\n\n### ВЫХОД\nСледуйте приведенным ниже ПРАВИЛАМ для написания поста. Используйте свой анализ из шага 1 и шага 2. Используйте предоставленные источники как основу для вашего поста, значительно расширяя его, при этом сохраняя стиль и структуру примеров, приведенных в шаге 2. ОБЯЗАТЕЛЬНО используйте информацию из предоставленных источников. Убедитесь, что придерживаетесь вашего <writing_style>.\n\n<guidelines>\nОписание должно быть структурировано следующим образом:\n1. Начните с приветствия: \"Привет, на связи Игорь Зуевич.\"\n2. В первом абзаце кратко изложите суть источника.\n3. Каждый последующий абзац должен быть разделен через 2-3 предложения, в зависимости от контента.\n4. В конце каждого абзаца добавьте соответствующие хештеги, автоматически генерируемые в зависимости от содержания поста, например:\n   - Если речь идет об ИИ, автоматически добавляются хештеги #ai #artificialintelligence.\n   - Если речь идет о SEO, добавляются хештеги #seo #digitalmarketing.\n5. В завершение, добавьте не более 7 хештегов, соответствующих содержанию поста. Хештеги должны генерироваться автоматически в зависимости от контента, например: #ai #seo #digitalmarketing #ainews и другие, соответствующие теме. Не добавляйте больше 7 хештегов.\n</guidelines>\n\nДелайте глубокий вдох и следуйте шаг за шагом!\n\n### ВХОД\nИспользуйте следующую информацию из источников:\n<sources>\n{{ $json.output }}\n</sources>\n\n","height":1960,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-14720,-2048],"typeVersion":1,"id":"2ef998a9-52e8-4fa0-9cd2-e226984bc0aa","name":"Sticky Note6"},{"parameters":{"content":"## ПРОМПТ Write Short Caption:\n\nНапишите краткое описание видео из двух предложений, обобщающее его содержание. Используйте язык 6-го класса, сбалансированную нейтральную точку зрения, все тексты должны быть написаны на русском языке, без эмодзи. В тексте не должно быть упоминания имени \"Игорь Зуевич\".\n\n<content>\n{{ $json.message.content }}\n</content>\n\n\n","height":260,"width":600,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-13488,-1120],"typeVersion":1,"id":"0b3f20fe-7dfa-4b3c-a72f-3d1c5ed86627","name":"Sticky Note7"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Come up with a file title based on the video text. The title should consist of 2-3 words, reflect the main idea and essence of the video, and be short and clear. All text must be written in Russian.\n\n<content>\n{{ $json.message.content }}\n</content>\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-11936,-1664],"id":"e4a028af-994c-49f2-b496-075717a3354c","name":"Write Title","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"content":"## ПРОМПТ Write Title:\n\nПридумайте заголовок для файла на основе текста видео. Заголовок должен состоять из 2-3 слов, отображать основную идею и суть видео, быть коротким и понятным. Все тексты должны быть написаны на русском языке.\n\n<content>\n{{ $json.message.content }}\n</content>\n\n","height":260,"width":600,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-13488,-768],"typeVersion":1,"id":"2b8f1a6c-c10c-43f8-aa56-997f9f51345f","name":"Sticky Note8"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-12528,-1760],"id":"17b1ff61-b795-4e8b-bbde-5face024276c","name":"When clicking ‘Execute workflow’"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.final_text_long }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-9984,-1584],"id":"27708556-f6d3-43f6-a26c-9e89c32af5c3","name":"Telegram","webhookId":"2ad2e352-8544-4596-b0fb-093274c25aa1","credentials":{"telegramApi":{"id":"oV3i1c0A5tpnFXbP","name":"haygen_aadss_bot"}}},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-12544,-1488],"id":"15c2de77-2756-418d-b524-1020568e7c14","name":"Telegram Trigger","webhookId":"2f78e972-b291-4b58-a4fd-07b1bf9d9e8a","credentials":{"telegramApi":{"id":"oV3i1c0A5tpnFXbP","name":"haygen_aadss_bot"}}},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $('Get Avatar Video').item.json.data.video_url }}\",\n  \"mediaType\": \"video\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-8464,-2016],"id":"a22f0638-2bc6-4169-a4fa-32af3b8e2dec","name":"Upload to Blotato (Final)","retryOnFail":false},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-9120,-5840],"id":"05927809-1edf-4d62-9b09-3ffbcd729ec0","name":"Schedule Trigger1"},{"parameters":{"content":"## Генерим идеи","height":480,"width":920},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9184,-5968],"id":"064704b9-a986-4f9d-88ec-b7447d70cf1d","name":"Sticky Note9"},{"parameters":{"modelId":{"__rl":true,"value":"o1-mini","mode":"list","cachedResultName":"O1-MINI"},"messages":{"values":[{"content":"=You are an advanced prompt-generation AI specializing in expanding short POV (point-of-view) image prompt ideas into detailed, hyper-realistic prompts optimized for image-generation models like Flux and MidJourney. Your task is to take a brief input and transform it into a rich, cinematic, immersive prompt that strictly adheres to a first-person perspective, making the viewer feel as if they are physically present in the scene.\n\nThis is the overall idea for the video: {{ $('Google Sheets2').item.json['идея'] }}\nThis is the short prompt idea you need to expand upon: {{ $json.response.text }}\nEvery prompt must use this to describe the environment of the image: {{ $('Google Sheets2').item.json['промт для окружения'] }}\n\nEvery prompt has three sections:\n1/ You always start the prompt with: {{ $('Google Sheets2').item.json['идея'] }}\n2/ In the foreground, show and describe the hands, limbs, or feet of the viewer. this section must start with \"First person view POV GoPro shot of [relevant limb]...\"\n3/ In the background, describe the scenery. must start with \"In the background, [describe scenery]\"\n\nMost Important Guidelines:\nEvery image must be a first-person perspective shot—the viewer must feel like they are experiencing the moment themselves, not just observing it.\nA visible limb (hands or feet) must always be present and actively engaged in the environment—whether gripping, reaching, pushing, lifting, or interacting in a natural way.\nThe framing must be dynamic and interactive, mimicking real-world human vision—ensuring motion, depth, and immersion similar to a GoPro or head-mounted camera shot.\nOther Key Guidelines:\nFull-body awareness: The prompt should subtly remind the viewer that they have a physical presence—mentioning sensations like weight shifting, breath fogging in the cold, or fingers trembling from adrenaline.\nSensory depth: The prompt should engage multiple senses (sight, touch, temperature, sound, even smell) to heighten realism.\nWorld interaction: The hands or feet should not just be present but actively interacting with the scene (e.g., clutching, adjusting, stepping forward, brushing against surfaces).\nKeep prompts under 1000 characters in a single, cinematic sentence with no extra formatting, explanations, or unnecessary output.\nExamples:\nInput: Climbing a fire escape over neon streets\nOutput: POV of gloved hands straining to pull up against the slick, rusted fire escape ladder, neon lights dancing in the puddles below, cold rain sliding down trembling fingers, distant sirens wailing as my breath fogs the damp air, a rooftop edge just within reach.\n\nInput: Reaching for a coffee in a bustling café\nOutput: POV of my outstretched hand wrapping around a steaming mug, heat radiating through the ceramic, the barista’s tattooed arm extending the cup towards me, the chatter of morning rush echoing off tiled walls, sunlight catching floating dust as the rich aroma of espresso fills my breath.\n\nInput: Waking up in a medieval tavern\nOutput: POV of my rough, calloused hands rubbing heavy eyes, the flickering candlelight warping shadows on wooden beams, my fingers tracing the sweat-soaked grooves of a tankard, the thick scent of ale and smoke clinging to the air, muffled laughter and the distant pluck of a lute stirring my senses awake.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-7856,-6144],"id":"03d66334-bb2a-4bdc-bb8e-3fa9c9384603","name":"OpenAI1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"d3aef763a9cd69dbf9aa77a388361270042f7015d4432318d1514fa91930ead7"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={     \"model\": \"Qubico/flux1-dev\",     \"task_type\": \"txt2img\",     \"input\": {         \"prompt\": \"{{ $json.message.content }}\",         \"width\": 540,         \"height\": 960     } }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8048,-5888],"id":"921b3c1e-dda5-4835-b10e-9f4fc0572bb1","name":"HTTP Request5"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-7824,-5888],"id":"f2694b82-c9dd-4991-b872-0f0a5e902dd4","name":"Wait2","webhookId":"dd720809-dab9-47ab-994e-2533da8f3aaa"},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"d3aef763a9cd69dbf9aa77a388361270042f7015d4432318d1514fa91930ead7"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7600,-5888],"id":"02a84ee4-909e-43ad-9038-8a7cb03b2d2d","name":"HTTP Request6"},{"parameters":{"content":"## Создаем исходники","height":900,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8208,-6256],"id":"17be9b12-cccf-4fdb-ba13-55c523687db6","name":"Sticky Note10"},{"parameters":{"content":"## Получаем готовое видео","height":400,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7184,-5936],"id":"86209e25-2a60-4cab-8b9e-e07d6ec5fe58","name":"Sticky Note11"},{"parameters":{"resource":"image","prompt":"={{ $('Prepare for Publish').item.json.final_text_long }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-8208,-928],"id":"3233ea42-0316-4c90-9d5e-007d455756ee","name":"OpenAI2","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-12528,-1904],"id":"674f34b4-f8a0-4cc6-a978-d3f567dc9ed7","name":"Schedule Trigger2"},{"parameters":{"amount":0.7,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-10880,-1744],"id":"40324c15-ecff-4b7f-a533-413fd5740121","name":"Wait3","webhookId":"81b4ae9c-7a4b-4c1e-b6c6-7ced0b4010ab","alwaysOutputData":false},{"parameters":{"content":"# Исследуйте ежедневные новости и напиши сценарий","height":860,"width":1040,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-12576,-2048],"id":"192d1ed1-3e7f-46be-8c06-3d7404eb5e96","name":"Sticky Note12"},{"parameters":{"content":"# Создаём видео AI аватар\n\n- API Heygen (платный); бесплатный до 10 видео.\n- Если у вас длинный сценарий, вам может потребоваться увеличить время ОЖИДАНИЯ.\n- Вы можете использовать голос Elevenlabs, интегрировав Elevenlabs из приложения Heygen.","height":860,"width":1120,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-11456,-2048],"id":"2405c77a-29c2-4214-afc3-411f1f6457a9","name":"Sticky Note13"},{"parameters":{"content":"# Публикация в социальных сетях\n\n- Зарегистрируйтесь в Blotato: https://www.blotato.com\n- API Blotato в настоящее время не поддерживает загрузку видео в Bluesky или Pinterest.\n- Эта функция будет выпущена в будущем (пока ноды отключены).","height":2100,"width":1200,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8768,-2720],"id":"a26cd93c-9232-4519-97aa-8413f0edf781","name":"Sticky Note14"},{"parameters":{"requestMethod":"POST","url":"https://api.creatomate.com/v1/renders","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{}},"name":"HTTP Request7","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-8496,-1696],"id":"466539c7-8faf-43eb-9e65-f0e283e6cedd"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1qXMjwGEBDk616j1-9oS-NPoeAgHCIkimoqG7jH1MbPg","mode":"list","cachedResultName":"POV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qXMjwGEBDk616j1-9oS-NPoeAgHCIkimoqG7jH1MbPg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1610243108,"mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qXMjwGEBDk616j1-9oS-NPoeAgHCIkimoqG7jH1MbPg/edit#gid=1610243108"},"filtersUI":{"values":[{"lookupColumn":"этап создания","lookupValue":"в разработке"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8896,-5840],"id":"15923e97-4c76-4780-b38e-1edda0ffde6e","name":"Google Sheets2","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"promptType":"define","text":"={{ $json['идея'] }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Your outputs NEVER include double-quotes  You are an advanced prompt-generation AI specializing in crafting highly detailed and hyper-realistic POV (point of view) image prompt ideas. Your task is to generate concise, action-driven, immersive prompt ideas that follow a sequential narrative, depicting a \"day in the life\" experience based on a given video topic.   You can skip the part on waking up from bed. Don't output actions related to wearing clothing. Don't output actions related to using feet. You also prioritize more sensational and unique scenes for that given scenario, instead of common things people do generally  Guidelines: Every output represents a first-person perspective, making the viewer feel like they are experiencing the moment. Use action-based verbs like gripping, running, reaching, holding, walking toward, stumbling, climbing, lifting, turning, stepping into. Use keywords such as POV, GoPro-style, first-person view, point of view to reinforce immersion. Keep all outputs between 5 to 10 words long. Never use double quotes in any output. All scenes must be hyper-realistic, high quality, and cinematic, evoking strong visual and emotional impact. Each set of prompts must follow a logical sequence, covering a full day in the life from morning to night, ensuring narrative continuity.  Avoid introspection or vague descriptions—focus on physical actions and interactions that build a cohesive, immersive story.  Examples: Topic: A Peasant’s Day in Medieval Europe Pushing open a wooden cottage door Scooping water from a village well Kneeling to tie worn leather shoes Walking through a bustling market square Handing a silver coin to a merchant Carrying a sack of wheat up a hill Hammering nails into a wooden fence Stirring stew over a crackling fire Placing a candle by the bedside Topic: A Cyberpunk Mercenary’s Routine Waking up to flickering neon ceiling lights Pushing aside tangled wires on a desk Scanning a wrist implant for mission updates Loading a plasma pistol in a dim alley Stepping onto a hover bike in the rain Swiping a keycard through a vault scanner Ducking behind cover as drones patrol ahead Hacking a neon-lit terminal with gloved fingers Collapsing onto a metal cot in exhaustion Topic: A Soldier’s Day in World War I Wiping dirt from a battered helmet Climbing out of a damp trench at dawn Holding a rusted rifle with trembling hands Walking through thick fog past barbed wire Rushing toward an enemy bunker under fire Reloading behind sandbags as shells explode Bandaging a soldier’s wound with torn cloth Lighting a cigarette under a moonlit sky Resting against a wooden crate in the trenches  Each generated sequence tells a visual story, pulling the viewer into a cohesive first-person experience from start to finish. System Prompt for Generate Prompts You are an advanced prompt-generation AI specializing in expanding short POV (point-of-view) image prompt ideas into detailed, hyper-realistic prompts optimized for image-generation models like Flux and MidJourney. Your task is to take a brief input and transform it into a rich, cinematic, immersive prompt that strictly adheres to a first-person perspective, making the viewer feel as if they are physically present in the scene.  This is the overall idea for the video: {{ $json['идея'] }} This is the short prompt idea you need to expand upon: {{ $json.response.text }} Every prompt must use this to describe the environment of the image: {{ $json['промт для окружения'] }}  Every prompt has three sections: 1/ You always start the prompt with:  2/ In the foreground, show and describe the hands, limbs, or feet of the viewer. this section must start with \"First person view POV GoPro shot of [relevant limb]...\" 3/ In the background, describe the scenery. must start with \"In the background, [describe scenery]\"  Most Important Guidelines: Every image must be a first-person perspective shot—the viewer must feel like they are experiencing the moment themselves, not just observing it. A visible limb (hands or feet) must always be present and actively engaged in the environment—whether gripping, reaching, pushing, lifting, or interacting in a natural way. The framing must be dynamic and interactive, mimicking real-world human vision—ensuring motion, depth, and immersion similar to a GoPro or head-mounted camera shot. Other Key Guidelines: Full-body awareness: The prompt should subtly remind the viewer that they have a physical presence—mentioning sensations like weight shifting, breath fogging in the cold, or fingers trembling from adrenaline. Sensory depth: The prompt should engage multiple senses (sight, touch, temperature, sound, even smell) to heighten realism. World interaction: The hands or feet should not just be present but actively interacting with the scene (e.g., clutching, adjusting, stepping forward, brushing against surfaces). Keep prompts under 1000 characters in a single, cinematic sentence with no extra formatting, explanations, or unnecessary output. Examples: Input: Climbing a fire escape over neon streets Output: POV of gloved hands straining to pull up against the slick, rusted fire escape ladder, neon lights dancing in the puddles below, cold rain sliding down trembling fingers, distant sirens wailing as my breath fogs the damp air, a rooftop edge just within reach.  Input: Reaching for a coffee in a bustling café Output: POV of my outstretched hand wrapping around a steaming mug, heat radiating through the ceramic, the barista’s tattooed arm extending the cup towards me, the chatter of morning rush echoing off tiled walls, sunlight catching floating dust as the rich aroma of espresso fills my breath.  Input: Waking up in a medieval tavern Output: POV of my rough, calloused hands rubbing heavy eyes, the flickering candlelight warping shadows on wooden beams, my fingers tracing the sweat-soaked grooves of a tankard, the thick scent of ale and smoke clinging to the air, muffled laughter and the distant pluck of a lute stirring my senses awake."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-8688,-5840],"id":"ad1697b5-c77a-4caf-8264-2d0fd1af7add","name":"Basic LLM Chain1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-8656,-5664],"id":"231b1447-df02-480e-8f07-fbfce1a89f10","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"options":{"numberOfItems":2}},"type":"@n8n/n8n-nodes-langchain.outputParserItemList","typeVersion":1,"position":[-8528,-5664],"id":"41ba7781-b9b4-4b7e-8626-11c9df093e2b","name":"Item List Output Parser1"},{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"d3aef763a9cd69dbf9aa77a388361270042f7015d4432318d1514fa91930ead7"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n    \"model\": \"kling\",\n    \"mode\": \"pro\",\n    \"task_type\": \"video_generation\",\n    \"input\": {\n        \"prompt\": \"{{ $json.data.input.prompt }}\",\n        \"negative_prompt\": \"bad quality\",\n        \"cfg_scale\": 0.65,\n        \"duration\": 5,\n        \"image_url\": \"{{ $json.data.output.image_url }}\",\n        \"camera_control\": {\n            \"type\": \"simple\",\n            \"config\": {\n                \"horizontal\": 0,\n                \"vertical\": 0,\n                \"pan\": 0,\n                \"tilt\": 0,\n                \"roll\": 0,\n                \"zoom\": 0\n            }\n        }\n    },\n    \"config\": {}\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8064,-5648],"id":"13ed2d5b-6218-4019-8b40-abb3db0d6901","name":"HTTP Request8"},{"parameters":{"amount":7,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-7824,-5648],"id":"70b0547f-60ea-4f9e-8ba3-75a1cdfff8b5","name":"Wait4","webhookId":"dd720809-dab9-47ab-994e-2533da8f3aaa"},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"d3aef763a9cd69dbf9aa77a388361270042f7015d4432318d1514fa91930ead7"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7600,-5648],"id":"9ce491ae-930e-4c1f-8c89-cb428bf8fdb6","name":"HTTP Request9"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-7104,-5808],"id":"ce6a5ec0-5d15-43fd-b9c0-69e7b509b55b","name":"Merge1"},{"parameters":{"jsCode":"return [\n  {\n    scene_titles: items.map(item => item.json.response.text),\n    video_urls: items.map(item => item.json.data.output.video_url)\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6880,-5808],"id":"da1c2900-008a-4d8d-8348-dd4d62188f05","name":"Code1"},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 152503b6883a4eeebda94775a60efb575806375cff170ef03f147d5ee5f2add5f9984c703c501aa85c1adfef7032cec7\""},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={  \"template_id\": \"4b767f71-ca89-44da-a0d5-5a661e4cadc5\",\n  \"modifications\": {\n    \"Video-1.source\": \"https://app.heygen.com/videos/26a49f99187148bdb73d430a1fcd2a38\",\n    \"Video-2.source\": \"\",\n    \"Text-1.text\": \"\",\n    \"Text-2.text\": \"\"\n  }\n}'","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9824,-1744],"id":"c1ad7346-cd79-4d67-849c-84d078d2d8c5","name":"HTTP Request10"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1xwTXxqzokXGxD1orE8Fmrvmw2e877rQ7304lDI_KiQ4","mode":"list","cachedResultName":"POV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xwTXxqzokXGxD1orE8Fmrvmw2e877rQ7304lDI_KiQ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xwTXxqzokXGxD1orE8Fmrvmw2e877rQ7304lDI_KiQ4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Google Sheets2').first().json.id }}","этап создания":"готово","этап публикации":"ожидает публикации","результат":"={{ $json.url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"идея","displayName":"идея","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"описание","displayName":"описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"этап создания","displayName":"этап создания","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"промт для окружения","displayName":"промт для окружения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"этап публикации","displayName":"этап публикации","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"результат","displayName":"результат","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-6448,-5808],"id":"be7743b7-bf5e-47a9-aae4-518a9b920099","name":"Google Sheets3","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Item List Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"OpenAI","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Upload to Blotato - Image":{"main":[[{"node":"[Pinterest] Publish via Blotato","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Write Long Caption","type":"main","index":0}]]},"Fetch HN Article":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Fetch HN Front Page":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Write Script":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Setup Heygen":{"main":[[{"node":"Create Avatar Video","type":"main","index":0}]]},"Get Avatar Video":{"main":[[{"node":"Prepare for Publish","type":"main","index":0}]]},"Prepare for Publish":{"main":[[{"node":"Telegram","type":"main","index":0},{"node":"HTTP Request10","type":"main","index":0}]]},"Write Long Caption":{"main":[[{"node":"Write Title","type":"main","index":0}]]},"Write Short Caption":{"main":[[{"node":"Setup Heygen","type":"main","index":0}]]},"Create Avatar Video":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Write Title":{"main":[[{"node":"Write Short Caption","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Upload to Blotato - Image","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Avatar Video","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"OpenAI1","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Item List Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"HTTP Request8":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"94d96c2d-8a8b-465c-a258-d7dd35cebe20","triggerCount":0,"shared":[{"createdAt":"2025-07-10T08:29:02.679Z","updatedAt":"2025-07-10T08:29:02.679Z","role":"workflow:owner","workflowId":"MWQIjLd7zHL6D9oE","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-10T10:47:07.881Z","updatedAt":"2025-07-10T10:47:07.881Z","id":"aLaWb48G4nAfDgJK","name":"Марабай в роботу взяти"},{"createdAt":"2025-07-09T10:44:10.702Z","updatedAt":"2025-07-09T10:44:10.702Z","id":"lqKWTC4jWlGAhgnf","name":"Паска"}]}