my-workflow-b9knJRnwggbcrcL7.json
{"createdAt":"2025-06-12T06:58:15.661Z","updatedAt":"2025-06-12T10:36:43.083Z","id":"b9knJRnwggbcrcL7","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"d36882e3-e3c3-475e-b031-ebbd39807c93","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,60]},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"https://drive.google.com/drive/folders/1LUzqXzbvQLTIrQ9kMlaqvHFRE328pysD?hl=uk-UA","mode":"url"}},"options":{}},"id":"13362aab-37a7-4566-b1d6-9b3fe935f1b5","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[40,60],"credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"6ff156eb-da72-4796-b3f2-ff60490bdfd3","name":"Get Content","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[260,60],"credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"options":{}},"id":"a6d8a609-08f7-4464-aed2-bc8f0ab424ca","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,60]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"0bee6595-ed41-409a-8245-0e1894c8853d","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[540,340],"credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"dataType":"binary","options":{}},"id":"b6bc5d6a-83da-4584-b423-47fbf965e917","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[760,240]},{"parameters":{"options":{}},"id":"a2e464d8-cee6-4103-a2f9-c9009ca51895","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[760,380]},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"autographagency","mode":"list","cachedResultName":"autographagency"},"options":{"pineconeNamespace":"autographagency"}},"id":"46c81f5a-2d97-4100-b7cc-a69d8d150b2a","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[700,60],"credentials":{"pineconeApi":{"id":"RJSYYhNAAYJyuJP1","name":"PineconeApi account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Get Content","type":"main","index":0}]]},"Get Content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4128c420-23ec-4eba-a248-1cc7061b58d5","triggerCount":0,"shared":[{"createdAt":"2025-06-12T06:58:15.661Z","updatedAt":"2025-06-12T06:58:15.661Z","role":"workflow:owner","workflowId":"b9knJRnwggbcrcL7","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}