my-workflow-7-hbj8eZy8QEZBMMMR.json
{"createdAt":"2025-07-09T10:48:11.688Z","updatedAt":"2025-07-09T11:33:47.621Z","id":"hbj8eZy8QEZBMMMR","name":"My workflow 7","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $('Get Avatar Video').item.json.data.video_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,1160],"id":"e90c6b0e-fbaa-44f8-88b7-29951cde2e0e","name":"Upload to Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.instagram_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,360],"id":"74e9ef62-a45b-4d37-98dd-6ca5f69c5654","name":"[Instagram] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Prepare for Publish').item.json.facebook_page_id }}\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.facebook_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,700],"id":"bd21f1f1-b57d-422c-88eb-a7f3669825ca","name":"[Facebook] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.linkedin_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,1160],"id":"db05e80c-bd7c-43c4-a267-e41dff5b3fe4","name":"[Linkedin] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": false,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.tiktok_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,1560],"id":"84d02550-3963-48d7-9491-abfd54dad535","name":"[Tiktok] Publish via Blotato"},{"parameters":{"resource":"image","prompt":"={{ $('Prepare for Publish').item.json.final_text_long }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[660,1960],"id":"f4fd1bf5-3129-45dc-b585-dd2bd20631fc","name":"OpenAI","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,1960],"id":"00fab34f-bc16-42ca-a10b-689dbd7b72f0","name":"Upload to Blotato - Image","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Prepare for Publish').item.json.pinterest_board_id }}\",\n      \"link\": \"https://www.tiktok.com/@sabrina_ramonov\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},,\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.pinterest_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1960],"id":"eb418ea5-c046-480e-aa09-c658b8167de5","name":"[Pinterest] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"TEST VIDEO\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.youtube_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,360],"id":"489a4322-82c6-4b64-9d32-b516f059fe57","name":"[Youtube] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"threads\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.threads_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,700],"id":"767b8c37-3076-4ee6-9068-1313b8d688ec","name":"[Threads] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.twitter_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,1160],"id":"0b1bd9bd-5024-47ae-b49f-247a96837087","name":"[Twitter] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": []\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.bluesky_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1560],"id":"37362f86-93a9-4965-b744-29fcd4bd0d3d","name":"[Bluesky] Publish via Blotato","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2160,1000],"id":"ec58b51f-0c19-4a0b-b81d-ac74cbdefcdd","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"=# INSTRUCTIONS\n\nPerform the following tasks in order:\n\n1. Fetch the top 10 stories from Hacker News in the past 24 hours related to AI or LLMs.\n\n2. Select the story that is most likely to go viral on social media.\n\n3. Fetch the article and comments from Hacker News.\n\n4. Create a 30-second script for an AI avatar monologue, following these guidelines:\n   - The script should last approximately 30 seconds when spoken aloud.\n   - Include plenty of details and statistics from the article.\n   - Use a 6th-grade reading level.\n   - A balanced viewpoint.\n   - All text must be written in Russian.\n\n5. Update the first 2 sentences of the script with sensational viral hooks that grab the viewer's attention and spark curiosity. The 3rd sentence should start diving into the details of the article.\n\n6. Add an emotional element to make the viewer feel excitement or amazement, especially when discussing how AI can impact their life or work.\n\n7. Replace the last sentence with: \"Hit follow to stay ahead in AI! And don't forget to comment on how this AI will help you!\"\n\n# OUTPUT FORMAT:\nONLY output the exact video script. Do not output anything else. NEVER include intermediate thoughts, notes, or formatting.\n","options":{"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1960,1140],"id":"22670cd7-26b7-4564-ab68-1d19a8a8acaa","name":"AI Agent"},{"parameters":{"articleId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Article_ID', ``, 'string') }}","additionalFields":{"includeComments":true}},"type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[-1780,1460],"id":"aad5f51b-f5d4-4e8c-8981-6df61a24a313","name":"Fetch HN Article"},{"parameters":{"resource":"all","additionalFields":{"keyword":"ai","tags":["front_page"]}},"type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[-1900,1460],"id":"4273ec5b-d636-4905-8ee6-23c55b071be2","name":"Fetch HN Front Page"},{"parameters":{"amount":0.3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-480,1160],"id":"8ebc6a10-26ab-43ab-a532-790d77e8259c","name":"Wait","webhookId":"81b4ae9c-7a4b-4c1e-b6c6-7ced0b4010ab","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2060,1400],"id":"9a7aae5e-0cb6-4df7-8f0b-a634bad87e40","name":"Write Script","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"heygen_api_key\": \"ZWIwNTMxZWY4MTlmNDg3NDkyODQ5OWYwMGI1NWMzZmYtMTc0MzQyMzA5Ng==\",\n  \"avatar_id\": \"701c006710214b21ad1012e359fb06b1\",\n  \"voice_id\": \"954f9f2453c14d87accd9b99549292df\",\n  \"background_video_url\": \"https://database.blotato.io/storage/v1/object/public/public_media/4ddd33eb-e811-4ab5-93e1-2cd0b7e8fb3f/videogen2-render-e6b398a2-5859-4a77-88ef-2345bcefdc98.mp4\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1000,1160],"id":"5ead066c-39f7-4481-8faa-180e76e47f04","name":"Setup Heygen"},{"parameters":{"url":"https://api.heygen.com/v1/video_status.get","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $('Create Avatar Video').item.json.data.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $('Setup Heygen').item.json.heygen_api_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-280,1160],"id":"08f5a680-1514-48d7-874b-b7b4f1f0cdac","name":"Get Avatar Video"},{"parameters":{"content":"# Исследуйте ежедневные новости и напиши сценарий","height":860,"width":1040,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2220,860],"id":"0cf8ef4a-aede-4e13-bd03-6e5506161265","name":"Sticky Note"},{"parameters":{"content":"# Создаём видео AI аватар\n\n- API Heygen (платный); бесплатный до 10 видео.\n- Если у вас длинный сценарий, вам может потребоваться увеличить время ОЖИДАНИЯ.\n- Вы можете использовать голос Elevenlabs, интегрировав Elevenlabs из приложения Heygen.","height":860,"width":1120,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1100,860],"id":"981975ab-1734-48a8-be13-507115667631","name":"Sticky Note1"},{"parameters":{"content":"# Публикация в социальных сетях\n\n- Зарегистрируйтесь в Blotato: https://www.blotato.com\n- API Blotato в настоящее время не поддерживает загрузку видео в Bluesky или Pinterest.\n- Эта функция будет выпущена в будущем (пока ноды отключены).","height":2100,"width":1200,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,140],"id":"fbfb8325-a6dc-44fa-b5c1-c9f08f1f1a17","name":"Sticky Note2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"blotato_api_key\": \"blt_mhQhC8Fm8fbWqdeyMOWmehtZaTPJdDljJgSvqC/KmM8=\",\n  \"instagram_id\": \"\",\n  \"youtube_id\": \"\",\n  \"tiktok_id\": \"9622\",\n  \"facebook_id\": \"\",\n  \"facebook_page_id\": \"\",\n  \"threads_id\": \"\",\n  \"twitter_id\": \"\",\n  \"linkedin_id\": \"\",\n  \"pinterest_id\": \"\",\n  \"pinterest_board_id\": \"\",\n  \"bluesky_id\": \"\",\n  \"final_text_long\": {{ $('Write Long Caption').item.json.message.content.toJsonString() }},\n  \"final_text_short\": {{ $('Write Short Caption').item.json.message.content.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,1160],"id":"d20c4943-6446-484f-a38e-302877cdff1f","name":"Prepare for Publish"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# EXAMPLE\n\n<example>\nПривет, на связи Игорь Зуевич. In this video, we will talk about how search engine optimization (SEO) works in the age of artificial intelligence.\n\nMany people have recently asked me how to improve their website visibility in search engines, especially with the emergence of new generative AI tools. This is an important topic because AI is changing the ways we process information and interact with users.\n\nNow, SEO should focus not only on keywords but also on how information is presented in AI systems like ChatGPT. These are the new realities of digital marketing.\n</example>\n\n# CONTEXT\n\nInfer the topic from the sources provided.\n\n# WRITING STYLE\n\nHere’s how you always write:\n\n<writing_style>\n\n- Your writing style is spartan and informative.\n- Use clear, simple language.\n- Employ short, impactful sentences.\n- Use active voice; avoid passive voice.\n- Focus on practical, actionable insights.\n- Incorporate data or statistics to support claims when possible.\n- Use \"you\" and \"your\" to directly address the reader.\n- Avoid metaphors and clichés.\n- Avoid generalizations.\n- Do not include common setup language in any sentence, including: in conclusion, in closing, etc.\n- Do not output warnings or notes—just the output requested.\n- Do not use hashtags in the text.\n- Do not use semicolons.\n- Do not use emojis.\n- Do not use asterisks.\n- Do not use adjectives and adverbs.\n- All texts must be written in Russian.\n- DO NOT use these words:\n\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"can, may, just, that, very, really, literally, actually, certainly, probably, basically, could, maybe, delve, embark, enlightening, esteemed, shed light, craft, crafting, imagine, realm, game-changer, unlock, discover, skyrocket, abyss, you're not alone, in a world where, revolutionize, disruptive, utilize, utilizing, dive deep, tapestry, illuminate, unveil, pivotal, enrich, intricate, elucidate, hence, furthermore, realm, however, harness, exciting, groundbreaking, cutting-edge, remarkable, it. remains to be seen, glimpse into, navigating, landscape, stark, testament, in summary, in conclusion, moreover, boost, bustling, opened up, powerful, inquiries, ever-evolving\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\n</writing_style>\n\n# PLANNING\n\nYour goal is to write a 50-word video caption based on the provided source.\n\n1. Thoroughly analyze the provided sources.\n2. Carefully study the <example> post. You need to replicate:\n    - Overall structure.\n    - Tone and voice.\n    - Formatting (including line breaks and spacing).\n    - Length (aim for a similarly detailed post).\n    - Absence of emojis.\n    - Use of hashtags.\n    - Emotional resonance.\n\n# OUTPUT\nFollow the GUIDELINES below to write the post. Use your analysis from step 1 and step 2. Use the provided sources as the foundation for your post, expanding on it significantly while maintaining the style and structure of the examples provided in step 2. YOU MUST use information from the provided sources. Make sure you adhere to your <writing_style>.\n\n<guidelines>\nThe description should be structured as follows:\n1. Start with the greeting: \"Hello, this is Igor Zuevich.\"\n2. In the first paragraph, briefly summarize the source.\n3. Each subsequent paragraph should be split every 2-3 sentences, depending on the content.\n4. At the end of each paragraph, add corresponding hashtags, automatically generated based on the content of the post. For example:\n   - If the paragraph discusses AI, automatically add hashtags #ai #artificialintelligence.\n   - If the paragraph discusses SEO, add hashtags #seo #digitalmarketing.\n5. Finally, add no more than 7 hashtags that match the content of the post. The hashtags should be generated automatically based on the content, such as #ai #seo #digitalmarketing #ainews, and others relevant to the topic. Do not add more than 7 hashtags.\n</guidelines>\n\nTake a deep breath and take it step-by-step!\n\n# INPUT\nUse the following information from the sources:\n<sources>\n{{ $json.output }}\n</sources>"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1600,1020],"id":"c6278128-7a13-45c0-964f-0356b3a4aab9","name":"Write Long Caption","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Write a brief 2-sentence caption summarizing the video content. Use 6th grade language, a balanced neutral perspective, and all text must be written in Russian, without emojis. The text should not include the name \"Igor Zuevich.\"\n\n<content>\n{{ $('Write Long Caption').item.json.message.content }}\n</content>\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1580,1460],"id":"b82e3b5f-9d3d-4f26-9454-1ea413f6b94d","name":"Write Short Caption","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"method":"POST","url":"https://api.heygen.com/v2/video/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $json.heygen_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  video_inputs: [\n    {\n      character: {\n        type: \"avatar\",\n        avatar_id: $json.avatar_id,\n        avatar_style: \"normal\",\n        scale: 1.0,\n        offset: {\n          x: 0.0,\n          y: 0.0\n        },\n        matting: false\n      },\n      voice: {\n        type: \"text\",\n        input_text: $('AI Agent').item.json.output,\n        voice_id: $json.voice_id,\n        speed: 1.1,\n        pitch: 50,\n        emotion: \"Excited\"\n      },\n      background: {\n        type: \"video\",\n        url: $json.background_video_url,\n        play_style: \"loop\",\n        fit: \"cover\"\n      }\n    }\n  ],\n  dimension: {\n    width: 720,\n    height: 1280\n  },\n  aspect_ratio: \"9:16\",\n  caption: false,\n  title: $('Write Title').item.json.message.content\n}) }}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-760,1160],"id":"5a3f4467-dd1e-41f1-9a37-cd33dae9d5e8","name":"Create Avatar Video"},{"parameters":{"content":"## Обязательно заполните «Настройка Heygen»\n\nhttps://www.heygen.com/\n\nhttps://elevenlabs.io/","height":180,"width":710,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,1420],"id":"3640a1e6-7da4-4f66-aed6-4c056ae7407c","name":"Sticky Note3"},{"parameters":{"content":"## Обязательно заполните «Подготовку к публикации»","height":120,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,1380],"id":"ce87b963-29ae-44c8-a0e7-6e3fb81c3e92","name":"Sticky Note4"},{"parameters":{"content":"## ПРОМПТ AI АГЕНТ:\n\n### ИНСТРУКЦИЯ:\nВыполните следующие задачи в указанном порядке:\n\n1. Получите 10 самых популярных историй с Hacker News за последние 24 часа, связанных с ИИ или LLM.\n\n2. Выберите историю, которая с наибольшей вероятностью станет вирусной в социальных сетях.\n\n3. Извлеките статью и комментарии с Hacker News.\n\n4. Создайте 30-секундный сценарий для монолога ИИ-аватара, следуя этим указаниям:\n   - Сценарий должен длиться примерно 30 секунд при устном произнесении.\n   - Включите много деталей и статистики из статьи.\n   - Используйте уровень чтения 6-го класса.\n   - Сбалансированная точка зрения.\n   - Все тексты должны быть написаны на русском языке.\n\n5. Обновите первые 2 предложения сценария, используя сенсационные вирусные крючки, которые привлекут внимание зрителя и вызовут любопытство. Третье предложение должно начинать углубление в детали статьи.\n\n6. Добавьте эмоциональный элемент, чтобы вызвать у зрителя восторг или удивление, особенно при обсуждении того, как ИИ может повлиять на его жизнь или работу.\n\n7. Замените последнее предложение на: \"Нажмите «Подписаться», чтобы быть впереди в мире ИИ! И не забудьте написать в комментариях, как этот ИИ поможет вам!\"\n\n### ФОРМАТ ВЫХОДНЫХ ДАННЫХ:\nВыводите точный текст сценария для видео в `output`. Также выводите `title` – это заголовок из 2-3 слов для названия файла для видео. Не выводите ничего другого. Никогда не включайте промежуточные мысли, заметки.\n\n```json\n{\n   \"title\": \"<title>\",\n   \"output\": \"<output>\"\n}\n","height":840,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3300,860],"typeVersion":1,"id":"f0e501ef-0dfa-4bc5-8607-c72955728cb1","name":"Sticky Note5"},{"parameters":{"content":"## ПРОМПТ Write Long Caption:\n\n\n### ПРИМЕР\n\n<example>\nПривет, на связи Игорь Зуевич. В этом видео мы поговорим о том, как оптимизация поисковых систем (SEO) работает в эпоху искусственного интеллекта.\n\nМногие люди недавно спрашивали меня о том, как улучшить видимость сайта в поисковых системах, особенно с учетом появления новых генеративных ИИ инструментов. Это важная тема, поскольку ИИ меняет способы обработки информации и взаимодействия с пользователями.\n\nСейчас SEO должно быть ориентировано не только на ключевые слова, но и на то, как информация представляется в ИИ-системах, таких как ChatGPT. Это новые реалии цифрового маркетинга.\n</example>\n\n### КОНТЕКСТ\n\nВыведите тему на основе предоставленных источников.\n\n### СТИЛЬ ПИСЬМА\n\nВот как вы всегда пишете:\n\n<writing_style>\n\n- Ваш стиль письма сдержанный и информативный.\n- Используйте простой и понятный язык.\n- Используйте короткие и выразительные предложения.\n- Используйте активный залог; избегайте пассивного.\n- Ориентируйтесь на практические, применимые идеи.\n- Включайте данные или статистику для подкрепления утверждений, когда это возможно.\n- Используйте \"вы\" и \"ваш\", чтобы непосредственно обратиться к читателю.\n- Избегайте метафор и штампов.\n- Избегайте обобщений.\n- Не включайте стандартные вводные фразы в любые предложения, включая: в заключение, подводя итоги и т.д.\n- Не выводите предупреждения или примечания — выводите только запрашиваемый контент.\n- Не используйте хэштеги в самом тексте.\n- Не используйте точки с запятой.\n- Не используйте эмодзи.\n- Не используйте звездочки.\n- Не используйте прилагательные и наречия.\n- Все тексты должны быть написаны на русском языке.\n- НЕ используйте следующие слова:\n\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"can, may, just, that, very, really, literally, actually, certainly, probably, basically, could, maybe, delve, embark, enlightening, esteemed, shed light, craft, crafting, imagine, realm, game-changer, unlock, discover, skyrocket, abyss, you're not alone, in a world where, revolutionize, disruptive, utilize, utilizing, dive deep, tapestry, illuminate, unveil, pivotal, enrich, intricate, elucidate, hence, furthermore, realm, however, harness, exciting, groundbreaking, cutting-edge, remarkable, it. remains to be seen, glimpse into, navigating, landscape, stark, testament, in summary, in conclusion, moreover, boost, bustling, opened up, powerful, inquiries, ever-evolving\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\n</writing_style>\n\n### ПЛАНИРОВАНИЕ\n\nВаша цель — написать описание для видео из 50 слов, основанное на предоставленном источнике.\n\n1. Тщательно проанализируйте предоставленные источники.\n2. Внимательно изучите пост <example>. Вам нужно будет воспроизвести:\n    - Общую структуру.\n    - Тон и голос.\n    - Форматирование (включая разрывы строк и пробелы).\n    - Длину (стремитесь к похожей деталям).\n    - Отсутствие эмодзи.\n    - Использование хэштегов.\n    - Эмоциональный отклик.\n\n### ВЫХОД\nСледуйте приведенным ниже ПРАВИЛАМ для написания поста. Используйте свой анализ из шага 1 и шага 2. Используйте предоставленные источники как основу для вашего поста, значительно расширяя его, при этом сохраняя стиль и структуру примеров, приведенных в шаге 2. ОБЯЗАТЕЛЬНО используйте информацию из предоставленных источников. Убедитесь, что придерживаетесь вашего <writing_style>.\n\n<guidelines>\nОписание должно быть структурировано следующим образом:\n1. Начните с приветствия: \"Привет, на связи Игорь Зуевич.\"\n2. В первом абзаце кратко изложите суть источника.\n3. Каждый последующий абзац должен быть разделен через 2-3 предложения, в зависимости от контента.\n4. В конце каждого абзаца добавьте соответствующие хештеги, автоматически генерируемые в зависимости от содержания поста, например:\n   - Если речь идет об ИИ, автоматически добавляются хештеги #ai #artificialintelligence.\n   - Если речь идет о SEO, добавляются хештеги #seo #digitalmarketing.\n5. В завершение, добавьте не более 7 хештегов, соответствующих содержанию поста. Хештеги должны генерироваться автоматически в зависимости от контента, например: #ai #seo #digitalmarketing #ainews и другие, соответствующие теме. Не добавляйте больше 7 хештегов.\n</guidelines>\n\nДелайте глубокий вдох и следуйте шаг за шагом!\n\n### ВХОД\nИспользуйте следующую информацию из источников:\n<sources>\n{{ $json.output }}\n</sources>\n\n","height":1960,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4360,860],"typeVersion":1,"id":"d69737da-7f13-4d0d-b2c5-0b3502131ad7","name":"Sticky Note6"},{"parameters":{"content":"## ПРОМПТ Write Short Caption:\n\nНапишите краткое описание видео из двух предложений, обобщающее его содержание. Используйте язык 6-го класса, сбалансированную нейтральную точку зрения, все тексты должны быть написаны на русском языке, без эмодзи. В тексте не должно быть упоминания имени \"Игорь Зуевич\".\n\n<content>\n{{ $json.message.content }}\n</content>\n\n\n","height":260,"width":600,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3120,1780],"typeVersion":1,"id":"b457e30e-af7b-4ffc-b12e-6ded99b07c5b","name":"Sticky Note7"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Come up with a file title based on the video text. The title should consist of 2-3 words, reflect the main idea and essence of the video, and be short and clear. All text must be written in Russian.\n\n<content>\n{{ $json.message.content }}\n</content>\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1580,1240],"id":"6f65c8b9-37c9-4d62-9224-ea620ff32826","name":"Write Title","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"content":"## ПРОМПТ Write Title:\n\nПридумайте заголовок для файла на основе текста видео. Заголовок должен состоять из 2-3 слов, отображать основную идею и суть видео, быть коротким и понятным. Все тексты должны быть написаны на русском языке.\n\n<content>\n{{ $json.message.content }}\n</content>\n\n","height":260,"width":600,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3120,2140],"typeVersion":1,"id":"3138cd40-b34b-4b68-8d16-5fa4f7858c55","name":"Sticky Note8"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2160,1140],"id":"be835e45-375b-4eeb-b13f-bdc3166d62f5","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"sendVideo","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-140,1820],"id":"653fbf20-1454-4fa2-bd41-c65579027efb","name":"Telegram","webhookId":"2ad2e352-8544-4596-b0fb-093274c25aa1","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}}],"connections":{"Upload to Blotato":{"main":[[{"node":"[Instagram] Publish via Blotato","type":"main","index":0},{"node":"[Facebook] Publish via Blotato","type":"main","index":0},{"node":"[Linkedin] Publish via Blotato","type":"main","index":0},{"node":"[Tiktok] Publish via Blotato","type":"main","index":0},{"node":"OpenAI","type":"main","index":0},{"node":"[Youtube] Publish via Blotato","type":"main","index":0},{"node":"[Threads] Publish via Blotato","type":"main","index":0},{"node":"[Twitter] Publish via Blotato","type":"main","index":0},{"node":"[Bluesky] Publish via Blotato","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Upload to Blotato - Image","type":"main","index":0}]]},"Upload to Blotato - Image":{"main":[[{"node":"[Pinterest] Publish via Blotato","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"AI Agent":{"main":[[{"node":"Write Long Caption","type":"main","index":0}]]},"Fetch HN Article":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Fetch HN Front Page":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Write Script":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Setup Heygen":{"main":[[{"node":"Create Avatar Video","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Avatar Video","type":"main","index":0}]]},"Get Avatar Video":{"main":[[{"node":"Prepare for Publish","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]},"Prepare for Publish":{"main":[[{"node":"Upload to Blotato","type":"main","index":0}]]},"Write Long Caption":{"main":[[{"node":"Write Title","type":"main","index":0}]]},"Write Short Caption":{"main":[[{"node":"Setup Heygen","type":"main","index":0}]]},"Create Avatar Video":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Write Title":{"main":[[{"node":"Write Short Caption","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"461d03d8-f0cc-41c6-af60-685d626ba1e7","triggerCount":1,"tags":[{"createdAt":"2025-07-09T10:46:16.167Z","updatedAt":"2025-07-09T10:46:16.167Z","id":"6wrBm0jO07TfRrW5","name":"Сделано"}]}