my-workflow-10-UXmD0vTAUmgRFtmM.json
{"createdAt":"2025-07-21T11:42:22.012Z","updatedAt":"2025-07-21T11:42:22.012Z","id":"UXmD0vTAUmgRFtmM","name":"My workflow 10","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Аудио","height":480,"width":1380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1392,752],"id":"75e6d101-2c86-4e1e-911c-ab7e4b77f142","name":"Sticky Note"},{"parameters":{"content":"## Картинка","height":520,"width":1500,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,1296],"id":"2731f3da-0119-4e62-b779-c8cd323a04b5","name":"Sticky Note1"},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Генерирую новый скрипт...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,1248],"id":"418d14cf-eddd-43a0-bbe8-95d631d79ca0","name":"Telegram3","webhookId":"47777b7f-dbcd-4f44-ae03-a1ed5a8f848b"},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Взял скрипт в работу✅","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,1008],"id":"9e6ac213-8f3c-4652-b057-4264a5a78f0c","name":"Telegram4","webhookId":"e3b77e83-b17e-4e86-9af8-fefddb093bec"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60ef1428-2bed-4999-a401-2621b7573f97","leftValue":"={{ $json.callback_query.data }}","rightValue":"accept_script","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,1168],"id":"c5a0513b-603c-4b3d-8b56-dc700ad21379","name":"Принять скрипт?"},{"parameters":{"content":"## Проверка созданного скрипта","height":1100,"width":860,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,864],"id":"c9e174dd-d38a-4298-b608-9d5888e4c747","name":"Sticky Note6"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Принять скрипт?').item.json.callback_query.message.chat.id }}","message":"Пришли фото для референса","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Reference","fieldType":"file","acceptFileTypes":".jpg, .png","requiredField":true}]},"options":{"messageButtonLabel":"Загрузить","responseFormTitle":"Загрузи свое фото","responseFormButtonLabel":"Загрузить","appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1456,1344],"id":"d12eecd3-5617-4f57-9803-e4cc3335dc8f","name":"Пришли фото","webhookId":"3268502c-6785-4aa0-8e9f-963f72da10e7"},{"parameters":{"chatId":"={{ $('Telegram3').item.json.result.chat.id }}","text":"={{ $json.message.content.Podcast }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Принять✅","additionalFields":{"callback_data":"accept_script"}},{"text":"Создать заново🔄","additionalFields":{"callback_data":"regenerate_script"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[976,1584],"id":"01fb916a-2ebb-46f7-a2ba-6c2369778c7e","name":"Telegram","webhookId":"34912ee6-d082-41d5-b76c-6486ac3a4654"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Here’s a podcast-style script in the tone of Joe Rogan on the topic {{ $json['Тема'] }} :\n\n\n{{ $json['Скрипт'] }}\n\n\nNow create a completely new version of this script:\n– Keep the same style: casual, intense, slightly conspiratorial, full of vivid emotions and storytelling\n– Keep the same format: exactly 400 characters, no line breaks, structured like a podcast snippet\n– Do NOT reuse phrases or facts — come up with a different hook and twist\n\nReturn the result as  JSON objects called Podcast and Topic={{ $json['Тема'] }}. The text must be around 400 characters, no line breaks, special symbols, or formatting that would break JSON structure.\n\nСоставляй текст и отвечай ТОЛЬКО на русском языке"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[592,1584],"id":"266da9d5-e131-4661-93c9-be24e7421d81","name":"Генерируем новый скрипт"},{"parameters":{"documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cs4IOdD4KPNEJ7HFOT21grm1D66wZpx_PEJ0hedIX3I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ChatID","lookupValue":"={{ $json.result.chat.id }}"},{"lookupColumn":"Статус","lookupValue":"Новый"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1456,848],"id":"68d38dc4-ba55-4006-8a20-efb3030f10b3","name":"Get row(s) in sheet"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cs4IOdD4KPNEJ7HFOT21grm1D66wZpx_PEJ0hedIX3I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ChatID":"={{ $json.result.chat.id }}","Скрипт":"={{ $json.result.text }}","Статус":"Новый","Дата изменения":"={{ new Date().toLocaleDateString('ru-RU') }}"},"matchingColumns":["ChatID"],"schema":[{"id":"Telegram","displayName":"Telegram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ChatID","displayName":"ChatID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Тема","displayName":"Тема","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Скрипт","displayName":"Скрипт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата изменения","displayName":"Дата изменения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1168,1584],"id":"d3178f54-7c60-4df9-96e9-b7ac8d140b4b","name":"Append or update row in sheet"},{"parameters":{"documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cs4IOdD4KPNEJ7HFOT21grm1D66wZpx_PEJ0hedIX3I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ChatID","lookupValue":"={{ $json.result.chat.id }}"},{"lookupColumn":"Статус","lookupValue":"Новый"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1056,1248],"id":"a38192eb-7aef-4022-9f74-95660bc55b28","name":"Get row(s) in sheet1"},{"parameters":{"jsCode":"// Получаем все элементы\nconst items = $input.all();\n\n// Берем последний элемент\nif (items.length > 0) {\n  return [items[items.length - 1]];\n}\n\n// Если нет элементов, возвращаем пустой массив\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,1376],"id":"f116e9ed-2f5b-494b-bc59-1462f2f8e4c6","name":"Code"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2096,288],"id":"f02b5cdd-105c-43f3-9d05-1f8d231a05ab","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"5cb81de0-0a34-4b28-ab3f-402447d131eb","name":"Topic","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,112],"id":"186a78a9-7146-4895-8c73-39283967fcf6","name":"Зафиксировать тему"},{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[256,128],"id":"3ddeb75c-01d0-4e93-a2d4-67fcf1cd38fc","name":"Telegram Trigger","webhookId":"1765f8ba-8a9c-48cf-8ba3-bcc45a4560db","credentials":{"telegramApi":{"id":"9wV4Urj7NQsqitpg","name":"Telegram account 5"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[768,224],"id":"b3a09f07-329d-451d-a2dd-db694de18dbd","name":"Telegram6","webhookId":"b5858f34-1430-43c7-98d5-460b1b5c87b8"},{"parameters":{"content":"## Скрипт","height":460,"width":1100,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,-16],"id":"88e98234-0efb-4e33-90e4-ad422f706811","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.message.content.Podcast }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Принять✅","additionalFields":{"callback_data":"accept_script"}},{"text":"Создать заново🔄","additionalFields":{"callback_data":"regenerate_script"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1888,112],"id":"111e64fc-cf61-4b17-b5d5-6cf05c617348","name":"Telegram7","webhookId":"fe8262b8-b5ee-43af-9d3e-89fefd9b6f34","credentials":{"telegramApi":{"id":"9wV4Urj7NQsqitpg","name":"Telegram account 5"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[960,224],"id":"6b159827-fbb8-47c8-a0f9-9a70b93a04fe","name":"Расшифровка голосового1"},{"parameters":{"content":"## Запуск агента","height":480,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,-16],"id":"78756de9-a115-4ff2-9402-95f3cf7cbae8","name":"Sticky Note7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"ea9bf62c-7bd2-4790-85f5-b9b98d1bd914"}],"combinator":"and"},"renameOutput":true,"outputKey":"Текст"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"134fbb70-d01a-485a-84a2-2c9a9a0f4638","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Голосовое"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29a17607-39c3-4ddf-9ffa-ae01da2293c8","leftValue":"={{ $json.callback_query.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Кнопки ответа"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[496,128],"id":"d99ef743-df93-490b-aacf-fb38283b6fce","name":"Switch1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telegram":"={{ $json.result.chat.username }}","ChatID":"={{ $json.result.chat.id }}","Тема":"={{ $('Зафиксировать тему').item.json.Topic }}","Скрипт":"={{ $json.result.text }}","Статус":"Новый","Дата изменения":"={{ new Date().toLocaleDateString('ru-RU') }}"},"matchingColumns":[],"schema":[{"id":"Telegram","displayName":"Telegram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ChatID","displayName":"ChatID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Тема","displayName":"Тема","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Скрипт","displayName":"Скрипт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Дата изменения","displayName":"Дата изменения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2336,128],"id":"7842c5f9-d70a-46eb-96fc-bab761214f19","name":"Append row in sheet"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Generate a podcast-style monologue in the style of Joe Rogan, discussing the next topic: \n{{ $json.Topic }}\nAct as an expert in this niche.\n\nMake the tone casual, intense, a bit conspiratorial, full of unexpected analogies, vivid emotions, provocative questions, and personal stories that spark curiosity or debate. Use storytelling hooks—grab attention from the first line (“Ever wondered...?”, “Picture this:”), add a twist or shocking fact, and end with a thought that leaves listeners unsettled or eager to share.\n\nAvoid jargon and complex terms—keep it real, with humor, tangents, and “what if...” musings.\nMax out attention-grabbing techniques so the text feels viral but totally native, like a real podcast segment, never an ad.\n\nReturn the result as a single JSON object called Podcast. The text must be exactly 400 characters, no line breaks, special symbols, or formatting that would break JSON structure.\n\nСоставляй текст и отвечай ТОЛЬКО на русском языке"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1488,112],"id":"21da0382-ef88-4a06-ba29-0efd88494b9f","name":"Создаем скрипт"}],"connections":{"Telegram3":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"Пришли фото","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Принять скрипт?":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Генерируем новый скрипт":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Генерируем новый скрипт","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Зафиксировать тему":{"main":[[{"node":"Создаем скрипт","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Telegram6":{"main":[[{"node":"Расшифровка голосового1","type":"main","index":0}]]},"Telegram7":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Расшифровка голосового1":{"main":[[{"node":"Зафиксировать тему","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Зафиксировать тему","type":"main","index":0}],[{"node":"Telegram6","type":"main","index":0}],[{"node":"Принять скрипт?","type":"main","index":0}]]},"Создаем скрипт":{"main":[[{"node":"Telegram7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"da5cc4d8-9806-40bb-9814-699948ea6e12","triggerCount":0,"shared":[{"createdAt":"2025-07-21T11:42:22.012Z","updatedAt":"2025-07-21T11:42:22.012Z","role":"workflow:owner","workflowId":"UXmD0vTAUmgRFtmM","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}