news-PAtSKWO6nmy9HtuG.json
{"createdAt":"2025-06-10T13:30:12.410Z","updatedAt":"2025-06-13T13:48:42.198Z","id":"PAtSKWO6nmy9HtuG","name":"News","active":false,"isArchived":false,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"title, raw_content","options":{}},"id":"0066e8ed-7780-4592-8627-3b65f8912d2b","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-640,-660]},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"a546dc98-fdef-41f7-ac28-91d9a3821e2b","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-840,-660]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"parameters\": {\n    \"authentication\": \"none\",\n    \"url\": \"https://api.tavily.com/search\",\n    \"method\": \"POST\",\n    \"responseFormat\": \"json\",\n    \"jsonParameters\": true,\n    \"options\": {},\n    \"bodyContentType\": \"json\",\n    \"bodyParametersJson\": \"{\\n  \\\"query\\\": \\\"{{ $json.query }}\\\"\\n}\"\n  },\n  \"name\": \"Search Internet\",\n  \"type\": \"n8n-nodes-base.httpRequest\",\n  \"typeVersion\": 2,\n  \"position\": [\n    600,\n    300\n  ],\n  \"credentials\": {},\n  \"headers\": [\n    {\n      \"name\": \"Authorization\",\n      \"value\": \"Bearer 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\"\n    },\n    {\n      \"name\": \"Content-Type\",\n      \"value\": \"application/json\"\n    }\n  ]\n}\n","options":{}},"id":"789e4f23-0258-4ef4-a500-240527dc697c","name":"Search Internet","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1040,-660]},{"parameters":{"options":{}},"id":"c0a03d53-dc3a-4bf5-b8ca-7654514719a5","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1180,-160],"credentials":{"openAiApi":{"id":"IZ3bfihZBp6nZ8TA","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"c3fea31c-4d00-451f-89d8-af4cc429d9ba","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-840,-160],"credentials":{"openAiApi":{"id":"IZ3bfihZBp6nZ8TA","name":"OpenAi account"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1WkUq-pg3iTDhDPIwnv2ElWIHmCoCRrCw7jIzTe5iB14/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"news","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WkUq-pg3iTDhDPIwnv2ElWIHmCoCRrCw7jIzTe5iB14/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Пост для Threads":"={{ $('Threads').item.json.output }}","Пост для Telegram":"={{ $('Telegram пост').item.json.output }}","Пост для Instagram":"={{ $json.output }}","Идея Контента":"={{ $('AI Agent Генератор Названия').item.json.output }}"},"matchingColumns":["Идея Контента"],"schema":[{"id":"Идея Контента","displayName":"Идея Контента","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Тема контента","displayName":"Тема контента","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Целевая Аудитория","displayName":"Целевая Аудитория","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Пост для Telegram","displayName":"Пост для Telegram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Пост для Threads","displayName":"Пост для Threads","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Пост для Instagram","displayName":"Пост для Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"c0e94c54-65bf-4a39-8258-62fb3071a113","name":"Update Campaign","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1340,240],"credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"options":{}},"id":"bd277254-2fdf-4e9b-b62d-ea6bbf129541","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1680,-160],"credentials":{"openAiApi":{"id":"IZ3bfihZBp6nZ8TA","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b493a3c6-939a-4301-9257-055b80c28d7a","name":"query","value":"={{ $json['Тема контента'] }}","type":"string"},{"id":"e2813669-08fd-4d0d-a215-b0634032330b","name":"targetAudience","value":"={{ $json['Целевая Аудитория'] }}","type":"string"}]},"options":{}},"id":"783af7f3-fcc2-420f-b4ae-5eade113f1dd","name":"Set Search Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1220,-660]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1WkUq-pg3iTDhDPIwnv2ElWIHmCoCRrCw7jIzTe5iB14/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"news","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WkUq-pg3iTDhDPIwnv2ElWIHmCoCRrCw7jIzTe5iB14/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1560,-660],"id":"0628fe92-6908-47bf-9c53-211c1274cef1","name":"Google Sheets","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1400,-660],"id":"6cafa444-931b-449a-9e9d-1ad69bf10db4","name":"Limit"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1WkUq-pg3iTDhDPIwnv2ElWIHmCoCRrCw7jIzTe5iB14/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"news","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WkUq-pg3iTDhDPIwnv2ElWIHmCoCRrCw7jIzTe5iB14/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Целевая аудитория":"={{ $('AI Agent по ЦА').item.json.output }}","Тема контента":"={{ $('AI Agent Генератор задачи').item.json.output }}","Идея контента":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"Идея контента","displayName":"Идея контента","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Тема контента","displayName":"Тема контента","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Целевая аудитория","displayName":"Целевая аудитория","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Пост для Telegram","displayName":"Пост для Telegram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Пост для Theards","displayName":"Пост для Theards","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Пост для Instagram","displayName":"Пост для Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1720,-660],"id":"a527a4d2-aaff-4346-9477-8a50d262738b","name":"Google Sheets1","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2640,-380],"id":"0d57831d-25b1-43ef-a198-3b487c336227","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"IZ3bfihZBp6nZ8TA","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2640,0],"id":"34b7c157-dfb3-4c36-9a1e-ec7879bac7a7","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"IZ3bfihZBp6nZ8TA","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2640,380],"id":"7754e4b5-cd36-44c7-97d6-4f5d10aa573f","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"IZ3bfihZBp6nZ8TA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.text }}","options":{"systemMessage":"=<Agentinstructions>\n    <Role>\n        <Name>Эксперт по сообщениям</Name>\n        <Description>Вы эксперт в создании и анализе сообщений.</Description>\n    </Role>\n    <Goal>\n        <Primary>Сформулировать задачу, которую необходимо выполнить.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: Сформулируйте задачу, которую необходимо выполнить. Описание не должно превышать 100 символов.\n\nСпецифичность и контекст: понять и сформулировать задачу, которую нужно выполнить. Это важно для дальнейшего создания контента.\n\nПример 1:\nВходные данные: Найдите последние новости о компании open AI.\nВыходные данные: Найти последние новости и обновления о компании open AI.\n\nНапоминания:\n- Четко сформулируйте задачу, которую необходимо выполнить.\n- Сообщение не должно превышать 100 символов.\n- Выводите только текст.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2640,-240],"id":"7e284d53-85b5-4e0e-8494-5d1f817f9e4d","name":"AI Agent Генератор задачи"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.text }}","options":{"systemMessage":"=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Agentinstructions>\n    <Role>\n        <Name>Эксперт по сообщениям</Name>\n        <Description>Вы эксперт в создании и анализе сообщений.</Description>\n    </Role>\n    <Goal>\n        <Primary>Сформулировать название задачи.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nСформулировать заголовок и название для задачи.\nСпецифичность и контекст: придумайте название задачи.\nПример:\nВходные данные: Найдите свежие новости о компании open AI.\nВыходные данные: Задача: найти новости о компании open AI.\nНапоминания:\n- Четко сформулируйте название задачи.\n- Сообщение не должно превышать 100 символов.\n- Выводите только текст.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2640,160],"id":"5f98b56d-8ed1-4e8d-b4b8-b6fbfc7b97fc","name":"AI Agent Генератор Названия"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=<Agentinstructions>\n    <Role>\n        <Name>Эксперт по созданию и анализу сообщений</Name>\n        <Description>Вы эксперт в создании и анализе сообщений.</Description>\n    </Role>\n    <Goal>\n        <Primary>Определить целевую аудиторию для данного запроса.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: определите целевую аудиторию, которая будет заинтересована в этом запросе, или извлеките данные о целевой аудитории из запроса. Описание должно быть не более 100 символов.\n\nСпецифичность и контекст: выберите наиболее подходящую целевую аудиторию для данной темы или задачи. Старайся чётко определять сегмент целевой аудитории. Это важно при дальнейшей подготовки контента.\n\nПример 1:\nВходные данные: Найдите последние новости о компании Open AI.\nВыходные данные: Целевая аудитория — предприниматели, блогеры.\n\nНапоминания:\n- Четко опишите целевую аудиторию и сегмент аудитории.\n- Сообщение не должно превышать 100 символов.\n- Выводите только текст.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2640,-600],"id":"effba7c7-3660-480c-8520-2324733045a4","name":"AI Agent по ЦА"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Article Content:\n{{ $json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}","options":{"systemMessage":"=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Agentinstructions>\n    <Role>\n        <Name>Эксперт по контенту для Telegram канала</Name>\n        <Description>Вы эксперт по созданию контента для Telegram канала, специализируетесь на преобразовании статей в высокововлекающие посты для определённой целевой аудитории.</Description>\n    </Role>\n    <Goal>\n        <Primary>Создать Telegram пост по предоставленной статье.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: используя предоставленную статью, составьте пост для Telegram канала, который:\n1. Написан в лаконичном, увлекательном тоне, оптимизированном для мобильных устройств.\n2. Адаптирован под интересы, потребности и профессиональные цели целевой аудитории.\n3. Представлен в виде простого текста с частыми переносами строк для удобочитаемости. Максимум 2-3 предложения в абзаце.\n4. Содержит 1-2 эмодзи для придания индивидуальности и привлекательности.\n5. Предоставляет ценную информацию и включает ясный призыв к действию.\n6. Содержит 3-5 релевантных хештегов.\n7. Выводит только текст поста — без дополнительного контента.\n\nКонтекст: Пост должен кратко передавать основное сообщение статьи и резонировать с ценностями аудитории. Он должен звучать естественно, разговорно и не превышать 2200 символов, но при этом не быть меньше 1500 символов.\n\nНапоминания:\n- Контент должен соответствовать интересам и вызовам целевой аудитории.\n- Обязательно использовать 1-2 эмодзи и призыв к действию.\n- Выводите только текст поста.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n\n"}},"id":"31e80609-1509-49e0-882c-89a7ad7410cd","name":"Telegram пост","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1700,-340]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Article Content:\n{{ $('Aggregate').item.json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}","options":{"systemMessage":"=<Agentinstructions>\n    <Role>\n        <Name>Эксперт по контенту для Threads</Name>\n        <Description>Вы эксперт в создании контента для Threads, специализируетесь на преобразовании статей в увлекательные и краткие твиты для конкретной целевой аудитории.</Description>\n    </Role>\n    <Goal>\n        <Primary>Создать твит по предоставленной статье.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: используя предоставленную статью, составьте твит, который:\n1. Краток, лаконичен и оптимизирован для лимита Threads (390 символов).\n2. Соответствует интересам, потребностям и целям целевой аудитории.\n3. Содержит 1-2 эмодзи для усиления индивидуальности и привлекательности.\n4. Предоставляет ценное сообщение или инсайт и включает явный призыв к действию.\n5. Содержит 1 релевантный хештега.\n6. Выводит только текст твита — без дополнительного контента.\n\nКонтекст: Твит должен кратко передавать суть статьи, привлекать внимание, предлагать немедленную ценность и стимулировать вовлеченность (лайки, ответы, клики).\n\nНапоминания:\n- Тон должен быть доступным и увлекательным.\n- Используйте эмодзи экономно для акцента.\n- Убедитесь, что твит не превышает 390 символов и адаптирован под аудиторию.\n- Выводите только текст твита.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"}},"id":"99f572de-9d71-4065-9b93-4a55fad3aaa9","name":"Threads","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1200,-340]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"Отлично. Я выполнил задание. Все посты доступны https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit?gid=0#gid=0","type":"string"}]},"options":{}},"id":"e7907cf5-82fc-475d-9262-72bc7665259f","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1000,240]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Article Content:\n{{ $('Aggregate').item.json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}","options":{"systemMessage":"=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Agentinstructions>\n    <Role>\n        <Name>Эксперт копирайтер. </Name>\n        <Description>Вы опытный и креативный блогер, способный создавать увлекательные, лаконичные и хорошо структурированные статьи для Instagram на основе предоставленного контента.</Description>\n    </Role>\n    <Goal>\n        <Primary>Создать пост для Instagram до 2000 символов на основе предоставленного контента.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: напишите пост для Instagram до 2000 символов используя предоставленный контент. Пост должна быть связной, увлекательной и информативной, ориентированной на широкую аудиторию. Обеспечьте профессиональный, но дружелюбный тон и логичное структурирование от введения до заключения.\n\nКонтекст: данная задача необходима для быстрого создания качественных полезных постов, которые привлекают внимание читателей, точно передают основное сообщение и помогают брендам или отдельным лицам устанавливать лидерство в мнениях и эффективно взаимодействовать с аудиторией.\n\nНапоминания:\n- Сохраняйте ясность и логическую последовательность между абзацами.\n- Обеспечьте увлекательный, дружеский, но профессиональный тон.\n- Пост должна быть лаконичной и соответствовать предоставленному контенту.\n- Дели текст на абзацы через каждые 2-3 предложения.\n- Пост должен быть для Instagram до 2000 символов, но не менее 1400 символов.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"}},"id":"32314103-0283-43fd-8541-4275eea8c76e","name":"InstagramWriter","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-860,-360]},{"parameters":{"content":"## ИДЕЯ, ЦА И ЗАДАЧА\n","height":1440,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-2800,-760],"typeVersion":1,"id":"1749af7d-470f-42ba-b69c-de03c5f54678","name":"Sticky Note1"},{"parameters":{"content":"## СТАРТ\n","height":540,"width":1260},"type":"n8n-nodes-base.stickyNote","position":[-4180,-560],"typeVersion":1,"id":"e305f073-3465-4f65-aa9b-9cff904778f0","name":"Sticky Note"},{"parameters":{"content":"## ПОИСК И ОБРАБОТКА НОВОСТИ","height":240,"width":1340,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1760,-740],"typeVersion":1,"id":"8424d3c8-afc8-4e6c-a465-aa46a17827f3","name":"Sticky Note2"},{"parameters":{"content":"## ГЕНЕРАТОР КОНТЕНТА ","height":380,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1760,-420],"typeVersion":1,"id":"50b3e398-0ad0-439c-88af-43522bf89544","name":"Sticky Note3"},{"parameters":{"content":"## СОХРАНЕНИЕ И ПУБЛИКАЦИЯ\n","height":280,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1480,140],"typeVersion":1,"id":"18cab212-624c-4ebf-9454-46464143b8e0","name":"Sticky Note4"},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"3074d594-3f1b-48ea-ba8b-88169423c9b3","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-4120,-340],"webhookId":"2194a6b2-2302-4406-9c8c-207161b7eb22","credentials":{"telegramApi":{"id":"KFfBOQqA8c0TcRhh","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $('Telegram Trigger').item.json.message.text }} {{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3280,-480],"id":"38009176-2bfb-4482-a883-6e0ebd11f5cb","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3600,-240],"id":"2175e294-a0be-4088-9220-08683f069fec","name":"Telegram","webhookId":"c66673cf-72f0-4233-82d8-70fe313d8765","credentials":{"telegramApi":{"id":"KFfBOQqA8c0TcRhh","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3420,-240],"id":"9749bda1-3ea4-4506-9dc2-632a923588bd","name":"OpenAI","credentials":{"openAiApi":{"id":"IZ3bfihZBp6nZ8TA","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3760,-340],"id":"d2e76563-80a9-43dd-9b7a-26c86f192ac8","name":"Switch"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3940,-340],"id":"a7c4ad9f-c461-4277-bf11-345b014b138c","name":"Telegram2","webhookId":"8cd99b7a-3eca-4fd9-9b9a-168ea002f4b1","credentials":{"telegramApi":{"id":"KFfBOQqA8c0TcRhh","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.response }}","additionalFields":{"appendAttribution":false}},"id":"1174d2ab-99a9-443d-be06-4a7f3f890b0a","name":"Respond to Me","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-700,240],"webhookId":"cd45388a-451a-42a0-b4aa-94857c5cc9f2","credentials":{"telegramApi":{"id":"KFfBOQqA8c0TcRhh","name":"Telegram account"}}}],"connections":{"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Search Internet":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Telegram пост","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Threads","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"InstagramWriter","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Telegram пост","type":"ai_languageModel","index":0}]]},"Set Search Fields":{"main":[[{"node":"Search Internet","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Set Search Fields","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent по ЦА","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent Генератор задачи","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent Генератор Названия","type":"ai_languageModel","index":0}]]},"AI Agent Генератор задачи":{"main":[[{"node":"AI Agent Генератор Названия","type":"main","index":0}]]},"AI Agent Генератор Названия":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"AI Agent по ЦА":{"main":[[{"node":"AI Agent Генератор задачи","type":"main","index":0}]]},"Telegram пост":{"main":[[{"node":"Threads","type":"main","index":0}]]},"Threads":{"main":[[{"node":"InstagramWriter","type":"main","index":0}]]},"Update Campaign":{"main":[[{"node":"Success","type":"main","index":0}]]},"InstagramWriter":{"main":[[{"node":"Update Campaign","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent по ЦА","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Success":{"main":[[{"node":"Respond to Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8107eb84-7d99-40c0-bfcf-79a546789caa","triggerCount":0,"shared":[{"createdAt":"2025-06-10T13:30:12.410Z","updatedAt":"2025-06-10T13:30:12.410Z","role":"workflow:owner","workflowId":"PAtSKWO6nmy9HtuG","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}