prompt1k-2.0-kHTBIRacG7Fz0Ggl.json
{"createdAt":"2025-11-07T13:46:21.552Z","updatedAt":"2025-11-07T20:21:29.548Z","id":"kHTBIRacG7Fz0Ggl","name":"prompt1k 2.0","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-704,-32],"id":"c6cd3011-e957-4a69-922f-2f4b839a5780","name":"Telegram Trigger","webhookId":"25513b03-9006-4ccc-b1da-fc9942846c16","credentials":{"telegramApi":{"id":"vl2DgtVLRwSCWpNA","name":"promptik_2.0"}}},{"parameters":{"jsCode":"const update = $input.first().json;\nlet result = [];\n\nif (update.message) {\n  const message = update.message.text;\n  const chatId = update.message.chat.id;\n  \n  if (message.startsWith('/react ')) {\n    const prompt = message.replace('/react ', '');\n    result.push({\n      technology: 'react',\n      prompt: prompt,\n      chatId: chatId\n    });\n  } else if (message.startsWith('/html ')) {\n    const prompt = message.replace('/html ', '');\n    result.push({\n      technology: 'html', \n      prompt: prompt,\n      chatId: chatId\n    });\n  } else if (message === '/start') {\n    result.push({\n      technology: 'help',\n      prompt: 'Используйте:\\n/react [ваш промпт] - для React\\n/html [ваш промпт] - для HTML',\n      chatId: chatId\n    });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,-32],"id":"29969fd1-7cc0-42b9-b89a-f2100b3955d1","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11d4f6a5-3f74-4641-bf32-87b1351cc0cf","leftValue":"={{ $json.technology }}","rightValue":"react","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,-32],"id":"73cd19d5-1cdd-467f-8a8b-ecc654bfb3dd","name":"If"},{"parameters":{"promptType":"define","text":"={{ { \"prompt\": $json.prompt, \"chatId\": $json.chatId } }}","options":{"systemMessage":"=**КРИТИЧЕСКОЕ ТРЕБОВАНИЕ:** Создай промпт строго до 3500 символов. Используй сжатые формулировки, удали все дублирования, сохрани только самые важные детали.\n\nТы - эксперт по веб-разработке. Создай ДЕТАЛЬНЫЙ технический промпт для React разработчика на основе требований клиента.\n\n**ЗАДАЧА:** Преобразуй ВСЕ требования клиента в полный технический промпт для генерации React сайта.\n\n**СОХРАНИ ВСЕ ДЕТАЛИ КЛИЕНТА ИЗ ЕГО ПРОМПТА:**\n- Точный домен и название бизнеса\n- Полную структуру страниц (все URL пути)\n- Все дизайн-требования (цвета, шрифты, стиль)\n- Все запрещенные слова\n- Бизнес-тематику и описание\n- Контактную информацию\n- Особые разделы и контент-требования\n\n**ФОРМАТ ВЫВОДА:** Полный, детальный промпт в чистом тексте без HTML разметки.\n\n**ОСНОВНОЙ ШАБЛОН:**\n\nCreate a COMPLETE, PROFESSIONAL React website with EXCELLENT design and ALL files.\n\n**DOMAIN & BUSINESS DETAILS:**\n[Вставь сюда все детали клиента: домен, название, гео, язык, адрес, телефон, описание бизнеса]\n\n**WEBSITE STRUCTURE - EXACT PAGES:**\n[Вставь полную структуру страниц из промпта клиента со всеми URL путями]\n\n**CONTENT SECTIONS PER PAGE:**\n[Опиши все секции для каждой страницы как указал клиент]\n\n**CRITICAL REQUIREMENTS:**\n- PERFECT responsive design - mobile-first approach\n- Modern, clean header with sticky navigation\n- Professional spacing and typography hierarchy\n- Smooth animations and hover effects\n- Perfectly aligned grid systems\n- Balanced visual hierarchy\n\n**ESSENTIAL FILES & COMPONENTS:**\n- package.json (with react-scripts)\n- public/_redirects (/* /index.html 200)\n- Components: Header, Footer, CookieBanner, ScrollToTop\n- Pages: Home, About, Services, Contact, Terms, Privacy\n- src/styles/global.css\n\n**DESIGN SPECIFICATIONS:**\n- Colors: [точные цвета из промпта клиента]\n- Fonts: [точные шрифты из промпта клиента]\n- Design Style: [стиль из промпта клиента]\n- Layout: [требования к layout из промпта клиента]\n\n**BANNED WORDS:**\n[полный список запрещенных слов из промпта клиента]\n\n**TECHNICAL REQUIREMENTS:**\n- React 18.2.0 with React Router\n- Mobile-first responsive design\n- Accessible (ARIA labels), SEO optimized\n- Cross-browser compatible\n\n**MANDATORY FEATURES:**\n- Working contact form with validation\n- Mobile navigation hamburger menu\n- Cookie consent banner\n- Image galleries with placeholders\n- \"Scroll to top\" functionality\n\n**IMAGE HANDLING RULES:**\n- USE ONLY generic placeholder services with unique random parameters\n- Image dimensions: 1600x900 for hero, 800x600 for content\n- Alt text MUST describe business context\n- Abstract diagrams only\n\n**CONTENT THEMES & KEYWORDS:**\n[Вставь темы и ключевые слова из промпта клиента]\n\n**PACKAGE.JSON REQUIREMENTS:**\n{\n  \"scripts\": {\n    \"start\": \"react-scripts start\",\n    \"build\": \"react-scripts build\",\n    \"test\": \"react-scripts test\"\n  },\n  \"dependencies\": {\n    \"react\": \"^18.2.0\",\n    \"react-dom\": \"^18.2.0\",\n    \"react-router-dom\": \"^6.8.0\",\n    \"react-scripts\": \"5.0.1\"\n  }\n}\n\n**PERFECT CSS STRUCTURE:**\n- CSS Grid and Flexbox for layouts\n- CSS variables for consistent theming\n- Mobile-first responsive design\n- Smooth transitions and animations\n\n**ВАЖНО:** Включи ВСЕ специфические детали из промпта клиента, не пропуская ничего!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[352,-256],"id":"17abe771-4030-46ae-b92f-675d7ee0fbc5","name":"AI Agent React"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=**КРИТИЧЕСКОЕ ТРЕБОВАНИЕ:** Создай промпт строго до 3500 символов. Используй сжатые формулировки, удали все дублирования, сохрани только самые важные детали.\n\nТы - эксперт по веб-разработке. Создай ДЕТАЛЬНЫЙ технический промпт для HTML разработчика на основе требований клиента.\n\n**ЗАДАЧА:** Преобразуй ВСЕ требования клиента в полный технический промпт для генерации статического HTML сайта.\n\n**СОХРАНИ ВСЕ ДЕТАЛИ КЛИЕНТА ИЗ ЕГО ПРОМПТА:**\n- Точный домен и название бизнеса\n- Полную структуру страниц (все URL пути)\n- Все дизайн-требования (цвета, шрифты, стиль)\n- Все запрещенные слова\n- Бизнес-тематику и описание\n- Контактную информацию\n- Особые разделы и контент-требования\n\n**ФОРМАТ ВЫВОДА:** Полный, детальный промпт в чистом тексте без HTML разметки.\n\n**ОСНОВНОЙ ШАБЛОН:**\n\nCreate a COMPLETE, PROFESSIONAL website with ALL necessary files.\n\n**DOMAIN & BUSINESS DETAILS:**\n[Вставь сюда все детали клиента: домен, название, гео, язык, адрес, телефон, описание бизнеса]\n\n**WEBSITE STRUCTURE - EXACT PAGES:**\n[Вставь полную структуру страниц из промпта клиента со всеми URL путями]\n\n**CONTENT SECTIONS PER PAGE:**\n[Опиши все секции для каждой страницы как указал клиент]\n\n**CRITICAL REQUIREMENTS:**\n- Cookie banner on EVERY page (functional, shows until accepted)\n- Include: terms.html, privacy.html, cookie-policy.html\n- robots.txt and sitemap.xml in root directory  \n- \"Scroll to top\" button that resets scroll on navigation\n- NO pricing, costs, or monetary amounts\n- Proper lang attribute matching site language\n- 5-8 content sections on index.html + header/footer\n- Unique page paths (not generic names)\n- Humanized, natural text content (avoid AI patterns)\n- Full meta data for SEO\n- Use exact domain/address/phone from client\n\n**DESIGN SPECIFICATIONS:**\n- Colors: [точные цвета из промпта клиента]\n- Fonts: [точные шрифты из промпта клиента] \n- Design Style: [стиль из промпта клиента]\n- Layout: [требования к layout из промпта клиента]\n- Visuals: [требования к визуалам из промпта клиента]\n\n**BANNED WORDS:**\n[полный список запрещенных слов из промпта клиента]\n\n**TECHNICAL REQUIREMENTS:**\n- Semantic HTML5, modern CSS (Flexbox/Grid), vanilla JavaScript\n- Fully responsive mobile-first design\n- Accessible (ARIA labels), SEO optimized\n- Cross-browser compatible\n\n**MANDATORY FEATURES:**\n- Working contact form\n- Mobile navigation menu\n- Image galleries\n- Call-to-action buttons\n- Social media links\n- Footer with sitemap\n\n**IMAGE HANDLING RULES:**\n- USE ONLY generic placeholder services:\n  - https://picsum.photos/1200/800?random=1 (change number for each image)\n  - https://placehold.co/1200x800/EFEFEF/AAA?text=Image+Description\n- Image dimensions: 1200x800 for hero, 800x600 for content\n- Alt text MUST describe business context (not generic)\n- Each image gets unique random parameter\n- [Добавь специфические требования к изображениям из промпта клиента]\n\n**CONTENT THEMES & KEYWORDS:**\n[Вставь темы и ключевые слова из промпта клиента]\n\n**SPECIFIC CONTENT REQUIREMENTS:**\n[Вставь особые требования к контенту из промпта клиента]\n\n**FILE STRUCTURE:**\n[Перечисли все необходимые файлы включая специфические из промпта клиента]\n\n**CODING STANDARDS:**\n- Clean, maintainable code\n- Proper file organization  \n- Generic placeholder images only\n- No specific Pexels photo URLs\n\nReturn ALL files with FULL, WORKING code.\n\n**ВАЖНО:** Включи ВСЕ специфические детали из промпта клиента, не пропуская ничего!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[352,144],"id":"43a8d157-bb35-43bc-8002-e9e37b2d14da","name":"AI Agent HTML"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[352,320],"id":"95b058e7-f65f-415a-9593-c929d549b688","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"Jl3nATmYB0tYJA7B","name":"mar"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[352,-96],"id":"5f1eeb56-d388-48b9-aa38-ed0f65ab8158","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"Jl3nATmYB0tYJA7B","name":"mar"}}},{"parameters":{"jsCode":"const output = $input.first().json.output;\nconst chatId = $input.first().json.chatId; // Получаем chatId из предыдущей ноды\nconst maxLength = 4000;\nconst chunks = [];\n\n// Разделяем текст\nfor (let i = 0; i < output.length; i += maxLength) {\n    chunks.push(output.slice(i, i + maxLength));\n}\n\n// Создаем сообщения с chatId\nconst messages = chunks.map((chunk, index) => ({\n    message: chunk,\n    part: `📄 Часть ${index + 1} из ${chunks.length}`,\n    totalParts: chunks.length,\n    currentPart: index + 1,\n    chatId: chatId // Добавляем chatId в каждое сообщение\n}));\n\nreturn messages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-256],"id":"35ba1328-f72d-4d05-8119-192d41a8cd39","name":"Split Message"},{"parameters":{"jsCode":"const output = $input.first().json.output;\nconst chatId = $input.first().json.chatId; // Получаем chatId из предыдущей ноды\nconst maxLength = 4000;\nconst chunks = [];\n\n// Разделяем текст\nfor (let i = 0; i < output.length; i += maxLength) {\n    chunks.push(output.slice(i, i + maxLength));\n}\n\n// Создаем сообщения с chatId\nconst messages = chunks.map((chunk, index) => ({\n    message: chunk,\n    part: `📄 Часть ${index + 1} из ${chunks.length}`,\n    totalParts: chunks.length,\n    currentPart: index + 1,\n    chatId: chatId // Добавляем chatId в каждое сообщение\n}));\n\nreturn messages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,144],"id":"3fffc494-0ef8-4c61-b1c7-61d7371a8c49","name":"Split Message1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.part }}\n\n{{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,144],"id":"ffe48705-ddb5-4273-ae8e-2fbb2c01d4d2","name":"Send a text message2","webhookId":"ab87ebac-a58f-4208-a3cf-f26c3cb29494","credentials":{"telegramApi":{"id":"vl2DgtVLRwSCWpNA","name":"promptik_2.0"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.part }}\n\n{{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[912,-256],"id":"67d2212b-09b0-48ee-9084-350c13ce78d3","name":"Send a text message","webhookId":"ab87ebac-a58f-4208-a3cf-f26c3cb29494","credentials":{"telegramApi":{"id":"vl2DgtVLRwSCWpNA","name":"promptik_2.0"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent React","type":"main","index":0}],[{"node":"AI Agent HTML","type":"main","index":0}]]},"AI Agent React":{"main":[[{"node":"Split Message","type":"main","index":0}]]},"AI Agent HTML":{"main":[[{"node":"Split Message1","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent HTML","type":"ai_languageModel","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"AI Agent React","type":"ai_languageModel","index":0}]]},"Split Message1":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Split Message":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9bfea6c8-b6d7-474a-8792-7b6203cc3626","triggerCount":1,"shared":[{"createdAt":"2025-11-07T13:46:21.552Z","updatedAt":"2025-11-07T13:46:21.552Z","role":"workflow:owner","workflowId":"kHTBIRacG7Fz0Ggl","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}