public-bBo894r1NXKAPcYj.json
{"createdAt":"2025-07-09T14:11:20.243Z","updatedAt":"2025-07-11T10:42:04.279Z","id":"bBo894r1NXKAPcYj","name":"public","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"229238a4-91a0-805d-96e8-c28aa4e28b06","mode":"list","cachedResultName":"Контент-план","cachedResultUrl":"https://www.notion.so/229238a491a0805d96e8c28aa4e28b06"},"limit":7,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Дата публікації|date","condition":"equals","date":"=start:{{ $now.format('yyyy-MM-dd') }}"},{"key":"Статус|status","condition":"equals","statusValue":"Готовий до публікації"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[140,0],"id":"4137a15a-e439-4060-abb7-091c10c5c4c2","name":"Notion","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"eec3ff23-0952-4306-bf75-5583f5586ad0","name":"ПУБЛИКАЦИЯ"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Статус|status","statusValue":"Опубліковано"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[600,0],"id":"5432bb2f-c94f-4c73-a8a1-e8c5dcf63847","name":"Notion1","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"operation":"sendPhoto","chatId":"@contentzavod21","binaryData":true,"additionalFields":{"caption":"={{ $json.properties['Текст статті'].rich_text[0].text.content }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[440,0],"id":"48d3f9c7-63a4-4ee3-ad58-61e48b2bc89a","name":"Telegram","webhookId":"48b884d6-af18-4027-b72f-5721ac857405","credentials":{"telegramApi":{"id":"9wV4Urj7NQsqitpg","name":"Telegram account 5"}}},{"parameters":{"authentication":"serviceAccount","operation":"download","fileId":{"__rl":true,"value":"={{ $json.properties['ID Google Drive'].rich_text[0].text.content }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[280,0],"id":"751aeb45-a0d6-4a9a-afee-c0bd3debcdcc","name":"Google Drive1","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}}],"connections":{"Notion":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"ПУБЛИКАЦИЯ":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:ПУБЛИКАЦИЯ":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"f2a7fad0-eb3e-4a9c-ae29-d137422ecc77","triggerCount":1,"shared":[{"createdAt":"2025-07-09T14:11:20.243Z","updatedAt":"2025-07-09T14:11:20.243Z","role":"workflow:owner","workflowId":"bBo894r1NXKAPcYj","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}