react-back-jxqa3KX3WDWVUaup.json
{"createdAt":"2025-11-11T13:38:00.763Z","updatedAt":"2025-11-12T11:30:48.248Z","id":"jxqa3KX3WDWVUaup","name":"react back","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-144,-32],"id":"7dc93319-4bd9-4c82-906b-83133ed8e270","name":"When Executed by Another Workflow","alwaysOutputData":true,"executeOnce":false},{"parameters":{"chatId":"={{ $input.first().json.userId }}\"","text":"=🎨 *Отлично! Ваш запрос принят.*\n\n📊 *Сколько вариантов дизайна вам создать?*\n\nВыберите количество:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"1","additionalFields":{"callback_data":"count_1"}},{"text":"3","additionalFields":{"callback_data":"count_3"}}]}},{"row":{"buttons":[{"text":"5","additionalFields":{"callback_data":"count_5"}},{"text":"10","additionalFields":{"callback_data":"count_10"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[256,-272],"id":"ed9f5a9e-75a9-482a-b8ea-15a978efe485","name":"Send a text message2","webhookId":"0aabbae9-35e9-4f9b-971d-8c436c3954bb","credentials":{"telegramApi":{"id":"8vAyhXb2m8DaonMu","name":"react2_test"}}},{"parameters":{"jsCode":"// \"Debug Input\" - между триггером и Telegram нодой\nconsole.log('=== WORKFLOW 2 INPUT ===');\nconsole.log(JSON.stringify($input.first().json, null, 2));\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,-32],"id":"b77ae0e2-e430-4e7a-bc28-623189b65b70","name":"Code in JavaScript"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $input.first().json.userId }}","message":"🎨 *Отлично! Ваш запрос принят.*\\n\\n📊 *Сколько вариантов дизайна вам создать?*\\n\\nПросто напишите цифру (например: 1, 3, 5, 10):","responseType":"freeText","options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,-32],"id":"f4221f8c-6893-42df-ab86-2298debe9406","name":"Send message and wait for response","webhookId":"91c80e18-7d35-446b-9b27-d963b2a55f1f","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"8vAyhXb2m8DaonMu","name":"react2_test"}}},{"parameters":{"jsCode":"// Обработка текстового ответа с количеством сайтов\nconst inputData = $input.first().json;\n\nconsole.log('=== USER RESPONSE DATA ===');\nconsole.log(JSON.stringify(inputData, null, 2));\n\n// Данные приходят в формате: { \"data\": { \"text\": \"3\" } }\nconst userText = inputData.data?.text || '1';\n\nconsole.log('User response:', userText);\n\n// Извлекаем число из ответа\nconst websiteCount = parseInt(userText.trim()) || 1;\n\n// Ограничиваем максимальное количество\nconst finalCount = Math.min(Math.max(websiteCount, 1), 10);\n\nconsole.log(`✅ User selected: ${finalCount} websites`);\n\n// Получаем оригинальные данные из первого воркфлоу\n// Они должны быть доступны через $input\nconst originalData = $input.first().json;\n\nreturn [{\n  json: {\n    websiteCount: finalCount,\n    userResponse: userText,\n    userId: originalData.userId,        // из первого воркфлоу\n    chatId: originalData.chatId,        // из первого воркфлоу  \n    originalPrompt: originalData.originalPrompt  // из первого воркфлоу\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-32],"id":"8f8d9c5b-02b2-4954-a078-5fdedb4b0488","name":"Send and Wait for Response"},{"parameters":{"jsCode":"// Debug - посмотреть реальные данные\nconsole.log('=== RAW RESPONSE FROM SEND AND WAIT ===');\nconsole.log(JSON.stringify($input.first().json, null, 2));\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-32],"id":"a0b7380a-2101-42e9-84cf-6c81e8a7199c","name":"debug"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Send a text message2":{"main":[[]]},"Code in JavaScript":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"debug","type":"main","index":0}]]},"Send and Wait for Response":{"main":[[]]},"debug":{"main":[[{"node":"Send and Wait for Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bcbaff73-15fd-4e6f-a3f9-15d33bb7c29d","triggerCount":0,"shared":[{"createdAt":"2025-11-11T13:38:00.763Z","updatedAt":"2025-11-11T13:38:00.763Z","role":"workflow:owner","workflowId":"jxqa3KX3WDWVUaup","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}