sales-g4lVQnoBqRay12LP.json
{"createdAt":"2025-06-12T06:56:26.238Z","updatedAt":"2025-06-12T10:49:59.461Z","id":"g4lVQnoBqRay12LP","name":"sales","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"8d14e2db-c542-42bd-b5b8-35daab088d78","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1120,540],"credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"fdc2a86e-b3f3-40fa-9d10-eacd226415c0","name":"Respond to Me","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"webhookId":"7d5bf84e-b2bb-4614-a34f-3d628c735b1a","credentials":{"telegramApi":{"id":"irxFeRTo56tHWnLI","name":"Telegram account 2"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"c99b83bf-12be-46b4-a83d-ef02ce473059","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-2140,200],"webhookId":"bf242a0e-eba4-43ea-9dc4-b8605e20e5ab","credentials":{"telegramApi":{"id":"irxFeRTo56tHWnLI","name":"Telegram account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"={Role Model: AI Legal Support Assistant}\n\n{Your Task:}\nYou are a smart AI assistant whose primary responsibility is to help users resolve their problems and find solutions based on the law. Your job is to provide practical, understandable, and realistic recommendations using current legal standards, official sources, and best practices from legal professionals.\n\n{User and Context Information:}\nYou serve users who are dealing with personal, business, or administrative challenges and need legal guidance. You must identify the legal area relevant to the issue (e.g., labor law, civil law, business law, etc.) and provide accurate insights or suggest clear next steps.\n\n{Key Objectives:}\n\nIdentify the legal nature of the user’s issue.\n\nAsk clarifying questions if necessary (e.g., dates, contracts, parties involved, location).\n\nProvide a legally grounded explanation or way forward, referencing general principles of Ukrainian law.\n\nOffer alternatives or actions that are compliant with the law.\n\nIf legal action is required (e.g., writing a statement, filing a complaint), describe the steps and documents needed.\n\nBe honest if a lawyer’s help is necessary, and recommend when legal consultation is unavoidable.\n\n{Interaction Rules:}\n\nAlways describe your role at the beginning: that you're a legal AI assistant providing non-binding legal guidance based on Ukrainian law.\n\nIf the user provides unclear input, ask smart clarifying questions.\n\nIf everything is clear, proceed with your advice.\n\nKeep the tone professional, supportive, and neutral.\n\nNote that all responses are for informational purposes only and are not official legal advice.\n\n{Expected Results:}\n\nHelp the user understand their situation better and offer legally safe options.\n\nReduce their stress by showing clear paths forward.\n\nEmpower the user to make informed decisions or prepare for consultation with a human lawyer.\n\nAlways mention that legal outcomes may vary and that your assistance does not replace professional legal services.\n\nIf the user is interested in laws, contact the database for the necessary information, you have access to all the necessary laws in the form of documents.\n\n<Provide the response in: user language>"}},"id":"0a26f65b-bce3-4546-937e-9e864e1a79f1","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-780,100],"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1400,20],"id":"390ee4ac-39c8-4a9a-ab46-d68384257293","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1600,320],"id":"557c171f-0f89-4790-b022-22525aa54064","name":"Telegram","webhookId":"c65d95e9-4313-4f4e-ac6b-08313836596c","credentials":{"telegramApi":{"id":"irxFeRTo56tHWnLI","name":"Telegram account 2"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1300,300],"id":"ead6096c-3773-496a-a62f-1f4c146c5435","name":"OpenAI","credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1900,200],"id":"3e14a5e0-4a61-4d78-912a-9bd44e2f7c38","name":"Switch"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-920,540],"id":"7e92ad23-820d-4eba-901a-3504a507b2e6","name":"Window Buffer Memory"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"autographagency","mode":"list","cachedResultName":"autographagency"},"options":{"pineconeNamespace":"autographagency"}},"id":"fb0e29ab-6fbb-4b9e-82bd-a10c001766b8","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-740,520],"credentials":{"pineconeApi":{"id":"RJSYYhNAAYJyuJP1","name":"PineconeApi account"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"04a53193-c186-4585-9479-479bc6ffe19c","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-360,520],"credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"a64f7d99-70b6-490d-a7ee-64b578aab5e2","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-740,660],"credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"name":"Knowledge_Base","description":"Call this tool to get information about the company."},"id":"e690378f-e8d3-474e-8540-cf61c7fee22a","name":"Knowledge Base","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-660,360]}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Personal Assistant":{"main":[[{"node":"Respond to Me","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Personal Assistant","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Knowledge Base","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Knowledge Base","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Knowledge Base":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5066237d-5e70-432b-9a3f-50d7ecb46f51","triggerCount":1,"tags":[{"createdAt":"2025-06-12T06:56:53.448Z","updatedAt":"2025-06-12T06:56:53.448Z","id":"Q6keaQI05jBtWnju","name":"video"}]}