test-10X3nYJJwzDr4rVx.json
{"createdAt":"2025-07-21T13:20:04.480Z","updatedAt":"2025-07-29T10:07:22.870Z","id":"10X3nYJJwzDr4rVx","name":"Test","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Аудио","height":480,"width":1380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,-448],"id":"a569b4c8-0ba9-49e9-9a69-a4d76717231e","name":"Sticky Note"},{"parameters":{"content":"## Картинка","height":520,"width":1500,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1936,96],"id":"2e9cfec4-6037-45ed-a315-783302b1aba6","name":"Sticky Note1"},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Генерирую новый скрипт...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,64],"id":"e9091d59-fbe5-4832-a224-1becf6945dfe","name":"Telegram3","webhookId":"47777b7f-dbcd-4f44-ae03-a1ed5a8f848b"},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Взял скрипт в работу✅","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,-192],"id":"283c625c-5d08-48b7-bc82-2828fde503a9","name":"Telegram4","webhookId":"e3b77e83-b17e-4e86-9af8-fefddb093bec"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60ef1428-2bed-4999-a401-2621b7573f97","leftValue":"={{ $json.callback_query.data }}","rightValue":"accept_script","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,-32],"id":"b00b9eb0-f5ff-4554-84f6-fbd03fcae6c4","name":"Принять скрипт?"},{"parameters":{"content":"## Проверка созданного скрипта","height":956,"width":908,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[944,-368],"id":"cdf2cc37-bf84-41e5-9548-b11d69103890","name":"Sticky Note6"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Принять скрипт?').item.json.callback_query.message.chat.id }}","message":"Пришли фото для референса","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Reference","fieldType":"file","acceptFileTypes":".jpg, .png","requiredField":true}]},"options":{"messageButtonLabel":"Загрузить","responseFormTitle":"Загрузи свое фото","responseFormButtonLabel":"Загрузить","appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1984,160],"id":"89ae446e-2654-4b38-9250-5f8fad7da457","name":"Пришли фото","webhookId":"3268502c-6785-4aa0-8e9f-963f72da10e7","credentials":{"telegramApi":{"id":"9wV4Urj7NQsqitpg","name":"Telegram account 5"}}},{"parameters":{"chatId":"={{ $('Telegram3').item.json.result.chat.id }}","text":"={{ $json.message.content.Podcast }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Принять✅","additionalFields":{"callback_data":"accept_script"}},{"text":"Создать заново🔄","additionalFields":{"callback_data":"regenerate_script"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1504,400],"id":"0fdfb562-3161-4f6e-9618-a3bef6c3e5be","name":"Telegram","webhookId":"34912ee6-d082-41d5-b76c-6486ac3a4654"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Here’s a podcast-style script in the tone of Joe Rogan on the topic {{ $json['Тема'] }} :\n\n\n{{ $json['Скрипт'] }}\n\n\nNow create a completely new version of this script:\n– Keep the same style: casual, intense, slightly conspiratorial, full of vivid emotions and storytelling\n– Keep the same format: exactly 400 characters, no line breaks, structured like a podcast snippet\n– Do NOT reuse phrases or facts — come up with a different hook and twist\n\nReturn the result as  JSON objects called Podcast and Topic={{ $json['Тема'] }}. The text must be around 400 characters, no line breaks, special symbols, or formatting that would break JSON structure.\n\nСоставляй текст и отвечай ТОЛЬКО на русском языке"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1120,400],"id":"c7859740-6040-4cc5-82c9-aa432123384e","name":"Генерируем новый скрипт"},{"parameters":{"documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cs4IOdD4KPNEJ7HFOT21grm1D66wZpx_PEJ0hedIX3I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ChatID","lookupValue":"={{ $json.result.chat.id }}"},{"lookupColumn":"Статус","lookupValue":"Новый"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1984,-352],"id":"9deb3dc5-c809-4720-8cb9-27dd998df1aa","name":"Get row(s) in sheet"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cs4IOdD4KPNEJ7HFOT21grm1D66wZpx_PEJ0hedIX3I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ChatID":"={{ $json.result.chat.id }}","Скрипт":"={{ $json.result.text }}","Статус":"Новый","Дата изменения":"={{ new Date().toLocaleDateString('ru-RU') }}"},"matchingColumns":["ChatID"],"schema":[{"id":"Telegram","displayName":"Telegram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ChatID","displayName":"ChatID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Тема","displayName":"Тема","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Скрипт","displayName":"Скрипт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата изменения","displayName":"Дата изменения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1696,400],"id":"c443b280-eede-48c6-94b4-c90461cd3364","name":"Append or update row in sheet"},{"parameters":{"documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cs4IOdD4KPNEJ7HFOT21grm1D66wZpx_PEJ0hedIX3I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ChatID","lookupValue":"={{ $json.result.chat.id }}"},{"lookupColumn":"Статус","lookupValue":"Новый"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1584,64],"id":"a1ae4e08-392e-4de7-b4ff-2c4118d9bfb5","name":"Get row(s) in sheet1"},{"parameters":{"jsCode":"// Получаем все элементы\nconst items = $input.all();\n\n// Берем последний элемент\nif (items.length > 0) {\n  return [items[items.length - 1]];\n}\n\n// Если нет элементов, возвращаем пустой массив\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,176],"id":"d46622f9-da9b-4611-a73b-b7720f421728","name":"Code"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2624,-912],"id":"3956b472-4d8f-4460-9e74-af98b1fe1bff","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"5cb81de0-0a34-4b28-ab3f-402447d131eb","name":"Topic","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,-1088],"id":"1572b033-794a-475f-b9ad-1e0051290015","name":"Зафиксировать тему"},{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[784,-1072],"id":"6962550e-44fb-4308-950c-28fd27ccc9dd","name":"Telegram Trigger","webhookId":"1765f8ba-8a9c-48cf-8ba3-bcc45a4560db"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1296,-976],"id":"9e79d01d-85cf-44ef-a9f9-a3ed82f0096f","name":"Telegram6","webhookId":"b5858f34-1430-43c7-98d5-460b1b5c87b8"},{"parameters":{"content":"## Скрипт","height":460,"width":1100,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1936,-1216],"id":"16eca17f-fd45-44b2-989d-9729e7188a99","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.message.content.Podcast }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Принять✅","additionalFields":{"callback_data":"accept_script"}},{"text":"Создать заново🔄","additionalFields":{"callback_data":"regenerate_script"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2416,-1088],"id":"2369e050-47cd-47c7-be13-d8fd463cf4bc","name":"Telegram7","webhookId":"fe8262b8-b5ee-43af-9d3e-89fefd9b6f34"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1488,-976],"id":"a7211c1b-eb00-48e5-90b8-47dbe34b81a0","name":"Расшифровка голосового1"},{"parameters":{"content":"## Запуск агента","height":480,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,-1216],"id":"b674c3f4-0452-4903-a748-5ed300a11d96","name":"Sticky Note7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"ea9bf62c-7bd2-4790-85f5-b9b98d1bd914"}],"combinator":"and"},"renameOutput":true,"outputKey":"Текст"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"134fbb70-d01a-485a-84a2-2c9a9a0f4638","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Голосовое"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29a17607-39c3-4ddf-9ffa-ae01da2293c8","leftValue":"={{ $json.callback_query.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Кнопки ответа"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1024,-1072],"id":"b106728a-6509-4928-97cf-77b6e43e76d0","name":"Switch1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telegram":"={{ $json.result.chat.username }}","ChatID":"={{ $json.result.chat.id }}","Тема":"={{ $('Зафиксировать тему').item.json.Topic }}","Скрипт":"={{ $json.result.text }}","Статус":"Новый","Дата изменения":"={{ new Date().toLocaleDateString('ru-RU') }}"},"matchingColumns":[],"schema":[{"id":"Telegram","displayName":"Telegram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ChatID","displayName":"ChatID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Тема","displayName":"Тема","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Скрипт","displayName":"Скрипт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Дата изменения","displayName":"Дата изменения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2864,-1072],"id":"cf858c47-e670-4621-b4f4-9a4255c6611e","name":"Append row in sheet"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Generate a podcast-style monologue in the style of Joe Rogan, discussing the next topic: \n{{ $json.Topic }}\nAct as an expert in this niche.\n\nMake the tone casual, intense, a bit conspiratorial, full of unexpected analogies, vivid emotions, provocative questions, and personal stories that spark curiosity or debate. Use storytelling hooks—grab attention from the first line (“Ever wondered...?”, “Picture this:”), add a twist or shocking fact, and end with a thought that leaves listeners unsettled or eager to share.\n\nAvoid jargon and complex terms—keep it real, with humor, tangents, and “what if...” musings.\nMax out attention-grabbing techniques so the text feels viral but totally native, like a real podcast segment, never an ad.\n\nReturn the result as a single JSON object called Podcast. The text must be exactly 400 characters, no line breaks, special symbols, or formatting that would break JSON structure.\n\nСоставляй текст и отвечай ТОЛЬКО на русском языке"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2016,-1088],"id":"1afda813-d6e3-426a-9f1b-d4832f32673b","name":"Создаем скрипт"},{"parameters":{},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[624,-384],"id":"23527b78-effb-4547-8627-d0a7ac15ca8e","name":"Apify","credentials":{"apifyApi":{"id":"VrLtNlBGIXvKLdrm","name":"Apify account"}}}],"connections":{"Telegram3":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"Пришли фото","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Принять скрипт?":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Генерируем новый скрипт":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Генерируем новый скрипт","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Зафиксировать тему":{"main":[[{"node":"Создаем скрипт","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Telegram6":{"main":[[{"node":"Расшифровка голосового1","type":"main","index":0}]]},"Telegram7":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Расшифровка голосового1":{"main":[[{"node":"Зафиксировать тему","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Зафиксировать тему","type":"main","index":0}],[{"node":"Telegram6","type":"main","index":0}],[{"node":"Принять скрипт?","type":"main","index":0}]]},"Создаем скрипт":{"main":[[{"node":"Telegram7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a80dd47b-eb7c-416c-83b8-64c2973f1ff2","triggerCount":0,"shared":[{"createdAt":"2025-07-21T13:20:04.480Z","updatedAt":"2025-07-21T13:20:04.480Z","role":"workflow:owner","workflowId":"10X3nYJJwzDr4rVx","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-21T13:20:03.115Z","updatedAt":"2025-07-21T13:20:03.115Z","id":"9EtybKpLdsANP7Gn","name":"Detector"}]}