tz-gWJUIQPdDhhLgk60.json
{"createdAt":"2025-06-26T13:29:00.052Z","updatedAt":"2025-07-07T07:44:19.080Z","id":"gWJUIQPdDhhLgk60","name":"tz","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"18e777c9-85c1-4f88-8cb4-087217b775b3","name":"Respond to Me","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"webhookId":"7d5bf84e-b2bb-4614-a34f-3d628c735b1a","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"29a65da9-ca4c-4947-bf49-aef12ab48bb6","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-2140,200],"webhookId":"bf242a0e-eba4-43ea-9dc4-b8605e20e5ab","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"={Role Model: AI Prompt Engineering Assistant for Product-Based Businesses}\n\n{Your Task:}\nYou are a smart AI assistant whose primary responsibility is to convert voice messages from users into high-quality, effective, and structured prompts. These prompts are designed for use with GPT or similar AI models. Your specialization is in the e-commerce and product-based business niche, including dropshipping, paid advertising, landing pages, customer support, analytics, Shopify, Framer, TikTok marketing, SMM, automation, and related topics.\n\n{User and Context Information:}\nYou assist entrepreneurs, marketers, and business owners who run online stores or social media-driven product businesses. These users send you audio recordings describing their ideas, problems, or requests, and you must extract their intent and turn it into a clear prompt for AI that can generate helpful output (e.g., copy, strategy, code, ad scripts, product descriptions, automation steps).\n\n{Key Objectives:}\nUnderstand the user's core intent from the voice message.\n\nIdentify the appropriate format for the prompt: copywriting, strategy, scripting, code, UX writing, marketing, automation logic, etc.\n\nExtract the key business context (platform, product, target audience, tone, region, budget, pain points).\n\nWrite a clear, focused prompt in natural language that will generate relevant and useful AI output.\n\nAdd context or refine unclear parts to improve AI understanding, without inventing or assuming facts.\n\nAsk smart clarifying questions if the voice input is vague or incomplete.\n\n{Interaction Rules:}\nAlways state your role at the beginning: you are an AI Prompt Engineer for product-based businesses.\n\nNever reply with generic answers — tailor each prompt to the user’s actual need.\n\nKeep the tone professional, clear, and business-aware.\n\nIf the user needs a prompt for a specific AI tool (e.g., ChatGPT, Midjourney, Gemini), adjust formatting accordingly.\n\nNever assume; clarify before completing if needed.\n\nYou do not generate answers to prompts — your job is to write the prompt itself.\n\n{Expected Results:}\nHelp users convert ideas into optimized AI prompts.\n\nAccelerate the user's workflow with AI-ready input.\n\nEnable users to generate better marketing, sales, or development results using AI.\n\nReduce confusion and increase the success rate of AI usage in their business.\n\n<Provide the response in: user language>"}},"id":"c5151e90-d96c-466a-96d9-e2bf501b79ac","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-780,100],"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1400,20],"id":"70a0c818-3d80-4cb1-9769-4d55a7735d5b","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1600,320],"id":"c6b6b270-44c5-4a20-90ba-867dabfe49cb","name":"Telegram","webhookId":"c65d95e9-4313-4f4e-ac6b-08313836596c","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1300,300],"id":"5129d9ca-ef9a-4de3-a335-4c4ddd92bac2","name":"OpenAI","credentials":{"openAiApi":{"id":"91EDkGLbYI2HFOUi","name":"OpenAi account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1900,200],"id":"9de80cc8-a58d-4155-8f3d-90819249f0a3","name":"Switch"},{"parameters":{"model":"anthropic/claude-sonnet-4","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-920,320],"id":"00825b35-c536-4446-91cb-a47aa4e740a8","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xGM2K7oijbUw0dGk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey"},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[-720,320],"id":"57813659-32fa-4fa6-80b7-9aeaa35f5f82","name":"Zep","credentials":{"zepApi":{"id":"DMaYCTxt1NGQ8U8s","name":"Zep Api account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3720,640],"id":"854810e6-6716-4b62-8de1-4537a0420bbe","name":"Telegram MP3","webhookId":"f508918c-8499-465b-b382-c9c18a4f19b9","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[0].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3720,840],"id":"ba781721-b6d3-4a60-9ef7-170b442e188c","name":"Telegram Photo","webhookId":"bb33f002-c83d-4636-bc19-9a968a1f1506","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"12cfdd61-844c-4908-bb9e-9709219bf651","name":"Respond to Me1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2120,120],"webhookId":"7d5bf84e-b2bb-4614-a34f-3d628c735b1a","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"0e410374-6a7a-4139-af9e-8a84aaef7ef9","name":"Telegram Trigger1","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-4260,320],"webhookId":"bf242a0e-eba4-43ea-9dc4-b8605e20e5ab","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"={Role Model: AI Prompt Engineering Assistant for Product-Based Businesses}\n\n{Your Task:}\nYou are a smart AI assistant whose primary responsibility is to convert voice messages from users into high-quality, effective, and structured prompts. These prompts are designed for use with GPT or similar AI models. Your specialization is in the e-commerce and product-based business niche, including dropshipping, paid advertising, landing pages, customer support, analytics, Shopify, Framer, TikTok marketing, SMM, automation, and related topics.\n\n{User and Context Information:}\nYou assist entrepreneurs, marketers, and business owners who run online stores or social media-driven product businesses. These users send you audio recordings describing their ideas, problems, or requests, and you must extract their intent and turn it into a clear prompt for AI that can generate helpful output (e.g., copy, strategy, code, ad scripts, product descriptions, automation steps).\n\n{Key Objectives:}\nUnderstand the user's core intent from the voice message.\n\nIdentify the appropriate format for the prompt: copywriting, strategy, scripting, code, UX writing, marketing, automation logic, etc.\n\nExtract the key business context (platform, product, target audience, tone, region, budget, pain points).\n\nWrite a clear, focused prompt in natural language that will generate relevant and useful AI output.\n\nAdd context or refine unclear parts to improve AI understanding, without inventing or assuming facts.\n\nAsk smart clarifying questions if the voice input is vague or incomplete.\n\n{Interaction Rules:}\nAlways state your role at the beginning: you are an AI Prompt Engineer for product-based businesses.\n\nNever reply with generic answers — tailor each prompt to the user’s actual need.\n\nKeep the tone professional, clear, and business-aware.\n\nIf the user needs a prompt for a specific AI tool (e.g., ChatGPT, Midjourney, Gemini), adjust formatting accordingly.\n\nNever assume; clarify before completing if needed.\n\nYou do not generate answers to prompts — your job is to write the prompt itself.\n\n{Expected Results:}\nHelp users convert ideas into optimized AI prompts.\n\nAccelerate the user's workflow with AI-ready input.\n\nEnable users to generate better marketing, sales, or development results using AI.\n\nReduce confusion and increase the success rate of AI usage in their business.\n\n<Provide the response in: user language>"}},"id":"cd5d2a7d-312e-41a6-a17b-400dd8b5233c","name":"Personal Assistant1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-2900,220],"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3520,140],"id":"9a73307d-a22b-4c98-b07b-c22e72839c16","name":"Edit Fields1"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3720,440],"id":"30f0d3a5-7d31-4578-9e53-30677a02acd1","name":"Telegram1","webhookId":"c65d95e9-4313-4f4e-ac6b-08313836596c","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3420,420],"id":"9e9cf506-1cf3-40f1-bf80-eab6bb850b1a","name":"OpenAI1","credentials":{"openAiApi":{"id":"91EDkGLbYI2HFOUi","name":"OpenAi account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.document.mime_type }}","rightValue":"audio/mpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"mp3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"string","operation":"exists"}}],"combinator":"and"},"renameOutput":true,"outputKey":"photo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4020,320],"id":"469e9315-de0a-476e-a430-24980b8295ad","name":"Switch1"},{"parameters":{"model":"anthropic/claude-sonnet-4","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3040,440],"id":"a99a730c-d9a1-44ea-8e20-ef1db0aaf320","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"xGM2K7oijbUw0dGk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey"},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[-2840,440],"id":"8ae69ff7-37fd-4c82-9a0c-bf248339d3da","name":"Zep1","credentials":{"zepApi":{"id":"DMaYCTxt1NGQ8U8s","name":"Zep Api account"}}},{"parameters":{},"name":"Prepare Image URL","type":"n8n-nodes-base.function","typeVersion":2,"position":[-6140,1360],"id":"4eda8658-0891-48a4-9ed6-f14be086688b"},{"parameters":{},"name":"GPT-4 Vision","type":"@n8n/n8n-nodes-langchain.visionOpenAi","typeVersion":1,"position":[-5920,1360],"id":"9964cd5d-c5c2-49f0-85af-d4f5af975103","credentials":{"openAiApi":{"id":"91EDkGLbYI2HFOUi","name":"OpenAi account 3"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger2').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"a9af2f47-9cf7-4811-9bb0-19642a631c23","name":"Respond to Me2","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4840,640],"webhookId":"7d5bf84e-b2bb-4614-a34f-3d628c735b1a","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"b7a1ecf7-adfe-44f8-8dd1-67b04a89d254","name":"Telegram Trigger2","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-6980,840],"webhookId":"bf242a0e-eba4-43ea-9dc4-b8605e20e5ab","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"={Role Model: AI Prompt Engineering Assistant for Product-Based Businesses}\n\n{Your Task:}\nYou are a smart AI assistant whose primary responsibility is to convert voice messages from users into high-quality, effective, and structured prompts. These prompts are designed for use with GPT or similar AI models. Your specialization is in the e-commerce and product-based business niche, including dropshipping, paid advertising, landing pages, customer support, analytics, Shopify, Framer, TikTok marketing, SMM, automation, and related topics.\n\n{User and Context Information:}\nYou assist entrepreneurs, marketers, and business owners who run online stores or social media-driven product businesses. These users send you audio recordings describing their ideas, problems, or requests, and you must extract their intent and turn it into a clear prompt for AI that can generate helpful output (e.g., copy, strategy, code, ad scripts, product descriptions, automation steps).\n\n{Key Objectives:}\nUnderstand the user's core intent from the voice message.\n\nIdentify the appropriate format for the prompt: copywriting, strategy, scripting, code, UX writing, marketing, automation logic, etc.\n\nExtract the key business context (platform, product, target audience, tone, region, budget, pain points).\n\nWrite a clear, focused prompt in natural language that will generate relevant and useful AI output.\n\nAdd context or refine unclear parts to improve AI understanding, without inventing or assuming facts.\n\nAsk smart clarifying questions if the voice input is vague or incomplete.\n\n{Interaction Rules:}\nAlways state your role at the beginning: you are an AI Prompt Engineer for product-based businesses.\n\nNever reply with generic answers — tailor each prompt to the user’s actual need.\n\nKeep the tone professional, clear, and business-aware.\n\nIf the user needs a prompt for a specific AI tool (e.g., ChatGPT, Midjourney, Gemini), adjust formatting accordingly.\n\nNever assume; clarify before completing if needed.\n\nYou do not generate answers to prompts — your job is to write the prompt itself.\n\n{Expected Results:}\nHelp users convert ideas into optimized AI prompts.\n\nAccelerate the user's workflow with AI-ready input.\n\nEnable users to generate better marketing, sales, or development results using AI.\n\nReduce confusion and increase the success rate of AI usage in their business.\n\n<Provide the response in: user language>"}},"id":"833a1980-248a-46bd-8335-cf32eb915e04","name":"Personal Assistant2","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-5620,740],"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6240,660],"id":"3d335ab8-59e2-4719-81e6-186c64e28537","name":"Edit Fields2"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-6440,960],"id":"1e497d4a-4591-4e51-a49d-b8c9841423bf","name":"Telegram2","webhookId":"c65d95e9-4313-4f4e-ac6b-08313836596c","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6140,940],"id":"21d1ea35-83c7-4a81-8508-83eb422b65d0","name":"OpenAI2","credentials":{"openAiApi":{"id":"91EDkGLbYI2HFOUi","name":"OpenAi account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.document.mime_type }}","rightValue":"audio/mpeg","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"mp3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"string","operation":"exists"}}],"combinator":"and"},"renameOutput":true,"outputKey":"photo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6740,840],"id":"96f32663-d461-432c-b6d5-54c279ea6f2d","name":"Switch2"},{"parameters":{"model":"anthropic/claude-sonnet-4","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-5760,960],"id":"555e7164-a30c-41b7-9fdc-0ae48d5eb06d","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"xGM2K7oijbUw0dGk","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey"},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[-5560,960],"id":"d6db864a-62bb-4f15-8d5f-037ce4e0bbb6","name":"Zep2","credentials":{"zepApi":{"id":"DMaYCTxt1NGQ8U8s","name":"Zep Api account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-6440,1160],"id":"918333b6-f632-43ae-a168-81ed20ab40e9","name":"Telegram MP","webhookId":"9a1b3cd9-98be-406b-b22b-7356f326a0b5","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[0].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-6440,1360],"id":"f78f91ee-1b7e-4814-8d7a-6ed008c02315","name":"Telegram Photo1","webhookId":"71a43441-fdc2-460c-8b95-96e357332f50","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75063077-7a91-4279-9247-87bc1f2327ea","leftValue":"={{ $('Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!').item.json.body.payload.value.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7640,-400],"id":"55a67b52-b1d6-487d-a9fd-f4aea08ee5a6","name":"If Image Avito"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1b981df-1731-40d2-b69e-763a59f1e0ea","leftValue":"={{ $('Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!').item.json.body.payload.value.author_id }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7640,-160],"id":"2c4b0a2d-8190-4930-bea2-de2f36242ae6","name":"If System Avito Message"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"33db131c-d7a3-4d0f-9c16-59ad4fa76f79","leftValue":"={{ $('Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!').item.json.body.payload.value.author_id }}","rightValue":"={{ $('Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!').item.json.body.payload.value.user_id }}","operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7640,100],"id":"d141e844-f88f-4c16-abff-eb811a8830e2","name":"If Seller Avito Message"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os","mode":"id"},"sheetName":{"__rl":true,"value":946928213,"mode":"list","cachedResultName":"avito_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit#gid=946928213"},"filtersUI":{"values":[{"lookupColumn":"avito_user_id","lookupValue":"={{ $('Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!').item.json.body.payload.value.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8040,-160],"id":"a3ee5ee0-f3b8-43aa-b4d7-6013408a6d2d","name":"Google Sheets Login","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.avito.ru/messenger/v1/accounts/{{ $('Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!').item.json.body.payload.value.user_id }}/chats/{{ $('Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!').item.json.body.payload.value.chat_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Google Sheets Login').item.json.last_bearer }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ \nJSON.stringify({\n  message: {\n    text: $('AI Agent').all()[0].json.output,\n  },\n  type: 'text'\n})\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6380,-160],"id":"249f790a-a8ec-4cd4-8e4c-a47a1eeba0c1","name":"HTTP Request AvitoSendMessage"},{"parameters":{"method":"POST","url":"https://api.avito.ru/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $json.client_id }}"},{"name":"client_secret","value":"={{ $json.client_secret }}"},{"name":"grant_type","value":"client_credentials"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7820,860],"id":"5e88b735-cc53-45b6-8363-44d34be19177","name":"HTTP Request Token Avito3"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os","mode":"list","cachedResultName":"AviChatter | DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946928213,"mode":"list","cachedResultName":"avito_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit#gid=946928213"},"filtersUI":{"values":[{"lookupColumn":"avichatter_client_uid","lookupValue":"id783"}]},"options":{}},"id":"9f75ab9e-833f-40a3-b831-0e96b67d8d2e","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8120,860]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1380}]}},"id":"8e4bd050-e1dc-46b1-95a9-570d86cf811a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-8400,860]},{"parameters":{"method":"POST","url":"https://api.avito.ru/messenger/v3/webhook","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.last_bearer }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{ \n  \"url\": \"ТУТ ВСТАВИТЬ ССЫЛКУ СВОЕГО ВЕБХУКА ДЛЯ ПОДПИСКИ НА СОБЫТИЯ С АВИТО\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8120,1140],"id":"0de3d108-05ed-4fb0-9d10-d4e496c908cb","name":"HTTP Avito SubWebHook Activated"},{"parameters":{"content":"АКТИВАЦИЯ ПОДПИСКИ НА ВЕБХУКИ\nС АВИТО АККАУНТА","height":80,"width":197.19657816110941,"color":4},"id":"4c09c1c8-a63c-4c5d-abb8-65204afa5cd2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8680,1160]},{"parameters":{"content":"КАЖДЫЕ 23 ЧАСА ЗАПРОС НОВОГО BEARER ПО MANUAL","height":80,"width":197.19657816110941,"color":4},"id":"94b95dcc-9441-4f81-bd69-2018d155b1ce","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8680,880]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os","mode":"list","cachedResultName":"AviChatter | DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946928213,"mode":"list","cachedResultName":"avito_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit#gid=946928213"},"filtersUI":{"values":[{"lookupColumn":"avichatter_client_uid","lookupValue":"id783"}]},"options":{}},"id":"5558c920-0fdd-49e8-91f5-0d4c0524e3e5","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8400,1140]},{"parameters":{"content":"РУЧНОЕ ПОЛУЧЕНИЕ BEARER ПО Client ID/Client Secret ЕСЛИ ВОЗНИКЛИ ОШИБКИ ","height":87.74097222393692,"width":197.19657816110941,"color":4},"id":"bacc29d9-214e-4eb5-8ea3-c0bcf8f1d7f0","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8680,1460]},{"parameters":{"method":"POST","url":"https://api.avito.ru/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $json.client_id }}"},{"name":"client_secret","value":"={{ $json.client_secret }}"},{"name":"grant_type","value":"client_credentials"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8120,1460],"id":"4b68a5ad-6b04-47e9-9f12-156a69d0d00c","name":"HTTP Request Token Manual"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os","mode":"list","cachedResultName":"AviChatter | DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946928213,"mode":"list","cachedResultName":"avito_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit#gid=946928213"},"columns":{"mappingMode":"defineBelow","value":{"avichatter_client_uid":"id783","last_bearer":"={{ $json.access_token }}"},"matchingColumns":["avichatter_client_uid"],"schema":[{"id":"avichatter_client_uid","displayName":"avichatter_client_uid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"avito_user_id","displayName":"avito_user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"oauth_code","displayName":"oauth_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"client_secret","displayName":"client_secret","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telegram_id","displayName":"telegram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telegram_username","displayName":"telegram_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_bearer","displayName":"last_bearer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gpt_assistant_id","displayName":"gpt_assistant_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"update_bearer","displayName":"update_bearer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"refresh_token","displayName":"refresh_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"scopes","displayName":"scopes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"d90c72b2-7a0a-49fd-904f-072323f33b4d","name":"Google Sheets5","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-7820,1460]},{"parameters":{"content":"ПОЛУЧЕНИЕ СПИСКА ВЕБХУК-ПОДПИСОК АККАУНТА АВИТО","height":87.74097222393692,"width":197.19657816110941,"color":4},"id":"20085ab1-9c56-4d03-9c18-db6e1ee44049","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8680,1760]},{"parameters":{"method":"POST","url":"https://api.avito.ru/messenger/v1/subscriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.last_bearer }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8120,1760],"id":"c54494b2-b9b4-4fed-a5b3-2cadd9288e8a","name":"HTTP Request Webhook Subs List"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os","mode":"list","cachedResultName":"AviChatter | DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946928213,"mode":"list","cachedResultName":"avito_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit#gid=946928213"},"filtersUI":{"values":[{"lookupColumn":"avichatter_client_uid","lookupValue":"id783"}]},"options":{}},"id":"40797bc5-c29e-4b47-835e-79a025b46b8e","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8400,1760]},{"parameters":{"content":"ОТПИСКА ОТ ВЕБХУКОВ АККАУНТА АВИТО","height":87.74097222393692,"width":197.19657816110941,"color":4},"id":"03c35225-21d7-4df7-84f9-009b4953c021","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8680,2120]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os","mode":"list","cachedResultName":"AviChatter | DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946928213,"mode":"list","cachedResultName":"avito_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit#gid=946928213"},"filtersUI":{"values":[{"lookupColumn":"avichatter_client_uid","lookupValue":"id783"}]},"options":{}},"id":"9b306d46-021c-4fcd-84f9-8276a9e44aa4","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8400,2120]},{"parameters":{"method":"POST","url":"https://api.avito.ru/messenger/v1/webhook/unsubscribe","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.last_bearer }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{ \n  \"url\": \"ТУТ ВСТАВИТЬ ССЫЛКУ СВОЕГО ВЕБХУКА ДЛЯ ОТПИСКИ ОТ СОБЫТИЙ С АВИТО\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8120,2120],"id":"c2386fe8-9a4a-49fa-9b90-b10886a4dc71","name":"HTTP Request Webhook Unsubcribe"},{"parameters":{"content":"ПОЛУЧЕНИЕ GETME АВИТО АККАУНТА","height":87.74097222393692,"width":197.19657816110941,"color":4},"id":"52486ee5-5f79-4c5e-9a33-b054d3682123","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8680,2440]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os","mode":"list","cachedResultName":"AviChatter | DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946928213,"mode":"list","cachedResultName":"avito_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit#gid=946928213"},"filtersUI":{"values":[{"lookupColumn":"avichatter_client_uid","lookupValue":"id783"}]},"options":{}},"id":"d340d528-7698-4a08-876a-4136c5c3c697","name":"Google Sheets6","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8400,2440]},{"parameters":{"url":"https://api.avito.ru/core/v1/accounts/self","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.last_bearer }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8120,2440],"id":"5d40116b-c904-4582-94da-dbe287e066cf","name":"HTTP Request Webhook Unsubcribe1"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os","mode":"list","cachedResultName":"AviChatter | DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946928213,"mode":"list","cachedResultName":"avito_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit#gid=946928213"},"filtersUI":{"values":[{"lookupColumn":"avichatter_client_uid","lookupValue":"id783"}]},"options":{}},"id":"20bf1fee-b36a-4dfc-a28e-248e0b61b941","name":"Google Sheets7","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-8400,1460]},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os","mode":"list","cachedResultName":"AviChatter | DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":946928213,"mode":"list","cachedResultName":"avito_tokens","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit#gid=946928213"},"columns":{"mappingMode":"defineBelow","value":{"avichatter_client_uid":"id783","last_bearer":"={{ $json.access_token }}"},"matchingColumns":["avichatter_client_uid"],"schema":[{"id":"avichatter_client_uid","displayName":"avichatter_client_uid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"avito_user_id","displayName":"avito_user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"oauth_code","displayName":"oauth_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"client_secret","displayName":"client_secret","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telegram_id","displayName":"telegram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telegram_username","displayName":"telegram_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_bearer","displayName":"last_bearer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gpt_assistant_id","displayName":"gpt_assistant_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"update_bearer","displayName":"update_bearer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"refresh_token","displayName":"refresh_token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"scopes","displayName":"scopes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"983d2749-e74e-484d-9914-c1d97055d91c","name":"Google Sheets4","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-7520,860]},{"parameters":{"options":{}},"id":"234677ad-9911-4fa4-a5cc-8db35440f890","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-7120,140]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os","mode":"list","cachedResultName":"AviChatter | DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":519614153,"mode":"list","cachedResultName":"balance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n2k8wVze77gM078KGLbjLKyg8yNWe11CH3OQGXHn8Os/edit#gid=519614153"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-6820,140],"id":"efefc00a-4a78-4fbb-b8ec-e7bccf045b24","name":"Get Commodity Balance"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!').item.json.body.payload.value.chat_id }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-6980,140],"id":"dd4099b6-0c48-499b-a81b-e0a544268446","name":"Window Buffer Memory"},{"parameters":{"chatId":"922702147","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{"appendAttribution":false}},"id":"f20cd4e5-eeda-4fe8-afe9-75fb8f137708","name":"Telegram Leads","type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[-6660,140],"webhookId":"0c1ebdc8-1a7d-4bc6-a3f9-c2642496d9a4"},{"parameters":{"promptType":"define","text":"={{ $('Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!').item.json.body.payload.value.content.text }}","options":{"systemMessage":"Ты нейропродавец компании по продаже детских товаров. Ты отвечаешь клиентам на Авито. Консультируешь и помогаешь совершить покупку. \n\n1) Товарные остатки - tool Get Commodity Balance\n2) Когда клиент готов купить товар запроси его имя, телефон (по одному вопросу) \n3) После получения контактов передай лид в Телеграм в формате заявки\n4) После составления заявки поинтересуйся, что может быть нужно клиенту еще, поочередно узнай для кого покупка и затем сообщи что на следующий товар действует скидка 30%."}},"id":"2a90b236-38b2-4ae7-b6e7-a32e12a5714f","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-6980,-160]},{"parameters":{"httpMethod":"POST","path":"testovyhookavitotest","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-8400,-160],"id":"c20735e9-f9b0-402b-a00a-027b640bdc12","name":"Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!","webhookId":"265863fb-dde1-490c-8ac2-d4174bb79016"},{"parameters":{"jsCode":"const data = $json.data; \n\n// Проверяем, является ли data строкой (нужно ли её парсить)\nconst parsedData = typeof data === \"string\" ? JSON.parse(data) : data;\n\n// Достаём subscriptions\nconst subscriptions = parsedData.subscriptions || [];\n\n// Проверяем, есть ли данные\nif (!Array.isArray(subscriptions)) {\n  throw new Error(\"subscriptions is not an array\");\n}\n\n// Возвращаем массив URL\nreturn subscriptions.map(sub => ({ url: sub.url }));\n"},"id":"f1c725f9-548b-4b4f-9cf0-6008e5e957da","name":"Code (отобразит списком подписки)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-7820,1760]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Personal Assistant":{"main":[[{"node":"Respond to Me","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"Zep":{"ai_memory":[[{"node":"Personal Assistant","type":"ai_memory","index":0}]]},"Telegram MP3":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Personal Assistant1":{"main":[[{"node":"Respond to Me1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Personal Assistant1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Personal Assistant1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram MP3","type":"main","index":0}],[{"node":"Telegram Photo","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Personal Assistant1","type":"ai_languageModel","index":0}]]},"Zep1":{"ai_memory":[[{"node":"Personal Assistant1","type":"ai_memory","index":0}]]},"Telegram Trigger2":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Personal Assistant2":{"main":[[{"node":"Respond to Me2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Personal Assistant2","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Personal Assistant2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}],[{"node":"Telegram MP","type":"main","index":0}],[{"node":"Telegram Photo1","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Personal Assistant2","type":"ai_languageModel","index":0}]]},"Zep2":{"ai_memory":[[{"node":"Personal Assistant2","type":"ai_memory","index":0}]]},"Telegram MP":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"If Image Avito":{"main":[[],[{"node":"If System Avito Message","type":"main","index":0}]]},"If System Avito Message":{"main":[[],[{"node":"If Seller Avito Message","type":"main","index":0}]]},"If Seller Avito Message":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets Login":{"main":[[{"node":"If Image Avito","type":"main","index":0}]]},"HTTP Request Token Avito3":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"HTTP Request Token Avito3","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"HTTP Avito SubWebHook Activated","type":"main","index":0}]]},"HTTP Request Token Manual":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"HTTP Request Webhook Subs List":{"main":[[{"node":"Code (отобразит списком подписки)","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"HTTP Request Webhook Subs List","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"HTTP Request Webhook Unsubcribe","type":"main","index":0}]]},"Google Sheets6":{"main":[[{"node":"HTTP Request Webhook Unsubcribe1","type":"main","index":0}]]},"Google Sheets7":{"main":[[{"node":"HTTP Request Token Manual","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Commodity Balance":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Leads":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request AvitoSendMessage","type":"main","index":0}]]},"Webhook ПРИВЕТ ОТ ИЛЬИ ФИЛИНА!":{"main":[[{"node":"Google Sheets Login","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c5c84254-f341-4d3e-a204-666223cbf6f3","triggerCount":1,"shared":[{"createdAt":"2025-06-26T13:29:00.052Z","updatedAt":"2025-06-26T13:29:00.052Z","role":"workflow:owner","workflowId":"gWJUIQPdDhhLgk60","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-06-12T06:56:53.448Z","updatedAt":"2025-06-12T06:56:53.448Z","id":"Q6keaQI05jBtWnju","name":"video"},{"createdAt":"2025-07-07T07:44:06.729Z","updatedAt":"2025-07-07T07:44:06.729Z","id":"x9hgED1xifUrtmeO","name":"YouTube"}]}