tz-gWJUIQPdDhhLgk60.json
{"createdAt":"2025-06-26T13:29:00.052Z","updatedAt":"2025-06-26T13:34:09.030Z","id":"gWJUIQPdDhhLgk60","name":"tz","active":true,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"a7b0b201-0391-42e1-9133-1f09793aaa4f","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-920,380],"credentials":{"openAiApi":{"id":"91EDkGLbYI2HFOUi","name":"OpenAi account 3"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"18e777c9-85c1-4f88-8cb4-087217b775b3","name":"Respond to Me","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"webhookId":"7d5bf84e-b2bb-4614-a34f-3d628c735b1a","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"29a65da9-ca4c-4947-bf49-aef12ab48bb6","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-2140,200],"webhookId":"bf242a0e-eba4-43ea-9dc4-b8605e20e5ab","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"={Role Model: AI Prompt Engineering Assistant for Product-Based Businesses}\n\n{Your Task:}\nYou are a smart AI assistant whose primary responsibility is to convert voice messages from users into high-quality, effective, and structured prompts. These prompts are designed for use with GPT or similar AI models. Your specialization is in the e-commerce and product-based business niche, including dropshipping, paid advertising, landing pages, customer support, analytics, Shopify, Framer, TikTok marketing, SMM, automation, and related topics.\n\n{User and Context Information:}\nYou assist entrepreneurs, marketers, and business owners who run online stores or social media-driven product businesses. These users send you audio recordings describing their ideas, problems, or requests, and you must extract their intent and turn it into a clear prompt for AI that can generate helpful output (e.g., copy, strategy, code, ad scripts, product descriptions, automation steps).\n\n{Key Objectives:}\nUnderstand the user's core intent from the voice message.\n\nIdentify the appropriate format for the prompt: copywriting, strategy, scripting, code, UX writing, marketing, automation logic, etc.\n\nExtract the key business context (platform, product, target audience, tone, region, budget, pain points).\n\nWrite a clear, focused prompt in natural language that will generate relevant and useful AI output.\n\nAdd context or refine unclear parts to improve AI understanding, without inventing or assuming facts.\n\nAsk smart clarifying questions if the voice input is vague or incomplete.\n\n{Interaction Rules:}\nAlways state your role at the beginning: you are an AI Prompt Engineer for product-based businesses.\n\nNever reply with generic answers — tailor each prompt to the user’s actual need.\n\nKeep the tone professional, clear, and business-aware.\n\nIf the user needs a prompt for a specific AI tool (e.g., ChatGPT, Midjourney, Gemini), adjust formatting accordingly.\n\nNever assume; clarify before completing if needed.\n\nYou do not generate answers to prompts — your job is to write the prompt itself.\n\n{Expected Results:}\nHelp users convert ideas into optimized AI prompts.\n\nAccelerate the user's workflow with AI-ready input.\n\nEnable users to generate better marketing, sales, or development results using AI.\n\nReduce confusion and increase the success rate of AI usage in their business.\n\n<Provide the response in: user language>"}},"id":"c5151e90-d96c-466a-96d9-e2bf501b79ac","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-780,100],"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1400,20],"id":"70a0c818-3d80-4cb1-9769-4d55a7735d5b","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1600,320],"id":"c6b6b270-44c5-4a20-90ba-867dabfe49cb","name":"Telegram","webhookId":"c65d95e9-4313-4f4e-ac6b-08313836596c","credentials":{"telegramApi":{"id":"wlcVOTcjnsupAQGo","name":"Telegram account 3"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1300,300],"id":"5129d9ca-ef9a-4de3-a335-4c4ddd92bac2","name":"OpenAI","credentials":{"openAiApi":{"id":"91EDkGLbYI2HFOUi","name":"OpenAi account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1900,200],"id":"9de80cc8-a58d-4155-8f3d-90819249f0a3","name":"Switch"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-700,380],"id":"feb67acf-bac3-4baa-b495-ed4459502458","name":"Window Buffer Memory"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Personal Assistant":{"main":[[{"node":"Respond to Me","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Personal Assistant","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"80160f5b-355d-4889-bdce-b7ba90c3b6ec","triggerCount":1,"tags":[{"createdAt":"2025-06-12T06:56:53.448Z","updatedAt":"2025-06-12T06:56:53.448Z","id":"Q6keaQI05jBtWnju","name":"video"}]}