v0-gpartners-xLFYTL8Q3aPtMgOd.json
{"createdAt":"2025-11-14T14:58:46.881Z","updatedAt":"2025-11-26T16:39:26.183Z","id":"xLFYTL8Q3aPtMgOd","name":"V0 Gpartners","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.v0.dev/v1/chats","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer v1:YUzgaO8EKqgjNBtDEJcixHnW:KPALPmgTgph4TcS4ROhxCJkt"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"message\": $(\"Final Prompt Builder\").item.json.enhancedPrompt,\n  \"system\": $(\"Final Prompt Builder\").item.json.systemInstruction, \n  \"responseMode\": \"sync\"\n} }}","options":{"timeout":1200000}},"id":"7a2e1225-ba7a-4db2-84f3-21630415567a","name":"Create V0 Chat","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[864,512],"alwaysOutputData":false,"retryOnFail":false,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","binaryData":true,"additionalFields":{"fileName":"dragon.website.zip"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1728,512],"id":"5361b01c-18b1-4d42-9ea9-0e032d7233ad","name":"Send a document","webhookId":"99d3e81c-2f3f-4e5c-a8d7-d8d639e3f31e","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"telegramApi":{"id":"wu1eVyv7aVQu8r7q","name":"Gpartners v0"}}},{"parameters":{"url":"=https://api.v0.dev/v1/chats/{{ $('Create V0 Chat').item.json.id }}/versions/{{ $('Create V0 Chat').item.json.latestVersion.id }}/download?format=zip&includeDefaultFiles=true","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer v1:YUzgaO8EKqgjNBtDEJcixHnW:KPALPmgTgph4TcS4ROhxCJkt"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,512],"id":"5e3ef7bb-9c59-44f1-9c44-9c350513247e","name":"Download Version","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1be8ebcd-3756-4415-a483-b1528e2b0d54","leftValue":"={{ $json.originalMessage }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,528],"id":"0e6b84d0-98ca-4ef2-a96f-aa45972f1245","name":"If"},{"parameters":{"method":"POST","url":"=https://api.v0.dev/v1/chats/{{$json.current_chat_id || $json.id}}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer v1:YUzgaO8EKqgjNBtDEJcixHnW:KPALPmgTgph4TcS4ROhxCJkt"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"message\": $(\"Final Prompt Builder\").item.json.enhancedPrompt,\n  \"responseMode\": \"sync\"\n} }}","options":{"timeout":1200000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,784],"id":"e02a453f-cdd5-461b-b7ab-626db99a1dae","name":"Send Message1","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.v0.dev/v1/chats/{{ $('Select rows from a table').item.json.current_chat_id }}/versions/{{ $('Send Message1').item.json.latestVersion.id }}/download?format=zip","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer v1:YUzgaO8EKqgjNBtDEJcixHnW:KPALPmgTgph4TcS4ROhxCJkt"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,784],"id":"79182bcf-3111-4ad7-8389-d61f0dd2fdd0","name":"Download Version1","retryOnFail":true},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","binaryData":true,"additionalFields":{"fileName":"dragon.website.zip"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1376,784],"id":"fefeab55-8b4f-4443-8091-4e955bc45525","name":"Send a document1","webhookId":"99d3e81c-2f3f-4e5c-a8d7-d8d639e3f31e","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"telegramApi":{"id":"wu1eVyv7aVQu8r7q","name":"Gpartners v0"}}},{"parameters":{"jsCode":"const postgresData = $input.first().json;\n\nreturn {\n  id: postgresData.current_chat_id,\n  sessionId: $input.first().json.sessionId,\n  chatInput: $(\"Final Prompt Builder\").item.json.enhancedPrompt,\n  debug: \"ChatId из PostgreSQL: \" + postgresData.current_chat_id\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,512],"id":"bb9d4296-0590-425c-a6a5-1036aa867d6a","name":"Code in JavaScript2"},{"parameters":{"jsCode":"const postgresData = $input.first().json;\n\nif (!postgresData || !postgresData.current_chat_id) {\n  return {\n    error: \"❌ Сначала создайте чат командой /start\",\n    chatInput: \"Please start with /start command\",\n    shouldStop: true\n  };\n}\n\nconst chatId = postgresData.current_chat_id.trim();\n\nif (!chatId || chatId.length < 5) {\n  return {\n    error: \"❌ Неверный chatId в базе данных\",\n    chatInput: \"Please start with /start command\", \n    shouldStop: true\n  };\n}\n\nreturn {\n  id: chatId,\n  chatInput: $(\"Final Prompt Builder\")?.item?.json?.enhancedPrompt || \"Continue conversation\",\n  sessionId: $input.first().json.sessionId,\n  debug: \"Найден chatId: \" + chatId\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,784],"id":"962dd263-67dc-4b56-bd38-39122b1d70c8","name":"Code in JavaScript3"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"v0_chat_sessions","mode":"list","cachedResultName":"v0_chat_sessions"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"main_session","current_chat_id":"={{ $('Create V0 Chat').item.json.id }}","updated_at":"={{ $now }}"},"matchingColumns":["session_id"],"schema":[{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"current_chat_id","displayName":"current_chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1296,512],"id":"7cc34415-92d2-43bd-9d39-373513ef2321","name":"Insert or update rows in a table","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"v0_chat_sessions","mode":"list","cachedResultName":"v0_chat_sessions"},"where":{"values":[{"column":"session_id","value":"main_session"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,784],"id":"3b59177c-f8da-4931-b985-9466618ac5b2","name":"Select rows from a table","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"workflowId":"SphN9Uz3u83F8ilf","options":{"waitForSubWorkflow":false}},"id":"475b636b-1ad0-4db2-8700-4a88d757d802","name":"Run Handler Async","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-1040,784]},{"parameters":{"jsCode":"const enhancedData = $input.first().json;\n\nif (enhancedData.error) {\n  return [{\n    sendError: true,\n    errorText: enhancedData.error,\n    userId: enhancedData.userId,\n    originalMessage: enhancedData.originalMessage,  // передаем дальше\n    shouldContinue: false\n  }];\n}\n\nreturn [{\n  sendError: false,\n  enhancedPrompt: enhancedData.enhancedPrompt,\n  userId: enhancedData.userId,\n  originalMessage: enhancedData.originalMessage,  // передаем дальше для If\n  systemInstruction: enhancedData.systemInstruction,\n  shouldContinue: true\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,528],"id":"51003ce8-03c6-45f5-904f-8fba10677ad6","name":"Error Handler"},{"parameters":{"promptType":"define","text":"=ПРОАНАЛИЗИРУЙ ЗАПРОС И СОЗДАЙ ПРАВИЛЬНЫЙ ОТВЕТ:\n\nЕСЛИ запрос начинается с /start или содержит описание нового сайта:\nИЗВЛЕКИ СУТЬ И СОЗДАЙ УНИКАЛЬНЫЙ ПРОМПТ:\n[тип сайта] с [функции] на [язык] языке в стиле [стиль] с [элемент]. Исключить: [запрещенные темы]\n\nЕСЛИ это продолжение/изменение существующего сайта (добавить, изменить, убрать):\nПЕРЕДАЙ СООБЩЕНИЕ КАК ЕСТЬ БЕЗ ИЗМЕНЕНИЙ\n\nПРАВИЛА ДЛЯ НОВЫХ САЙТОВ:\n1. Определи язык запроса и отвечай на том же языке\n2. Извлеки тип бизнеса и ключевые функции  \n3. Если указан язык сайта - используй его, иначе язык запроса\n4. Если есть запрещенные темы - добавь \"Исключить: [темы]\"\n5. Добавь случайный стиль: [минимализм, темная тема, светлая, яркая, корпоративная]\n6. Добавь случайный элемент: [анимациями, интерактивными элементами, уникальной типографикой, градиентами]\n\nПРИМЕРЫ:\n• \"/start новостной сайт для Франции\" → \"Новостной портал с лентой новостей на французском языке в стиле профессиональный корпоративный стиль с уникальной типографикой\"\n• \"добавь раздел контактов\" → \"добавь раздел контактов\"\n• \"сделай синий цвет вместо красного\" → \"сделай синий цвет вместо красного\"\n• \"добавь галерею фотографий команды\" → \"добавь галерею фотографий команды\"\n• \"убери анимации они тормозят\" → \"убери анимации они тормозят\"\n\nЗАПРОС: {{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"Ты - креативный ассистент для создания уникальных промптов. Твоя задача - извлекать суть запроса и добавлять случайные стилевые варианты для разнообразия дизайнов. Отвечай ТОЛЬКО финальным промптом."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-16,528],"id":"4d55ddf2-fc89-4a32-ab64-746ba34b39b5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[32,672],"id":"a78baad7-ee54-422a-af67-2cefb97b68ed","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"VAO2BfJK4QmRpVmf","name":"gpartners"}}},{"parameters":{"jsCode":"const inputData = $('Prepare for AI').item.json;\nconst aiResponse = $('AI Agent').item.json.output; // Используем .output\n\nconst finalPrompt = `${aiResponse}\n\nCreate STATIC HTML/CSS/JS website only.\n\nREQUIRED:\n- Pure HTML5, vanilla CSS, vanilla JavaScript only\n- Static files ready to deploy\n- Mobile responsive\n- Multi-page deep website with intuitive navigation\n- FAQ section, privacy policy\n- Cookie banner on ALL pages that shows on every page load\n- Use reliable image sources (placeholder.com, unsplash, etc.) - no broken images\n- Follow user instructions exactly`;\n\nreturn [{\n  originalMessage: inputData.originalMessage,\n  enhancedPrompt: finalPrompt,\n  cleanedPrompt: aiResponse,\n  userId: inputData.userId,\n  systemInstruction: \"You are a web developer who creates only static websites without frameworks. Add cookie banner to every HTML page that appears at bottom with Accept/Decline buttons. Banner should show on every page load until user clicks a button.\"\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,528],"id":"7a9f095e-601a-45b0-8894-8018c67f467a","name":"Final Prompt Builder"},{"parameters":{"jsCode":"const telegramData = $input.first().json;\n\nreturn [{\n  cleanMessage: telegramData.message.text.replace(/^\\/start\\s*/, ''),\n  originalMessage: telegramData.message.text,\n  userId: telegramData.message.from.id\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,784],"id":"49355e03-ea73-4207-8bc6-30d2f7b0023b","name":"Prepare for AI"},{"parameters":{"jsCode":"const inputData = $input.first().json;\n\nconst isPureStart = inputData.originalMessage === '/start' || \n                   inputData.originalMessage === '/start@your_bot_name' ||\n                   inputData.originalMessage === '/start ' || \n                   inputData.cleanMessage.trim() === '';\n\nreturn [{\n  isPureStart: isPureStart,\n  userId: inputData.userId,\n  originalMessage: inputData.originalMessage,\n  cleanMessage: inputData.cleanMessage\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,784],"id":"bfdf4711-2ea5-41a7-a365-933fad7dcce7","name":"Check for Pure Start"},{"parameters":{"chatId":"={{ $('Check for Pure Start').item.json.userId }}","text":"=Привет! 👋 Я бот для создания сайтов.\n\n🤖 **Что я умею:**\n• Создавать статические сайты на HTML/CSS/JS\n• Генерировать многостраничные сайты  \n• Добавлять адаптивный дизайн\n• Создавать сайты на разных языках\n\n🚀 **Чтобы начать НОВЫЙ проект:**\nНапишите `/start [ваш запрос]`\n\n*Примеры:*\n`/start интернет-магазин для продажи цветов`\n`/start сайт-портфолио для дизайнера` \n`/start лендинг для кафе с меню`\n\n📝 **Чтобы продолжить РАБОТУ в текущем проекте:**\nПросто напишите что нужно добавить/изменить *без команды /start*\n\n*Примеры:*\nдобавь раздел контактов\nсделай синий цвет вместо красного\nубери анимации они тормозят\nдобавь галерею фотографий команды\n\nЯ запоминаю ваш последний проект и все изменения делаю в нем! ✨","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-416,1120],"id":"b21a3a62-94a2-4192-9fab-28a167b94012","name":"Send a text message","webhookId":"ab87ebac-a58f-4208-a3cf-f26c3cb29494","credentials":{"telegramApi":{"id":"wu1eVyv7aVQu8r7q","name":"Gpartners v0"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1be8ebcd-3756-4415-a483-b1528e2b0d54","leftValue":"={{ $json.isPureStart }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,784],"id":"e4604956-9604-48e7-b66d-ba3485758228","name":"If1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-432,704],"id":"e81766ed-8c93-4a1e-9c67-c49d5538517d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"VAO2BfJK4QmRpVmf","name":"gpartners"}}},{"parameters":{"promptType":"define","text":"=Фокус: Обработка запроса, разработка дизайна, создание сайта.\n\nКлючевые требования:\n\nФормат: 1 предложение.\n\nСтиль: Профессиональный. Используй глаголы действия и современную деловую лексику (например: анализируем, проектируем, имплементируем, проводим итерацию).\n\nЭмодзи: Используй 1 релевантный эмодзи для визуального акцента. Не перегружай.\n\nУникальность: Избегай клише. Используй разные метафоры из сфер архитектуры, инженерии или кибернетики.\n\nПримеры для вдохновения (более высокий уровень):\n\n\"Анализируем задачу → в процессе создания вашего будущего сайта\"\n\n\"Обрабатываем ТЗ → переходим к проектированию архитектуры вашего веб-ресурса\"\n\n\"Оптимизируем входящие данные → запускаем процесс разработки вашего сайта\"\n\n","options":{"systemMessage":"Ты — senior-копирайтер в веб-студии. Создай короткое, лаконичное и профессиональное сообщение о процессе веб-разработки для статуса в CRM-системе или трекере задач."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-432,528],"id":"c295ef67-c20b-47d4-99b2-77a02c91e5a7","name":"Status Message AI"},{"parameters":{"chatId":"={{ $('Prepare for AI').item.json.userId }}","text":"={{ $('Status Message AI').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-160,528],"id":"47893b78-5ee8-471b-83d4-81cf1065d175","name":"Send a text message1","webhookId":"ab87ebac-a58f-4208-a3cf-f26c3cb29494","credentials":{"telegramApi":{"id":"wu1eVyv7aVQu8r7q","name":"Gpartners v0"}}},{"parameters":{"url":"=https://api.v0.dev/v1/reports/usage","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"parameters\": [\n    {\n      \"name\": \"limit\", \n      \"value\": \"1\"\n    },\n    {\n      \"name\": \"chatId\",\n      \"value\": \"{{ $json.id }}\"\n    }\n  ]\n}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer v1:YUzgaO8EKqgjNBtDEJcixHnW:KPALPmgTgph4TcS4ROhxCJkt"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,512],"id":"fb1f9b93-85ad-4cd7-a0cf-827ef5dfd201","name":"Check Cost - New Chat","retryOnFail":true},{"parameters":{"jsCode":"const costData = $input.first().json;\nconst chatInfo = $('Create V0 Chat').item?.json || $('Send Message1').item?.json;\n\nconst currentChatId = chatInfo?.id;\n\nconst currentChatUsage = costData.data.find(item => item.chatId === currentChatId);\n\nconst usage = currentChatUsage || (costData.data && costData.data[0]);\n\nreturn [{\n  costInfo: usage ? `💰 Стоимость: $${usage.totalCost}` : '❌ Данные о стоимости не найдены',\n  totalCost: usage?.totalCost || 0,\n  promptCost: usage?.promptCost || 0,\n  completionCost: usage?.completionCost || 0,\n  chatId: usage?.chatId,\n  messageId: usage?.messageId,\n  timestamp: new Date().toISOString()\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,512],"id":"9a140554-05f1-425d-8ae0-f5654654d535","name":"Debug AI Output1"},{"parameters":{"url":"=https://api.v0.dev/v1/reports/usage","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"parameters\": [\n    {\n      \"name\": \"limit\", \n      \"value\": \"1\"\n    },\n    {\n      \"name\": \"chatId\",\n      \"value\": \"{{ $json.id }}\"\n    }\n  ]\n}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer v1:YUzgaO8EKqgjNBtDEJcixHnW:KPALPmgTgph4TcS4ROhxCJkt"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,784],"id":"3e1896d3-cc37-4b0e-bb26-094649d20f88","name":"Check Cost - New Chat1"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS v0_chat_sessions (\n    session_id VARCHAR(255) PRIMARY KEY,\n    current_chat_id VARCHAR(255),\n    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n    prompt_parts TEXT[],\n    current_part_index INTEGER DEFAULT 0,\n    total_parts INTEGER DEFAULT 1\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],"id":"6e97051d-b317-4484-8bc5-8c73b21e14d4","name":"Execute a SQL query","credentials":{"postgres":{"id":"AkmmRx4HcufiDR0I","name":"база тест"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"=https://airtable.com/appytVB9oTfFzsdw4","mode":"url"},"table":{"__rl":true,"value":"tblkMNX25scpMgzGJ","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appmS0WhJfBg0Ga2l/tblkMNX25scpMgzGJ"},"columns":{"mappingMode":"defineBelow","value":{"Кто добавил":"={{ $json['Кто добавил'] }}","Баер":"={{ $json['Баер'] }}","Promt баєра":"={{ $json['Promt баєра'] }}","AI ":"V0/Vercel ","Статус":"Сделано","Ціна":2,"git":"={{ $json.git }}","total count":"={{ $json.debug.apiCost }}"},"matchingColumns":[],"schema":[{"id":"Кто добавил","displayName":"Кто добавил","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Баер","displayName":"Баер","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Promt баєра","displayName":"Promt баєра","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AI ","displayName":"AI ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Builder ","value":"Builder "},{"name":"BOLT ","value":"BOLT "},{"name":"Genspark","value":"Genspark"},{"name":"DeepSeek","value":"DeepSeek"},{"name":"GPT 5","value":"GPT 5"},{"name":"GROK ","value":"GROK "},{"name":"GEMINI","value":"GEMINI"},{"name":"Qwen 2.5","value":"Qwen 2.5"},{"name":"Kling","value":"Kling"},{"name":"V0/Vercel ","value":"V0/Vercel "},{"name":"Сделано","value":"Сделано"},{"name":"Emergent","value":"Emergent"},{"name":"Orchids","value":"Orchids"},{"name":"Codex","value":"Codex"}],"readOnly":false,"removed":false},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Взять в работу","value":"Взять в работу"},{"name":"В работе","value":"В работе"},{"name":"Сделано","value":"Сделано"},{"name":"База","value":"База"},{"name":"Видано ","value":"Видано "},{"name":"Помилка переробка","value":"Помилка переробка"},{"name":"Видача томі ","value":"Видача томі "}],"readOnly":false,"removed":false},{"id":"git","displayName":"git","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"total count","displayName":"total count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Ціна","displayName":"Ціна","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Дата","displayName":"Дата","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2336,512],"id":"e2a1b21f-471b-4508-b4aa-10aac037be00","name":"Create a record1","credentials":{"airtableTokenApi":{"id":"CYzsM5RoKaBPWe3k","name":"gpartners"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"generationsites","mode":"name"},"repository":{"__rl":true,"value":"dragonwhite","mode":"list","cachedResultName":"dragonwhite","cachedResultUrl":"https://github.com/generationsites/dragonwhite"},"filePath":"=websites/website_{{ Date.now() }}.zip","binaryData":true,"binaryPropertyName":"=data","commitMessage":"feat: generate multi-page React application with modern UI"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2016,512],"id":"6ecfbf3b-8ad6-4c03-b616-600711026a61","name":"Create a file","webhookId":"eff69b9f-8f53-4fa1-b939-4ffc587b03f2","credentials":{"githubApi":{"id":"I0ULvqJWGZe0pnCk","name":"dragonwhite git"}}},{"parameters":{"jsCode":"const downloadVersionData = $(\"Download Version\").first();\n\nif (!downloadVersionData?.binary?.data) {\n  throw new Error(\"❌ Бинарные данные не найдены в Download Version узле\");\n}\n\nconst timestamp = new Date().getTime();\nconst githubFileName = `website_${timestamp}.zip`;\n\nconsole.log(\"📁 Файл для GitHub:\", githubFileName);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    restoredFrom: \"Download Version\",\n    githubFileName: githubFileName,\n    fileInfo: {\n      originalFileName: downloadVersionData.binary.data.fileName,\n      fileSize: downloadVersionData.binary.data.fileSize,\n      mimeType: downloadVersionData.binary.data.mimeType\n    },\n    debug: \"✅ Бинарные данные восстановлены для GitHub\"\n  },\n  binary: {\n    data: downloadVersionData.binary.data\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,512],"id":"3cebbaca-265a-4e90-9d8f-574be0aa5d19","name":"git"},{"parameters":{"jsCode":"const downloadVersionData = $(\"Download Version\").first();\n\nif (!downloadVersionData?.binary?.data) {\n  throw new Error(\"❌ Бинарные данные не найдены в Download Version узле\");\n}\n\nconst timestamp = new Date().getTime();\nconst githubFileName = `website_${timestamp}.zip`;\n\nconsole.log(\"📁 Файл для GitHub:\", githubFileName);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    restoredFrom: \"Download Version\",\n    githubFileName: githubFileName,\n    fileInfo: {\n      originalFileName: downloadVersionData.binary.data.fileName,\n      fileSize: downloadVersionData.binary.data.fileSize,\n      mimeType: downloadVersionData.binary.data.mimeType\n    },\n    debug: \"✅ Бинарные данные восстановлены для GitHub\"\n  },\n  binary: {\n    data: downloadVersionData.binary.data\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,784],"id":"2e447486-8f8f-43a7-8adc-0fed1daf19c2","name":"git1"},{"parameters":{"jsCode":"const inputData = $input.first();\n\nconst costResponse = $(\"Check Cost - New Chat\").first()?.json || {};\nconst costData = costResponse.data || [];\n\nconst currentChat = $(\"Create V0 Chat\").first()?.json || {};\nconst currentChatId = currentChat.id;\n\nlet currentChatCost = 0;\nif (currentChatId && costData.length > 0) {\n  const chatUsage = costData.find(item => item.chatId === currentChatId);\n  if (chatUsage) {\n    currentChatCost = parseFloat(chatUsage.totalCost) || 0;\n  } else {\n    currentChatCost = parseFloat(costData[0].totalCost) || 0;\n  }\n}\n\nconsole.log(\"💰 Current chat ID:\", currentChatId);\nconsole.log(\"💰 Found cost:\", currentChatCost);\n\nconst githubResponse = $(\"Create a file\").first()?.json || {};\nconst gitUrl = githubResponse.content?._links?.html || \"GitHub link not available\";\n\nconst telegramData = $(\"Telegram Trigger\").first()?.json || {};\n\nconst basePrice = 2;\nconst apiCost = currentChatCost;\nconst finalPrice = basePrice + (apiCost * 100);\n\nconst totalCount = costResponse.meta?.totalCount || 1;\n\nconsole.log(\"📊 Final calculation:\", {\n  basePrice,\n  apiCost,\n  finalPrice,\n  totalCount\n});\n\nreturn [{\n  json: {\n    \"Кто добавил\": telegramData.message?.from?.username || \"unknown\",\n    \"Баер\": telegramData.message?.chat?.first_name || \"Unknown\",\n    \"Promt баєра\": telegramData.message?.text || \"No prompt\",\n    \"AI \": \"V0/Vercel \",\n    \"Статус\": \"Сделано\",\n    \"ZIP\": [],\n    \"total count\": totalCount,\n    \"Ціна\": finalPrice,\n    \"git\": gitUrl,\n    \"Дата\": new Date().toISOString(),\n    \n    debug: {\n      currentChatId: currentChatId,\n      apiCost: apiCost,\n      basePrice: basePrice,\n      finalPrice: finalPrice,\n      totalCount: totalCount,\n      githubSuccess: !!githubResponse.content,\n      costDataLength: costData.length\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,512],"id":"ecf86b6b-5f98-415c-ac4e-4bd31117489c","name":"total_cost"},{"parameters":{"jsCode":"const inputData = $input.first();\n\nconst costResponse = $(\"Check Cost - New Chat\").first()?.json || {};\nconst costData = costResponse.data || [];\n\nconst currentChat = $(\"Create V0 Chat\").first()?.json || {};\nconst currentChatId = currentChat.id;\n\nlet currentChatCost = 0;\nif (currentChatId && costData.length > 0) {\n  const chatUsage = costData.find(item => item.chatId === currentChatId);\n  if (chatUsage) {\n    currentChatCost = parseFloat(chatUsage.totalCost) || 0;\n  } else {\n    currentChatCost = parseFloat(costData[0].totalCost) || 0;\n  }\n}\n\nconsole.log(\"💰 Current chat ID:\", currentChatId);\nconsole.log(\"💰 Found cost:\", currentChatCost);\n\nconst githubResponse = $(\"Create a file\").first()?.json || {};\nconst gitUrl = githubResponse.content?._links?.html || \"GitHub link not available\";\n\nconst telegramData = $(\"Telegram Trigger\").first()?.json || {};\n\nconst basePrice = 2;\nconst apiCost = currentChatCost;\nconst finalPrice = basePrice + (apiCost * 100);\n\nconst totalCount = costResponse.meta?.totalCount || 1;\n\nconsole.log(\"📊 Final calculation:\", {\n  basePrice,\n  apiCost,\n  finalPrice,\n  totalCount\n});\n\nreturn [{\n  json: {\n    \"Кто добавил\": telegramData.message?.from?.username || \"unknown\",\n    \"Баер\": telegramData.message?.chat?.first_name || \"Unknown\",\n    \"Promt баєра\": telegramData.message?.text || \"No prompt\",\n    \"AI \": \"V0/Vercel \",\n    \"Статус\": \"Сделано\",\n    \"ZIP\": [],\n    \"total count\": totalCount,\n    \"Ціна\": finalPrice,\n    \"git\": gitUrl,\n    \"Дата\": new Date().toISOString(),\n    \n    debug: {\n      currentChatId: currentChatId,\n      apiCost: apiCost,\n      basePrice: basePrice,\n      finalPrice: finalPrice,\n      totalCount: totalCount,\n      githubSuccess: !!githubResponse.content,\n      costDataLength: costData.length\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,784],"id":"21e5c9c7-2c27-4378-95ee-672164129a13","name":"total_cost1"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"=https://airtable.com/appytVB9oTfFzsdw4","mode":"url"},"table":{"__rl":true,"value":"tblkMNX25scpMgzGJ","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appmS0WhJfBg0Ga2l/tblkMNX25scpMgzGJ"},"columns":{"mappingMode":"defineBelow","value":{"Кто добавил":"={{ $json['Кто добавил'] }}","Баер":"={{ $json['Баер'] }}","Promt баєра":"={{ $json['Promt баєра'] }}","AI ":"V0/Vercel ","Статус":"Сделано","Ціна":2,"git":"={{ $json.git }}","total count":"={{ $json.debug.apiCost }}"},"matchingColumns":[],"schema":[{"id":"Кто добавил","displayName":"Кто добавил","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Баер","displayName":"Баер","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Promt баєра","displayName":"Promt баєра","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AI ","displayName":"AI ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Builder ","value":"Builder "},{"name":"BOLT ","value":"BOLT "},{"name":"Genspark","value":"Genspark"},{"name":"DeepSeek","value":"DeepSeek"},{"name":"GPT 5","value":"GPT 5"},{"name":"GROK ","value":"GROK "},{"name":"GEMINI","value":"GEMINI"},{"name":"Qwen 2.5","value":"Qwen 2.5"},{"name":"Kling","value":"Kling"},{"name":"V0/Vercel ","value":"V0/Vercel "},{"name":"Сделано","value":"Сделано"},{"name":"Emergent","value":"Emergent"},{"name":"Orchids","value":"Orchids"},{"name":"Codex","value":"Codex"}],"readOnly":false,"removed":false},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Взять в работу","value":"Взять в работу"},{"name":"В работе","value":"В работе"},{"name":"Сделано","value":"Сделано"},{"name":"База","value":"База"},{"name":"Видано ","value":"Видано "},{"name":"Помилка переробка","value":"Помилка переробка"},{"name":"Видача томі ","value":"Видача томі "}],"readOnly":false,"removed":false},{"id":"git","displayName":"git","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"total count","displayName":"total count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Ціна","displayName":"Ціна","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Дата","displayName":"Дата","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2016,784],"id":"333a666a-df2d-4eef-b61b-4b15fa19566e","name":"Create a record","credentials":{"airtableTokenApi":{"id":"CYzsM5RoKaBPWe3k","name":"gpartners"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"generationsites","mode":"name"},"repository":{"__rl":true,"value":"dragonwhite","mode":"list","cachedResultName":"dragonwhite","cachedResultUrl":"https://github.com/generationsites/dragonwhite"},"filePath":"=websites/website_{{ Date.now() }}.zip","binaryData":true,"binaryPropertyName":"=data","commitMessage":"feat: generate multi-page React application with modern UI"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1664,784],"id":"19ae9303-f101-48fd-b95b-b616d339ac8b","name":"Create a file1","webhookId":"eff69b9f-8f53-4fa1-b939-4ffc587b03f2","credentials":{"githubApi":{"id":"I0ULvqJWGZe0pnCk","name":"dragonwhite git"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1264,784],"id":"74e286ca-6ff6-4e16-b81b-ca999da11f24","name":"Telegram Trigger","webhookId":"5d07a715-064f-4f3c-b7d9-512187eff7ed","credentials":{"telegramApi":{"id":"wu1eVyv7aVQu8r7q","name":"Gpartners v0"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=🚨 **ОШИБКА ГЕНЕРАЦИИ САЙТА**\n\n❌ К сожалению, не удалось создать ваш сайт\n\n⚡ **Причина:** Временная проблема с AI-сервисом\n🕒 **Время:** {{ new Date().toLocaleString('ru-RU') }}\n\n🔄 **Решение:** \n• Попробуйте отправить запрос еще раз через 1-2 минуты\n• Убедитесь, что запрос четко описывает нужный сайт\n\nЕсли проблема повторяется - свяжитесь с поддержкой!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1056,256],"id":"e69090b2-6715-4057-bf12-ae934fa1a25c","name":"Send a text message2","webhookId":"1bc8a9aa-bebd-45d8-8a85-883c26ca36cf","credentials":{"telegramApi":{"id":"wu1eVyv7aVQu8r7q","name":"Gpartners v0"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=🚨 **ОШИБКА ГЕНЕРАЦИИ САЙТА**\n\n❌ К сожалению, не удалось создать ваш сайт\n\n⚡ **Причина:** Временная проблема с AI-сервисом\n🕒 **Время:** {{ new Date().toLocaleString('ru-RU') }}\n\n🔄 **Решение:** \n• Попробуйте отправить запрос еще раз через 1-2 минуты\n• Убедитесь, что запрос четко описывает нужный сайт\n\nЕсли проблема повторяется - свяжитесь с поддержкой!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[944,1120],"id":"fca7eb58-032f-4b69-abdb-91ddff2b7b1d","name":"Send a text message3","webhookId":"1bc8a9aa-bebd-45d8-8a85-883c26ca36cf","credentials":{"telegramApi":{"id":"wu1eVyv7aVQu8r7q","name":"Gpartners v0"}}}],"connections":{"Create V0 Chat":{"main":[[{"node":"Check Cost - New Chat","type":"main","index":0}],[{"node":"Send a text message2","type":"main","index":0}]]},"Download Version":{"main":[[{"node":"Send a document","type":"main","index":0}]]},"If":{"main":[[{"node":"Create V0 Chat","type":"main","index":0}],[{"node":"Select rows from a table","type":"main","index":0}]]},"Send Message1":{"main":[[{"node":"Check Cost - New Chat1","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}]]},"Download Version1":{"main":[[{"node":"Send a document1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Download Version","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Download Version1","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Send Message1","type":"main","index":0}]]},"Run Handler Async":{"main":[[{"node":"Prepare for AI","type":"main","index":0}]]},"Error Handler":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Final Prompt Builder","type":"main","index":0}]]},"Final Prompt Builder":{"main":[[{"node":"Error Handler","type":"main","index":0}]]},"Prepare for AI":{"main":[[{"node":"Check for Pure Start","type":"main","index":0}]]},"Check for Pure Start":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Status Message AI","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Status Message AI","type":"ai_languageModel","index":0}]]},"Status Message AI":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Check Cost - New Chat":{"main":[[{"node":"Debug AI Output1","type":"main","index":0}]]},"Check Cost - New Chat1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Debug AI Output1":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]},"Send a document1":{"main":[[{"node":"git1","type":"main","index":0}]]},"Send a document":{"main":[[{"node":"git","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"total_cost","type":"main","index":0}]]},"git":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"git1":{"main":[[{"node":"Create a file1","type":"main","index":0}]]},"total_cost":{"main":[[{"node":"Create a record1","type":"main","index":0}]]},"total_cost1":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"Create a file1":{"main":[[{"node":"total_cost1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Run Handler Async","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b88176ba-59db-4c25-bd72-223dbe983432","triggerCount":1,"shared":[{"createdAt":"2025-11-14T14:58:46.881Z","updatedAt":"2025-11-14T14:58:46.881Z","role":"workflow:owner","workflowId":"xLFYTL8Q3aPtMgOd","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}