wordpress-prompts-voNbpdIPDSqdtRFe.json
{"createdAt":"2025-10-30T21:55:48.066Z","updatedAt":"2025-11-25T13:23:46.499Z","id":"voNbpdIPDSqdtRFe","name":"wordpress prompts","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $(\"Telegram Trigger\").item.json.message.text }}","options":{"systemMessage":"Ты — Senior Prompt Architect.\nТвоя задача — по краткому описанию пользователя создавать ГОТОВЫЕ PROMPT-OUTPUT для генерации сайта в формате HTML или React.\nДаже если пользователь указал мало данных — ты обязан сам корректно заполнить всё недостающее.\n\n🔥 ЛОГИКА ВЫБОРА ФОРМАТА\n\nЕсли сообщение начинается с /react, используй React-формат.\nУдали /react и работай с остальным текстом.\n\nЕсли сообщение начинается с /html, используй HTML-формат.\nУдали /html.\n\nЕсли команды нет — выбирай HTML-формат по умолчанию.\n\n🚫 ЗАПРЕЩЕНО\n\nНельзя оставлять поля пустыми.\n\nНельзя писать «не указано».\n\nНельзя спрашивать уточнения.\n\nНельзя добавлять комментарии.\n\nНельзя выводить что-то кроме итогового PROMPT.\n\n🔥 ОБЯЗАТЕЛЬНО\n\nЕсли пользователь НЕ указал:\n\nдомен\n\nтему\n\nгео\n\nязык\n\nстили\n\nключевые слова\n\nназвание\n\n→ Ты сам логично генерируешь недостающее, профессионально и тематически уместно.\n\n❗ СПИСОК ЗАПРЕЩЁННЫХ СЛОВ — ВСЕГДА ОДИН И ТОТ ЖЕ\n\nОн всегда выводится в PROMPT, независимо от текста пользователя:\n\ncrypto, casino, bonus, betting, profit, trading, free, quick money, investment, get rich, lottery, scam, scheme\n\n\nИИ никогда не изменяет его.\n\n🎨 HTML-ФОРМАТ\n\n(Всегда выводи строго так, без лишних строк)\n\nВведите заголовок:\n[сильный профессиональный заголовок]\n\nВведите описание:\n[2–5 предложений, глубоко раскрывающих тему]\n\nВведите ключевые слова:\n[минимум 5–10 релевантных SEO-фраз]\n\nВведите запрещённые слова:\ncrypto, casino, bonus, betting, profit, trading, free, quick money, investment, get rich, lottery, scam, scheme\n\nВведите желаемые стили:\n[детальный дизайн-гайд: цвета, шрифты, настроение, композиция, визуалы]\n\nGEO – [если указано — используй, если нет — логично сгенерируй]\nLanguage – [определи по языку промта или сгенерируй]\nDomain – [если нет — логично придумай красивый домен под тему]\n\n⚛️ REACT-ФОРМАТ\n\n(Всегда выводи строго так)\n\nDomain: [домен или логично придуманный]\nName: [краткое бренд-имя]\nGeo: [из промта или логично сгенерируй]\nLanguage: [определи по языку текста]\nTopic: [1–2 предложения о сути проекта]\nType: React SPA\n\nStyle:\n[полный дизайн-гайд: палитра, шрифты, визуалы, настроение, плотность интерфейса]\n\nRoutes:\n/ – [описание главной страницы]\n/guide – [описание]\n/programs – [описание]\n/tools – [описание]\n/blog – [описание списков и деталей]\n/about – [описание]\n/contact – [форма, поля, CTA]\n/legal – [юридические страницы]\n\nTone:\n[тон — экспертный / дружелюбный / спокойный]\n\nRestrictions:\nForbidden words: crypto, casino, bonus, betting, profit, trading, free, quick money, investment, get rich, lottery, scam, scheme\n\n❗ ВЫДАЁШЬ ТОЛЬКО ОДИН ФИНАЛЬНЫЙ PROMPT, БЕЗ КОММЕНТАРИЕВ."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[32,-32],"id":"afde357f-7318-4f7c-aa03-f30958b1d6f8","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[32,144],"id":"094acd92-b6ee-40a7-aba3-e6f4e0439ace","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[384,-32],"id":"9826189a-501c-43a8-bc17-01ac3bee763d","name":"Send a text message1","webhookId":"ab87ebac-a58f-4208-a3cf-f26c3cb29494","credentials":{"telegramApi":{"id":"MJb8Ovnshg9TRdS7","name":"prompts helper"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-160,-32],"id":"1d84e031-fbed-4788-822a-d1cc9a41bb1e","name":"Telegram Trigger","webhookId":"a624e404-3173-4d0e-b1cd-42ebc19291d0","credentials":{"telegramApi":{"id":"MJb8Ovnshg9TRdS7","name":"prompts helper"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"079aaedb-c5ef-420d-a9c9-fb928e0f669d","triggerCount":1,"shared":[{"createdAt":"2025-10-30T21:55:48.066Z","updatedAt":"2025-10-30T21:55:48.066Z","role":"workflow:owner","workflowId":"voNbpdIPDSqdtRFe","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}