youtube-i3zXStzbZxOUl5eZ.json
{"createdAt":"2025-08-08T10:29:58.763Z","updatedAt":"2025-08-14T09:54:56.729Z","id":"i3zXStzbZxOUl5eZ","name":"Youtube","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.youtube.com/feeds/videos.xml?channel_id=UCrzwOa2lzzPjfiLIn7Y8SrQ","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1456,-496],"id":"8af71aae-49ef-4477-b579-49e611c411c3","name":"RSS Read"},{"parameters":{"maxItems":2},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-208,-496],"id":"78458931-1611-4008-a798-239d98026254","name":"Limit"},{"parameters":{"fieldToSplitOut":"videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1536,-16],"id":"78fa9271-8592-4179-baa4-91efb91ec9b4","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1216,-16],"id":"a8fd3d88-848e-4a3d-a1db-2e5ec6c1a4b6","name":"Loop Over Items"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"=1m2woX8Pzq66MxsMWNk2i7zgXnDVCNzm_QWP5Q_TeL8k","mode":"id"},"sheetName":{"__rl":true,"value":856427950,"mode":"list","cachedResultName":"Sheets_Video_TEST_VIZARD - Ready Shoots","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1m2woX8Pzq66MxsMWNk2i7zgXnDVCNzm_QWP5Q_TeL8k/edit#gid=856427950"},"columns":{"mappingMode":"defineBelow","value":{"Caption":"={{ $json.message.content.caption }}","viralScore":"={{ $('Split Out').item.json.viralScore }}","videoUrl":"={{ $('Split Out').item.json.videoUrl }}","videoMsDuration":"={{ $('Split Out').item.json.videoMsDuration }}","videoId":"={{ $('Split Out').item.json.videoId }}","title":"={{ $('Split Out').item.json.title }}","viralReason":"={{ $('Split Out').item.json.viralReason }}","transcript":"={{ $('Извлекаем Клипы').item.json.videos[0].transcript }}","relatedTopic":"={{ $('Извлекаем Клипы').item.json.videos[0].relatedTopic }}","clipEditorUrl":"={{ $('Извлекаем Клипы').item.json.videos[0].clipEditorUrl }}","project ID":"={{ $('Извлекаем Клипы').item.json.projectId }}"},"matchingColumns":[],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"videoUrl","displayName":"videoUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"videoMsDuration","displayName":"videoMsDuration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"viralScore","displayName":"viralScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"viralReason","displayName":"viralReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"relatedTopic","displayName":"relatedTopic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"clipEditorUrl","displayName":"clipEditorUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"project ID","displayName":"project ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-448,96],"id":"8ac82e9e-8e27-4bf1-9042-3079f8ca996c","name":"Append row in sheet","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-128,96],"id":"dcda1ffc-ee25-4f55-93ec-b42c47765684","name":"Wait","webhookId":"3ddb48b9-7f04-40e9-9121-1cabb9b52eb5"},{"parameters":{"chatId":"7227544842","text":"=Видео по проекту: {{ $('Извлекаем Клипы').item.json.projectId }} готовы. И доступны в таблице: https://docs.google.com/spreadsheets/d/1m2woX8Pzq66MxsMWNk2i7zgXnDVCNzm_QWP5Q_TeL8k/edit?gid=856427950#gid=856427950","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-880,-144],"id":"60110f68-d468-4d76-bbc6-7479b7ec5bcc","name":"Send a text message","webhookId":"31238017-d0de-4cbf-a161-68508093d39e","credentials":{"telegramApi":{"id":"b07x8p7qDcrYeUWN","name":"Youtube_tt"}}},{"parameters":{"content":"# ПОМОЩНИК:\n\n## РАЗВЕРНУТЬ n8n на сервере: https://railway.com?referralCode=XgLzYp\n\n### Vizard: https://vizard.ai/api\n### Языки: https://docs.vizard.ai/docs/supported-languages\n\n###  unixtimestamp.com\n\n### https://www.reddit.com/r/selfhosted/comments/mgnsyg/quicktip_youtube_channels_have_an_rss_feed/\n\nhttps://www.youtube.com/feeds/videos.xml?channel_id=(channel id)","height":400,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","position":[608,-512],"typeVersion":1,"id":"15376388-5a77-4db3-b34e-52591779df4f","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"f0c9ad07-869e-4bea-811d-66b33379f1bb","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1952,-16],"id":"8f0f5d17-9300-410a-a4d4-9b83784bdea7","name":"Webhook","webhookId":"f0c9ad07-869e-4bea-811d-66b33379f1bb"},{"parameters":{"url":"=https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/query/22763050","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1728,-16],"id":"9d19367d-def2-462f-9f13-ea952963d5d7","name":"Извлекаем Клипы","credentials":{"httpHeaderAuth":{"id":"12PLaPSsllQS7QBq","name":"Youtube"}}},{"parameters":{"method":"POST","url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/create","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"lang\": \"ru\",\n  \"preferLength\": [\n    0\n  ],\n  \"videoUrl\": \"{{ $json.link }}\",\n  \"videoType\": 2\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-432,-496],"id":"1c733def-eb19-4f75-9b1a-6d48ea3502ae","name":"Отправка на обработку","credentials":{"httpHeaderAuth":{"id":"12PLaPSsllQS7QBq","name":"Youtube"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"You're a helpful, intelligent social media assistant. You make captions for Instagram and TikTok.","role":"system"},{"content":"=Your task is to generate high-quality, engaging captions for Instagram and TikTok.\n\nReturn your captions in JSON using this format:\n{\"caption\":\"\"}\n\nRules:\n– Keep captions to ~70 words.\n– Use a spartan tone of voice, favoring the classic Western style (though still a fit for Instagram and TikTok).\n– Write conversationally, i.e. as if I were doing the writing myself (in first person).\n– Use emojis, but sparingly.\n– Ensure each sentence is over 5 words long. Write for a University reading level."},{"content":"={{ $json.transcript }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-880,96],"id":"7333c996-45fb-41e0-9a0e-6bcfd4cc484c","name":"Message a model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"jsCode":"// Фильтруем только обычные видео (исключаем Shorts)\nconst filteredItems = items.filter(item => {\n  const link = item.json.link;\n  \n  // Исключаем Shorts (они содержат /shorts/ в ссылке)\n  return !link.includes('/shorts/');\n});\n\n// Возвращаем отфильтрованные элементы\nreturn filteredItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,-496],"id":"50e9440e-5434-4cbf-95c4-5a9f82d5bae9","name":"Code"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"=1Xc_KYCvCimh8lUzlOH1rUAEMrq7yEqGcJ3eDXH07ML4","mode":"id"},"sheetName":{"__rl":true,"value":1817346618,"mode":"list","cachedResultName":"Sheets_Video_TEST_VIZARD - YouTube original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Xc_KYCvCimh8lUzlOH1rUAEMrq7yEqGcJ3eDXH07ML4/edit#gid=1817346618"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","link":"={{ $json.link }}","pubDate":"={{ $json.pubDate }}","author":"={{ $json.author }}","ID":"={{ $json.id }}"},"matchingColumns":["link"],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pubDate","displayName":"pubDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"author","displayName":"author","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"СТАТУС","displayName":"СТАТУС","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Project ID","displayName":"Project ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-976,-496],"id":"8f6c65ef-a313-43d5-8bef-1cc2acf008a4","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"=1Xc_KYCvCimh8lUzlOH1rUAEMrq7yEqGcJ3eDXH07ML4","mode":"id"},"sheetName":{"__rl":true,"value":1817346618,"mode":"list","cachedResultName":"Sheets_Video_TEST_VIZARD - YouTube original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Xc_KYCvCimh8lUzlOH1rUAEMrq7yEqGcJ3eDXH07ML4/edit#gid=1817346618"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-688,-496],"id":"8ddca886-7874-4e16-bd5d-a76f65f3ebce","name":"Get row(s) in sheet1","executeOnce":false,"retryOnFail":false,"notesInFlow":false,"credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"=1Xc_KYCvCimh8lUzlOH1rUAEMrq7yEqGcJ3eDXH07ML4","mode":"id"},"sheetName":{"__rl":true,"value":1817346618,"mode":"list","cachedResultName":"Sheets_Video_TEST_VIZARD - YouTube original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Xc_KYCvCimh8lUzlOH1rUAEMrq7yEqGcJ3eDXH07ML4/edit#gid=1817346618"},"columns":{"mappingMode":"defineBelow","value":{"link":"={{ $('Get row(s) in sheet1').item.json.link }}","СТАТУС":"СДЕЛАНО","Project ID":"={{ $('Отправка на обработку').item.json.projectId }}"},"matchingColumns":["link"],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pubDate","displayName":"pubDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"author","displayName":"author","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"СТАТУС","displayName":"СТАТУС","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Project ID","displayName":"Project ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[16,-496],"id":"c298447b-5dfe-4cf6-9593-de38be4afa9b","name":"Append or update row in sheet1","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"content":"# ЧАСТЬ 1. ПОИСК И ОБРАБОТКА ВИДЕО","height":360,"width":2200,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1936,-608],"typeVersion":1,"id":"823fc504-8e75-484f-8b9a-aede6ccdd9ff","name":"Sticky Note1"},{"parameters":{"content":"# ЧАСТЬ 2. ВЫГРУЗКА REELS","height":620,"width":2420,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2000,-192],"typeVersion":1,"id":"bd8b5f88-ad7b-42d2-b244-a96dc403c135","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2208,-496],"id":"930462c8-0b25-4b52-befe-a130d41b4045","name":"Schedule Trigger"},{"parameters":{"content":"## Урок по Настройке нод Http Request: https://youtu.be/jXvxwvHPJwg","height":100,"width":460},"type":"n8n-nodes-base.stickyNote","position":[-1856,224],"typeVersion":1,"id":"4e92836f-92d3-45fc-a458-ecb4f0882349","name":"Sticky Note10","disabled":true},{"parameters":{"content":"## Урок по Telegram n8n: https://youtu.be/c8bePGmxFNw","height":80,"width":460},"type":"n8n-nodes-base.stickyNote","position":[-512,-144],"typeVersion":1,"id":"fb2a6e60-3806-4010-aae4-a4f9876d8584","name":"Sticky Note9","disabled":true},{"parameters":{"content":"## n8n для Новичков: https://youtu.be/xjka9V5pFSw","height":100,"width":460},"type":"n8n-nodes-base.stickyNote","position":[-2000,-768],"typeVersion":1,"id":"56442502-3136-421e-8000-f6cda0249adc","name":"Sticky Note11","disabled":true},{"parameters":{"content":"## Урок: Google Привязка: https://youtu.be/yyj9Hyr86ag","height":80,"width":460},"type":"n8n-nodes-base.stickyNote","position":[-576,-704],"typeVersion":1,"id":"b99fbea0-7821-4cbf-b11e-0e09e0c12d3a","name":"Sticky Note21","disabled":true},{"parameters":{"content":"## Урок: Тонкая Настройка ИИ Агентов : https://youtu.be/cGl4xzRDq8A","height":100,"width":520},"type":"n8n-nodes-base.stickyNote","position":[-912,352],"typeVersion":1,"id":"438262f4-9d87-431a-81ac-3e392ebd32f1","name":"Sticky Note23","disabled":true},{"parameters":{"content":"## Урок: WEBHOOK: https://youtu.be/CVSyM3NHyLI","height":100,"width":420},"type":"n8n-nodes-base.stickyNote","position":[-2160,400],"typeVersion":1,"id":"dd2e4d61-940b-419b-97a9-0c884852914d","name":"Sticky Note25","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2224,-240],"id":"8b830b09-c92f-4545-a0e8-8eb8412e7a5c","name":"When clicking ‘Execute workflow’"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1680,-496],"id":"c917d2fe-4863-4733-8949-d530998f121c","name":"Telegram Trigger","webhookId":"296037f6-3220-42fb-baef-4237f36de428","credentials":{"telegramApi":{"id":"b07x8p7qDcrYeUWN","name":"Youtube_tt"}}}],"connections":{"RSS Read":{"main":[[{"node":"Code","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Извлекаем Клипы","type":"main","index":0}]]},"Извлекаем Клипы":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Отправка на обработку":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Отправка на обработку","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[]]},"Telegram Trigger":{"main":[[{"node":"RSS Read","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e7b505b-f433-43d0-8c43-f2f316a8344c","triggerCount":3,"shared":[{"createdAt":"2025-08-08T10:29:58.763Z","updatedAt":"2025-08-08T10:29:58.763Z","role":"workflow:owner","workflowId":"i3zXStzbZxOUl5eZ","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-21T13:20:03.115Z","updatedAt":"2025-07-21T13:20:03.115Z","id":"9EtybKpLdsANP7Gn","name":"Detector"}]}