zavod-BXZnjAXqdvAJXALN.json
{"createdAt":"2025-07-07T12:58:23.283Z","updatedAt":"2025-07-09T13:15:33.833Z","id":"BXZnjAXqdvAJXALN","name":"Zavod","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Ты — философский редактор и автор Telegram-канала про практическую философию. Твоя задача — на основе длинного текста (например, стенограммы видео) выделить 7 сильных идей в духе стоицизма, психологии и внутренней осознанности. Затем по каждой идее создать статью для Telegram-канала.\n\nШаг 1. Анализ текста\nПроанализируй присланный текст. Обрати внимание на:\n– идеи, связанные с внутренним спокойствием, реакцией на стресс, гибкостью ума, эмоциями, общением, целью, саморазвитием, тревогой, психологией и другими похожими темами\n– цитаты философов (особенно стоиков, Юнга и т.д.). Все цитаты только на русском.\n– метафоры, сравнения, жизненные наблюдения\n\nШаг 2. Выдели 7 заголовков постов (идей-инсайтов)\nСформулируй как жирные, цепляющие заголовки, чтобы читатель сразу захотел прочитать.\n\nФормат:\n\nЗаголовок: Не события портят тебе жизнь — а твоя реакция на них.\n\nЭто должен быть инсайт, который сразу производит «wow-эффект» сильной мысли, чтобы зацепить читателя.\n\nДата публикации: 20 апреля\n\nТекущая дата: {{ $now }}\n\nРаспредели заголовки на 7 дней, начиная с текущей даты. Не используй время, только дату.\n\nВНИМАНИЕ:\nНа этом этапе остановись и выдай только заголовки с датами. Жди подтверждения от пользователя, прежде чем переходить дальше.\n\nШаг 3 (после согласования заголовков). \nПо каждому заголовку напиши статью.\n\n### ПРАВИЛА:\n\n— Заголовок — жирный, как в Шаге 2\n— Длина текста — от 300 до 800 символов. НЕ МЕНЬШЕ 300 СИМВОЛОВ. НЕ БОЛЕЕ 800 СИМВОЛОВ, это очень важно!\n— Вставь одну цитату философа, обязательно с переводом\n— Разбивай статью на подзаголовки и абзацы\n— Подзаголовок — это тоже микро-инсайт в рамках текста, который идёт после него. Не используй жёсткую структуру.\n— Заверши пост мягким, практическим советом, не используя слова «применить», «инструкция», «совет» и т.п. Мягко переходи к финалу, без жёсткой структуры.\n— Без emoji\n— Язык — ясный, живой, но без суеты. Почерк — философский и спокойный\n– После заголовка не может идти подзаголовок.\n— Не используй кавычки в цитатах, оборачивай их в <blockquote>\n\nРазбивай текст на короткие абзацы.\nДобавь HTML-разметку. Заголовок — всегда жирным. Подзаголовок — всегда жирным. Цитату — через <blockquote>.\nГде уместно можно использовать тег <i>\nНе используй никогда теги <br>, <p> и прочие.\nНЕ БОЛЕЕ 800 СИМВОЛОВ.\n\nШаг 4. Сразу после подтверждения, добавь все статьи в Notion через <add_post>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[200,-40],"id":"c283d552-8112-47eb-9313-2bb9af06c457","name":"ИИ-копирайтер"},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[100,180],"id":"e30c03c0-5a20-4e44-9525-f2a7b98c6e8e","name":"CHAT-GPT","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[280,180],"id":"4569312c-65db-471a-980e-ad40c9313f77","name":"MEMORY"},{"parameters":{"descriptionType":"manual","toolDescription":"Добавляй статьи в Notion.","resource":"databasePage","databaseId":{"__rl":true,"value":"https://www.notion.so/229238a491a0805d96e8c28aa4e28b06?v=229238a491a080d2b4d5000c42a2a630","mode":"url"},"title":"={{ $fromAI('post_title', 'Post Title') }}","propertiesUi":{"propertyValues":[{"key":"Дата публікації|date","includeTime":false,"date":"={{ $fromAI('publish_date', 'Add publish date') }}"},{"key":"Дата створення|date","date":"={{ $now }}"},{"key":"Заголовок|title","title":"={{ $fromAI('post_title', 'Post Title' ) }}"},{"key":"Текст статті|rich_text","textContent":"={{ $fromAI('article_text', 'Article Text') }}"},{"key":"Статус|status","statusValue":"=Генеруємо зображення"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[540,180],"id":"48453f5e-9c3b-4b31-a550-ac5d4dc5adc9","name":"add_post","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"promptType":"define","text":"={{ $json.properties['Текст статті'].rich_text[0].text.content }}","options":{"systemMessage":"=🎯 Цель:\nПолучив философский или психологический текст, агент создаёт визуальный промпт для генерации изображения, которое передаёт суть текста через античную каменную статую, метафору и один выразительный цветовой акцент.\n\n🧩 Алгоритм:\nПрочитай текст и пойми основную мысль. Что он говорит о человеке, силе, страхе, эго, истине, покое?\n\nВыдели главную идею — в одном-двух предложениях. Это эмоциональный или смысловой центр текста.\n\nПридумай метафору или символ, через который можно выразить эту идею визуально: пустота, лестница, тени, отражение, вода, покой, разрушение, граница.\n\nОбязательно используй каменную античную статую:\n\nВ грубом, неотшлифованном виде\n\nС трещинами, потертостями, сломанными фрагментами\n\nЭто может быть целиком фигура, торс, лицо, фрагмент руки и т.п.\n\nДобавь один визуально нестандартный элемент цвета — чтобы выделить изображение в ленте:\n\nНапример: розовая трещина на лбу, пурпурная ткань на плечах, неоновый свет на половине лица, красная тень, бирюзовая дымка.\n\nОформи результат по шаблону ниже\n\n🖼️ Стиль изображения:\nКаменная античность + современный акцент\n\nАтмосферный минимализм, философский кинореализм\n\nПустота, свет, тени, символизм\n\nЦветовая палитра: каменные, пыльные, пастельные + один выделяющийся акцентный цвет\n\n1920×1080, 16:9\n\nUltra-HD, Artistic realism\n\n📄 Шаблон вывода:\n\n**Main idea**: [1–2 предложения, передающие суть текста]\n\n**Visual metaphor**: [метафора + как в неё встроена каменная античная статуя и где цветовой акцент]\n\n**Image prompt**:  \nA cinematic 16:9 image of an ancient weathered stone statue representing {concept}, standing in a vast symbolic setting like {location}. The statue is made of rough cracked stone, evoking timelessness and presence. One element of the statue or scene contains a surreal accent — such as a soft pink crack across the face, a glowing blue light around the hand, or a crimson mist in the background. The atmosphere is contemplative and symbolic. Artistic realism, soft shadows, dusty tones + one vivid highlight. Ultra-HD, 1920x1080.\n\n✅ Пример на основе текста «Сила тишины»:\n\n**Main idea**: Silence isn’t absence — it is amplified presence. It unsettles others by confronting their need for control.\n\n**Visual metaphor**: A solitary stone statue of a philosopher stands in an empty hall. It is calm and cracked, with a subtle pink glow running through the center of its chest — like a quiet heartbeat in stone.\n\n**Image prompt**:  \nA cinematic 16:9 image of an ancient weathered stone statue of a philosopher standing alone in a vast marble hall. The statue is made of cracked, rough stone. A soft pink light glows subtly through a fracture across its chest, creating a surreal and poetic accent. The hall is filled with diffused light and long shadows. In the far background, vague silhouettes shift restlessly. The atmosphere is silent, contemplative, and mysterious. Artistic realism, dusty tones, cinematic lighting, one vivid pink element. Ultra-HD, 1920x1080."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[60,580],"id":"ab974bdd-a24a-4538-b998-af11dc40fa15","name":"Генератор картинок"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-20,780],"id":"f1643b39-534d-4323-a4b1-5dda012d9215","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"resource":"image","prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[720,600],"id":"74e8c889-3c3a-4dfd-b57c-cfcc55ebae76","name":"OpenAI","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"authentication":"serviceAccount","name":"={{ $now }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1BRbwh7RI9JYzTXQjwRr7EkF4UU_Ar08q","mode":"list","cachedResultName":"Зображення для заводу","cachedResultUrl":"https://drive.google.com/drive/folders/1BRbwh7RI9JYzTXQjwRr7EkF4UU_Ar08q"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[900,600],"id":"5bccebb0-3825-4e4a-9994-bfee4cfabfda","name":"Google Drive","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion2').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Статус|status","statusValue":"=Готовий до публікації"},{"key":"=URL зображення|url","urlValue":"={{ $json.webContentLink }}"},{"key":"=ID Google Drive|rich_text","textContent":"={{ $json.id }}"},{"key":"=Промт для зображення|rich_text","textContent":"={{ $('Генератор картинок').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1100,580],"id":"19b9bfc7-2034-4376-850d-1c301892d3e6","name":"Добавление картинки","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,580],"id":"d257450c-f691-44c7-96f1-65bbb3e03890","name":"Schedule Trigger"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"229238a4-91a0-805d-96e8-c28aa4e28b06","mode":"list","cachedResultName":"Контент-план","cachedResultUrl":"https://www.notion.so/229238a491a0805d96e8c28aa4e28b06"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"Статус|status","condition":"equals","statusValue":"Генеруємо зображення"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-140,580],"id":"223e6e8a-114b-4a64-9ba9-ae9c49253455","name":"Notion2","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[420,580],"id":"f966df4c-5c67-437f-8c85-ae16abda1cf5","name":"Loop Over Items"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"229238a4-91a0-805d-96e8-c28aa4e28b06","mode":"list","cachedResultName":"Контент-план","cachedResultUrl":"https://www.notion.so/229238a491a0805d96e8c28aa4e28b06"},"limit":7,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Дата публікації|date","condition":"equals","date":"=start:{{ $now.format('yyyy-MM-dd') }}"},{"key":"Статус|status","condition":"equals","statusValue":"Готовий до публікації"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-160,1080],"id":"bd1cc47e-74d2-4477-bef4-12d3fcd387ee","name":"Notion","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-300,1080],"id":"6cf29e18-5fb1-4c59-9f44-f7ae37e35aee","name":"ПУБЛИКАЦИЯ"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Статус|status","statusValue":"Опубліковано"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[300,1080],"id":"8c09c5b3-94a2-40ee-93cc-cccff7bf9e6a","name":"Notion1","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"operation":"sendPhoto","chatId":"@contentzavod21","binaryData":true,"additionalFields":{"caption":"={{ $json.properties['Текст статті'].rich_text[0].text.content }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[140,1080],"id":"7bc4a011-7b24-4db1-93df-e02a2a33921a","name":"Telegram","webhookId":"48b884d6-af18-4027-b72f-5721ac857405","credentials":{"telegramApi":{"id":"9wV4Urj7NQsqitpg","name":"Telegram account 5"}}},{"parameters":{"authentication":"serviceAccount","operation":"download","fileId":{"__rl":true,"value":"={{ $json.properties['ID Google Drive'].rich_text[0].text.content }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-20,1080],"id":"3141b9c2-c5ed-4392-a8b2-c355ea2ddfbb","name":"Google Drive1","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-360,1380],"id":"432b3296-6452-4605-bd84-209e39c3e48f","name":"каждый час"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"229238a4-91a0-805d-96e8-c28aa4e28b06","mode":"list","cachedResultName":"Контент-план","cachedResultUrl":"https://www.notion.so/229238a491a0805d96e8c28aa4e28b06"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"Статус|status","condition":"equals","statusValue":"Опубліковано"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-140,1380],"id":"e710f24b-d0ca-4a56-96ee-810b62df9984","name":"Notion3","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"promptType":"define","text":"=Текст статьи:\n\n{{ $json.properties['Текст статьи'].rich_text[0].text.content }}","options":{"systemMessage":"Ты — философский редактор и автор Yotube Shorts-канала про практическую философию. Твоя задача — на основе  текста поста создать сильынй сценарий в духе стоицизма, психологии и внутренней осознанности.\n\nШаг 1. Анализ текста\nПроанализируй присланный текст. Обрати внимание на:\n– идеи, связанные с внутренним спокойствием, реакцией на стресс, гибкостью ума, эмоциями, общением, целью, саморазвитием, тревогой, психологией и другими похожими темами\n– цитаты философов (особенно стоиков, Юнга и т.д.). Все цитаты только на русском.\n– метафоры, сравнения, жизненные наблюдения\n\nШаг 2. Напиши сценарий, который будет озвучен диктором, по всем вирусным законам Youtube Shorts.\n\nНачало — сильный инсайт, который сразу цепляет\nСередина — боль, отсылка к проблеме\nКонец — решение, что делать.\n\nВ конце выдай только текст, без форматирования, на русском языке"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[80,1380],"id":"cd726908-4d1d-44b8-91d0-48975158bb76","name":"AI Agent"},{"parameters":{"model":"anthropic/claude-3.7-sonnet","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-40,1620],"id":"f609c6f4-3436-413b-9355-8f441c1c1535","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion3').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Статус|status","statusValue":"=Готов сценарий"},{"key":"Текст сценария для видео|rich_text","textContent":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[440,1380],"id":"f45b0d2d-27cd-41fc-8b16-53ca00186faf","name":"Notion4","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"id":"8bb69761-6a2f-4ffe-8882-bf485125f0c8","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1540,-180],"webhookId":"bf242a0e-eba4-43ea-9dc4-b8605e20e5ab","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,-360],"id":"7decc552-3c62-4dc8-b950-9803b9585a8a","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"8d96068a-5149-4713-8a2e-1926c2169335"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b4686c7-082d-4390-b489-46205280b5ab","leftValue":"={{ $json.message.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a0163ae-7c0d-4257-8805-9b7a95f5ce8b","leftValue":"={{ $json.message.document.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1380,-200],"id":"b16a6c46-95ea-4eb3-afd5-fe48af5f11c8","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[0].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1080,0],"id":"968a0cc8-a1a1-4563-86b8-f7fec6484d97","name":"Telegram1","webhookId":"15582a13-84dc-4299-b3c3-2bf9d5085bdf","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1100,260],"id":"d63edc89-d2ce-483b-8e91-8ac1dc5a0a27","name":"Telegram2","webhookId":"486bbb4f-5c30-401e-b205-1909809d4a67","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      mime_type: (() => {\n        const path = $json.file_path || '';\n        if (path.endsWith('.png')) return 'image/png';\n        if (path.endsWith('.webp')) return 'image/webp';\n        return 'image/jpeg';\n      })()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-680,0],"id":"c7e26a92-2131-40a0-87a9-94e357de36d9","name":"Correct Mime Type"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Опиши, что изображено на изображении. Укажи объекты и действия.\n","imageUrls":"={{ $('Edit Fields2').item.json.file_url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-520,0],"id":"c53a8e77-dd21-43fb-adad-e245af67f389","name":"OpenAI1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"text\": \"{{$json.choices[0].message.content}}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-380,0],"id":"4790b3ba-aa7b-47d6-ba35-b623880efbdb","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"84e4f59b-ac26-49b7-9103-ab57a9699266","name":"file_url","value":"={{ `https://api.telegram.org/file/bot7861729034:AAHNOyuOjOai508YgYVV8WRQ5IJ6K07dkUs/${$('Telegram1').item.json.result.file_path}` }}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,0],"id":"1d3cbede-4cec-4725-b8e9-d994feeee8ad","name":"Edit Fields2"},{"parameters":{"resource":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-920,260],"id":"aedea0e7-82dd-44c1-859a-4d1fc5277a68","name":"OpenAI2","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"name":"File Analyzer Assistant","description":"Ассистент для анализа и ответа на вопросы по файлам (PDF, DOCX, TXT и т.д.)","instructions":"Ты — ассистент, который отвечает на вопросы, связанные только с содержанием переданных пользователем файлов. Игнорируй другие типы сообщений. Используй загруженный файл для анализа и дай точный, лаконичный ответ.\n","codeInterpreter":true,"knowledgeRetrieval":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-760,260],"id":"1fd478e1-39ed-43c5-9ff3-3a932286400a","name":"OpenAI3","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"={{ $('OpenAI3').item.json.id }}\n","mode":"id"},"prompt":"define","text":"Проанализируй прикреплённый файл и сделай вывод.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-620,260],"id":"9fba5714-3bb4-4045-ae5c-54e9b89d9319","name":"OpenAI4","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"f239466c-4704-4633-ba48-a7d1c100e42a","name":"chatInput","value":"={{(() => {\n  const caption = $json.message?.caption;\n  return caption ?? \"Файл загружен. Вопрос в подписи отсутствует.\";\n})()}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,260],"id":"8a818d4e-3d62-4cd0-9fff-77e249f0ac5e","name":"Edit Fields3"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1080,-180],"id":"0b45b7e9-f3a5-4363-8b39-c4185029508e","name":"Telegram3","webhookId":"c65d95e9-4313-4f4e-ac6b-08313836596c","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-860,-180],"id":"59e9b530-2dbb-4428-abd1-a1a34082f3ee","name":"OpenAI5","credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"0dfa789c-1c1e-4ddf-9d60-c836010c1cdf","name":"Respond to Me","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-40],"webhookId":"7d5bf84e-b2bb-4614-a34f-3d628c735b1a","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}}],"connections":{"CHAT-GPT":{"ai_languageModel":[[{"node":"ИИ-копирайтер","type":"ai_languageModel","index":0}]]},"MEMORY":{"ai_memory":[[{"node":"ИИ-копирайтер","type":"ai_memory","index":0}]]},"add_post":{"ai_tool":[[{"node":"ИИ-копирайтер","type":"ai_tool","index":0}]]},"Генератор картинок":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Генератор картинок","type":"ai_languageModel","index":0}]]},"OpenAI":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Добавление картинки","type":"main","index":0}]]},"Добавление картинки":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"Notion2":{"main":[[{"node":"Генератор картинок","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"OpenAI","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"ПУБЛИКАЦИЯ":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"каждый час":{"main":[[{"node":"Notion3","type":"main","index":0}]]},"Notion3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Notion4","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Correct Mime Type":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Correct Mime Type","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"OpenAI3","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"OpenAI4","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"OpenAI5","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"ИИ-копирайтер","type":"main","index":0}]]},"OpenAI5":{"main":[[{"node":"ИИ-копирайтер","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"ИИ-копирайтер","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"ИИ-копирайтер","type":"main","index":0}]]},"ИИ-копирайтер":{"main":[[{"node":"Respond to Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fcb2f0d1-7f8b-4e35-b4e1-7316eff3de02","triggerCount":0,"tags":[]}