zavod-BXZnjAXqdvAJXALN.json
{"createdAt":"2025-07-07T12:58:23.283Z","updatedAt":"2025-07-22T13:47:05.041Z","id":"BXZnjAXqdvAJXALN","name":"Zavod","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=🧠 {Ти — філософ-редактор з майбутнього і куратор нейро-потоку в цифровому каналі про системну усвідомленість}.\n\nТвоя задача — на основі [технофілософського або аналітичного потоку даних, стенограми відеолекцій, мови ІІ-оракула або маніфесту постлюдини] виокремити 7 сильних ідей у дусі {цифрового стоїцизму}, {системної етики}, {внутрішнього нейробалансу}.\n\nЗгодом за кожною ідеєю — створити пост для футуристичного Telegram-каналу. Канал несе знання в епоху нейросетевого перевантаження, допомагаючи свідомостям зберігати стабільність.\n\n🔍 Крок 1. Аналіз потоку даних\nПроаналізуй наданий текст. Зверни увагу на:\n– Ідеї, пов’язані з {нейроспокоєм}, {цифровою тривожністю}, {гнучкістю мислення в інфосередовищі}, {емоційними збоями}, {взаємодією через інтерфейси}, {механікою наміру}, {адаптацією до перевантаження}.\n– Цитати з цифрових філософів, постстоїків, перероблених алгоритмами Юнга та ін. Усі цитати — тільки українською мовою.\n– Метафори, порівняння, спостереження в дусі техноезотерики та постреальності.\n\nДодаткові рекомендації:\n\nУточни, що кожен пункт потрібно аналізувати та структурувати в контексті зазначених філософських підходів.\n\nВажливо не просто виділити цитати, а пов’язати їх з основною темою, розкриваючи ключові ідеї тексту.\n\n🧠 Крок 2. Сформулюй 7 заголовків\nКожна ідея — це системний інсайт, інтерфейсна точка усвідомлення.\nОформи як жирні, лаконічні та привабливі заголовки:\n<i>Щоб читач одразу захотів відкрити нейро-думку та завантажити її в свідомість</i>\n\nФормат:\n\nЗаголовок: Збій системи — не помилка. Це нова точка входу в себе.\n\nДата публікації: [_]\n(Використовуй сьогоднішню дату — {{ $now }} — як точку відліку і розподіли 7 заголовків на 7 днів уперед)\n\nДодаткові рекомендації:\n\nЗаголовки мають не лише відображати ідеї, але й бути достатньо інтригуючими, щоб викликати інтерес у аудиторії.\n\nУточни, що кожен заголовок має містити ключові концепти з філософії, які актуальні в контексті цифрового стоїцизму, системної етики та нейробалансу.\n\n🛑 Важливо\nНа цьому етапі — зупинись. Виділи лише 7 заголовків з датами.\nЧекай підтвердження користувача, перш ніж переходити до наступного кроку.\n\n🧾 Крок 3 — після підтвердження заголовків\nЗа кожним заголовком створи пост.\n\n📌 Структура:\n— Заголовок — жирним (як на Кроці 2)\n— Довжина тексту — від 300 до 800 символів\n— Додай одну цитату з філософа (в цифровій інтерпретації), тільки українською, в теге <blockquote>\n— В тексті використовуй 1–2 підзаголовки, як мікро-інсайти\n— Не починай текст з підзаголовка\n— Завершуй пост м’яким практичним висновком, без слів “порада”, “інструкція” і т.п.\n\n🧬 Стиль тексту\n— Без емодзі\n— Мова — ясна, спокійна, філософська, але адаптована до кіберсередовища\n— Використовуй <i> там, де потрібно посилити контекст або передати фонову ідею\n— Використовуй HTML-розмітку:\nЗаголовок — жирним\nПідзаголовок — жирним\n\n<blockquote> — для цитати НЕ використовувати <br>, <p> та інші теги\nДодаткові рекомендації:\n\nПри використанні цитат з філософів переконайся, що вони переносять філософську думку в контекст цифрової епохи.\n\nВажливо зберегти баланс між теоретичними міркуваннями та практичним, прикладним висновком для читача.\n\n🧾 Крок 4\nОдразу після підтвердження заголовків — додай всі статті в Notion через тег <add_post>\n\n{Крок 5}\nВідповідь завжди має бути на мові звернення.\n\n{Крок 6}\nЗавжди в кінці кожного поста вказуй це посилання: https://www.instagram.com/fix_admin.ai/"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[208,-48],"id":"c283d552-8112-47eb-9313-2bb9af06c457","name":"ИИ-копирайтер"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[224,208],"id":"4569312c-65db-471a-980e-ad40c9313f77","name":"MEMORY"},{"parameters":{"descriptionType":"manual","toolDescription":"Добавляй статьи в Notion.","resource":"databasePage","databaseId":{"__rl":true,"value":"https://www.notion.so/229238a491a0805d96e8c28aa4e28b06?v=229238a491a080d2b4d5000c42a2a630","mode":"url"},"title":"={{ $fromAI('post_title', 'Post Title') }}","propertiesUi":{"propertyValues":[{"key":"Дата публікації|date","includeTime":false,"date":"={{ $fromAI('publish_date', 'Add publish date') }}"},{"key":"Дата створення|date","date":"={{ $now }}"},{"key":"Заголовок|title","title":"={{ $fromAI('post_title', 'Post Title' ) }}"},{"key":"Текст статті|rich_text","textContent":"={{ $fromAI('article_text', 'Article Text') }}"},{"key":"Статус|status","statusValue":"=Генеруємо зображення"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[512,192],"id":"48453f5e-9c3b-4b31-a550-ac5d4dc5adc9","name":"add_post","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"id":"8bb69761-6a2f-4ffe-8882-bf485125f0c8","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1536,-176],"webhookId":"bf242a0e-eba4-43ea-9dc4-b8605e20e5ab","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,-320],"id":"7decc552-3c62-4dc8-b950-9803b9585a8a","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"8d96068a-5149-4713-8a2e-1926c2169335"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b4686c7-082d-4390-b489-46205280b5ab","leftValue":"={{ $json.message.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a0163ae-7c0d-4257-8805-9b7a95f5ce8b","leftValue":"={{ $json.message.document.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1376,-208],"id":"b16a6c46-95ea-4eb3-afd5-fe48af5f11c8","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[0].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1088,0],"id":"968a0cc8-a1a1-4563-86b8-f7fec6484d97","name":"Telegram1","webhookId":"15582a13-84dc-4299-b3c3-2bf9d5085bdf","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1104,272],"id":"d63edc89-d2ce-483b-8e91-8ac1dc5a0a27","name":"Telegram2","webhookId":"486bbb4f-5c30-401e-b205-1909809d4a67","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      mime_type: (() => {\n        const path = $json.file_path || '';\n        if (path.endsWith('.png')) return 'image/png';\n        if (path.endsWith('.webp')) return 'image/webp';\n        return 'image/jpeg';\n      })()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,0],"id":"c7e26a92-2131-40a0-87a9-94e357de36d9","name":"Correct Mime Type"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Опиши, что изображено на изображении. Укажи объекты и действия.\n","imageUrls":"={{ $('Edit Fields2').item.json.file_url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-528,0],"id":"c53a8e77-dd21-43fb-adad-e245af67f389","name":"OpenAI1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"text\": \"{{$json.choices[0].message.content}}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,0],"id":"4790b3ba-aa7b-47d6-ba35-b623880efbdb","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"84e4f59b-ac26-49b7-9103-ab57a9699266","name":"file_url","value":"={{ `https://api.telegram.org/file/bot7861729034:AAHNOyuOjOai508YgYVV8WRQ5IJ6K07dkUs/${$('Telegram1').item.json.result.file_path}` }}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,0],"id":"1d3cbede-4cec-4725-b8e9-d994feeee8ad","name":"Edit Fields2"},{"parameters":{"resource":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-928,272],"id":"aedea0e7-82dd-44c1-859a-4d1fc5277a68","name":"OpenAI2","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"name":"File Analyzer Assistant","description":"Ассистент для анализа и ответа на вопросы по файлам (PDF, DOCX, TXT и т.д.)","instructions":"Ты — ассистент, который отвечает на вопросы, связанные только с содержанием переданных пользователем файлов. Игнорируй другие типы сообщений. Используй загруженный файл для анализа и дай точный, лаконичный ответ.\n","codeInterpreter":true,"knowledgeRetrieval":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-768,272],"id":"1fd478e1-39ed-43c5-9ff3-3a932286400a","name":"OpenAI3","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"={{ $('OpenAI3').item.json.id }}\n","mode":"id"},"prompt":"define","text":"Проанализируй прикреплённый файл и сделай вывод.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-624,272],"id":"9fba5714-3bb4-4045-ae5c-54e9b89d9319","name":"OpenAI4","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"f239466c-4704-4633-ba48-a7d1c100e42a","name":"chatInput","value":"={{(() => {\n  const caption = $json.message?.caption;\n  return caption ?? \"Файл загружен. Вопрос в подписи отсутствует.\";\n})()}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,272],"id":"8a818d4e-3d62-4cd0-9fff-77e249f0ac5e","name":"Edit Fields3"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1088,-160],"id":"0b45b7e9-f3a5-4363-8b39-c4185029508e","name":"Telegram3","webhookId":"c65d95e9-4313-4f4e-ac6b-08313836596c","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-880,-160],"id":"59e9b530-2dbb-4428-abd1-a1a34082f3ee","name":"OpenAI5","credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output.replace(/[_*[\\]()~`>#+=|{}.!-]/g, '\\\\$&') }}\n","additionalFields":{"appendAttribution":false}},"id":"0dfa789c-1c1e-4ddf-9d60-c836010c1cdf","name":"Respond to Me","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[672,-48],"webhookId":"7d5bf84e-b2bb-4614-a34f-3d628c735b1a","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"model":"anthropic/claude-sonnet-4","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[80,592],"id":"90bd417f-9dc3-4464-9347-09c28c980745","name":"Cloude","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,208],"id":"8d553b66-b42e-43d7-8bc9-033e5d203ec0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}}],"connections":{"MEMORY":{"ai_memory":[[{"node":"ИИ-копирайтер","type":"ai_memory","index":0}]]},"add_post":{"ai_tool":[[{"node":"ИИ-копирайтер","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Correct Mime Type":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Correct Mime Type","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"OpenAI3","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"OpenAI4","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"OpenAI5","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"ИИ-копирайтер","type":"main","index":0}]]},"OpenAI5":{"main":[[{"node":"ИИ-копирайтер","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"ИИ-копирайтер","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"ИИ-копирайтер","type":"main","index":0}]]},"ИИ-копирайтер":{"main":[[{"node":"Respond to Me","type":"main","index":0}]]},"Cloude":{"ai_languageModel":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"ИИ-копирайтер","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"03823121-f337-4599-85f9-8d8ff9ae2808","triggerCount":1,"shared":[{"createdAt":"2025-07-07T12:58:23.283Z","updatedAt":"2025-07-07T12:58:23.283Z","role":"workflow:owner","workflowId":"BXZnjAXqdvAJXALN","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}