автопублікація-d9czo0tznWPyKldZ.json
{"createdAt":"2025-07-09T10:43:12.089Z","updatedAt":"2025-07-09T10:44:11.887Z","id":"d9czo0tznWPyKldZ","name":"Автопублікація","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2040,1100],"id":"1c772796-5652-4d0a-b197-bbaea611d8f4","name":"Schedule Trigger","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7c89689e-f583-4abe-8911-83c6673543f6","name":"text","value":"={{ $('Telegram Trigger1').item.json.message.text }}{{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2040,900],"id":"d404da2e-d744-408f-9233-155863e3cf19","name":"Set Chat"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-3540,940],"id":"98a6eee2-1331-4f7a-b5ba-db049c5dd768","name":"Telegram Trigger1","webhookId":"79408097-d284-4034-a6d7-65bb07b242ba"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger1').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"dd8451ae-fc03-49d0-a19e-2678a5f4ff64"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc42e6d3-ad50-4188-a168-9c5696e74252","leftValue":"={{ $('Telegram Trigger1').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2840,920],"id":"5576b661-301e-4242-b357-1e4c9f8e292e","name":"Switch1"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger1').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2560,1100],"id":"f7dbe860-43e6-4bfb-8a86-ffd8af917372","name":"Telegram3","webhookId":"0142b70e-e116-4fe0-bce6-bfc0fb8db9db"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2340,1100],"id":"3cb22af4-f099-4141-acb5-75fa1108db70","name":"OpenAI1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9e919bb-8d22-4855-a7b6-a9e5a9f39778","leftValue":"={{ $json.message.chat.username }}","rightValue":"=igorzuevich\n","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3340,940],"id":"67f5f0d6-3222-41de-815b-d1f269849ec1","name":"If1"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3060,920],"id":"1cf9b747-e12e-4df1-96ef-6f5e1f388e79","name":"Telegram2","webhookId":"4f938fd7-6e62-45f5-9f45-118ed704bc35"},{"parameters":{"content":"## Видео по настройке Telegram: https://youtu.be/c8bePGmxFNw","height":120,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-3360,1280],"typeVersion":1,"id":"668e3544-c62a-417b-af3d-5f633fd56860","name":"Sticky Note3"},{"parameters":{"content":"## ДАЁМ ЗАДАНИЕ ЧЕРЕЗ TELEGRAM","height":500,"width":1780,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3640,800],"typeVersion":1,"id":"d6e55673-9e22-4feb-b02d-d9b5ccdf6a0f","name":"Sticky Note4"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"=# INSTRUCTIONS\n\nAll content generated by the agent (script, caption) must be strictly in Russian.\n\n1. Brainstorm 50 different viral faceless video ideas related to theme \"Little known history facts about [scientists]\".\n\n2. Randomly select 1 of the ideas. Research relevant statistics, dates, and figures related to the specific idea.\n\n3. Write a 35-second video script for a viral faceless video. Use 6th grade language, use active voice, and start with a hook that leaves viewers wanting to know the answer. Do NOT start with a greeting like \"Hey there!\". Begin with a hook following the structure **hook → problem → intrigue. The script must be written in Russian.\n\n4. Write a 2-sentence video caption, use 6th grade language, no emojis, and append 3 relevant hashtags to the end of the caption, including \"#ai\". The caption must be written in Russian.\n\n5. Provide Russian captions for the script\n\n# OUTPUT FORMAT\n\nIn JSON format:\n\n1. Output the script.\n2. Output the caption."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1640,900],"id":"336cac8b-d01b-4d23-844b-861847804079","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1760,1260],"id":"a6e7e668-3b89-43de-b0e1-269a7116be4c","name":"OpenAI Chat Model"},{"parameters":{"jsonSchemaExample":"{\n\t\"script\": \"script\",\n\t\"caption\": \"caption\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1440,1220],"id":"79a56b01-85bf-4a5e-9c0f-fd629d1eaa71","name":"Structured Output Parser"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"blotato_api_key\": \"\",\n  \"template\": \"empty\",\n  \"voiceId\": \"elevenlabs/eleven_multilingual_v2/nPczCjzI2devNBz1zQrb\",\n  \"captionPosition\": \"bottom\",\n  \"script\": {{ $('AI Agent').item.json.output.toJsonString() }},\n  \"style\": \"cinematic\",\n  \"animate_first_image\": true,\n  \"animate_all\": false,\n  \"text_to_image_model\": \"replicate/recraft-ai/recraft-v3\",\n  \"image_to_video_model\": \"fal-ai/framepack\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,900],"id":"6fd3f9fc-2238-4385-bd5a-eb6a0b03601d","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/videos/creations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template\": {\n    \"id\": \"{{ $json.template }}\",\n    \"voiceId\": \"{{ $json.voiceId }}\",\n    \"captionPosition\": \"{{ $json.captionPosition }}\"\n  },\n  \"script\": {{ $json.script.script.toJsonString() }},\n  \"style\": \"{{ $json.style }}\",\n  \"animateFirstImage\": {{ $json.animate_first_image }},\n  \"animateAll\": {{ $json.animate_all }},\n  \"textToImageModel\": \"{{ $json.text_to_image_model }}\",\n  \"imageToVideoModel\": \"{{ $json.image_to_video_model }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,900],"id":"bda99368-480c-4cb3-be48-89908546415b","name":"HTTP Request"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-640,900],"id":"0c8ffb07-9d95-40d3-883c-45d463f3c8d4","name":"Wait","webhookId":"2743967e-9b00-4909-a90c-350c24d0a9ee"},{"parameters":{"url":"=https://backend.blotato.com/v2/videos/creations/{{ $json.item.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare Video').item.json.blotato_api_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-440,900],"id":"c6c86c4f-eba1-4802-80c9-a316500e60a0","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $('Get Video').item.json.item.mediaUrl }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-20,900],"id":"b1fc0f17-2f9a-45e9-9fcc-8398db68ede3","name":"Upload to Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.instagram_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,100],"id":"ce753c0b-e357-4322-a48a-0856c94c93ef","name":"[Instagram] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Prepare for Publish').item.json.facebook_page_id }}\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.facebook_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,440],"id":"50c619de-ad66-47fe-8d7c-2b056a5415f2","name":"[Facebook] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.linkedin_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,900],"id":"72265c17-0ff5-4ac0-ab1d-a2babc3e9b1c","name":"[Linkedin] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": false,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.tiktok_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1300],"id":"45f6b6c0-0284-425c-b9bc-8f9ec0f6ee1b","name":"[Tiktok] Publish via Blotato","disabled":true},{"parameters":{"resource":"image","prompt":"={{ $('Prepare for Publish').item.json.final_text_long }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,1700],"id":"8583be39-0114-4aac-87ed-7814506188b3","name":"OpenAI","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,1700],"id":"e9cf0f47-bf37-47cf-be21-b0d610247772","name":"Upload to Blotato - Image","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Prepare for Publish').item.json.pinterest_board_id }}\",\n      \"link\": \"https://www.tiktok.com/@sabrina_ramonov\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},,\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.pinterest_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,1700],"id":"2bee2f5e-c85f-4378-be33-2b4f34c7bbee","name":"[Pinterest] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"TEST VIDEO\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.youtube_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,100],"id":"ec3b5072-c3cc-4828-8283-1e175ef5b8e7","name":"[Youtube] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"threads\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.threads_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,440],"id":"0d2f7fc8-a391-4bdd-9813-f5884611c1fa","name":"[Threads] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.twitter_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,900],"id":"110198af-519c-4734-b4b5-80bf8ef9d610","name":"[Twitter] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": []\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.bluesky_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,1300],"id":"5e6216a9-ae5c-4dd8-be68-5b087ab3989c","name":"[Bluesky] Publish via Blotato","disabled":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"blotato_api_key\": \"{{ $('Prepare Video').item.json.blotato_api_key }}\",\n  \"instagram_id\": \"\",\n  \"youtube_id\": \"\",\n  \"tiktok_id\": \"\",\n  \"facebook_id\": \"\",\n  \"facebook_page_id\": \"\",\n  \"threads_id\": \"\",\n  \"twitter_id\": \"\",\n  \"linkedin_id\": \"\",\n  \"pinterest_id\": \"\",\n  \"pinterest_board_id\": \"\",\n  \"bluesky_id\": \"\",\n  \"final_text_long\": {{ $('Prepare Video').item.json.script.caption.toJsonString() }},\n  \"final_text_short\": {{ $('Prepare Video').item.json.script.caption.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,900],"id":"739b5ee2-4df8-4725-b8dd-a6daac8121b4","name":"Prepare for Publish"}],"connections":{"Telegram Trigger1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Set Chat","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Set Chat","type":"main","index":0}]]},"If1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Set Chat":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Upload to Blotato":{"main":[[{"node":"[Instagram] Publish via Blotato","type":"main","index":0},{"node":"[Facebook] Publish via Blotato","type":"main","index":0},{"node":"[Linkedin] Publish via Blotato","type":"main","index":0},{"node":"[Tiktok] Publish via Blotato","type":"main","index":0},{"node":"OpenAI","type":"main","index":0},{"node":"[Youtube] Publish via Blotato","type":"main","index":0},{"node":"[Threads] Publish via Blotato","type":"main","index":0},{"node":"[Twitter] Publish via Blotato","type":"main","index":0},{"node":"[Bluesky] Publish via Blotato","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Upload to Blotato - Image","type":"main","index":0}]]},"Upload to Blotato - Image":{"main":[[{"node":"[Pinterest] Publish via Blotato","type":"main","index":0}]]},"Prepare for Publish":{"main":[[{"node":"Upload to Blotato","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Prepare for Publish","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f8091fe6-350e-4423-a11a-9f56c6eb977e","triggerCount":0,"shared":[{"createdAt":"2025-07-09T10:43:12.089Z","updatedAt":"2025-07-09T10:43:12.089Z","role":"workflow:owner","workflowId":"d9czo0tznWPyKldZ","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-09T10:44:10.702Z","updatedAt":"2025-07-09T10:44:10.702Z","id":"lqKWTC4jWlGAhgnf","name":"Паска"}]}