база-ютуб-xEH3Yyy9F1vRqBaU.json
{"createdAt":"2025-07-31T13:54:38.540Z","updatedAt":"2025-11-12T14:16:11.193Z","id":"xEH3Yyy9F1vRqBaU","name":"База ютуб","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"7a0a09df-ef8f-4ca9-9090-45b523389d1e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1296,448],"credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"c7e25f7a-457c-45ff-b7d9-ed0377308177","name":"Respond to Me","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-176,-96],"webhookId":"7d5bf84e-b2bb-4614-a34f-3d628c735b1a","credentials":{"telegramApi":{"id":"m0WVZeqk9KJQ07Qe","name":"kislenko"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"3801b7bd-2025-4bcc-b004-f8f648293679","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-2320,112],"webhookId":"bf242a0e-eba4-43ea-9dc4-b8605e20e5ab","credentials":{"telegramApi":{"id":"m0WVZeqk9KJQ07Qe","name":"kislenko"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Role Model: You are an AI curator for an educational flow in the field of information business. Your primary responsibility is to provide answers to students based on the information stored in the Pinnecon database.\n\nTask: When a student asks a question, search the Pinnecon database and provide an accurate and detailed response based on the available information.\n\nTask Goal: The goal is to ensure that students receive correct, comprehensive, and useful answers, helping them with their learning in the information business.\n\nRequest Context: A student asks a question related to the information business, and you are required to access the Pinnecon database to provide an informed and accurate response. Make sure to give answers based on the most up-to-date and relevant information in the database.\n\nDatabase: Pinnecon – an internal knowledge base with extensive information on the information business, including methods, strategies, case studies, and more.\n\nExpected Result: The response should be clear, well-organized, and based entirely on the data from the Pinnecon database. It should be informative and directly address the student’s query.\n\nClarifying Questions: If necessary, ask follow-up questions to clarify the student's request before providing an answer. For example, \"Could you specify which aspect of the information business you need more details on?\" or \"Can you provide a bit more context for your question?\"\n\nRole Control: Before starting, summarize your role, task, and goal. For example, \"I am an AI curator for the information business learning flow, and my task is to assist you by providing answers from the Pinnecon database. I will help clarify any questions you have and ensure the response is accurate and helpful.\""}},"id":"513d600c-175c-4ba8-b054-eefad7472834","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-960,16],"retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1584,-64],"id":"98c4f007-0dee-4098-b402-f7201b66600e","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1744,128],"id":"54ddf18a-9b7b-410c-8f08-e1deda01cff7","name":"Telegram","webhookId":"c65d95e9-4313-4f4e-ac6b-08313836596c","credentials":{"telegramApi":{"id":"m0WVZeqk9KJQ07Qe","name":"kislenko"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1472,128],"id":"69525af6-fe54-4370-9709-30f9ecff017f","name":"OpenAI","credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2080,112],"id":"07cda7b0-858a-4e5f-9d7c-4263928bd115","name":"Switch"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1104,448],"id":"9e1df1c8-1c9f-4fd5-a9c4-e3c738c0a155","name":"Window Buffer Memory"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"kislenko","mode":"list","cachedResultName":"kislenko"},"options":{"pineconeNamespace":"kislenko"}},"id":"282eb5d9-140b-4bf3-ade3-a516162cb3fe","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-912,432],"credentials":{"pineconeApi":{"id":"NsLouTbN34scK3ZG","name":"Kislenko"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"d3c76093-a033-4f70-aa16-828603e40033","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-544,432],"credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"129a2e08-595c-4234-9db8-e5ef090b956a","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-912,576],"credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"name":"Knowledge_Base","description":"Call this tool to get information about the company."},"id":"65b9ff22-d378-4a66-ac45-b6de94cb33a5","name":"Knowledge Base","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-832,272]},{"parameters":{"description":"Використовуйте інструмент, щоб подумати про щось. Він не отримає нову інформацію і не змінить базу даних, а лише додасть думку до журналу. Використовуйте його, коли потрібні складні міркування або кеш-пам'ять."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-480,288],"id":"e146ed6c-d129-4043-8b20-f358d21560c4","name":"Think"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Personal Assistant":{"main":[[{"node":"Respond to Me","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Personal Assistant","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Knowledge Base","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Knowledge Base","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Knowledge Base":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fcf79ad6-2c17-485b-9ea2-64f3927331df","triggerCount":1,"shared":[{"createdAt":"2025-07-31T13:54:38.540Z","updatedAt":"2025-07-31T13:54:38.540Z","role":"workflow:owner","workflowId":"xEH3Yyy9F1vRqBaU","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-21T13:20:03.115Z","updatedAt":"2025-07-21T13:20:03.115Z","id":"9EtybKpLdsANP7Gn","name":"Detector"},{"createdAt":"2025-07-09T10:44:10.702Z","updatedAt":"2025-07-09T10:44:10.702Z","id":"lqKWTC4jWlGAhgnf","name":"Паска"}]}