база-данных-аи-куратор-WRgwyjQ8LtWYGJiM.json
{"createdAt":"2025-07-31T13:57:41.945Z","updatedAt":"2025-08-07T07:15:14.408Z","id":"WRgwyjQ8LtWYGJiM","name":"База данных аи куратор","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"113a2cc8-7096-4df9-af5a-df287b0dd5e1","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"authentication":"serviceAccount","operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"760a1215-1969-405b-b0b8-ea3b023c85b4","name":"Get Content","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[448,0],"credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"options":{}},"id":"0568b0fc-179e-469b-bb86-f172e6b989f9","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,0]},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"66f2225e-0506-4f0b-be93-917ce76345da","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[720,288],"credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"dataType":"binary","options":{}},"id":"f3864088-0cbc-4c0e-b899-6fb086504789","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1040,224]},{"parameters":{"options":{}},"id":"358eaa08-cdca-4220-8800-1dcea53dc0bd","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[928,368]},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"kentcars","mode":"list","cachedResultName":"kentcars"},"options":{"pineconeNamespace":"kentcars"}},"id":"9f376667-73fe-4a10-915d-bf02399537fb","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[880,0],"credentials":{"pineconeApi":{"id":"eNHhHacuHkYfC7yp","name":"PineconeApi account 2"}}},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"https://drive.google.com/drive/folders/12eiyYOltZB5GtczQ99ZtZclllz-fX7Hd","mode":"url"}},"options":{}},"id":"a24b64a6-e8bf-4505-89c5-78cf7cb59708","name":"Search files and folders","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Get Content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Get Content","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d381cd1c-ff32-4b9c-9ed1-7efb33ed400b","triggerCount":0,"shared":[{"createdAt":"2025-07-31T13:57:41.945Z","updatedAt":"2025-07-31T13:57:41.945Z","role":"workflow:owner","workflowId":"WRgwyjQ8LtWYGJiM","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-21T13:20:03.115Z","updatedAt":"2025-07-21T13:20:03.115Z","id":"9EtybKpLdsANP7Gn","name":"Detector"}]}