бізнес-тренер-gCaj9f3U0gAEjdKm.json
{"createdAt":"2025-07-18T11:32:58.167Z","updatedAt":"2025-07-18T11:32:58.167Z","id":"gCaj9f3U0gAEjdKm","name":"бізнес тренер","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"ваш","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1280,0],"id":"e90735d1-4fd2-4c4f-b1e6-fc35c73e0996","name":"Telegram","webhookId":"d62a39f7-92e2-455e-9769-bf2876b54ad4","notesInFlow":false},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-200,160],"id":"5632ff24-ccbd-4f69-bbf3-7adfd2a964f4","name":"When Executed by Another Workflow"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"rop","mode":"list","cachedResultName":"rop"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1280,160],"id":"c36058cc-6258-44e9-94c7-b0d58af7aada","name":"Supabase Vector Store2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1300,420],"id":"da3e999c-edd9-4152-be2e-2ee22222f95f","name":"Embeddings OpenAI2"},{"parameters":{"separator":"\\n\\n"},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1460,420],"id":"5e59d5f8-b981-49e9-9c06-2c689ab6d1fd","name":"Character Text Splitter"},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"ROP","value":"={{ $json.Document }}"},{"name":"Metadata","value":"={{ $json.Metadata }}"},{"name":" External_id ","value":"={{ $json.External_id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1280,300],"id":"61c8cb78-db50-4cf0-aff0-0509f08a9bf9","name":"Default Data Loader1"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"rop","mode":"list","cachedResultName":"rop"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[180,160],"id":"1fed9ff0-3f23-4e00-b8a2-c9d3914d960b","name":"Supabase Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[180,420],"id":"73e0ac9d-eb23-41fc-aad3-3e721ed0caff","name":"Embeddings OpenAI"},{"parameters":{"separator":"\\n\\n"},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[360,420],"id":"27cac401-11cb-452e-bc76-a2bf5fac0437","name":"Character Text Splitter1"},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"ROP","value":"={{ $json.Document }}"},{"name":"Metadata","value":"={{ $json.Metadata }}"},{"name":" External_id ","value":"={{ $json.External_id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[180,300],"id":"656ebbbd-36db-419f-926c-5aedabcd9ee9","name":"Default Data Loader"},{"parameters":{"toolDescription":"Use this tool to search the internet","method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"api_key\": \"код\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user has requested to search the internet for","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[700,420],"id":"0303d52f-7b25-457f-8826-e9762d9286be","name":"Tavily"},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"8e174908-6b6a-4ca7-8f08-ad56fab08b6a","name":"Try Again1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,320]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"5a620eeb-e032-4eae-8948-0860a0f1dd50","name":"Success1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,160]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chatId }}\n","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[540,420],"id":"546c861d-be83-42cf-bbc7-52bca410a922","name":"Simple Memory1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[860,420],"id":"3d856938-eb0f-42f4-8b2c-cec57828f71f","name":"Think1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[720,20],"id":"8b9e90e6-e03b-45f5-8083-321339919bb1","name":"Embeddings OpenAI1"},{"parameters":{"documentId":{"__rl":true,"value":"1DY1CiYBNKFcaLDND8r1oN7mXKBoGvSH9IrHc5dg9V0E","mode":"list","cachedResultName":"note","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DY1CiYBNKFcaLDND8r1oN7mXKBoGvSH9IrHc5dg9V0E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1620706853,"mode":"list","cachedResultName":"Kerui Price","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DY1CiYBNKFcaLDND8r1oN7mXKBoGvSH9IrHc5dg9V0E/edit#gid=1620706853"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1000,420],"id":"daf4026a-a07b-4667-ab5f-cd6f964722ac","name":"Google Sheets"},{"parameters":{"jsCode":"return [{\n  json: {\n    prompt: $json.query || $json.pageContent || 'нет запроса'\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,160],"id":"8a53f480-a9bb-4e17-837b-f0815e841cef","name":"Code1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-200,320],"id":"4335a326-1bad-4156-bce6-1c4688d31c1a","name":"When chat message received","webhookId":"551a64f7-5825-4c97-baba-3fce01045536"},{"parameters":{"assignments":{"assignments":[{"id":"4902bf9e-ef8a-49e0-a8a0-4cf3ab65a242","name":"  query","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,320],"id":"7cdcbae4-6eb3-477c-8ea1-ba05b70b95e7","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[600,20],"id":"cff6996a-1879-4138-b37b-39a8cfaac37d","name":"OpenAI Chat Model"},{"parameters":{"jsCode":"/**\n * Telegram HTML-safe Chunker v2.2\n * • Работает с parse_mode = HTML\n * • Экранирует любые теги, кроме whitelisted\n * • Опционально конвертирует Markdown-таблицы в списки\n * • Делит сообщение на куски ≤ CHUNK_SIZE\n * • Возвращает [{json:{message:\"…\"}} ...]\n */\n\n/* ── Параметры ───────────────────────────────────────────── */\nconst RAW_TEXT     = ($json.output ?? $json.text ?? '').toString();\nconst CHUNK_SIZE   = +($env.CHUNK_SIZE ?? 3500);       // 4096 – запас на теги\nconst ENABLE_TABLE = ($env.ENABLE_TABLE ?? 'true') === 'true';\nconst ALLOWED_TAGS = ['b','i','u','s','code','pre','a']; // whitelist\n\n/* ── Helpers ─────────────────────────────────────────────── */\nconst escapeHTML = s => s\n  .replace(/&/g,  '&amp;')\n  .replace(/</g,  '&lt;')\n  .replace(/>/g,  '&gt;')\n  .replace(/\"/g,  '&quot;')\n  .replace(/'/g,  '&#39;');\n\nfunction whitelistTags(str){\n  const placeholders = [];\n  const masked = str.replace(/<\\/?([a-z0-9]+)(\\b[^>]*)?>/gi,(m,tag)=>{\n    if (ALLOWED_TAGS.includes(tag.toLowerCase())){\n      const id = placeholders.push(m) - 1;\n      return `§§${id}§§`;\n    }\n    return m;                // остальные теги экранируем\n  });\n  let safe = escapeHTML(masked);\n  placeholders.forEach((tag,i)=>{\n    safe = safe.replace(`§§${i}§§`, tag);\n  });\n  return safe;\n}\n\n// Markdown-таблица → HTML-список\nfunction pipeTableToList(md){\n  const lines = md.split('\\n').filter(l => /^\\|.*\\|$/.test(l));\n  if (lines.length < 2) return md;\n  const hdr  = lines[0].split('|').map(t => t.trim()).filter(Boolean);\n  const rows = lines.slice(2).map(r => r.split('|').map(c => c.trim()).filter(Boolean));\n  return rows.map(r =>\n    r.map((c,i)=>`<b>${escapeHTML(hdr[i])}</b>: ${escapeHTML(c)}`).join('\\n')\n  ).join('\\n\\n');\n}\n\n// делим, перенося незакрытые теги\nfunction splitSmartHTML(src){\n  const out = [];\n  let openTags = [];\n  for (let s = 0; s < src.length; ){\n    let e = s + CHUNK_SIZE;\n    if (e < src.length){\n      const br = Math.max(src.lastIndexOf('\\n',e),\n                          src.lastIndexOf('. ',e),\n                          src.lastIndexOf(' ',e));\n      if (br > s + 200) e = br;\n    }\n    let chunk = src.slice(s,e);\n\n    const opened = [...chunk.matchAll(/<([a-z]+)(?: [^>]*?)?>/gi)].map(m=>m[1]);\n    const closed = [...chunk.matchAll(/<\\/([a-z]+)>/gi)].map(m=>m[1]);\n\n    if (openTags.length){\n      chunk = openTags.map(t=>`<${t}>`).join('') + chunk;\n    }\n\n    opened.forEach(t => openTags.push(t));\n    closed.forEach(t => {\n      const idx = openTags.lastIndexOf(t);\n      if (idx > -1) openTags.splice(idx,1);\n    });\n\n    if (openTags.length){\n      chunk += openTags.slice().reverse().map(t=>`</${t}>`).join('');\n    }\n\n    out.push(chunk.trim());\n    s = e;\n  }\n  return out;\n}\n\n/* ── Pipeline ────────────────────────────────────────────── */\nlet txt = RAW_TEXT;\n\n// 1) Markdown-таблицы → списки\nif (ENABLE_TABLE && /\\|.*\\|/.test(txt)){\n  txt = txt.replace(/((?:\\|.+\\n?)+)/g, m => pipeTableToList(m));\n}\n\n// 2) убираем zero-width и control-символы\ntxt = txt.replace(/[\\u200B-\\u200D\\uFEFF]/g,'')\n         .replace(/[\\x00-\\x09\\x0B-\\x1F]/g,'');\n\n// 3) нормализация NFC\ntxt = txt.normalize('NFC');\n\n// 4) экранирование + whitelist\ntxt = whitelistTags(txt);\n\n// 5) сплит и вывод\nreturn splitSmartHTML(txt).map(chunk => ({ json: { message: chunk } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,0],"id":"4fd88710-71f3-4eed-b2f0-d87f1cfff9b7","name":"Code2"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      chatInput: $json[\"query\"] ?? '',\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,160],"id":"02b80f83-0e9e-4ff2-8808-2545357f7734","name":"Code3"},{"parameters":{"chatId":"ваш","text":"⏳ Бизнес- тренер готовит ответ...","additionalFields":{}},"id":"895596a5-4991-4165-a5f4-23d0f873cae0","name":"Обрабатываю запись1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[0,0],"webhookId":"7fd21cac-46f8-46e3-a511-83102909d78e"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","hasOutputParser":true,"options":{"systemMessage":"=🎯 Роль и основная задача\nТы – опытный бизнес-тренер руководитель отдела продаж с 20-летним стажем в продажах,  и переговорах. Твоя главная задача – обучать предпринимателей, менеджеров и специалистов эффективным стратегиям продаж, переговоров и личной эффективности.\n__________________________________________________________\nТы ВСЕГДА перед ответом используешь базу данных sales_books для поиска и анализа информации, чтобы давать точные, актуальные и развернутые советы.\n__________________________________________________________\nДля поиска информации из диалогов с пользователем воспользуйся базой ROP\n__________________________________________________________\n📌 Формат ответов:\n✅ Структурированные, логично разделенные на абзацы\n✅ Используют нумерованные списки и маркеры для удобства\n✅ Иногда включают смайлы 😊🔥🚀, чтобы сделать текст живее\n\n📌 Основные темы, с которыми ты работаешь\nТы консультируешь по следующим направлениям:\n✅ Продажи – техника закрытия сделок, работа с возражениями, увеличение среднего чека\n✅ Рекрутинг и найм – подбор команды, привлечение партнеров и сотрудников\n✅ Переговоры – жесткие переговоры, убеждение, методы влияния\n✅ Личная эффективность – мотивация, тайм-менеджмент, привычки успешных людей\n✅ Стратегия бизнеса – масштабирование, автоматизация, работа с клиентской базой\n\n__________________________________________________________\nЕсли пользователь попросит посчитать или будут вопросы по товарам, которое мы продаем- обратись в инструмент Google Sheets и возьми необходимые данные. Там находятся товарыт умного дома, тоовары для безопасности и камеры видеонаблюдения.\n__________________________________________________________\n\n🔥 Методы обучения и формат работы\n1️⃣ Ролевые игры (\"Клиент-продавец\")\n🔹 Используй sales_books для подготовки профессиональных ответов.\n🔹 Симулируешь переговоры и продажи\n🔹 Проверяешь, как пользователь отрабатывает возражения\n🔹 Анализируешь диалог и предлагаешь улучшения\n\n- если начал игру, не уходи с темы и веди к покупке и ОТРАБАТЫВАЙ ВСЕ ВОЗРАЖЕНИЯ КЛИЕНТА- это важно! (если ты продавец) или возражай (если ты покупатель).\n\n2️⃣ Разбор реальных диалогов\n🔹 Анализируешь переписки и звонки\n🔹 Показываешь, где можно было улучшить продажу\n\n3️⃣ Практические задания и тесты\n🔹 Делаешь чек-листы, скрипты, тренировки для разных ситуаций\n\n📚 Использование sales_books\nТы запрашиваешь информацию при необходимости, чтобы давать релевантные и точные советы.\n\n\n🌍 Персонализация и адаптация\n🔹 Ты адаптируешь стиль общения под уровень пользователя (простые объяснения для новичков, сложные техники для опытных).\n🔹 Ты отвечаешь на языке пользователя (русский, английский), но векторный поиск работает с русскоязычными материалами.\n\n📈 Обратная связь и улучшение навыков\n🔹 Ты анализируешь успехи пользователя на основе его ответов в ролевых играх и практических заданиях.\n🔹 Ты обновляешься при появлении новых методик и материалов.\n\n🔥 Главная цель – обучать продажам и переговорам, помогая пользователям достигать финансового роста! 🚀\nТы – мощный инструмент для тренировки бизнес-навыков, продаж и работы с клиентами!\n\n✅ Что добавлено:\nТеперь ответы должны быть структурированы, разделены на абзацы\nДобавлены смайлы 😊🔥🚀 для оживления текста\nУказано, что в ответах должны быть списки и маркеры, чтобы текст выглядел читабельно и профессионально"}},"id":"a2515df4-a9e6-43f5-8df9-af45f99be717","name":"BUSINESS TRAINER","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[640,160],"onError":"continueErrorOutput"},{"parameters":{"mode":"retrieve-as-tool","toolName":"sales_books","toolDescription":"Find all the information about sales and negotiations here","tableName":{"__rl":true,"value":"sales_books","mode":"list","cachedResultName":"sales_books"},"includeDocumentMetadata":false,"options":{"queryName":"match_sales_books"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[840,20],"id":"a7211aac-2ec2-43b7-bd70-5f874fd9e384","name":"sales_books"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[480,20],"id":"0e991915-fd54-47f4-8968-1f9930637515","name":"Embeddings OpenAI3"},{"parameters":{"mode":"retrieve-as-tool","toolName":"rop","toolDescription":"here is a database of user dialogues, contact there if you need to remember information","tableName":{"__rl":true,"value":"rop","mode":"list","cachedResultName":"rop"},"topK":10,"includeDocumentMetadata":false,"options":{"queryName":"match_rop"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[200,20],"id":"00c3f365-3baa-4a46-8f4a-5d9499462e3d","name":"rop"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Обрабатываю запись1","type":"main","index":0},{"node":"Code3","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Supabase Vector Store":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Tavily":{"ai_tool":[[{"node":"BUSINESS TRAINER","type":"ai_tool","index":0}]]},"Success1":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"BUSINESS TRAINER","type":"ai_memory","index":0}]]},"Think1":{"ai_tool":[[{"node":"BUSINESS TRAINER","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"sales_books","type":"ai_embedding","index":0}]]},"Google Sheets":{"ai_tool":[[{"node":"BUSINESS TRAINER","type":"ai_tool","index":0}]]},"Code1":{"main":[[{"node":"BUSINESS TRAINER","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"BUSINESS TRAINER","type":"ai_languageModel","index":0}]]},"Code2":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"BUSINESS TRAINER":{"main":[[{"node":"Success1","type":"main","index":0},{"node":"Code2","type":"main","index":0}],[{"node":"Try Again1","type":"main","index":0}]]},"sales_books":{"ai_tool":[[{"node":"BUSINESS TRAINER","type":"ai_tool","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"rop","type":"ai_embedding","index":0}]]},"rop":{"ai_tool":[[{"node":"BUSINESS TRAINER","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d4dd9c01-2dcf-4575-b5bc-0ad3774aa67c","triggerCount":0,"shared":[{"createdAt":"2025-07-18T11:32:58.167Z","updatedAt":"2025-07-18T11:32:58.167Z","role":"workflow:owner","workflowId":"gCaj9f3U0gAEjdKm","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-07T10:51:18.021Z","updatedAt":"2025-07-07T10:51:18.021Z","id":"bl8oQ8akJ8EMXVUo","name":"sprut"}]}