генерація-фото-BL8pAxCJBFfySzyi.json
{"createdAt":"2025-07-09T14:10:33.786Z","updatedAt":"2025-07-22T13:40:51.547Z","id":"BL8pAxCJBFfySzyi","name":"Генерація фото","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.properties['Текст статті'].rich_text[0].text.content }}","options":{"systemMessage":"=🎯 {Мета задачі}\nОтримавши {футуристичний філософський текст або концептуальну ідею з [_]}, агент формує {візуальний промпт} для генерації зображення, що передає суть через образ {постлюдської форми}, {технофілософської метафори} і один виразний {неприродний кольоровий акцент}.\n\n🧩 {Алгоритм}\nПрочитай текст і виділи головну ідею, що стосується [свідомості], [особистості], [штучного інтелекту], [відчуження], [часу], [технологічного страху].\n\nФормулюй основну думку в 1-2 реченнях — семантичне ядро тексту.\n\nОбери візуальну метафору або символ, який найкраще передає суть тексту: {глітч}, {петля часу}, {осколки пам'яті}, {занедбаний інтерфейс}, {спотворена проекція}.\n\nІнтегруй обрану метафору у вигляд {синтетичної форми}, використовуючи наступні характеристики:\n\nПрозорість, склоподібність, плавлення, деформація.\n\nЦе може бути фрагмент людини (голова, торс, маска), частково оцифрована чи зруйнована форма.\n\nДодай один виразний неприродний кольоровий акцент, який виділяється на фоні зображення:\n\nНаприклад: неонова тріщина, цифрове спотворення на лобі, яскраво-фіолетовий промінь, бірюзовий глітч у зоні серця.\n\n🖼️ {Стиль зображення}\nЦифрова мінімалістична синтетика + технологічний акцент\nФілософський технорелізм: порожнеча, розриви, світло і тіні, обнулення\nКольорова палітра: скляні, металеві, обпечені відтінки + один неоновий акцент\nРоздільна здатність: 1920×1080, 16:9\nСтиль: Ultra-HD, Technorealism, Surreal-Futuristic\n\n📄 {Шаблон виводу}\nMain idea: [1-2 речення, що передають філософську і техно-сутність тексту]\n\nVisual metaphor: [метафора, опис інтеграції її в образ і місце кольорового акценту]\n\nImage prompt:\nA cinematic 16:9 image of a fragmented synthetic humanoid, symbolizing {concept}, within a vast, data-crumbled space such as {location}. The body is partially transparent, cracked, and distorted, with visible disruptions in the surface texture and digital fractures. A striking surreal accent disturbs the synthetic form — for example, a neon blue fracture cutting through the face, a glowing red core beneath translucent skin, or a magenta glitch emanating from the chest. The environment is vast, empty, and contemplative, with digital dust and a melancholic post-digital atmosphere. Technorealism, dusted-glass textures, monochrome tones + one glowing accent. Ultra-HD, 1920x1080.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[384,0],"id":"b4895897-08fb-4fbb-9521-e0cdbfae724a","name":"Генератор картинок"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[304,208],"id":"71980d95-e917-48f5-a006-06a5c417778b","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"resource":"image","prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1040,32],"id":"642f2641-ab5a-45f9-8c99-eb2cfb6b84a0","name":"OpenAI","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"authentication":"serviceAccount","name":"={{ $now }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1BRbwh7RI9JYzTXQjwRr7EkF4UU_Ar08q","mode":"list","cachedResultName":"Зображення для заводу","cachedResultUrl":"https://drive.google.com/drive/folders/1BRbwh7RI9JYzTXQjwRr7EkF4UU_Ar08q"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1232,32],"id":"9f56665f-8b41-4bd6-8f65-719f09811ab1","name":"Google Drive","credentials":{"googleApi":{"id":"dqAfQDueJ18OSO9B","name":"Google Service Account account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion2').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Статус|status","statusValue":"=Готовий до публікації"},{"key":"=URL зображення|url","urlValue":"={{ $json.webContentLink }}"},{"key":"=ID Google Drive|rich_text","textContent":"={{ $json.id }}"},{"key":"=Промт для зображення|rich_text","textContent":"={{ $('Генератор картинок').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1424,0],"id":"9b7ffe17-565d-499a-86e9-f0228bb0eeb0","name":"Добавление картинки","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"9cd2df49-fe7e-4286-a81c-bc6909ebf3b0","name":"Schedule Trigger"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"229238a4-91a0-805d-96e8-c28aa4e28b06","mode":"list","cachedResultName":"Контент-план","cachedResultUrl":"https://www.notion.so/229238a491a0805d96e8c28aa4e28b06"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"Статус|status","condition":"equals","statusValue":"Генеруємо зображення"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[192,0],"id":"f3859326-6e70-4268-b88e-2e62fb352034","name":"Notion2","credentials":{"notionApi":{"id":"SwNa47kLsaS57n78","name":"Notion account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[752,0],"id":"83d7a610-d9bc-4279-ab56-26a67753cc9c","name":"Loop Over Items"}],"connections":{"Генератор картинок":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Генератор картинок","type":"ai_languageModel","index":0}]]},"OpenAI":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Добавление картинки","type":"main","index":0}]]},"Добавление картинки":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"Notion2":{"main":[[{"node":"Генератор картинок","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"00a18e42-1f3a-4741-9ce3-e2f12d796297","triggerCount":1,"shared":[{"createdAt":"2025-07-09T14:10:33.786Z","updatedAt":"2025-07-09T14:10:33.786Z","role":"workflow:owner","workflowId":"BL8pAxCJBFfySzyi","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-18T12:01:26.737Z","updatedAt":"2025-07-18T12:01:26.737Z","id":"5Lic0rcHrbCyxA3P","name":"Проект Х"}]}