генератор-відео-з-тікток-KrJc63AORt4H2Pns.json
{"createdAt":"2025-07-28T10:20:53.287Z","updatedAt":"2025-07-28T10:20:53.287Z","id":"KrJc63AORt4H2Pns","name":"Генератор відео з ТІкток","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"{\n  \"instagram_id\": \"0000\",\n  \"youtube_id\": \"0000\",\n  \"threads_id\": \"0000\",\n  \"tiktok_id\": \"0000\",\n  \"facebook_id\": \"0000\",\n  \"facebook_page_id\": \"000000000000\",\n  \"twitter_id\": \"0000\",\n  \"linkedin_id\": \"0000\",\n  \"pinterest_id\": \"0000\",\n  \"pinterest_board_id\": \"00000000000000000000\",\n  \"bluesky_id\": \"0000\"\n}\n","options":{}},"id":"6862e834-49d5-4d55-acc3-1aaea762caf9","name":"Assign Social Media IDs","type":"n8n-nodes-base.set","position":[784,1184],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_KEY"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $('Update Final Video URL in Sheet').item.json['URL de la vidéo'] }}"}]},"options":{}},"id":"a3c106e1-649f-4bf8-8fff-6aea83c2131d","name":"Upload Video to Blotato","type":"n8n-nodes-base.httpRequest","position":[992,1184],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"=YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.instagram_id }}\",\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Save Rewritten Video to Google Sheets').item.json.Caption }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n\n","options":{}},"id":"ab524839-c503-425e-b089-dbef70020144","name":"INSTAGRAM","type":"n8n-nodes-base.httpRequest","position":[1280,944],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.youtube_id }}\",\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Save Rewritten Video to Google Sheets').item.json['Texte superposé'] }}\",\n      \"privacyStatus\": \"unlisted\",\n      \"shouldNotifySubscribers\": \"false\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Save Rewritten Video to Google Sheets').item.json.Caption }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"5fcf46fd-14f1-4d8d-b650-736a6a2db3be","name":"YOUTUBE","type":"n8n-nodes-base.httpRequest","position":[1504,944],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.tiktok_id }}\",\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": \"false\", \n      \"disabledDuet\": \"false\",\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": \"true\",\n      \"disabledStitch\": \"false\",\n      \"disabledComments\": \"false\",\n      \"isBrandedContent\": \"false\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Save Rewritten Video to Google Sheets').item.json.Caption }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"5814d314-5755-4f99-a6c4-54fbffb83b24","name":"TIKTOK","type":"n8n-nodes-base.httpRequest","position":[1696,944],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.facebook_id }}\",\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Assign Social Media IDs').item.json.facebook_page_id }}\"\n\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Save Rewritten Video to Google Sheets').item.json.Caption }}\",\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}","options":{}},"id":"97c6381d-9acd-4870-83f5-c1f1468cb4e5","name":"FACEBOOK","type":"n8n-nodes-base.httpRequest","position":[1280,1184],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.threads_id }}\",\n    \"target\": {\n      \"targetType\": \"threads\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Save Rewritten Video to Google Sheets').item.json.Caption }}\",\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"af1c4310-d900-4ef4-90ac-54d74cd52c3a","name":"THREADS","type":"n8n-nodes-base.httpRequest","position":[1504,1184],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"=YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.twitter_id }}\",\n    \"target\": {\n      \"targetType\": \"twitter\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Save Rewritten Video to Google Sheets').item.json.Caption }}\",\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"ec14d3c6-abf6-4a6b-8d25-1bd97ae0564f","name":"TWETTER","type":"n8n-nodes-base.httpRequest","position":[1696,1184],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.linkedin_id }}\",\n    \"target\": {\n      \"targetType\": \"linkedin\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Save Rewritten Video to Google Sheets').item.json.Caption }}\",\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"fd265e89-8b8a-4994-9d32-aa8c856fef99","name":"LINKEDIN","type":"n8n-nodes-base.httpRequest","position":[1280,1424],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.bluesky_id }}\",\n    \"target\": {\n      \"targetType\": \"bluesky\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Save Rewritten Video to Google Sheets').item.json.Caption }}\",\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": [\n        \"https://pbs.twimg.com/media/GE8MgIiWEAAfsK3.jpg\"\n      ]\n    }\n  }\n}\n","options":{}},"id":"8e88c156-d5c5-495f-8aea-41febf25d2da","name":"BLUESKY","type":"n8n-nodes-base.httpRequest","position":[1504,1424],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.pinterest_id }}\",\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Assign Social Media IDs').item.json.pinterest_board_id }}\"      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Save Rewritten Video to Google Sheets').item.json.Caption }}\",\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\n        \"https://pbs.twimg.com/media/GE8MgIiWEAAfsK3.jpg\"\n      ]\n    }\n  }\n}\n\n","options":{}},"id":"4eb2d8a7-331f-44cd-bbc4-01ea36872096","name":"PINTEREST","type":"n8n-nodes-base.httpRequest","position":[1696,1424],"typeVersion":4.2},{"parameters":{"content":"# 🟫 ШАГ 1 — Клонируем вирусное видео из TikTok\n","height":300,"width":2460},"id":"e7bbc3d8-3b09-4325-bc1f-11e044fb5748","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[112,-128],"typeVersion":1},{"parameters":{"content":"# 🟦 ШАГ 2 — Генерируем новую идею для контента\n","height":320,"width":1920,"color":4},"id":"e742fdbd-3b66-47b4-a669-25b9394f1b4a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[112,240],"typeVersion":1},{"parameters":{"content":"# 🟪 ШАГ 3 — Создаем новое видео с вашим аватаром ","height":300,"width":1920},"id":"4de25fc8-5944-4de0-aab7-aea955610b83","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[112,592],"typeVersion":1},{"parameters":{"content":"# 🟥 ШАГ 4 — Публикуем на 9 платформах\n","height":680,"width":1920,"color":3},"id":"69e09e5a-41f1-4284-9c4a-b25f8e94a68c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[112,912],"typeVersion":1},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"2803116f-583e-4d72-b818-59196a7bddc0","name":"Trigger: Get TikTok URL via Telegram","type":"n8n-nodes-base.telegramTrigger","position":[240,-32],"webhookId":"9a749f58-0f17-45ef-80a9-0e8d17bde5b5","typeVersion":1.1},{"parameters":{"url":"=https://tiktok-download-video1.p.rapidapi.com/getVideo?url={{ $json.message.text }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"tiktok-download-video1.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"YOUR_API_KEY"}]},"options":{}},"id":"cbf8748c-7aa7-4296-a177-6dd49d966087","name":"Download TikTok Video (RapidAPI)","type":"n8n-nodes-base.httpRequest","position":[464,-32],"typeVersion":4.2},{"parameters":{"url":"={{ $json.data.origin_cover }}","options":{}},"id":"24663219-9510-4af3-a8b3-ac311ca83a0e","name":"Extract Video Thumbnail","type":"n8n-nodes-base.httpRequest","position":[672,-32],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/YOUR_ID/image/upload","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"upload_preset","value":"n8n_clone"}]},"options":{}},"id":"562936b4-2565-40be-9dd2-fe89c15606aa","name":"Upload Thumbnail to Cloudinary","type":"n8n-nodes-base.httpRequest","position":[896,-32],"typeVersion":4.2},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"imageUrls":"={{ $json.url }}","options":{}},"id":"25589517-8e83-447c-b615-9b5542c17cb4","name":"Analyze Thumbnail (GPT-4o Vision)","type":"@n8n/n8n-nodes-langchain.openAi","position":[1120,-32],"typeVersion":1.8},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Identify the primary text located at the top of the image described above:\n{{ $json.content }}\n\nReturn only that specific top text as the output.\n\nDo not include any quotation marks.\n\nFocus only on the top section's text in the image and disregard any other content."}]},"options":{}},"id":"dc8d30d1-6d8e-4170-94dd-82ad7b01568f","name":"Extract Overlay Text (GPT-4o)","type":"@n8n/n8n-nodes-langchain.openAi","position":[1344,-32],"typeVersion":1.8},{"parameters":{"url":"={{ $('Download TikTok Video (RapidAPI)').item.json.data.music }}","options":{}},"id":"fd61a659-b2ed-4bfb-8d1d-f62f1f7ceff9","name":"Download TikTok Audio","type":"n8n-nodes-base.httpRequest","position":[1696,-32],"typeVersion":4.2},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"daaf00e4-f5a8-4884-b7ec-fef24d4c804a","name":"Transcribe Audio to Script (GPT)","type":"@n8n/n8n-nodes-langchain.openAi","position":[1920,-32],"typeVersion":1.8},{"parameters":{"jsCode":"// Utility to create a random alphanumeric ID\nfunction createUniqueId(length = 12) {\n  const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n  let id = '';\n  for (let i = 0; i < length; i++) {\n    const randomIndex = Math.floor(Math.random() * characters.length);\n    id += characters[randomIndex];\n  }\n  return id;\n}\n\n// Return the ID in the expected output structure\nreturn [\n  {\n    json: {\n      code: createUniqueId()\n    }\n  }\n];"},"id":"f6fae6ea-c645-4417-a0d9-8b95a5337a92","name":"Generate Unique Template ID","type":"n8n-nodes-base.code","position":[2144,-32],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SoYJvZbVNn4L1FNfk9eFqx_vGlCsMxgw8bx0DVFgBLY/edit#gid=0","cachedResultName":"Template"},"columns":{"value":{"Caption":"={{ $('Download TikTok Video (RapidAPI)').item.json.data.title }}","ID du modèle":"={{ $json.code }}","Lien de la vidéo":"={{ $('Trigger: Get TikTok URL via Telegram').item.json.message.text }}","Modèle de script vidéo":"={{ $('Transcribe Audio to Script (GPT)').item.json.text }}","Modèle de texte superposé":"={{ $('Download TikTok Audio').item.json.message.content }}"},"schema":[{"id":"ID du modèle","type":"string","display":true,"required":false,"displayName":"ID du modèle","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Lien de la vidéo","type":"string","display":true,"required":false,"displayName":"Lien de la vidéo","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Modèle de texte superposé","type":"string","display":true,"required":false,"displayName":"Modèle de texte superposé","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Modèle de script vidéo","type":"string","display":true,"required":false,"displayName":"Modèle de script vidéo","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Caption","type":"string","display":true,"required":false,"displayName":"Caption","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"508f3736-7516-4628-992d-77e7acde8193","name":"Save Original Video to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2352,-32],"typeVersion":4.5},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-reasoning\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Suggest a content idea different from this video script: \\\"{{ $json['Modèle de script vidéo'] }}\\\". It should be in the same niche and on the exact same topic or content idea but offer fresh value. You must pick one idea from your research that matches the topic idea of the video script exactly but is also different and unique from it so it would stand out on social media. Example: if the video script contains a list of tools, your topic must also be a list of tools in that video script topic but slightly different, maybe different tools etc. If the video's script is about a plan, strategies, or whatever, you must also make your topic about that. So you must maintain the nature of the topic in the video script. You absolutely must be specific as the original video script. You can't just mention generic tools or strategies if the original video script contains specific tools. Etc. That is the level of accuracy and perfect matching of the video script original topic. Make sure it appeals to a broad audience like the example.\"\n    }\n  ]\n}\n","options":{}},"id":"64674a1d-14ff-4260-9f4c-343f16a2179a","name":"Suggest Similar Idea (Perplexity)","type":"n8n-nodes-base.httpRequest","position":[240,320],"typeVersion":4.2},{"parameters":{"jsCode":"// Step 1: Pull raw input\nlet raw = $input.first().json.choices[0].message.content;\n// Step 2: Forcefully remove anything between <think> and </think>\nlet cleaned = raw.replace(/<think>(.|\\n)*?<\\/think>/gi,\n'').trim();\n// Optional cleanup: remove leading/trailing blank lines\ncleaned = cleaned.replace(/^\\s+|\\s+$/g, '');\n// Done\nreturn [\n{\njson: {\ncleanedResponse: cleaned\n}\n}\n];\n"},"id":"b281d5a2-ab2c-4109-b152-795bc6a6077e","name":"Clean Perplexity Response","type":"n8n-nodes-base.code","position":[480,320],"typeVersion":2},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are rewriting a TikTok video script, caption, and overlay —\nnot inventing a new one. You must follow this format and obey\nthese rules strictly.\n---\n### CONTEXT:\nHere is the content idea to use:\n{{ $json.cleanedResponse }}\n\n---\n### STEP 1: Rewrite the original video script BELOW using the new\ntopic/context above but maintaiin as stubbornly as possible the\noriginal script structure and style:\nOriginal script: {{ $('Save Original Video to Google Sheets').item.json['Modèle de script vidéo'] }}\n\n\n🛑 DO NOT CHANGE the original structure or style but\nThis includes:\n- Numbered list\n- Sentence breaks\n- \"I\" or first-person narration\n- Colloquial/informal tone (like “you're gonna wanna...”)\n✂️ You MUST keep:\n- first person narration of the orignal script at all costs\n- MUST be under 700 characters (yes \"Characters\" not wordcount)\nthis is an absolute MUST, no more than 700 characters!!! But never\nchange the structure or narration style of the original script. It\nmust be an exact imitation.\n✏️ You MAY change:\n- Tool names\n- Use cases\n- Descriptions\n- Niche-specific keywords\n\n#Rule: never use any characers like \"\" in your generated video\nscript as this will yeild syntax errors.\n---\n### STEP 2: Rewrite the caption text using the new topic.\nKeep:\n- Same structure and tone\n- Same use of #hashtags but space between each hashtag\n- Similar sentence count and layout\nCaption:\n{{ $('Save Original Video to Google Sheets').item.json.Caption }}\n\n---\n### STEP 3: Rewrite the text overlay (short version for the\nthumbnail or first screen)\nKeep:\n- EXACT Same length format, case, structure\n- Do NOT invent new words unless absolutely necessary\nOverlay:\n{{ $('Save Original Video to Google Sheets').item.json['Modèle de texte superposé'] }}\n---\n### FINAL OUTPUT FORMAT (no markdown formatting):\nText Overlay: [REWRITTEN TEXT OVERLAY]\nVideo Script: [REWRITTEN SCRIPT]\nCaption Text: [REWRITTEN CAPTION TEXT]\nDO NOT return any explanations. Only return the rewritten\nsections."}]},"options":{}},"id":"60894a32-da35-4af8-99dc-90598ef68c23","name":"Rewrite Script, Caption, Overlay (GPT-4o)","type":"@n8n/n8n-nodes-langchain.openAi","position":[800,320],"typeVersion":1.8},{"parameters":{"jsCode":"// Récupère le contenu du premier item\nconst input = $input.first().json.message.content;\n\n// On tolère les retours à la ligne réels (\\n) ou échappés (\\\\n)\n\n// Text Overlay\nconst textOverlayMatch = input.match(\n  /Text\\s*Overlay:\\s*(.+?)(?:\\r?\\n|\\\\n)/s\n);\n\n// Video Script\nconst videoScriptMatch = input.match(\n  /Video\\s*Script:\\s*(.+?)(?:\\r?\\n|\\\\n)Caption\\s*Text:/s\n);\n\n// Caption Text (jusqu'à la fin)\nconst captionTextMatch = input.match(\n  /Caption\\s*Text:\\s*(.+)/s\n);\n\nreturn [\n  {\n    json: {\n      textOverlay:   textOverlayMatch   ? textOverlayMatch[1].trim()   : null,\n      videoScript:   videoScriptMatch   ? videoScriptMatch[1].trim()   : null,\n      captionText:   captionTextMatch   ? captionTextMatch[1].trim()   : null,\n    }\n  }\n];\n"},"id":"264d68c5-3bf5-495e-b188-4ff23d15d3f0","name":"Split Rewritten Content into Sections","type":"n8n-nodes-base.code","position":[1280,320],"typeVersion":2},{"parameters":{"jsCode":"// Utility to create a random alphanumeric ID\nfunction createUniqueId(length = 12) {\n  const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n  let id = '';\n  for (let i = 0; i < length; i++) {\n    const randomIndex = Math.floor(Math.random() * characters.length);\n    id += characters[randomIndex];\n  }\n  return id;\n}\n\n// Return the ID in the expected output structure\nreturn [\n  {\n    json: {\n      code: createUniqueId()\n    }\n  }\n];"},"id":"3e3cdee0-a0ad-4575-a983-3887606f925e","name":"Generate New Video ID","type":"n8n-nodes-base.code","position":[1504,320],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"id","value":"=52679157"},"columns":{"value":{"Sujet":"={{ $('Clean Perplexity Response').first().json.cleanedResponse }}","Script":"={{ $('Split Rewritten Content into Sections').item.json.videoScript }}","Caption":"={{ $('Split Rewritten Content into Sections').item.json.captionText }}","ID du modèle":"={{ $('Generate Unique Template ID').first().json.code }}","ID de la vidéo":"={{ $json.code }}","Texte superposé":"={{ $('Split Rewritten Content into Sections').item.json.textOverlay }}"},"schema":[{"id":"ID du modèle","type":"string","display":true,"required":false,"displayName":"ID du modèle","defaultMatch":false,"canBeUsedToMatch":true},{"id":"ID de la vidéo","type":"string","display":true,"removed":false,"required":false,"displayName":"ID de la vidéo","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sujet","type":"string","display":true,"removed":false,"required":false,"displayName":"Sujet","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Texte superposé","type":"string","display":true,"removed":false,"required":false,"displayName":"Texte superposé","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Script","type":"string","display":true,"removed":false,"required":false,"displayName":"Script","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Caption","type":"string","display":true,"required":false,"displayName":"Caption","defaultMatch":false,"canBeUsedToMatch":true},{"id":"URL de la vidéo","type":"string","display":true,"removed":true,"required":false,"displayName":"URL de la vidéo","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date de publication","type":"string","display":true,"removed":true,"required":false,"displayName":"Date de publication","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Statut","type":"string","display":true,"removed":true,"required":false,"displayName":"Statut","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"fc85a3b5-5402-43da-97fc-9985dd028ce8","name":"Save Rewritten Video to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[1680,320],"typeVersion":4.5},{"parameters":{"method":"POST","url":"https://api.captions.ai/api/creator/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"YOUR_API_KEY"}]},"options":{}},"id":"38287aa0-20fe-42b9-87f5-6ec1bb9c8b37","name":"Fetch Available Avatars","type":"n8n-nodes-base.httpRequest","position":[240,704],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.captions.ai/api/creator/submit","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"script\": \"{{ $('Save Rewritten Video to Google Sheets').item.json.Script }}\",\n\"creatorName\": \"{{ $json.supportedCreators[0] }}\",\n\"resolution\": \"fhd\"\n}","options":{}},"id":"d58a4ee8-baeb-426c-b692-85f9c7fe81a4","name":"Generate Video with Avatar","type":"n8n-nodes-base.httpRequest","position":[480,704],"typeVersion":4.2},{"parameters":{"amount":3,"unit":"minutes"},"id":"e1605403-ebcf-441e-a333-cc13ac425507","name":"Wait for Avatar Rendering (3 min)","type":"n8n-nodes-base.wait","position":[672,704],"webhookId":"779e4676-d28f-4be9-9118-c90c688e805a","typeVersion":1.1},{"parameters":{"method":"POST","url":"https://api.captions.ai/api/creator/poll","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"YOUR_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n \"operationId\": \"{{ $json[\"operationId\"] }}\"\n}","options":{}},"id":"e35602a2-eaef-443f-a69c-a1ed9b9d7510","name":"Fetch Avatar Video URL","type":"n8n-nodes-base.httpRequest","position":[880,704],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.json2video.com/v2/movies","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"=\n{\n\"id\": \"qbaasr7s\",\n\"resolution\": \"instagram-story\",\n\"quality\": \"high\",\n\"scenes\": [\n{\n\"id\": \"qyjh9lwj\",\n\"comment\": \"Scene 1\",\n\"elements\": []\n}\n],\n\"elements\": [\n{\n\"id\": \"q6dznzcv\",\n\"type\": \"video\",\n\"src\": \"{{ $json.url }}\",\n\"resize\": \"cover\"\n},\n{\n\"id\": \"top-text\",\n\"type\": \"text\",\n\"text\": \"{{ $('Save Rewritten Video to Google Sheets').item.json['Texte superposé'] }}\",\n\"settings\": {\n\"font-family\": \"Arial\",\n\"font-size\": \"60px\",\n\"color\": \"#000000\",\n\"background-color\": \"#FFFFFF\",\n\"horizontal-position\": \"center\",\n\"vertical-position\": \"top\",\n\"margin-top\": \"100px\",\n\"word-break\": \"break-word\",\n\"overflow-wrap\": \"break-word\",\n\"font-weight\": \"bold\",\n\"text-align\": \"center\",\n\"width\": \"80%\",\n\"padding\": \"0px\",\n\"line-height\": \"1.2\",\n\"margin\": \"50px 0 0 0\",\n\"padding\": \"0 10px 0 10px\",\n\"border-radius\": \"15px\"\n}\n},\n{\n\"id\": \"q41n9kxp\",\n\"type\": \"subtitles\",\n\"settings\": {\n\"style\": \"classic\",\n\"position\": \"bottom\",\n\"font-family\": \"Arial\",\n\"font-size\": \"100px\",\n\"word-color\": \"#ffd700\",\n\"shadow-color\": \"#260B1B\",\n\"line-color\": \"#F1E7F4\",\n\"shadow-offset\": 0,\n\"box-color\": \"#260B1B\",\n\"outline-color\": \"#000000\",\n\"outline-width\": 8\n},\n\"language\": \"en\"\n}\n]\n}","options":{}},"id":"70dff69e-253f-4ae4-9fab-525a65f6daa2","name":"Add Overlay Text with JSON2Video","type":"n8n-nodes-base.httpRequest","position":[1072,704],"typeVersion":4.2},{"parameters":{"amount":2,"unit":"minutes"},"id":"10300919-ced3-4edb-a8fc-8c065a0c63b3","name":"Wait for Caption Rendering","type":"n8n-nodes-base.wait","position":[1280,704],"webhookId":"67093c5d-34fa-44e8-9dfd-e25ca5f99ac2","typeVersion":1.1},{"parameters":{"url":"=https://api.json2video.com/v2/movies?id={{ $json.project }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{}},"id":"f49aa80d-4d5c-40d0-bc52-c4b66e4b934a","name":"Fetch Final Video from JSON2Video","type":"n8n-nodes-base.httpRequest","position":[1472,704],"typeVersion":4.2},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"list","value":52679157,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SoYJvZbVNn4L1FNfk9eFqx_vGlCsMxgw8bx0DVFgBLY/edit#gid=52679157","cachedResultName":"MA VIDEO"},"columns":{"value":{"ID de la vidéo":"={{ $('Save Rewritten Video to Google Sheets').item.json['ID de la vidéo'] }}","URL de la vidéo":"={{ $json.movie.url }}"},"schema":[{"id":"ID du modèle","type":"string","display":true,"removed":true,"required":false,"displayName":"ID du modèle","defaultMatch":false,"canBeUsedToMatch":true},{"id":"ID de la vidéo","type":"string","display":true,"removed":false,"required":false,"displayName":"ID de la vidéo","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Sujet","type":"string","display":true,"removed":true,"required":false,"displayName":"Sujet","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Texte superposé","type":"string","display":true,"removed":true,"required":false,"displayName":"Texte superposé","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Script","type":"string","display":true,"removed":true,"required":false,"displayName":"Script","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Caption","type":"string","display":true,"removed":true,"required":false,"displayName":"Caption","defaultMatch":false,"canBeUsedToMatch":true},{"id":"URL de la vidéo","type":"string","display":true,"removed":false,"required":false,"displayName":"URL de la vidéo","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date de publication","type":"string","display":true,"removed":true,"required":false,"displayName":"Date de publication","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Statut","type":"string","display":true,"removed":true,"required":false,"displayName":"Statut","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["ID de la vidéo"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"8bd2fb10-6725-48b7-ba00-36402b559ff1","name":"Update Final Video URL in Sheet","type":"n8n-nodes-base.googleSheets","position":[1680,704],"typeVersion":4.5},{"parameters":{"chatId":"={{ $('Trigger: Get TikTok URL via Telegram').item.json.message.chat.id }}","text":"=Url VIDEO : {{ $json['URL de la vidéo'] }}","additionalFields":{}},"id":"d30b0f2e-3e0f-4bf2-840d-a680eff82b7f","name":"Send Video URL via Telegram","type":"n8n-nodes-base.telegram","position":[256,1184],"webhookId":"37975672-4633-4c65-a8d8-4d101bff5f84","typeVersion":1.2},{"parameters":{"operation":"sendVideo","chatId":"={{ $json.result.chat.id }}","file":"={{ $('Update Final Video URL in Sheet').item.json['URL de la vidéo'] }}","additionalFields":{}},"id":"ca23b64b-1671-416e-a5ea-aff8a0ac7d53","name":"Send Final Video Preview","type":"n8n-nodes-base.telegram","position":[464,1184],"webhookId":"ee91d7ee-1c35-41fa-b8f0-f153b8776369","typeVersion":1.2}],"connections":{"Download TikTok Audio":{"main":[[{"node":"Transcribe Audio to Script (GPT)","type":"main","index":0}]]},"Generate New Video ID":{"main":[[{"node":"Save Rewritten Video to Google Sheets","type":"main","index":0}]]},"Fetch Avatar Video URL":{"main":[[{"node":"Add Overlay Text with JSON2Video","type":"main","index":0}]]},"Assign Social Media IDs":{"main":[[{"node":"Upload Video to Blotato","type":"main","index":0}]]},"Extract Video Thumbnail":{"main":[[{"node":"Upload Thumbnail to Cloudinary","type":"main","index":0}]]},"Fetch Available Avatars":{"main":[[{"node":"Generate Video with Avatar","type":"main","index":0}]]},"Upload Video to Blotato":{"main":[[{"node":"INSTAGRAM","type":"main","index":0},{"node":"YOUTUBE","type":"main","index":0},{"node":"TIKTOK","type":"main","index":0},{"node":"FACEBOOK","type":"main","index":0},{"node":"THREADS","type":"main","index":0},{"node":"TWETTER","type":"main","index":0},{"node":"LINKEDIN","type":"main","index":0},{"node":"BLUESKY","type":"main","index":0},{"node":"PINTEREST","type":"main","index":0}]]},"Send Final Video Preview":{"main":[[{"node":"Assign Social Media IDs","type":"main","index":0}]]},"Clean Perplexity Response":{"main":[[{"node":"Rewrite Script, Caption, Overlay (GPT-4o)","type":"main","index":0}]]},"Generate Video with Avatar":{"main":[[{"node":"Wait for Avatar Rendering (3 min)","type":"main","index":0}]]},"Wait for Caption Rendering":{"main":[[{"node":"Fetch Final Video from JSON2Video","type":"main","index":0}]]},"Generate Unique Template ID":{"main":[[{"node":"Save Original Video to Google Sheets","type":"main","index":0}]]},"Send Video URL via Telegram":{"main":[[{"node":"Send Final Video Preview","type":"main","index":0}]]},"Extract Overlay Text (GPT-4o)":{"main":[[{"node":"Download TikTok Audio","type":"main","index":0}]]},"Upload Thumbnail to Cloudinary":{"main":[[{"node":"Analyze Thumbnail (GPT-4o Vision)","type":"main","index":0}]]},"Update Final Video URL in Sheet":{"main":[[{"node":"Send Video URL via Telegram","type":"main","index":0}]]},"Add Overlay Text with JSON2Video":{"main":[[{"node":"Wait for Caption Rendering","type":"main","index":0}]]},"Download TikTok Video (RapidAPI)":{"main":[[{"node":"Extract Video Thumbnail","type":"main","index":0}]]},"Transcribe Audio to Script (GPT)":{"main":[[{"node":"Generate Unique Template ID","type":"main","index":0}]]},"Analyze Thumbnail (GPT-4o Vision)":{"main":[[{"node":"Extract Overlay Text (GPT-4o)","type":"main","index":0}]]},"Fetch Final Video from JSON2Video":{"main":[[{"node":"Update Final Video URL in Sheet","type":"main","index":0}]]},"Suggest Similar Idea (Perplexity)":{"main":[[{"node":"Clean Perplexity Response","type":"main","index":0}]]},"Wait for Avatar Rendering (3 min)":{"main":[[{"node":"Fetch Avatar Video URL","type":"main","index":0}]]},"Save Original Video to Google Sheets":{"main":[[{"node":"Suggest Similar Idea (Perplexity)","type":"main","index":0}]]},"Trigger: Get TikTok URL via Telegram":{"main":[[{"node":"Download TikTok Video (RapidAPI)","type":"main","index":0}]]},"Save Rewritten Video to Google Sheets":{"main":[[{"node":"Fetch Available Avatars","type":"main","index":0}]]},"Split Rewritten Content into Sections":{"main":[[{"node":"Generate New Video ID","type":"main","index":0}]]},"Rewrite Script, Caption, Overlay (GPT-4o)":{"main":[[{"node":"Split Rewritten Content into Sections","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f774256d-d4a7-40c4-8be5-cab72fc681e6","triggerCount":0,"shared":[{"createdAt":"2025-07-28T10:20:53.287Z","updatedAt":"2025-07-28T10:20:53.287Z","role":"workflow:owner","workflowId":"KrJc63AORt4H2Pns","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}