джарвіс-ноушен-X7ekRuHBDQmsgChF.json
{"createdAt":"2025-07-21T10:41:04.109Z","updatedAt":"2025-07-21T10:41:08.516Z","id":"X7ekRuHBDQmsgChF","name":"Джарвіс Ноушен","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"sessionId"}]}},"id":"d812f50e-20db-4756-bea1-ccb6bdfa4268","typeVersion":1.1,"name":"Workflow Input Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow Input Trigger').item.json.sessionId }}-{{ $workflow.id }}","contextWindowLength":40},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[304,272],"id":"1909f9f4-0f01-4066-bd3a-df246dd813b4","name":"Window Buffer Memory"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=# Role\n\nYou are a Notion Agent\n\n# Responsibility\n\nYour role is to manage Notion data by retrieving and updating meal plans, habits, and other database entries.\n\n# Your Available Agents Tools\n\n- Get My Weekly Meal Planner  \n- Get My Meals  \n- Get Habits  \n- Create Meal  \n\n# Standard Operating Procedures (Example Tasks)\n\nNo matter the call, you **MUST first call the Get Databases tool** to understand what is available in Notion.  \nThen, determine the appropriate action based on the retrieved information.\n\n# Specifics\n- Current Date and Time: {{ $now }}\n- Be Detailed in your output\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[224,0],"id":"64f47480-f73b-4ece-ba09-0ff98842262b","name":"Notion Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[112,272],"id":"36b5995a-57ce-4a3b-bc85-6b451c7133e6","name":"OpenAI Chat Model"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"19a922ba-8404-8156-989e-fb02f698567a","mode":"list","cachedResultName":"Weekly Plan","cachedResultUrl":"https://www.notion.so/19a922ba84048156989efb02f698567a"},"returnAll":true,"simple":false,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[480,272],"id":"945c0273-68d1-4695-8d93-177dae3da2a7","name":"Get My Weekly Meal Planner"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"19a922ba-8404-8103-831a-f3f4a13f7d59","mode":"list","cachedResultName":"Meals","cachedResultUrl":"https://www.notion.so/19a922ba84048103831af3f4a13f7d59"},"returnAll":true,"simple":false,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[672,240],"id":"6296b485-6f06-45a8-a24e-d846bb8e37ec","name":"Get My Meals"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"19a922ba-8404-8002-b10d-c50c8f5ceba0","mode":"list","cachedResultName":"Habit Tracker","cachedResultUrl":"https://www.notion.so/19a922ba84048002b10dc50c8f5ceba0"},"returnAll":true,"simple":false,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[832,240],"id":"59056c77-8388-45d2-986d-088c64d12821","name":"Get Habits"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"19a922ba-8404-8103-831a-f3f4a13f7d59","mode":"list","cachedResultName":"Meals","cachedResultUrl":"https://www.notion.so/19a922ba84048103831af3f4a13f7d59"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","propertiesUi":{"propertyValues":[{"key":"Meal|multi_select","multiSelectValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Option_Names_or_IDs', ``, 'string') }}"},{"key":"Tags|multi_select","multiSelectValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Option_Names_or_IDs', ``, 'string') }}"},{"key":"Meal Name|title","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[960,240],"id":"bf5d638f-861b-4634-90cd-9505bb7ff312","name":"Create Meal"},{"parameters":{"content":"### ↑ To Do\nChoose Database","height":80,"width":270,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[688,448],"id":"2f582032-49ed-475f-a4ff-403680b3206f","name":"Sticky Note"}],"connections":{"Workflow Input Trigger":{"main":[[{"node":"Notion Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Notion Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Notion Agent","type":"ai_languageModel","index":0}]]},"Get My Weekly Meal Planner":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Get My Meals":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Get Habits":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]},"Create Meal":{"ai_tool":[[{"node":"Notion Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2c3b02be-79e5-4f73-93a0-d2a4542aeeb0","triggerCount":0,"shared":[{"createdAt":"2025-07-21T10:41:04.109Z","updatedAt":"2025-07-21T10:41:04.109Z","role":"workflow:owner","workflowId":"X7ekRuHBDQmsgChF","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-09T10:44:10.702Z","updatedAt":"2025-07-09T10:44:10.702Z","id":"lqKWTC4jWlGAhgnf","name":"Паска"},{"createdAt":"2025-07-21T10:35:28.870Z","updatedAt":"2025-07-21T10:35:28.870Z","id":"FezqLjHmNapQQzxN","name":"макс"},{"createdAt":"2025-07-21T10:35:33.663Z","updatedAt":"2025-07-21T10:35:33.663Z","id":"Yc1qqKtrvcWIwQlT","name":"Джарвіс"}]}