дороби-фотки-гнида-JVPZbZDPOrWa8hRd.json
{"createdAt":"2025-08-07T08:48:15.209Z","updatedAt":"2025-08-12T14:58:51.780Z","id":"JVPZbZDPOrWa8hRd","name":"Дороби фотки гнида","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["edited_message","message","*"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-592,576],"id":"1ac55235-692c-44cd-83e6-2a509e994d12","name":"Telegram Trigger","webhookId":"59f1d034-1430-445d-b5b4-0c6fe1076da8","credentials":{"telegramApi":{"id":"kpvb3zHLETo4hZkJ","name":"MARABY KHOPKA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e17491c-8862-45c1-ad29-b1fc2cc7ad2d","leftValue":"={{ $json.callback_query }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,576],"id":"dc5fa488-860c-4d41-a45d-9bdca85344b3","name":"Callback"},{"parameters":{"promptType":"define","text":"=🧠 Ти — досвідчений редактор і рерайтер українськомовного Telegram-контенту.\n\n📌 Твоє завдання:\nУнікалізуй наданий нижче текст, перефразуй його так, щоб:\n\nСуть і структура збереглися  \nСтиль був живий, динамічний, в стилі Telegram  \nДодай емодзі, заголовок, списки — якщо доречно  \nВиділи <b>ключові фрази</b>  \nВикористовуй українську мову\n\n📌 Обов’язково дотримуйся технічних вимог:\n\nВиводь тільки HTML-код (Telegram-стиль)  \nДозволені теги: <b>, <i>, <a href=\"...\">текст</a>  \nЗаборонено: <br>, будь-які інші HTML-теги  \nАбзаци розділяй \\n  \nЛіміт — скорачуй текст до 1024 символів  \n\n<b>УВАГА:</b> У <b>кінці кожного рерайту</b> <u>обов’язково додавай рядок:</u>  \n<a href=\"https://www.instagram.com/fix_admin.ai/\">Instagram: @fix_admin.ai</a>\n\nЛіміт — до 1024 символів\n\nВхідний текст:\n{{ $json.message.caption }}\n\n\n\n\n\n\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[416,608],"id":"152fe853-08c8-4183-9110-bc8bf42534c0","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[384,816],"id":"ad860a07-1ea9-4352-9d7e-055ad701fb5e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[544,864],"id":"13581f64-8ca7-4435-a8ee-42757d98c702","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"43def435-b3b2-448c-9212-2dfe8f838660","name":"caption","value":"={{ (() => {\n  const raw = $json.output;\n\n  const cleaned = raw\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\+\"/g, '\"')\n    .replace(/\\\\\\\\/g, '\\\\')\n    .replace(/\\\\'/g, \"'\")\n    .replace(/\\\\&/g, \"&\")\n    .replace(/\\\\</g, \"<\")\n    .replace(/\\\\>/g, \">\")\n    .replace(/<br\\s*\\/?>/gi, '\\n')        // ⬅ додано!\n    .replace(/&nbsp;/g, ' ')              // ⬅ додано!\n    .replace(/\\n{3,}/g, '\\n\\n')           // не більше 2 переноси\n    .trim();\n\n  return cleaned;\n})() }}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,608],"id":"21717984-4cb7-49bd-88f3-17c94c357ba0","name":"Edit Fields"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","file":"={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Перероби текст","additionalFields":{"callback_data":"Перероби текст"}},{"text":"Публікуй","additionalFields":{"callback_data":"Публікуй"}},{"text":"Перероби фото","additionalFields":{"callback_data":"Перероби фото"}}]}}]},"additionalFields":{"caption":"={{ $json.caption }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[992,608],"id":"6702c5f7-4a15-4f42-869d-8d2f6bae8d17","name":"Send a photo message","webhookId":"b4b64315-bfad-484f-9b8d-d3ab9576585c","credentials":{"telegramApi":{"id":"kpvb3zHLETo4hZkJ","name":"MARABY KHOPKA"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.callback_query.data }}","rightValue":"Перероби текст","operator":{"type":"string","operation":"equals"},"id":"9e5f74da-7461-4129-ade5-42c62b954138"}],"combinator":"and"},"renameOutput":true,"outputKey":"Перероби текст"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2342f042-7f9d-417d-aad4-20f91cda0ea8","leftValue":"={{ $json.callback_query.data }}","rightValue":"Публікуй","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Публікуй"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90bfe7f8-3d55-49e0-afbb-edea79f7573b","leftValue":"={{ $json.callback_query.data }}","rightValue":"Перероби Фото","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Перероби Фото"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-160,48],"id":"24c5cb8a-2d79-4e90-b19c-da0bda49f616","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"328d5400-cce6-49f4-81c8-ad7634f8febd","name":"message","value":"=🧠 Ти — досвідчений редактор і рерайтер українськомовного Telegram-контенту.\n\n📌 Твоє завдання:\nУнікалізуй наданий нижче текст, перефразуй його так, щоб:\n\nСуть і структура збереглися  \nСтиль був живий, динамічний, в стилі Telegram  \nДодай емодзі, заголовок, списки — якщо доречно  \nВиділи <b>ключові фрази</b>  \nВикористовуй українську мову\n\n📌 Обов’язково дотримуйся технічних вимог:\n\nВиводь тільки HTML-код (Telegram-стиль)  \nДозволені теги: <b>, <i>, <a href=\"...\">текст</a>  \nЗаборонено: <br>, будь-які інші HTML-теги  \nАбзаци розділяй \\n  \nЛіміт — скорачуй текст до 1024 символів  \n\n<b>УВАГА:</b> У <b>кінці кожного рерайту</b> <u>обов’язково додавай рядок:</u>  \n<a href=\"https://www.instagram.com/fix_admin.ai/\">Instagram: @fix_admin.ai</a>\n\nЛіміт — до 1024 символів\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,-96],"id":"02985747-2af9-49c4-ad51-d96a501f3318","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"={{ $json.message }}\n{{ $('Telegram Trigger').item.json.callback_query.message.caption }}\n\n\n\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[608,-96],"id":"a4437944-fc94-4cbe-837f-32fdce9f1150","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[608,80],"id":"2175e14b-6d1b-4078-acec-0ab57a016ca4","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","file":"={{ $('Telegram Trigger').item.json.callback_query.message.photo[0].file_id }}","additionalFields":{"caption":"={{ $json.output }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1008,-96],"id":"c54fcd7b-e108-41f7-a383-58a9d194cbfe","name":"Send a photo message1","webhookId":"b4b64315-bfad-484f-9b8d-d3ab9576585c","credentials":{"telegramApi":{"id":"kpvb3zHLETo4hZkJ","name":"MARABY KHOPKA"}}},{"parameters":{"operation":"sendPhoto","chatId":"=-1002516496988","file":"={{ $('Telegram Trigger').item.json.callback_query.message.photo[0].file_id }}","additionalFields":{"caption":"={{ $json.callback_query.message.caption }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,64],"id":"79d72edd-a6f7-42b6-8ee8-1624a730f9b2","name":"Send a photo message2","webhookId":"b4b64315-bfad-484f-9b8d-d3ab9576585c","credentials":{"telegramApi":{"id":"kpvb3zHLETo4hZkJ","name":"MARABY KHOPKA"}}},{"parameters":{"promptType":"define","text":"=Description: {{ $json.message }}","options":{"systemMessage":""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[448,256],"id":"4c33f620-290a-4849-896a-5fe6d8cb3e92","name":"AI Agent2"},{"parameters":{"resource":"image","prompt":"Ти — просунутий візуальний трансформатор на основі штучного інтелекту. Твоя роль — перегенерувати зображення, зберігаючи основний сенс, метафору та композицію оригіналу, але створити абсолютно новий та унікальний візуальний варіант.\n\nТвоє завдання — взяти завантажене зображення в стилі мультфільму (наприклад, з “троянським конем”, підписами, людьми біля стіни) і створити нову ілюстрацію, яка:\n- Передає ту саму ідею або метафору (наприклад, приховану вигоду всередині троянського коня),\n- Може мати подібну загальну композицію (кінь, люди, стіна тощо),\n- Але має візуально відрізнятись: змінити стиль, кольори, пози персонажів, ракурс, фон, освітлення, візуальну подачу.\n\nЦіль — створити **нове оригінальне зображення** для публікації в Telegram, яке передає той самий маркетинговий або продажний меседж, але **не повторює оригінал**.\n\nВикористовуй оригінальне фото **лише як референс**, а не як джерело для прямого копіювання. Гарантуй, що:\n- Фінальне зображення є унікальним,\n- Не повторює точні форми, текст або стилі,\n- Чітко передає задум.\n\nЯкщо щось незрозуміло — запитай уточнення щодо стилю, рівня змін, чи потреби адаптації тексту.\n\nПерш ніж почати, сформулюй свою роль, завдання та кінцеву мету.\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[864,256],"id":"c9ead405-3f86-4519-8c25-a1acb60f86dc","name":"Generate an image","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"operation":"sendPhoto","chatId":"=-1002516496988","file":"={{ $('Telegram Trigger').item.json.callback_query.message.photo[0].file_id }}","additionalFields":{"caption":"={{ $json.callback_query.message.caption }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,272],"id":"1d02f591-5ba3-4ad6-bf7a-38a7a13ea684","name":"Send a photo message3","webhookId":"b4b64315-bfad-484f-9b8d-d3ab9576585c","credentials":{"telegramApi":{"id":"kpvb3zHLETo4hZkJ","name":"MARABY KHOPKA"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}","file":"={{ $('Telegram Trigger').item.json.callback_query.message.photo[0].file_id }}","additionalFields":{"caption":"={{ $json.output }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,256],"id":"138fc641-666f-4594-b611-bb615929f708","name":"Send a photo message4","webhookId":"b4b64315-bfad-484f-9b8d-d3ab9576585c","credentials":{"telegramApi":{"id":"kpvb3zHLETo4hZkJ","name":"MARABY KHOPKA"}}},{"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[448,400],"id":"555c5b25-99b8-41d3-968b-d6e8e8a4f56b","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"PsL78u2nrFSvw4CB","name":"OpenRouter account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"328d5400-cce6-49f4-81c8-ad7634f8febd","name":"message","value":"=Ти — просунутий візуальний трансформатор на основі штучного інтелекту. Твоя роль — перегенерувати зображення, зберігаючи основний сенс, метафору та композицію оригіналу, але створити абсолютно новий та унікальний візуальний варіант.\n\nТвоє завдання — взяти завантажене зображення в стилі мультфільму (наприклад, з “троянським конем”, підписами, людьми біля стіни) і створити нову ілюстрацію, яка:\n- Передає ту саму ідею або метафору (наприклад, приховану вигоду всередині троянського коня),\n- Може мати подібну загальну композицію (кінь, люди, стіна тощо),\n- Але має візуально відрізнятись: змінити стиль, кольори, пози персонажів, ракурс, фон, освітлення, візуальну подачу.\n\nЦіль — створити **нове оригінальне зображення** для публікації в Telegram, яке передає той самий маркетинговий або продажний меседж, але **не повторює оригінал**.\n\nВикористовуй оригінальне фото **лише як референс**, а не як джерело для прямого копіювання. Гарантуй, що:\n- Фінальне зображення є унікальним,\n- Не повторює точні форми, текст або стилі,\n- Чітко передає задум.\n\nЯкщо щось незрозуміло — запитай уточнення щодо стилю, рівня змін, чи потреби адаптації тексту.\n\nПерш ніж почати, сформулюй свою роль, завдання та кінцеву мету.\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,272],"id":"cb30a2d4-70cb-46b1-bc4c-9f591fd475bb","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d04d1f75-a44b-483c-bf98-89e3331208f2","leftValue":"={{ $json.message.photo }}\n","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1424,928],"id":"cb161e4c-1cf4-4b02-af86-f2ef04300239","name":"If"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.caption }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1408,752],"id":"024a755f-c7cb-4221-996c-d19660b38a8d","name":"Send a text message","webhookId":"6c28a750-53bd-4542-b20e-dbfb4e1dc498","credentials":{"telegramApi":{"id":"kpvb3zHLETo4hZkJ","name":"MARABY KHOPKA"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Callback","type":"main","index":0}]]},"Callback":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Send a photo message2","type":"main","index":0}],[]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Send a photo message1","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Send a photo message3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Generate an image":{"main":[[]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Send a photo message":{"main":[[]]},"If":{"main":[[],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"796bcc4c-e505-4203-921b-4277036a7a95","triggerCount":1,"shared":[{"createdAt":"2025-08-07T08:48:15.209Z","updatedAt":"2025-08-07T08:48:15.209Z","role":"workflow:owner","workflowId":"JVPZbZDPOrWa8hRd","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}