кнопки-nVDgWsyLI1HIjlZ0.json
{"createdAt":"2025-07-10T06:11:29.863Z","updatedAt":"2025-07-10T08:16:46.713Z","id":"nVDgWsyLI1HIjlZ0","name":"кнопки","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Аудио","height":480,"width":1380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1180,760],"id":"11ac99b9-6456-4ef0-8e93-f31e7fe56faf","name":"Sticky Note"},{"parameters":{"content":"## Картинка","height":520,"width":1500,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,1300],"id":"e22354cc-4bd2-4eda-b778-57644e70c5e2","name":"Sticky Note1"},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Генерирую новый скрипт...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,1260],"id":"e2597400-ff21-4c1e-8847-91a929c49b11","name":"Telegram3","webhookId":"47777b7f-dbcd-4f44-ae03-a1ed5a8f848b"},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Взял скрипт в работу✅","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,1020],"id":"2f8b7b4e-0333-44fa-baf2-d77c04fcc2bc","name":"Telegram4","webhookId":"e3b77e83-b17e-4e86-9af8-fefddb093bec"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60ef1428-2bed-4999-a401-2621b7573f97","leftValue":"={{ $json.callback_query.data }}","rightValue":"accept_script","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,1180],"id":"2a7dca36-ddde-4292-859f-96ce3c534f6b","name":"Принять скрипт?"},{"parameters":{"content":"## Проверка созданного скрипта","height":940,"width":860,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[280,880],"id":"5ed56821-a4c2-4479-9be8-40f4c2644dcc","name":"Sticky Note6"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Принять скрипт?').item.json.callback_query.message.chat.id }}","message":"Пришли фото для референса","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Reference","fieldType":"file","acceptFileTypes":".jpg, .png","requiredField":true}]},"options":{"messageButtonLabel":"Загрузить","responseFormTitle":"Загрузи свое фото","responseFormButtonLabel":"Загрузить","appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1240,1360],"id":"14fd5ca8-a8d4-44e3-9171-bfea6d850a31","name":"Пришли фото","webhookId":"3268502c-6785-4aa0-8e9f-963f72da10e7","credentials":{"telegramApi":{"id":"9wV4Urj7NQsqitpg","name":"Telegram account 5"}}},{"parameters":{"chatId":"={{ $('Telegram3').item.json.result.chat.id }}","text":"={{ $json.message.content.Podcast }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Принять✅","additionalFields":{"callback_data":"accept_script"}},{"text":"Создать заново🔄","additionalFields":{"callback_data":"regenerate_script"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,1600],"id":"2c68d006-0288-4de9-ac9b-6614284c1319","name":"Telegram","webhookId":"34912ee6-d082-41d5-b76c-6486ac3a4654"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Here’s a podcast-style script in the tone of Joe Rogan on the topic {{ $json['Тема'] }} :\n\n\n{{ $json['Скрипт'] }}\n\n\nNow create a completely new version of this script:\n– Keep the same style: casual, intense, slightly conspiratorial, full of vivid emotions and storytelling\n– Keep the same format: exactly 400 characters, no line breaks, structured like a podcast snippet\n– Do NOT reuse phrases or facts — come up with a different hook and twist\n\nReturn the result as  JSON objects called Podcast and Topic={{ $json['Тема'] }}. The text must be around 400 characters, no line breaks, special symbols, or formatting that would break JSON structure.\n\nСоставляй текст и отвечай ТОЛЬКО на русском языке"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[380,1600],"id":"01f28fe4-1606-433d-bd85-59c704f2089e","name":"Генерируем новый скрипт"},{"parameters":{"documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cs4IOdD4KPNEJ7HFOT21grm1D66wZpx_PEJ0hedIX3I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ChatID","lookupValue":"={{ $json.result.chat.id }}"},{"lookupColumn":"Статус","lookupValue":"Новый"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1240,860],"id":"0f041df1-a268-4951-819c-2d87497cb9ce","name":"Get row(s) in sheet"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cs4IOdD4KPNEJ7HFOT21grm1D66wZpx_PEJ0hedIX3I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ChatID":"={{ $json.result.chat.id }}","Скрипт":"={{ $json.result.text }}","Статус":"Новый","Дата изменения":"={{ new Date().toLocaleDateString('ru-RU') }}"},"matchingColumns":["ChatID"],"schema":[{"id":"Telegram","displayName":"Telegram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ChatID","displayName":"ChatID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Тема","displayName":"Тема","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Скрипт","displayName":"Скрипт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата изменения","displayName":"Дата изменения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[960,1600],"id":"c8640829-30ec-4a2a-bcdb-c7d788342590","name":"Append or update row in sheet"},{"parameters":{"documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cs4IOdD4KPNEJ7HFOT21grm1D66wZpx_PEJ0hedIX3I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ChatID","lookupValue":"={{ $json.result.chat.id }}"},{"lookupColumn":"Статус","lookupValue":"Новый"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[840,1260],"id":"b43ce284-cc71-4037-875c-8e033054f79c","name":"Get row(s) in sheet1"},{"parameters":{"jsCode":"// Получаем все элементы\nconst items = $input.all();\n\n// Берем последний элемент\nif (items.length > 0) {\n  return [items[items.length - 1]];\n}\n\n// Если нет элементов, возвращаем пустой массив\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,1380],"id":"2bf2cbe2-f1c7-40de-89c6-d83ec31eb0cf","name":"Code"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1880,300],"id":"c5d794e3-4b57-4515-abde-dd34484204e7","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"5cb81de0-0a34-4b28-ab3f-402447d131eb","name":"Topic","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,120],"id":"d9df9ec9-5881-4117-911c-6746a31a67b9","name":"Зафиксировать тему"},{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[40,140],"id":"564b78e9-1f13-458b-9729-aba2fb5ea3e3","name":"Telegram Trigger","webhookId":"1765f8ba-8a9c-48cf-8ba3-bcc45a4560db"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,240],"id":"3be83ecf-1f6e-45fe-9da4-7f6259e6f794","name":"Telegram6","webhookId":"b5858f34-1430-43c7-98d5-460b1b5c87b8"},{"parameters":{"content":"## Скрипт","height":460,"width":1100,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,0],"id":"cd86224f-7ad8-45a6-8a02-219e1f24ed7f","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.message.content.Podcast }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Принять✅","additionalFields":{"callback_data":"accept_script"}},{"text":"Создать заново🔄","additionalFields":{"callback_data":"regenerate_script"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,120],"id":"f5507be3-0d6d-4421-9d55-ec633f75297c","name":"Telegram7","webhookId":"fe8262b8-b5ee-43af-9d3e-89fefd9b6f34"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[740,240],"id":"e5bb0db1-daa6-4028-8d8b-62dbe2e05b25","name":"Расшифровка голосового1"},{"parameters":{"content":"## Запуск агента","height":480,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"50479bc2-4ef0-460a-9e65-4b39debba6f8","name":"Sticky Note7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"ea9bf62c-7bd2-4790-85f5-b9b98d1bd914"}],"combinator":"and"},"renameOutput":true,"outputKey":"Текст"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"134fbb70-d01a-485a-84a2-2c9a9a0f4638","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Голосовое"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29a17607-39c3-4ddf-9ffa-ae01da2293c8","leftValue":"={{ $json.callback_query.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Кнопки ответа"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[280,140],"id":"4eb9fc3a-1c07-4ca6-bf40-f27409a36b1a","name":"Switch1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4","mode":"list","cachedResultName":"Reels скрипт","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NCdG4XA4f3NXqv5Gc5d5UYpzzntyulI1HdIC8O3G7N4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telegram":"={{ $json.result.chat.username }}","ChatID":"={{ $json.result.chat.id }}","Тема":"={{ $('Зафиксировать тему').item.json.Topic }}","Скрипт":"={{ $json.result.text }}","Статус":"Новый","Дата изменения":"={{ new Date().toLocaleDateString('ru-RU') }}"},"matchingColumns":[],"schema":[{"id":"Telegram","displayName":"Telegram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ChatID","displayName":"ChatID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Тема","displayName":"Тема","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Скрипт","displayName":"Скрипт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Дата изменения","displayName":"Дата изменения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2120,140],"id":"eb0ae438-e3fe-40db-b60f-969acd155c37","name":"Append row in sheet"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Generate a podcast-style monologue in the style of Joe Rogan, discussing the next topic: \n{{ $json.Topic }}\nAct as an expert in this niche.\n\nMake the tone casual, intense, a bit conspiratorial, full of unexpected analogies, vivid emotions, provocative questions, and personal stories that spark curiosity or debate. Use storytelling hooks—grab attention from the first line (“Ever wondered...?”, “Picture this:”), add a twist or shocking fact, and end with a thought that leaves listeners unsettled or eager to share.\n\nAvoid jargon and complex terms—keep it real, with humor, tangents, and “what if...” musings.\nMax out attention-grabbing techniques so the text feels viral but totally native, like a real podcast segment, never an ad.\n\nReturn the result as a single JSON object called Podcast. The text must be exactly 400 characters, no line breaks, special symbols, or formatting that would break JSON structure.\n\nСоставляй текст и отвечай ТОЛЬКО на русском языке"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1280,120],"id":"a6847c63-5ded-4ddb-81dc-390e0463ff1e","name":"Создаем скрипт"},{"parameters":{"operation":"Run actor","actorId":{"__rl":true,"value":"shu8hvrXbJbY3Eb9W","mode":"list","cachedResultName":"Instagram Scraper","cachedResultUrl":"https://console.apify.com/actors/shu8hvrXbJbY3Eb9W/input"}},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-120,820],"id":"6b47bbea-d64a-4f45-87f0-2d54afd4f00a","name":"Apify","credentials":{"apifyApi":{"id":"VrLtNlBGIXvKLdrm","name":"Apify account"}}}],"connections":{"Telegram3":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"Пришли фото","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Принять скрипт?":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Генерируем новый скрипт":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Генерируем новый скрипт","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Зафиксировать тему":{"main":[[{"node":"Создаем скрипт","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Telegram6":{"main":[[{"node":"Расшифровка голосового1","type":"main","index":0}]]},"Telegram7":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Расшифровка голосового1":{"main":[[{"node":"Зафиксировать тему","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Зафиксировать тему","type":"main","index":0}],[{"node":"Telegram6","type":"main","index":0}],[{"node":"Принять скрипт?","type":"main","index":0}]]},"Создаем скрипт":{"main":[[{"node":"Telegram7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f2671253-6aee-4e8c-8496-9a6890623954","triggerCount":0,"shared":[{"createdAt":"2025-07-10T06:11:29.863Z","updatedAt":"2025-07-10T06:11:29.863Z","role":"workflow:owner","workflowId":"nVDgWsyLI1HIjlZ0","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-09T10:44:10.702Z","updatedAt":"2025-07-09T10:44:10.702Z","id":"lqKWTC4jWlGAhgnf","name":"Паска"}]}