кнопки-VjZk1vwBnrVaq6DU.json
{"createdAt":"2025-07-09T20:45:30.061Z","updatedAt":"2025-07-09T20:53:59.518Z","id":"VjZk1vwBnrVaq6DU","name":"Кнопки","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Аудио","height":480,"width":1380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1180,760],"id":"fb6575c9-2da0-4afa-8343-5eb868c46c6c","name":"Sticky Note"},{"parameters":{"content":"## Картинка","height":520,"width":1500,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,1300],"id":"914b7e4d-aefa-4464-8f0b-a1b202f1b2b4","name":"Sticky Note1"},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Генерирую новый скрипт...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,1260],"id":"a842dd4e-d4e7-469a-9a0c-d7457724027e","name":"Telegram3","webhookId":"47777b7f-dbcd-4f44-ae03-a1ed5a8f848b","credentials":{"telegramApi":{"id":"oV3i1c0A5tpnFXbP","name":"haygen_aadss_bot"}}},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Взял скрипт в работу✅","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,1020],"id":"1dda8a47-40a1-45bd-863a-e38872f2ac10","name":"Telegram4","webhookId":"e3b77e83-b17e-4e86-9af8-fefddb093bec","credentials":{"telegramApi":{"id":"oV3i1c0A5tpnFXbP","name":"haygen_aadss_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60ef1428-2bed-4999-a401-2621b7573f97","leftValue":"={{ $json.callback_query.data }}","rightValue":"accept_script","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,1180],"id":"5ac3f492-372e-4394-8ba5-3ec46dd7cfd8","name":"Принять скрипт?"},{"parameters":{"content":"## Проверка созданного скрипта","height":1100,"width":860,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[280,880],"id":"bfc55dc7-c737-4ea3-9a2f-a58f4fbd6e01","name":"Sticky Note6"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Принять скрипт?').item.json.callback_query.message.chat.id }}","message":"Пришли фото для референса","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Reference","fieldType":"file","acceptFileTypes":".jpg, .png","requiredField":true}]},"options":{"messageButtonLabel":"Загрузить","responseFormTitle":"Загрузи свое фото","responseFormButtonLabel":"Загрузить","appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1240,1360],"id":"178b23c9-465f-4754-af4a-b716f1a2ff27","name":"Пришли фото","webhookId":"3268502c-6785-4aa0-8e9f-963f72da10e7","credentials":{"telegramApi":{"id":"oV3i1c0A5tpnFXbP","name":"haygen_aadss_bot"}}},{"parameters":{"chatId":"={{ $('Telegram3').item.json.result.chat.id }}","text":"={{ $json.message.content.Podcast }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Принять✅","additionalFields":{"callback_data":"accept_script"}},{"text":"Создать заново🔄","additionalFields":{"callback_data":"regenerate_script"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,1600],"id":"d9981234-d199-491c-9d4b-1af1558b4b17","name":"Telegram","webhookId":"34912ee6-d082-41d5-b76c-6486ac3a4654","credentials":{"telegramApi":{"id":"oV3i1c0A5tpnFXbP","name":"haygen_aadss_bot"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Here’s a podcast-style script in the tone of Joe Rogan on the topic {{ $json['Тема'] }} :\n\n\n{{ $json['Скрипт'] }}\n\n\nNow create a completely new version of this script:\n– Keep the same style: casual, intense, slightly conspiratorial, full of vivid emotions and storytelling\n– Keep the same format: exactly 400 characters, no line breaks, structured like a podcast snippet\n– Do NOT reuse phrases or facts — come up with a different hook and twist\n\nReturn the result as  JSON objects called Podcast and Topic={{ $json['Тема'] }}. The text must be around 400 characters, no line breaks, special symbols, or formatting that would break JSON structure.\n\nСоставляй текст и отвечай ТОЛЬКО на русском языке"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[380,1600],"id":"4f5846b6-9158-44e9-896b-c02d9e9c046e","name":"Генерируем новый скрипт","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"jsCode":"// Получаем все элементы\nconst items = $input.all();\n\n// Берем последний элемент\nif (items.length > 0) {\n  return [items[items.length - 1]];\n}\n\n// Если нет элементов, возвращаем пустой массив\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,1380],"id":"155ce81f-b530-43eb-adbe-a5d0d9a1a785","name":"Code"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1880,300],"id":"9c3bc2ba-790b-4f05-be67-7b7efa2ac104","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"5cb81de0-0a34-4b28-ab3f-402447d131eb","name":"Topic","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,120],"id":"6f363985-3861-4a09-8bb4-9480942cdf35","name":"Зафиксировать тему"},{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[40,140],"id":"e329a4f1-6faf-456e-ad39-3e5dbece04d2","name":"Telegram Trigger","webhookId":"1765f8ba-8a9c-48cf-8ba3-bcc45a4560db","credentials":{"telegramApi":{"id":"oV3i1c0A5tpnFXbP","name":"haygen_aadss_bot"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,240],"id":"07163323-2ebd-4453-a12d-58b7f2a31e51","name":"Telegram6","webhookId":"b5858f34-1430-43c7-98d5-460b1b5c87b8","credentials":{"telegramApi":{"id":"oV3i1c0A5tpnFXbP","name":"haygen_aadss_bot"}}},{"parameters":{"content":"## Скрипт","height":460,"width":1100,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,0],"id":"a65bf223-b589-4e8e-b196-dbfdd1df09b3","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.message.content.Podcast }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Принять✅","additionalFields":{"callback_data":"accept_script"}},{"text":"Создать заново🔄","additionalFields":{"callback_data":"regenerate_script"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,120],"id":"d0c71885-f6f3-4683-bffd-cf1a22d072a8","name":"Telegram7","webhookId":"fe8262b8-b5ee-43af-9d3e-89fefd9b6f34","credentials":{"telegramApi":{"id":"oV3i1c0A5tpnFXbP","name":"haygen_aadss_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[740,240],"id":"661a638b-f2e9-4e5c-b59b-ef3b2b95add6","name":"Расшифровка голосового1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"content":"## Запуск агента","height":480,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"16344cdb-01bd-422b-8ac9-825150d3069b","name":"Sticky Note7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"ea9bf62c-7bd2-4790-85f5-b9b98d1bd914"}],"combinator":"and"},"renameOutput":true,"outputKey":"Текст"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"134fbb70-d01a-485a-84a2-2c9a9a0f4638","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Голосовое"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29a17607-39c3-4ddf-9ffa-ae01da2293c8","leftValue":"={{ $json.callback_query.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Кнопки ответа"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[280,140],"id":"88b7aad3-20f0-440d-a884-5024ace67e39","name":"Switch1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Generate a podcast-style monologue in the style of Joe Rogan, discussing the next topic: \n{{ $json.Topic }}\nAct as an expert in this niche.\n\nMake the tone casual, intense, a bit conspiratorial, full of unexpected analogies, vivid emotions, provocative questions, and personal stories that spark curiosity or debate. Use storytelling hooks—grab attention from the first line (“Ever wondered...?”, “Picture this:”), add a twist or shocking fact, and end with a thought that leaves listeners unsettled or eager to share.\n\nAvoid jargon and complex terms—keep it real, with humor, tangents, and “what if...” musings.\nMax out attention-grabbing techniques so the text feels viral but totally native, like a real podcast segment, never an ad.\n\nReturn the result as a single JSON object called Podcast. The text must be exactly 400 characters, no line breaks, special symbols, or formatting that would break JSON structure.\n\nСоставляй текст и отвечай ТОЛЬКО на русском языке"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1280,120],"id":"36723aa5-1509-4bbe-8987-17e036580539","name":"Создаем скрипт","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}}],"connections":{"Telegram3":{"main":[[{"node":"Генерируем новый скрипт","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"Пришли фото","type":"main","index":0}]]},"Принять скрипт?":{"main":[[{"node":"Telegram4","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}]]},"Telegram":{"main":[[]]},"Генерируем новый скрипт":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Code":{"main":[[{"node":"Генерируем новый скрипт","type":"main","index":0}]]},"Merge":{"main":[[]]},"Зафиксировать тему":{"main":[[{"node":"Создаем скрипт","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Telegram6":{"main":[[{"node":"Расшифровка голосового1","type":"main","index":0}]]},"Telegram7":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Расшифровка голосового1":{"main":[[{"node":"Зафиксировать тему","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Зафиксировать тему","type":"main","index":0}],[{"node":"Telegram6","type":"main","index":0}],[{"node":"Принять скрипт?","type":"main","index":0}]]},"Создаем скрипт":{"main":[[{"node":"Telegram7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"70dc2760-4a58-45e2-bff9-7c7174df6991","triggerCount":0,"shared":[{"createdAt":"2025-07-09T20:45:30.061Z","updatedAt":"2025-07-09T20:45:30.061Z","role":"workflow:owner","workflowId":"VjZk1vwBnrVaq6DU","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-09T10:44:10.702Z","updatedAt":"2025-07-09T10:44:10.702Z","id":"lqKWTC4jWlGAhgnf","name":"Паска"}]}