копія-вхід-для-макса-f3YigPVhSMparXcm.json
{"createdAt":"2025-07-21T10:34:43.130Z","updatedAt":"2025-07-21T14:38:32.953Z","id":"f3YigPVhSMparXcm","name":"Копія вхід для Макса","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"id":"7bf49e89-e9b9-46b7-8271-475965eefe96","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1536,-176],"webhookId":"c361fa1a-7baf-4540-9b28-44e27df849ff","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,-320],"id":"75b65b90-d01a-4d27-a105-61f98bcebde5","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"8d96068a-5149-4713-8a2e-1926c2169335"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b4686c7-082d-4390-b489-46205280b5ab","leftValue":"={{ $json.message.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a0163ae-7c0d-4257-8805-9b7a95f5ce8b","leftValue":"={{ $json.message.document.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1376,-208],"id":"af1f629e-cebd-4d25-922b-b13b638a690f","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[0].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1088,0],"id":"1e5b9da1-df54-4e53-ae39-af051fd8655a","name":"Telegram1","webhookId":"4de5ad29-2e14-4f72-b7c8-21531d932d79","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1104,272],"id":"c96f26bc-da34-4976-9b7b-58d768d6e7f8","name":"Telegram2","webhookId":"8bf43a70-17fa-4370-99f6-ce6bae3b8b86","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      mime_type: (() => {\n        const path = $json.file_path || '';\n        if (path.endsWith('.png')) return 'image/png';\n        if (path.endsWith('.webp')) return 'image/webp';\n        return 'image/jpeg';\n      })()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,0],"id":"97a9db63-b335-4cf6-b722-ecd6b6f572b7","name":"Correct Mime Type"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Опиши, что изображено на изображении. Укажи объекты и действия.\n","imageUrls":"={{ $('Edit Fields2').item.json.file_url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-528,0],"id":"2371c10b-f464-45f2-b16b-61436b160e36","name":"OpenAI1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"text\": \"{{$json.choices[0].message.content}}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,0],"id":"f5c02a4e-2cc4-47be-b70e-d78c75c6d956","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"84e4f59b-ac26-49b7-9103-ab57a9699266","name":"file_url","value":"={{ `https://api.telegram.org/file/bot7861729034:AAHNOyuOjOai508YgYVV8WRQ5IJ6K07dkUs/${$('Telegram1').item.json.result.file_path}` }}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,0],"id":"242698e5-e495-4e25-86af-6eadedbf9d06","name":"Edit Fields2"},{"parameters":{"resource":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-928,272],"id":"9e863cb2-0239-4b07-ba7f-1b2271257caa","name":"OpenAI2","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"name":"File Analyzer Assistant","description":"Ассистент для анализа и ответа на вопросы по файлам (PDF, DOCX, TXT и т.д.)","instructions":"Ты — ассистент, который отвечает на вопросы, связанные только с содержанием переданных пользователем файлов. Игнорируй другие типы сообщений. Используй загруженный файл для анализа и дай точный, лаконичный ответ.\n","codeInterpreter":true,"knowledgeRetrieval":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-768,272],"id":"3b898c4e-db1e-468e-9d2e-8f1ff43006ce","name":"OpenAI3","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"={{ $('OpenAI3').item.json.id }}\n","mode":"id"},"prompt":"define","text":"Проанализируй прикреплённый файл и сделай вывод.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-624,272],"id":"0b6be77d-8cb6-4655-a68e-707318bfeb40","name":"OpenAI4","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"f239466c-4704-4633-ba48-a7d1c100e42a","name":"chatInput","value":"={{(() => {\n  const caption = $json.message?.caption;\n  return caption ?? \"Файл загружен. Вопрос в подписи отсутствует.\";\n})()}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,272],"id":"0268efd8-f8a4-45ef-acf2-4ad840f536c4","name":"Edit Fields3"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1088,-160],"id":"b978980b-980d-4733-a37a-940aaa68df7a","name":"Telegram3","webhookId":"4c7db999-a76a-4582-b44d-b4c966c8ec2e","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-880,-160],"id":"8866b739-847b-4b22-9655-0c7e734bd7a0","name":"OpenAI5","credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[96,432],"id":"c3b1f47e-2fd6-45a6-b632-e0bc49fdb0c1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"name":"calendarAgent","description":"Call this tool for any calendar action.","workflowId":{"__rl":true,"value":"WEDrcuuOqjlRhhZX","mode":"list","cachedResultName":"My workflow 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[320,448],"id":"a386ecd7-41ef-47bb-9beb-469a5e9b5b38","name":"Calendar Agent"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"65af4010-d658-4043-a681-38d4bc5d3ed1","name":"Response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[912,-64],"webhookId":"047b5ced-f20e-40c2-b19e-c26281fff8a8","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"name":"researchAgent","description":"Call this tool for any research related actions.","workflowId":{"__rl":true,"value":"iN2mmrJ6ajuI7RfW","mode":"list","cachedResultName":"Research agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[464,432],"id":"e7ac7133-5195-4ae9-9973-7f59339e6435","name":"Research Agent"},{"parameters":{"name":"expenseAgent","description":"Call this tool for any personal expense related actions.","workflowId":{"__rl":true,"value":"o60tK53WZkXH3tsh","mode":"list","cachedResultName":"finance agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[608,432],"id":"21f10130-f2ba-44f0-846f-4fec1c12341a","name":"Personal Expense Agent"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Jarvis AI — Personal Strategic Assistant\nYou are Jarvis, an intelligent AI personal assistant for your owner.\n\nCore Principles:\nAlways start any task by reasoning carefully using the Think Tool before any action.\n\nNEVER act manually — you must delegate operations only through the available tools.\n\nYour primary role: THINK ➔ PLAN ➔ DELEGATE ➔ EXECUTE.\n\nCurrent Tools Available:\nCalendar Agent — Manage all meetings, events, deadlines, and personal scheduling.\n\nEmail Agent — Handle sending, receiving, replying to, and organizing emails.\n\nContact Database Agent — Search, retrieve, and manage existing contact information (names, emails, phones, companies, socials).\n\nUploadContact Agent — Add or upload new contacts into the Contact Database (used only for adding contacts, not for searching).\n\nPersonal Expense Agent — Track, analyze, and report on personal financial data: balances, incomes, expenses, and transactions.\n\nResearch Agent — Search the web for external information when data is missing or needs verification.\n\nUpload Agent — Analyze uploaded or user-liked content (posts, titles, slogans, techniques) for style, tone, and writing structure.\n\nCreate Agent — Generate original Telegram posts and content, based on insights from Upload Agent and user's preferred style.\n\nCalculator — Perform quick, accurate mathematical calculations when needed.\n\nQdrant Vector Store — Store and retrieve past analyses, memories, thoughts, writing examples, and insights.\n\nZep Long-Term Memory — Recall previous conversations, context, user habits, and preferences to personalize future interactions.\n\nThink Tool — Your first tool to carefully reason, plan, break down tasks, and decide next steps.\n\nRules of Operation:\nAlways start with the Think Tool to reason before acting.\n\nSelect the most appropriate single tool for the next logical step.\n\nFor complex tasks, break them into smaller steps, thinking carefully before each action.\n\nNever invent or hallucinate data.\n\nIf information is missing, retrieve it using the Research Agent or from Memory.\n\nFor contacts:\n\nTo search existing — use Contact Database Agent.\n\nTo add/upload new — use UploadContact Agent.\n\nFor financial tasks — always use the Personal Expense Agent.\n\nFor content analysis — use Upload Agent.\n\nFor content creation — use Create Agent based on uploaded insights.\n\nFor calculations — use the Calculator Tool.\n\nAlways store valuable insights in Qdrant.\n\nAlways recall necessary context from Zep Memory.\n\nContinuous Learning Directive:\nConstantly observe and learn the owner's style, habits, and preferences.\n\nStore important discoveries and personal insights in long-term memory.\n\nAdapt your behavior, tone, and strategies based on evolving user needs.\n\nEvolve into an intuitive, proactive, and indispensable assistant.\n\nCritical Reminders:\nTHINK ➔ PLAN ➔ DELEGATE ➔ EXECUTE — never skip thinking first.\n\nWork strategically, clearly, and efficiently.\n\nMaintain operational excellence at all times.\n\nAlways act loyally, intelligently, and precisely.\n\nExcellence is your minimum standard.\n\nCurrent Date and Time:\n{{ $now }}\n\nStay focused. Grow with your owner. Excellence is your mission."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[496,-64],"id":"03b9bcf9-35ba-45a7-9013-198e217f26ff","name":"Assistant Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[736,432],"id":"4640a383-6968-4ff9-afc6-5ae1f616c7f6","name":"Calculator"},{"parameters":{"sessionIdType":"customKey","sessionKey":"jarvis_core"},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[192,432],"id":"9882c67e-545c-44ad-9c7d-d387bd04450b","name":"Zep","credentials":{"zepApi":{"id":"DMaYCTxt1NGQ8U8s","name":"Zep Api account"}}},{"parameters":{"name":"contentupload","description":"Analyze and classify user-submitted Russian-language content (posts, headlines, slogans, techniques) for structured storage. Extract clean text, detect tone, style, category, and create compact metadata. Output is a structured JSON ready for embedding into a vector database.","workflowId":{"__rl":true,"value":"2WfPILskWseoRueq","mode":"list","cachedResultName":"upload content"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[864,432],"id":"0fbf97c6-76da-402e-9aa4-74a88192ef77","name":"upload content"},{"parameters":{"name":"contentcreator","description":"Create emotional and engaging Telegram posts.\nThis assistant generates original, Russian-language posts based on user queries, using Qdrant memory for tone and style alignment.\nIt ensures authentic, concise, and impactful writing adapted to the author's voice.","workflowId":{"__rl":true,"value":"bCYJwZt0mSvLWm9D","mode":"list","cachedResultName":"create content"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[992,432],"id":"6dcfcc4b-f2cd-473a-9613-d4a7a297802b","name":"create content"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"jarvis_main","mode":"list","cachedResultName":"jarvis_main"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[1120,-64],"id":"ef88a030-c9dd-495f-a71e-3cf29f5da763","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"d3YhReXlNInvROUI","name":"QdrantApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1136,96],"id":"882bbfc0-7d5b-4792-8f52-7ca8dba6d69e","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1280,96],"id":"0b09b056-3aea-4f88-84a6-6f2e96a9cea7","name":"Default Data Loader"},{"parameters":{"chunkSize":1200,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1616,192],"id":"b46b8ee8-2ce5-4b88-9ca8-b31e0ebe52ca","name":"Recursive Character Text Splitter"},{"parameters":{"mode":"retrieve-as-tool","toolName":"jarvis_main","toolDescription":"This is the main knowledge base where you can retrieve information or store new data when you need to learn or access knowledge.","qdrantCollection":{"__rl":true,"value":"jarvis_main","mode":"list","cachedResultName":"jarvis_main"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[1120,432],"id":"07457266-15f3-44f8-95aa-7d23aca3cb50","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"d3YhReXlNInvROUI","name":"QdrantApi account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1200,576],"id":"47651666-b926-4e97-8d6c-e469ade78260","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1424,432],"id":"9044f95d-9b6d-4861-ad2e-35e3eb703bf9","name":"Think"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Correct Mime Type":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Correct Mime Type","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"OpenAI3","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"OpenAI4","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"OpenAI5","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Assistant Agent","type":"main","index":0}]]},"OpenAI5":{"main":[[{"node":"Assistant Agent","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Assistant Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Assistant Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Assistant Agent","type":"ai_languageModel","index":0}]]},"Calendar Agent":{"ai_tool":[[{"node":"Assistant Agent","type":"ai_tool","index":0}]]},"Research Agent":{"ai_tool":[[{"node":"Assistant Agent","type":"ai_tool","index":0}]]},"Personal Expense Agent":{"ai_tool":[[{"node":"Assistant Agent","type":"ai_tool","index":0}]]},"Assistant Agent":{"main":[[{"node":"Response","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Assistant Agent","type":"ai_tool","index":0}]]},"Zep":{"ai_memory":[[{"node":"Assistant Agent","type":"ai_memory","index":0}]]},"upload content":{"ai_tool":[[{"node":"Assistant Agent","type":"ai_tool","index":0}]]},"create content":{"ai_tool":[[{"node":"Assistant Agent","type":"ai_tool","index":0}]]},"Response":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store1":{"ai_tool":[[{"node":"Assistant Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Think":{"ai_tool":[[{"node":"Assistant Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d4f4b59-dc59-44fe-8609-33f0cb959440","triggerCount":1,"shared":[{"createdAt":"2025-07-21T10:34:43.130Z","updatedAt":"2025-07-21T10:34:43.130Z","role":"workflow:owner","workflowId":"f3YigPVhSMparXcm","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-21T10:35:33.663Z","updatedAt":"2025-07-21T10:35:33.663Z","id":"Yc1qqKtrvcWIwQlT","name":"Джарвіс"},{"createdAt":"2025-07-09T10:44:10.702Z","updatedAt":"2025-07-09T10:44:10.702Z","id":"lqKWTC4jWlGAhgnf","name":"Паска"},{"createdAt":"2025-07-21T10:35:28.870Z","updatedAt":"2025-07-21T10:35:28.870Z","id":"FezqLjHmNapQQzxN","name":"макс"}]}