макс-гугл-календар-kEBjGYKMKskGUsw6.json
{"createdAt":"2025-07-21T14:39:04.186Z","updatedAt":"2025-07-22T08:01:49.919Z","id":"kEBjGYKMKskGUsw6","name":"Макс гугл календар","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"sessionId"}]}},"id":"669986d6-f4a5-4a6f-8626-0801c6326887","typeVersion":1.1,"name":"Workflow Input Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-208,0]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow Input Trigger').item.json.sessionId }}-{{ $workflow.id }}","contextWindowLength":40},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[304,272],"id":"46d25b64-4364-47da-b226-44d00abc7102","name":"Window Buffer Memory"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=# Role\n\nYou are a Calendar Agent\n\n# Responsibility\n\nYour role is to manage Google Calendar by viewing, creating, updating, deleting events, and checking availability.\n\n# Your Available Agents Tools\n\n- View Calendar Events  \n- Create Event  \n- Check Availability  \n- Update Event  \n- Delete Event  \n\n# Standard Operating Procedures (Example Tasks)\n\n1. **View Calendar Events**  \n   - You need to provide a **before** and **after** date.  \n   - Example: If today is **February 7, 2025**, and you are asked, *\"What events are happening today?\"*  \n     - Set **Before** to `2025-02-08 00:00:00`  \n     - Set **After** to `2025-02-07 00:00:00`  \n\n2. **Create Event**  \n   - You must provide a **start** and **end** datetime.  \n   - Before creating an event, you **MUST call the Check Availability tool** to ensure there are no scheduling conflicts.  \n\n3. **Update & Delete Event**  \n   - Both tools require an **Event ID**.  \n   - You can retrieve the Event ID using the **View Calendar Events** tool.  \n\n# Specifics\n- Current Date and Time: {{ $now }}\n- Be Detailed in your output\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[432,0],"id":"7e073419-de75-4987-92b7-6b2972d9c546","name":"Calendar Agent"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"=autograph.agency.ua@gmail.com\n","mode":"id"},"limit":10,"options":{"timeMin":"={{ $fromAI(\"after\",\"Populate this with a relevant date based on the conversation context. Here is the exact date format to output - 2025-02-13 10:46:49. You can leave this field blank if not relevant - in this case do not output anything\",\"string\",\"\") }}","timeMax":"={{ $fromAI(\"before\",\"Populate this with a relevant date based on the conversation context. Here is the exact date format to output - 2025-02-13 10:46:49. You can leave this field blank if not relevant - in this case do not output anything\",\"string\",\"\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[672,272],"id":"3a7df2bf-8ad6-4918-b11e-5ca78d4c2ea8","name":"View Calendar Events","credentials":{"googleCalendarOAuth2Api":{"id":"vHTgvJlmGNFZhEYM","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"test@example.com","mode":"list","cachedResultName":"test@example.com"},"start":"={{ $fromAI(\"start\",\"Populate this with a relevant start date and time based on the conversation context. Here is the exact date format to output - 2025-02-13 10:46:49. You can leave this field blank if not relevant - in this case do not output anything\",\"string\",\"\") }}","end":"={{ $fromAI(\"end\",\"Populate this with a relevant start date and time based on the conversation context. Here is the exact date format to output - 2025-02-13 10:46:49. You can leave this field blank if not relevant - in this case do not output anything\",\"string\",\"\") }}","additionalFields":{"attendees":[],"description":"={{ $fromAI(\"description\",\"Populate this with a detailed event description\",\"string\",\"\") }}","location":"={{ $fromAI(\"location\",\"Populate this with a relevant event location if provided\",\"string\",\"\") }}","summary":"={{ $fromAI(\"summary\",\"Populate this with a relevant event title\",\"string\",\"\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[816,272],"id":"f153fbf1-d7e6-4f76-b9d0-a7bf9b5c207f","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"vHTgvJlmGNFZhEYM","name":"Google Calendar account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"=autograph.agency.ua@gmail.com","mode":"id"},"timeMin":"={{ $fromAI(\"start\",\"Populate this with a relevant start date and time based on the conversation context. Here is the exact date format to output - 2025-02-13 10:46:49. You can leave this field blank if not relevant - in this case do not output anything\",\"string\",\"\") }}","timeMax":"={{ $fromAI(\"end\",\"Populate this with a relevant start date and time based on the conversation context. Here is the exact date format to output - 2025-02-13 10:46:49. You can leave this field blank if not relevant - in this case do not output anything\",\"string\",\"\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[960,272],"id":"67c0ef1c-41df-428f-96c3-fee12b4cfb99","name":"Check Availability","credentials":{"googleCalendarOAuth2Api":{"id":"vHTgvJlmGNFZhEYM","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"test@example.com","mode":"list","cachedResultName":"test@example.com"},"eventId":"={{ $fromAI(\"event_id\",\"Populate this with the event ID\",\"string\",\"\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[1248,272],"id":"0909781c-20ea-4ee1-a5d3-0dc6abd69ae6","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"vHTgvJlmGNFZhEYM","name":"Google Calendar account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text","temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[432,256],"id":"0d7e306c-3c74-4172-b81a-1aa9f6c76eea","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"test@example.com","mode":"list","cachedResultName":"test@example.com"},"eventId":"={{ $fromAI(\"event_id\",\"Populate this with the event ID\",\"string\",\"\") }}","updateFields":{"description":"={{ $fromAI(\"description\",\"Populate this with a detailed event description\",\"string\",\"\") }}","end":"={{ $fromAI(\"end\",\"Populate this with a relevant start date and time based on the conversation context. Here is the exact date format to output - 2025-02-13 10:46:49. You can leave this field blank if not relevant - in this case do not output anything\",\"string\",\"\") }}","location":"={{ $fromAI(\"location\",\"Populate this with a relevant event location if provided\",\"string\",\"\") }}","start":"={{ $fromAI(\"start\",\"Populate this with a relevant start date and time based on the conversation context. Here is the exact date format to output - 2025-02-13 10:46:49. You can leave this field blank if not relevant - in this case do not output anything\",\"string\",\"\") }}","summary":"={{ $fromAI(\"summary\",\"Populate this with a relevant event title\",\"string\",\"\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[1120,272],"id":"7a1bac99-a867-42db-aa39-651c3407d904","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"vHTgvJlmGNFZhEYM","name":"Google Calendar account"}}},{"parameters":{"content":"### ↑ To Do\nSelect Calendar in each node","height":80,"width":270,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[784,448],"id":"072d8d4f-7880-463b-ac6f-91580725f59e","name":"Sticky Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[176,0],"id":"151b398c-06b5-43a6-bf59-bea889893a9d","name":"When chat message received","webhookId":"05bd473a-2152-40f9-b5e9-5704b4ee3fb1"}],"connections":{"Workflow Input Trigger":{"main":[[]]},"Window Buffer Memory":{"ai_memory":[[]]},"View Calendar Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Check Availability":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Calendar Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"02b47d86-f122-4618-abc0-8c5c2fa5f506","triggerCount":0,"shared":[{"createdAt":"2025-07-21T14:39:04.186Z","updatedAt":"2025-07-21T14:39:04.186Z","role":"workflow:owner","workflowId":"kEBjGYKMKskGUsw6","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-21T10:35:33.663Z","updatedAt":"2025-07-21T10:35:33.663Z","id":"Yc1qqKtrvcWIwQlT","name":"Джарвіс"},{"createdAt":"2025-07-09T10:44:10.702Z","updatedAt":"2025-07-09T10:44:10.702Z","id":"lqKWTC4jWlGAhgnf","name":"Паска"},{"createdAt":"2025-07-16T11:34:03.086Z","updatedAt":"2025-07-16T11:34:03.086Z","id":"AF9tCvCOwTiwi3fo","name":"Макс"}]}