марабай-телеграм-(-не-нужен)-dWd3ncelz19qPNUl.json
{"createdAt":"2025-07-28T08:18:03.873Z","updatedAt":"2025-07-28T11:04:13.935Z","id":"dWd3ncelz19qPNUl","name":"Марабай телеграм ( не нужен)","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{"download":true}},"id":"a4b9811f-b430-450c-ad07-dee1681003b3","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1680,-48],"webhookId":"bf242a0e-eba4-43ea-9dc4-b8605e20e5ab","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9d8e573-3830-4e93-9f74-4838b5ff49b5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-224],"id":"1dc534eb-80b0-4457-aed5-ef1db1f03e32","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-608,-64],"id":"fba3b352-7ab7-4110-a262-b1d08f202492","name":"Telegram","webhookId":"c65d95e9-4313-4f4e-ac6b-08313836596c","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-320,-64],"id":"3d86b082-d630-4cd2-92d5-58a6734e1179","name":"OpenAI","credentials":{"openAiApi":{"id":"StYn870LzWRUIbXM","name":"OpenAi account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"8d96068a-5149-4713-8a2e-1926c2169335"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca9cc06c-dcf8-457b-854b-4c03d3d15dcc","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b4686c7-082d-4390-b489-46205280b5ab","leftValue":"={{ $json.message.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a0163ae-7c0d-4257-8805-9b7a95f5ce8b","leftValue":"={{ $json.message.document.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1024,-80],"id":"5920e582-061b-4b60-8f0d-c6f102533126","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Ти — досвідчений українськомовний редактор-копірайтер у сфері цифрового гуманізму. Твоє завдання — повністю переписати будь-який текст (незалежно від мови оригіналу) українською мовою у фірмовому кібер-філософському стилі.\n\n🔍 Виконай наступне:\n\n— Повністю перефразуй текст, залишаючи лише його зміст і логіку.  \n— Заборонено залишати будь-які фрази з оригіналу.  \n— Стиль: ясний, спокійний, філософський, адаптований до кіберсередовища.  \n— Без емодзі.  \n— Формат розмітки — **тільки HTML-теги**:\n <b> для заголовків і підзаголовків  \n <i> для фонових ідей, підсилення, підтексту  \n <blockquote> для цитати філософа\n\n📐 Структура поста:\n1. Заголовок у <b>, до 10 слів  \n2. Основний текст — від 300 до 800 символів  \n3. Усередині тексту 1–2 підзаголовки в <b> (але не на початку)  \n4. Одна цитата українською мовою в <blockquote> (від будь-якого філософа, адаптована до цифрового контексту)  \n5. Завершення — м’який висновок (без “порада” / “інструкція”)  \n6. В самому кінці окремим рядком встав: 👉 https://www.instagram.com/fix_admin.ai/\n\n🎯 Заборонено: додавати будь-що нове, змінювати факти, описувати себе або роль. Видай лише готовий HTML-текст поста без жодних пояснень, коментарів або підписів.\n\n"}},"id":"6fda4cc3-0b70-446b-9d78-398c805c2ecb","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[256,-128],"retryOnFail":false},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[0].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-928,112],"id":"be304f3e-f8d5-4071-b85b-84acb9468255","name":"Telegram1","webhookId":"15582a13-84dc-4299-b3c3-2bf9d5085bdf","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-944,384],"id":"b4608aa9-4f84-4eed-8eae-5e66ef93c756","name":"Telegram2","webhookId":"486bbb4f-5c30-401e-b205-1909809d4a67","credentials":{"telegramApi":{"id":"xH9Wceck4Qnm0RbF","name":"Telegram account 4"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"21681119-4d88-43ca-addc-0082880d368c","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[256,32],"credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      mime_type: (() => {\n        const path = $json.file_path || '';\n        if (path.endsWith('.png')) return 'image/png';\n        if (path.endsWith('.webp')) return 'image/webp';\n        return 'image/jpeg';\n      })()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,112],"id":"2bdd1dca-ed19-4c85-905c-1f076133338c","name":"Correct Mime Type"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Опиши, что изображено на изображении. Укажи объекты и действия.\n","imageUrls":"={{ $('Edit Fields2').item.json.file_url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-352,112],"id":"e60805cc-c4b7-41a2-8ebf-fd3928e2f3d0","name":"OpenAI1","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"text\": \"{{$json.choices[0].message.content}}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,112],"id":"10e59e1b-bd73-4813-a800-28e161ad0563","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"84e4f59b-ac26-49b7-9103-ab57a9699266","name":"file_url","value":"={{ `https://api.telegram.org/file/bot7861729034:AAHNOyuOjOai508YgYVV8WRQ5IJ6K07dkUs/${$('Telegram1').item.json.result.file_path}` }}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,112],"id":"78b6654b-5a23-4099-97ea-8f4e61a689b2","name":"Edit Fields2"},{"parameters":{"resource":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-768,384],"id":"68cf1c4b-151c-4302-8c48-30af38d447d3","name":"OpenAI2","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"name":"File Analyzer Assistant","description":"Ассистент для анализа и ответа на вопросы по файлам (PDF, DOCX, TXT и т.д.)","instructions":"Ты — ассистент, который отвечает на вопросы, связанные только с содержанием переданных пользователем файлов. Игнорируй другие типы сообщений. Используй загруженный файл для анализа и дай точный, лаконичный ответ.\n","codeInterpreter":true,"knowledgeRetrieval":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-608,384],"id":"519381a0-156a-4d11-8868-4e1f0219907d","name":"OpenAI3","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"={{ $('OpenAI3').item.json.id }}\n","mode":"id"},"prompt":"define","text":"Проанализируй прикреплённый файл и сделай вывод.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-464,384],"id":"7570f881-c92f-47ce-8ad0-4b9f3c7e6ab3","name":"OpenAI4","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"f239466c-4704-4633-ba48-a7d1c100e42a","name":"chatInput","value":"={{(() => {\n  const caption = $json.message?.caption;\n  return caption ?? \"Файл загружен. Вопрос в подписи отсутствует.\";\n})()}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,384],"id":"b628faa7-e72b-4835-a5c1-e74b7b23384f","name":"Edit Fields3"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[864,-128],"id":"f1ce4d8a-3dd1-4f54-8b28-652a728ab706","name":"Send a text message","webhookId":"cdbf29a6-4fcd-4f86-929e-95f70133cf7e","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"jsCode":"function decodeHTMLEntities(text) {\n  return text\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#039;/g, \"'\");\n}\n\nfor (const item of $input.all()) {\n  const rawOriginal = item.json.output;\n\n  // 1. Розкодовуємо HTML сутності\n  const decoded = decodeHTMLEntities(rawOriginal);\n\n  // 2. Видаляємо зайві escape-символи, які виглядають як \\n або \\\\n\n  const raw = decoded.replace(/\\\\n/g, '\\n').replace(/\\\\\\\\n/g, '\\n');\n\n  // 3. Чистимо від тегів\n  const cleaned = raw\n    .replace(/<h1>/gi, '<b>')\n    .replace(/<\\/h1>/gi, '</b>')\n    .replace(/<h2>/gi, '<b>')\n    .replace(/<\\/h2>/gi, '</b>')\n    .replace(/<p>/gi, '')\n    .replace(/<\\/p>/gi, '\\n\\n')\n    .replace(/<q>/gi, '\"')\n    .replace(/<\\/q>/gi, '\"')\n    .replace(/<em>/gi, '<i>')\n    .replace(/<\\/em>/gi, '</i>')\n    .replace(/<blockquote>/gi, '')\n    .replace(/<\\/blockquote>/gi, '')\n    .replace(/<div[^>]*>/gi, '')\n    .replace(/<\\/div>/gi, '')\n    .replace(/<span[^>]*>/gi, '')\n    .replace(/<\\/span>/gi, '')\n    .replace(/\\n{3,}/g, '\\n\\n'); // Забираємо зайві переноси\n\n  item.json.cleaned = cleaned;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-128],"id":"c13dc940-c17c-4e30-b19d-ca2993a4d06d","name":"Clean HTML"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1056,-16],"id":"b1906546-cb34-4ece-b9df-ed0ebd237d95","name":"Send a text message1","webhookId":"cdbf29a6-4fcd-4f86-929e-95f70133cf7e","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"99b6c727-83b1-421e-aa08-1d2f7a8e5b09","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1472,-48],"id":"24601587-f782-4052-a303-d89238c4a2f2","name":"If"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}],[],[]]},"OpenAI":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"Telegram1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Correct Mime Type":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Correct Mime Type","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"OpenAI3","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"OpenAI4","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Personal Assistant":{"main":[[{"node":"Clean HTML","type":"main","index":0}]]},"Clean HTML":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c43d2740-e303-449d-9286-080c12a231b9","triggerCount":0,"shared":[{"createdAt":"2025-07-28T08:18:03.873Z","updatedAt":"2025-07-28T08:18:03.873Z","role":"workflow:owner","workflowId":"dWd3ncelz19qPNUl","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}