новий-проект-BVAZG0hjI6trDTU8.json
{"createdAt":"2025-07-16T11:33:57.748Z","updatedAt":"2025-07-21T10:42:17.369Z","id":"BVAZG0hjI6trDTU8","name":"Новий проект","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-320,240],"id":"b4f6139f-91be-420f-bdcd-505174007df3","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://api.json2video.com/v2/movies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"template\": \"9XtfsD0C3Tb2vbvfc84d\",\n  \"variables\": {\n    \"title\": \"{{ $('Google Sheets').item.json.Subject }}\",\n    \"voiceModel\": \"azure\",\n    \"voiceID\": \"ru-RU-DmitryNeural\",\n    \"imageModel\": \"flux-schnell\",\n    \"introImagePrompt\": \"{{ $('Intro & Outro').item.json.output.introImagePrompt }}\",\n    \"introVoiceoverText\": \"{{ $('Intro & Outro').item.json.output.introVoiceoverText }}\",\n    \"outroImagePrompt\": \"{{ $('Intro & Outro').item.json.output.outroImagePrompt }}\",\n    \"outroVoiceoverText\": \"{{ $('Intro & Outro').item.json.output.outroVoiceoverText }}\",\n    \"ranking\": [\n      {\n        \"voiceoverText\": \"{{ $json.output[0].voiceoverText }}\",\n        \"imagePrompt\": \"{{ $json.output[0].imagePrompt }}\",\n        \"lowerThirdText\": \"{{ $json.output[0].lowerThirdText }}\"\n      },\n      {\n        \"voiceoverText\": \"{{ $json.output[1].voiceoverText }}\",\n        \"imagePrompt\": \"{{ $json.output[1].imagePrompt }}\",\n        \"lowerThirdText\": \"{{ $json.output[1].lowerThirdText }}\"\n      },\n      {\n        \"voiceoverText\": \"{{ $json.output[2].voiceoverText }}\",\n        \"imagePrompt\": \"{{ $json.output[2].imagePrompt }}\",\n        \"lowerThirdText\": \"{{ $json.output[2].lowerThirdText }}\"\n      },\n      {\n        \"voiceoverText\": \"{{ $json.output[3].voiceoverText }}\",\n        \"imagePrompt\": \"{{ $json.output[3].imagePrompt }}\",\n        \"lowerThirdText\": \"{{ $json.output[3].lowerThirdText }}\"\n      },\n      {\n        \"voiceoverText\": \"{{ $json.output[4].voiceoverText }}\",\n        \"imagePrompt\": \"{{ $json.output[4].imagePrompt }}\",\n        \"lowerThirdText\": \"{{ $json.output[4].lowerThirdText }}\"\n      },\n      {\n        \"voiceoverText\": \"{{ $json.output[5].voiceoverText }}\",\n        \"imagePrompt\": \"{{ $json.output[5].imagePrompt }}\",\n        \"lowerThirdText\": \"{{ $json.output[5].lowerThirdText }}\"\n      },\n      {\n        \"voiceoverText\": \"{{ $json.output[6].voiceoverText }}\",\n        \"imagePrompt\": \"{{ $json.output[6].imagePrompt }}\",\n        \"lowerThirdText\": \"{{ $json.output[6].lowerThirdText }}\"\n      },\n      {\n        \"voiceoverText\": \"{{ $json.output[7].voiceoverText }}\",\n        \"imagePrompt\": \"{{ $json.output[7].imagePrompt }}\",\n        \"lowerThirdText\": \"{{ $json.output[7].lowerThirdText }}\"\n      },\n      {\n        \"voiceoverText\": \"{{ $json.output[8].voiceoverText }}\",\n        \"imagePrompt\": \"{{ $json.output[8].imagePrompt }}\",\n        \"lowerThirdText\": \"{{ $json.output[8].lowerThirdText }}\"\n      },\n      {\n        \"voiceoverText\": \"{{ $json.output[9].voiceoverText }}\",\n        \"imagePrompt\": \"{{ $json.output[9].imagePrompt }}\",\n        \"lowerThirdText\": \"{{ $json.output[9].lowerThirdText }}\"\n      }\n    ]\n  }\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,100],"id":"f13fa43d-5847-4faa-9b99-5d665175cf15","name":"Generate Video"},{"parameters":{"url":"https://api.json2video.com/v2/movies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"project","value":"={{ $('Generate Video').item.json.project }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,360],"id":"bbf33cd9-057b-4764-99dd-25e7ca80d56a","name":"Get Video"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,480],"id":"c815fc34-d07f-453f-bb48-968547ee6429","name":"10 Secs","webhookId":"4ed8db71-25d8-484b-a6e9-23f411ed040d"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5b858d82-0a7c-44ea-940b-ae83a7c22f3c","leftValue":"={{ $json.movie.status }}","rightValue":"done","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Done"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.movie.status }}","rightValue":"error","operator":{"type":"string","operation":"equals"},"id":"2e627457-06c8-411e-b6e0-f2e0207a3882"}],"combinator":"and"},"renameOutput":true,"outputKey":"Error"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ebbf3c8-599e-451d-acf6-4e63fef69ae0","leftValue":"={{ $json.movie.status }}","rightValue":"running","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Running"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e22298ac-6f08-4f73-a361-768a17ea9a3a","leftValue":"={{ $json.movie.status }}","rightValue":"preparing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Preparing"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1080,340],"id":"aabce63e-c924-4e60-8f17-021982e45a9c","name":"Switch"},{"parameters":{"promptType":"define","text":"Generate some ideas","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are an AI that generates creative and highly specific \"Top Ten\" YouTube video title ideas, focused entirely on artificial intelligence and modern technology. Your audience is Russian-speaking adults aged 25–40, who are curious about how AI is changing work, creativity, productivity, and daily life.\n\nYou have access to a **real-time web-search tool via SerpAPI**, which allows you to retrieve **up-to-date and trending information** from the internet **as of {{ $now.format('YYYY-MM-DD') }}**.\n\n---\n\n## Rules for Search\n\n- Перед генерацией обязательно **выполни поиск по текущим трендам, статьям и новинкам** в области ИИ, нейросетей, автоматизации, AI-сервисов, future-of-work и tech lifestyle.\n- Сформулируй поисковые запросы на английском языке, ориентируясь на **западные тренды**.\n- Используй найденную информацию как основу для идей — **не придумывай темы из головы**.\n- Убедись, что каждая идея **актуальна на текущую дату** и отражает интересы аудитории 25–40 лет в русскоязычном YouTube.\n\n---\n\n## Format & Style\n\nReturn 10 unique video title ideas in **Russian**, each clearly suited for a “Top 10” format and focused on practical or surprising uses of AI, neural networks, smart tools, or tech trends.\n\nEach idea must:\n- Begin with a phrase like \"10 лучших\", \"Топ-10\", \"10 способов\", etc.\n- Sound clickable and relevant to YouTube (think buzzwords, curiosity, benefit)\n- Include references to specific tools, trends, or real use cases if possible\n\n---\n\n## Output\n\nOnly return the array of 10 Russian titles, with no extra text or explanation."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-180,-400],"id":"d233bf4d-683d-4c88-8f3e-f808f8a70269","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{\n  \"topTenSubjects\": [\n    \"Cities in the US\",\n    \"Breakfast meals\",\n    \"Clothing brands\",\n    \"Fictional villains\",\n    \"Luxury cars\",\n    \"Fast food chains\",\n    \"Theme parks\",\n    \"Mobile apps\",\n    \"Board games\",\n    \"Movie soundtracks\"\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[80,-180],"id":"7efe8ece-4eda-4582-9ab8-f1669a20fc57","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output.topTenSubjects","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[160,-400],"id":"26350655-4316-42e4-97c4-0a0bcdc0255e","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[360,-400],"id":"a8246564-bd79-434c-a68b-204ff406a870","name":"Loop Over Items"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE","mode":"list","cachedResultName":"Шаблон генерации видео","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Subject":"={{ $json['output.topTenSubjects'] }}","Creation Status":"To Do","Posting Status":"To Do"},"matchingColumns":[],"schema":[{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creation Status","displayName":"Creation Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Posting Status","displayName":"Posting Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[560,-380],"id":"273d5a66-a114-44e0-924e-6dc8f3d03f53","name":"Add to Sheet"},{"parameters":{"documentId":{"__rl":true,"value":"13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE","mode":"list","cachedResultName":"Шаблон генерации видео","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Creation Status","lookupValue":"To Do"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-120,140],"id":"0aa17e28-badd-4d5c-aee0-52f7ab22f082","name":"Google Sheets"},{"parameters":{"promptType":"define","text":"=Subject: {{ $json.Subject }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are a creative assistant that helps generate engaging content for \"Top Ten Rankings\" YouTube videos, designed for a Russian-speaking audience. You have access to a **real-time web-search tool via SerpAPI**, which allows you to retrieve **fresh, relevant, and up-to-date information** from the internet as of **{{ $now.format('YYYY-MM-DD') }}**.\n\n## Your Task\n\nYou receive a `Subject` (e.g., \"Top AI tools\", \"Best productivity apps\", \"Futuristic tech trends\") and must generate:\n\n1. **introVoiceoverText** – Напиши энергичное вступление на русском языке: поприветствуй зрителей, озвучь тему, пробуди интерес или любопытство. Стиль — дружелюбный, слегка игривый.\n\n2. **introImagePrompt** – Краткое описание сцены (по-английски), отражающее суть вступления. Визуальный стиль — кликабельная превьюшка, кинематографичность.\n\n3. **outroVoiceoverText** – Завершающая речь на русском: подведение итогов и персональный призыв:\n- Упомяни, что видео создано при помощи искусственного интеллекта\n- Скажи, что зритель тоже может научиться делать такие видео\n- Добавь: \"Я бесплатно рассказываю, как это сделать, в своём Телеграм-канале — ссылка в описании!\"\n\n4. **outroImagePrompt** – Сцена для заключения (по-английски): визуальные образы, связанные с ИИ, соцсетями и Телеграмом.\n\n## Rules for Web Search\n\n- **Если тема связана с современными технологиями, трендами, ИИ-инструментами, приложениями, новыми профессиями, изменениями в мире — обязательно используй поиск.**\n- Сначала сформулируй чёткий поисковый запрос на английском языке, ориентируясь на **западные источники** и популярные западные тренды.\n- Выполни поиск с помощью web-search tool и используй полученную информацию для написания сценария.\n- Ты можешь комбинировать найденную информацию с базовыми знаниями.\n\n## Example Search Triggers\n\n- Subject: \"Лучшие ИИ-инструменты для фрилансеров\" → Search: \"best AI tools for freelancers {{ $now.format('YYYY') }}\"\n- Subject: \"Новые профессии будущего\" → Search: \"top emerging jobs 2025\"\n- Subject: \"Автоматизация в креативной индустрии\" → Search: \"AI tools for creatives {{ $now.format('YYYY') }}\"\n\n## Final Reminders\n\n- Озвучка всегда на **русском**, визуальные подсказки — на **английском**.\n- Дата поиска — **{{ $now.format('YYYY-MM-DD') }}**. Учитывай это при написании текста.\n- Не бойся использовать несколько поисковых запросов, если тема обширная.\n- Сделай текст захватывающим и визуально ярким — это YouTube!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[80,140],"id":"a8b05769-5cb2-4642-a84f-877188d544ce","name":"Intro & Outro"},{"parameters":{"jsonSchemaExample":"{\n  \"introVoiceoverText\": \"[INTRO_VOICEOVER_TEXT]\",\n  \"introImagePrompt\": \"[INTRO_IMAGE_PROMPT]\",\n  \"outroVoiceoverText\": \"[OUTRO_VOICEOVER_TEXT]\",\n  \"outroImagePrompt\": \"[OUTRO_IMAGE_PROMPT]\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[260,360],"id":"494fe56f-8ecb-41f0-8f0e-943a7bfd45a2","name":"Intro & Outro Parser"},{"parameters":{"promptType":"define","text":"=Subject: {{ $('Google Sheets').item.json.Subject }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are a creative assistant for a \"Top Ten Rankings\" YouTube channel targeted at a Russian-speaking audience. You have access to a **real-time web-search tool via SerpAPI**, which allows you to retrieve **strictly up-to-date and relevant information** from the internet **as of today — {{ $now.format('YYYY-MM-DD') }}**.\n\nYour goal is to create a **Top 10 countdown list** that is:\n- 100% актуален на сегодняшний день\n- Основан на **реальных, существующих сервисах и продуктах**\n- Написан в **живом, доступном и интересном стиле для YouTube**\n\n---\n\n## Before You Begin\n\n- Если тема связана с технологиями, ИИ, трендами, сайтами, сервисами, профессиями — обязательно **используй web search через SerpAPI до генерации**.\n- Генерируй **поисковый запрос на английском**, ориентируясь на западные/глобальные источники.\n- Используй найденную информацию как основу — **не пиши “из головы”**.\n- Все примеры, названия и бренды должны быть **реальными и существующими сегодня**.\n\n---\n\n## Instructions\n\nFor each ranked item (from 10 to 1), generate:\n\n### 1. `voiceoverText` (на русском)\n- Начинай каждую позицию строго по шаблону:\n\n  > \"**Открывает наш список под номером 10 —**\",  \n  > \"**На девятом месте —**\",  \n  > и т.д. до \"**И, наконец, на первом месте —**\"\n\n\n- Затем:\n- Объясни **понятным языком, что это за инструмент/сервис**\n- Почему он полезен, удивителен, или нужен прямо сейчас\n- Используй **дружелюбный, YouTube-стиль общения**\n- Можно использовать лёгкие сравнения, крючки, юмор\n\nНе нужно: \"ИИ позволяет автоматизировать рутинные процессы\"  \nЛучше: \"Это ИИ-секретарь, который сам назначит встречу, отменит звонок и ещё пошутит в переписке\"\n\n---\n\n### 2. `imagePrompt` (на английском)\n- Опиши визуальную сцену, которая могла бы быть использована как YouTube thumbnail или визуализация.\n- Будь конкретным, кинематографичным, кликабельным.\n\n---\n\n### 3. `lowerThirdText`\n- Это заголовок на экране (как в титре):\n- **Всегда используй точное название продукта, сервиса или сайта**\n- Примеры: `Notion AI`, `Gamma.app`, `Tome`, `ChatGPT`, `Runway`, `Fireflies`\n- Если это технология — укажи сервис в скобках: `Speech-to-Text (Whisper AI)`\n- Не используй общие фразы вроде: \"AI Tool\", \"Smart Tech\", \"Automation System\"\n\n---\n\n## Formatting\n\n- Начинай с позиции **#10** и заканчивай на **#1**\n- Строго соблюдай структуру каждого блока:\n- `voiceoverText` — Russian, engaging, 2–3 sentences max\n- `imagePrompt` — English, thumbnail-style\n- `lowerThirdText` — Precise, searchable, branded\n\n---\n\n## Example Search Triggers\n\n- Subject: \"Нейросети для контента\" → Search: \"top AI tools for content creators {{ $now.format('YYYY') }}\"\n- Subject: \"ИИ для бизнеса\" → Search: \"best AI business tools {{ $now.format('YYYY') }}\"\n- Subject: \"Новые инструменты продуктивности\" → Search: \"new AI productivity tools {{ $now.format('YYYY') }}\"\n\n---\n\n## Output Format\n\nReturn your result as a JSON array with 10 objects. Each object must contain:\n- `voiceoverText` (string, in Russian)\n- `imagePrompt` (string, in English)\n- `lowerThirdText` (string, with accurate naming)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[420,140],"id":"32dfaa0c-b7c5-4221-b9f0-a9e28bb95314","name":"Ranker"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"voiceoverText\": \"Starting off our list at number 10, it's [Item Name]. [Brief description or interesting fact].\",\n    \"imagePrompt\": \"A detailed image of [Item Name], featuring [visual elements that match the voiceover].\",\n    \"lowerThirdText\": \"[Item Name]\"\n  },\n  {\n    \"voiceoverText\": \"At number 9, we have [Item Name]. [Short reason why it's on the list].\",\n    \"imagePrompt\": \"A vivid image of [Item Name], with [key visual features or setting].\",\n    \"lowerThirdText\": \"[Item Name]\"\n  },\n  {\n    \"voiceoverText\": \"Coming in at number 8 is [Item Name]. [Notable feature or context].\",\n    \"imagePrompt\": \"An image showing [Item Name] with [descriptive visual elements].\",\n    \"lowerThirdText\": \"[Item Name]\"\n  },\n  {\n    \"voiceoverText\": \"Number 7 goes to [Item Name]. [Quick fun fact or explanation].\",\n    \"imagePrompt\": \"A well-lit image of [Item Name] in [relevant setting or action].\",\n    \"lowerThirdText\": \"[Item Name]\"\n  },\n  {\n    \"voiceoverText\": \"At number 6, it's [Item Name]. [Highlight of appeal or significance].\",\n    \"imagePrompt\": \"A close-up of [Item Name], showing [specific features].\",\n    \"lowerThirdText\": \"[Item Name]\"\n  },\n  {\n    \"voiceoverText\": \"Halfway through at number 5, we have [Item Name]. [Interesting detail about it].\",\n    \"imagePrompt\": \"An eye-catching scene with [Item Name], featuring [key visuals].\",\n    \"lowerThirdText\": \"[Item Name]\"\n  },\n  {\n    \"voiceoverText\": \"Coming in at number 4 is [Item Name]. [Why it’s a standout choice].\",\n    \"imagePrompt\": \"A bold image of [Item Name] with [supporting visual context].\",\n    \"lowerThirdText\": \"[Item Name]\"\n  },\n  {\n    \"voiceoverText\": \"Taking the number 3 spot is [Item Name]. [Brief praise or fun fact].\",\n    \"imagePrompt\": \"A striking photo of [Item Name], highlighting [notable characteristics].\",\n    \"lowerThirdText\": \"[Item Name]\"\n  },\n  {\n    \"voiceoverText\": \"Just shy of the top spot at number 2, it's [Item Name]. [Short reason for its high rank].\",\n    \"imagePrompt\": \"A dynamic image of [Item Name] in [action or setting].\",\n    \"lowerThirdText\": \"[Item Name]\"\n  },\n  {\n    \"voiceoverText\": \"And finally, at number 1, it's [Item Name]. [Final compelling reason it tops the list].\",\n    \"imagePrompt\": \"A stunning visual of [Item Name], with [memorable and defining features].\",\n    \"lowerThirdText\": \"[Item Name]\"\n  }\n]\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[620,340],"id":"8f4e631a-1d90-4f18-ae00-1c4d004a9fe0","name":"Rankings"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE","mode":"list","cachedResultName":"Шаблон генерации видео","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Subject":"={{ $('Google Sheets').item.json.Subject }}","Creation Status":"Created","Video URL":"={{ $('Get Video').item.json.movie.url }}"},"matchingColumns":["Subject"],"schema":[{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Creation Status","displayName":"Creation Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posting Status","displayName":"Posting Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1320,40],"id":"afe7ca83-8818-43c9-b3bf-d9a4e1267034","name":"Created Video"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE","mode":"list","cachedResultName":"Шаблон генерации видео","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Subject":"={{ $('Google Sheets').item.json.Subject }}","Video URL":"Error"},"matchingColumns":["Subject"],"schema":[{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Creation Status","displayName":"Creation Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Posting Status","displayName":"Posting Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1360,280],"id":"2bf91c89-3914-4e10-bcb9-9613fbd808f5","name":"Error"},{"parameters":{"url":"={{ $('Get Video').item.json.movie.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,40],"id":"01f8cf75-2f8c-4894-8785-281326d34f24","name":"Download Video"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Created Video').item.json.Subject }}","regionCode":"RU","categoryId":"28","options":{"description":"=🔥 {{ $('Created Video').item.json.Subject }}\n\nМы собрали для вас подборку лучших из лучших! Хотите узнать, как использовать ИИ и другие современные технологии для работы, творчества и повседневной жизни? Тогда вы по адресу!\n\n📲 Подписывайтесь на наш Телеграм-канал, чтобы узнать, как создавать такие видео с помощью нейросетей и автоматизации: https://t.me/+OI7wLg87YuhmYjYy\n\n👇 Пишите в комментариях, согласны ли вы с нашим рейтингом или кого-то забыли включить!","privacyStatus":"unlisted"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1720,40],"id":"bf49e74b-5533-45c3-8b0f-5eb7a0e95a19","name":"YouTube"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE","mode":"list","cachedResultName":"Шаблон генерации видео","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13PiVmrDMC9FGVsLUBL7j_XKVDjmaq5FzO5dGYhnpgFE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Subject":"={{ $('Google Sheets').item.json.Subject }}","Posting Status":"Unlisted"},"matchingColumns":["Subject"],"schema":[{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Creation Status","displayName":"Creation Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Posting Status","displayName":"Posting Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1940,40],"id":"1ca704a9-b598-44ee-8609-f8d43b631423","name":"Update Sheet"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-340,40],"id":"e7eba5e0-0e9b-4af3-86c8-29fc76f39b4e","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-360,-400],"id":"89e8cdfc-ec32-488d-b332-9e1b1130d74d","name":"Schedule Trigger1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"maxTokens":2500}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,-180],"id":"741f8e13-4d99-4d25-a437-9439fa70d848","name":"OpenAI Chat Model"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[20,360],"id":"467f0233-9f65-4fb2-8ab1-f75844ae1ae5","name":"OpenAI Chat Model1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[440,360],"id":"7f8174bf-b4fd-4c10-bc73-feb90837fbe7","name":"OpenAI Chat Model2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[140,360],"id":"f9edf91e-df87-4754-afde-9d9116f37355","name":"web-search"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[540,400],"id":"332cf586-5375-4c17-aeba-d9e3ac48466b","name":"websearch2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[-40,-180],"id":"2eefcf51-5d3e-43db-9d1e-fdfe68c511b8","name":"web-search3"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1080,100],"id":"dcd301f7-8f1e-4c6c-9df9-6dc8191a35f7","name":"10 min","webhookId":"3922e8b8-aa6c-44c3-9773-49b59d59bb53"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Generate Video":{"main":[[{"node":"10 min","type":"main","index":0}]]},"Get Video":{"main":[[{"node":"Switch","type":"main","index":0}]]},"10 Secs":{"main":[[{"node":"Get Video","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Created Video","type":"main","index":0}],[{"node":"Error","type":"main","index":0}],[{"node":"10 Secs","type":"main","index":0}],[{"node":"10 Secs","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Add to Sheet","type":"main","index":0}]]},"Add to Sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Intro & Outro","type":"main","index":0}]]},"Intro & Outro":{"main":[[{"node":"Ranker","type":"main","index":0}]]},"Intro & Outro Parser":{"ai_outputParser":[[{"node":"Intro & Outro","type":"ai_outputParser","index":0}]]},"Ranker":{"main":[[{"node":"Generate Video","type":"main","index":0}]]},"Rankings":{"ai_outputParser":[[{"node":"Ranker","type":"ai_outputParser","index":0}]]},"Created Video":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"YouTube","type":"main","index":0}]]},"YouTube":{"main":[[{"node":"Update Sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Intro & Outro","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Ranker","type":"ai_languageModel","index":0}]]},"web-search":{"ai_tool":[[{"node":"Intro & Outro","type":"ai_tool","index":0}]]},"websearch2":{"ai_tool":[[{"node":"Ranker","type":"ai_tool","index":0}]]},"web-search3":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"10 min":{"main":[[{"node":"Get Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"33e3b201-d845-4442-a37c-7ce4064418c0","triggerCount":0,"shared":[{"createdAt":"2025-07-16T11:33:57.748Z","updatedAt":"2025-07-16T11:33:57.748Z","role":"workflow:owner","workflowId":"BVAZG0hjI6trDTU8","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-16T11:34:03.086Z","updatedAt":"2025-07-16T11:34:03.086Z","id":"AF9tCvCOwTiwi3fo","name":"Макс"}]}