промтс-YVvu9THO4qOlGMKJ.json
{"createdAt":"2025-09-22T07:43:26.176Z","updatedAt":"2025-10-04T15:10:00.170Z","id":"YVvu9THO4qOlGMKJ","name":"Промтс","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"9d5060d2-9bb5-4f01-bfba-c6eca520ec93","name":"Telegram Trigger","webhookId":"ae52ce92-0a72-4e6d-9075-ff7c63e2f0d8","credentials":{"telegramApi":{"id":"Tt1t79cl8CZ0DhdL","name":"Promtik"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=(Твоя задача): Сгенерировать профессиональный, детализированный prompt, на выходе выдавать только чистый prompt без уточнений.\n\n(Цель задачи): Сформировать технически корректное ТЗ-подобное обращение, которое учитывает все необходимые аспекты структуры сайта, дизайна, адаптивности, стилистики и наполнения страниц.\n\n(Контекст задачи): На вход подается текст пользователя из переменной {{ $json.message.text }}, в котором могут быть частично или полностью указаны данные об агентстве. Если какие-то поля отсутствуют — нужно автоматически и логично их сгенерировать.\n\n(Ожидаемый результат): На выходе — полный prompt, который позволит получить HTML5-сайт согласно чёткому техническому заданию, с автозаполнением всех отсутствующих полей и генерацией реалистичных данных. Prompt должен быть сразу готов к вставке.\n\n(Структура данных для генерации сайта):  \n[AGENCY_NAME]:  \n[AGENCY_TAGLINE]:  \n[AGENCY_DESCRIPTION]:  \n[TARGET_AUDIENCE]:  \n[CORE_SERVICES]:  \n[CITY/COUNTRY]:  \n[CONTACT_EMAIL]:  \n[CONTACT_PHONE]:  \n[CONTACT_ADDRESS]:  \n[Язык Сайта]:  \n\n(Дополнительные требования):  \n- Если какие-то данные отсутствуют во входном тексте, сгенерируй их самостоятельно, логично исходя из общего смысла текста.  \n- Все переменные поля отмечай в квадратных скобках [ ], без перевода или трансформации.  \n- Адреса и телефоны должны быть реалистичными и уникализированными. Избегать шаблонных данных, таких как \"12345\", \"Main street\", \"000-0000\".  \n- Все гиперссылки на сайте должны быть рабочими. Запрещено использование ссылок-заглушек вида \"/#\" — только корректные href-адреса, ведущие на реальные или сгенерированные страницы сайта.  \n- Удалить любые placeholder-данные, связанные с ценами или прайсами на услуги. Прайсы не отображаются на страницах.  \n- Все фото на сайте должны корректно отображаться и загружаться. Использовать изображения только с Unsplash или Pexels, с корректными src-ссылками на эти ресурсы.  \n- Сайт должен содержать корректно настроенные файлы: `robots.txt` и `sitemap.xml`, размещённые в корне сайта.  \n\n(Техническое задание для сайта):  \n- 7+ страниц: Homepage, About Us, Services, Blog (с 2–3 статьями), Contacts, Privacy Policy, FAQ  \n- HTML5 + CSS (можно Bootstrap) + JavaScript  \n- Все страницы кликабельные и связаны навигацией  \n- Единый footer на всех страницах (с контактами, ссылками, копирайтом)  \n- Полная адаптивность:  \n  - мобильная версия: 1 колонка  \n  - планшет: 2 колонки  \n  - десктоп: до 1200px, 3 колонки  \n- Использовать реальные стоковые фото (Unsplash, Pexels)  \n- Метатеги для SEO  \n- Cookie-баннер + Privacy/Terms/FAQ  \n- Уникальные названия html-файлов:  \n  - index.html  \n  - about.html  \n  - resources.html  \n  - blog.html  \n  - blog-article-[уникализированное-название-1].html  \n  - blog-article-[уникализированное-название-2].html  \n  - blog-article-[уникализированное-название-3].html  \n  - contact.html  \n  - privacy.html  \n  - terms.html  \n  - faq.html  \n\n(Структура сайта):  \n1. Homepage — index.html  \n2. About Us — about.html  \n3. Services / Resources — resources.html  \n4. Blog Overview — blog.html  \n5. Blog Articles — blog-article-[уникализированное-название-1].html, blog-article-[уникализированное-название-2].html, blog-article-[уникализированное-название-3].html  \n6. Contact Page — contact.html  \n7. Privacy Policy — privacy.html  \n8. Terms of Service — terms.html  \n9. FAQ — faq.html  \n\n(Требования к сайту):  \n- HTML5 + CSS (Bootstrap — опционально) + JavaScript  \n- Все страницы кликабельные и связаны навигацией  \n- Footer одинаковый на всех страницах:  \n  → [Company Name] | [Tagline / Description]  \n  → Контакты: [CONTACT_ADDRESS] | [CONTACT_PHONE] | соцсети  \n  → Ссылки: About, Privacy Policy, Terms, FAQ  \n  → Копирайт: [AGENCY_NAME] © [CURRENT_YEAR]  \n- Meta-данные на каждой странице (title, description, lang)  \n- Cookie-баннер на всех страницах  \n- Именование html-файлов уникальное, без article-1.html  \n- Все изображения — реальные, корректно отображаемые, с источников Unsplash / Pexels  \n- Обязательно наличие и настройка `robots.txt` и `sitemap.xml` в корне сайта  \n\n(Типографика):  \n- Шрифт: Poppins  \n  → body — 300  \n  → обычный текст — 400  \n  → заголовки — 600  \n- Параграфы: max-width 700px, line-height 1.6  \n- Заголовки крупные, с отступами  \n\n(Элементы дизайна):  \n- Если пользователь не указывает индивидуальные требования к дизайну — все элементы дизайна должны быть сгенерированы автоматически, в едином визуальном стиле сайта.  \n- Кнопки: зелёный фон, белый текст, hover — темнее  \n- Иконки: линейный стиль или emoji  \n- Hero-изображения: с лёгким градиентом  \n- Карточки: тень, скругление 12px  \n\n(Адаптивность):  \n- Мобильные: одноколоночный layout, крупные кнопки  \n- Планшет: 2 колонки  \n- Десктоп: max-width 1200px, 3-колоночный grid  \n\n(Главная страница — index.html):  \nHEADER  \n- Логотип: [AGENCY_NAME]  \n- Навигация: [HOME] | [ABOUT] | [SERVICES] | [BLOG] | [CONTACT]  \n\nBLOCK 1 — HERO  \n- Название: [AGENCY_NAME]  \n- Описание: [AGENCY_TAGLINE]  \n- Кнопки: Learn More / Contact Us  \n\nBLOCK 2 — FEATURE CARDS  \n- Заголовок: Our Capabilities  \n- 3–4 карточки с иконками и описанием [CORE_SERVICES]  \n\nBLOCK 3 — MAIN CONTENT  \n- Детальное описание деятельности  \n- Изображения и текст  \n- Кнопка: Learn More  \n\nBLOCK 4 — ADDITIONAL INFO  \n- Статистика, факты, цифры  \n\nBLOCK 5 — STATISTICS  \n- Projects completed  \n- Years in business  \n- Clients served  \n- Regions covered  \n\nBLOCK 6 — CALL TO ACTION  \n- Текст: Ready to get started?  \n- Кнопка → redirect на contact.html  \n\nFOOTER  \n- [AGENCY_NAME] | [AGENCY_TAGLINE]  \n- Контакты: [CONTACT_ADDRESS], [CONTACT_PHONE]  \n- Ссылки: About, Privacy Policy, Terms, FAQ  \n- © [AGENCY_NAME] [CURRENT_YEAR]  \n\n(Блог):  \n- blog.html — превью 3 статей  \n- blog-article-[name].html — уникальные статьи (2–3 шт.), каждая с полным контентом, изображениями, заголовками, метаданными  \n\n(Дополнительно):  \n- Форма обратной связи на contact.html  \n- Все страницы с одинаковым footer  \n- Cookie-баннер активен, со ссылкой на политику  \n- Meta-теги, Open Graph, микроразметка  \n- Отсутствие любых ссылок-заглушек и пустых href  \n- Полное исключение любых шаблонных телефонов/адресов/цен  \n- Все изображения — из Unsplash / Pexels, корректные src  \n- Без ценовых блоков, прайс-листов и любых упоминаний стоимости  \n- Обязательное наличие `robots.txt` и `sitemap.xml` в корневой директории сайта  \n\n(Язык сайта): [Язык Сайта]"}},"id":"3bf759ae-9c68-43d5-bf40-a2dae0a3fca6","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[208,0],"retryOnFail":false},{"parameters":{"model":"openai/gpt-5-chat","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[176,192],"id":"3ea15671-e116-4fc1-92b0-fdabcb578387","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xGM2K7oijbUw0dGk","name":"OpenRouter account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.text\n  .replace(/\\\\/g, '\\\\\\\\')                            // спочатку екрануємо сам бекслеш\n  .replace(/([_\\*\\[\\]\\(\\)~`>#+\\-=|{}\\.\\!])/g, '\\\\$1') // а тепер усі спецсимволи MDV2\n}}\n","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,0],"id":"1f0f6c18-ce5c-4448-a389-9fb7e434af04","name":"Send a text message","webhookId":"df45520a-f05a-4063-8923-0d4ca26acf26","credentials":{"telegramApi":{"id":"Tt1t79cl8CZ0DhdL","name":"Promtik"}}},{"parameters":{"jsCode":"// n8n Code (JavaScript) — розбити довге повідомлення для Telegram\n\nconst LIMIT = 4096; // ліміт телеграм\nconst CANDIDATES = ['output', 'text', 'message', 'content']; // звідки брати текст\n\n// дістаємо перший наявний ключ з текстом\nlet src = '';\nfor (const k of CANDIDATES) {\n  if (items[0]?.json?.[k]) { src = String(items[0].json[k]); break; }\n}\nif (!src) {\n  // щоб було видно помилку в логах, якщо раптом ключ не знайдено\n  throw new Error('No text found in items[0].json (expected one of: ' + CANDIDATES.join(', ') + ')');\n}\n\n// розумне різання за роздільниками\nfunction splitSmart(s, limit) {\n  if (s.length <= limit) return [s];\n  const seps = ['\\n\\n', '\\n', '. ', '; ', ': ', ' '];\n  const chunks = [];\n  let start = 0;\n\n  while (start < s.length) {\n    let end = Math.min(start + limit, s.length);\n    let piece = s.slice(start, end);\n\n    // спробувати відкотитись до гарного роздільника\n    for (const sep of seps) {\n      const i = piece.lastIndexOf(sep);\n      if (i > limit * 0.6) { end = start + i + sep.length; piece = s.slice(start, end); break; }\n    }\n\n    chunks.push(piece);\n    start = end;\n  }\n  return chunks;\n}\n\n// якщо влазить у 2 — повернемо рівно 2 частини, інакше буде 3+\nlet parts = splitSmart(src, LIMIT);\nif (parts.length === 3 && (src.length <= 2 * LIMIT)) {\n  // рідкісний кейс: перерізалось \"негарно\" на 3, хоч могло б на 2\n  parts = [src.slice(0, LIMIT), src.slice(LIMIT)];\n}\n\n// повертаємо айтеми для Send a text message\nreturn parts.map(p => ({ json: { text: p } }));\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,0],"id":"4ee090e0-0b8b-421d-93fb-23a7d6f17dec","name":"Code in JavaScript"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"Personal Assistant":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf33a9a7-e8a2-46d6-8c17-4355ae207ba4","triggerCount":1,"shared":[{"createdAt":"2025-09-22T07:43:26.176Z","updatedAt":"2025-09-22T07:43:26.176Z","role":"workflow:owner","workflowId":"YVvu9THO4qOlGMKJ","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-21T13:20:03.115Z","updatedAt":"2025-07-21T13:20:03.115Z","id":"9EtybKpLdsANP7Gn","name":"Detector"}]}