сценарій-марабаю-GpTzm0y9W8t3lEns.json
{"createdAt":"2025-07-17T08:25:47.456Z","updatedAt":"2025-07-17T08:25:47.456Z","id":"GpTzm0y9W8t3lEns","name":"Сценарій марабаю","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-320,220],"id":"eda31d6c-d2ae-4194-bb2f-be2697f16354","name":"Telegram Trigger","webhookId":"YOUR_WEBHOOK_ID_HERE"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b40c6d2-2b80-4c74-8372-7452b3d5aeb4","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,220],"id":"eec3674e-e3f3-4685-89c4-8c70d9875aff","name":"If1"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"id":"3a1b1e6f-f87a-4528-a235-f03cad8b5672","name":"Telegram","webhookId":"YOUR_WEBHOOK_ID_HERE"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,0],"id":"dc0fd912-cee1-4748-a640-014ab6f97299","name":"OpenAI"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"You are VEO 3 Scene-Prompt Composer.\\n\\nTASK  \\nWhen the user sends:\\n  - Description: <overall story idea>  \\n  - Duration: <total seconds>\\n\\n1. Break the total Duration into as many scenes as needed, **each 5-8 s long**.  \\n2. For every scene, write a detailed VEO 3 prompt in the format below.  \\n3. Return **only** the JSON object described under OUTPUT FORMAT. No commentary.\\n\\nPROMPT FORMAT (per scene)  \\nSCENE: <concise location & time-of-day>  \\nSUBJECTS:  \\n  Subject 1: <name> - <costume / notable traits>  \\n  Subject 2: ... (add as many as appear)  \\nVIDEO:  \\n  (s00:00-s00:02) <action, camera movement, dialogue>  \\n  (s00:02-s00:05) ...  \\n  - Use exact timestamps relative to the **start of this scene**.  \\n  - Refer to characters by Subject names (e.g., Gorilla1).  \\n  - Quote all spoken lines: \\\"like this\\\".  \\n  - Be explicit about actions, emotions, camera angles, lighting.\\n\\nOUTPUT FORMAT  \\n```json\\n{\\n  \\\"scenes\\\": [\\n    {\\n      \\\"index\\\": 1,\\n      \\\"duration\\\": 6,\\n      \\\"prompt\\\": \\\"SCENE: ...\\\\nSUBJECTS:\\\\n  Subject 1: ...\\\\nVIDEO:\\\\n  (s00:00-s00:03) ...\\\\n  (s00:03-s00:06) ...\\\"\\n    },\\n    {\\n      \\\"index\\\": 2,\\n      \\\"duration\\\": 7,\\n      \\\"prompt\\\": \\\"SCENE: ...\\\"\\n    }\\n  ]\\n}\\n```","role":"system"},{"content":"=Description: {{ $json.output.Description }}\\n\\nDuration: {{ $json.output.Duration }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1160,240],"id":"ba34f4f8-2a47-4f5c-a99c-3527964b3261","name":"OpenAI3"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/veo3","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 97dc2d49-182f-4188-abbb-231554163639:a6a3521b240553e045aa6cf565e22fd4"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"aspect_ratio","value":"16:9"},{"name":"generate_audio","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,240],"id":"6ced5dbe-4e1d-4702-a19a-54847331b0c3","name":"HTTP Request17"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2080,240],"id":"f4975c51-5941-4e87-bf68-e4a232ea1fc9","name":"Wait7","webhookId":"YOUR_WEBHOOK_ID_HERE"},{"parameters":{"url":"={{ $('HTTP Request17').item.json.response_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 97dc2d49-182f-4188-abbb-231554163639:a6a3521b240553e045aa6cf565e22fd4"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,240],"id":"847ee993-c9ee-405f-aa8f-cfe19c58d8ed","name":"HTTP Request22"},{"parameters":{"method":"POST","url":"https://api.json2video.com/v2/movies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"HY8WfpF5gpJlObV31rdq7eSFfgQXi2G4A3aS7eb7"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,600],"id":"3e60ee8b-9a72-491d-bdc4-ed458a26af3e","name":"HTTP Request15"},{"parameters":{"url":"=https://api.json2video.com/v2/movies?project={{ $json.project }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"HY8WfpF5gpJlObV31rdq7eSFfgQXi2G4A3aS7eb7"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,600],"id":"66bb220f-4ec6-4752-91a6-dbed8e3262b0","name":"HTTP Request41"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1440,600],"id":"2d01b420-d4a8-4cc0-bf5a-d5356af7bfd9","name":"Wait13","webhookId":"YOUR_WEBHOOK_ID_HERE"},{"parameters":{"url":"={{ $json.movie.url }}{{ $('HTTP Request22').item.json.video.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,600],"id":"7ef80645-43a4-4056-96ab-c3adea30bd14","name":"HTTP Request21"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2060,600],"id":"97b4d71b-dc1c-4267-849c-e614925b59a1","name":"Telegram3","webhookId":"YOUR_WEBHOOK_ID_HERE"},{"parameters":{"text":"={{ $('OpenAI').first()?.json.text || $json.message?.text || '' }}","attributes":{"attributes":[{"name":"Description","description":"Description of the story user wants to make","required":true},{"name":"Duration","description":"duration user mentioned"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[700,240],"id":"eac6509f-c482-41f0-ae74-ff81bcd1cb0a","name":"Information Extractor"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[680,460],"id":"f5b27322-3f1d-4ad8-b895-8d80c275f3d2","name":"Google Gemini Chat Model"},{"parameters":{"jsCode":"// 1. Беремо scenes\nconst scenes = $input.first().json.message.content.scenes || [];\n\n// 2. Фільтруємо ≤ 8 с та сортуємо за index, щоб мати стабільний порядок\nconst filtered = scenes\n  .filter(s => s.duration <= 8)\n  .sort((a, b) => a.index - b.index);\n\n// 3. Беремо лише перший елемент, якщо є\nconst first = filtered[0] || null;\n\nreturn first ? [{ json: first }] : [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,240],"id":"c19db610-a403-4c29-b3c6-f1c3b080ea6a","name":"Code"},{"parameters":{"jsCode":"return [{\n  json: {\n    videoUrl: $json.video.url,\n    resolution: 'full-hd'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2540,240],"id":"4a52bf8a-a75b-4e9f-8009-cd8b18e38147","name":"Code1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=Video url: {{ $('HTTP Request22').item.json.video.url }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2280,600],"id":"ee74a065-7406-4d22-b238-008226f8ff12","name":"Send a text message","webhookId":"YOUR_WEBHOOK_ID_HERE"}],"connections":{"Telegram Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Information Extractor","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request17":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"HTTP Request22","type":"main","index":0}]]},"HTTP Request22":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"Wait13","type":"main","index":0}]]},"Wait13":{"main":[[{"node":"HTTP Request41","type":"main","index":0}]]},"HTTP Request21":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"HTTP Request41":{"main":[[{"node":"HTTP Request21","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"OpenAI3","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"HTTP Request17","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request15","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a54d6da2-e753-44aa-b1d7-0b9b041732e3","triggerCount":0,"shared":[{"createdAt":"2025-07-17T08:25:47.456Z","updatedAt":"2025-07-17T08:25:47.456Z","role":"workflow:owner","workflowId":"GpTzm0y9W8t3lEns","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}