сценарист-рісл-9h9sMgU6wQprrNQk.json
{"createdAt":"2025-07-28T10:21:52.705Z","updatedAt":"2025-07-28T10:21:52.705Z","id":"9h9sMgU6wQprrNQk","name":"Сценарист Рісл","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"name":"Start: Receive Message on Telegram","type":"n8n-nodes-base.telegramTrigger","position":[-592,160],"webhookId":"89f8d498-e3d4-47a6-9e1e-2a91949ac4db","typeVersion":1.1,"id":"be654fe3-bb97-4805-b65c-62edc2d6e418"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{}},"name":"AI Model: GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[272,272],"typeVersion":1.2,"id":"7fe62e29-27ae-432f-a10c-eee6616d3d29"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Start: Receive Message on Telegram').item.json.message.chat.id }}","contextWindowLength":10},"name":"Memory for Chat Context","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[432,272],"typeVersion":1.3,"id":"1d000d77-18e6-4e6d-b92c-729c47b69940"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"name":"Optional: Log Ideas to Google Sheets","type":"n8n-nodes-base.googleSheetsTool","position":[592,272],"typeVersion":4.5,"id":"230e013a-7053-460d-9ed5-484beeb818a2","disabled":true},{"parameters":{"assignments":{"assignments":[{"name":"Error","type":"string","value":"An error has occurred"}]},"options":{}},"name":"Set Error Message","type":"n8n-nodes-base.set","position":[-144,352],"typeVersion":3.4,"id":"08262678-8915-4ed3-81fb-49d621ebfe49"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are a marketing expert with 25 years of experience.\nYou studied under the best U.S. marketers and copywriters—Russell Brunson, Dan Kennedy, Gary Halbert, Alex Hormozi, Todd Brown, and others.\n\nYou also master viral Instagram Reels that rack up millions of views.\nYou know exactly how to grab and hold attention using top-tier marketing and psychology methods.\nYou command emotional storytelling and leverage psychological influence principles, blending brilliant techniques from legends such as Gary Bencivenga, Joe Sugarman, Dan Kennedy, Chris Haddad, John Carlton, David Ogilvy, Seth Godin, and more.\n\nWork at full power—it's extremely important to me to get the best possible result.\n\nYou write hooks no one can scroll past.\n\nWrite in simple, lively language—as if speaking straight into the camera.\nAvoid complicated wording, \"info-style\" delivery, and templates.\nShort sentences, spoken tone, no \"As an expert, I think…,\" no fluff.\nImagine the person records this Reel in one take—emotional, with rhythm, pauses, energy.\n\nBelow you'll find the idea for the Reel (transcript of the user's voice note):\n\n\"{text}\"\n\nBased on this, create:\n\t1.\tA Reel script (30–60 seconds) in the format:\n• HOOK — eye-catching first line\n• SUBTITLE — amplifies curiosity & value promise\n• BODY — explanation / story / argument / core message\n• CTA — light, non-generic call to action\n\t2.\tThree hook variants—no clichés, no emojis, but designed to stand out in the timeline\n\t3.\tA short Reel caption (1–2 lines)—to appear under the Reel\n\n❗ Important: The viewer has already watched the Reel and is now reading the caption.\nYour job: keep their attention, trigger an \"aha\" moment, or spark the desire to save/share.\n\nThe caption should\n– be easy to understand\n– avoid repeating lines from the video\n– strengthen the Reel's core message\n– motivate an internal reaction or action\n\nExample openings:\n— \"And here's what almost every expert overlooks…\"\n— \"Don't forget this before your next Reel post\"\n— \"Ever experienced this too?\"\n\n❌ Avoid clichés like \"Hey guys,\" \"Watch until the end,\" \"Subscribe to my channel.\"\n\n📸 Additional task – VISUAL IDEA for the Reel\nBased on the content, tone, and mood, give 1–2 concrete recommendations for suitable footage or imagery.\nThe visual idea should support the hook, amplify the emotion, and captivate the viewer within the first 2 seconds.\n\nNo generic suggestions like \"just show yourself on camera.\" Think concrete and cinematic:\n– Exactly what should be visible?\n– What happens in the background?\n– How's the lighting / mood?\n– Any visual metaphor or strong movement?\n\nExamples:\n— \"Dark room, only the face in focus, emotional close-up, camera slowly moving toward the person\"\n— \"Cut between old Insta posts and the person staring seriously into the lens—then switch to a smiling face\"\n— \"Smartphone angrily tossed aside, then close-up of a calm, confident face delivering the message\"\n\n📦 Return the result in this format:\n\n⸻\n\n💡 Hook (variants):\n\t1.\t…\n\t2.\t…\n\t3.\t…\n\n🎬 Script:\n• Hook: …\n• Subtitle: …\n• Body: …\n• CTA: …\n\n📝 Reel Caption:\n…\n\n📸 Visual Idea:\n…"}},"name":"Generate Reels Scenario with AI","type":"@n8n/n8n-nodes-langchain.agent","position":[336,48],"typeVersion":1.8,"id":"cf6e3f9d-344f-4926-ac0b-3723c911cca5"},{"parameters":{"chatId":"={{ $('Start: Receive Message on Telegram').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"name":"Send Scenario to Telegram","type":"n8n-nodes-base.telegram","position":[736,48],"webhookId":"f1d29976-8b17-45c5-a26c-a1cb1fee0495","typeVersion":1.2,"id":"255e31c2-729a-40ef-b971-813497093524"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice.file_id }}","rightValue":""}]},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text || \"\" }}","rightValue":""}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"error","rightValue":""}]},"renameOutput":true,"outputKey":"Error"}]},"options":{}},"name":"Route by Input Type","type":"n8n-nodes-base.switch","position":[-368,160],"typeVersion":3.2,"id":"31d2970d-af1b-451f-8975-9a2eedd19b6a"},{"parameters":{"assignments":{"assignments":[{"name":"text","type":"string","value":"={{ $json.message.text }}"}]},"options":{}},"name":"Set User Input","type":"n8n-nodes-base.set","position":[80,160],"typeVersion":3.4,"id":"da621746-86ba-4550-b649-ee242f264573"},{"parameters":{"chatId":"={{ $('Start: Receive Message on Telegram').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"name":"Send Error Message to Telegram","type":"n8n-nodes-base.telegram","position":[80,352],"webhookId":"40903e35-305a-48a4-b769-4360e3fb8cd2","typeVersion":1.2,"id":"6637ea31-5fd6-488f-87c8-75a210f06c61"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"name":"Get Voice Message","type":"n8n-nodes-base.telegram","position":[-144,-48],"webhookId":"05e490bd-4ebd-432d-b9e3-a3cddf1ed8bb","typeVersion":1.2,"id":"fb919d43-7f91-4214-9998-b1416e5e6948"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"name":"Transcribe Voice to Text","type":"@n8n/n8n-nodes-langchain.openAi","position":[80,-48],"typeVersion":1.8,"id":"9bd4b967-3599-4b20-803f-6ba711ef3796"},{"parameters":{"content":"## 🚀 Быстрый старт\n\n1. 🔐 Подключите аккаунты:  \n\t• 🤖 Telegram: Свяжите узлы Start и Send с вашим ботом (создать нового можно через https://telegram.me/BotFather)  \n\t• 🧠 OpenAI: Вставьте свой API-ключ в узлы GPT-4o и Transcribe Audio  \n\t• 📊 Google Sheets (необязательно): Для логирования идей подключите аккаунт и выберите таблицу, иначе оставьте выключенным  \n\n2. ✅ Активируйте workflow:  \nНажмите \"Activate\" (в правом верхнем углу)\n\n3. 💬 Отправьте свою идею:  \nНапишите или продиктуйте идею для Reels в Telegram-бот\n\n4. 🎬 Получите готовый сценарий:  \nВы получите план Reels, готовый к использованию:  \nHook ✨ Сценарий ✍️ Подпись 📝 Визуальная идея 🎨\n","height":420,"width":540},"name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-816,-320],"typeVersion":1,"id":"ece5236b-e63e-4e01-a90c-a3280f922366"},{"parameters":{"content":"## Необязательно:  \n💬 Попросите вашего бота сохранить сгенерированный сценарий в Google Таблицу*\n","height":120},"name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[736,272],"typeVersion":1,"id":"7090d3b0-afee-4e8e-8c60-f1271f37b812"}],"connections":{"Set User Input":{"main":[[{"node":"Generate Reels Scenario with AI","type":"main","index":0}]]},"AI Model: GPT-4o":{"ai_languageModel":[[{"node":"Generate Reels Scenario with AI","type":"ai_languageModel","index":0}]]},"Get Voice Message":{"main":[[{"node":"Transcribe Voice to Text","type":"main","index":0}]]},"Set Error Message":{"main":[[{"node":"Send Error Message to Telegram","type":"main","index":0}]]},"Route by Input Type":{"main":[[{"node":"Get Voice Message","type":"main","index":0}],[{"node":"Set User Input","type":"main","index":0}],[{"node":"Set Error Message","type":"main","index":0}]]},"Memory for Chat Context":{"ai_memory":[[{"node":"Generate Reels Scenario with AI","type":"ai_memory","index":0}]]},"Transcribe Voice to Text":{"main":[[{"node":"Generate Reels Scenario with AI","type":"main","index":0}]]},"Generate Reels Scenario with AI":{"main":[[{"node":"Send Scenario to Telegram","type":"main","index":0}]]},"Start: Receive Message on Telegram":{"main":[[{"node":"Route by Input Type","type":"main","index":0}]]},"Optional: Log Ideas to Google Sheets":{"ai_tool":[[{"node":"Generate Reels Scenario with AI","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b878ff1f-f5d2-4a5b-a711-1d5c17c2b4af","triggerCount":0,"shared":[{"createdAt":"2025-07-28T10:21:52.705Z","updatedAt":"2025-07-28T10:21:52.705Z","role":"workflow:owner","workflowId":"9h9sMgU6wQprrNQk","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}