тести-282Pcfr777k80S2L.json
{"createdAt":"2025-07-28T10:16:27.673Z","updatedAt":"2025-08-08T07:37:08.449Z","id":"282Pcfr777k80S2L","name":"ТЕСТИ","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message","callback_query","*"],"additionalFields":{"download":true}},"id":"af2add05-0664-4feb-9884-d4198543eaaf","name":"Telegram Start","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-416,192],"webhookId":"af65486d-4a30-4f75-b8cc-fea768bcf585","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.error}}","value2":true}]}},"id":"6e23e541-08ef-4035-9225-d7468ea9c4ae","name":"Has Error?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-544,-128]},{"parameters":{"chatId":"={{$json.chat_id}}","text":"={{$json.text}}","additionalFields":{}},"id":"38ac9835-4eb0-4e14-a204-d6ff764f6ddf","name":"Send Error","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-320,-128],"webhookId":"1b25d89c-0197-47a8-ac64-96e23ab7b662","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"promptType":"define","text":"=🧠 Ти — досвідчений редактор і рерайтер українськомовного Telegram-контенту.\n\n📌 Твоє завдання:\nУнікалізуй наданий нижче текст, перефразуй його так, щоб:\n\nСуть і структура збереглися\n\nСтиль був живий, динамічний, в стилі Telegram\n\nДодай емодзі, заголовок, списки — якщо доречно\n\nВиділи <b>ключові фрази</b>\n\nВикористовуй українську мову\n\n📌 Обов’язково дотримуйся технічних вимог:\n\nВиводь тільки HTML-код (Telegram-стиль)\n\nДозволені теги: <b>, <i>, <a href=\"...\">текст</a>\n\nЗаборонено: <br>, будь-які інші HTML-теги\n\nАбзаци розділяй \\n\n\nЛіміт — до 1024 символів\nВхідний текст:\n{{ $('Telegram Start').item.json.message.caption }}\n\n\n\n\n\n\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-128,192],"id":"b5fc4476-7c7f-4092-96ca-0030acfa3f83","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-128,416],"id":"4c3b8f9e-279b-4c83-99cd-0bde5d2ee3bb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Start').item.json.message.chat.id }}","file":"={{ $('Telegram Start').item.json.message.photo[0].file_id }}","additionalFields":{"caption":"={{ $json.caption }}","parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[384,192],"id":"d166e0f7-7d5a-49d8-8f85-fd3ee7344dc7","name":"Send a photo message","webhookId":"8bf26f59-73be-455c-a943-81a614092f6b","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"chatId":"={{ $('Telegram Start').item.json.message.chat.id }}","text":"=<b>Кібернетика буття: симбіоз людини і коду</b>\n\nСучасна реальність — це нескінченні потоки даних, де <i>суб’єктність</i> переплітається з алгоритмами.\n\n<blockquote>«Світ — це мережа значень, що постійно кодується й декодується»</blockquote>\n\n👉 <a href=\"https://www.instagram.com/fix_admin.ai/\">Instagram</a>\n\n<b>Синтаксис буття у цифровому просторі</b>\n\n<i>Коротка вступна думка тут.</i>\n\n","additionalFields":{"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[672,-288],"id":"a8a2dbdb-ea2b-4e67-9fea-e91ceaa07e1f","name":"Send a text message","webhookId":"4af50b8c-c09c-466a-a330-615c88b468a8","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}},{"parameters":{"assignments":{"assignments":[{"id":"43def435-b3b2-448c-9212-2dfe8f838660","name":"caption","value":"={{ (() => {\n  const raw = $json.output;\n\n  const cleaned = raw\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\+\"/g, '\"')\n    .replace(/\\\\\\\\/g, '\\\\')\n    .replace(/\\\\'/g, \"'\")\n    .replace(/\\\\&/g, \"&\")\n    .replace(/\\\\</g, \"<\")\n    .replace(/\\\\>/g, \">\")\n    .replace(/<br\\s*\\/?>/gi, '\\n')        // ⬅ додано!\n    .replace(/&nbsp;/g, ' ')              // ⬅ додано!\n    .replace(/\\n{3,}/g, '\\n\\n')           // не більше 2 переноси\n    .trim();\n\n  return cleaned;\n})() }}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,192],"id":"002cb5bc-3939-40f9-931f-15f55bb6c630","name":"Edit Fields"},{"parameters":{"updates":["message","callback_query","*"],"additionalFields":{"download":true}},"id":"10da42dc-8bf7-4add-89b8-885e0bc9ce33","name":"Telegram Start1","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-448,720],"webhookId":"af65486d-4a30-4f75-b8cc-fea768bcf585","credentials":{"telegramApi":{"id":"MxVw4eCscKaSzeQ7","name":"Telegram Maraby TEXt"}}}],"connections":{"Telegram Start":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Has Error?":{"main":[[{"node":"Send Error","type":"main","index":0}],[]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Send a photo message":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6be3c43a-3b03-4672-8adb-154b6ab8b52a","triggerCount":0,"shared":[{"createdAt":"2025-07-28T10:16:27.673Z","updatedAt":"2025-07-28T10:16:27.673Z","role":"workflow:owner","workflowId":"282Pcfr777k80S2L","projectId":"nX80NbTFpj6pvsnR"}],"tags":[]}