тестик-nKKOM5oORx5rMe37.json
{"createdAt":"2025-07-31T14:10:16.756Z","updatedAt":"2025-07-31T14:23:35.375Z","id":"nKKOM5oORx5rMe37","name":"Тестик","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"cf529f6a-450c-4564-9d79-6d519d78fff4","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-304,-48],"typeVersion":1},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/captions?part=snippet&videoId={{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","options":{}},"id":"3fc63c92-fb66-4fc0-98bc-1794bf29d776","name":"Get Caption ID","type":"n8n-nodes-base.httpRequest","position":[304,-48],"typeVersion":4.2},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/captions/{{ $json.items[0].id }}?tfmt=srt","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","options":{}},"id":"6f6a67e7-6246-4553-b030-ec06a1d96074","name":"Get Captions","type":"n8n-nodes-base.httpRequest","position":[528,-48],"typeVersion":4.2},{"parameters":{"operation":"text","options":{}},"id":"9d108812-9a88-4de0-87da-522de75316b8","name":"Extract Captions","type":"n8n-nodes-base.extractFromFile","position":[752,-48],"typeVersion":1},{"parameters":{"jsonSchemaExample":"{\n\t\"description\": \"California\"\n\t\n}"},"id":"48e02d1c-584c-4a5c-867e-7afe02080d80","name":"Structured Captions","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1152,176],"typeVersion":1.2},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $json.video_id }}","options":{}},"id":"3d47b29e-ba19-4008-a6c9-63cc52400e82","name":"Get Video Meta Data","type":"n8n-nodes-base.youTube","position":[64,-48],"typeVersion":1},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-exp-0924","options":{}},"id":"1ec8bcf6-a43b-4e59-b023-565381eb780b","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[976,176],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"568762f7-e496-4550-8567-d49e2ce1676d","name":"video_id","type":"string","value":"r1wqsrW2vmE"}]},"options":{}},"id":"6c088324-b9f0-4710-9bec-3c3f55464695","name":"Set Video ID","type":"n8n-nodes-base.set","position":[-144,-48],"typeVersion":3.4},{"parameters":{"resource":"video","operation":"update","videoId":"={{ $('Get Captions').item.json.items[0].snippet.videoId }}","title":"={{ $('Get Video Meta Data').item.json.snippet.title }}","regionCode":"US","categoryId":"22","updateFields":{"description":"={{ $json.output.description }}\nChapters\n{{ $json.output.description }}"}},"id":"5461dab1-e412-4ece-a5ee-ed20f82dbde4","name":"Update Chapters","type":"n8n-nodes-base.youTube","position":[1456,-48],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=This is an srt format data. please classify this data into chapters\nbased upon this transcript \n{{ $json.data }}\n{\n\"description\":\"00:00 Introduction\n02:15 Topic One\n05:30 Topic Two\n10:45 Conclusion\"\n}\n","hasOutputParser":true},"id":"554b685b-3e06-404a-8782-f617c55f9562","name":"Tag Chapters in Description","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[976,-48],"typeVersion":1.6},{"parameters":{"content":"\n## Get Captions","height":440,"width":1040},"id":"d87494da-9dda-4312-8df2-710d301cf15d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-176,-128],"typeVersion":1},{"parameters":{"content":"## Generate Chapters\n","height":440,"width":420,"color":4},"id":"7d8ac384-f309-406d-bd15-52a58fc45638","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[896,-128],"typeVersion":1},{"parameters":{"content":"## Update Description\n","height":440,"width":440,"color":6},"id":"c3e3b84c-abb9-4029-971e-0a557eb50916","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1328,-128],"typeVersion":1}],"connections":{"Get Captions":{"main":[[{"node":"Extract Captions","type":"main","index":0}]]},"Set Video ID":{"main":[[{"node":"Get Video Meta Data","type":"main","index":0}]]},"Get Caption ID":{"main":[[{"node":"Get Captions","type":"main","index":0}]]},"Extract Captions":{"main":[[{"node":"Tag Chapters in Description","type":"main","index":0}]]},"Get Video Meta Data":{"main":[[{"node":"Get Caption ID","type":"main","index":0}]]},"Structured Captions":{"ai_outputParser":[[{"node":"Tag Chapters in Description","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Tag Chapters in Description","type":"ai_languageModel","index":0}]]},"Tag Chapters in Description":{"main":[[{"node":"Update Chapters","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Video ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f24e95da-c95b-4317-b44e-1a635beab5f5","triggerCount":0,"shared":[{"createdAt":"2025-07-31T14:10:16.756Z","updatedAt":"2025-07-31T14:10:16.756Z","role":"workflow:owner","workflowId":"nKKOM5oORx5rMe37","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-21T13:20:03.115Z","updatedAt":"2025-07-21T13:20:03.115Z","id":"9EtybKpLdsANP7Gn","name":"Detector"}]}