ілюха-тут-має-доробити-кнопки-hbj8eZy8QEZBMMMR.json
{"createdAt":"2025-07-09T10:48:11.688Z","updatedAt":"2025-07-28T10:19:31.040Z","id":"hbj8eZy8QEZBMMMR","name":"ілюха тут має доробити кнопки","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.instagram_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,384],"id":"74e9ef62-a45b-4d37-98dd-6ca5f69c5654","name":"[Instagram] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Prepare for Publish').item.json.facebook_page_id }}\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.facebook_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,848],"id":"bd21f1f1-b57d-422c-88eb-a7f3669825ca","name":"[Facebook] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.linkedin_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2272,1184],"id":"db05e80c-bd7c-43c4-a267-e41dff5b3fe4","name":"[Linkedin] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": false,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.tiktok_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,1584],"id":"84d02550-3963-48d7-9491-abfd54dad535","name":"[Tiktok] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"TEST VIDEO\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.youtube_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2528,384],"id":"489a4322-82c6-4b64-9d32-b516f059fe57","name":"[Youtube] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"threads\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.threads_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2528,720],"id":"767b8c37-3076-4ee6-9068-1313b8d688ec","name":"[Threads] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.twitter_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,1184],"id":"0b1bd9bd-5024-47ae-b49f-247a96837087","name":"[Twitter] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": []\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.bluesky_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2528,1584],"id":"37362f86-93a9-4965-b744-29fcd4bd0d3d","name":"[Bluesky] Publish via Blotato","disabled":true},{"parameters":{"promptType":"define","text":"=## ПРОМПТ ДЛЯ AI-АГЕНТА:\n\n### ІНСТРУКЦІЯ:\nВиконай наступні завдання у вказаному порядку:\n\n1. Отримай 10 найпопулярніших історій з Hacker News за останні 24 години, пов’язаних з ШІ або LLM.\n\n2. Обери історію, яка з найбільшою ймовірністю стане вірусною в соціальних мережах.\n\n3. Завантаж статтю та коментарі з Hacker News.\n\n4. Створи 30-секундний сценарій для монологу AI-аватара, дотримуючись наступних вказівок:\n   - Сценарій має тривати приблизно 30 секунд при усному озвученні.\n   - Включай багато деталей і статистики зі статті.\n   - Використовуй рівень читання 6-го класу.\n   - Подай збалансовану точку зору.\n   - Увесь текст повинен бути написаний українською мовою.\n\n5. Онови перші 2 речення сценарію, використовуючи сенсаційні вірусні гачки, які привернуть увагу глядача та викличуть цікавість. Третє речення повинно починати заглиблення в деталі статті.\n\n6. Додай емоційний елемент, щоб викликати у глядача захоплення або здивування, особливо при обговоренні того, як ШІ може вплинути на його життя або роботу.\n\n7. Замiни останнє речення на: \"Натисни «Підписатися», щоб бути попереду у світі ШІ! І не забудь написати в коментарях, як цей ШІ допоможе тобі!\"\n\n### ФОРМАТ ВИХІДНИХ ДАНИХ:\nВиводь точний текст сценарію для відео у `output`. Також виводь `title` — це заголовок з 2-3 слів для назви відеофайлу. Не виводь нічого іншого. Ніколи не включай проміжні думки, нотатки.\n\n```json\n{\n   \"title\": \"<title>\",\n   \"output\": \"<output>\"\n}","options":{"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2176,3488],"id":"22670cd7-26b7-4564-ab68-1d19a8a8acaa","name":"AI Agent"},{"parameters":{"articleId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Article_ID', ``, 'string') }}","additionalFields":{"includeComments":true}},"type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[-1872,3728],"id":"aad5f51b-f5d4-4e8c-8981-6df61a24a313","name":"Fetch HN Article"},{"parameters":{"resource":"all","additionalFields":{"keyword":"ai","tags":["front_page"]}},"type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[-2032,3728],"id":"4273ec5b-d636-4905-8ee6-23c55b071be2","name":"Fetch HN Front Page"},{"parameters":{"amount":0.7,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[272,496],"id":"8ebc6a10-26ab-43ab-a532-790d77e8259c","name":"Wait","webhookId":"81b4ae9c-7a4b-4c1e-b6c6-7ced0b4010ab","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2320,3728],"id":"9a7aae5e-0cb6-4df7-8f0b-a634bad87e40","name":"Write Script","credentials":{"openAiApi":{"id":"CxlrvDOn6vL8yXzn","name":"HAYGEN "}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"heygen_api_key\": \"ZWIwNTMxZWY4MTlmNDg3NDkyODQ5OWYwMGI1NWMzZmYtMTc0MzQyMzA5Ng==\",\n  \"avatar_id\": \"701c006710214b21ad1012e359fb06b1\",\n  \"voice_id\": \"898427a038ae48f6a6ba326394eb215e\",\n  \"background_video_url\": \"https://database.blotato.io/storage/v1/object/public/public_media/4ddd33eb-e811-4ab5-93e1-2cd0b7e8fb3f/videogen2-render-e6b398a2-5859-4a77-88ef-2345bcefdc98.mp4\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,496],"id":"5ead066c-39f7-4481-8faa-180e76e47f04","name":"Setup Heygen"},{"parameters":{"url":"https://api.heygen.com/v1/video_status.get","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $('Create Avatar Video').item.json.data.video_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $('Setup Heygen').item.json.heygen_api_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,496],"id":"08f5a680-1514-48d7-874b-b7b4f1f0cdac","name":"Get Avatar Video"},{"parameters":{"content":"# Исследуйте ежедневные новости и напиши сценарий","height":748,"width":1152,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2352,3360],"id":"0cf8ef4a-aede-4e13-bd03-6e5506161265","name":"Sticky Note"},{"parameters":{"content":"# Создаём видео AI аватар\n\n- API Heygen (платный); бесплатный до 10 видео.\n- Если у вас длинный сценарий, вам может потребоваться увеличить время ОЖИДАНИЯ.\n- Вы можете использовать голос Elevenlabs, интегрировав Elevenlabs из приложения Heygen.","height":860,"width":1120,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,192],"id":"981975ab-1734-48a8-be13-507115667631","name":"Sticky Note1"},{"parameters":{"content":"# Публикация в социальных сетях\n\n- Зарегистрируйтесь в Blotato: https://www.blotato.com\n- API Blotato в настоящее время не поддерживает загрузку видео в Bluesky или Pinterest.\n- Эта функция будет выпущена в будущем (пока ноды отключены).","height":2100,"width":1200,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,192],"id":"fbfb8325-a6dc-44fa-b5c1-c9f08f1f1a17","name":"Sticky Note2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"blotato_api_key\": \"blt_3Sw+2kE0+LRVVKUvYEfI057pabQaHHfNNc7HLvSGJpA=\",\n  \"instagram_id\": \"\",\n  \"youtube_id\": \"\",\n  \"tiktok_id\": \"9622\",\n  \"facebook_id\": \"\",\n  \"facebook_page_id\": \"\",\n  \"threads_id\": \"\",\n  \"twitter_id\": \"\",\n  \"linkedin_id\": \"\",\n  \"pinterest_id\": \"\",\n  \"pinterest_board_id\": \"\",\n  \"bluesky_id\": \"\",\n  \"final_text_long\": {{ $('Write Long Caption').item.json.message.content.toJsonString() }},\n  \"final_text_short\": {{ $('Write Short Caption').item.json.message.content.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,496],"id":"d20c4943-6446-484f-a38e-302877cdff1f","name":"Prepare for Publish"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=### ПРИКЛАД\n\n<example>\nПривіт, на зв’язку FIX ADMIN. У цьому відео ми поговоримо про те, як працює пошукова оптимізація (SEO) в епоху штучного інтелекту.\n\nОстаннім часом мене часто запитують, як покращити видимість сайту в пошукових системах, особливо з урахуванням появи нових генеративних інструментів ШІ. Це важлива тема, адже ШІ змінює способи обробки інформації та взаємодії з користувачами.\n\nЗараз SEO має бути орієнтованим не лише на ключові слова, а й на те, як інформація подається в ШІ-системах, таких як ChatGPT. Це нова реальність цифрового маркетингу.\n</example>\n\n### КОНТЕКСТ\n\nВиведіть тему на основі наданих джерел.\n\n### СТИЛЬ НАПИСАННЯ\n\nОсь як ви завжди пишете:\n\n<writing_style>\n\n- Ваш стиль письма стриманий і інформативний.\n- Використовуйте просту й зрозумілу мову.\n- Використовуйте короткі та виразні речення.\n- Використовуйте активний стан; уникайте пасивного.\n- Орієнтуйтесь на практичні, прикладні ідеї.\n- Додавайте дані або статистику для підтвердження тверджень, якщо це можливо.\n- Використовуйте \"ви\" і \"ваш\", щоб безпосередньо звертатися до читача.\n- Уникайте метафор і шаблонів.\n- Уникайте узагальнень.\n- Не використовуйте стандартні вступні фрази в жодних реченнях, включаючи: на завершення, підсумовуючи тощо.\n- Не виводьте попередження або примітки — тільки запитаний контент.\n- Не використовуйте хештеги в самому тексті.\n- Не використовуйте крапки з комою.\n- Не використовуйте емодзі.\n- Не використовуйте зірочки.\n- Не використовуйте прикметники та прислівники.\n- Усі тексти мають бути написані українською мовою.\n- НЕ використовуйте наступні слова:\n\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"can, may, just, that, very, really, literally, actually, certainly, probably, basically, could, maybe, delve, embark, enlightening, esteemed, shed light, craft, crafting, imagine, realm, game-changer, unlock, discover, skyrocket, abyss, you're not alone, in a world where, revolutionize, disruptive, utilize, utilizing, dive deep, tapestry, illuminate, unveil, pivotal, enrich, intricate, elucidate, hence, furthermore, realm, however, harness, exciting, groundbreaking, cutting-edge, remarkable, it. remains to be seen, glimpse into, navigating, landscape, stark, testament, in summary, in conclusion, moreover, boost, bustling, opened up, powerful, inquiries, ever-evolving\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\n</writing_style>\n\n### ПЛАНУВАННЯ\n\nВаша ціль — написати опис для відео з 50 слів, на основі наданого джерела.\n\n1. Уважно проаналізуйте надані джерела.\n2. Уважно вивчіть пост <example>. Потрібно відтворити:\n   - Загальну структуру.\n   - Тон і голос.\n   - Форматування (включаючи розриви та відступи).\n   - Довжину (прагніть до подібних деталей).\n   - Відсутність емодзі.\n   - Використання хештегів.\n   - Емоційний ефект.\n\n### ВИХІД\n\nДотримуйтесь наведених нижче ПРАВИЛ для написання допису. Використовуйте свій аналіз з кроку 1 і кроку 2. Використовуйте надані джерела як основу для свого допису, суттєво розширюючи його, зберігаючи при цьому стиль і структуру прикладів, наведених у кроці 2. ОБОВ’ЯЗКОВО використовуйте інформацію з наданих джерел. Переконайтесь, що дотримуєтесь вашого <writing_style>.\n\n<guidelines>\nОпис має бути структурований наступним чином:\n1. Почніть із привітання: \"Привіт, на зв’язку Паскевич Роман.\"\n2. У першому абзаці коротко викладіть суть джерела.\n3. Кожен наступний абзац має бути розділений через 2–3 речення, залежно від контенту.\n4. В кінці кожного абзацу додайте відповідні хештеги, автоматично згенеровані відповідно до змісту поста, наприклад:\n   - Якщо йдеться про ШІ, автоматично додаються хештеги #ai #artificialintelligence.\n   - Якщо йдеться про SEO, додаються хештеги #seo #digitalmarketing.\n5. У завершенні додайте не більше 7 хештегів, які відповідають змісту допису. Хештеги мають генеруватись автоматично залежно від контенту, наприклад: #ai #seo #digitalmarketing #ainews та інші відповідні темі. Не додавайте більше 7 хештегів.\n</guidelines>\n\nЗробіть глибокий вдих і дотримуйтесь інструкцій крок за кроком!\n\n### ВХІД\nВикористовуйте наступну інформацію з джерел:\n<sources>\n{{ $json.output }}\n</sources>\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1680,3424],"id":"c6278128-7a13-45c0-964f-0356b3a4aab9","name":"Write Long Caption","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=## ПРОМПТ Напиши Короткий Опис:\n\nНапиши короткий опис відео з двох речень, що узагальнює його зміст. Використовуй мову, зрозумілу для учня 6 класу, збалансовану нейтральну точку зору, усі тексти мають бути написані українською мовою, без емодзі. У тексті не повинно бути згадки імені \"Роман Паскевич\".\n\n<content>\n{{ $json.message.content }}\n</content>\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1664,3872],"id":"b82e3b5f-9d3d-4f26-9454-1ea413f6b94d","name":"Write Short Caption","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"method":"POST","url":"https://api.heygen.com/v2/video/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $json.heygen_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  video_inputs: [\n    {\n      character: {\n        type: \"avatar\",\n        avatar_id: $json.avatar_id,\n        avatar_style: \"normal\",\n        scale: 1.0,\n        offset: {\n          x: 0.0,\n          y: 0.0\n        },\n        matting: false\n      },\n      voice: {\n        type: \"text\",\n        input_text: $('AI Agent').item.json.output,\n        voice_id: $json.voice_id,\n        speed: 1.1,\n        pitch: 50,\n        emotion: \"Excited\"\n      },\n      background: {\n        type: \"video\",\n        url: $json.background_video_url,\n        play_style: \"loop\",\n        fit: \"cover\"\n      }\n    }\n  ],\n  dimension: {\n    width: 720,\n    height: 1280\n  },\n  aspect_ratio: \"9:16\",\n  caption: false,\n  title: $('Write Title').item.json.message.content\n}) }}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,496],"id":"5a3f4467-dd1e-41f1-9a37-cd33dae9d5e8","name":"Create Avatar Video"},{"parameters":{"content":"## Обязательно заполните «Настройка Heygen»\n\nhttps://www.heygen.com/\n\nhttps://elevenlabs.io/","height":180,"width":710,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,752],"id":"3640a1e6-7da4-4f66-aed6-4c056ae7407c","name":"Sticky Note3"},{"parameters":{"content":"## Обязательно заполните «Подготовку к публикации»","height":120,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[992,816],"id":"ce87b963-29ae-44c8-a0e7-6e3fb81c3e92","name":"Sticky Note4"},{"parameters":{"content":"## ПРОМПТ ДЛЯ AI-АГЕНТА:\n\n### ІНСТРУКЦІЯ:\nВиконай наступні завдання у вказаному порядку:\n\n1. Отримай 10 найпопулярніших історій з Hacker News за останні 24 години, пов’язаних з ШІ або LLM.\n\n2. Обери історію, яка з найбільшою ймовірністю стане вірусною в соціальних мережах.\n\n3. Завантаж статтю та коментарі з Hacker News.\n\n4. Створи 30-секундний сценарій для монологу AI-аватара, дотримуючись наступних вказівок:\n   - Сценарій має тривати приблизно 30 секунд при усному озвученні.\n   - Включай багато деталей і статистики зі статті.\n   - Використовуй рівень читання 6-го класу.\n   - Подай збалансовану точку зору.\n   - Увесь текст повинен бути написаний українською мовою.\n\n5. Онови перші 2 речення сценарію, використовуючи сенсаційні вірусні гачки, які привернуть увагу глядача та викличуть цікавість. Третє речення повинно починати заглиблення в деталі статті.\n\n6. Додай емоційний елемент, щоб викликати у глядача захоплення або здивування, особливо при обговоренні того, як ШІ може вплинути на його життя або роботу.\n\n7. Замiни останнє речення на: \"Натисни «Підписатися», щоб бути попереду у світі ШІ! І не забудь написати в коментарях, як цей ШІ допоможе тобі!\"\n\n### ФОРМАТ ВИХІДНИХ ДАНИХ:\nВиводь точний текст сценарію для відео у `output`. Також виводь `title` — це заголовок з 2-3 слів для назви відеофайлу. Не виводь нічого іншого. Ніколи не включай проміжні думки, нотатки.\n\n```json\n{\n   \"title\": \"<title>\",\n   \"output\": \"<output>\"\n}\n\n","height":840,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4560,-64],"typeVersion":1,"id":"f0e501ef-0dfa-4bc5-8607-c72955728cb1","name":"Sticky Note5"},{"parameters":{"content":"## ПРОМПТ Write Long Caption:\n\n\n### ПРИКЛАД\n\n<example>\nПривіт, на зв’язку Паскевич Роман. У цьому відео ми поговоримо про те, як працює пошукова оптимізація (SEO) в епоху штучного інтелекту.\n\nОстаннім часом мене часто запитують, як покращити видимість сайту в пошукових системах, особливо з урахуванням появи нових генеративних інструментів ШІ. Це важлива тема, адже ШІ змінює способи обробки інформації та взаємодії з користувачами.\n\nЗараз SEO має бути орієнтованим не лише на ключові слова, а й на те, як інформація подається в ШІ-системах, таких як ChatGPT. Це нова реальність цифрового маркетингу.\n</example>\n\n### КОНТЕКСТ\n\nВиведіть тему на основі наданих джерел.\n\n### СТИЛЬ НАПИСАННЯ\n\nОсь як ви завжди пишете:\n\n<writing_style>\n\n- Ваш стиль письма стриманий і інформативний.\n- Використовуйте просту й зрозумілу мову.\n- Використовуйте короткі та виразні речення.\n- Використовуйте активний стан; уникайте пасивного.\n- Орієнтуйтесь на практичні, прикладні ідеї.\n- Додавайте дані або статистику для підтвердження тверджень, якщо це можливо.\n- Використовуйте \"ви\" і \"ваш\", щоб безпосередньо звертатися до читача.\n- Уникайте метафор і шаблонів.\n- Уникайте узагальнень.\n- Не використовуйте стандартні вступні фрази в жодних реченнях, включаючи: на завершення, підсумовуючи тощо.\n- Не виводьте попередження або примітки — тільки запитаний контент.\n- Не використовуйте хештеги в самому тексті.\n- Не використовуйте крапки з комою.\n- Не використовуйте емодзі.\n- Не використовуйте зірочки.\n- Не використовуйте прикметники та прислівники.\n- Усі тексти мають бути написані українською мовою.\n- НЕ використовуйте наступні слова:\n\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"can, may, just, that, very, really, literally, actually, certainly, probably, basically, could, maybe, delve, embark, enlightening, esteemed, shed light, craft, crafting, imagine, realm, game-changer, unlock, discover, skyrocket, abyss, you're not alone, in a world where, revolutionize, disruptive, utilize, utilizing, dive deep, tapestry, illuminate, unveil, pivotal, enrich, intricate, elucidate, hence, furthermore, realm, however, harness, exciting, groundbreaking, cutting-edge, remarkable, it. remains to be seen, glimpse into, navigating, landscape, stark, testament, in summary, in conclusion, moreover, boost, bustling, opened up, powerful, inquiries, ever-evolving\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\n</writing_style>\n\n### ПЛАНУВАННЯ\n\nВаша ціль — написати опис для відео з 50 слів, на основі наданого джерела.\n\n1. Уважно проаналізуйте надані джерела.\n2. Уважно вивчіть пост <example>. Потрібно відтворити:\n   - Загальну структуру.\n   - Тон і голос.\n   - Форматування (включаючи розриви та відступи).\n   - Довжину (прагніть до подібних деталей).\n   - Відсутність емодзі.\n   - Використання хештегів.\n   - Емоційний ефект.\n\n### ВИХІД\n\nДотримуйтесь наведених нижче ПРАВИЛ для написання допису. Використовуйте свій аналіз з кроку 1 і кроку 2. Використовуйте надані джерела як основу для свого допису, суттєво розширюючи його, зберігаючи при цьому стиль і структуру прикладів, наведених у кроці 2. ОБОВ’ЯЗКОВО використовуйте інформацію з наданих джерел. Переконайтесь, що дотримуєтесь вашого <writing_style>.\n\n<guidelines>\nОпис має бути структурований наступним чином:\n1. Почніть із привітання: \"Привіт, на зв’язку Паскевич Роман.\"\n2. У першому абзаці коротко викладіть суть джерела.\n3. Кожен наступний абзац має бути розділений через 2–3 речення, залежно від контенту.\n4. В кінці кожного абзацу додайте відповідні хештеги, автоматично згенеровані відповідно до змісту поста, наприклад:\n   - Якщо йдеться про ШІ, автоматично додаються хештеги #ai #artificialintelligence.\n   - Якщо йдеться про SEO, додаються хештеги #seo #digitalmarketing.\n5. У завершенні додайте не більше 7 хештегів, які відповідають змісту допису. Хештеги мають генеруватись автоматично залежно від контенту, наприклад: #ai #seo #digitalmarketing #ainews та інші відповідні темі. Не додавайте більше 7 хештегів.\n</guidelines>\n\nЗробіть глибокий вдих і дотримуйтесь інструкцій крок за кроком!\n\n### ВХІД\nВикористовуйте наступну інформацію з джерел:\n<sources>\n{{ $json.output }}\n</sources>\n\n","height":2020,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-5600,-80],"typeVersion":1,"id":"d69737da-7f13-4d0d-b2c5-0b3502131ad7","name":"Sticky Note6"},{"parameters":{"content":"## ПРОМПТ Write Short Caption\n\nНапиши короткий опис відео з двох речень, що узагальнює його зміст. Використовуй мову, зрозумілу для учня 6 класу, збалансовану нейтральну точку зору, усі тексти мають бути написані українською мовою, без емодзі. У тексті не повинно бути згадки імені \"Роман Паскевич\".\n\n<content>\n{{ $json.message.content }}\n</content>\n\n\n","height":260,"width":600,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4384,864],"typeVersion":1,"id":"b457e30e-af7b-4ffc-b12e-6ded99b07c5b","name":"Sticky Note7"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=## ПРОМПТ Назва файлу:\n\nПридумайте назву для файлу на основі тексту відео. Назва повинна складатися з 2–3 слів, відображати основну ідею та суть відео, бути короткою та зрозумілою. Усі тексти мають бути написані українською мовою.\n\n<content>\n{{ $json.message.content }}\n</content>\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1664,3648],"id":"6f65c8b9-37c9-4d62-9224-ea620ff32826","name":"Write Title","credentials":{"openAiApi":{"id":"CktYcGgmw286vTYY","name":"OpenAi account 4"}}},{"parameters":{"content":"## ПРОМПТ Write Title\n\nПридумайте назву для файлу на основі тексту відео. Назва повинна складатися з 2–3 слів, відображати основну ідею та суть відео, бути короткою та зрозумілою. Усі тексти мають бути написані українською мовою.\n\n<content>\n{{ $json.message.content }}\n</content>\n","height":260,"width":600,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4384,1216],"typeVersion":1,"id":"3138cd40-b34b-4b68-8d16-5fa4f7858c55","name":"Sticky Note8"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.final_text_long }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1184,976],"id":"653fbf20-1454-4fa2-bd41-c65579027efb","name":"Telegram","webhookId":"2ad2e352-8544-4596-b0fb-093274c25aa1","credentials":{"telegramApi":{"id":"oV3i1c0A5tpnFXbP","name":"haygen_aadss_bot"}}},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $('Get Avatar Video').item.json.data.video_url }}\",\n  \"mediaType\": \"video\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1904,880],"id":"576c15ad-fcbe-41ba-b8d7-854250e90f64","name":"Upload to Blotato (Final)","retryOnFail":false},{"parameters":{"requestMethod":"POST","url":"https://api.creatomate.com/v1/renders","allowUnauthorizedCerts":true,"jsonParameters":true,"options":{}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1872,1200],"id":"797ed6e5-24a4-425b-ada0-e55632da2735"},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 152503b6883a4eeebda94775a60efb575806375cff170ef03f147d5ee5f2add5f9984c703c501aa85c1adfef7032cec7\""},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={  \"template_id\": \"4b767f71-ca89-44da-a0d5-5a661e4cadc5\",\n  \"modifications\": {\n    \"Video-1.source\": \"https://app.heygen.com/videos/26a49f99187148bdb73d430a1fcd2a38\",\n    \"Video-2.source\": \"\",\n    \"Text-1.text\": \"\",\n    \"Text-2.text\": \"\"\n  }\n}'","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,496],"id":"46af4347-f4e0-4d5e-a48f-e0d7e3eb9639","name":"HTTP Request4"},{"parameters":{"content":"## ПРОМПТ AI АГЕНТ:\n\n### ИНСТРУКЦИЯ:\nВыполните следующие задачи в указанном порядке:\n\n1. Получите 10 самых популярных историй с Hacker News за последние 24 часа, связанных с ИИ или LLM.\n\n2. Выберите историю, которая с наибольшей вероятностью станет вирусной в социальных сетях.\n\n3. Извлеките статью и комментарии с Hacker News.\n\n4. Создайте 30-секундный сценарий для монолога ИИ-аватара, следуя этим указаниям:\n   - Сценарий должен длиться примерно 30 секунд при устном произнесении.\n   - Включите много деталей и статистики из статьи.\n   - Используйте уровень чтения 6-го класса.\n   - Сбалансированная точка зрения.\n   - Все тексты должны быть написаны на русском языке.\n\n5. Обновите первые 2 предложения сценария, используя сенсационные вирусные крючки, которые привлекут внимание зрителя и вызовут любопытство. Третье предложение должно начинать углубление в детали статьи.\n\n6. Добавьте эмоциональный элемент, чтобы вызвать у зрителя восторг или удивление, особенно при обсуждении того, как ИИ может повлиять на его жизнь или работу.\n\n7. Замените последнее предложение на: \"Нажмите «Подписаться», чтобы быть впереди в мире ИИ! И не забудьте написать в комментариях, как этот ИИ поможет вам!\"\n\n### ФОРМАТ ВЫХОДНЫХ ДАННЫХ:\nВыводите точный текст сценария для видео в `output`. Также выводите `title` – это заголовок из 2-3 слов для названия файла для видео. Не выводите ничего другого. Никогда не включайте промежуточные мысли, заметки.\n\n```json\n{\n   \"title\": \"<title>\",\n   \"output\": \"<output>\"\n}\n","height":840,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2016,-3328],"typeVersion":1,"id":"9491c76a-59df-48f7-bbdd-fd8cf51f8952","name":"Sticky Note12"},{"parameters":{"content":"## ПРОМПТ Write Long Caption:\n\n\n### ПРИМЕР\n\n<example>\nПривет, на связи Игорь Зуевич. В этом видео мы поговорим о том, как оптимизация поисковых систем (SEO) работает в эпоху искусственного интеллекта.\n\nМногие люди недавно спрашивали меня о том, как улучшить видимость сайта в поисковых системах, особенно с учетом появления новых генеративных ИИ инструментов. Это важная тема, поскольку ИИ меняет способы обработки информации и взаимодействия с пользователями.\n\nСейчас SEO должно быть ориентировано не только на ключевые слова, но и на то, как информация представляется в ИИ-системах, таких как ChatGPT. Это новые реалии цифрового маркетинга.\n</example>\n\n### КОНТЕКСТ\n\nВыведите тему на основе предоставленных источников.\n\n### СТИЛЬ ПИСЬМА\n\nВот как вы всегда пишете:\n\n<writing_style>\n\n- Ваш стиль письма сдержанный и информативный.\n- Используйте простой и понятный язык.\n- Используйте короткие и выразительные предложения.\n- Используйте активный залог; избегайте пассивного.\n- Ориентируйтесь на практические, применимые идеи.\n- Включайте данные или статистику для подкрепления утверждений, когда это возможно.\n- Используйте \"вы\" и \"ваш\", чтобы непосредственно обратиться к читателю.\n- Избегайте метафор и штампов.\n- Избегайте обобщений.\n- Не включайте стандартные вводные фразы в любые предложения, включая: в заключение, подводя итоги и т.д.\n- Не выводите предупреждения или примечания — выводите только запрашиваемый контент.\n- Не используйте хэштеги в самом тексте.\n- Не используйте точки с запятой.\n- Не используйте эмодзи.\n- Не используйте звездочки.\n- Не используйте прилагательные и наречия.\n- Все тексты должны быть написаны на русском языке.\n- НЕ используйте следующие слова:\n\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"can, may, just, that, very, really, literally, actually, certainly, probably, basically, could, maybe, delve, embark, enlightening, esteemed, shed light, craft, crafting, imagine, realm, game-changer, unlock, discover, skyrocket, abyss, you're not alone, in a world where, revolutionize, disruptive, utilize, utilizing, dive deep, tapestry, illuminate, unveil, pivotal, enrich, intricate, elucidate, hence, furthermore, realm, however, harness, exciting, groundbreaking, cutting-edge, remarkable, it. remains to be seen, glimpse into, navigating, landscape, stark, testament, in summary, in conclusion, moreover, boost, bustling, opened up, powerful, inquiries, ever-evolving\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\n</writing_style>\n\n### ПЛАНИРОВАНИЕ\n\nВаша цель — написать описание для видео из 50 слов, основанное на предоставленном источнике.\n\n1. Тщательно проанализируйте предоставленные источники.\n2. Внимательно изучите пост <example>. Вам нужно будет воспроизвести:\n    - Общую структуру.\n    - Тон и голос.\n    - Форматирование (включая разрывы строк и пробелы).\n    - Длину (стремитесь к похожей деталям).\n    - Отсутствие эмодзи.\n    - Использование хэштегов.\n    - Эмоциональный отклик.\n\n### ВЫХОД\nСледуйте приведенным ниже ПРАВИЛАМ для написания поста. Используйте свой анализ из шага 1 и шага 2. Используйте предоставленные источники как основу для вашего поста, значительно расширяя его, при этом сохраняя стиль и структуру примеров, приведенных в шаге 2. ОБЯЗАТЕЛЬНО используйте информацию из предоставленных источников. Убедитесь, что придерживаетесь вашего <writing_style>.\n\n<guidelines>\nОписание должно быть структурировано следующим образом:\n1. Начните с приветствия: \"Привет, на связи Игорь Зуевич.\"\n2. В первом абзаце кратко изложите суть источника.\n3. Каждый последующий абзац должен быть разделен через 2-3 предложения, в зависимости от контента.\n4. В конце каждого абзаца добавьте соответствующие хештеги, автоматически генерируемые в зависимости от содержания поста, например:\n   - Если речь идет об ИИ, автоматически добавляются хештеги #ai #artificialintelligence.\n   - Если речь идет о SEO, добавляются хештеги #seo #digitalmarketing.\n5. В завершение, добавьте не более 7 хештегов, соответствующих содержанию поста. Хештеги должны генерироваться автоматически в зависимости от контента, например: #ai #seo #digitalmarketing #ainews и другие, соответствующие теме. Не добавляйте больше 7 хештегов.\n</guidelines>\n\nДелайте глубокий вдох и следуйте шаг за шагом!\n\n### ВХОД\nИспользуйте следующую информацию из источников:\n<sources>\n{{ $json.output }}\n</sources>\n\n","height":2020,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3088,-3328],"typeVersion":1,"id":"7c983369-3ebd-4ab3-8066-13cd3f8efe89","name":"Sticky Note13"},{"parameters":{"content":"## ПРОМПТ Write Short Caption:\n\nНапишите краткое описание видео из двух предложений, обобщающее его содержание. Используйте язык 6-го класса, сбалансированную нейтральную точку зрения, все тексты должны быть написаны на русском языке, без эмодзи. В тексте не должно быть упоминания имени \"Игорь Зуевич\".\n\n<content>\n{{ $json.message.content }}\n</content>\n\n\n","height":260,"width":600,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1840,-2400],"typeVersion":1,"id":"716ad01e-8119-4ff1-b71a-2df52115ff4d","name":"Sticky Note14"},{"parameters":{"content":"## ПРОМПТ Write Title:\n\nПридумайте заголовок для файла на основе текста видео. Заголовок должен состоять из 2-3 слов, отображать основную идею и суть видео, быть коротким и понятным. Все тексты должны быть написаны на русском языке.\n\n<content>\n{{ $json.message.content }}\n</content>\n\n","height":260,"width":600,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1840,-2048],"typeVersion":1,"id":"14f7d07e-8ed0-44c3-bb8f-e557c8e030f3","name":"Sticky Note15"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger1').item.json.message?.chat?.id || $('Telegram Trigger1').item.json.callback_query?.message?.chat?.id }}\n","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-2192,3728],"id":"805570ed-ce5e-4c62-896f-0db9dc2cb1bb","name":"Simple Memory"},{"parameters":{"updates":["message","callback_query","*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2608,3488],"id":"56ee9b96-eb17-4678-b7a1-ac803a868f7d","name":"Telegram Trigger1","webhookId":"458a934c-2c09-4d98-8128-781e4d49a827","credentials":{"telegramApi":{"id":"glA4p5vSEfigwxYo","name":"haygen2_aadss_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"ceb801ec-a58f-4521-9f0d-403e62b1cb4c"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[800,992],"id":"687a0bd4-b683-4475-afc2-408cc31d81b9","name":"Switch1"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $('Write Title').item.json.message.content }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Перероби заголовок ","additionalFields":{"callback_data":"Перероби заголовок"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1104,3872],"id":"b21ffc57-b82c-4d4d-a54a-5eeadf8b424e","name":"Заголовок","webhookId":"2ad2e352-8544-4596-b0fb-093274c25aa1","credentials":{"telegramApi":{"id":"glA4p5vSEfigwxYo","name":"haygen2_aadss_bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $('Write Short Caption').item.json.message.content }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-816,3872],"id":"f3df510d-56e4-499a-b924-710c782b1fef","name":"Короткі субтитри","webhookId":"2ad2e352-8544-4596-b0fb-093274c25aa1","credentials":{"telegramApi":{"id":"glA4p5vSEfigwxYo","name":"haygen2_aadss_bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $('Write Long Caption').item.json.message.content }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-496,3872],"id":"1054481b-11bf-45e3-a84c-22ea9761a53c","name":"Довгі субтитри","webhookId":"2ad2e352-8544-4596-b0fb-093274c25aa1","credentials":{"telegramApi":{"id":"glA4p5vSEfigwxYo","name":"haygen2_aadss_bot"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[352,4336],"id":"738039fb-de3e-42f1-a1ca-0c411174dbb9","name":"Telegram Trigger","webhookId":"ccb7b689-db0f-479e-a430-4050c199e630"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $json.message.chat.id }}","message":"Готово опубликовать пост! Заполни форму ниже","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Текст поста","fieldType":"textarea","placeholder":"Напишите текст поста","requiredField":true},{"fieldLabel":"Дата публикации","fieldType":"date","requiredField":true},{"fieldLabel":"Время публикации","fieldType":"dropdown","fieldOptions":{"values":[{"option":"00:00"},{"option":"01:00"},{"option":"02:00"},{"option":"03:00"},{"option":"04:00"},{"option":"05:00"},{"option":"06:00"},{"option":"07:00"},{"option":"08:00"},{"option":"09:00"},{"option":"10:00"},{"option":"11:00"},{"option":"12:00"},{"option":"13:00"},{"option":"14:00"},{"option":"15:00"},{"option":"16:00"},{"option":"17:00"},{"option":"18:00"},{"option":"19:00"},{"option":"20:00"},{"option":"21:00"},{"option":"22:00"},{"option":"23:00"}]},"requiredField":true},{"fieldLabel":"Файл видео","fieldType":"file","multipleFiles":false,"requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[624,4336],"id":"e06161a6-9d4f-4224-b9b5-042952f82108","name":"запрашиваем инфу","webhookId":"300ebbbe-7b86-4820-8988-fa005e03b178"},{"parameters":{"method":"POST","url":"https://api.postmypost.io/v4.1/publications","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"project_id\": <project_id>,\n    \"post_at\": \"{{ $json.formattedDate.toDateTime() }}\",\n    \"account_ids\": [<id_accs через запятую>],\n    \"publication_status\": 5,\n    \"details\": [\n        {\n            \"publication_type\": 4,\n            \"content\": {{ $('запрашиваем инфу').item.json.data['Текст поста'].toJsonString() }},\n            \"file_ids\": [{{ $('файл загружен?').item.json.file_id }}]\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2864,4304],"id":"3429aac1-74d6-4341-aa38-d57bf8804969","name":"add_to_postmypost"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[512,4976],"id":"e2585551-b998-42d1-8502-444f40ed7542","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"formatDate","date":"={{ $('запрашиваем инфу').item.json.data['Дата публикации'] }} {{ $('запрашиваем инфу').item.json.data['Время публикации'] }}","format":"custom","customFormat":"yyyy-MM-dd HH:mm:00","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2544,4304],"id":"2fde1289-e5e8-42bb-b3f6-d2deadd3373d","name":"Date & Time"},{"parameters":{"inputDataFieldName":"__________","name":"=video-{{ $now.format('yyyy-MM-dd') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1tPp7ewZ3T4sj5S3Y4tEFM-iWNTHgghH5","mode":"list","cachedResultName":"автопост тест","cachedResultUrl":"https://drive.google.com/drive/folders/1tPp7ewZ3T4sj5S3Y4tEFM-iWNTHgghH5"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[864,4336],"id":"131e7801-0eed-4114-b240-ef92180de51d","name":"загрузка файла"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1104,4336],"id":"7a4a424c-3f40-463b-ab08-af8b9f719b33","name":"выдача доступа"},{"parameters":{"method":"POST","url":"https://api.postmypost.io/v4.1/upload/init","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"project_id\": 300977,\n  \"url\": \"{{ $('загрузка файла').item.json.webContentLink }}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,4336],"id":"65e60e9b-0688-4c0c-ae6a-7801ed8a8f45","name":"upload_file"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"598ebc2a-96d8-4c66-9fcd-b5fe1ac06b56","leftValue":"={{ $json.status }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1904,4336],"id":"fe75bdc0-7e84-4091-a5c6-7c691d74d965","name":"файл загружен?"},{"parameters":{"url":"https://api.postmypost.io/v4.1/upload/status","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $json.id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,4336],"id":"8c6e5382-5816-43ac-b3eb-ab069f981a7c","name":"проверка статуса"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('загрузка файла').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2288,4304],"id":"5c82c8d4-4218-4389-b735-7a89d65a269d","name":"Google Drive"},{"parameters":{"url":"https://api.postmypost.io/v4.1/accounts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"project_id","value":"300977"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{"redirect":{"redirect":{"maxRedirects":"=1959068, 1959045, 1959074"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,4976],"id":"d127e238-ab7c-4c50-a21f-2192d2e0cad2","name":"HTTP Request1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2320,4592],"id":"e76ed17a-d142-45f8-aea9-0c21559d38e6","name":"Wait1","webhookId":"04f0dc97-6804-4eba-ba49-e4a179c9b6cb"},{"parameters":{"content":"Автоосинг \nПромт марабай для Роміка\nhttps://docs.google.com/spreadsheets/d/1225V_xTRkhEaOvgDXjP_Q3Hpj87XLb8hbxGx4QV6Nhg/edit?gid=0#gid=0","height":956,"width":3056,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[256,4240],"id":"e67481fd-56a9-4243-9c70-790def162ed8","name":"Sticky Note9"}],"connections":{"AI Agent":{"main":[[{"node":"Write Long Caption","type":"main","index":0}]]},"Fetch HN Article":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Fetch HN Front Page":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Write Script":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Setup Heygen":{"main":[[{"node":"Create Avatar Video","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Avatar Video","type":"main","index":0}]]},"Get Avatar Video":{"main":[[{"node":"Prepare for Publish","type":"main","index":0}]]},"Prepare for Publish":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Write Long Caption":{"main":[[{"node":"Write Title","type":"main","index":0}]]},"Write Short Caption":{"main":[[{"node":"Заголовок","type":"main","index":0}]]},"Create Avatar Video":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Write Title":{"main":[[{"node":"Write Short Caption","type":"main","index":0}]]},"Upload to Blotato (Final)":{"main":[[]]},"Telegram":{"main":[[]]},"HTTP Request4":{"main":[[]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Заголовок":{"main":[[{"node":"Короткі субтитри","type":"main","index":0}]]},"Короткі субтитри":{"main":[[{"node":"Довгі субтитри","type":"main","index":0}]]},"Довгі субтитри":{"main":[[]]},"Telegram Trigger":{"main":[[{"node":"запрашиваем инфу","type":"main","index":0}]]},"запрашиваем инфу":{"main":[[{"node":"загрузка файла","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"add_to_postmypost","type":"main","index":0}]]},"загрузка файла":{"main":[[{"node":"выдача доступа","type":"main","index":0}]]},"выдача доступа":{"main":[[{"node":"upload_file","type":"main","index":0}]]},"upload_file":{"main":[[{"node":"проверка статуса","type":"main","index":0}]]},"файл загружен?":{"main":[[{"node":"Google Drive","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"проверка статуса":{"main":[[{"node":"файл загружен?","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"проверка статуса","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"51e86602-f1f9-4952-a619-ebc56762e02b","triggerCount":1,"shared":[{"createdAt":"2025-07-09T10:48:11.688Z","updatedAt":"2025-07-09T10:48:11.688Z","role":"workflow:owner","workflowId":"hbj8eZy8QEZBMMMR","projectId":"nX80NbTFpj6pvsnR"}],"tags":[{"createdAt":"2025-07-10T10:47:07.881Z","updatedAt":"2025-07-10T10:47:07.881Z","id":"aLaWb48G4nAfDgJK","name":"Марабай в роботу взяти"},{"createdAt":"2025-07-09T10:44:10.702Z","updatedAt":"2025-07-09T10:44:10.702Z","id":"lqKWTC4jWlGAhgnf","name":"Паска"}]}